{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}




{% set menuSidebar %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "#2025",
        "text": "2025"
      },
      {
        "href": "#2024",
        "text": "2024"
      }
    ],
    "attributes": {
      "id": "menu-lateral-novedades",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}
{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "mobile-item",
    "items": [
      {
        "href": "#2025",
        "text": "2025"
      },
      {
        "href": "#2024",
        "text": "2024"
      }
    ],
    "attributes": {
      "id": "menu-mobile-novedades",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}


<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="sr-only">Índice de páginas</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="hidden">
  {% call componentDropdown({
    "text": "Acerca de",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-mobile-acerca-de','" + activeApartado + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 
