<!-- page.footer -->
{% from "components/footer/_macro.footer.njk" import componentFooter %}
{{ componentFooter({
  "meta": {
    
    "items": [
      {
        "href": "acerca-de-por-que-desy.html",
        "text": "Por qué desy"
      },
      {
        "href": "acerca-de-novedades.html",
        "text": "Novedades"
      },
      {
        "href": "acerca-de-soporte.html",
        "text": "Soporte"
      },
      {
        "href": "pagina-accesibilidad.html",
        "text": "Accesibilidad"
      },
      {
        "href": "pagina-mapa-web.html",
        "text": "Mapa web"
      }
    ],
    "html": 'Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>'
  },
  "classes": "mt-2xl lg:mt-48",
  "attributes": {
    "id": "contenido-footer"
  }
})  }}
<!-- /page.footer -->