{% extends "pages/_template.desy-aragon-es.njk" %}

{% set skipLinkHref = "#content-center" %}

{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
  </div>
{% endblock %}