{% include "pages/_page.head.njk" %}

{% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}


<!-- template.with-header-advanced -->
<body>
  <!-- pageSpinnerBlock -->
  {% block pageSpinnerBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /pageSpinnerBlock -->
  <!-- headerBlock -->
  {% block headerBlock %}
    {% set buscador %}
      <div class="-mb-xs lg:mb-0">
        <script async src="https://cse.google.com/cse.js?cx=5513ad10548fa470b"></script>
        <div class="gcse-searchbox-only"></div>
      </div>
    {% endset %}

    {% set headerNavigation %}
        <div id="header-nav-item" class="w-full flex lg:block hidden">
          {{ componentMenuNavigation({
            "classes": "bg-neutral-lighter w-full",
            "items": [
              {
                "href": "index.html",
                "text": "Inicio",
                "id": "page-inicio",
                "classes": "c-menu-navigation__button--header -mr-base"
              },
              {
                "text": "Cómo empezar",
                "id": "page-como-empezar",
                "classes": "c-menu-navigation__button--header -mr-base",
                "sub": {
                  "items": [
                    {
                      "href": "como-empezar-tutorial.html",
                      "text": "Tutorial: de cero a producción",
                      "id": "page-tutorial"
                    },
                    {
                      "href": "como-empezar-disenador.html",
                      "text": "Diseño UI",
                      "id": "page-disenador"
                    },
                    {
                      "href": "como-empezar-accesibilidad.html",
                      "text": "Accesibilidad",
                      "id": "page-accesibilidad"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "page-como-empezar-sub-list"
                  }
                }
              },
              {
                "href": "estilos.html",
                "text": "Estilos",
                "id": "page-estilos",
                "classes": "c-menu-navigation__button--header -mr-base"
              },
              {
                "href": "componentes.html",
                "text": "Componentes",
                "id": "page-componentes",
                "classes": "c-menu-navigation__button--header -mr-base"
              },
              {
                "href": "patrones.html",
                "text": "Patrones",
                "id": "page-patrones",
                "classes": "c-menu-navigation__button--header -mr-base"
              },
              {
                "text": "Plantillas",
                "id": "page-plantillas",
                "classes": "c-menu-navigation__button--header -mr-base",
                "sub": {
                  "items": [
                    {
                      "href": "plantillas.html",
                      "text": "Web",
                      "id": "page-plantillas-web"
                    },
                    {
                      "href": "plantillas-documentos.html",
                      "text": "Documentos y presentaciones",
                      "id": "page-plantillas-documentos"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "page-plantillas-sub-list"
                  }
                }
              },
              {
                "text": "Desarrollo",
                "id": "page-desarrollo",
                "classes": "c-menu-navigation__button--header -mr-base",
                "sub": {
                  "items": [
                    {
                      "href": "desarrollo-desy-html.html",
                      "text": "desy-html",
                      "id": "page-desy-html"
                    },
                    {
                      "href": "desarrollo-desy-angular.html",
                      "text": "desy-angular",
                      "id": "page-desy-angular"
                    },
                    {
                      "href": "desarrollo-versiones.html",
                      "text": "Versiones",
                      "id": "page-versiones"
                    },
                    {
                      "href": "desarrollo-otras.html",
                      "text": "Otras librerías",
                      "id": "page-otras"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "page-desarrollo-sub-list"
                  }
                }
              }
            ]
          }) }}
        </div>
    {% endset %}


    {% call componentHeaderAdvanced({
    "skipLink": {
      "href": skipLinkHref if skipLinkHref else "#content"
    },
    "sub": {
      "customNavigationHtml": '<div class="hidden lg:grid grid-cols-2 lg:grid-cols-6 gap-xl h-full"><div class="col-start-1 col-end-2 lg:col-span-2 lg:col-end-7 place-self-end flex items-center justify-end w-full"><div class="flex-1">'+ buscador | safe +'</div></div></div>',
      "classes": "hidden lg:block relative -top-32 h-0"
    },
    "title": {
        "homepageUrl": "index.html",
        "text": "DESY"
      },
      "subtitle": {
        "text": "Sistema de Diseño del Gobierno de Aragón"
      },
      "customNavigationHtml": headerNavigation | safe,
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <div class="-mx-sm p-base bg-primary-light">
          <h3 class="mb-sm text-base font-bold">Buscar</h3>
          <script async src="https://cse.google.com/cse.js?cx=5513ad10548fa470b"></script>
          <div class="gcse-searchbox-only"></div>
        </div>
        <h3 class="p-base text-base font-bold">DESY</h3>
        <div class="pl-base">
          {{ componentMenuVertical({
            "idPrefix": "nav-mobile-pages",
            "hasNav": false,
            "items": [
              {
                "href": "index.html",
                "text": "Inicio",
                "id": "mobile-page-inicio"
              },
              {
                "text": "Cómo empezar",
                "id": "mobile-page-como-empezar",
                "divider": true,
                "sub": {
                  "items": [
                    {
                      "href": "como-empezar-tutorial.html",
                      "text": "Tutorial: de cero a producción",
                      "id": "mobile-page-tutorial"
                    },
                    {
                      "href": "como-empezar-disenador.html",
                      "text": "Diseño UI",
                      "id": "mobile-page-disenador"
                    },
                    {
                      "href": "como-empezar-accesibilidad.html",
                      "text": "Accesibilidad",
                      "id": "mobile-page-accesibilidad"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "mobile-page-como-empezar"
                  }
                }
              },
              {
                "href": "estilos.html",
                "text": "Estilos",
                "id": "mobile-page-estilos"
              },
              {
                "href": "componentes.html",
                "text": "Componentes",
                "id": "mobile-page-componentes"
              },
              {
                "href": "patrones.html",
                "text": "Patrones",
                "id": "mobile-page-patrones",
                "divider": true
              },
              {
                "html": 'Plantillas',
                "id": "mobile-page-plantillas",
                "divider": true,
                "sub": {
                    "items": [
                      {
                        "href": "plantillas.html",
                        "text": "Web",
                        "id": "mobile-page-plantillas-web"

                      },
                      {
                        "href": "plantillas-documentos.html",
                        "text": "Documentos y presentaciones",
                        "id": "mobile-page-plantillas-documentos"
                      }
                    ],
                    "attributes": {
                      "aria-labelledby": "mobile-page-plantillas"
                    }
                  }
              },
             {
                "text": "Desarrollo",
                "id": "mobile-page-desarrollo",
                "sub": {
                  "items": [
                    {
                      "href": "desarrollo-desy-html.html",
                      "text": "desy-html",
                      "id": "mobile-page-desy-html"
                    },
                    {
                      "href": "desarrollo-desy-angular.html",
                      "text": "desy-angular",
                      "id": "mobile-page-desy-angular"
                    },
                    {
                      "href": "desarrollo-versiones.html",
                      "text": "Versiones",
                      "id": "mobile-page-versiones"
                    },
                    {
                      "href": "desarrollo-otras.html",
                      "text": "Otras librerías",
                      "id": "mobile-page-otras"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "mobile-page-desarrollo"
                  }
                }
              }
            ],
            "attributes": {
              "id": "navegacion-principal-offcanvas",
              "aria-label": "Lista de páginas"
            }
          })  }}
        </div>
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
    {% if tableToHide != undefined or showHiddenItems != undefined or activePage != undefined or activeComponent != undefined or componente[1] != undefined or plantilla[3] != undefined or patron[1] != undefined %}
      <script>
        hideTableTds = function(tableId){
          const tableNode = document.getElementById(tableId);
          if (tableNode){
            const celdas = tableNode.getElementsByTagName("td");
            for (let i = 0; i < celdas.length; i++) {
              celdas[i].classList.add("hidden");
            }
          }
        };
        showHiddenItems = function(itemsArray){
          const tempArray = itemsArray.split(",");
          tempArray.forEach((item) => {
              const tempItem = document.getElementById(item);
              if(tempItem) {
                tempItem.classList.remove("hidden");
              }
          });
        };


        function showTitle(titleId) {
          document.getElementById(titleId).classList.add('not-sr-only');
          document.getElementById(titleId).classList.remove('sr-only');
        };
        function hideTitle(titleId) {
          document.getElementById(titleId).classList.remove('not-sr-only');
          document.getElementById(titleId).classList.add('sr-only');
        };
        function focusShowTitle(imgId, titleId) {
          document.getElementById(imgId).classList.add("opacity-50");
          document.getElementById(imgId).classList.remove("lg:opacity-100");
          showTitle(titleId);
          document.getElementById(titleId).classList.add("text-black");
          document.getElementById(titleId).classList.remove("text-white");
        };
        function focusHideTitle(imgId, titleId) {
          document.getElementById(imgId).classList.remove("opacity-50");
          document.getElementById(imgId).classList.remove("lg:opacity-100");
          hideTitle(titleId);
          document.getElementById(titleId).classList.add("text-white");
          document.getElementById(titleId).classList.remove("text-black");
        };
        
        function searchbarPlaceholder (id) {
          document.getElementById(id).setAttribute('placeholder', 'Buscar en DESY');
        }



        window.addEventListener("load", function(event) {
          searchbarPlaceholder ("gsc-i-id1");
          searchbarPlaceholder ("gsc-i-id2");


          {% if tableToHide %}
            hideTableTds("{{ tableToHide }}");
          {% endif %}
          {% if showHiddenItems %}
            showHiddenItems("{{ showHiddenItems }}");
          {% endif %}
          {% if activePage %}
            activateSubItemMenuNavigation("header-nav-item", "{{ activePage }}");
            activateItemHeaderNavigation("header-nav-item", "{{ activePage }}");
            activateItemNav("navegacion-principal-offcanvas", "mobile-{{ activePage }}");
          {% endif %}
          {% if activeComponent %}
            activateItemNav("navegacion-ejemplos-offcanvas", "page-examples-{{ activeComponent | filterslugify }}");
          {% endif %}
          {% if componente[1] %}
            activateItemsTree('menu-lateral-componentes', 'componente-{{ componente[1] }}', true);
            activateItemMenuVertical('menu-mobile-componentes', 'componente-{{ componente[1] }}');
          {% endif %}
          {% if plantilla[3] %}
            activateItemsTree('menu-lateral-plantillas', 'plantillas-{{ plantilla[3] }}', true);
            activateItemMenuVertical('menu-lateral-plantillas-mobile', 'plantillas-{{ plantilla[3] }}');
          {% endif %}
          {% if patron[1] %}
            activateItemsTree('menu-lateral-patrones', '{{ patron[1] }}', true);
            activateItemMenuVertical('menu-lateral-patrones-mobile', '{{ patron[1] }}');
          {% endif %}
          {% if activeApartado %}
            activateItemMenuVertical('menu-lateral-estilos', 'apartado-{{ activeApartado | filterslugify }}');
            activateItemMenuVertical('menu-lateral-acerca-de', '{{ activeApartado | filterslugify }}');
            activateItemMenuVertical('menu-lateral-desarrollo', '{{ activeApartado | filterslugify }}');
            activateItemMenuVertical('menu-lateral-como-empezar', '{{ activeApartado | filterslugify }}');
          {% endif %}
            
        });

        selectCurrentMobileItem = function (menuId,itemId){
          setTimeout(setTimeout(() => { activateItemMenuVertical(menuId,itemId) },100));
        };

      </script>
    {% endif %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "pages/_page.foot.njk" %}
