<li class="py-lg">
  <div>
    <div class="flex flex-col-reverse gap-sm">
      <h3 class="c-h3 mb-base">Publicado desy-angular v14.0.0</h3>
      <p class="c-paragraph-base mb-0 text-neutral-dark">26 noviembre 2024</p>
    </div>
    <ul class="list-disc pl-5 flex flex-col h-full gap-sm">
      <li>Traducción de desy-html v11.1.0</li>
      <li>Actualización a Angular 18</li>
    </ul>
  </div>
</li>