<li class="py-lg h-full">
  <div class="flex flex-col-reverse gap-sm">
    <h3 class="c-h3">El portal desy se actualiza a la versión 3.3.0</h3>
    <p class="c-paragraph-base mb-0 text-neutral-dark">9 octubre 2024</p>
  </div>
  <ul class="list-disc pl-5 flex flex-col gap-sm h-full">
    <li>Nueva página de inicio y sección de novedades</li>
    <li>Mejora en la navegación de cabecera y menús</li>
    <li>Mejora en la organización y documentación de los patrones</li>
  </ul>
</li>