<li class="py-lg h-full">
  <div class="flex flex-col-reverse gap-sm">
    <h3 class="c-h3">Publicado desy-angular v13.0.0</h3>
    <p class="c-paragraph-base mb-0 text-neutral-dark">25 octubre 2024</p>
  </div>
  <ul class="list-disc pl-5 flex flex-col gap-sm">
    <li>Traducción de desy-html v11.0.5</li>
    <li>Nuevo componente <a href="https://desy.aragon.es/desy-angular/datepicker" class="c-link">datepicker</a></li>
    <li>Corrección en la ordenación de <a href="https://desy.aragon.es/desy-angular/table-advanced" class="c-link">table advanced</a></li>
    <li>Cambios y mejoras en varios componentes</li>
  </ul>
</li>