{% macro patternContentHeader(component, paragraph, subtitle) %}
  <div class="pb-lg"></div>
  <div class="flex flex-col-reverse">
    <h1 class="c-h1">{{ component }}</h1>
    <p class="c-paragraph-base text-neutral-dark mb-0">{{ subtitle }}</p>
  </div>
  <p class="c-paragraph-lg">
    {{ paragraph }}
  </p>
{% endmacro %}

