
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/button/_macro.button.njk" import componentButton %}

 <div class="mt-lg -mb-base">
   {{ componentButton({
     "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
     "classes": "c-button--transparent",
     "href": "patrones-paginas.html"
   }) }}
 </div>

{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item-mobile",
    "items": [
      {
      "href": "patrones-pagina-acceso.html",
      "text": "Acceso por MFE",
      "id": "acceso-mobile"
      },
      {
      "href": "patrones-pagina-formulario.html",
      "text": "Formulario por pasos",
      "id": "formulario-mobile"
      },
      {
      "href": "patrones-pagina-aplicaciones.html",
      "text": "Páginas de aplicaciones",
      "id": "aplicaciones-mobile"
      },
      {
      "href": "patrones-pagina-portales.html",
      "text": "Páginas de portales",
      "id": "portales-mobile"
      },
      {
      "href": "patrones-pagina-otras.html",
      "text": "Otras páginas",
      "id": "otras-mobile"
      }
    ],
    "attributes": {
      "id": "menu-lateral-patrones-pagina-mobile",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

{% set menuSidebar %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
      "href": "patrones-pagina-acceso.html",
      "text": "Acceso por MFE",
      "id": "acceso"
      },
      {
      "href": "patrones-pagina-formulario.html",
      "text": "Formulario por pasos",
      "id": "formulario"
      },
      {
      "href": "patrones-pagina-aplicaciones.html",
      "text": "Páginas de aplicaciones",
      "id": "aplicaciones"
      },
      {
      "href": "patrones-pagina-portales.html",
      "text": "Páginas de portales",
      "id": "portales"
      },
      {
      "href": "patrones-pagina-otras.html",
      "text": "Otras páginas",
      "id": "otras"
      }
    ],
    "attributes": {
      "id": "menu-lateral-patrones-pagina",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="sr-only">Índice de páginas</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Otros patrones de página",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-lateral-patrones-pagina-mobile','" + patron[1] + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 