{% set patrones = [
  ["acciones-de-pagina"],
  ["encabezados-de-pagina"],
  ["formularios"],  
  ["listados"],
  ["informacion"],
  ["navegacion"]
] %}


{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/tree/_macro.tree.njk" import componentTree %}


{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "menu-lateral-patrones-mobile",
    "items": [
      {
      "text": "Cómo pedimos información",
      "id": "como-pedimos-informacion-mobile",
      "sub": {
        "items": [
            {
            "href": "patrones-aceptar-politicas.html",
            "text": "Aceptar políticas de privacidad",
            "id": "aceptar-politicas-mobile"
            },
            {
            "href": "patrones-configurar-cookies.html",
            "text": "Configurar cookies",
            "id": "configurar-cookies-mobile"
            },
            {
            "href": "patrones-datos-identidad.html",
            "text": "Datos de identidad",
            "id": "datos-identidad-mobile"
            },
            {
            "href": "patrones-datos-contacto.html",
            "text": "Datos de contacto",
            "id": "datos-contacto-mobile"
            },
            {
            "href": "patrones-domicilio-postal.html",
            "text": "Domicilio postal",
            "id": "domicilio-postal-mobile"
            }
          ]
        }
      },
      {
      "text": "Cómo mostramos información",
      "id": "como-mostramos-informacion-mobile",
      "sub": {
        "items": [
            {
            "href": "patrones-acciones-tabla.html",
            "text": "Acciones de tabla",
            "id": "acciones-tabla-mobile"
            },
            {
            "href": "patrones-grupo-acciones.html",
            "text": "Grupo de acciones",
            "id": "grupo-acciones-mobile"
            },
            {
            "href": "patrones-listados.html",
            "text": "Listados",
            "id": "listados-mobile"
            },
            {
            "href": "patrones-title.html",
            "text": "Title de página",
            "id": "title-mobile"
            },
            {
            "href": "patrones-titulos-encabezados.html",
            "text": "Títulos y encabezados",
            "id": "titulos-encabezados-mobile"
            }
          ]
        }
      },
      {
      "text": "Ayudar a navegar y encontrar",
      "id": "ayudar-navegar-encontrar-mobile",
       "sub": {
        "items": [
            {
            "href": "patrones-avanzar-retroceder.html",
            "text": "Avanzar y retroceder",
            "id": "avanzar-retroceder-mobile"
            },
            {
            "href": "patrones-barra-progreso.html",
            "text": "Barra de progreso",
            "id": "barra-progreso-mobile"
            },
            {
            "href": "patrones-buscar.html",
            "text": "Buscar",
            "id": "buscar-mobile"
            },
            {
            "href": "patrones-filtrar.html",
            "text": "Filtrar",
            "id": "filtrar-mobile"
            },
            {
            "href": "patrones-megamenu.html",
            "text": "Megamenú en portales",
            "id": "megamenu-mobile"
            },
            {
            "href": "patrones-volver-atras.html",
            "text": "Volver atrás",
            "id": "volver-atras-mobile"
            }
          ]
        }
      },
      {
      "text": "Ayudar a resolver",
      "id": "ayudar-resolver-mobile",
       "sub": {
        "items": [
            {
            "href": "patrones-asistencia-contextual.html",
            "text": "Asistencia contextual",
            "id": "asistencia-contextual-mobile"
            },
            {
            "href": "patrones-soporte.html",
            "text": "Soporte",
            "id": "soporte-mobile"
            }
          ]
        }
      },
      {
      "text": "Páginas y flujos",
      "id": "patrones-paginas-flujos-mobile",
      "sub": {
        "items": [
            {
            "href": "patrones-pagina-acceso.html",
            "text": "Acceso por MFE",
            "id": "acceso-mobile"
            },
            {
            "href": "patrones-pagina-formulario.html",
            "text": "Formulario por pasos",
            "id": "formulario-mobile"
            },
            {
            "href": "patrones-pagina-aplicaciones.html",
            "text": "Páginas de aplicaciones",
            "id": "aplicaciones-mobile"
            },
            {
            "href": "patrones-pagina-portales.html",
            "text": "Páginas de portales",
            "id": "portales-mobile"
            },
            {
            "href": "patrones-pagina-otras.html",
            "text": "Otras páginas",
            "id": "otras-mobile"
            }
          ]
        }
      }
    ],
    "attributes": {
      "id": "menu-mobile-lateral-patrones",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

{% set menuSidebar %}
  {{ componentTree({
    "idPrefix": "menu-lateral-patrones",
    "type": "navigation",
    "items": [
      {
      "text": "Cómo pedimos información",
      "id": "como-pedimos-informacion",
      "sub": {
        "items": [
            {
            "href": "patrones-aceptar-politicas.html",
            "text": "Aceptar políticas de privacidad",
            "id": "aceptar-politicas"
            },
            {
            "href": "patrones-configurar-cookies.html",
            "text": "Configurar cookies",
            "id": "configurar-cookies"
            },
            {
            "href": "patrones-datos-identidad.html",
            "text": "Datos de identidad",
            "id": "datos-identidad"
            },
            {
            "href": "patrones-datos-contacto.html",
            "text": "Datos de contacto",
            "id": "datos-contacto"
            },
            {
            "href": "patrones-domicilio-postal.html",
            "text": "Domicilio postal",
            "id": "domicilio-postal"
            }
          ]
        }
      },
      {
      "text": "Cómo mostramos información",
      "id": "como-mostramos-informacion",
      "sub": {
        "items": [
            {
            "href": "patrones-acciones-tabla.html",
            "text": "Acciones de tabla",
            "id": "acciones-tabla"
            },
            {
            "href": "patrones-grupo-acciones.html",
            "text": "Grupo de acciones",
            "id": "grupo-acciones"
            },
            {
            "href": "patrones-listados.html",
            "text": "Listados",
            "id": "listados"
            },
            {
            "href": "patrones-title.html",
            "text": "Title de página",
            "id": "title"
            },
            {
            "href": "patrones-titulos-encabezados.html",
            "text": "Títulos y encabezados",
            "id": "titulos-encabezados"
            }
          ]
        }
      },
      {
      "text": "Ayudar a navegar y encontrar",
      "id": "ayudar-navegar-encontrar",
       "sub": {
        "items": [
            {
            "href": "patrones-avanzar-retroceder.html",
            "text": "Avanzar y retroceder",
            "id": "avanzar-retroceder"
            },
            {
            "href": "patrones-barra-progreso.html",
            "text": "Barra de progreso",
            "id": "barra-progreso"
            },
            {
            "href": "patrones-buscar.html",
            "text": "Buscar",
            "id": "buscar"
            },
            {
            "href": "patrones-filtrar.html",
            "text": "Filtrar",
            "id": "filtrar"
            },
            {
            "href": "patrones-megamenu.html",
            "text": "Megamenú en portales",
            "id": "megamenu"
            },
            {
            "href": "patrones-volver-atras.html",
            "text": "Volver atrás",
            "id": "volver-atras"
            }
          ]
        }
      },
      {
      "text": "Ayudar a resolver",
      "id": "ayudar-resolver",
       "sub": {
        "items": [
            {
            "href": "patrones-asistencia-contextual.html",
            "text": "Asistencia contextual",
            "id": "asistencia-contextual"
            },
            {
            "href": "patrones-soporte.html",
            "text": "Soporte",
            "id": "soporte"
            }
          ]
        }
      },
      {
      "text": "Páginas y flujos",
      "id": "paginas-flujos",
      "sub": {
        "items": [
            {
            "href": "patrones-pagina-acceso.html",
            "text": "Acceso por MFE",
            "id": "acceso"
            },
            {
            "href": "patrones-pagina-formulario.html",
            "text": "Formulario por pasos",
            "id": "formulario"
            },
            {
            "href": "patrones-pagina-aplicaciones.html",
            "text": "Páginas de aplicaciones",
            "id": "aplicaciones"
            },
            {
            "href": "patrones-pagina-portales.html",
            "text": "Páginas de portales",
            "id": "portales"
            },
            {
            "href": "patrones-pagina-otras.html",
            "text": "Otras páginas",
            "id": "otras"
            }
          ]
        }
      }
    ],
    "attributes": {
      "id": "menu-lateral-patrones",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="uppercase text-sm text-neutral-dark lg:not-sr-only sr-only">
  <span class="hidden lg:block mt-sm">Patrones</span>
  <span class="lg:hidden sr-only">Índice de páginas</span>
</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Patrones",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-mobile-lateral-patrones','" + patron[1] + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 