{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}


<div>
  {{ componentTableAdvanced({
    "caption": "Características de cada bloque",
    "captionClasses": "mb-base c-h3 text-left text-l",
    "firstCellIsHeader": false,
    "head": [
      {
        "html": '<div class="sr-only">Número del elemento en el diagrama y código de color</div>'
      },
      {
        "text": "Nombre del bloque",
        "classes": "text-left"
      },
      {
        "text": "Código Nunjucks",
        "classes": "text-top content-start min-w-[20rem]"
      },
      {
        "text": "Descripción",
        "classes": "text-left min-w-[20rem]"
      }
    ],
    "rows": [
      [
        {
          "html": '<div class="aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>1</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "pageSpinnerBlock"

          }
        },
        {
          "text": "Spinner de página",
        "classes": "lg:self-center text-top hidden",
          "attributes": {
            "id": "pageSpinnerBlock-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block pageSpinnerBlock %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "pageSpinnerBlock-3"
          }
        },
        {
          "text": "Oculto detrás del contenido",
          "classes":"hidden",
          "attributes": {
            "id": "pageSpinnerBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="self-center aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base" aria-label="Color gris"><span>2</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "headerBlock"
          }
        },
        {
          "text": "Cabecera",
          "classes":"hidden",
          "attributes": {
            "id": "headerBlock-2"
          }
        },
        {
          "html": "<code>{% block headerBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "headerBlock-3"
          }
        },
        {
          "text": "Ocupa el ancho de la ventana para incluir el componente cabecera",
          "classes":"hidden",
          "attributes": {
            "id": "headerBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>3</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "headerSkipLinkBlock"
          }
        },
        {
          "text": "Skip-link",
          "classes":"hidden",
          "attributes": {
            "id": "headerSkipLinkBlock-2"
          }
        },
        {
          "html": "<code>{% block headerSkipLinkBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "headerSkipLinkBlock-3"
          }
        },
        {
          "text": "Ocupa el ancho de la ventana para incluir el componente de salto al contido principal necesario para accesibilidad",
          "classes":"hidden",
          "attributes": {
            "id": "headerSkipLinkBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>3</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "subheaderBlock"
          }
        },
        {
          "text": "Subcabecera",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderBlock-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block subheaderBlock %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderBlock-3"
          }
        },
        {
          "text": "Espacio reservado bajo la cabecera, normalmente para contener elementos de navegación",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>4</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "headerNavigationEditBlock"
          }
        },
        {
          "text": "Navegación de cabecera de edición",
          "classes":"hidden",
          "attributes": {
            "id": "headerNavigationEditBlock-2"
          }
        },
        {
          "html": "<code>{% block headerNavigationEditBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "headerNavigationEditBlock-3"
          }
        },
        {
          "text": "Permite la navegación, si es necesaria, entre distintas páginas sin salir de la ventana de edición de contenido",
          "classes":"hidden",
          "attributes": {
            "id": "headerNavigationEditBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class=\"self-center aspect-auto rounded-full w-6 h-6 bg-black font-semibold text-white text-center text-base" aria-label="Color negro"><span>5</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "headerTitleEditBlock"
          }
        },
        {
          "text": "Título de cabecera de edición",
          "classes":"hidden",
          "attributes": {
            "id": "headerTitleEditBlock-2"
          }
        },
        {
          "html": "<code>{% block headerTitleEditBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "headerTitleEditBlock-3"
          }
        },
        {
          "text": "A la izquierda de la cabecera, muestra un título que indica que te encuentras editando el contenido",
          "classes":"hidden",
          "attributes": {
            "id": "headerTitleEditBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-primary-dark font-semibold text-white text-center text-base" aria-label="Color negro"><span>4</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "subheaderNavigation"
          }
        },
        {
          "text": "Navegación de subcabecera",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderNavigation-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block subheaderNavigation %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderNavigation-3"
          }
        },
        {
          "text": "Situado en la zona superior izquierda, para navegar a páginas anteriores",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderNavigation-4"
          }
        }
      ],
      [
        {
          "html": '<div class="self-center aspect-auto rounded-full w-6 h-6 bg-primary-dark font-semibold text-white text-center text-base" aria-label="Color gris"><span>6</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "headerActionsEditBlock"
          }
        },
        {
          "text": "Acciones de cabecera de edición",
          "classes":"hidden",
          "attributes": {
            "id": "headerActionsEditBlock-2"
          }
        },
        {
          "html": "<code>{% block headerActionsEditBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "headerActionsEditBlock-3"
          }
        },
        {
          "text": "A la derecha de la cabecera, permite realizar acciones sobre el contenido editado",
          "classes":"hidden",
          "attributes": {
            "id": "headerActionsEditBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>7</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "subheaderEditBlock"
          }
        },
        {
          "text": "Subcabecera",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderEditBlock-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block subheaderBlock %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderEditBlock-3"
          }
        },
        {
          "text": "Espacio reservado bajo la cabecera, normalmente para contener bloques de navegación",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderEditBlock-4"
          }
        }
      ],
      
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-primary-dark font-semibold text-white text-center text-base" aria-label="Color azul oscuro"><span>5</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "subheaderActions"
          }
        },
        {
          "text": "Acciones de subcabecera",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderActions-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block subheaderActions %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderActions-3"
          }
        },
        {
          "text": "Situado en la zona superior derecha, para realizar acciones sobre el contenido que visualizas",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderActions-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-black font-semibold text-white text-center text-base" aria-label="Color negro"><span>6</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "subheaderTitle"
          }
        },
        {
          "text": "Título de subcabecera",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderTitle-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block subheaderTitle %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderTitle-3"
          }
        },
        {
          "text": "Situado bajo los bloques de navegación y acciones, muestra el título del contenido de la página",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderTitle-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-primary-dark font-semibold text-white text-center text-base" aria-label="Color negro"><span>7</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "subheaderMenu"
          }
        },
        {
          "text": "Menú de subcabecera",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderMenu-2"
          }
        },
        {
          "html": "<div class=\"place-items-start\"><code>{% block subheaderMenu %}</code></div>",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderMenu-3"
          }
        },
        {
          "text": "Situado bajo el bloque de título de subcabecera, permite incluir un menú horizontal para navegar entre varios contenidos relacionados",
          "classes":"hidden",
          "attributes": {
            "id": "subheaderMenu-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>4</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "main"
          }
        },
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>8</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "main-n8"
          }
        },
        {
          "text": "Sección principal",
          "classes":"hidden",
          "attributes": {
            "id": "main-2"
          }
        },
        {
          "html": "<code>&lt;main&gt;</code>",
          "classes":"hidden",
          "attributes": {
            "id": "main-3"
          }
        },
        {
          "text": "Contenedor con anchura determinada con el contenido principal y otros bloques",
          "classes":"hidden",
          "attributes": {
            "id": "main-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-success-dark font-semibold text-white text-center text-base" aria-label="Color verde"><span>5</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "notificationHeaderBlock"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-success-dark font-semibold text-white text-center text-base" aria-label="Color verde"><span>9</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "notificationHeaderBlock-n9"
          }
        },
        {
          "text": "Notificacion de cabecera",
          "classes":"hidden",
          "attributes": {
            "id": "notificationHeaderBlock-2"
          }
        },
        {
          "html": "<code>{% block notificationHeaderBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "notificationHeaderBlock-3"
          }
        },
        {
          "text": "Situado al principio del contenido",
          "classes":"hidden",
          "attributes": {
            "id": "notificationHeaderBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-success-dark text-base" aria-label="Color verde"></div>',
          "classes":"hidden",
          "attributes": {
            "id": "notificationFooterBlock"
          }
        },
        {
          "text": "Notificacion de pie de página",
          "classes":"hidden",
          "attributes": {
            "id": "notificationFooterBlock-2"
          }
        },
        {
          "html": "<code>{% block notificationFooterBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "notificationFooterBlock-3"
          }
        },
        {
          "text": "Situado al final del contenido",
          "classes":"hidden",
          "attributes": {
            "id": "notificationFooterBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-black font-semibold text-white text-center text-base" aria-label="Color negro"><span>6</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "contentBlock"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-black font-semibold text-white text-center text-base" aria-label="Color negro"><span>10</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "contentBlock-n10"
          }
        },
        {
          "text": "Contenido",
          "classes":"hidden",
          "attributes": {
            "id": "contentBlock-2"
          }
        },
        {
          "html": "<code>{% block contentBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "contentBlock-3"
          }
        },
        {
          "text": "Contenido principal",
          "classes":"hidden",
          "attributes": {
            "id": "contentBlock-4"
          }
        }
      ],
      
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-success-dark font-semibold text-white text-center text-base" aria-label="Color verde"><span>7</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlock"
          }
        },
        {
          "text": "Notificación interior",
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlock-2"
          }
        },
        {
          "html": "<code>{% block notificationInnerContentBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlock-3"
          }
        },
        {
          "text": "Se sitúa al principio del contenido interior",
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-black font-semibold text-white text-center text-base" aria-label="Color negro"><span>8</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlock"
          }
        },
        {
          "text": "Contenido interior",
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlock-2"
          }
        },
        {
          "html": "<code>{% block innerContentBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlock-3"
          }
        },
        {
          "text": "Contenido principal dentro de la sección interior",
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-primary-dark font-semibold text-white text-center text-base" aria-label="Color azul oscuro"><span>9</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "sidebarBlock"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-primary-dark font-semibold text-white text-center text-base" aria-label="Color azul oscuro"><span>10</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "sidebarBlock-n10"
          }
        },
        {
          "text": "Menú lateral",
          "classes":"hidden",
          "attributes": {
            "id": "sidebarBlock-2"
          }
        },
        {
          "html": "<code>{% block sidebarBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "sidebarBlock-3"
          }
        },
        {
          "text": "Barra lateral que ocupa el 25% de la anchura de la sección",
          "classes":"hidden",
          "attributes": {
            "id": "sidebarBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="place-self-center aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>11</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "sectionEdit"
          }
        },
        {
          "text": "Sección interior",
          "classes":"hidden",
          "attributes": {
            "id": "sectionEdit-2"
          }
        },
        {
          "html": "<code>section</code>",
          "classes":"hidden",
          "attributes": {
            "id": "sectionEdit-3"
          }
        },
        {
          "text": "Contenedor con anchura del 75% del ancho de la sección cuando la plantilla contiene el bloque de menú lateral. Muestra el contenido del item.",
          "classes":"hidden",
          "attributes": {
            "id": "sectionEdit-4"
          }
        }
      ],
      
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-success-dark font-semibold text-white text-center text-base" aria-label="Color verde"><span>12</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlockEdit"
          }
        },
        {
          "text": "Notificación interior",
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlockEdit-2"
          }
        },
        {
          "html": "<code>{% block notificationInnerContentBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlockEdit-3"
          }
        },
        {
          "text": "Se sitúa al principio del contenido interior",
          "classes":"hidden",
          "attributes": {
            "id": "notificationInnerContentBlockEdit-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-black font-semibold text-white text-center text-base" aria-label="Color negro"><span>13</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlockEdit"
          }
        },
        {
          "text": "Contenido interior",
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlockEdit-2"
          }
        },
        {
          "html": "<code>{% block innerContentBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlockEdit-3"
          }
        },
        {
          "text": "Contenido principal dentro de la sección interior",
          "classes":"hidden",
          "attributes": {
            "id": "innerContentBlockEdit-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base" aria-label="Color gris"><span>7</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base" aria-label="Color gris"><span>10</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock-n10"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base" aria-label="Color gris"><span>11</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock-n11"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base" aria-label="Color gris"><span>14</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock-n14"
          }
        },
        {
          "text": "Pie de página",
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock-2"
          }
        },
        {
          "html": "<code>{% block footerBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock-3"
          }
        },
        {
          "text": "Ocupa el ancho de la ventana para incluir el componente pie de página",
          "classes":"hidden",
          "attributes": {
            "id": "footerBlock-4"
          }
        }
      ],
      [
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>8</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>11</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock-n11"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>12</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock-n12"
          }
        },
        {
          "html": '<div class="align-middle aspect-auto rounded-full w-6 h-6 bg-[#739ba5] font-semibold text-white text-center text-base" aria-label="Color azul claro"><span>15</span></div>',
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock-n15"
          }
        },
        {
          "text": "Modal",
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock-2"
          }
        },
        {
          "html": "<code>{% block modalBlock %}</code>",
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock-3"
          }
        },
        {
          "text": "Zona reservada para ejecutar acciones una vez se carga la página",
          "classes":"hidden",
          "attributes": {
            "id": "modalBlock-4"
          }
        }
      ]
    ],
    "attributes": {
      "id": "tabla-bloques"
    },
    "wrapper": {
      "classes": "relative overflow-x-auto text-sm pb-base"
    }
  }) }}
</div>
<div class="mb-base"></div>









