{% macro layoutContentHeader(component, subtitle, paragraph) %}
  <div class="pb-lg"></div>
  <div class="flex flex-col-reverse">
    <h1 class="c-h1">{{ component }}</h1>
     {% if subtitle %}<p class="c-paragraph-base text-neutral-dark mb-0">{{ subtitle }}</p>{% endif %}
  </div>
  <p class="c-paragraph-lg">
    {{ paragraph }}
  </p>
{% endmacro %}

{% macro layoutContentItem1(component) %}
  {% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "plantillas-" + component + "-p1.html",
        "text": "Contenido",
        "active": true
      },
      {
        "href": "plantillas-" + component + "-p2.html",
        "text": "Con spinner"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}
{% endmacro %}

{% macro layoutContentItem2(component) %}
  {% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "plantillas-" + component + "-p1.html",
        "text": "Contenido"
      },
      {
        "href": "plantillas-" + component + "-p2.html",
        "text": "Con spinner",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}
{% endmacro %}