{% from "components/details/_macro.details.njk" import componentDetails %}

<div class="mt-base">
  {% call componentDetails({
  "summary": {
      "html": "Más información"
    }
  })  %}
  <h4 class="c-h4">¿Qué son los bloques?</h4>
  <p class="c-paragraph-base">Llamamos bloques a los contenedores definidos en las plantillas para facilitar la maquetación de las páginas. Cada bloque contiene las características necesarias para una correcta construcción, etiquetado y visualización de la página.</p>
  <p class="c-paragraph-base">Más información en la sección <a href="https://www.w3.org/WAI/ARIA/apg/practices/landmark-regions/" class="c-link" target="_blank" title="Se abre en pestaña nueva">Landmark Regions de W3C{% include "includes/_external-link-icon.njk" %}</a></p>


  <h4 class="c-h4">Código de color</h4>
  <ul class="border border-neutral-base rounded grid lg:grid-cols-2 lg:grid-rows-3 p-base gap-base">
    <li class="w-full flex items-center">
      <div class="rounded-full w-6 h-6 bg-[#739ba5] inline-block" aria-label="Color azul claro"></div><p class="inline-block ml-base align-middle text-sm">Bloques invisibles y secciones</p>
    </li>
    <li class="w-full flex items-center">
      <div class="rounded-full w-6 h-6 bg-[#92949b] inline-block" aria-label="Color gris"></div><p class="inline-block ml-base align-middle text-sm">Bloques de cabecera y pie de página</p>
    </li>
    <li class="w-full flex items-center">
      <div class="rounded-full w-6 h-6 bg-black inline-block" aria-label="Color negro"></div><span class="inline-block ml-base align-middle text-sm">Bloques para títulos y textos</span>
    </li>
    <li class="w-full flex items-center">
      <div class="rounded-full w-6 h-6 bg-primary-dark inline-block" aria-label="Color azul oscuro"></div><span class="inline-block ml-base align-middle text-sm">Bloques para acciones y navegación</span>
    </li>
    <li class="w-full flex items-center">
      <div class="rounded-full w-6 h-6 bg-success-dark inline-block" aria-label="Color verde"></div><span class="inline-block ml-base align-middle text-sm">Bloques para notificaciones y avisos</span>
    </li>
  </ul>
  
  {% endcall  %}
</div>
