{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/tree/_macro.tree.njk" import componentTree %}


{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item-mobile",
    "items": [
      {
        "href": "plantillas-sin-sesion-iniciada-p1.html",
        "text": "Sin sesión iniciada en aplicación",
        "id": "plantillas-sin-sesion-iniciada-mobile"
      },
      {
        "href": "plantillas-con-sesion-iniciada.html",
        "text": "Con sesión iniciada en aplicación",
        "id": "plantillas-con-sesion-iniciada-mobile",
        "sub": {
          "items": [
            {
              "href": "plantillas-con-sesion-iniciada-base-p1.html",
              "text": "Contenido base",
              "id": "plantillas-con-sesion-iniciada-base-mobile"
            },
            {
              "href": "plantillas-con-sesion-iniciada-selector-p1.html",
              "text": "Selector de app",
              "id": "plantillas-con-sesion-iniciada-selector-mobile"
            },
            {
              "href": "plantillas-con-sesion-iniciada-cfija-p1.html",
              "text": "Cabecera fija",
              "id": "plantillas-con-sesion-iniciada-cfija-mobile"
            },
            {
              "href": "plantillas-con-sesion-iniciada-cfija-headroom-p1.html",
              "text": "Cabecera fija con librería headroom.js",
              "id": "plantillas-con-sesion-iniciada-cfija-headroom-mobile"
            },
            {
              "href": "plantillas-con-sesion-iniciada-subheader-p1.html",
              "text": "Con subcabecera",
              "id": "plantillas-con-sesion-iniciada-subheader-mobile"
            },
            {
              "href": "plantillas-con-sesion-iniciada-sidebar-p1.html",
              "text": "Con menú lateral",
              "id": "plantillas-con-sesion-iniciada-sidebar-mobile"
            }
          ]
        }
      },
      {
        "href": "plantillas-edicion.html",
        "text": "Edición de contenido",
        "id": "plantillas-edicion-mobile",
        "sub": {
          "items": [
            {
              "href": "plantillas-edicion-cfija-p1.html",
              "text": "Cabecera fija",
              "id": "plantillas-edicion-cfija-mobile"
            },
            {
              "href": "plantillas-edicion-sidebar-p1.html",
              "text": "Cabecera fija y menú lateral sticky",
              "id": "plantillas-edicion-sidebar-mobile"
            }
          ]
        }
      },
      {
        "href": "plantillas-portal-p1.html",
        "text": "Portal web",
        "id": "plantillas-portal-mobile"
      }
    ],
    "attributes": {
      "id": "menu-lateral-plantillas-mobile",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

{% set menuSidebar %}
  {{ componentTree({
    "idPrefix": "menu-lateral-plantillas",
    "type": "navigation",
    "items": [
      {
        "href": "plantillas-sin-sesion-iniciada-p1.html",
        "text": "Sin sesión iniciada en aplicación",
        "id": "plantillas-sin-sesion-iniciada"
      },
      {
        "href": "plantillas-con-sesion-iniciada.html",
        "text": "Con sesión iniciada en aplicación",
        "id": "plantillas-con-sesion-iniciada",
        "sub": {
          "items": [
            {
              "href": "plantillas-con-sesion-iniciada-base-p1.html",
              "text": "Contenido base",
              "id": "plantillas-con-sesion-iniciada-base"
            },
            {
              "href": "plantillas-con-sesion-iniciada-selector-p1.html",
              "text": "Selector de app",
              "id": "plantillas-con-sesion-iniciada-selector"
            },
            {
              "href": "plantillas-con-sesion-iniciada-cfija-p1.html",
              "text": "Cabecera fija",
              "id": "plantillas-con-sesion-iniciada-cfija"
            },
            {
              "href": "plantillas-con-sesion-iniciada-cfija-headroom-p1.html",
              "text": "Cabecera fija con librería headroom.js",
              "id": "plantillas-con-sesion-iniciada-cfija-headroom"
            },
            {
              "href": "plantillas-con-sesion-iniciada-subheader-p1.html",
              "text": "Con subcabecera",
              "id": "plantillas-con-sesion-iniciada-subheader"
            },
            {
              "href": "plantillas-con-sesion-iniciada-sidebar-p1.html",
              "text": "Con menú lateral",
              "id": "plantillas-con-sesion-iniciada-sidebar"
            }
          ]
        }
      },
      {
        "href": "plantillas-edicion.html",
        "text": "Edición de contenido",
        "id": "plantillas-edicion",
        "sub": {
          "items": [
            {
              "href": "plantillas-edicion-cfija-p1.html",
              "text": "Cabecera fija",
              "id": "plantillas-edicion-cfija"
            },
            {
              "href": "plantillas-edicion-sidebar-p1.html",
              "text": "Cabecera fija y menú lateral sticky",
              "id": "plantillas-edicion-sidebar"
            }
          ]
        }
      },
      {
        "href": "plantillas-portal-p1.html",
        "text": "Portal web",
        "id": "plantillas-portal"
      },
      {
        "href": "plantillas-correo-p1.html",
        "text": "Correo electrónico",
        "id": "plantillas-correo"
      }
    ],
    "attributes": {
      "id": "menu-lateral-plantillas",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="uppercase text-sm text-neutral-dark lg:not-sr-only sr-only">
  <span class="hidden lg:block mt-sm">Plantillas para web</span>
  <span class="lg:hidden sr-only">Índice de páginas</span>
</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Plantillas",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-lateral-plantillas-mobile','plantillas-" + plantilla[3] + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 


