{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}





{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "como-empezar-tutorial.html",
        "text": "Tutorial: de cero a producción",
        "id": "tutorial-mobile"
      },
      {
        "href": "como-empezar-disenador.html",
        "text": "Diseño UI",
        "id": "disenador-mobile"
      },
      {
        "href": "como-empezar-accesibilidad.html",
        "text": "Accesibilidad",
        "id": "accesibilidad-mobile"
      }
    ],
    "attributes": {
      "id": "menu-mobile-como-empezar",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

{% set menuSidebar %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "como-empezar-tutorial.html",
        "text": "Tutorial: de cero a producción",
        "id": "tutorial"
      },
      {
        "href": "como-empezar-disenador.html",
        "text": "Diseño UI",
        "id": "disenador"
      },
      {
        "href": "como-empezar-accesibilidad.html",
        "text": "Accesibilidad",
        "id": "accesibilidad"
      }
    ],
    "attributes": {
      "id": "menu-lateral-como-empezar",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}


<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="uppercase text-sm text-neutral-dark lg:not-sr-only sr-only">
  <span class="hidden lg:block mt-sm">Cómo empezar</span>
  <span class="lg:hidden sr-only">Índice de páginas</span>
</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Cómo empezar",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-mobile-como-empezar','" + activeApartado + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 
