<li class="py-lg">
  <div>
    <div class="flex flex-col-reverse gap-sm">
      <h3 class="c-h3 mb-base">Versiones <em lang="en">Long Term Support (LTS)</em> y <em lang="en">Latest</em> para desy-angular</h3>
      <p class="c-paragraph-base mb-0 text-neutral-dark">26 enero 2025</p>
    </div>
    <ul class="list-disc pl-5 flex flex-col h-full gap-sm">
      <li>Las aplicaciones que usen Angular 16, tendrán una version estable (LTS) de desy-angular v13 en la que únicamente se resolverán bugs críticos.</li>
      <li>Nuevos proyectos o aplicaciones que usen Angular 18, pueden utilizar la última versión de desy-angular, que recibirá actualizaciones periódicamente.</li>
    </ul>
    <div class="pb-base"></div>
    <a href="https://www.npmjs.com/package/desy-angular/v/14.0.1?activeTab=versions" class="c-link">Ver versiones publicadas <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="inline-block self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg></a>
  </div>
</li>