{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}





{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "desarrollo-desy-html.html",
        "text": "desy-html",
        "id": "desy-html-mobile"
      },
      {
        "href": "desarrollo-desy-angular.html",
        "text": "desy-angular",
        "id": "desy-angular-mobile"
      },
      {
        "href": "desarrollo-versiones.html",
        "text": "Versiones",
        "id": "versiones-mobile"
      },
      {
        "href": "desarrollo-otras.html",
        "text": "Otras librerías",
        "id": "otras-mobile"
      }
    ],
    "attributes": {
      "id": "menu-mobile-desarrollo",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

{% set menuSidebar %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "desarrollo-desy-html.html",
        "text": "desy-html",
        "id": "desy-html"
      },
      {
        "href": "desarrollo-desy-angular.html",
        "text": "desy-angular",
        "id": "desy-angular"
      },
      {
        "href": "desarrollo-versiones.html",
        "text": "Versiones",
        "id": "versiones"
      },
      {
        "href": "desarrollo-otras.html",
        "text": "Otras librerías",
        "id": "otras"
      }
    ],
    "attributes": {
      "id": "menu-lateral-desarrollo",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}


<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="uppercase text-sm text-neutral-dark lg:not-sr-only sr-only">
  <span class="hidden lg:block mt-sm">Desarrollo</span>
  <span class="lg:hidden sr-only">Índice de páginas</span>
</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Desarrollo",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-mobile-desarrollo','" + activeApartado + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 
