<div class="flex -my-px py-base text-sm border-t border-b border-neutral-base {%- if params.classes %} {{ params.classes }}{% endif %}" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="px-4">
    {% if params.status.type == 'rechazado' %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" role="img" aria-label="{{ params.status.text }}" width="1em" height="1em" class="w-5 h-5 text-neutral-dark"><path d="M131.83 22.29a18.85 18.85 0 00-18.74-16H54A25.61 25.61 0 0040.36 10l-11.13 8.78H10a10 10 0 00-10 10v47.5a10 10 0 0010 10h19.26l23.42 38.69a18.51 18.51 0 0015.8 8.81 19.05 19.05 0 0019-18.57V96.25a2.5 2.5 0 012.52-2.5h31a19 19 0 0018.75-21.86zM124 77.37a3.93 3.93 0 01-3 1.38H80a7.5 7.5 0 00-7.5 7.5v28.93a4.08 4.08 0 01-7 1.9L42.86 79.75a2.56 2.56 0 01-.36-1.29V28.6a2.48 2.48 0 01.95-2L49 22.28a12.69 12.69 0 015-1h59.14a4 4 0 013.92 3.36l8 49.61a3.94 3.94 0 01-1.06 3.12z" fill="currentColor" /></svg>
    {% elseif params.status.type == 'aprobado' %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" role="img" aria-label="{{ params.status.text }}" width="1em" height="1em" class="w-5 h-5 text-success-dark"><path d="M139.78 68.11A19 19 0 00121 46.25H90a2.5 2.5 0 01-2.5-2.5V24.82A19.05 19.05 0 0068.48 6.25a18.51 18.51 0 00-15.8 8.81L29.26 53.75H10a10 10 0 00-10 10v47.5a10 10 0 0010 10h19.23L40.36 130a25.61 25.61 0 0013.59 3.72h59.14a18.85 18.85 0 0018.74-16zM125 65.78l-8 49.61a4 4 0 01-3.92 3.36H54a12.69 12.69 0 01-5-1l-5.52-4.36a2.48 2.48 0 01-.95-2V61.54a2.56 2.56 0 01.36-1.29l22.6-37.33a4.08 4.08 0 017 1.9v28.93a7.5 7.5 0 007.5 7.5h41a4 4 0 013.93 4.53z" fill="currentColor"/></svg>
    {% else %}
      <span class="inline-block w-5" aria-hidden="true"></span>
    {% endif %}
  </div>
  <div class="lg:flex flex-wrap lg:justify-between flex-1">
    <p class="flex-1">{{ params.itemType }} - {{ params.status.text }} - por {{ params.author }}{%- if params.link %} <a class="c-link inline-block ml-base" href="{{ params.link.href }}" {%- if params.link.target %} target="{{ params.link.target }}"{% endif %}>{{ params.link.text }}</a>{% endif %}</p>
    <p class="lg:mr-base">{{ params.date }}</p>
    {% if params.user %}
      <div class="w-full mt-base">
        <dl class="lg:w-3/4">
          <dt class="mb-base"><strong>Mensaje del validador</strong> - <strong>{{ params.user.name }}</strong> (<a href="mailto:{{ params.user.email }}" class="c-link">{{ params.user.email }}</a>)</dt>
          <dd class="prose-sm max-w-none mx-auto">
            {% if caller %}
            {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
            {% elseif params.caller %}
            {{ params.caller | safe }}
            {% endif %}
          </dd>
        </dl>
      </div>
    {% endif %}
  </div>
</div>