/* ==========================================================================
   custom.css
   ========================================================================== */

@layer base {
  /* Smooth scroll for anchors */
  html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}


@layer components {
  .headroom {
    @apply lg:fixed !important;
    @apply lg:top-0;
    @apply lg:w-full;
    @apply lg:transform;
    @apply lg:transition-transform;
    @apply lg:duration-500;
    @apply lg:z-10;
  }
  .headroom--pinned {
    @apply lg:translate-y-0;
  }
  .headroom--unpinned {
    @apply lg:-translate-y-full;
  }

  .c-anchor-scroll {
    scroll-margin-top: 4rem;
  }

  .c-anchor-scroll-edit {
    scroll-margin-top: 5.375rem;
  }

  .c-content-code {
    .c-h1 {
      /* as .c-h2 */
      @apply mb-base;
      @apply text-2xl;
      @apply font-bold;
      @apply leading-tight;
    }
  }
}

#patron-carrusel {
  .c-tabs__link {
    @apply c-button;
    @apply c-button--sm;
    @apply rounded-full;
    @apply aspect-square;
    @apply h-4 w-4 px-xs;

  }
  .c-tabs__link--is-active {
    @apply aspect-square;
    @apply c-button;
    @apply c-button--primary;
    @apply c-button--sm;
    @apply rounded-full;
    @apply h-4 w-4 px-xs;
  }
  .c-tabs__link {
    & > span,
    & > strong {
      @apply py-0;
    }
  }

}