/* ==========================================================================
   custom.css
   ========================================================================== */

.gstl_51.gssb_c {
  @apply lg:!-translate-x-2/4;
}

.gsib_a {
  @apply !p-0;
}

.gsst_b {
  @apply !p-0;
}

button.gsc-search-button {
  @apply !inline-block;
  @apply !items-baseline;
  @apply !px-3;
  @apply !py-2;
  @apply !bg-white;
  @apply !border;
  @apply !border-primary-base;
  @apply !rounded;
  @apply !align-baseline;
  @apply !font-semibold;
  @apply !text-primary-base;
  @apply !transition-all;
  @apply !duration-100;
  @apply !ease-out;
  @apply !whitespace-nowrap;
  @apply !cursor-pointer;

  @apply focus:!bg-warning-base;
  @apply focus:!border-warning-base;
  @apply focus:!shadow-outline-black;
  @apply focus:!text-black;
  @apply focus:!outline-none;

  @apply !bg-white;
  @apply !text-primary-base;

  &:hover:not(disabled),
  &:active:not(disabled),
  &.ds-hover:not(disabled) {
    @apply !bg-neutral-light;
    @apply !border-primary-dark;
  }

  svg {
    @apply !fill-current;
    @apply !size-4;
    @apply !m-1;
  }
}


.gsc-input-box {
  @apply !border-black;
  padding: inherit !important;
  @apply !rounded;

}


.gsc-input input {
  @apply !m-0;
  @apply !h-auto;
  @apply !px-3;
  @apply !py-2;
  @apply !text-base;
  @apply !rounded;
  @apply !font-semibold;
  &:focus{
    @apply !border-black; 
    @apply !shadow-outline-focus-input;
    @apply !ring-4; 
    @apply !ring-warning-base;
  }
}

.gsst_a {
  @apply !px-sm;
  @apply focus:!bg-warning-base;
  @apply focus:!border-warning-base;
  @apply focus:!shadow-outline-black;
  @apply focus:!text-black;
  @apply focus:!outline-none;

  &:focus {
    .gscb_a {
      @apply !text-black;
    }
  }

  .gscb_a {
    @apply relative;
    @apply top-0.5;
    @apply !text-neutral-base;
  }
}

.gsc-wrapper {
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}


.gsc-control-cse {
  @apply !font-sans;

  * {
    @apply !font-sans;
  }
}


.gsc-refinementsArea {
  @apply !border-black;
  @apply !border-b;


}

.gsc-refinementHeader {
  @apply !font-normal;
}

.gsc-refinementhActive {
  @apply !font-bold;

}

.gsc-refinementhInactive {
  @apply !text-black;  
  &:hover {
    @apply !bg-neutral-light;
    @apply !text-primary-dark;
  }
  &:focus {
    @apply !bg-warning-base;
    @apply !shadow-outline-focus;
    @apply !outline-none;
    @apply !text-black;
  }
}

.gsc-cursor-page {
  @apply c-button;

}

.gcsc-more-maybe-branding-root {
  @apply hidden;
}

.gsc-richsnippet-showsnippet-label {
  @apply hidden;
}

.gsc-input {
  @apply !pr-sm;
  background-image: none !important;
}

/* Resultados de... Ver resultados de... */
/* https://desy.aragon.es/demos/buscador/#gsc.tab=0&gsc.q=oposiciones%20a%20Administrador%20Superiorior%2C&gsc.sort= */

.gsc-cursor-box {
  @apply !flex;
  @apply !flex-wrap;
  @apply !m-0;
  @apply !mt-xl;


}

.gsc-cursor {
  @apply !flex;
  @apply !flex-wrap;
  @apply !gap-y-base;
}

.gs-result .gs-title *,
.gsc-cursor-page,
.gs-spelling a {
  @apply !text-primary-base;
  &:focus {
    @apply !bg-warning-base;
    @apply !shadow-outline-focus;
    @apply !outline-none;
    @apply !text-black;
  }
}

.gsc-cursor-current-page {
  @apply !bg-primary-base;
  @apply !text-white;
  @apply !border-none;
  @apply !pointer-events-none;


  &:focus {
    @apply !bg-warning-base;
    @apply !shadow-outline-focus;
    @apply !outline-none;
    @apply !text-black;
  }

}

.gsc-cursor-page {
  @apply !border;
  @apply !border-primary-base;


  &:hover {
    @apply !bg-neutral-light;
    text-decoration: none !important;
  }
}