{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

{% set actionsPublicado %}
  {% include "includes/_pattern.dropdown-item-list-services-publicado.njk" %}
  {{ componentButton({
    "html": 'Ver detalles<span class="sr-only"> del servicio ' + itemId + ' - ' + itemText + '</span>',
    "href": "#",
    "classes": "c-button--sm"
  })  }}
{% endset %}