{% from "components/notification/_macro.notification.njk" import componentNotification %}
{{ componentNotification({
  "title": {
    "text": "Esta página está en construcción"
  },
  "id": "construccion"
})  }}