{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/button/_macro.button.njk" import componentButton %}



<section class="w-full mb-sm" aria-labelledby="filtros-avanzados">
  <h2 class="sr-only" id="filtros-avanzados">Filtros avanzados</h2>
  {% call componentDetails({
    "summary": {
      "html": "Filtros"
    }
  }) %}

  <form class="bg-neutral-lighter p-xl mt-base">
    <fieldset class="grid lg:grid-cols-3 gap-y-0 gap-lg mb-base">
      <legend class="sr-only">Filtrar items de la lista</legend>
      {{ componentInput({
        "label": {
          "text": "Nombre"
        },
        "id": "input-nombre",
        "name": "nombre",
        "type": "search",
        "classes": "w-full"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Primer apellido"
        },
        "id": "input-primer-apellido",
        "name": "primer-apellido",
        "type": "search",
        "classes": "w-full"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Segundo apellido"
        },
        "id": "input-segundo-apellido",
        "name": "segundo-apellido",
        "type": "search",
        "classes": "w-full"
      })  }}
      {{ componentSelect({
        "id": "select-tipo",
        "name": "select-tipo",
        "classes": "w-full",
        "label": {
          "text": "Tipo de rol"
        },
        "items": [
          {
            "value": "",
            "text": "Selecciona una opción",
            "disabled": true,
            "selected": true,
            "hidden": true
          },
          {
            "value": 1,
            "text": "Opción 1"
          },
          {
            "value": 2,
            "text": "Opción 2"
          },
          {
            "value": 3,
            "text": "Opción 3"
          }
        ]
      }) }}
      {{ componentSelect({
        "id": "select-estado",
        "name": "select-estado",
        "classes": "w-full",
        "label": {
          "text": "Estado"
        },
        "items": [
          {
            "value": "",
            "text": "Selecciona una opción",
            "disabled": true,
            "selected": true,
            "hidden": true
          },
          {
            "value": 1,
            "text": "Opción 1"
          },
          {
            "value": 2,
            "text": "Opción 2"
          },
          {
            "value": 3,
            "text": "Opción 3"
          }
        ]
      }) }}
    </fieldset>

    <ul class="flex gap-base" aria-label="Acciones de filtrado">
      <li>
        {{ componentButton({
          "type": "submit",
          "text": "Aplicar filtros",
          "classes": "c-button--primary"
        }) }}
      </li>
      <li>
        {{ componentButton({
          "text": "Eliminar filtros",
          "classes": "c-button--transparent"
        }) }}
      </li>
    </ul>

  </form>

  {% endcall  %}

</section>