<nav aria-label="Cronología de pasos del formulario">
  <ol class="flex lg:flex-row flex-col items-start lg:mx-xl mx-xs">
    <li>
      <div class="relative flex flex-col items-center overflow-visible">
        <button class="aspect-square rounded-full c-button c-button--sm flex justify-center"><span>1</span><span class="sr-only">-</span><span class="absolute lg:top-10 lg:ml-0 ml-52 c-link text-sm font-normal lg:text-center text-start w-40">Paso anterior</span></button>
      </div>
    </li>
    <li class="lg:border-t-4 lg:border-l-0 border-l-4 border-primary-base lg:grow lg:my-3.5 h-lg lg:-mx-base ml-3 overflow-hidden" role="separator" aria-hidden="true"></li>
    <li>
      <div class="relative flex flex-col items-center overflow-visible">
        <button class="aspect-square rounded-full c-button c-button--primary c-button--sm flex justify-center pointer-events-none" aria-current="page" tabindex="-1"><span>2</span><span class="sr-only">-</span><span class="absolute lg:top-10 lg:ml-0 ml-52 text-primary-base c-link c-link--no-underline text-sm font-bold lg:text-center text-start w-40">Paso actual</span></button>
      </div>
    </li>
    <li class="lg:border-t-4 lg:border-l-0 border-l-4 border-neutral-light lg:grow lg:my-3.5 h-lg lg:-mx-base ml-3 overflow-hidden" role="separator" aria-hidden="true"></li>
    <li>
      <div class="relative flex flex-col items-center overflow-visible bg-white">
        <button class="aspect-square rounded-full c-button c-button--sm flex justify-center" disabled="disabled" aria-disabled="true" tabindex="-1"><span>3</span><span class="sr-only">-</span><span class="absolute lg:top-10 lg:ml-0 ml-52 text-sm font-normal lg:text-center text-start w-40 opacity-100">Paso posterior</span></button>
      </div>
    </li>
  </ol>
</nav>

