{% from "components/button/_macro.button.njk" import componentButton %}

<section aria-labelledby="acciones-de-cabecera">
  <h2 class="sr-only" id="acciones-de-cabecera">Menú de acciones</h2>
  <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
    <li>
      {{ componentButton({
        "text": "Guardar y salir",
        "classes": "c-button--primary c-button--sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Guardar",
        "classes": "c-button--sm"
      })  }}
    </li>
    <li>
      {{ componentButton({
        "text": "Salir",
        "classes": "c-button--sm"
      })  }}
    </li>
  </ul>
</section>
