
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}

<header class=" z-40 bg-white border-b border-neutral-base">
  <div class="container mx-auto px-base ">
    <!-- headerSkipLinkBlock -->
      {{ componentSkipLink({
        "text": "Saltar al contenido principal",
        "href": "#content"
      })  }}
    <!-- /headerSkipLinkBlock -->
    <div class="lg:flex lg:flex-wrap lg:w-full py-base">
      <div class="w-full">
      </div>
      <div class="flex-1 mb-base lg:mb-0">
        <!-- headerTitleEditBlock -->
          <h1 class="uppercase">
            Editando item
            <span class="c-h3 block mt-xs normal-case">Título del item editado (h1)</span>
          </h1>
        <!-- /headerTitleEditBlock -->
      </div>
      <!-- headerActionsEditBlock -->
        {% include "includes/_pattern.acciones-de-cabecera.njk" %}
      <!-- /headerActionsEditBlock -->
    </div>
  </div>
</header>