{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

<div class="lg:w-1/2">
  <h2 class="c-h3 lg:c-h2">Buscador</h2>
  <form action="#">
    {{ componentSearchbar({
      "id": "searchbar-home",
      "label": {
        "text": "Buscar"
      },
      "placeholder": "Introduce un término de búsqueda",
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary"
      },
      "classes": "flex-1"
    }) }}
  </form>
</div>
