{% from "components/notification/_macro.notification.njk" import componentNotification %}


{{ componentNotification({
  "id": "cookies-2",
  "headingLevel": 2,
  "title": {
    "text": "Uso de cookies"
  },
  "description": {
    "html": '<p>Usamos cookies para que la aplicación funcione. Para más información consulta nuestra <a class="c-link" href="https://www.aragon.es/-/detalle-sobre-las-cookies-en-el-portal-de-servicios-del-gobierno-de-aragon">política de cookies</a></p>'
  },
  "isDismissible": true
})  }}
  
  
