{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{# Instrucciones de funcionamiento de la tabla #}
{% call componentDetails({
  "summary": {
    "html": "Acerca de esta tabla"
  },
  "classes": "mb-xs text-sm"
})  %}
    <div id="descTable1" class="grid gap-sm">
      <p>En la primera columna es posible seleccionar uno o más items pendientes. Puedes seleccionar todos los items pendientes con la casilla de verificación "Seleccionar todo".</p>
      <p>La segunda columna contiene enlaces de acceso a los items.</p>
      <p>Las cabeceras de columna tienen opción de ordenación.</p>
      <p>Puedes realizar acciones sobre los items mediante los botones situados antes de la tabla.</p>
    </div>
{% endcall %}
{# Barra de Acciones #}
<section class="flex flex-col lg:flex-row lg:flex-wrap lg:w-full" aria-labelledby="acciones-items">
  <h3 id="acciones-items" class="sr-only">Selección múltiple y Acciones sobre la tabla de items</h3>
  <div class="lg:flex sm:flex-1">
    <form action="#">
      {{ componentCheckboxes({
        "idPrefix": "todos-items",
        "name": "todos-items",
        "classes": "c-checkboxes--sm mt-sm -mb-xl ml-base",
        "items": [
          {
            "value": "todas",
            "text": "Seleccionar todo",
            "classes": "-mt-base",
            "label": {
              "classes": "text-sm -mt-1"
            }
          }
        ]
      })  }}
    </form>
  </div>
  <div class="flex lg:items-start lg:ml-auto lg:pl-base order-first lg:order-last">
    {{ componentMenubar({
      "id": "actions-table-menubar",
      "idPrefix": "actions-table",
      "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
      "items": [
        {
          "text": "Importar items",
          "ariaLabel": "Importar items",
          "id": "actions-table-item-1",
          "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        },
        {
          "text": "Aceptar",
          "ariaLabel": "Aceptar",
          "id": "actions-table-item-2",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "href": "#"
        },
        {
          "text": "Reenviar",
          "ariaLabel": "Reenviar items seleccionados",
          "id": "actions-table-item-3",
          "classes": "c-menubar__button--sm mb-sm mr-sm",
          "sub": {
            "items": [
              {
                "role": "menuitem",
                "text": "A una bandeja personal"
              },
              {
                "role": "menuitem",
                "text": "A un organismo"
              }
            ],
            "attributes": {
              "aria-labelledby": "actions-table-item-3"
            }
          }
        }
      ]
    })  }}
  </div>
</section>
{# fin Barra de Acciones #}