<section aria-labelledby="lista">
  <h2 id="lista" class="sr-only">Lista de items</h2>
  <ul>
    <li>
      {% set itemId = "001" %}
      {% set itemText = "Titulo de item 1" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "002" %}
      {% set itemText = "Titulo de item 2" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "003" %}
      {% set itemText = "Titulo de item 3" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "004" %}
      {% set itemText = "Titulo de item 4" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "005" %}
      {% set itemText = "Titulo de item 5" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "006" %}
      {% set itemText = "Titulo de item 6" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "007" %}
      {% set itemText = "Titulo de item 7" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
    <li>
      {% set itemId = "008" %}
      {% set itemText = "Titulo de item 8" %}
      {% include "includes/_pattern.component-item-list-services.njk" %}
    </li>
  </ul>
</section>