{% from "components/button/_macro.button.njk" import componentButton %}

<section class="mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina-siguiente-paso-restaurar">
  <h2 id="acciones-de-pagina-siguiente-paso-restaurar" class="sr-only">Acciones de página</h2>
  <ul class="flex flex-col lg:flex-row flex-wrap gap-sm">
    <li>
      {{ componentButton({
      "text": "Siguiente paso",
      "classes": "c-button--primary",
      "type": "submit"
      })  }}
    </li>
    <li>
      {{ componentButton({
      "text": "Saltar",
      "classes": "c-button--transparent"
      })  }}
    </li>
  </ul>
</section>