{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<div class="pb-lg"></div>
<div class="lg:flex lg:flex-wrap w-full mb-base">
  <h1 id="page-title-1" class="c-h1 flex-1">Titulo de página (h1)</h1>
  <section class="mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina-1">
    <h2 id="acciones-de-pagina-1" class="sr-only">Acciones de página</h2>
    {#
      Patrones > Acciones > Primaria, secundaria y terciarias
    #}
    <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-sm">
      <li>
        {{ componentButton({
        "text": "Acción principal",
        "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
        "text": "Acción secundaria"
        })  }}
      </li>
      <li>
        {% call componentDropdown({
          "text": "Más acciones"
        })  %}
          {{ componentNav({
            "hasNav": false,
            "idPrefix": "mas-acciones-de-pagina-1",
            "items": [
              {
                "href": "#",
                "text": "Acción terciaria 1"
              },
              {
                "href": "#",
                "text": "Acción terciaria 2"
              },
              {
                "href": "#",
                "text": "Acción terciaria 3",
                "divider": true
              },
              {
                "href": "#",
                "text": "Otras acciones..."
              }
            ],
            "classes": "w-max max-w-64",
            "attributes": {
              "aria-label": "Más acciones"
            }
          })  }}
        {% endcall %}
      </li>
    </ul>
    {#
      /Patrones > Acciones > Primaria, secundaria y terciarias
    #}
  </section>
</div>