{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

<div class="mb-sm">
  {{ componentSearchbar({
    "id": "searchbar-filter-2",
    "label": {
      "text": "Buscar en esta página"
    },
    "button": {
      "text": "Buscar",
      "type": "submit",
      "classes": "c-button--primary"
    },
    "classes": "flex-1",
    "placeholder": "Buscar documento o dato"
  }) }}
</div>

{{ componentMenubar({
  "id": "filter-items-2",
  "idPrefix": "filter-example-2",
  "ariaLabel":"Filtrar items de la lista",
  "items": [
    {
      "text": "Tipo",
      "id": "filter-item-2",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "label": {
        "text": "Filtrar por tipo",
        "classes": "sr-only"
      },
      "sub": {
        "items": [
          {
            "role": "menuitemcheckbox",
            "text": "Tipo 1"
          },
          {
            "role": "menuitemcheckbox",
            "text": "Tipo 2"
          },
          {
            "role": "menuitemcheckbox",
            "text": "Tipo 3"
          }
        ],
        "attributes": {
          "aria-labelledby": "filter-item-2"
        }
      }
    },
    {
      "text": "Fecha",
      "id": "filter-example-item-3-2",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "sub": {
        "items": [
          {
            "role": "group",
            "ariaLabel": "Filtrar por fecha",
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Fecha 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Fecha 2"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Fecha 3"
              }
            ]
          }
        ]
      }
    },
    {
      "text": "Otros",
      "id": "filter-example-item-4-2",
      "classes": "c-menubar__button--sm mb-sm mr-sm",
      "sub": {
        "items": [
          {
            "role": "group",
            "ariaLabel": "Filtrar por otros",
            "items": [
              {
                "role": "menuitemcheckbox",
                "text": "Otro 1"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Otro 2"
              },
              {
                "role": "menuitemcheckbox",
                "text": "Otro 3"
              }
            ]
          }
        ]
      }
    },
    {
      "text": "Eliminar filtros",
      "id": "filter-example-item-5-2",
      "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
      "href": "#"
    }
  ]
})  }}