{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

<div class="mt-base">
  <h2 id="paginacion" class="sr-only">Paginación</h2>
  {{ componentPagination({
    "hasSelect": true,
    "idPrefix": "pagination",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      },
      {
        "href": "#",
        "text": 4
      },
      {
        "href": "#",
        "text": 5
      },
      {
        "href": "#",
        "text": 6
      }
    ],
    "hasPrevious": false,
    "hasNext": true,
    "previousText": "Anterior",
    "nextText": "Siguiente",
    "attributes": {
      "aria-labelledby": "paginacion"
    }
  })  }}
</div>