{% from "components/item-list-services/_macro.item-list-services.njk" import componentItemListServices %}
{% import "includes/_actions-examples-item-list-services.njk" as actions with context %}

{% call componentItemListServices({
  "idNumber": itemId,
  "text": itemText,
  "status": {
    "type": "publicado"
  },
  "statusDateText": "Publicado el 10 de enero",
  "link": {
    "html": '<span class="sr-only">' + itemId + ' - ' + itemText + '.</span> Ver en aragon.es',
    "url": "http://www.aragon.es"
  },
  "items": {
    "classes": "lg:flex lg:flex-wrap w-full",
    "items": [
      {
        "term": {
          "text": "Metadato A"
        },
        "definition": {
          "text": "Valor del metadato A"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      },
      {
        "term": {
          "text": "Metadato B"
        },
        "definition": {
          "text": "Valor del metadato B"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      },
      {
        "term": {
          "text": "Metadato C"
        },
        "definition": {
          "text": "Valor del metadato C"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      },
      {
        "term": {
          "text": "Metadato D"
        },
        "definition": {
          "text": "Valor del metadato D"
        },
        "classes": "lg:w-1/2 pr-base mb-xs"
      }
    ]
  }
})  %}
  {{ actions.actionsPublicado | safe }}
{% endcall %}