<nav aria-label="Cronología de pasos del formulario">
  <ol class="flex lg:flex-row flex-col items-start lg:mx-xl mx-sm">
    <li>
      <div class="relative flex flex-col items-center overflow-visible">
        <button class="aspect-square rounded-full c-button flex justify-center"><span class="text-2xl">1</span><span class="sr-only">-</span><span class="absolute lg:top-14 lg:ml-0 ml-60 c-link font-normal lg:text-center text-start w-40">Paso anterior</span></button>
      </div>
    </li>
    <li class="lg:border-t-4 lg:border-l-0 border-l-4 border-primary-base lg:grow lg:my-6 h-lg lg:-mx-lg ml-5 overflow-hidden" role="separator" aria-hidden="true"></li>
    <li>
      <div class="relative flex flex-col items-center overflow-visible">
        <button class="aspect-square rounded-full c-button c-button--primary flex justify-center pointer-events-none" aria-current="page" tabindex="-1"><span class="text-2xl">2</span><span class="sr-only">-</span><span class="absolute lg:top-14 lg:ml-0 ml-60 text-primary-base c-link c-link--no-underline font-bold lg:text-center text-start w-40">Paso actual</span></button>
      </div>
    </li>
    <li class="lg:border-t-4 lg:border-l-0 border-l-4 border-neutral-light lg:grow lg:my-6 h-lg lg:-mx-lg ml-5 overflow-hidden" role="separator" aria-hidden="true"></li>
    <li>
      <div class="relative flex flex-col items-center overflow-visible bg-white lg:w-12">
        <button class="aspect-square rounded-full c-button c-button--disabled disabled flex justify-center" disabled="disabled" aria-disabled="true" tabindex="-1"><span class="text-2xl">3</span><span class="sr-only">-</span><span class="absolute lg:top-14 lg:ml-0 ml-60 font-normal lg:text-center text-start w-40">Paso posterior</span></button>
      </div>
    </li>
  </ol>
</nav>