<h2 id="contacto" class="c-h2 group">Ponte en contacto  <a href="#contacto" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
<div class="grid gap-lg lg:grid-cols-2">
  <div>
    <h3 class="c-h3">Si eres ciudadano/a:</h3>
    <div>
      <p class="c-paragraph-base">
        Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
      </p>
      <ul class="c-ul">
        <li><p>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link inline-block">976 289 414</a>.</p><p>Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</p></li>
        <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
        <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
      </ul>
    </div>
  </div>
  <div>
    <h3 class="c-h3">Si trabajas para el Gobierno de Aragón:</h3>
    <div>
      <p class="c-paragraph-base">
        Puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
      </p>
      <ul class="c-ul">
        <li><p>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link inline-block">976 289 414</a>.</p><p>Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</p></li>
        <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
        <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
      </ul>
    </div>
  </div>
</div>