{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

<section aria-labelledby="ultimos-items" class="mb-lg">
  <h2 id="ultimos-items" class="c-h2 mb-xs">Últimos items</h2>
  {% include "includes/_pattern.acciones-de-tabla.njk" %}
  {# Tabla-Listado de items #}
  <div class="max-w-full overflow-x-auto mb-lg">
    {{ componentTableAdvanced({
      "idPrefix": "listado-items",
      "hasCheckboxes": true,
      "caption": "Listado de últimos items pendientes",
      "captionClasses": "sr-only",
      "attributes": {
        "aria-describedby": "descTable1"
      },
      "head": [
        {
          "html": 'Asunto',
          "orderBy": "none",
          "hasFilter": true
        },
        {
          "html": 'Registro',
          "orderBy": "none"
        },
        {
          "html": 'Origen',
          "orderBy": "none",
          "classes": "min-w-24"
        },
        {
          "html": 'Remitente',
          "orderBy": "none"
        }
      ],
      "rows": [
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo con prueba de título muy largo a ver qué pasa con los saltos de línea</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'REGFIA'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'REGFIA'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Comunicación de apertura de centro de trabajo</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'TTO'
          },
          {
            "html": 'Dirección General de Administración'
          }
        ],
        [
          {
            "html": '<a href="#" class="c-link">Solicitud de autorización de transporte escolar</a>'
          },
          {
            "html": '<div class="whitespace-nowrap">21/09/2020, 10:30</div>'
          },
          {
            "html": 'Interno'
          },
          {
            "html": 'Pruebas Soporte Administración'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "min-w-full"
    })  }}
  </div>
  {# fin Tabla-Listado de items #}
</section>