{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}

<fieldset>
  <legend class="sr-only">Datos de contacto</legend>
  {{ componentInput({
    "label": {
      "text": "Correo electrónico"
    },
    "id": "input-email",
    "name": "email",
    "classes": "w-full lg:w-2/5",
    "placeholder": "ejemplo@mail.com",
    "autocomplete": "email"
  })  }}
  {{ componentInput({
    "label": {
      "text": "Teléfono móvil"
    },
    "id": "input-movil",
    "name": "movil",
    "attributes": {
      "size": "19"
    },
    "placeholder": "652000000",
    "autocomplete": "tel-national"
  })  }}
</fieldset>