{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

{% call componentDropdown({
  "html": 'Más<span class="sr-only"> acciones relacionadas con el servicio '+ itemId + ' - ' + itemText +'</span>',
  "classes": "c-dropdown--secondary c-dropdown--sm mr-base",
  "classesTooltip": "absolute"
})  %}
  {{ componentNav({
    "isMenu": true,
    "idPrefix": "site-menu-item",
    "attributes": {
    "id": "nav-id-example",
    "aria-label": "Más acciones"
    },
    "items": [
    {
      "href": "#",
      "text": "Ver detalles"
    },
    {
      "href": "#",
      "text": "Ver en aragon.es",
      "divider": true
    },
    {
      "href": "#",
      "text": "Ver datos generales"
    },
    {
      "href": "#",
      "text": "Ver convocatorias"
    },
    {
      "href": "#",
      "text": "Duplicar",
      "divider": true
    },
    {
      "href": "#",
      "text": "Dar de baja...",
      "classes": "text-alert-base"
    }
    ],
    "classes": "w-max max-w-64"
  })  }}
{% endcall %}