
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/select/_macro.select.njk" import componentSelect %}

<fieldset>
  <legend class="sr-only">Datos de identidad</legend>
  {{ componentInput({
    "label": {
      "text": "Nombre y apellidos (Obligatorio)"
    },
    "id": "input-nombre",
    "name": "nombre",
    "classes": "w-full lg:w-2/5",
    "autocomplete": "name"
  })  }}
  {{ componentInput({
    "label": {
      "text": "NIF o NIE (Obligatorio)"
    },
    "placeholder": "234556789N",
    "id": "input-nif",
    "name": "nif",
    "attributes": {
      "size": "19"
    }
  })  }}
</fieldset>