{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{% from "components/card/_macro.card.njk" import componentCard %}
 
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Diferencias entre componentes"
  }) }}
  <p class="c-paragraph-base">Existen varios componentes que tienen una apariencia y funcionamiento similar, aunque deben usarse uno u otro dependiendo de la finalidad y el contexto.</p>
  {% call componentExample()  %}
    <ol class="flex flex-col lg:flex-row flex-wrap gap-lg items-top mb-lg">
      <li class="flex flex-col">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">1</span>
        <h3 class="c-h3 mb-0">Selector</h3>
        {{ componentSelect({
          "id": "select-1",
          "name": "select-1",
          "items": [
            {
              "value": 1,
              "text": "Opción 1"
            },
            {
              "value": 2,
              "text": "Opción 2",
              "selected": true
            },
            {
              "value": 3,
              "text": "Opción 3",
              "disabled": true
            }
          ]
        })  }}
      </li>
      <li class="flex flex-col">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">2</span>
        <h3 class="c-h3">Desplegable</h3>
        {{ componentDropdown({
          "text": "Desplegable",
          "caller": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        })  }}
      </li>
      <li class="flex flex-col">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">3</span>
        {{ componentListbox({
          "id": "default",
          "text": "Listado en caja",
          "label": {
            "html": '<h3 class="c-h3">Listado en caja</h3>'
          },
          "items": [
            {
              "href": "#",
              "html": "Opción 1"
            },
            {
              "href": "#",
              "text": "Opción 2"
            },
            {
              "href": "#",
              "text": "Opción 3"
            },
            {
              "href": "#",
              "text": "Opción 4"
            },
            {
              "href": "#",
              "text": "Opción 5"
            }
          ]
        })  }}
      </li>
      <li class="flex flex-col">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">4</span>
        <div>
          <h3 class="c-h3">Menú de navegación</h3>
          {{ componentMenuNavigation({
            "idPrefix": "right-example",
            "classes": "c-menu-navigation--last-right",
            "items": [
              {
                "text": "Item 1",
                "id": "right-example-item-1",
                "sub": {
                  "items": [
                    {
                      "href": "#",
                      "text": "Subitem 1"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 2"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 3"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "right-example-item-1"
                  }
                }
              },
              {
                "text": "Item 2",
                "id": "right-example-item-2",
                "sub": {
                  "items": [
                    {
                      "href": "#",
                      "text": "Subitem 1"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 2"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 3"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "right-example-item-2"
                  }
                }
              },
              {
                "text": "Item 3",
                "id": "right-example-item-3",
                "sub": {
                  "items": [
                    {
                      "href": "#",
                      "text": "Subitem 1"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 2"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 3"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "right-example-item-3"
                  }
                }
              },
              {
                "text": "Item 4",
                "id": "right-example-item-4",
                "sub": {
                  "items": [
                    {
                      "href": "#",
                      "text": "Subitem 1"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 2"
                    },
                    {
                      "href": "#",
                      "text": "Subitem 3"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "right-example-item-4"
                  }
                }
              }
            ],
            "attributes": {
              "aria-label": "Menu navigation"
            }
          }) }}
        </div>
      </li>
      <li class="flex flex-col">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">5</span>
        <div>
          <h3 class="c-h3">Barra de menús</h3>
          {{ componentMenubar({
            "id": "with-all-parent-items-1",
            "idPrefix": "parent-example",
            "ariaLabel": "Menubar description",
            "items": [
              {
                "text": "Menuitem",
                "ariaLabel": "Menuitem",
                "id": "menuitems-example-item-1-1",
                "sub": {
                  "items": [
                    {
                      "role": "menuitem",
                      "text": "Subitem 1"
                    },
                    {
                      "role": "menuitem",
                      "text": "Subitem 2"
                    },
                    {
                      "role": "menuitem",
                      "text": "Subitem 3"
                    }
                  ]
                },
                "classes": "mb-base mr-base"
              },
              {
                "text": "Menuitemcheckbox",
                "ariaLabel": "Menuitemcheckbox",
                "id": "menuitems-example-item-2-1",
                "classes": "mb-base mr-base",
                "sub": {
                  "items": [
                    {
                      "role": "menuitemcheckbox",
                      "text": "Subitem 1"
                    },
                    {
                      "role": "menuitemcheckbox",
                      "text": "Subitem 2",
                      "checked": true
                    },
                    {
                      "role": "menuitemcheckbox",
                      "text": "Subitem 3"
                    }
                  ]
                }
              },
              {
                "text": "Menuitemradio",
                "ariaLabel": "Menuitemradio",
                "id": "menuitems-example-item-3-1",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "group label",
                      "items": [
                        {
                          "role": "menuitemradio",
                          "text": "Radio 1"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Radio 2",
                          "checked": true
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Radio 3"
                        }
                      ]
                    }
                  ]
                },
                "classes": "mb-base mr-base"
              },
              {
                "text": "Mixed items",
                "ariaLabel": "Mixeditems",
                "id": "menuitems-example-item-4-1",
                "sub": {
                  "items": [
                    {
                      "role": "group",
                      "ariaLabel": "Tamaño de letra",
                      "items": [
                        {
                          "role": "menuitem",
                          "text": "Tamaño mayor"
                        },
                        {
                          "role": "menuitem",
                          "text": "Tamaño menor"
                        }
                      ]
                    },
                    {
                      "role": "separator"
                    },
                    {
                      "role": "group",
                      "ariaLabel": "Estilo de letra",
                      "items": [
                        {
                          "role": "menuitemcheckbox",
                          "text": "Negritas"
                        },
                        {
                          "role": "menuitemcheckbox",
                          "text": "Itálicas"
                        }
                      ]
                    },
                    {
                      "role": "separator"
                    },
                    {
                      "role": "group",
                      "ariaLabel": "Estilo de texto",
                      "items": [
                        {
                          "role": "menuitemradio",
                          "text": "Ninguno"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Tachado"
                        },
                        {
                          "role": "menuitemradio",
                          "text": "Subrayado"
                        }
                      ]
                    }
                  ]
                },
                "classes": "mb-base mr-base"
              },
              {
                "text": "Menuitem solo",
                "ariaLabel": "Menuitem solo",
                "id": "menuitems-example-item-6-1",
                "classes": "c-menubar__button--transparent mb-base mr-base",
                "href": "#"
              }
            ]
          })  }}
        </div>
      </li>
    </ol>
  {% endcall %}
  <ol class="pt-base">
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span>
      <span class="inline-block ml-base align-middle"><a href="componente-selector-codigo.html" class="c-link font-semibold">Selector.</a> Se usa específicamente en formularios, tienen una apariencia y tamaño alineado con los inputs.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span>
      <span class="inline-block ml-base align-middle"><a href="componente-dropdown-codigo.html" class="c-link font-semibold">Desplegable.</a> Es un componente que despliega un contenedor genérico en el que puede incluirse cualquier otro componente.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">3</span>
      <span class="inline-block ml-base align-middle"><a href="componente-listbox-codigo.html" class="c-link font-semibold">Listado en caja.</a> Se usa para hacer un listado de opciones.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">4</span>
      <span class="inline-block ml-base align-middle"><a href="componente-menu-navigation-codigo.html" class="c-link font-semibold">Menú de navegación.</a> Se usan específicamente para navegar en la aplicación, puede tener varias apariencias según el contexto.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">5</span>
      <span class="inline-block ml-base align-middle"><a href="componente-menubar-codigo.html" class="c-link font-semibold">Barra de menús.</a> Genera cambios en otro sitio de la página, pero no navega a otro sitio diferente. Se pueden seleccionar múltiples opciones y agruparlas de distintas maneras. Por ejemplo para filtros.</span>
    </li>
  </ol>