{% macro DSSectionTitle(params) %}
<h2 id="{{ params.title | filterslugify }}" class="c-h2 group">{{params.title}} <a href="#{{ params.title | filterslugify }}" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
{% endmacro %}