{% macro DSSubsectionTitle(params) %}
<h3 id="{{ params.title | filterslugify }}" class="c-h3 group">{{ params.title }} <a href="#{{ params.title | filterslugify }}" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h3>
{% endmacro %}