{% macro componentContentHeader(component, paragraph, subtitle) %}
  <div class="lg:pb-lg pb-sm"></div>
  <div class="flex flex-col-reverse">
    <h1 class="c-h1">{{ component }}</h1>
    {% if subtitle %}
    <p class="c-paragraph-base text-neutral-dark mb-0">{{ subtitle }}</p>
    {% endif %}
  </div>
  <p class="c-paragraph-lg">
    {{ paragraph }}
  </p>
{% endmacro %}

{% macro componentContentMenu(component) %}
  {% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "componente-" + component + ".html",
        "text": "Uso",
        "active": true
      },
      {
        "href": "componente-" + component + "-codigo.html",
        "text": "Código Nunjucks y HTML"
      },
      {
        "href": "componente-" + component + "-codigo-angular.html",
        "text": "Código Angular"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}
{% endmacro %}

{% macro componentContentMenuCode(component) %}
  {% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "componente-" + component + ".html",
        "text": "Uso"
      },
      {
        "href": "componente-" + component + "-codigo.html",
        "text": "Código Nunjucks y HTML",
        "active": true
      },
      {
        "href": "componente-" + component + "-codigo-angular.html",
        "text": "Código Angular"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}
{% endmacro %}

{% macro componentContentMenuCodeAngular(component) %}
  {% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "componente-" + component + ".html",
        "text": "Uso"
      },
      {
        "href": "componente-" + component + "-codigo.html",
        "text": "Código Nunjucks y HTML"
      },
      {
        "href": "componente-" + component + "-codigo-angular.html",
        "text": "Código Angular",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}
{% endmacro %}

{% macro componentContentCode(component) %}
  <div class="pb-xl"></div>
    {% import "components/" + component + "/_examples." + component + ".njk" as exampleData %}
    {% from "_macro.example-render.njk" import exampleRender %}
    {{ exampleRender({
      data: exampleData
    }) }}
{% endmacro %}