{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/tree/_macro.tree.njk" import componentTree %}


{% set componentes = [
  ["botones", "Botones"],
  ["formularios", "Formularios"],
  ["input-text", "Entrada de texto"],
  ["textarea", "Área de texto"],
  ["selector", "Selector"],
  ["file-upload", "Carga de archivos"],
  ["radios", "Botón de radio"],
  ["checkboxes", "Casilla de verificación"],
  ["bloques-de-datos", "Bloques de datos"],
  ["tree", "Árbol"],
  ["item", "Item"],
  ["status", "Item de estado"],
  ["dropdown", "Desplegable"],
  ["searchbar", "Barra de búsqueda"],
  ["breadcrumbs", "Migas de pan"],
  ["paginacion", "Paginación"],
  ["pills", "Píldoras"],
  ["notificaciones", "Notificaciones"],
  ["error-summary", "Resumen de errores"],
  ["tooltip", "Globo de ayuda"],
  ["detalles", "Detalles"],
  ["acordeon", "Acordeón"],
  ["acordeon-historico", "Acordeón histórico"],
  ["toggle", "Interruptor"],
  ["modal", "Modal"],
  ["cabeceras", "Cabeceras"],
  ["menu-horizontal", "Menú horizontal"],
  ["menu-vertical", "Menú vertical"],
  ["footer", "Pie de página"],
  ["card", "Card"],
  ["links-list", "Listado de enlaces"],
  ["tabla", "Tabla"],
  ["tabs", "Pestañas"],
  ["iconos", "Iconos"],
  ["imagenes", "Imágenes"],
  ["description-list", "Listado de descripciones"],
  ["spinner", "Spinner"]
] %}

{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "mobile-item",
    "items": [
      {
      "href": "componente-principales.html",
      "text": "Componentes principales",
      "id": "componente-mobile-principales",
      "sub": {
        "items": [
            {
            "href": "componente-" + componentes[0][0] + ".html",
            "text": componentes[0][1],
            "id": "componente-mobile-" + componentes[0][0]
            },
            {
            "href": "componente-" + componentes[25][0] + ".html",
            "text": componentes[25][1],
            "id": "componente-mobile-" + componentes[25][0]
            },
            {
            "href": "componente-" + componentes[28][0] + ".html",
            "text": componentes[28][1],
            "id": "componente-mobile-" + componentes[28][0]
            }
          ]
        }
      },
      {
        "href": "componente-formularios.html",
        "text": "Formularios",
        "id": "componente-mobile-formularios",
        "sub": {
          "items": [
            {
              "href": "componente-tree.html",
              "text": "Árbol",
              "id": "componente-mobile-tree"
            },
            {
              "href": "componente-textarea.html",
              "text": "Área de texto",
              "id": "componente-mobile-textarea"
            },
            {
              "href": "componente-bloques-de-datos.html",
              "text": "Bloques de datos",
              "id": "componente-mobile-bloques-de-datos"
            },
            {
              "href": "componente-radios.html",
              "text": "Botón de radio",
              "id": "componente-mobile-radios"
            },
            {
              "href": "componente-datepicker.html",
              "text": "Calendario",
              "id": "componente-mobile-datepicker"
            },
            {
              "href": "componente-file-upload.html",
              "text": "Carga de archivos",
              "id": "componente-mobile-file-upload"
            },
            {
              "href": "componente-checkboxes.html",
              "text": "Casilla de verificación",
              "id": "componente-mobile-checkboxes"
            },
            {
              "href": "componente-input-text.html",
              "text": "Entrada de texto",
              "id": "componente-mobile-input-text"
            },
            {
              "href": "componente-selector.html",
              "text": "Selector",
              "id": "componente-mobile-selector"
            }
          ]
        }
      },
      {
      "href": "componente-navegacion.html",
      "text": "Navegación",
      "id": "componente-mobile-navegacion",
      "sub": {
          "items": [
            {
            "href": "componente-searchbar.html",
            "text": "Barra de búsqueda",
            "id": "componente-mobile-searchbar"
            },
            {
            "href": "componente-links-list.html",
            "text": "Listado de enlaces",
            "id": "componente-mobile-links-list"
            },
            {
            "href": "componente-menu-navigation.html",
            "text": "Menú de navegación",
            "id": "componente-mobile-menu-navigation"
            },
            {
            "href": "componente-menu-horizontal.html",
            "text": "Menú horizontal",
            "id": "componente-mobile-menu-horizontal"
            },
            {
            "href": "componente-menu-vertical.html",
            "text": "Menú vertical",
            "id": "componente-mobile-menu-vertical"
            },
            {
            "href": "componente-breadcrumbs.html",
            "text": "Migas de pan",
            "id": "componente-mobile-breadcrumbs" 
            },
            {
            "href": "componente-paginacion.html",
            "text": "Paginación",
            "id": "componente-mobile-paginacion"
            }
          ]
        }
      },
      {
      "href": "componente-mostrar-ocultar.html",
      "text": "Mostrar y ocultar",
      "id": "componente-mobile-mostrar-ocultar",
      "sub": {
          "items": [
            {
            "href": "componente-acordeon.html",
            "text": "Acordeón",
            "id": "componente-mobile-acordeon"
            },
            {
            "href": "componente-acordeon-historico.html",
            "text": "Acordeón histórico",
            "id": "componente-mobile-acordeon-historico"
            },
            {
            "href": "componente-menubar.html",
            "text": "Barra de menús",
            "id": "componente-mobile-menubar"
            },
            {
            "href": "componente-dropdown.html",
            "text": "Desplegable",
            "id": "componente-mobile-dropdown"
            },
            {
            "href": "componente-detalles.html",
            "text": "Detalles",
            "id": "componente-mobile-detalles"
            },
            {
            "href": "componente-tooltip.html",
            "text": "Globo de ayuda",
            "id": "componente-mobile-tooltip"
            },
            {
            "href": "componente-toggle.html",
            "text": "Interruptor",
            "id": "componente-mobile-toggle"
            },
            {
            "href": "componente-tabs.html",
            "text": "Pestañas",
            "id": "componente-mobile-tabs"
            }
          ]
        }
      },
      {
      "href": "componente-datos.html",
      "text": "Datos",
      "id": "componente-mobile-datos",
      "sub": {
          "items": [
            {
            "href": "componente-item.html",
            "text": "Item",
            "id": "componente-mobile-item"
            },
            {
            "href": "componente-status.html",
            "text": "Item de estado",
            "id": "componente-mobile-status"
            },
            {
            "href": "componente-description-list.html",
            "text": "Listado de descripciones",
            "id": "componente-mobile-description-list"
            },
            {
            "href": "componente-pills.html",
            "text": "Píldoras",
            "id": "componente-mobile-pills"
            },
            {
            "href": "componente-tabla.html",
            "text": "Tabla",
            "id": "componente-mobile-tabla"
            }
          ]
        }
      },
      {
      "href": "componente-avisos.html",
      "text": "Avisos",
      "id": "componente-mobile-avisos",
      "sub": {
          "items": [
            {
            "href": "componente-modal.html",
            "text": "Modal",
            "id": "componente-mobile-modal"
            },
            {
            "href": "componente-notificaciones.html",
            "text": "Notificaciones",
            "id": "componente-mobile-notificaciones"
            },
            {
            "href": "componente-error-summary.html",
            "text": "Resumen de errores",
            "id": "componente-mobile-error-summary"
            }
          ]
        }
      },
      {
      "href": "componente-info-visual.html",
      "text": "Información visual",
      "id": "componente-mobile-info-visual",
      "sub": {
          "items": [
            {
            "href": "componente-" + componentes[29][0] + ".html",
            "text": componentes[29][1],
            "id": "componente-mobile-" + componentes[29][0]
            },
            {
            "href": "componente-" + componentes[33][0] + ".html",
            "text": componentes[33][1],
            "id": "componente-mobile-" + componentes[33][0]
            },
            {
            "href": "componente-" + componentes[34][0] + ".html",
            "text": componentes[34][1],
            "id": "componente-mobile-" + componentes[34][0]
            },
            {
            "href": "componente-" + componentes[36][0] + "-codigo.html",
            "text": componentes[36][1],
            "id": "componente-mobile-" + componentes[36][0]
            }
          ]
        }
      }
    ],
    "attributes": {
      "id": "menu-mobile-componentes",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

{% set menuSidebar %}
    {{ componentTree({
    "idPrefix": "menu-lateral-componentes",
    "type": "navigation",
    "items": [
      {
      "href": "componente-principales.html",
      "text": "Componentes principales",
      "id": "componente-principales",
      "sub": {
        "items": [
            {
            "href": "componente-" + componentes[0][0] + ".html",
            "text": componentes[0][1],
            "id": "componente-" + componentes[0][0]
            },
            {
            "href": "componente-" + componentes[25][0] + ".html",
            "text": componentes[25][1],
            "id": "componente-" + componentes[25][0]
            },
            {
            "href": "componente-" + componentes[28][0] + ".html",
            "text": componentes[28][1],
            "id": "componente-" + componentes[28][0]
            }
          ]
        }
      },
      {
        "href": "componente-formularios.html",
        "text": "Formularios",
        "id": "componente-formularios",
        "sub": {
          "items": [
            {
              "href": "componente-tree.html",
              "text": "Árbol",
              "id": "componente-tree"
            },
            {
              "href": "componente-textarea.html",
              "text": "Área de texto",
              "id": "componente-textarea"
            },
            {
              "href": "componente-bloques-de-datos.html",
              "text": "Bloques de datos",
              "id": "componente-bloques-de-datos"
            },
            {
              "href": "componente-radios.html",
              "text": "Botón de radio",
              "id": "componente-radios"
            },
            {
              "href": "componente-datepicker.html",
              "text": "Calendario",
              "id": "componente-datepicker"
            },
            {
              "href": "componente-file-upload.html",
              "text": "Carga de archivos",
              "id": "componente-file-upload"
            },
            {
              "href": "componente-checkboxes.html",
              "text": "Casilla de verificación",
              "id": "componente-checkboxes"
            },
            {
              "href": "componente-input-text.html",
              "text": "Entrada de texto",
              "id": "componente-input-text"
            },
            {
              "href": "componente-selector.html",
              "text": "Selector",
              "id": "componente-selector"
            }
          ]
        }
      },
      {
      "href": "componente-navegacion.html",
      "text": "Navegación",
      "id": "componente-navegacion",
      "sub": {
          "items": [
            {
            "href": "componente-searchbar.html",
            "text": "Barra de búsqueda",
            "id": "componente-searchbar"
            },
            {
            "href": "componente-links-list.html",
            "text": "Listado de enlaces",
            "id": "componente-links-list"
            },
            {
            "href": "componente-menu-navigation.html",
            "text": "Menú de navegación",
            "id": "componente-menu-navigation"
            },
            {
            "href": "componente-menu-horizontal.html",
            "text": "Menú horizontal",
            "id": "componente-menu-horizontal"
            },
            {
            "href": "componente-menu-vertical.html",
            "text": "Menú vertical",
            "id": "componente-menu-vertical"
            },
            {
            "href": "componente-breadcrumbs.html",
            "text": "Migas de pan",
            "id": "componente-breadcrumbs" 
            },
            {
            "href": "componente-paginacion.html",
            "text": "Paginación",
            "id": "componente-paginacion"
            }
          ]
        }
      },
      {
      "href": "componente-mostrar-ocultar.html",
      "text": "Mostrar y ocultar",
      "id": "componente-mostrar-ocultar",
      "sub": {
          "items": [
            {
            "href": "componente-acordeon.html",
            "text": "Acordeón",
            "id": "componente-acordeon"
            },
            {
            "href": "componente-acordeon-historico.html",
            "text": "Acordeón histórico",
            "id": "componente-acordeon-historico"
            },
            {
            "href": "componente-menubar.html",
            "text": "Barra de menús",
            "id": "componente-menubar"
            },
            {
            "href": "componente-dropdown.html",
            "text": "Desplegable",
            "id": "componente-dropdown"
            },
            {
            "href": "componente-detalles.html",
            "text": "Detalles",
            "id": "componente-detalles"
            },
            {
            "href": "componente-tooltip.html",
            "text": "Globo de ayuda",
            "id": "componente-tooltip"
            },
            {
            "href": "componente-toggle.html",
            "text": "Interruptor",
            "id": "componente-toggle"
            },
            {
            "href": "componente-tabs.html",
            "text": "Pestañas",
            "id": "componente-tabs"
            }
          ]
        }
      },
      {
      "href": "componente-datos.html",
      "text": "Datos",
      "id": "componente-datos",
      "sub": {
          "items": [
            {
            "href": "componente-item.html",
            "text": "Item",
            "id": "componente-item"
            },
            {
            "href": "componente-status.html",
            "text": "Item de estado",
            "id": "componente-status"
            },
            {
            "href": "componente-description-list.html",
            "text": "Listado de descripciones",
            "id": "componente-description-list"
            },
            {
            "href": "componente-pills.html",
            "text": "Píldoras",
            "id": "componente-pills"
            },
            {
            "href": "componente-tabla.html",
            "text": "Tabla",
            "id": "componente-tabla"
            }
          ]
        }
      },
      {
      "href": "componente-avisos.html",
      "text": "Avisos",
      "id": "componente-avisos",
      "sub": {
          "items": [
            {
            "href": "componente-modal.html",
            "text": "Modal",
            "id": "componente-modal"
            },
            {
            "href": "componente-notificaciones.html",
            "text": "Notificaciones",
            "id": "componente-notificaciones"
            },
            {
            "href": "componente-error-summary.html",
            "text": "Resumen de errores",
            "id": "componente-error-summary"
            }
          ]
        }
      },
      {
      "href": "componente-info-visual.html",
      "text": "Información visual",
      "id": "componente-info-visual",
      "sub": {
          "items": [
            {
            "href": "componente-" + componentes[29][0] + ".html",
            "text": componentes[29][1],
            "id": "componente-" + componentes[29][0]
            },
            {
            "href": "componente-" + componentes[33][0] + ".html",
            "text": componentes[33][1],
            "id": "componente-" + componentes[33][0]
            },
            {
            "href": "componente-" + componentes[34][0] + ".html",
            "text": componentes[34][1],
            "id": "componente-" + componentes[34][0]
            },
            {
            "href": "componente-" + componentes[36][0] + "-codigo.html",
            "text": componentes[36][1],
            "id": "componente-" + componentes[36][0]
            }
          ]
        }
      }
    ],
    "attributes": {
      "id": "menu-lateral-componentes",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}

<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="uppercase text-sm text-neutral-dark lg:not-sr-only sr-only">
  <span class="hidden lg:block mt-sm">Componentes</span>
  <span class="lg:hidden sr-only">Índice de páginas</span>
</h2>
<div class="hidden lg:block">
  {{ menuSidebar | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Componentes",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-mobile-componentes','componente-mobile-" + componente[1] + "' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 


