{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}



{% set apartados = [
  "Color",
  "Espaciado",
  "Retícula",
  "Tipografía",
  "Lenguaje claro",
  "Uso de imágenes"
] %}

{% set menuSidebarMobile %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "estilos-color.html",
        "text": apartados[0],
        "id": "apartado-" + apartados[0] + "-mobile"
      },
      {
        "href": "estilos-espaciado.html",
        "text": apartados[1],
        "id": "apartado-" + apartados[1] + "-mobile"
      },
      {
        "href": "estilos-reticula.html",
        "text": apartados[2],
        "id": "apartado-" + apartados[2] + "-mobile"
      },
      {
        "href": "estilos-tipografia.html",
        "text": apartados[3],
        "id": "apartado-" + apartados[3] + "-mobile"
      },
      {
        "href": "estilos-lenguaje.html",
        "text": apartados[4],
        "id": "apartado-" + apartados[4] + "-mobile"
      },
      {
        "href": "estilos-imagenes.html",
        "text": apartados[5],
        "id": "apartado-" + apartados[5]  + "-mobile"
      }
    ],
    "attributes": {
      "id": "menu-mobile-estilos",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}
{% set menuSidebarEstilos %}
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "estilos-color.html",
        "text": apartados[0],
        "id": "apartado-" + apartados[0] | filterslugify
      },
      {
        "href": "estilos-espaciado.html",
        "text": apartados[1],
        "id": "apartado-" + apartados[1] | filterslugify
      },
      {
        "href": "estilos-reticula.html",
        "text": apartados[2],
        "id": "apartado-" + apartados[2] | filterslugify
      },
      {
        "href": "estilos-tipografia.html",
        "text": apartados[3],
        "id": "apartado-" + apartados[3] | filterslugify
      },
      {
        "href": "estilos-lenguaje.html",
        "text": apartados[4],
        "id": "apartado-" + apartados[4] | filterslugify
      },
      {
        "href": "estilos-imagenes.html",
        "text": apartados[5],
        "id": "apartado-" + apartados[5] | filterslugify
      }
    ],
    "attributes": {
      "id": "menu-lateral-estilos",
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endset %}


<div class="pb-lg"></div>
<h2 id="apartados-de-pagina" class="uppercase text-sm text-neutral-dark lg:not-sr-only sr-only">
  <span class="hidden lg:block mt-sm">Estilos</span>
  <span class="lg:hidden sr-only">Índice de páginas</span>
</h2>
<div class="hidden lg:block">
  {{ menuSidebarEstilos | safe }}
</div>
<div class="lg:hidden">
  {% call componentDropdown({
    "text": "Estilos",
    "classes": "c-dropdown--transparent",
    "classesTooltip": "max-h-64 overflow-y-auto",
    "caller": "<div class=\" w-64 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-64 \"></div></div>",
    "attributes": {
      "onclick":"selectCurrentMobileItem('menu-mobile-estilos','apartado-" + activeApartado + "-mobile' )"
    }
  })  %}
    <div class=" w-64 p-2 ">
      {{ menuSidebarMobile | safe }}
    </div>
  {% endcall %} 
</div> 
