{% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}

{% call componentHeaderAdvanced({
  "skipLink": {
    "href": skipLinkHref if skipLinkHref else "#content"
  },
  "title": {
      "homepageUrl": "/",
      "text": "DESY"
    },
    "subtitle": {
      "text": "Sistema de Diseño del Gobierno de Aragón."
    },
    "navigation": {
      "items": [
        {
          "href": "/",
          "text": "Inicio"
        },
        {
          "href": "estilos.html",
          "text": "Estilos"
        },
        {
          "href": "componentes.html",
          "text": "Componentes",
          "active": true
        },
        {
          "href": "plantillas.html",
          "text": "Plantillas"
        },
        {
          "href": "librerias.html",
          "text": "Librerías"
        },
        {
          "href": "soporte.html",
          "text": "Soporte"
        }
      ]
    },
    "offcanvas": {
      "text": "Menú",
      "textClose": "Cerrar menú"
    },
    "classes": "relative z-40"
  }) %}
    <nav class="w-full p-2" aria-labelledby="menu-movil-title">
      <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
      <h3 class="p-base text-base font-bold">DESY</h3>
      {{ componentNav({
        "idPrefix": "nav-mobile-pages",
        "hasNav": false,
        "items": [
          {
            "href": "/",
            "text": "Inicio"
          },
          {
            "href": "estilos.html",
            "text": "Estilos"
          },
          {
            "href": "componentes.html",
            "text": "Componentes",
            "active": true
          },
          {
            "href": "plantillas.html",
            "text": "Plantillas"
          },
          {
            "href": "librerias.html",
            "text": "Librerías"
          },
          {
            "href": "soporte.html",
            "text": "Soporte"
          }
        ],
        "attributes": {
          "aria-label": "Lista de páginas"
        }
      })  }}
    </nav>
{% endcall %}