{% macro showTitle( imgId, titleId ) %}
  onmouseover='showTitle("{{titleId}}")' onmouseout='hideTitle("{{titleId}}")' onfocus='focusShowTitle("{{imgId}}","{{titleId}}")' onblur='focusHideTitle("{{imgId}}","{{titleId}}")'
{% endmacro %}


