
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}

{% from "includes/index/_macro.showTitle.njk" import showTitle%}


{% set mia %}
  <div class="lg:my-0 my-lg">
    <div class="flex flex-wrap relative bg-primary-dark">
      <a href="https://www.figma.com/proto/MvC9zRoUjMJtQvCSSqkp3Z/MiA?kind=proto&node-id=1045-18839&page-id=0%3A1&scaling=scale-down-width&show-proto-sidebar=1&starting-point-node-id=1045%3A18839&viewport=527%2C420%2C0.02" target="_blank" title="Se abre en ventana nueva" class="rounded relative bg-primary-dark focus:ring-4 focus:ring-warning-base focus:box-shadow-black c-link w-full rounded"  {{ showTitle( 'mia-img','mia' ) }}>
        <img id="mia-img" class="border border-neutral-base rounded hover:opacity-50 lg:opacity-100 opacity-50 object-cover aspect-auto w-full" src="images/i-mia.png" alt="Vista previa del inicio de la aplicación MiA">
        <span id="mia" class="lg:block hidden c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center sr-only">MIA</span>
        <span class="lg:hidden block c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center">MIA</span>
        <span class="sr-only">Reporoducir el prototipo en línea</span>
        <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" height="40" width="40" class="absolute bottom-base right-base pointer-events-none"><desc>Button Play Alternate Streamline Icon: https://streamlinehq.com</desc><g><path d="M20 0a20 20 0 1 0 20 20A20 20 0 0 0 20 0Zm0 35.71666666666667A15.716666666666667 15.716666666666667 0 1 1 35.71666666666667 20 15.733333333333333 15.733333333333333 0 0 1 20 35.71666666666667Z" fill="currentColor" stroke-width="1"></path><path d="m27.683333333333334 17.85 -9.883333333333333 -5a2.466666666666667 2.466666666666667 0 0 0 -3.7000000000000006 2.35v9.6a2.5500000000000003 2.5500000000000003 0 0 0 1.1666666666666667 2.2333333333333334 2.2833333333333337 2.2833333333333337 0 0 0 1.2666666666666668 0.3666666666666667 2.7333333333333334 2.7333333333333334 0 0 0 1.2666666666666668 -0.3166666666666667l9.883333333333333 -5a2.3166666666666664 2.3166666666666664 0 0 0 0 -4.300000000000001Z" fill="currentColor" stroke-width="1"></path></g></svg>
      </a>
    </div>
    <ul class="col-span-2 flex flex-wrap lg:justify-end mt-base">
      <li>
        {{ componentButton({
        "html": "Descargar prototipo",
        "classes": "c-button--transparent",
        "href": "https://www.figma.com/community/file/1217125965078470205/mia-el-espacio-de-relacion-digital-con-la-ciudadania"
        }) }}
      </li>
      <li>
        {{ componentButton({
        "html": "Ver páginas",
        "classes": "c-button--transparent",
        "href": "https://desy.aragon.es/pages/carpeta-frontend/paginas.html"
        }) }}
      </li>
      <li>
        {{ componentButton({
        "html": "Ir a MiA<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
        "classes": "c-button--transparent",
        "href": "https://mia.aragon.es"
        }) }}
      </li>
    </ul>
  </div>
{% endset %}
{% set appsGestion %}
  <div class="lg:my-0 my-lg">
    <ul class="grid lg:grid-cols-2 gap-base">
      <li class="flex flex-wrap relative bg-primary-dark rounded">
        <a href="https://www.figma.com/proto/uw5IQp7b1rdYiOZBT3YMd5/Aplicaciones-web-del-Gobierno-de-Arag%C3%B3n?page-id=56%3A23676&node-id=56-40362&node-type=canvas&viewport=445%2C540%2C0.03&t=4TSQ7xDaByuvA7VN-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=56%3A40362&show-proto-sidebar=1" target="_blank" title="Se abre en ventana nueva" class="rounded relative bg-primary-dark focus:ring-4 focus:ring-warning-base focus:box-shadow-black c-link w-full rounded" {{ showTitle( 'hal-img','hal' ) }}>
          <img id="hal-img" class="border border-neutral-base rounded hover:opacity-50 lg:opacity-100 opacity-50 object-cover aspect-auto w-full" src="images/i-app1.svg" alt="Vista previa de la aplicación HAL">
          <span id="hal" class="lg:block hidden c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center sr-only">HAL</span>
          <span class="lg:hidden block c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center">HAL</span>
          <span class="sr-only">Reporoducir el prototipo en línea</span>
          <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" height="40" width="40" class="absolute bottom-base right-base pointer-events-none"><desc>Button Play Alternate Streamline Icon: https://streamlinehq.com</desc><g><path d="M20 0a20 20 0 1 0 20 20A20 20 0 0 0 20 0Zm0 35.71666666666667A15.716666666666667 15.716666666666667 0 1 1 35.71666666666667 20 15.733333333333333 15.733333333333333 0 0 1 20 35.71666666666667Z" fill="currentColor" stroke-width="1"></path><path d="m27.683333333333334 17.85 -9.883333333333333 -5a2.466666666666667 2.466666666666667 0 0 0 -3.7000000000000006 2.35v9.6a2.5500000000000003 2.5500000000000003 0 0 0 1.1666666666666667 2.2333333333333334 2.2833333333333337 2.2833333333333337 0 0 0 1.2666666666666668 0.3666666666666667 2.7333333333333334 2.7333333333333334 0 0 0 1.2666666666666668 -0.3166666666666667l9.883333333333333 -5a2.3166666666666664 2.3166666666666664 0 0 0 0 -4.300000000000001Z" fill="currentColor" stroke-width="1"></path></g></svg>
        </a>
      </li>
      <li class="flex flex-wrap relative bg-primary-dark rounded">
        <a href="https://www.figma.com/proto/uw5IQp7b1rdYiOZBT3YMd5/Aplicaciones-web-del-Gobierno-de-Arag%C3%B3n?page-id=0%3A1&node-id=20-22988&node-type=canvas&viewport=181%2C241%2C0.03&t=qRKeHCtfjOPqdSeo-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=20%3A22988&show-proto-sidebar=1" target="_blank" title="Se abre en ventana nueva" class="rounded relative bg-primary-dark focus:ring-4 focus:ring-warning-base focus:box-shadow-black c-link w-full rounded" {{ showTitle( 'imar-img','imar' ) }}>
          <img id="imar-img" class="border border-neutral-base rounded hover:opacity-50 lg:opacity-100 opacity-50 object-cover aspect-auto w-full" src="images/i-app2.svg" alt="Vista previa de la aplicación IMAR">
          <span id="imar" class="lg:block hidden c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center sr-only">IMAR</span>
          <span class="lg:hidden block c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center">IMAR</span>

          <span class="sr-only">Reporoducir el prototipo en línea</span>
          <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" height="40" width="40" class="absolute bottom-base right-base pointer-events-none"><desc>Button Play Alternate Streamline Icon: https://streamlinehq.com</desc><g><path d="M20 0a20 20 0 1 0 20 20A20 20 0 0 0 20 0Zm0 35.71666666666667A15.716666666666667 15.716666666666667 0 1 1 35.71666666666667 20 15.733333333333333 15.733333333333333 0 0 1 20 35.71666666666667Z" fill="currentColor" stroke-width="1"></path><path d="m27.683333333333334 17.85 -9.883333333333333 -5a2.466666666666667 2.466666666666667 0 0 0 -3.7000000000000006 2.35v9.6a2.5500000000000003 2.5500000000000003 0 0 0 1.1666666666666667 2.2333333333333334 2.2833333333333337 2.2833333333333337 0 0 0 1.2666666666666668 0.3666666666666667 2.7333333333333334 2.7333333333333334 0 0 0 1.2666666666666668 -0.3166666666666667l9.883333333333333 -5a2.3166666666666664 2.3166666666666664 0 0 0 0 -4.300000000000001Z" fill="currentColor" stroke-width="1"></path></g></svg>
        </a>
      </li>
      <li class="flex flex-wrap relative bg-primary-dark rounded">
        <a href="https://www.figma.com/proto/uw5IQp7b1rdYiOZBT3YMd5/Aplicaciones-web-del-Gobierno-de-Arag%C3%B3n?page-id=14%3A34537&node-id=20-23288&node-type=canvas&viewport=4839%2C2196%2C0.42&t=l1N0fUzq7FI4jWyp-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=20%3A23288&show-proto-sidebar=1" target="_blank" title="Se abre en ventana nueva" class="rounded relative bg-primary-dark focus:ring-4 focus:ring-warning-base focus:box-shadow-black c-link w-full rounded" {{ showTitle( 'pda-img','pda' ) }}>
          <img id="pda-img" class="border border-neutral-base rounded hover:opacity-50 lg:opacity-100 opacity-50 object-cover aspect-auto w-full" src="images/i-app3.svg" alt="Vista previa de la aplicación PDA">
          <span id="pda" class="lg:block hidden c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center sr-only">PDA</span>
          <span class="lg:hidden block c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center">PDA</span>
          <span class="sr-only">Reporoducir el prototipo en línea</span>
          <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" height="40" width="40" class="absolute bottom-base right-base pointer-events-none"><desc>Button Play Alternate Streamline Icon: https://streamlinehq.com</desc><g><path d="M20 0a20 20 0 1 0 20 20A20 20 0 0 0 20 0Zm0 35.71666666666667A15.716666666666667 15.716666666666667 0 1 1 35.71666666666667 20 15.733333333333333 15.733333333333333 0 0 1 20 35.71666666666667Z" fill="currentColor" stroke-width="1"></path><path d="m27.683333333333334 17.85 -9.883333333333333 -5a2.466666666666667 2.466666666666667 0 0 0 -3.7000000000000006 2.35v9.6a2.5500000000000003 2.5500000000000003 0 0 0 1.1666666666666667 2.2333333333333334 2.2833333333333337 2.2833333333333337 0 0 0 1.2666666666666668 0.3666666666666667 2.7333333333333334 2.7333333333333334 0 0 0 1.2666666666666668 -0.3166666666666667l9.883333333333333 -5a2.3166666666666664 2.3166666666666664 0 0 0 0 -4.300000000000001Z" fill="currentColor" stroke-width="1"></path></g></svg>
        </a>
      </li>
      <li class="flex flex-wrap relative bg-primary-dark rounded">
        <a href="https://www.figma.com/proto/uw5IQp7b1rdYiOZBT3YMd5/Aplicaciones-web-del-Gobierno-de-Arag%C3%B3n?page-id=101%3A42549&node-id=101-57572&node-type=canvas&viewport=445%2C540%2C0.03&t=Ww3WEI9dxUs2F3hH-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=101%3A57572&show-proto-sidebar=1" target="_blank" title="Se abre en ventana nueva" class="rounded relative bg-primary-dark focus:ring-4 focus:ring-warning-base focus:box-shadow-black c-link w-full rounded" {{ showTitle( 'fpu-img','fpu' ) }}>
          <img id="fpu-img" class="border border-neutral-base rounded hover:opacity-50 lg:opacity-100 opacity-50 object-cover aspect-auto w-full" src="images/i-app4.svg" alt="Vista previa de la aplicación FPU">
          <span id="fpu" class="lg:block hidden c-h0 text-white absolute inset-0 pointer-events-none text-center content-center sr-only">FPU</span>
          <span class="lg:hidden block c-h0 text-white absolute inset-0 pointer-events-none text-center content-center">FPU</span>
          <span class="sr-only">Reporoducir el prototipo en línea</span>
          <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"  height="40" width="40" class="absolute bottom-base right-base pointer-events-none"><desc>Button Play Alternate Streamline Icon: https://streamlinehq.com</desc><g><path d="M20 0a20 20 0 1 0 20 20A20 20 0 0 0 20 0Zm0 35.71666666666667A15.716666666666667 15.716666666666667 0 1 1 35.71666666666667 20 15.733333333333333 15.733333333333333 0 0 1 20 35.71666666666667Z" fill="currentColor" stroke-width="1"></path><path d="m27.683333333333334 17.85 -9.883333333333333 -5a2.466666666666667 2.466666666666667 0 0 0 -3.7000000000000006 2.35v9.6a2.5500000000000003 2.5500000000000003 0 0 0 1.1666666666666667 2.2333333333333334 2.2833333333333337 2.2833333333333337 0 0 0 1.2666666666666668 0.3666666666666667 2.7333333333333334 2.7333333333333334 0 0 0 1.2666666666666668 -0.3166666666666667l9.883333333333333 -5a2.3166666666666664 2.3166666666666664 0 0 0 0 -4.300000000000001Z" fill="currentColor" stroke-width="1"></path></g></svg>
        </a>
      </li>
    </ul>
    <ul class="col-span-2 flex flex-wrap lg:justify-end mt-base">
      <li>
        {{ componentButton({
        "html": "Descargar prototipos",
        "classes": "c-button--transparent",
        "href": "https://www.figma.com/community/file/1390596088704624159/aplicaciones-web-del-gobierno-de-aragon"
        }) }}
      </li>
      <li>
        {{ componentButton({
        "html": "Ver patrones de aplicaciones<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
        "classes": "c-button--transparent",
        "href": "patrones-pagina-aplicaciones.html"
        }) }}
      </li>
    </ul>
  </div>
{% endset %}
{% set portales %}
  <div class="lg:my-0 my-lg">
    <div class="flex flex-wrap relative bg-primary-dark w-full rounded">
      <a href="https://www.figma.com/proto/AX8lZRarOH8ikmHSW3JgmT/Portal-del-Observatorio-demogr%C3%A1fico-de-Arag%C3%B3n?page-id=0%3A1&node-id=2-385&node-type=canvas&viewport=-770%2C-124%2C0.1&t=NtKTajvK6PzwgSsd-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=2%3A385&show-proto-sidebar=1" target="_blank" title="Se abre en ventana nueva" class="rounded relative bg-primary-dark focus:ring-4 focus:ring-warning-base focus:box-shadow-black c-link w-full rounded"  {{ showTitle( 'portal-img','portal' ) }}>
        <img id="portal-img" class="border border-neutral-base rounded hover:opacity-50 lg:opacity-100 opacity-50 object-cover aspect-auto w-full" src="images/i-portal.svg" alt="Vista previa del portal Observatorio Demográfico">
        <span id="portal" class="lg:block hidden c-h0 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center w-full sr-only">Observatorio Demográfico</span>
        <span class="lg:hidden block c-h1 mb-0 text-white absolute inset-0 pointer-events-none text-center content-center">Observatorio Demográfico</span>
        <span class="sr-only">Reporoducir el prototipo en línea</span>
        <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" height="40" width="40" class="absolute bottom-base right-base pointer-events-none pointer-events-none"><desc>Button Play Alternate Streamline Icon: https://streamlinehq.com</desc><g><path d="M20 0a20 20 0 1 0 20 20A20 20 0 0 0 20 0Zm0 35.71666666666667A15.716666666666667 15.716666666666667 0 1 1 35.71666666666667 20 15.733333333333333 15.733333333333333 0 0 1 20 35.71666666666667Z" fill="currentColor" stroke-width="1"></path><path d="m27.683333333333334 17.85 -9.883333333333333 -5a2.466666666666667 2.466666666666667 0 0 0 -3.7000000000000006 2.35v9.6a2.5500000000000003 2.5500000000000003 0 0 0 1.1666666666666667 2.2333333333333334 2.2833333333333337 2.2833333333333337 0 0 0 1.2666666666666668 0.3666666666666667 2.7333333333333334 2.7333333333333334 0 0 0 1.2666666666666668 -0.3166666666666667l9.883333333333333 -5a2.3166666666666664 2.3166666666666664 0 0 0 0 -4.300000000000001Z" fill="currentColor" stroke-width="1"></path></g></svg>
      </a>
    </div>
    <ul class="col-span-2 flex flex-wrap lg:justify-end mt-base">
      <li>
        {{ componentButton({
        "html": "Descargar prototipo",
        "classes": "c-button--transparent",
        "href": "https://www.figma.com/community/file/1332643260653324946/portal-del-observatorio-demografico-de-aragon"
        }) }}
      </li>
      <li>
        {{ componentButton({
        "html": "Ver patrones de portales<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
        "classes": "c-button--transparent",
        "href": "patrones-pagina-portales.html"
        }) }}
      </li>
    </ul>
  </div>
{% endset %}



<h2 class="c-h1">Un sistema que se adapta a tu proyecto</h2>
<div class="hidden lg:block xl:h-[32rem] sm:h-[25rem]">
  {{ componentTabs({
    "tablistClasses": "flex flex-col col-span-2 lg:col-span-1 lg:divide-y lg:divide-neutral-base mb-base lg:mb-0 -pb-base",
    "tablistAriaLabel": "Productos que aplican el sistema de diseño",
    "idPrefix": "tab-links-list",
    "items": [
    
      {
        "html": '<span class="w-full flex gap-base justify-between items-center text-left c-link c-link--no-underline text-primary-base"><span>El espacio de relación con la ciudadanía</span><span class="grow-0 self-center h-full text-primary-base"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><g><path fill="currentColor" fill-rule="evenodd" d="M3.4685 0.427C3.8512 0.0443 4.4717 0.0443 4.8545 0.427L10.388 5.9606C10.962 6.5346 10.962 7.4654 10.388 8.0395L4.8545 13.573C4.4717 13.9557 3.8512 13.9557 3.4685 13.573C3.0858 13.1903 3.0858 12.5698 3.4685 12.1871L8.6556 7L3.4685 1.813C3.0858 1.4303 3.0858 0.8098 3.4685 0.427Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></span></span>',
        "panel": {
          "html": mia | safe,
          "classes": "col-span-2 lg:col-span-2 lg:p-base focus:outline-none focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base"
        }
      },
      {
        "html": '<span class="w-full flex gap-base justify-between items-center text-left c-link c-link--no-underline text-primary-base"><span>Aplicaciones de gestión interna</span><span class="self-center h-full text-primary-base"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><g><path fill="currentColor" fill-rule="evenodd" d="M3.4685 0.427C3.8512 0.0443 4.4717 0.0443 4.8545 0.427L10.388 5.9606C10.962 6.5346 10.962 7.4654 10.388 8.0395L4.8545 13.573C4.4717 13.9557 3.8512 13.9557 3.4685 13.573C3.0858 13.1903 3.0858 12.5698 3.4685 12.1871L8.6556 7L3.4685 1.813C3.0858 1.4303 3.0858 0.8098 3.4685 0.427Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></span></span>',
        "panel": {
          "html": appsGestion | safe,
          "classes": "col-span-2 lg:col-span-2 lg:p-base focus:outline-none focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base"
        }
      },
      {
        "html": '<span class="w-full flex gap-base justify-between items-center text-left c-link c-link--no-underline text-primary-base"><span>Portales y contenidos web</span><span class="self-center h-full text-primary-base"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><g><path fill="currentColor" fill-rule="evenodd" d="M3.4685 0.427C3.8512 0.0443 4.4717 0.0443 4.8545 0.427L10.388 5.9606C10.962 6.5346 10.962 7.4654 10.388 8.0395L4.8545 13.573C4.4717 13.9557 3.8512 13.9557 3.4685 13.573C3.0858 13.1903 3.0858 12.5698 3.4685 12.1871L8.6556 7L3.4685 1.813C3.0858 1.4303 3.0858 0.8098 3.4685 0.427Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></span></span>',
        "panel": {
          "html": portales | safe,
          "classes": "col-span-2 lg:col-span-2 lg:p-base focus:outline-none focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base"

        }
      }
    ],
    "classes": "c-tabs--reset c-tabs--list grid grid-cols-2 lg:grid-cols-3 lg:gap-base mb-xl",
    "attributes": {
      "id": "tabs-list"
    }
  }) }}
</div>
<div class="lg:hidden block">
  {{ componentAccordion({
    "idPrefix": "accordion-show-hide",
    "headingLevel": 3,
    "allowMultiple": true,
    "items": [
      {
        "headerHtml": '<span class="pr-lg block pointer-events-none">El espacio de relación con la ciudadanía</span>',        
        "html":  mia | safe,
        "open": true,
        "show": {
          "html": "<div class=\"c-link\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"-0.5 -0.5 16 16\" xml:space=\"preserve\" height=\"1.25em\" width=\"1.25em\"><path d=\"M7.5 12.1875c-0.4375 0 -0.8125 -0.1875 -1.0625 -0.5L0.25 4.75c-0.375 -0.5 -0.3125 -1.25 0.1875 -1.625 0.5 -0.375 1.1875 -0.375 1.5625 0.125l5.375 6.125c0.0625 0.0625 0.125 0.0625 0.25 0l5.375 -6.125c0.4375 -0.5 1.125 -0.5625 1.625 -0.125s0.5625 1.125 0.125 1.625l-0.0625 0.0625 -6.125 6.9375c-0.25 0.25 -0.6875 0.4375 -1.0625 0.4375z\" fill=\"currentColor\" stroke-width=\"1\"></path></svg>\n            </div>"
        },
        "hide": {
          "html": "<div class=\"c-link\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"-0.5 -0.5 16 16\" xml:space=\"preserve\" height=\"1.25em\" width=\"1.25em\"><path d=\"M7.5625 2.8125c0.4375 0 0.8125 0.1875 1.0625 0.5l6.0625 6.875c0.4375 0.4375 0.375 1.1875 -0.0625 1.625s-1.1875 0.375 -1.625 -0.0625l-0.0625 -0.0625 -5.3125 -6c-0.0625 -0.0625 -0.125 -0.0625 -0.25 0l-5.3125 6c-0.4375 0.5 -1.125 0.5625 -1.625 0.125s-0.5625 -1.125 -0.125 -1.625l0.0625 -0.0625 6.0625 -6.875c0.3125 -0.25 0.6875 -0.4375 1.125 -0.4375z\" fill=\"currentColor\" stroke-width=\"1\"></path></svg></div>"
        }
      },
      {
        "headerHtml": '<span class="pr-lg block pointer-events-none">Aplicaciones de gestión</span>',        
        "html": appsGestion | safe,
        "show": {
          "html": "<div class=\"c-link\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"-0.5 -0.5 16 16\" xml:space=\"preserve\" height=\"1.25em\" width=\"1.25em\"><path d=\"M7.5 12.1875c-0.4375 0 -0.8125 -0.1875 -1.0625 -0.5L0.25 4.75c-0.375 -0.5 -0.3125 -1.25 0.1875 -1.625 0.5 -0.375 1.1875 -0.375 1.5625 0.125l5.375 6.125c0.0625 0.0625 0.125 0.0625 0.25 0l5.375 -6.125c0.4375 -0.5 1.125 -0.5625 1.625 -0.125s0.5625 1.125 0.125 1.625l-0.0625 0.0625 -6.125 6.9375c-0.25 0.25 -0.6875 0.4375 -1.0625 0.4375z\" fill=\"currentColor\" stroke-width=\"1\"></path></svg>\n            </div>"
        },
        "hide": {
          "html": "<div class=\"c-link\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"-0.5 -0.5 16 16\" xml:space=\"preserve\" height=\"1.25em\" width=\"1.25em\"><path d=\"M7.5625 2.8125c0.4375 0 0.8125 0.1875 1.0625 0.5l6.0625 6.875c0.4375 0.4375 0.375 1.1875 -0.0625 1.625s-1.1875 0.375 -1.625 -0.0625l-0.0625 -0.0625 -5.3125 -6c-0.0625 -0.0625 -0.125 -0.0625 -0.25 0l-5.3125 6c-0.4375 0.5 -1.125 0.5625 -1.625 0.125s-0.5625 -1.125 -0.125 -1.625l0.0625 -0.0625 6.0625 -6.875c0.3125 -0.25 0.6875 -0.4375 1.125 -0.4375z\" fill=\"currentColor\" stroke-width=\"1\"></path></svg></div>"
        }
      },
      {
        "headerHtml": '<span class="pr-lg block pointer-events-none">Portales y contenidos web</span>',        
        "html": portales | safe,
        "show": {
          "html": "<div class=\"c-link\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"-0.5 -0.5 16 16\" xml:space=\"preserve\" height=\"1.25em\" width=\"1.25em\"><path d=\"M7.5 12.1875c-0.4375 0 -0.8125 -0.1875 -1.0625 -0.5L0.25 4.75c-0.375 -0.5 -0.3125 -1.25 0.1875 -1.625 0.5 -0.375 1.1875 -0.375 1.5625 0.125l5.375 6.125c0.0625 0.0625 0.125 0.0625 0.25 0l5.375 -6.125c0.4375 -0.5 1.125 -0.5625 1.625 -0.125s0.5625 1.125 0.125 1.625l-0.0625 0.0625 -6.125 6.9375c-0.25 0.25 -0.6875 0.4375 -1.0625 0.4375z\" fill=\"currentColor\" stroke-width=\"1\"></path></svg>\n            </div>"
        },
        "hide": {
          "html": "<div class=\"c-link\"><svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" viewBox=\"-0.5 -0.5 16 16\" xml:space=\"preserve\" height=\"1.25em\" width=\"1.25em\"><path d=\"M7.5625 2.8125c0.4375 0 0.8125 0.1875 1.0625 0.5l6.0625 6.875c0.4375 0.4375 0.375 1.1875 -0.0625 1.625s-1.1875 0.375 -1.625 -0.0625l-0.0625 -0.0625 -5.3125 -6c-0.0625 -0.0625 -0.125 -0.0625 -0.25 0l-5.3125 6c-0.4375 0.5 -1.125 0.5625 -1.625 0.125s-0.5625 -1.125 -0.125 -1.625l0.0625 -0.0625 6.0625 -6.875c0.3125 -0.25 0.6875 -0.4375 1.125 -0.4375z\" fill=\"currentColor\" stroke-width=\"1\"></path></svg></div>"
        }
      }
    ]
  }) }}
</div>


