{% set title = "Novedades. DESY. Sistema de diseño del Gobierno de Aragón. Librerías, documentación y ejemplos" %}
{% set activePage = "page-novedades" %}
{% set activeApartado = "novedades" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}


{% block contentBlock %}
  {% include "includes/_back-index-button.njk" %}
  <div class="grid lg:grid-cols-4 gap-base">
    <div class="col-span-3">
      <h1 class="c-h1">Novedades</h1>
      <p class="mb-lg c-paragraph-base">Úlltimos cambios en el portal y librerías.</p>
      <div class="p-base bg-primary-light">
        <h2 class="c-h4">¿Quieres recibir avisos de las últimas novedades?</h2>
        <p>Envía un correo a <a class="c-link" href="mailto:soportesae@aragon">soportesae@aragon</a> indicando como asunto <q><strong>Alta en la lista avisos_desy@listas.aragon.es</strong></q>, además del nombre y correo electrónico de la nueva persona destinataria.</p>
      </div>
      <div class="pb-base"></div>
      <div>
        <h2 class="mb-base py-base sticky top-0 border-neutral-base border-b bg-white" id="2025"><span class="c-h2">2025</span></h2>
        <ul class="grid mb-2xl">
          {% include "includes/docs-acerca-de/novedades/2025/_feb.njk" %}
          {% include "includes/docs-acerca-de/novedades/2025/_ene.njk" %}
        </ul>
        <h2 class="mb-base py-base sticky top-0 border-neutral-base border-b bg-white"><span class="c-h2" id="2024">2024</span></h2>
        <ul class="grid mb-2xl">
          {% include "includes/docs-acerca-de/novedades/2024/_nov.njk" %}
          {% include "includes/docs-acerca-de/novedades/2024/_oct-2.njk" %}
          {% include "includes/docs-acerca-de/novedades/2024/_oct.njk" %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}