{% set title = "Por qué DESY. DESY. Sistema de diseño del Gobierno de Aragón. Librerías, documentación y ejemplos" %}
{% set activePage = "page-por-que-desy" %}
{% set activeApartado = "por-que-desy" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}


{% block contentBlock %}
  {% include "includes/_back-index-button.njk" %}
  <div class="grid lg:grid-cols-4 gap-base">
    <div class="lg:col-span-3">
      <h1 class="c-h1">Por qué DESY</h1>
      <p class="mb-xl c-paragraph-base">DESY se construye como un acrónimo de <span lang="en">DEsign SYstem</span>, o sistema de diseño. Se crea en 2021 por iniciativa de <a href="https://sda.aragon.es" class="c-link">Servicios Digitales de Aragón</a> para mejorar la identificación y la usabilidad de los productos digitales del Gobierno de Aragón, optimizar recursos, mantener los estándares de accesibilidad y asegurar el correcto funcionamiento en todos los dispositivos y medios. Es el primer sistema de diseño publicado en abierto de una administración pública en España.</p>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-lg">
        {% call componentCard({
          "containerClasses": "lg:h-full p-base border border-neutral-base rounded"
        })  %}
        <div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-12 h-12 lg:w-16 lg:h-16" focusable="false" aria-hidden="true" role="presentation"><g><path d="M11.33,12.42a.46.46,0,0,0,.11-.4.49.49,0,0,0-.22-.34,7.47,7.47,0,0,0-4-1.18A7.55,7.55,0,0,0,0,15.86a.5.5,0,0,0,.08.44.48.48,0,0,0,.4.2H9.15a.49.49,0,0,0,.49-.41A8,8,0,0,1,11.33,12.42Z" fill="currentColor"></path><circle cx="7" cy="4.75" r="4.75" fill="currentColor"></circle><path d="M23.05,18.19a1,1,0,0,0-1.25.66A4.5,4.5,0,1,1,17.5,13a1,1,0,0,0,0-2,6.5,6.5,0,1,0,6.2,8.44A1,1,0,0,0,23.05,18.19Z" fill="currentColor"></path><path d="M22.29,12.67l-4.44,4.44a.5.5,0,0,1-.7,0l-1-1a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.41l1.58,1.58a1.69,1.69,0,0,0,2.38,0l5-5a1,1,0,0,0,0-1.41A1,1,0,0,0,22.29,12.67Z" fill="currentColor"></path></g></svg>
          </div>
          <div class="mb-base"></div>
          <h2 class="c-h3">Crear identidad</h2>
          <div>
            <p class="c-paragraph-sm">DESY es sencillo para facilitar su implementación y homogeneizar la experiencia en los distintos espacios digitales del Gobierno de Aragón.</p>
          </div>
        </div>
        {% endcall %}
        {% call componentCard({
          "containerClasses": "lg:h-full p-base border border-neutral-base rounded"
        })  %}
        <div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-12 h-12 lg:w-16 lg:h-16" focusable="false" aria-hidden="true" role="presentation"><g><path d="M4.71,12.94a1,1,0,1,0,1.57-1.23A6.09,6.09,0,0,1,5,8a6,6,0,1,1,10.69,3.75,1,1,0,0,0,.15,1.41A1,1,0,0,0,17.25,13,8,8,0,1,0,3,8,8.26,8.26,0,0,0,4.71,12.94Z" fill="currentColor"></path><path d="M16.39,17H13.5V10.5a2.5,2.5,0,0,0-5,0v8.84L7.41,17.81a2.09,2.09,0,0,0-1.22-1,2.07,2.07,0,0,0-1.58.15,2.09,2.09,0,0,0-1,1.22,2.07,2.07,0,0,0,.15,1.58l2.1,4a.48.48,0,0,0,.44.27H20.5a.5.5,0,0,0,.5-.5V21.85A4.8,4.8,0,0,0,16.39,17Z" fill="currentColor"></path></g></svg>
          </div>
          <div class="mb-base"></div>
          <h2 class="c-h3">Garantizar la usabilidad</h2>
          <div>
            <p class="c-paragraph-sm">Mantenemos una consistencia sobre cómo reacciona la interfaz a las acciones de las personas usuarias.</p>
          </div>
        </div>
        {% endcall %}
        {% call componentCard({
          "containerClasses": "lg:h-full p-base border border-neutral-base rounded"
        })  %}
        <div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-12 h-12 lg:w-16 lg:h-16" focusable="false" aria-hidden="true" role="presentation"><path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm0,3.5a2,2,0,1,1-2,2A2,2,0,0,1,12,3.5Zm5.05,8.75-2.8.5v2l2,2.61a1.5,1.5,0,0,1-.29,2.1,1.47,1.47,0,0,1-.91.31,1.49,1.49,0,0,1-1.19-.59L12,16.66l-2.1,2.55a1.5,1.5,0,1,1-2.31-1.92l2.21-2.67V12.75l-3-.5a1.5,1.5,0,1,1,0-3l5.3.5,5.05-.5a1.5,1.5,0,0,1,0,3Z" fill="currentColor"></path></svg>
          </div>
          <div class="mb-base"></div>
          <h2 class="c-h3">Asegurar los estándares de accesibilidad</h2>
          <div>
            <p class="c-paragraph-sm">Concebimos los elementos de la interfaz para ser legibles por todas las personas en cualquier dispositivo y los revisamos continuamente para cumplir el nivel AA de accesibilidad.</p>
          </div>
        </div>
        {% endcall %}
        {% call componentCard({
          "containerClasses": "lg:h-full p-base border border-neutral-base rounded"
        })  %}
        <div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-12 h-12 lg:w-16 lg:h-16" focusable="false" aria-hidden="true" role="presentation"><g><path d="M15.85,12.37l-1-1.74a1,1,0,0,0-1.36-.36l-.71.41a6.63,6.63,0,0,0-2.36-1.36V8.5a1,1,0,0,0-1-1h-2a1,1,0,0,0-1,1v.82a6.48,6.48,0,0,0-2.35,1.36l-.71-.41A1,1,0,0,0,2,10.64L1,12.37a1,1,0,0,0,.36,1.36l.71.41a6.73,6.73,0,0,0,0,2.72l-.71.41A1,1,0,0,0,1,18.64l1,1.73a1,1,0,0,0,1.36.36l.71-.41a6.38,6.38,0,0,0,2.35,1.36v.82a1,1,0,0,0,1,1h2a1,1,0,0,0,1-1v-.82a6.42,6.42,0,0,0,2.36-1.35l.71.4a1,1,0,0,0,.76.1,1,1,0,0,0,.6-.46l1-1.73a1,1,0,0,0,.1-.76,1,1,0,0,0-.46-.61l-.72-.41a6.56,6.56,0,0,0,0-2.72l.71-.41A1,1,0,0,0,15.85,12.37ZM8.42,19a3.5,3.5,0,1,1,3.5-3.5A3.5,3.5,0,0,1,8.42,19Z" fill="currentColor"></path><path d="M22.89,6.13l-.57-.32a3.37,3.37,0,0,0,0-1.61l.58-.33a.51.51,0,0,0,.18-.69l-.5-.86a.51.51,0,0,0-.3-.24.55.55,0,0,0-.38,0l-.58.34a3.34,3.34,0,0,0-1.39-.81V1a.5.5,0,0,0-.5-.5h-1a.5.5,0,0,0-.5.5v.66a3.47,3.47,0,0,0-1.39.8L16,2.13a.55.55,0,0,0-.38,0,.48.48,0,0,0-.3.24l-.5.86a.47.47,0,0,0,0,.38.52.52,0,0,0,.23.31l.57.32a3.5,3.5,0,0,0,0,1.61L15,6.13a.51.51,0,0,0-.18.69l.5.86a.48.48,0,0,0,.3.24.55.55,0,0,0,.38,0l.57-.33a3.52,3.52,0,0,0,1.39.81V9a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5V8.35a3.58,3.58,0,0,0,1.4-.81l.57.33a.55.55,0,0,0,.38,0,.51.51,0,0,0,.3-.24l.5-.86A.51.51,0,0,0,22.89,6.13Zm-4,.37A1.5,1.5,0,1,1,20.42,5,1.5,1.5,0,0,1,18.92,6.5Z" fill="currentColor"></path></g></svg>
          </div>
          <div class="mb-base"></div>
          <h2 class="c-h3">Optimizar los recursos</h2>
          <div>
            <p class="c-paragraph-sm">Nuestro objetivo es permitir que los equipos puedan destinar los recursos al desarrollo de mejores soluciones, facilitar las labores de front y compartir patrones reutilizables.</p>
          </div>
        </div>
        {% endcall %}
        {% call componentCard({
          "containerClasses": "lg:h-full p-base border border-neutral-base rounded"
        })  %}
        <div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-12 h-12 lg:w-16 lg:h-16" focusable="false" aria-hidden="true" role="presentation"><path d="M23.39,1.57A1.93,1.93,0,0,0,22,1c-3.84.11-7.7.87-9.65,2.31a.51.51,0,0,1-.6,0C9.75,1.88,5.89,1.12,2.05,1a1.94,1.94,0,0,0-1.44.56A2,2,0,0,0,0,3v14.5a2,2,0,0,0,2,2c6,.17,9,1.82,9,2.48a1,1,0,0,0,2,0c0-.66,3.08-2.31,9-2.48a2,2,0,0,0,2-2V3A2,2,0,0,0,23.39,1.57Zm-20.91,16A.5.5,0,0,1,2,17V3.53a.48.48,0,0,1,.15-.36A.47.47,0,0,1,2.51,3C8.11,3.28,11,4.85,11,5.49V18.58a.5.5,0,0,1-.7.46A22.79,22.79,0,0,0,2.48,17.53ZM22,17a.5.5,0,0,1-.48.49A23,23,0,0,0,13.7,19a.5.5,0,0,1-.7-.46V5.49c0-.64,2.89-2.21,8.48-2.46a.45.45,0,0,1,.36.14.48.48,0,0,1,.16.36Z" fill="currentColor"></path></svg>
          </div>
          <div class="mb-base"></div>
          <h2 class="c-h3">Un sistema publicado en abierto</h2>
          <div>
            <p class="c-paragraph-sm">DESY está publicado bajo una licencia de libre uso y descarga. Debe ser utilizado por el Gobierno de Aragón y sus empresas colaboradoras, pero cualquier persona puede trabajar con él y contribuir en su mejora.</p>
          </div>
        </div>
        {% endcall %}
        <div class="lg:w-1/3">
        </div>
      </div>
      <div class="pb-2xl"></div>
      <h2 class="c-h1">Principios del sistema de diseño DESY</h2>
      <p class="mb-xl lg:c-paragraph-lg c-paragraph-base">DESY comparte los principios con los que trabajamos en <a href="https://sda.aragon.es" class="c-link">SDA</a>, el área del Gobierno de Aragón que se dedica a mejorar la experiencia de la ciudadanía cuando utiliza los servicios públicos mediante el diseño y la tecnología.</p>

      {% set item1 %}
        <ul class="c-ul mt-base">
          <li>Investiga y entiende las necesidades de las personas usuarias: ciudadanía y personal del Gobierno de Aragón.</li>
          <li>Toma las decisiones en base a datos obtenidos de la investigación, no a intuiciones, juicios o creencias establecidas dentro de la organización.</li>
          <li>Crea con las personas usuarias. Involúcralas en el proceso de generación de ideas y en su evaluación. Mantén una mentalidad de aprendizaje continuo.</li>
          <li>Construye servicios que aporten valor a las personas usuarias y que les ayuden a conseguir sus objetivos.</li>
          <li>Prioriza la experiencia de la ciudadanía sobre los procesos internos de la organización. Diseña servicios de inicio a fin, no procedimientos.</li>
        </ul>
      {% endset %}
      {% set item2 %}
        <ul class="c-ul mt-base">
          <li>Cada punto de contacto debe ser familiar y satisfacer las necesidades de la manera más sencilla posible.</li>
          <li>El diseño es lógico, limpio y con funcionalidades claras.</li>
          <li>No utilices ornamentos. El protagonista es el contenido y la legibilidad es una prioridad.</li>
          <li>El contenido está cuidado y aporta estructura. Usa lenguaje claro e inclusivo.</li>
          <li>Los componentes del sistema de diseño ayudan a simplificar el proceso de diseño y desarrollo.</li>
          <li>Es importante que el sistema sea fácil de aprender y manejar, por eso es vital que tenga el menor número de componentes posible y mantenerlos depurados.</li>
        </ul>
      {% endset %}
      {% set item3 %}
        <ul class="c-ul mt-base">
          <li>Este sistema visual recuerda al papel blanco, habla de la evolución que ha realizado la administración desde el mundo físico al mundo digital.</li>
          <li>La transparencia, la honestidad y la ética son piezas claves para generar confianza en las personas usuarias.</li>
          <li>Crea productos y servicios fiables que ayuden a la ciudadanía a cumplir sus objetivos, con instrucciones sencillas, claras y comprensibles</li>
          <li>Genera confianza desde la comprensión de las necesidades de las personas. Redefine los servicios con el foco en aportar valor.</li>
        </ul>
      {% endset %}
      {% set item4 %}
        <ul class="c-ul mt-base">
          <li>El sistema funciona como un lenguaje común que ayuda a crear una experiencia global de la ciudadanía con el Gobierno de Aragón.</li>
          <li>Es importante no confundir consistencia con homogeneidad. No construyas productos y servicios idénticos, sino que formen parte de la misma “familia”.</li>
          <li>El sistema es flexible: capaz de adaptarse a diferentes aplicaciones, que al mismo tiempo se perciben como un todo porque comparten patrones de interacción, componentes y principios.</li>
          <li>A la hora de diseñar, comienza con lo que ya existe en el sistema de diseño del Gobierno de Aragón.</li>
          <li>Reusa todo lo que sea posible. Si es necesario iterar un componente, hazlo en base a las necesidades de tus personas usuarias.</li>
        </ul>
      {% endset %}
      {% set item5 %}
        <ul class="c-ul mt-base">
          <li>Diseña para todo el mundo y crea experiencias accesibles e intuitivas.</li>
          <li>Los requisitos de accesibilidad se consideran restricciones de diseño para asegurar que se crean espacios inclusivos.</li>
          <li>El sistema pretende ofrecer la mejor experiencia posible a cada persona usuaria independientemente de su diversidad o del dispositivo con el que accede.</li>
        </ul>
      {% endset %}
      {% set item6 %}
        <ul class="c-ul mt-base">
          <li>Invitamos a los equipos internos del Gobierno de Aragón a participar de manera activa en la mejora del sistema. Este sistema es de todos.</li>
          <li>Lo que diseñes para tu servicio puede ser interesante para otros equipos. Compártelo para evitar duplicidades.</li>
          <li>Si consideras que es necesario incorporar algún componente o patrón nuevo, ponte en contacto con nosotros en el apartado de <a href="soporte.html" class="c-link">Soporte</a>.</li>
        </ul>
      {% endset %}



      {{ componentAccordion({
        "idPrefix": "accordion-example",
        "headingLevel": 2,
        "items": [
          {
            "headerHtml": '<div class="flex gap-base pr-14 pointer-events-none"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="User-Group--Streamline-Core" height="1.5em" width="1.5em"><g id="user-group--user-group-meeting-leader"><path id="Union" fill="currentColor" fill-rule="evenodd" d="M4.75 3.75C4.75 2.50736 5.75736 1.5 7 1.5s2.25 1.00736 2.25 2.25S8.24264 6 7 6 4.75 4.99264 4.75 3.75Zm8.75 2c0 -0.9665 -0.7835 -1.75 -1.75 -1.75S10 4.7835 10 5.75s0.7835 1.75 1.75 1.75 1.75 -0.7835 1.75 -1.75ZM2 12c0 0.1753 0.03008 0.3436 0.08535 0.5H0.5c-0.276142 0 -0.5 -0.2239 -0.5 -0.5v-1.25C0 9.50736 1.00736 8.5 2.25 8.5c0.13607 0 0.26932 0.01208 0.39873 0.03522C2.23579 9.26264 2 10.1038 2 11v1Zm9 0c0 0.2761 -0.2239 0.5 -0.5 0.5h-7c-0.27614 0 -0.5 -0.2239 -0.5 -0.5v-1c0 -2.20914 1.79086 -4 4 -4s4 1.79086 4 4v1ZM0.5 5.75C0.5 4.7835 1.2835 4 2.25 4S4 4.7835 4 5.75 3.2165 7.5 2.25 7.5 0.5 6.7165 0.5 5.75ZM12 12c0 0.1753 -0.0301 0.3436 -0.0854 0.5H13.5c0.2761 0 0.5 -0.2239 0.5 -0.5v-1.25c0 -1.24264 -1.0074 -2.25 -2.25 -2.25 -0.1361 0 -0.2693 0.01208 -0.3987 0.03522C11.7642 9.26264 12 10.1038 12 11v1Z" clip-rule="evenodd" stroke-width="1"></path></g></svg><span class="strong">Sitúa a las personas en el centro del proceso de diseño</span></div>',
            "html": item1 | safe
          },
          {
            "headerHtml": '<div class="flex gap-base pr-14 pointer-events-none"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Layout-Grid--Streamline-Core" height="1.5em" width="1.5em"><g id="layout-grid--layout-grid-design-view"><path id="Union" fill="currentColor" fill-rule="evenodd" d="M0.5 2C0.5 1.17157 1.17157 0.5 2 0.5h3c0.82843 0 1.5 0.67157 1.5 1.5v3c0 0.82843 -0.67157 1.5 -1.5 1.5H2C1.17157 6.5 0.5 5.82843 0.5 5V2Zm7 0c0 -0.82843 0.67157 -1.5 1.5 -1.5h3c0.8284 0 1.5 0.67157 1.5 1.5v3c0 0.82843 -0.6716 1.5 -1.5 1.5H9c-0.82843 0 -1.5 -0.67157 -1.5 -1.5V2ZM2 7.5C1.17157 7.5 0.5 8.17157 0.5 9v3c0 0.8284 0.67157 1.5 1.5 1.5h3c0.82843 0 1.5 -0.6716 1.5 -1.5V9c0 -0.82843 -0.67157 -1.5 -1.5 -1.5H2ZM7.5 9c0 -0.82843 0.67157 -1.5 1.5 -1.5h3c0.8284 0 1.5 0.67157 1.5 1.5v3c0 0.8284 -0.6716 1.5 -1.5 1.5H9c-0.82843 0 -1.5 -0.6716 -1.5 -1.5V9Z" clip-rule="evenodd" stroke-width="1"></path></g></svg><span class="strong">Manténlo sencillo</span></div>',
            "html": item2 | safe
          },
          {
            "headerHtml": '<div class="flex gap-base pr-14 pointer-events-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Share-Heart--Streamline-Core" height="1.5em" width="1.5em"><desc>Share Heart Streamline Icon: https://streamlinehq.com</desc><g id="share-heart--reward-social-rating-media-heart-hand"><path id="Union" fill="currentColor" fill-rule="evenodd" d="M9.74577 0.811452C9.19589 0.311783 8.61452 0.048554 8.03889 0.00607065 7.32954 -0.0462829 6.70685 0.24305 6.26253 0.691082c-0.86478 0.872008 -1.14202 2.464528 -0.04496 3.566628 0.00485 0.00487 0.0098 0.00964 0.01484 0.0143L9.40558 7.2072c0.19164 0.17726 0.48741 0.17726 0.67902 0l3.1732 -2.93519 0.0116 -0.01108c1.1138 -1.09869 0.8348 -2.69266 -0.0335 -3.564637 -0.4458 -0.447638 -1.0701 -0.7367775 -1.7802 -0.6858347 -0.5766 0.0413625 -1.1593 0.3028317 -1.70993 0.8009937ZM1.84315 7H0v4l1.82843 1.8284C2.57857 13.5786 3.59599 14 4.65685 14H10.5c0.8284 0 1.5 -0.6716 1.5 -1.5s-0.6716 -1.5 -1.5 -1.5H7.72318c-0.09651 0.3265 -0.27361 0.6343 -0.5313 0.892 -0.82397 0.8239 -2.15989 0.8239 -2.98386 0l-1.45001 -1.4501c-0.24408 -0.244 -0.24408 -0.63976 0 -0.88384 0.24408 -0.24408 0.63981 -0.24408 0.88388 0l1.45002 1.45004c0.33581 0.3358 0.88027 0.3358 1.21609 0 0.30212 -0.3022 0.33243 -0.7732 0.09093 -1.10917L4.67157 8.17157C3.92143 7.42143 2.90401 7 1.84315 7Z" clip-rule="evenodd" stroke-width="1"></path></g></svg><span class="strong">Genera confianza</span></div>',
            "html": item3 | safe
          },
          {
            "headerHtml": '<div class="flex gap-base pr-14 pointer-events-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Web--Streamline-Core" height="1.5em" width="1.5em"><g id="web--server-world-internet-earth-www-globe-worldwide-web-network"><path id="Subtract" fill="currentColor" fill-rule="evenodd" d="M5.04877 0.275541C2.32487 1.06453 0.285057 3.46373 0.0274658 6.375H3.22767c0.18833 -2.14874 0.81138 -4.22578 1.8211 -6.099459ZM3.22767 7.625H0.0274658C0.285057 10.5363 2.32487 12.9355 5.04877 13.7245 4.03904 11.8508 3.416 9.77374 3.22767 7.625Zm3.42447 6.3665c-1.20602 -1.906 -1.95253 -4.08967 -2.16926 -6.3665h5.0341c-0.21674 2.27683 -0.96324 4.4605 -2.16927 6.3665 -0.11521 0.0056 -0.23116 0.0085 -0.34777 0.0085 -0.11662 0 -0.23257 -0.0029 -0.3478 -0.0085Zm2.29895 -0.267c2.72391 -0.789 4.76371 -3.1882 5.02131 -6.0995h-3.2002c-0.1883 2.14875 -0.81139 4.2258 -1.82111 6.0995ZM10.7722 6.375h3.2002C13.7148 3.46372 11.675 1.06451 8.95108 0.275533 9.96081 2.14921 10.5839 4.22625 10.7722 6.375ZM6.65215 0.00848953C6.76737 0.00285182 6.88332 0 6.99994 0c0.11661 0 0.23256 0.0028513 0.34777 0.008488C8.55374 1.91446 9.30024 4.09817 9.51698 6.375h-5.0341c0.21674 -2.27683 0.96324 -4.46054 2.16927 -6.36651047Z" clip-rule="evenodd" stroke-width="1"></path></g></svg><span class="strong">Piensa en global, sé consistente</span></div>',
            "html": item4 | safe
          },
          {
            "headerHtml": '<div class="flex gap-base pr-14 pointer-events-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Line-Arrow-Expand--Streamline-Core" height="1.5em" width="1.5em"><g id="line-arrow-expand--expand-small-bigger-retract-smaller-big"><path id="Union" fill="currentColor" fill-rule="evenodd" d="M8.75 0.5C8.33579 0.5 8 0.835786 8 1.25c0 0.41421 0.33579 0.75 0.75 0.75h2.1893L8.21967 4.71967c-0.29289 0.29289 -0.29289 0.76777 0 1.06066s0.76777 0.29289 1.06066 0L12 3.06066V5.25c0 0.41421 0.3358 0.75 0.75 0.75s0.75 -0.33579 0.75 -0.75v-4c0 -0.414214 -0.3358 -0.75 -0.75 -0.75h-4ZM4.71967 8.21967c0.29289 -0.29289 0.76777 -0.29289 1.06066 0s0.29289 0.76777 0 1.06066L3.06066 12H5.25c0.41421 0 0.75 0.3358 0.75 0.75s-0.33579 0.75 -0.75 0.75h-4c-0.414214 0 -0.75 -0.3358 -0.75 -0.75v-4c0 -0.41421 0.335786 -0.75 0.75 -0.75 0.41421 0 0.75 0.33579 0.75 0.75v2.1893l2.71967 -2.71963ZM3.06066 2H4.75c0.41421 0 0.75 -0.33579 0.75 -0.75C5.5 0.835786 5.16421 0.5 4.75 0.5h-3.5C0.835786 0.5 0.5 0.835786 0.5 1.25v3.5c0 0.41421 0.335786 0.75 0.75 0.75 0.41421 0 0.75 -0.33579 0.75 -0.75V3.06066l2.71967 2.71967c0.29289 0.29289 0.76777 0.29289 1.06066 0s0.29289 -0.76777 0 -1.06066L3.06066 2Zm7.87864 10H8.75c-0.41421 0 -0.75 0.3358 -0.75 0.75s0.33579 0.75 0.75 0.75h4c0.4142 0 0.75 -0.3358 0.75 -0.75v-4c0 -0.41421 -0.3358 -0.75 -0.75 -0.75s-0.75 0.33579 -0.75 0.75v2.1893L9.28033 8.21967c-0.29289 -0.29289 -0.76777 -0.29289 -1.06066 0s-0.29289 0.76777 0 1.06066L10.9393 12Z" clip-rule="evenodd" stroke-width="1"></path></g></svg><span class="strong">Inclusivo y accesible</span></div>',
            "html": item5 | safe
          },
          {
            "headerHtml": '<div class="flex gap-base pr-14 pointer-events-none"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" id="Line-Arrow-Reload-Horizontal-3--Streamline-Core" height="1.5em" width="1.5em"><g id="line-arrow-reload-horizontal-3"><path id="Union" fill="currentColor" fill-rule="evenodd" d="m9.41421 4.5 0.2929 0.29289c0.39049 0.39053 0.39049 1.02369 0 1.41422 -0.39053 0.39052 -1.02369 0.39052 -1.41422 0l-2 -2c-0.39052 -0.39053 -0.39052 -1.02369 0 -1.41422l2 -1.999997c0.39053 -0.390525 1.02369 -0.390525 1.41422 0 0.39049 0.390527 0.39049 1.023687 0 1.414217L9.41421 2.5 11 2.5c1.6569 0 3 1.34315 3 3l0 3c0 1.6569 -1.3431 3 -3 3l-1 0c-0.55228 0 -1 -0.4477 -1 -1 0 -0.55229 0.44772 -1 1 -1l1 0c0.5523 0 1 -0.44772 1 -1l0 -3c0 -0.55229 -0.4477 -1 -1 -1l-1.58579 0Zm-1.7071 5.29289c0.39052 0.39051 0.39052 1.02371 0 1.41421l-2 2c-0.39053 0.3905 -1.02369 0.3905 -1.41422 0 -0.39052 -0.3905 -0.39052 -1.0237 0 -1.4142l0.2929 -0.2929L3 11.5C1.34315 11.5 3.99e-8 10.1569 5.96e-8 8.5l3.58e-8 -3C1.152e-7 3.84315 1.34315 2.5 3 2.5l1 0c0.55228 0 1 0.44772 1 1s-0.44772 1 -1 1l-1 0c-0.55228 0 -1 0.44772 -1 1l0 3c0 0.55228 0.44772 1 1 1l1.58579 0 -0.2929 -0.29289c-0.39052 -0.39053 -0.39052 -1.02369 0 -1.41422 0.39053 -0.39052 1.02369 -0.39052 1.41422 0l2 2Z" clip-rule="evenodd" stroke-width="1"></path></g></svg><span class="strong">El sistema evoluciona</span></div>',
            "html": item6 | safe
          }
          
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}