{% set title = "Soporte. DESY. Sistema de diseño del Gobierno de Aragón. Librerías, documentación y ejemplos" %}
{% set activePage = "page-soporte" %}
{% set activeApartado = "soporte" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}


{% block contentBlock %}
  {% include "includes/_back-index-button.njk" %}
  <div class="grid lg:grid-cols-4 gap-base">
    <div class="lg:col-span-3">
      <h1 class="c-h1">Soporte</h1>
      <p class="mb-xl c-paragraph-lg">Si encuentras algún bug, si tienes alguna duda o si quieres proponer alguna mejora, puedes ponerte en contacto con nosotros.</p>
      <div class="grid lg:grid-cols-2 gap-lg">
        <div class="lg:col-span-2">
          {% call componentCard({
            "classes": "",
            "containerClasses": "py-lg border-t-8 border-neutral-dark",
            "caller": ""
          })  %}
          <h2 class="c-h2">Si eres integrador</h2>
          <p class="c-paragraph-base mb-xl">Si eres integrador, el punto de entrada para la petición de resolución de problemas es mediante nuestro <a class="c-link" href="https://soportesda.aragon.es/external/ticket/create/new">Formulario de soporte para integradores</a> (requiere identificarse). Recuerda que el soporte sólo se aplica a las últimas versiones del producto por lo que te recomendamos que mantengas actualizada tu aplicación con las últimas versiones de las librerías.</p>
          {% endcall %}
        </div>
        <div>
          {% call componentCard({
            "classes": "",
            "containerClasses": "py-lg border-t-8 border-neutral-dark",
            "caller": ""
          })  %}
          <h2 class="c-h2">Si eres ciudadano/a:</h2>
          <p class="c-paragraph-base">Si tienes cualquier comentario o has encontrado algún problema en el sistema de diseño, puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:</p>
          <ul class="c-ul">
              <li>
                <p>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 414</a>.</p>
                <p class="text-sm">Horario de lunes a viernes de 8:00 a 18:00 (excepto verano y festivos).</p>
              </li>
              <li>Escribir un email a: <a href="mailto:soportesda@aragon.es" class="c-link">soportesda@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
            </ul>
          {% endcall %}
        </div>
        <div>
            {% call componentCard({
              "classes": "",
              "containerClasses": "py-lg border-t-8 border-neutral-dark",
              "caller": ""
            })  %}
            <h2 class="c-h2">Si trabajas para el Gobierno de Aragón:</h2>
            <p class="c-paragraph-base">
              Si encuentras algún bug, duda o propuesta de mejora, puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
            </p>
            <ul class="c-ul">
              <li>
                <p>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>.</p>
                <p class="text-sm">Horario de lunes a viernes de 8:00 a 18:00 (excepto verano y festivos).</p>
              </li>
              <li>Escribir un email a: <a href="mailto:soportesda@aragon.es" class="c-link">soportesda@aragon.es</a></li>
              <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
            </ul>
            {% endcall %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}