{% set title = "Catálogo de componentes. DESY. Sistema de diseño del Gobierno de Aragón. Librerías, documentación y ejemplos" %}
{% extends "pages/_template.desy-aragon-es.njk" %}
{% set activePage = "page-componentes" %}


{% from "components/button/_macro.button.njk" import componentButton %}


{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="py-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
      "classes": "c-button--transparent",
      "href": "componentes.html"
    })  }}
  </div> 
  <div class="lg:w-3/4">
    <h1 class="c-h1 pt-lg">Catálogo de componentes</h1>
    <p class="c-paragraph-base">Recopilación de la mayor parte de los componentes y sus usos más típicos.</p>
    <div class="pb-xl"></div>
    {% include "ds/_ds.section.botones.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.forms.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.navigation.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.dropdowns.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.menubar.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.mostrar-ocultar.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.datos.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.avisos.njk" %}
    <div class="pb-2xl"></div>
    {% include "ds/_ds.section.informacion.njk" %}
    <div class="pb-2xl"></div>
  </div>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}