{% set title = "Cómo empezar - Diseño UI. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-disenador" %}
{% set activeApartado = "disenador" %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/button/_macro.button.njk" import componentButton %}

{% block sidebarBlock %}
  {% include "includes/docs-como-empezar/_menu-lateral-como-empezar.njk" %}
{% endblock %}

{% block innerContentBlock %}
  <div>
    <div>
      <div class="lg:pb-lg"></div>
      <h1 class="c-h1">Diseño de interfaz</h1>
      <p class="c-paragraph-base">Necesitarás nuestra librería de componentes en Figma, que te permitirá crear mockups de tus aplicaciones web para el Gobierno de Aragón. Tiene los mismos componentes que desy-html y desy-angular y te servirá para prototipar ideas de interfaz y testear con personas usuarias.</p>
      
      <div>
        {{ componentButton({
          "html": "DESY en Figma <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
          "href": "https://www.figma.com/community/file/1167029569064210460",
          "classes": "c-button c-button--primary",
          "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
        }) }}
      </div>

      <div class="pb-xl"></div>
      <h2 class="c-h2">Cómo configurar Figma</h2>
      <iframe class="w-full aspect-[4/3] border border-neutral-base rounded mb-xl" title="Presentación en Figma sobre cómo configurar la librería." src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FuyVFTCFwdlAiMMsW8U3CAj%2FC%25C3%25B3mo-empezar%3Fpage-id%3D1%253A70%26node-id%3D1-104%26viewport%3D851%252C312%252C0.15%26t%3DGXBPIgoiO0qjsMqb-1%26scaling%3Dscale-down-width%26content-scaling%3Dfixed" allowfullscreen></iframe>
    </div>
    <div class="grid lg:grid-cols-2 gap-xl">
      <h2 class="sr-only">Otros enlaces de interés</h2>
      <div>
        {% call componentCard({
          "containerClasses": "p-base bg-neutral-lighter"
        })  %}
          <div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-8 h-8" focusable="false" aria-hidden="true" role="presentation"><g><path d="M7.75,15.75H11.5V8.25H7.75a3.75,3.75,0,0,0,0,7.5Z" fill="currentColor"></path><path d="M7.75,7.5H11.5V0H7.75a3.75,3.75,0,0,0,0,7.5Z" fill="currentColor"></path><path d="M20,3.75A3.75,3.75,0,0,0,16.25,0H12.5V7.5h3.75A3.75,3.75,0,0,0,20,3.75Z" fill="currentColor"></path><circle cx="16.25" cy="12" r="3.75" fill="currentColor"></circle><path d="M4,20.25a3.75,3.75,0,0,0,7.5,0V16.5H7.75A3.75,3.75,0,0,0,4,20.25Z" fill="currentColor"></path></g></svg>
            </div>
            <div class="mb-base"></div>
            <h3 id="titulo-card-1" class="c-h3 mb-sm">Librería DESY en Figma</h3>
            <div class="prose max-w-none mb-base text-sm">
              <p>Descarga nuestros componentes directamente desde la página de Comunidad.</p>
            </div>
            <!-- button -->
            <a href="https://www.figma.com/community/file/1167029569064210460" target="_blank" title="Se abre en ventana nueva" role="button" draggable="false" class="c-button c-button--transparent c-button--sm"  id="boton-card-1" aria-labelledby="boton-card-1 titulo-card-1">
              Acceder <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
            </a>
            <!-- /button -->
          </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "containerClasses": "p-base bg-neutral-lighter"
        })  %}
          <div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="1em" width="1em" class="block w-8 h-8" focusable="false" aria-hidden="true" role="presentation"><path fill="currentColor" fill-rule="evenodd" d="M0 2.25C0 1.03579 1.03579 0 2.25 0H21.75C22.9642 0 24 1.03579 24 2.25V17.25C24 18.4642 22.9642 19.5 21.75 19.5H11.5L5.7 23.85C5.47274 24.0204 5.16868 24.0479 4.91459 23.9208C4.6605 23.7938 4.5 23.5341 4.5 23.25V19.5H2.25C1.03579 19.5 0 18.4642 0 17.25V2.25ZM3.13135 10.9966C2.71713 10.9966 2.38135 11.3324 2.38135 11.7466C2.38135 12.1609 2.71713 12.4966 3.13135 12.4966H11.6108C12.0251 12.4966 12.3608 12.1609 12.3608 11.7466C12.3608 11.3324 12.0251 10.9966 11.6108 10.9966H3.13135ZM14.0265 11.7466C14.0265 11.3324 14.3623 10.9966 14.7765 10.9966H20.7687C21.1829 10.9966 21.5187 11.3324 21.5187 11.7466C21.5187 12.1609 21.1829 12.4966 20.7687 12.4966H14.7765C14.3623 12.4966 14.0265 12.1609 14.0265 11.7466ZM3.13135 14.5999C2.71713 14.5999 2.38135 14.9356 2.38135 15.3499C2.38135 15.7641 2.71713 16.0999 3.13135 16.0999H9.12353C9.53774 16.0999 9.87353 15.7641 9.87353 15.3499C9.87353 14.9356 9.53774 14.5999 9.12353 14.5999H3.13135ZM17.0792 15.3499C17.0792 14.9356 17.4149 14.5999 17.8292 14.5999H20.7687C21.1829 14.5999 21.5187 14.9356 21.5187 15.3499C21.5187 15.7641 21.1829 16.0999 20.7687 16.0999H17.8292C17.4149 16.0999 17.0792 15.7641 17.0792 15.3499ZM12.0631 14.5999C11.6489 14.5999 11.3131 14.9356 11.3131 15.3499C11.3131 15.7641 11.6489 16.0999 12.0631 16.0999H15.1157C15.5299 16.0999 15.8657 15.7641 15.8657 15.3499C15.8657 14.9356 15.5299 14.5999 15.1157 14.5999H12.0631Z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="mb-base"></div>
            <h3 id="titulo-card-2" class="c-h3 mb-sm">Tus aportaciones son importantes</h3>
            <div class="prose max-w-none mb-base text-sm">
              <p>Puedes colaborar en la mejora de los componentes y librerías insertando un comentario en cualquiera de nuestras publicaciones de la Comunidad.</p>
            </div>
            <!-- button -->
            <a href="https://www.figma.com/@sdaragon" target="_blank" title="Se abre en ventana nueva" role="button" draggable="false" class="c-button c-button--transparent c-button--sm"  id="boton-card-2" aria-labelledby="boton-card-2 titulo-card-2">
              Acceder <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
            </a>
            <!-- /button -->
          </div>
        {% endcall %}
      </div>
    </div>
    <div>
      <hr class="border-t border-neutral-base mt-lg mb-sm">
      <p class="c-paragraph-sm">Debido a la versatilidad y potencial que presenta Figma a la hora de diseñar los diferentes prototipos y colaborar con la comunidad, todos los componentes de DESY previamente desarrollados en Adobe XD se han migrado a esta herramienta. Por lo tanto, la librería de Figma se actualizará periódicamente y sustituirá a la de Adobe, la cual dejará de tener soporte por parte de SDA.</p>
      <p class="c-paragraph-sm">Puedes consultar la antigua biblioteca compartida en Adobe Creative Cloud <a target="_blank" title="Se abre en ventana nueva" href="https://assets.adobe.com/public/34f4a2fd-e841-45da-5bd9-f69e97b0bbbb" class="c-link c-link--neutral">desy.library.components</a>.</p>
    </div>
  </div>



{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}