{% set title = "Cómo empezar - Accesibilidad. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-accesibilidad" %}
{% set activeApartado = "accesibilidad" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}

{% block sidebarBlock %}
  {% include "includes/docs-como-empezar/_menu-lateral-como-empezar.njk" %}
{% endblock %}

{% block innerContentBlock %}

  <div>
    <div>
      <div>
        <div class="lg:pb-lg"></div>
        <h1 class="c-h1">Accesibilidad</h1>
        <p class="c-paragraph-base">Las webs, herramientas y documentos del Gobierno de Aragón están obligados a cumplir con el estándar AA de las <a href="https://www.w3.org/TR/WCAG22" class="c-link" target="_blank" title="Se abre en ventan nueva">Web Content Accesibility Guidelines (WCAG) 2.2</a> y la UNE-EN 301549:2022, como se establece en el <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699" class="c-link">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público</a>.</p>
        <p class="c-paragraph-base">Debemos conseguir que el mayor número de personas posible pueda percibir y operar nuestros productos digitales en cualquier tipo de dispositivo. Todos debemos implicarnos en este proceso y tener en cuenta estos criterios desde su concepción.</p>
        

        <div class="pb-xl"></div>
        <h2 class="c-h2">Recursos</h2>
        <div class="grid gap-lg">
          <div>
            <h3 class="c-h3">Accesibilidad Web. WCAG 2.2 de forma sencilla</h3>
            <p class="c-paragraph-base">Recomendamos tomar como referencia el <a href="https://olgacarreras.blogspot.com/" class="c-link" title="Se abre en ventana nueva" target="_blank">blog Usable y Accesible{% include "includes/_external-link-icon.njk" %}</a> y consultar el <a href="https://olgacarreras.blogspot.com/2024/02/libro-accesibilidad-web-wcag-22-de.html" class="c-link" title="Se abre en ventana nueva" target="_blank">libro gratuito Accesibilidad Web. WCAG 2.2 de forma sencilla{% include "includes/_external-link-icon.njk" %}</a> para obtener más información y recursos útiles aplicables en tu flujo de trabajo.</p>
          </div>
          <div>
            <h3 class="c-h3">Portales de información</h3>
            <p class="c-paragraph-base">Si tienes dudas sobre cómo funciona una etiqueta, cuáles son sus atributos ARIA, cómo se construye un elemento o la normativa aplicable, puedes consultar los portales de información oficiales.</p>
            <ul>
              <li class="mb-base"><a href="https://developer.mozilla.org/es/docs/Web/Accessibility" class="c-link" title="Se abre en ventana nueva" target="_blank">Tutoriales de accesibilidad web y ARIA en Mozilla Web Developer{% include "includes/_external-link-icon.njk" %}</a></li>
              <li class="mb-base"><a href="https://www.w3.org/WAI/ARIA/apg/patterns/landmarks/examples/general-principles.html" class="c-link" title="Se abre en ventana nueva" target="_blank">Bloques de contenido en W3C - ARIA Landmarks{% include "includes/_external-link-icon.njk" %}</a></li>
              <li class="mb-base"><a href="https://www.w3.org/WAI/ARIA/apg/patterns/" class="c-link" title="Se abre en ventana nueva" target="_blank">Patrones de semántica en W3C - ARIA Authoring Practices Guide (APG){% include "includes/_external-link-icon.njk" %}</a></li>
              <li class="mb-base"><a href="https://administracionelectronica.gob.es/pae_Home/pae_Estrategias/pae_Accesibilidad.html" class="c-link" title="Se abre en ventana nueva" target="_blank">Criterios de Accesibilidad Web (WCAG) 2.2 en W3C{% include "includes/_external-link-icon.njk" %}</a></li>
              <li class="mb-base"><a href="https://administracionelectronica.gob.es/pae_Home/pae_Estrategias/pae_Accesibilidad.html" class="c-link" title="Se abre en ventana nueva" target="_blank">Observatorio de Accesibilidad Web{% include "includes/_external-link-icon.njk" %}</a></li>
            </ul>
          </div>

          
        </div>
      </div>

      <div class="pb-xl"></div>
      <h2 class="c-h2">Accesibilidad con DESY</h2>
      <div class="p-base bg-primary-light my-base">
        <p class="font-bold mb-base">Recuerda</p>
        <ul class="c-ul text-sm mb-0">
          <li>El sistema de diseño por sí mismo <strong> no garantiza la accesibilidad</strong>, pero si te facilitará el desarrollo.</li>
          <li><strong>Si no conoces los atributos ARIA, no los utilices</strong>. Es mejor no usarlos que usarlos mal.</li>
          <li>Intenta <strong>evitar widgets externos de accesibilidad</strong> como lectores de pantalla incrustados en portales o de etiquetado automático. A menudo es un parche que obstaculiza las propias herramientas de asistencia que cada persona se ha configurado en su equipo y dificulta la navegabilidad. Debes tener en cuenta la accesibilidad desde el principio del proyecto y etiquetar los elementos con criterio.</li>
        </ul>
      </div>
      <p class="c-paragraph-base">Deberás utilizar, en cada componente, los <strong>atributos ARIA y etiquetas</strong> de manera adecuada, y tener una jerarquía y sintaxis correcta. Nuestras <a href="plantillas.html" class="c-link">plantillas</a> y <a href="patrones.html" class="c-link">patrones</a> te ahorrarán tiempo de maquetación.</p>
      <p class="c-paragraph-base">Es posible que necesites un componente, configuración, patrón o plantilla específico para tu proyecto que no proporcione DESY. <strong>Puedes implementar o desarrollar nuevos</strong>, asegúrate de que cumple los <strong>requisitos AA de accesibilidad</strong> y es coherente con nuestros <a href="estilos.html" class="c-link">estilos</a>.</p>

      <div class="pb-xl"></div>
      {% set item1 %}
        <p class="c-paragraph-base mt-base">Utiliza nuestros <a href="estilos-tipografia.html" class="c-link">estilos de texto</a> y consulta los <a href="estilos-tipografia-usos.html" class="c-link">usos correctos</a></p>
        <ul class="c-ul mt-base">
          <li><a class="font-semibold">Encabezados</a>: <code>&lt;h1&gt;-&lt;h6&gt;</code>. Deben seguir un orden coherente y el título del contenido de la página debe ser un único <code>&lt;h1&gt;</code>.</li>
          <li><a class="font-semibold">Párrafos</a>: Texto que sigue a los encabezados. No dejes <code>&lt;p&gt;</code> vacíos, ni escribas texto directamente dentro de un <code>&lt;div&gt;</code>.</li>
          <li><a class="font-semibold">Listas</a>: Utiliza <code>&lt;ul&gt;</code> para listas sin orden y <code>&lt;ol&gt;</code> para ordenadas. No simules items de lista con guiones o números.</li>
          <li><a class="font-semibold">Enlaces</a>: <code>&lt;a&gt;</code>. Si se abre en nueva ventana o pestaña, deberás indicarlo en el atributo <code>title</code>. En el caso de enlazar documentos,<a href="estilos-tipografia-usos.html#enlaces" class="c-link">debes indicar el formato y el tamaño en el enlace</a>.</li>
          <li><a class="font-semibold">Bloques comunes</a>: <code>&lt;header&gt;</code>, <code>&lt;footer&gt;</code>, <code>&lt;main&gt;</code>. Los bloques de <a href="plantillas.html" class="c-link">plantillas</a> te ayudarán a estructurar tu página.</li>
        </ul>
        <p class="c-paragraph-base pt-base">Otras consideraciones que te permitirán añadir información útil a lectores de pantalla.</p>
        <ul class="c-ul">
          <li><code>&lt;hr&gt;</code>: Línea de separación.</li>
          <li><code>&lt;abbr&gt;</code>: Describe la palabra abreviada. Por ejemplo: <abbr title="Avenida">Avda.</abbr></li>
          <li><code>&lt;q&gt;</code>: Cita. Por ejemplo: <q>Esto es una cita</q></li>
          <li><code>lang</code>: Atriuto que especifica el lenguaje del contenido del elemento. <a href="https://www.w3schools.com/tags/att_global_lang.asp" class="c-link" title="Se abre en ventana nueva" target="_blank">Más información sobre el atributo lang{% include "includes/_external-link-icon.njk" %}</a></li>
          <li><strong>No utilices el elemento <code>&lt;br&gt;</code></strong> para forzar saltos de línea y espaciados. Esto genera problemas de usabilidad para las personas con lectores de pantalla.</li>

        </ul>
        <p class="c-paragraph-base pt-base">Utiliza extensiones de navegador para consultar la jerarquía de contenido y la legibilidad de la página cuando desactivas el CSS.</p>
      {% endset %}

      {% set item2 %}
        <p class="c-paragraph-base mt-base">La construcción de un formulario es muy importante. Puede suponer una <strong>barrera de entrada</strong> para las personas si no son capaces de navegar por él, entender y percibir la información.</p><p class="c-paragraph-base"> Consulta la sección de <a href="componente-formularios.html" class="c-link">componentes de formularios</a> y <a href="patrones.html#cmo-pedimos-informacin" class="c-link">patrones sobre cómo pedimos información</a> para conocer las buenas prácticas, el etiquetado y los parámetros que debes tener en cuenta en cada input.</p>
      {% endset %}

      {% set item3 %}
        <p class="c-paragraph-base mt-base">Un contenido digital debe poder adaptarse a distintos dispositivos y formatos. Diseña y desarrolla primero en <strong>anchuras pequeñas</strong> para solucionar problemas de interfaz. Partiendo de un entorno más restrictivo llegarás a interfaces más consistentes cuando las adaptes a anchuras mayores en pantallas de escritorio.</p>
        <p class="c-paragraph-base">Testea rápidamente cómo se comporta el contenido de tu web para validar las soluciones desarrolladas.</p>
        <ul class="c-ul">
          <li>
            <p class="font-semibold">Cambia las dimensiones de la ventana de tu navegador</p>
            <p class="c-paragraph-base">¿Tienes elementos fijos que impiden ver el contenido?¿Hay elementos desbordados?</p>
          </li>
          <li>
            <p class="font-semibold">Cambia el tamaño de letra en la configuración de tu navegador</p>
            <p class="c-paragraph-base">¿Tu contenido es legible?¿Se desborda? Asegúrate de <strong>construir en unidades parametrizadas <code>rem</code></strong> en lugar de unidades absolutas <code>px</code> para evitar problemas de escalabilidad.</p>
          </li>
        </ul>
      {% endset %}

      {% set item4 %}
        <p class="c-paragraph-base mt-base">Los <a href="estilos-color.html" class="c-link">estilos de color DESY</a> cumplen accesibilidad y los utilizamos en los componentes de manera que siempre se respete el contraste mínimo para que cualquier persona pueda percibir las acciones y el contenido correctamente.</p>
        <ul class="c-ul">
          <li><strong>No utilices sólo colores, imágenes o iconos para transmitir información.</strong> Acompaña con una etiqueta de texto o atributos ARIA que describan su propósito.</li>
          <li>Utiliza <strong>extensiones del navegador</strong> que te permitan analizar el contraste entre los colores de fondo y texto de tu página para detectar cuáles incumplen el criterio.</li>
        </ul>
      {% endset %}

      {% set item5 %}
        <p class="c-paragraph-base p-base bg-neutral-light mt-base">Es obligatorio facilitar la navegación de tu sitio web a través de un <a href="patrones-pagina-otras.html#mapa-web" class="c-link"><strong>mapa web</strong></a> disponible en el <a href="componente-footer.html" class="c-link">pie de página</a>.</p>
        <p class="c-paragraph-base">Una manera rápida de revisar que tu web es navegable por teclado es utilizar el tabulador para saltar entre los elementos accionables. Debes tener en cuenta los siguientes puntos:</p>
        <ul class="c-ul">
          <li><strong>Enlaces de saltar al contenido</strong>: Utilizamos un componente oculto para saltar la navegación de las <a href="componente-cabeceras.html#accesibilidad" class="c-link">cabeceras</a>.</li>
          <li><strong>Foco visible</strong>: Al tabular, el elemento coge el foco y debe aparecer resaltado en amarillo.<strong> No lo ocultes</strong>, siempre debe ser visible.</li>
          <li><strong>Navegación en grupos de elementos</strong>: La navegación por un formulario, listados o grupos de botones es muy importante. Mantén una navegación ordenada y consistente por cada uno de los elementos. Debes poder llegar a todos ellos, ya sean selectores, árboles o desplegables. La jerarquía de etiquetas te ayudará a que la navegación por teclado sea similar a la visual.</li>
          <li><strong>Avisos y notificaciones</strong>: Cuando aparece una notificación de error, un mensaje modal o un aviso importante, el foco debe saltar al título del bloque. Dependiendo de su importancia debe hacerlo instantáneamente o al terminar la lectura del bloque actual. Revisa los parámetros de accesibilidad de nuestros componentes para asegurar que su comportamiento es correcto.</li>
          <li><strong>Desplegables y pop-ups</strong>: En ocasiones, al desplegar un contenido es necesario que el foco salte a un accionable concreto. Por ejemplo, al botón de cerrar en un menú o al primer item de un listado.</li>
        </ul>
        <p class="c-paragraph-base">Puedes utilizar extensiones del navegador para consultar el orden que sigue el foco.</p>
      {% endset %}

      {% set item6 %}
        <p class="c-paragraph-base mt-base">La forma más rigurosa de testear que el comportamiento de tu web es el correcto, es instalando un lector de pantalla como <a href="https://nvda.es/" class="c-link" title="Se abre en ventana nueva" target="_blank">NVDA para Chrome y Firefox{% include "includes/_external-link-icon.njk" %}</a> en Windows y <a href="https://support.apple.com/es-es/guide/voiceover/welcome/mac" class="c-link" title="Se abre en ventana nueva" target="_blank">VoiceOver{% include "includes/_external-link-icon.njk" %}</a> en macOS. Se trata de una asistente avanzado muy personalizable, con atajos de teclado propios y su propia curva de aprendizaje. </p>
        <p class="c-paragraph-base">Intenta navegar con teclado, sin mirar a la pantalla y únicamente escuchando las descripciones que te proporciona la herramienta. Empatiza con una persona con discapacidad e intenta localizar las barreras que va a encontrar, o testea con personas que utilicen esta herramienta en su día a día.</p>
        <ul class="c-ul">
          <li>¿Puede acceder a todos los botones?</li>
          <li>¿Se entienden los datos que piden los formularios?</li>
          <li>¿Son claras las acciones y los enlaces?</li>
          <li>¿Hay información que se pierda?</li>
        </ul>
      {% endset %}

      {% set item7 %}
        <p class="c-paragraph-base mt-base">Aunque produzcas contenidos enlazables que se encuentran fuera de tu web, también deberán cumplir accesibilidad.</p>
        <ul class="c-ul">
          <li><strong>Documentos PDF y Word</strong>: Consulta la <a href="https://departamentodecienciaaragon.atlassian.net/wiki/spaces/PORTAL/pages/97714242/Accesibilidad+de+documentos+Word+y+PDF" class="c-link" title="Se abre en ventana nueva" target="_blank">guía de accesibilidad de contenidos PDF y Word del Portal del Gobierno de Aragón{% include "includes/_external-link-icon.njk" %}</a> para saber cómo construirlos. Ten en cuenta que <a href="estilos-tipografia-usos.html#enlaces" class="c-link">debes indicar el formato y el tamaño en el enlace</a>.</li>
          <li><strong>Publicaciones en Redes Sociales</strong>: Utiliza el campo de texto alternativo para imágenes que te proporciona cada plataforma.</li>
          <li><strong>Vídeos</strong>: Deben tener subtítulos. Youtube es capaz de incluirlos de manera automática, pero recomendamos incrustarlos en el vídeo o configurarlos en el reproductor.</li>
        </ul>
      {% endset %}

      {% set item8 %}
        <p class="c-paragraph-base mt-base">Se trata de un <a href="https://administracionelectronica.gob.es/pae_Home/pae_Estrategias/pae_Accesibilidad/implantacion-rd-1112-2018/declaracion_accesibilidad.html#Instrucciones" title="Se abre en ventana nueva" target="_blank" class="c-link">modelo normalizado de declaración de accesibilidad{% include "includes/_external-link-icon.njk" %}</a> que se obtiene tras <a href="https://administracionelectronica.gob.es/pae_Home/pae_Estrategias/pae_Accesibilidad/implantacion-rd-1112-2018/revisiones_accesibilidad.html"  title="Se abre en ventana nueva" target="_blank" class="c-link">realizar una revisión de accesibilidad{% include "includes/_external-link-icon.njk" %}</a> de tu sitio web.</p>
        <p class="c-paragraph-base p-base bg-neutral-light mt-base">Es obligatorio enlazar a la declaración de accesibilidad desde el <a href="componente-footer.html" class="c-link">pie de página</a>. Consulta el <a href="patrones-pagina-otras.html#declaracin-de-accesibilidad" class="c-link">patrón de página de la declaración de accesibilidad</a> para obtener más información.</p>
      {% endset %}


      {{ componentAccordion({
        "idPrefix": "accordion-example",
        "headingLevel": 2,
        "allowMultiple": true,
        "heading": {
          "text": "Qué debes tener en cuenta",
          "classes": "c-h2"
        },
        "items": [
          {
            "headerText": "Etiquetado y semántica",
            "html": item1 | safe
          },
          {
            "headerText": "Formularios",
            "html": item2 | safe
          },
          {
            "headerText": "Responsive en anchuras pequeñas",
            "html": item3 | safe
          },
          {
            "headerText": "Contraste y uso del color",
            "html": item4 | safe
          },
          {
            "headerText": "Navegación con el teclado",
            "html": item5 | safe
          },
          {
            "headerText": "Utilización de lectores de pantalla",
            "html": item6 | safe
          },
          {
            "headerText": "Contenidos enlazables",
            "html": item7 | safe
          },
          {
            "headerText": "Declaración de accesibilidad",
            "html": item8 | safe
          }
        ]
      }) }}
      <div class="pb-xl"></div>
    </div>

    
  </div>



{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}