{% set title = "Cómo empezar - Tutorial. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-tutorial" %}
{% set activeApartado = "tutorial" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}

{% block sidebarBlock %}
  {% include "includes/docs-como-empezar/_menu-lateral-como-empezar.njk" %}
{% endblock %}

{% block innerContentBlock %}
<div>
  <div class="lg:pb-lg"></div>
  {% set tutorialLeccion1 %}
    <div class="my-lg"><iframe class="aspect-video w-full border border-neutral-base rounded" src="https://www.youtube.com/embed/7SOeVANrIxI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  {% endset %}
  {% set tutorialLeccion2 %}
    <div class="my-lg"><iframe class="aspect-video w-full border border-neutral-base rounded" src="https://www.youtube.com/embed/2LIiZd_Oh3I" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  {% endset %}
  {% set tutorialLeccion3 %}
    <div class="my-lg"><iframe class="aspect-video w-full border border-neutral-base rounded" src="https://www.youtube.com/embed/O6is4niiHf4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  {% endset %}
  {% set tutorialLeccion4 %}
    <div class="my-lg"><iframe class="aspect-video w-full border border-neutral-base rounded" src="https://www.youtube.com/embed/a1jgzXHxD_Q" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
  {% endset %}
  {{ componentAccordionHistory({
    "idPrefix": "accordion-show-hide",
    "headingLevel": 1,
    "heading": {
      "text": "Tutorial: De cero a producción con DESY",
      "classes": "c-h1"
    },
    "items": [
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">01: Cosas a tener en cuenta antes de diseñar</span><span class=\"block lg:pr-xl pointer-events-none font-normal\">En este capítulo veremos las preguntas que debemos hacernos antes de diseñar con DESY para saber dónde buscar la información, librerías o recursos para ello. También daremos un pimer vistazo a los bocetos de las pantallas que vamos a diseñar.</span>",
        "html": tutorialLeccion1 | safe,
        "open": true
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">02: Diseñar mockups con DESY</span><span class=\"block lg:pr-xl pointer-events-none font-normal\">En este capítulo veremos utilizaremos la librería de la comunidad de DESY en Figma para diseñar los mockups, partiendo de unos bocetos iniciales de nuestras páginas.</span>",
        "html": tutorialLeccion2 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">03: Preparar entorno para maquetar</span><span class=\"block lg:pr-xl pointer-events-none font-normal\">En este capítulo instalaremos Node.js con Node Version Manager, tanto para MacOS como para Windows, para poder ejecutar nuestro proyecto de maquetación.</span>",
        "html": tutorialLeccion3 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">04: Maquetar con desy-html</span><span class=\"block lg:pr-xl pointer-events-none font-normal\">En este capítulo maquetaremos nuestras pantallas del mockup con el proyecto desy-html-starter, que usa la librería desy-html.</span>",
        "html": tutorialLeccion4 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">05: Desarrollar con desy-angular</span><span class=\"block lg:pr-xl pointer-events-none font-normal\">Utiliza desy-angular u otra tecnología para implementar las funcionalidades definidas.</span>",
        "html": '<div class="my-lg"><span class="bg-neutral-light p-base"><em>Próximamente</em></span></div>',
        "status": "pending"
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">06: Preparar para producción</span><span class=\"block lg:pr-xl pointer-events-none font-normal\">Compila tu proyecto y prepara los archivos para publicarlos online.</span>",
        "html": '<div class="my-lg"><span class="bg-neutral-light p-base"><em>Próximamente</em></span></div>',
        "status": "pending"
      }
    ]
  })  }}
</div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}