{% set title = "Cómo empezar - Nuestro trabajo. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-nuestro-trabajo" %}
{% set activeApartado = "nuestro-trabajo" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}


{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% block sidebarBlock %}
  {% include "includes/docs-como-empezar/_menu-lateral-como-empezar.njk" %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg"></div>
  <h1 class="c-h1">Herramientas que aplican DESY</h1>
  <p>Puedes tomar como inspiración estos casos de éxito. Siguiendo las distintas fases de trabajo, los equipos han conseguido aplicar de manera rigurosa el sistema de diseño. Puedes consultar el producto final directamente desde el enlace al sitio web o su prototipado en Figma.</p>

  <div class="pb-lg"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h3>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#titulo-card-1" class="c-link">MiA</a></li>
    <li class="pb-sm"><a href="#titulo-card-2" class="c-link">Aplicaciones web del Gobierno de Aragón</a></li>
    <li class="pb-sm"><a href="#titulo-card-3" class="c-link">Portal de Salud</a></li>
    <li><a href="#titulo-card-4" class="c-link">Portal del observatorio demográfico</a></li>
  </ul>
  <div class="pb-2xl"></div>


  <div class="grid gap-xl">
    <div class="grid lg:grid-cols-3 lg:gap-lg">
      <div class="col-span-1">
        {% call componentCard({
          "containerClasses": "py-lg border-t-8 border-neutral-dark"
        })  %}
        <div>
          <h2 id="titulo-card-1" class="c-h2"><a href="#titulo-card-1" class="pointer-events-none">MiA</a></h2>
          <p class="c-paragraph-sm">El espacio único de relación digital con el Gobierno de Aragón. Tus datos, notificaciones y trámites en un solo lugar.</p>
          <ul class="py-base">
            <li>
              <!-- button -->
              <a href="https://mia.aragon.es/" target="_blank" title="Se abre en ventana nueva" draggable="false" class="c-button c-button--transparent"  id="btn-1-1" aria-labelledby="btn-1-1 titulo-card-1">
                Acceder a la aplicación {% include "includes/_external-link-icon.njk" %}
              </a>
              <!-- /button -->
            </li>
            <li>
              <!-- button -->
              <a href="https://www.figma.com/community/file/1217125965078470205" target="_blank"  title="Se abre en ventana nueva" draggable="false" class="c-button c-button--transparent"  id="btn-1-2" aria-labelledby="btn-1-2 titulo-card-1">
                Descargar prototipo {% include "includes/_external-link-icon.njk" %}
              </a>
              <!-- /button -->
            </li>
            <li>
              <!-- button -->
              <a href="https://desy.aragon.es/pages/carpeta-frontend/paginas.html" target="_blank"  title="Se abre en ventana nueva" draggable="false" class="c-button c-button--transparent"  id="btn-1-3" aria-labelledby="btn-1-3 titulo-card-1">
                Ver páginas {% include "includes/_external-link-icon.njk" %}
              </a>
              <!-- /button -->
            </li>
          </ul>
        </div>
        {% endcall %}
      </div>
      <div class="col-span-2 mb-lg">
        {{ componentSkipLink({
          "text": "Saltar la previsualización en Figma",
          "href": "#titulo-card-2"
        }) }}
        <iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma de MiA." src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FMvC9zRoUjMJtQvCSSqkp3Z%2FMiA%3Fpage-id%3D0%253A1%26node-id%3D1045%253A18839%26viewport%3D527%252C420%252C0.02%26scaling%3Dscale-down-width%26starting-point-node-id%3D1045%253A18839%26show-proto-sidebar%3D1" allowfullscreen></iframe>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 lg:gap-lg">
      <div class="col-span-1">
        {% call componentCard({
          "containerClasses": "py-lg border-t-8 border-neutral-dark"
        })  %}
        <div>
          <h2 id="titulo-card-2" class="c-h2"><a href="#titulo-card-2" class="pointer-events-none">Aplicaciones web del Gobierno de Aragón</a></h2>
          <p class="c-paragraph-sm">Prototipos de algunas de las aplicaciones que el Gobierno de Aragón ha diseñado y desarrollado con DESY.</p>
          <ul class="py-base">
            <li>
              <!-- button -->
              <a href="https://www.figma.com/community/file/1390596088704624159/herramientas-del-gobierno-de-aragon" target="_blank" title="Se abre en ventana nueva" draggable="false" class="c-button c-button--transparent"  id="btn-2-1" aria-labelledby="btn-2-1 titulo-card-2">
                Descargar prototipos {% include "includes/_external-link-icon.njk" %}
              </a>
              <!-- /button -->
            </li>
          </ul>
        </div>
        {% endcall %}
      </div>
      <div class="col-span-2 mb-lg">
        {{ componentSkipLink({
          "text": "Saltar la previsualización en Figma",
          "href": "#titulo-card-3"
        }) }}

        {{ componentTabs({
          "tablistAriaLabel": "Prototipos de las herramientas del Gobierno de Aragón",
          "title": "Listado de aplicaciones",
          "headingLevel": 3,
          "idPrefix": "tab",
          "items": [
            {
              "text": "HAL",
              "panel": {
                "html": '<iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma de MiA." src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fuw5IQp7b1rdYiOZBT3YMd5%2FHerramientas-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D56%253A23676%26node-id%3D56-40362%26viewport%3D3283%252C5205%252C0.26%26t%3DM1OMSsKaHX6jVP1X-1%26scaling%3Dscale-down-width%26content-scaling%3Dfixed%26starting-point-node-id%3D56%253A40362%26show-proto-sidebar%3D1" allowfullscreen></iframe>'
              }
            },
            {
              "text": "IMAR",
              "panel": {
                "html": '<iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma de MiA." src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fuw5IQp7b1rdYiOZBT3YMd5%2FHerramientas-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D0%253A1%26node-id%3D20-22988%26viewport%3D732%252C951%252C0.12%26t%3DqxJKjjBJ6wxFVNlc-1%26scaling%3Dscale-down-width%26content-scaling%3Dfixed%26starting-point-node-id%3D20%253A22988%26show-proto-sidebar%3D1" allowfullscreen></iframe>'
              }
            },
            {
              "text": "PDA",
              "panel": {
                "html": '<iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma de MiA." src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fuw5IQp7b1rdYiOZBT3YMd5%2FHerramientas-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D14%253A34537%26node-id%3D20-23288%26viewport%3D5054%252C2236%252C0.43%26t%3Dw4dB2e5XziSZRNpu-1%26scaling%3Dscale-down-width%26content-scaling%3Dfixed%26starting-point-node-id%3D20%253A23288%26show-proto-sidebar%3D1" allowfullscreen></iframe>'
              }
            },
            {
              "text": "FPU",
              "panel": {
                "html": '<iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma de MiA." src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fuw5IQp7b1rdYiOZBT3YMd5%2FHerramientas-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D101%253A42549%26node-id%3D101-45410%26viewport%3D2004%252C2462%252C0.17%26t%3D1zBDLD7OAFKpLA7n-1%26scaling%3Dscale-down-width%26content-scaling%3Dfixed%26starting-point-node-id%3D101%253A45410%26show-proto-sidebar%3D1" allowfullscreen></iframe>'
              }
            }
          ],
          "attributes": {
            "id": "tabs-default"
          }
        }) }}
      </div>
    </div>

    <div class="grid lg:grid-cols-3 lg:gap-lg">
      <div class="col-span-1">
        {% call componentCard({
          "containerClasses": "py-lg border-t-8 border-neutral-dark"
        })  %}
        <div>
          <h2 id="titulo-card-4" class="c-h2"><a href="#titulo-card-4" class="pointer-events-none">Portal del observatorio demográfico</a></h2>
          <p class="c-paragraph-sm">Sitio web presencial con la cabecera para portales en versión de escritorio y móvil. Contiene su propio área personal, un foro, contenidos de actualidad, enlaces a recursos, documentos y datos estadísticos.</p>
          <div class="flex flex-col">
            <ul class="py-base">
              <li>
                <div>
                  <!-- button -->
                  <a href="https://www.figma.com/community/file/1332643260653324946/portal-del-observatorio-demografico" target="_blank" title="Se abre en ventana nueva" draggable="false" class="c-button c-button--transparent"  id="btn4-1" aria-labelledby="btn4-1 titulo-card-4">
                    Descargar prototipo {% include "includes/_external-link-icon.njk" %}
                  </a>
                  <!-- /button -->
                </div>
              </li>
            </ul>
          </div>
        </div>
        {% endcall %}
      </div>
      <div class="col-span-2 mb-lg">
        {{ componentSkipLink({
          "text": "Saltar la previsualización en Figma",
          "href": "#contenido-footer"
        }) }}
        <iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma del portal del observatorio demográfico" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FAX8lZRarOH8ikmHSW3JgmT%2FPortal-del-Observatorio-demogr%25C3%25A1fico%3Fpage-id%3D0%253A1%26type%3Ddesign%26node-id%3D2-385%26viewport%3D-2498%252C-350%252C0.2%26t%3DZ4DGI4rGZkR3CYSI-1%26scaling%3Dscale-down-width%26starting-point-node-id%3D2%253A385%26show-proto-sidebar%3D1%26mode%3Ddesign" allowfullscreen></iframe>
      </div>
    </div>
    
  </div>


{% endblock %}


{% block notificationFooterBlock %}
{% endblock %}