{% set componente = [
  " ",
  "datos",
  "Datos",
  "Componentes que clasifican y ordenan la información en pequeños elementos más digeribles."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

{% from "components/card/_macro.card.njk" import componentCard %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>
  <p class="c-paragraph-base">Componentes que clasifican y ordenan la información en pequeños elementos más digeribles.</p>
  <div class="mb-lg"></div>
  <div class="flex flex-col gap-lg">
    <div class="grid lg:grid-cols-3 content-stretch gap-lg">
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-item.svg",
            "classes": "h-44 lg:h-32 -m-base mb-base bg-center bg-cover bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 class="c-h3"><a href="componente-item.html" class="c-link c-link--full">Item</a></h2>
          <p class="c-paragraph-sm">Bloque que presenta una información o acciones determinadas. Pueden apilarse varios de ellos.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-status-item.svg",
            "classes": "h-40 lg:h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 class="c-h3"><a href="componente-status.html" class="c-link c-link--full">Item de estado</a></h2>
          <p class="c-paragraph-sm">Bloque con listas de descripción o etiquetas, además de información del estado de las aportaciones realizadas.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-listado-descripciones.svg",
            "classes": "h-44 lg:h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 class="c-h3"><a href="componente-description-list.html" class="c-link c-link--full">Listado de descripciones</a></h2>
          <p class="c-paragraph-sm">Componente formado una pareja de valores relacionados. Pueden agruparse varios de ellos.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-pill.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 class="c-h3"><a href="componente-pills.html" class="c-link c-link--full">Píldoras</a></h2>
          <p class="c-paragraph-sm">Resaltan texto e identifican elementos independientes entre sí (categorías, filtros…).</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-tabla.svg",
            "classes": "h-44 lg:h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 class="c-h3"><a href="componente-tabla.html" class="c-link c-link--full">Tabla</a></h2>
          <p class="c-paragraph-sm">Ordena valores relacionados en filas y columnas, permitiendo su consulta por filtros.</p>
        </div>
        {% endcall %}
      </div>
    </div>
  </div>
  
  <div class="pb-xl"></div>
{% endblock %}