{% set componente = [
  "menu-horizontal",
  "menu-horizontal",
  "Menú horizontal",
  "El menú horizontal está compuesto por una serie de elementos que enlazan con cada una de las secciones principales del sitio web. Se trata de una forma sencilla de organizar el contenido y facilitar su acceso.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>

  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div>
      <h3 class="c-h3 pb-lg">Por defecto</h3>
      {{ componentMenuHorizontal({
        "idPrefix": "menu-example-1",
        "items": [
          {
            "href": "http://www.google.com",
            "text": "Opción 1",
            "active":true
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 2"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 3"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 4"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 5"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      })  }}
    </div>
    <div class="pb-2xl"></div>

    <div>
      <h3 class="c-h3 pb-lg">Con aspecto de enlaces</h3>
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--links",
        "items": [
          {
            "href": "http://www.google.com",
            "text": "Opción 1"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 2",
            "active": true
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 3"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 4",
            "disabled": true
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 5"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      }) }}
    </div>
    <div class="pb-2xl"></div>
    <div>
      <h3 class="c-h3 pb-lg">Con aspecto de menú de navegación</h3>
      {{ componentMenuHorizontal({
        "classes": "c-menu-horizontal--navigation-bar",
        "items": [
          {
            "href": "http://www.google.com",
            "text": "Opción 1"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 2",
            "active": true
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 3"
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 4",
            "disabled": true
          },
          {
            "href": "http://www.google.com",
            "text": "Opción 5"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        }
      }) }}
    </div>
    <div class="pb-2xl"></div>
    <div>
      <h3 class="c-h3 pb-lg">Con aspecto de pestaña e iconos</h3>
      {{ componentMenuHorizontal({
        "idPrefix": "menu-example-2",
        "items": [
          {
            "href": "#",
            "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" fill=\"none\" viewBox=\"0 0 14 14\" width=\"1em\" height=\"1em\" class=\"inline-block align-baseline mr-sm\" aria-label=\"Archivo\" focusable=\"false\" role=\"img\"><g id=\"new-file--empty-common-file-content\"><path id=\"Subtract\" fill=\"currentColor\" fill-rule=\"evenodd\" d=\"M7.875 0H2.5C2.10218 0 1.72064 0.158035 1.43934 0.43934C1.15804 0.720644 1 1.10218 1 1.5V12.5C1 12.8978 1.15804 13.2794 1.43934 13.5607C1.72064 13.842 2.10217 14 2.5 14H11.5C11.8978 14 12.2794 13.842 12.5607 13.5607C12.842 13.2794 13 12.8978 13 12.5V5.125H8.5C8.15482 5.125 7.875 4.84518 7.875 4.5V0ZM12.5821 3.875L9.125 0.417893V3.875H12.5821Z\" clip-rule=\"evenodd\"></path></g></svg> Opción 1",
            "active":true
          },
          {
            "href": "#",
            "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" fill=\"none\" viewBox=\"0 0 14 14\"  width=\"1em\" height=\"1em\" class=\"inline-block align-baseline mr-sm\" aria-label=\"Link\" focusable=\"false\" role=\"img\"><g id=\"link-chain--create-hyperlink-link-make-unlink-connection-chain\"><path id=\"Union-1\" fill=\"currentColor\" fill-rule=\"evenodd\" d=\"M7.6715 2.7426L7.67146 2.74264L6.70715 3.70707C6.31665 4.09761 5.68348 4.09765 5.29293 3.70715C4.90239 3.31665 4.90235 2.68348 5.29285 2.29293L6.25721 1.32847L6.25725 1.32843C8.02849 -0.442809 10.9002 -0.442809 12.6715 1.32843C14.4427 3.09965 14.4427 5.97136 12.6715 7.7426L12.6715 7.74264L11.7071 8.70707C11.3166 9.09761 10.6835 9.09765 10.2929 8.70715C9.90239 8.31664 9.90235 7.68348 10.2929 7.29293L11.2572 6.32847L11.2572 6.32843C12.2474 5.33824 12.2474 3.73283 11.2572 2.74264C10.2671 1.75247 8.66169 1.75245 7.6715 2.7426ZM3.70696 5.29285C4.0975 5.68335 4.09754 6.31652 3.70704 6.70707L2.74268 7.67153L2.74264 7.67157C1.75245 8.66176 1.75245 10.2672 2.74264 11.2574C3.73282 12.2475 5.33819 12.2475 6.32839 11.2574L6.32843 11.2574L7.29274 10.2929C7.68324 9.90239 8.31641 9.90235 8.70696 10.2929C9.0975 10.6834 9.09754 11.3165 8.70704 11.7071L7.74268 12.6715L7.74264 12.6716C5.9714 14.4428 3.09966 14.4428 1.32843 12.6716C-0.442796 10.9003 -0.442809 8.02864 1.32839 6.2574L1.32843 6.25736L2.29274 5.29293C2.68324 4.90239 3.31641 4.90235 3.70696 5.29285ZM9.20711 6.20711C9.59763 5.81658 9.59763 5.18342 9.20711 4.79289C8.81658 4.40237 8.18342 4.40237 7.79289 4.79289L4.79289 7.79289C4.40237 8.18342 4.40237 8.81658 4.79289 9.20711C5.18342 9.59763 5.81658 9.59763 6.20711 9.20711L9.20711 6.20711Z\" clip-rule=\"evenodd\"></path></g></svg> Opción 2"
          },
          {
            "href": "#",
            "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" fill=\"none\" viewBox=\"0 0 14 14\" width=\"1em\" height=\"1em\" class=\"inline-block align-baseline mr-sm\" aria-label=\"Solicitud\" focusable=\"false\" role=\"img\"><g id=\"clipboard-text--edition-form-task-checklist-edit-clipboard\"><path id=\"Union-2\" fill=\"currentColor\" fill-rule=\"evenodd\" d=\"M5.5 0C4.94772 0 4.5 0.447716 4.5 1V1.5C4.5 2.05229 4.94772 2.5 5.5 2.5H8.5C9.05229 2.5 9.5 2.05229 9.5 1.5V1C9.5 0.447715 9.05229 0 8.5 0H5.5ZM2.75 1H3.25V1.5C3.25 2.74264 4.25736 3.75 5.5 3.75H8.5C9.74264 3.75 10.75 2.74264 10.75 1.5V1H11.25C12.0784 1 12.75 1.67157 12.75 2.5V12.5C12.75 13.3284 12.0784 14 11.25 14H2.75C1.92157 14 1.25 13.3284 1.25 12.5V2.5C1.25 1.67157 1.92157 1 2.75 1ZM3.875 8.50049C3.875 8.15531 4.15482 7.87549 4.5 7.87549H9.5C9.84518 7.87549 10.125 8.15531 10.125 8.50049C10.125 8.84567 9.84518 9.12549 9.5 9.12549H4.5C4.15482 9.12549 3.875 8.84567 3.875 8.50049ZM4.5 10.3755C4.15482 10.3755 3.875 10.6553 3.875 11.0005C3.875 11.3457 4.15482 11.6255 4.5 11.6255H9.5C9.84518 11.6255 10.125 11.3457 10.125 11.0005C10.125 10.6553 9.84518 10.3755 9.5 10.3755H4.5Z\" clip-rule=\"evenodd\"></path></g></svg> Opción 3"
          }
        ],
        "attributes": {
          "aria-label": "Menu horizontal"
        },
        "classes":"c-menu-horizontal--tabs"
      }) }}
    </div>
    <div class="pb-xl"></div>

  {% endcall %}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt -base">
    <li>Rodeado con la etiqueta <code>&lt;nav&gt;</code>, debe tener un <code>aria-label</code> que describa el tipo de navegación.</li>
    <li>Dentro se encuentra una lista sin orden <code>&lt;ul&gt;</code> con una serie de <code>&lt;li&gt;</code> que contienen un enlace marcado con un <code>id</code> único.</li>
    <li>Si incluyes <code>svg</code> personalizados, asegúrate de que tienen los atributos <code>role=presentation</code> y <code>aria-hidden=true</code>.</li>
  </ul>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado"
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear un <code>id</code> concreto para cada item."
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Descibe el tipo de navegación."
          }
        ],
        [
          {
            "html": '<code>title</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code> cuando se usa un <code>target</code> en el item.'
          },
          {
            "html": "Anuncia que el enlace se abrirá en una nueva ventana o pestaña."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Los diferentes items deben estar lógicamente relacionadas pero ser mutuamente excluyentes. No hay más de un contenido por item.</li>
    <li>Utilizar pestañas cuando haya una gran cantidad de contenido que pueda separarse en distintas secciones. Esto permite ver el contenido sin tener que navegar fuera de esa página.</li>
    <li>Los grupos de pestañas pueden alinearse a la izquierda, al centro o a la derecha, según sea necesario.</li>
    <li>Las etiquetas de las pestañas pueden incluir iconos y texto. Las etiquetas de texto tienen que ser cortas.</li>
  </ul>
{% endblock %}