{% set componente = [
  "pagination",
  "paginacion",
  "Paginación",
  "La paginación se emplea cuando dividimos el contenido de una página para no abrumar, esto dará una idea de qué cantidad de información está disponible y permitirá saltar fácilmente entre las páginas.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
      <div class="mb-xl">
        <p class="c-h3">Por defecto</p>
        {{ componentPagination({
          "id": "default2",
          "idPrefix": "pagination2",
          "totalItems": "64",
          "itemsPerPage": "10",
          "items": [
            {
              "href": "#",
              "text": 1
            },
            {
              "href": "#",
              "text": 2,
              "active": true
            },
            {
              "href": "#",
              "text": 3
            },
            {
              "href": "#",
              "text": 4
            },
            {
              "href": "#",
              "text": 5
            },
            {
              "href": "#",
              "text": 6
            }
          ],
          "attributes": {
            "aria-label": "Paginación"
          }
        })  }}
      </div>
      <div>
        <p class="c-h3">Variante con selector</p>
        {{ componentPagination({
          "id": "select-style-2",
          "hasSelect": true,
          "idPrefix": "pagination-has-select-2",
          "totalItems": "64",
          "itemsPerPage": "10",
          "itemsPerPageSelector": {
            "items": [
              {
                "value": "10",
                "text": "10",
                "selected": true
              },
              {
                "value": "25",
                "text": "25"
              },
              {
                "value": "50",
                "text": "50"
              },
              {
                "value": "75",
                "text": "75"
              },
              {
                "value": "100",
                "text": "100"
              }
            ]
          },
          "items": [
            {
              "value": "1",
              "text": 1,
              "selected": true
            },
            {
              "value": "2",
              "text": 2
            },
            {
              "value": "3",
              "text": 3
            },
            {
              "value": "4",
              "text": 4
            },
            {
              "value": "5",
              "text": 5
            },
            {
              "value": "6",
              "text": 6
            },
            {
              "value": "7",
              "text": 7
            },
            {
              "value": "8",
              "text": 8
            },
            {
              "value": "9",
              "text": 9
            },
            {
              "value": "10",
              "text": 10
            },
            {
              "value": "11",
              "text": 11
            },
            {
              "value": "12",
              "text": 12
            },
            {
              "value": "13",
              "text": 13
            },
            {
              "value": "14",
              "text": 14
            }
          ],
          "hasPrevious": false,
          "previousText": "Anterior",
          "nextText": "Siguiente",
          "showFirst": true,
          "showLast": true,
          "hasFirst": false,
          "firstText": "Primera",
          "lastText": "Última",
          "attributes": {
            "aria-label": "Paginación"
          }
        }) }}
      </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">Se recomienda su uso para clasificar contenido muy controlable, es decir, cuando sepamos que el número de páginas no será superior a 10.</p>
  {{ DSSubsectionTitle({
    title: "Variante con selector"
  }) }}
  <p class="c-paragraph-base">Se recomienda su uso en el resto de casos, es decir, cuando el contenido de las páginas no es muy controlable y puede haber variaciones en cuanto a la cantidad de contenido o cuando el número de páginas supera las 10. La persona puede navegar entre páginas a través del <a href="componente-selector.html" class="c-link">selector</a> y los <a href="componente-botones.html" class="c-link">botones</a> de siguiente, anterior, última o primera. También se permite configurar cuantos resultados se muestran en cada una.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Rodeado con la etiqueta <code>&lt;nav&gt;</code>, debe tener un <code>aria-label</code> que describa el tipo de navegación.</li>
    <li>Dentro se encuentra una lista sin orden <code>&lt;ul&gt;</code> con una serie de <code>&lt;button&gt;</code> con <code>id</code> único. El botón con la página actual tiene <code>aria-current=page</code> y <code>aria-disabled=true</code>.</li>
    <li>En el caso de la variante con selector, un elemento <code>&lt;select&gt;</code> se encuentra entre los botones. Tiene un <code>aria-describedby</code> que llama al párrafo inicial.</li>
    <li>El componente contiene por defecto etiquetas <code>&lt;span&gt;</code> sólo visibles para lectores de pantalla que amplían la información de cada botón: <q>[Página:] 2 [(resultados del 20 al 30)]</q>. Otros elementos como los botones de la variante con selector y la cantidad de resultados por página también tienen estas etiquetas.</li>
  </ul>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado."
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear un <code>id</code> para el componente."
          }
        ],
        [
          {
            "html": '<code>active: true</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del item actual'
          },
          {
            "html": "Añade <code>aria-current=page</code> y le da estilos al botón."
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Descibe el tipo de navegación."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>



  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Incluir el máximo de contenido posible por página, siempre y cuando no provoque una demora en mostrar el contenido.</li>
    <li>Se recomienda que una vez el usuario entra en uno de los elementos de la página, al volver atrás, el sistema recuerde la posición del usuario respecto a las páginas del contenido.</li>
  </ul>

  <div class="pb-xl"></div>
{% endblock %}