{% set componente = [
  "dialog",
  "modal",
  "Modal",
  "Se trata de una ventana emergente o pop-up y se emplean cuando queremos centrar toda la atención en cierta información, generalmente, cuando se requiere alguna acción antes de continuar con el proceso.",
  "Avisos"
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}


{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenuCode(componente[1]) }}
  <div class="pb-xl"></div>
  {{ componentMenuNavigation({
    "items": [
      {
        "href": "componente-modal-codigo.html",
        "text": "Modal"
      },
      {
        "href": "componente-modal-dialog-codigo.html",
        "text": "Dialog",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu de modal"
    }
  })  }}
  <div class="pb-xl"></div>

  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}