{% set componente = [
  "header-mini",
  "cabeceras",
  "Cabeceras",
  "Se trata de un elemento siempre disponible en la parte superior de la pantalla. Proporciona un acceso a funciones de todo el sistema y elementos de navegación local.",
  "Componentes principales"
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenuCode(componente[1]) }}
  <div class="pb-xl"></div>
  {{ componentMenuNavigation({
    "items": [
      {
        "href": "componente-cabeceras-codigo.html",
        "text": "Header-advanced (sitios web o portales)"
      },
      {
        "href": "componente-cabeceras-app-codigo.html",
        "text": "Header (aplicaciones web)"
      },
      {
        "href": "componente-cabeceras-mini-codigo.html",
        "text": "Header-mini",
        "active": true
      },
      {
        "href": "componente-cabeceras-skiplink-codigo.html",
        "text": "Skip-link"
      }
    ],
    "attributes": {
      "aria-label": "Menu de cabeceras"
    }
  })  }}
  <div class="pb-xl"></div>

  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}