{% set componente = [
  "notification",
  "notificaciones",
  "Notificaciones",
  "Las notificaciones se emplean para dar un mensaje de actualización o para destacar alguna información sobre la que queremos llamar la atención.",
  "Avisos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>

  </ul>
  
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
  <div>
    {{ componentNotification({
        "title": {
          "html": "Etiqueta de texto"
        },
        "description": {
          "html": "Descripción de la <em class=\" italic \">notificación</em>."
        },
        "id": "with-description",
        "isDismissible": true
    })  }}
  </div>
  {% endcall %}
  <p class="c-paragraph-base">Siempre debe contar con una etiqueta de texto que explique de forma clara la información que se quiera transmitir. El color debe utilizarse para apoyar el mensaje, con el mismo criterio se puede emplear un icono a la izquierda alineado a la parte superior. También existe la posibilidad de incluir una "x" accionable en la esquina superior derecha que permita eliminar la notificación.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
  <div class="flex flex-col gap-base">
    <div>
      {{ componentNotification({
      "title": {
        "text": "Por defecto"
      },
      "id": "default"
      })  }}
    </div>
    <div>
      {{ componentNotification({
      "title": {
        "text": "Éxito"
      },
      "type": "success",
      "id": "type-success"
      })  }}
    </div>
    <div>
      {{ componentNotification({
      "title": {
        "text": "Alerta"
      },
      "items": [
        {
          "text": "Link 1",
          "href": "#link1"
        },
        {
          "text": "Link 2",
          "href": "#link2"
        },
        {
          "text": "Link 3",
          "href": "#link3"
        }
      ],
      "type": "alert",
      "id": "type-alert"
      })  }}
    </div>
    <div>
      {{ componentNotification({
        "title": {
          "text": "Informativo"
        },
        "description": {
          "html": "<a class=\" c-link text-sm \" href=\" # \">Link</a> "
        },
        "type": "info",
        "id": "type-info"
      })  }}
    </div>
  </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">Se emplea de manera estándar, especialmente para informar sobre actualizaciones del sistema (el documento se ha cargado correctamente, …) y es de color azul.</p>
  {{ DSSubsectionTitle({
    title: "Éxito"
  }) }}
  <p class="c-paragraph-base">Este tipo es de color verde e incluye un icono de check, se utiliza cuando se quiere informar de que una acción ha sido completada correctamente.</p>
  {{ DSSubsectionTitle({
    title: "Alerta"
  }) }}
  <p class="c-paragraph-base">Es de color rojo y aparece un icono de alerta, se emplea cuando se quiere llamar especialmente la atención del usuario, por ejemplo, para errores de la aplicación, información muy importante, información que implica una barrera para realizar una acción, etc.</p>
  {{ DSSubsectionTitle({
    title: "Informativo"
  }) }}
  <p>Se emplea el color azul también y se emplea habitualmente para transmitir algún tipo de información relevante y relacionado con alguna acción: “Debido a la situación por Covid-19, pide cita previa para acudir a nuestras oficinas.”, por ejemplo.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Contenedor que puede tener un encabezado de nivel configurable, un <code>id</code> a nivel de componente y otro para el título, una lista <code>&lt;ul&gt;</code> de items <code>&lt;li&gt;</code>, una etiqueta button con <code>aria-label</code> que permite cerrar la notificación, y unos iconos configurados con <code>role=img</code> y <code>aria-label</code> según la variante.</li>
    <li>Este componente se lanza a través de un <a href="componente-notificaciones-alert-codigo.html" class="c-link">alert</a> que necesita los atributoos <code>"role": "alert"</code> y <code>"aria-live": "assertive</code>", para que el lector de pantalla interrumpa la acción y salte al título de la alerta.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/alert/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón alert de W3C{% include "includes/_external-link-icon.njk" %}</a></p>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
       [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Añade identificadores únicos para el contenedor de la notificación y su título"
          }
        ],
        [
          {
            "html": '<code>role=img</code> y <code>aria-label</code>'
          },
          {
            "text": "En el SVG personalizado"
          },
          {
            "html": "Describe el tipo de modal que se está lanzando."
          }
        ],
        [
          {
            "html": '<code>role=alert</code> y <code>aria-live=assertive</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code> cuando se utiliza un <a href="componente-notificaciones-alert-codigo.html" class="c-link">alert</a> para lanzar la notificación.'
          },
          {
            "html": "El lector de pantalla interrumpe la acción y salta al título de la alerta."
          }
        ],
        [
          {
            "html": '<code>onClick: openDialog(id1, this, id-2)</code>'
          },
          {
            "html": 'En el parámetro Nunjucks <code>button</code> del componente <a href="componente-notificaciones-alert-codigo.html" class="c-link">alert</a>, dentro de <code>attributes</code>.'
          },
          {
            "html": 'Ejecuta la función <code>openDialog</code>, que permite lanzar la notificación. El primer parámetro de esta función es el <code>id</code> del contenido a mostrar, el segundo parámetro es el nodo que debe tomar foco al cerrar el dialog, y el tercer elemento es el <code>id</code> del elemento al que se le da el foco al abrir el contenido (suele ser el título de la notificación).'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Se recomienda no abusar de su uso. A la vez no se recomienda mostrar más de 3 notificaciones, en caso de ser necesario podrían agruparse varios mensajes en una única notificación.</li>
    <li>Mensajes escuetos y claros.</li>
    <li>Si están referenciadas a una acción que quede claro a cual se refieren con el uso de las mismas fórmulas.</li>
    <li>Si son de error, que quede claro dónde se ha producido e info de como solucionarlo.</li>
  </ul>


  <div class="pb-xl"></div>
{% endblock %}