{% set componente = [
  "media-object",
  "imagenes",
  "Imágenes",
  "El uso de imágenes y objetos multimedia está limitado. Es necesario tener en cuenta ciertas guías de estilo.",
  "Información visual"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
{{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-lg"></div>
  <p class="c-paragraph-base">No utilices imágenes ni ilustraciones en aplicaciones web. Únicamente podrás utilizarlas en portales siguiendo las siguientes pautas: </p>
  <ul class="c-ul">
    <li>Deben funcionar como apoyo visual al contenido.</li>
    <li>Evita el uso de imágenes puramente ornamentales.</li>
    <li>Evitar mostrar rostros.</li>
    <li>Mostrar personas con diversidad de perfiles, incluyendo género, nacionalidad, clase y otros factores.</li>
  </ul>
  <p class="c-paragraph-base mt-xl p-base bg-neutral-light">Encontrás información más detallada en <a href="estilos-imagenes.html" class="c-link">estilos de imágenes</a>.</p>



  <div class="pb-xl"></div>


{% endblock %}