{% set componente = [
  " ",
  "formularios",
  "Formularios",
  "Los formularios están compuestos por Inputs y grupos de inputs."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}
{% from "components/tree/_macro.tree.njk" import componentTree %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/table/_macro.table.njk" import componentTable %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>

 
  <div class="bg-neutral-lighter p-base">
  <h2 class="c-h3">Cuando diseñes un formulario, ten en cuenta que...</h2>
    <ul class="list-disc ml-base">
      <li class="text-sm align-middle mb-sm">Solemos utilizar una serie de <a href="patrones.html" class="c-link">patrones</a> para solicitar información.</li>
      <li class="text-sm align-middle mb-sm">En el caso de formularios muy largos, es conveniente <strong>agrupar</strong> los elementos del formulario por contexto.</li>
      <li class="text-sm align-middle mb-sm">Debes marcar qué elementos son <strong>obligatorios</strong>. Si lo haces con un asterisco (*) debes aclarar su significado al principio del formulario.</li>
      <li class="text-sm align-middle mb-sm">Si se comete un error al completar un formulario, los campos que provocan dicho error deben ser fácilmente identificables y siempre acompañados de la <strong>razón del error</strong>.</li>
    </ul>
  </div>

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#inputs" class="c-link">Inputs</a></li>
    <li class="pb-sm"><a href="#grupos-de-inputs" class="c-link">Grupos de Inputs</a></li>
    <li class="pb-sm"><a href="#anatoma-de-un-input" class="c-link">Anatomía de un input</a></li>
    <li class="pb-sm"><a href="#estados-de-los-inputs" class="c-link">Estados de los inputs</a></li>
    <li class="pb-sm"><a href="#tamao" class="c-link">Tamaño</a></li>
    <li class="pb-sm"><a href="#composicin" class="c-link">Composición</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Inputs"
  }) }}
  <p class="c-paragraph-base">Son campos de formulario independientes para introducir un dato en concreto.</p>


  <div>
    <div class="grid lg:grid-cols-3 content-stretch gap-lg">
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-input-text.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-input-text.html" class="c-link c-link--full">Entrada de texto</a></h3>
          <p class="c-paragraph-sm">Elemento básico de formulario que permite la inserción y edición de texto en una única línea.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-text-area.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
           <div>
             <h3 class="c-h3"><a href="componente-textarea.html" class="c-link c-link--full">Área de texto</a></h3>
             <p class="c-paragraph-sm">Elemento de formulario que permite la inserción y edición de texto en varias líneas.</p>
           </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-selector.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-selector.html" class="c-link c-link--full">Selector</a></h3>
          <p class="c-paragraph-sm">Permite seleccionar una opción de entre un listado de varias. Plegado, muestra la opción seleccionada.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-file-upload.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-file-upload.html" class="c-link c-link--full">Carga de archivos</a></h3>
          <p class="c-paragraph-sm">Permite abrir el explorador de archivos para cargar un fichero en el formulario.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-datepicker.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-datepicker.html" class="c-link c-link--full">Calendario</a></h3>
          <p class="c-paragraph-sm">Desplegable que permite elegir una fecha o rango de fechas de manera visual.</p>
        </div>
        {% endcall %}
      </div>
    </div>
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Grupos de Inputs"
  }) }}
  <p class="c-paragraph-base">Son varios campos agrupados para introducir datos relacionados entre sí.</p>

  <div>
    <div class="grid lg:grid-cols-3 content-stretch gap-lg">
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-radios.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-radios.html" class="c-link c-link--full">Botón de radio</a></h3>
          <p class="c-paragraph-sm">Se utiliza cuando solo puede seleccionarse una opción en un listado de varias de ellas.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-checkbox.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
           <div>
             <h3 class="c-h3"><a href="componente-checkboxes.html" class="c-link c-link--full">Casilla de verificación</a></h3>
             <p class="c-paragraph-sm">Ofrece la posibilidad de seleccionar una o varias opciones de las que se ofrecen.</p>
           </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-arbol.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-tree.html" class="c-link c-link--full">Árbol</a></h3>
          <p class="c-paragraph-sm">Ofrece la posibilidad de seleccionar una o varias opciones organizadas jerárquicamente.</p>
        </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/c-bloques-datos.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h3 class="c-h3"><a href="componente-bloques-de-datos.html" class="c-link c-link--full">Bloques de datos</a></h3>
          <p class="c-paragraph-sm">Grupos estandarizados de entradas de texto, las cuales comparten sentido semántico.</p>
        </div>
        {% endcall %}
      </div>
    </div>
  </div>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía de un input"
  }) }}
  {% call componentExample()  %}
    <div>
      <img src="images/c-input-anatomia.svg" alt="Anatomía de un input con todos sus subcomponentes" class="mb-0">
    </div>
  {% endcall %}

  <ol class="c-ol pt-base">
    <li><a href="componente-label-codigo.html" class="c-link font-semibold">Etiqueta.</a> Indica la información a incluir en el campo, siempre tiene que estar visible.</li>
    <li><a href="componente-pista-codigo.html" class="c-link font-semibold">Pista.</a> Opcional, aporta información sobre el dato a introducir.</li>
    <li><a href="componente-mensaje-error-codigo.html" class="c-link font-semibold">Mensaje de error.</a> En caso de que el campo requiera validación o sea obligatorio, puede aparecer un error indicando el problema con el dato introducido.</li>
    <li><a href="componente-textarea-codigo.html#Placeholder" class="c-link font-semibold">Placeholder.</a> Indica un ejemplo del valor que se debe introducir. No lo utilices para incluir información relevante.</li>
    <li><a href="componente-textarea-character-count-codigo.html" class="c-link font-semibold">Contador de caracteres.</a> En el <a href="componente-textarea.html" class="c-link">área de texto</a> se indica el límite de caracteres que puedes introducir.</li>
  </ol>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Estados de los inputs"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentInput({
          "label": {
            "text": "Activo"
          },
          "id": "input-example-a1",
          "name": "test-name"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Desactivado"
          },
          "id": "input-example-b1",
          "name": "test-name",
          "disabled": true
        })  }}
      </div>
      <div>
        {{ componentInput({
          "id": "input-with-error-message-a",
          "name": "test-name",
          "errorMessage": {
            "text": "Error"
          }
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Activo"
  }) }}
    <p class="c-paragraph-base">El campo está activo y listo para ser usado.</p>
  {{ DSSubsectionTitle({
    title: "Desactivado"
  }) }}
    <p class="c-paragraph-base">El campo no se puede usar.</p>
  {{ DSSubsectionTitle({
    title: "Error"
  }) }}
    <p class="c-paragraph-base">Indica que hay un problema con el campo introducido, es necesario acompañar este estado con un mensaje de error claro.</p>
  {{ DSSubsectionTitle({
    title: "Enfocado, con cursor encima (focus, hover)"
  }) }}
    <p class="c-paragraph-base">Son estados de apoyo a la interacción que nos ayudan a identificar sobre el elemento que estamos actuando.</p>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Tamaño"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentInput({
          "label": {
            "text": "Tamaño base"
          },
          "id": "input-example-a2",
          "name": "test-name"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Tamaño pequeño"
          },
          "id": "classes-applied-a",
          "name": "classes-applied-a",
          "classes": "c-input--sm"
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Tamaño base"
  }) }}
    <p class="c-paragraph-base">Utilizar por defecto para cualquier tipo de situaciones y layouts. Siempre que sea posible se recomienda usar este tamaño por motivos de accesibilidad.</p>
  {{ DSSubsectionTitle({
    title: "Tamaño pequeño"
  }) }}  
    <p class="c-paragraph-base">Se recomienda su uso cuando el elemento estándar sea demasiado grande para el espacio donde debe de encajar, por ejemplo dentro de tablas, cards, grupos de filtros o similares.</p>
  <p class="c-paragraph-base">No deben convivir en un mismo grupo componentes de diferentes tamaños.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Composición"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-lg">
      <div>
       {{ componentInput({
          "label": {
            "text": "Campo en columna"
          },
          "id": "input-example-a3",
          "name": "test-name"
        })  }}
      </div>
      <div>
       {{ componentInput({
          "formGroup": {
            "classes": "lg:flex lg:flex-wrap lg:items-center lg:gap-x-base"
          },
          "label": {
            "text": "Campo en línea:",
            "classes": "lg:py-sm lg:mt-sm"
          },
          "id": "classes-applied-b3",
          "name": "classes-applied-b",
          "classes": "lg:flex-1"
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Campo en columna"
  }) }}
    <p class="c-paragraph-base">Es el que se debe usar por defecto, ya que facilita la lectura y la maquetación responsive.</p>
  {{ DSSubsectionTitle({
    title: "Campo en línea"
  }) }}
    <p class="c-paragraph-base">Se puede usar en situaciones concretas en las que se necesite reducir el espacio del formulario o cuando los campos a rellenar están muy relacionados entre sí, por ejemplo nombre y apellidos.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
      title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;form&gt;</code>, donde se encuentran los distintos <code>&lt;fieldset&gt;</code>. Cada <code>&lt;form&gt;</code> tiene una etiqueta ARIA que identifica su propósito.</li>
    <li>Cuando se realiza un submit de un formulario con errores, el foco debe ir a un aviso con el <a href="componente-error-summary.html" class="c-link">resumen de errores</a>. Adicionalmente, cada input con error, además de destacar visualmente, debe tener un mensaje de error que lo identifique con una serie de atributos ARIA.</li>
    <li>Cada input tiene unos elementos comunes:</li>
    <ul class="c-ul pl-xl mt-base">
      <li>El <a href="componente-label-codigo.html" class="c-link">label</a> es <strong>obligatorio</strong> y debe ser <strong>visible</strong>. Apunta al <code>id</code> del input y debe ser único para cada uno.</li>
      <li>El <a href="componente-pista-codigo.html" class="c-link">hint</a> es un párrafo con un <code>id</code> único. Es llamado por el <code>aria-describedby</code> del input.</li>
      <li>El <a href="componente-mensaje-error-codigo.html" class="c-link">mensaje de error</a> es un párrafo con un <code>id</code> y un <code>&lt;span&gt;</code> con <q>Error:</q> al inicio del mismo, sólo visible para lectores de pantalla. Es llamado por el <code>aria-errormesage</code> del input. Adicionalmente, el input debe llevar un <code>aria-invalid=true</code>.</li>
    </ul>
  </ul>
  <p class="c-paragraph-base">Más información en la sección <a href="https://www.w3.org/WAI/ARIA/apg/patterns/landmarks/examples/form.html" class="c-link" target="_blank" title="Se abre en pestaña nueva">ARIA Landmarks Example de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>aria-label</code> o <code>aria-labelledby</code>'
          },
          {
            "html": 'Etiqueta <code>&lt;form&gt;</code>'
          },
          {
            "html": "Describe el propósito del formulario."
          }
        ],
        [
          {
            "html": '<code>&lt;legend&gt;</code>'
          },
          {
            "html": 'Dentro del <code>&lt;fieldset&gt;</code>'
          },
          {
            "text": "Título del grupo de datos."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
      title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Las labels deben ser claras y concisas. Emplear lenguaje claro que sea comprensible por las personas que lo usen, evitar tecnicismos y en caso de ser necesario se puede incluir descripción adicional en el hint.</li>
    <li>Siempre que sea posible, se recomienda disponer todos los campos de formulario en una sola columna para asegurar una buena visibilidad de los componentes en dispositivos móviles. Hay algunos <a href="componente-bloques-de-datos.html" class="c-link">bloques de datos</a> que se adaptan a móvil automáticamente.</li>
    <li>En el caso de input de texto o selectores, se recomienda que el ancho del input corresponda con el tamaño del dato a introducir, para dar pistas del dato que se solicita. Por ejemplo un código postal.</li>
    <li>Por lo general no deben convivir en un mismo formulario componentes de diferentes tamaños.</li>
  </ul>

  <div class="pb-xl"></div>
{% endblock %}