{% set componente = [
  " ",
  "mostrar-ocultar",
  "Mostrar y ocultar",
  "Componentes que permiten gestionar la visualización de la información."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

{% from "components/card/_macro.card.njk" import componentCard %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>
  <p class="c-paragraph-base">Componentes que permiten gestionar la visualización de la información.</p>

 <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-acordeon.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
         <div>
           <h2 class="c-h3"><a href="componente-acordeon.html" class="c-link c-link--full">Acordeón</a></h2>
           <p class="c-paragraph-sm">Listado de elementos organizados verticalmente que permite mostrar y ocultar su contenido.</p>
         </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-acordeon-historico.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-acordeon-historico.html" class="c-link c-link--full">Acordeón histórico</a></h2>
        <p class="c-paragraph-sm">Los elementos tiene un orden cronológico, habitualmente referido a pasos que debe realizar el usuario.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-menu-navegacion.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-menubar.html" class="c-link c-link--full">Barra de menús</a></h2>
        <p class="c-paragraph-sm">Edita y genera cambios sobre otro elemento, pero no navega a un sitio diferente.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-desplegable.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-dropdown.html" class="c-link c-link--full">Desplegable</a></h2>
        <p class="c-paragraph-sm">Botón que permite desplegar un contenedor de contenido para realizar otras acciones.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-detalles.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-detalles.html" class="c-link c-link--full">Detalles</a></h2>
        <p class="c-paragraph-sm">Un botón se emplea cuando se desea cambiar rápidamente entre dos estados excluyentes entre sí.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-tooltip.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-tooltip.html" class="c-link c-link--full">Globo de ayuda</a></h2>
        <p class="c-paragraph-sm">Ofrece información de un elemento al pasar el ratón sobre él o bien cuando el elemento está en focus.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-interruptor.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-toggle.html" class="c-link c-link--full">Interruptor</a></h2>
        <p class="c-paragraph-sm">Un botón se emplea cuando se desea cambiar rápidamente entre dos estados excluyentes entre sí.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-tabs.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-tabs.html" class="c-link c-link--full">Pestañas</a></h2>
        <p class="c-paragraph-sm">Menú horizontal que permite visualizar distintos paneles con información, permaneciendo en la misma página.</p>
      </div>
      {% endcall %}
    </div>


  </div>

  
  <div class="pb-xl"></div>
{% endblock %}