{% set componente = [
  "breadcrumbs",
  "breadcrumbs",
  "Migas de pan",
  "Los breadcrumbs o migas de pan sirven para identificar dónde nos encontramos dentro de la página web o aplicación. También nos ofrece una navegación secundaria hacia los niveles ascendentes de la página actual.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
  <div>
    {{ componentBreadcrumbs({
      "items": [
        {
          "text": "Inicio",
          "href": "/"
        },
        {
          "text": "Subnivel 1",
          "href": "/section"
        },
        {
          "text": "Subnivel 2",
          "href": "/section/sub-section"
        },
        {
          "text": "Página actual",
          "href": "/section/sub-section/sub-sub-section"
        }
      ]
    })  }}
  </div>
  {% endcall %}
  <p class="c-paragraph-base">Las migas de pan se componen por una lista de enlaces que representan los “ascendientes” de la página actual, separadas por el símbolo <q>></q> y en último lugar se encontrará el título de la página actual.</p>
 
 <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Rodeado con la etiqueta <code>&lt;nav&gt;</code>. Dentro se encuentra una lista con orden <code>&lt;ol&gt;</code> con una serie de <code>&lt;li&gt;</code> que contienen un enlace.</li>
    <li>Los lectores de pantalla anuncian la navegación con <q>Estás en:</q> gracias a un <code>aria-label</code> incluido por defecto.</li>
    <li>El propio componente añade al último item un <code>aria-current=page</code> y se resalta el texto con la etiqueta <code>&lt;strong&gt;</code> para anunciar que se trata de la página actual.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón breadcrumb de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  
  {{ DSSubsectionTitle({
    title: "Qué tener en cuenta"
  }) }}
  <p class="c-paragraph-base"><em>Todos los atributos de accesibilidad se encuentran por defecto en la configuración del componente.</em></p>


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Este elemento se utiliza cuando hay tres o más niveles de navegación. Cuando hay menos de tres, se recomienda el uso de <q>volver atrás</q>.</li>
    <li>No mezclar con otros sistemas de navegación en la página (por ejemplo, con un <q>volver atrás</q>).</li>
    <li>Los enlaces que se muestran en las migas de pan deben hacer referencia a la arquitectura del sitio, no a la navegación que ha realizado el usuario.</li>
    <li>El contenido de cada enlace debe ser el título de la página a la que se enlaza.</li>
  </ul>
  

  <div class="pb-xl"></div>
{% endblock %}