{% set componente = [
  "searchbar",
  "searchbar",
  "Barra de búsqueda",
  "Consiste en una caja de texto que permite introducir texto. Este componente se emplea para que el usuario pueda realizar búsquedas de contenido en el sitio web o en una vista."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tipos"
  }) }}
 <ul class="c-ul">
    <li><a class="font-bold">Con botón:</a> La searchbar con botón está compuesta por una caja de texto y un botón con la acción ‘Buscar’ a su derecha. Este botón puede ser uno primario o secundario según si la acción de buscar es principal o no.</li>
    <li><a class="font-bold">Compacta:</a> La searchbar en su versión compacta está compuesta siempre por una caja de texto y un botón-icono (una lupa) alineado a la derecha, integrado dentro de la propia caja. También debe contar con un texto que indique la función del elemento de búsqueda (‘Buscar’ por ejemplo), que puede colocarse como label o como placeholder, según el espacio disponible para la barra de búsqueda.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tamaños"
  }) }}
  <ul class="c-ul">
    <li><a class="font-bold">Por defecto:</a> Utilizar para cualquier tipo de situaciones y layouts. Siempre que sea posible se recomienda usar este tamaño por motivos de accesibilidad.</li>
    <li><a class="font-bold">Pequeño:</a> Cumplen la misma función que los de tamaño estándar, pero están dirigidos a su uso en pop-ups y otros elementos de la página que no ocupen el ancho completo de la misma, así como contenido menos relevante.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Por lo general, no se recomienda que las barras de búsqueda ocupen todo el ancho de la página en versión desktop.</li>
    <li>Al mostrar los resultados de búsqueda, se recomienda que se mantenga el texto que ha introducido el usuario en la barra de búsqueda.</li>
    <li>Se recomienda que el placeholder haga referencia a lo que se va a buscar. Por ejemplo, si se trata de un buscador de personas `Buscar por nombre, apellidos o DNI’.</li>
  </ul>

  <div class="pb-xl"></div>
{% endblock %}