{% set componente = [
  "accordion",
  "acordeon",
  "Acordeón",
  "Se trata de un listado de elementos organizados verticalmente que permite mostrar y ocultar el contenido de dichos elementos. En general se usan para agrupar información que se consume por bloques, como preguntas frecuentes, detalles de un elemento, fases de un proceso, etc.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/collapsible/_macro.collapsible.njk" import componentCollapsible %}
{% from "components/toggle/_macro.toggle.njk" import componentToggle %}
{% from "components/table/_macro.table.njk" import componentTable %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}
  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
    <li class="pb-sm"><a href="#diferencias-entre-componentes" class="c-link">Diferencias entre componentes</a></li>

  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <div class="border border-neutral-base rounded mb-base">
    <img src="images/c-acordeon-anatomia.svg" alt="Anatomía de un acordeón">
  </div>
  <ol class="c-ol">
    <li><strong>Título</strong>: Encabezado que describe el contenido del componente. Debe estar visible o sólo para lectores de pantalla en su defecto.</li>
    <li><strong>Título del item</strong>: Describe el contenido del <a href="componente-contraible-codigo.html" class="c-link">contraíble</a>. Si se ha definido un nivel de encabezado del componente, éste será de nivel siguiente.</li>
    <li><strong>Subtítulo opcional</strong>: Breve descripción que acompaña al título.</li>
    <li><strong>Contenido</strong>: Puedes incluir texto o cualquier otro componente.</li>
    <li><strong>Botón</strong>: Puedes cambiar el texto o sustituirlo por un icono con los parámetros <code>"show"</code> y <code>"hide"</code>. Usa la variable <code>"showControl": true</code> para añadir un botón superior que accione todos al mismo tiempo.</li>
    <li><strong>Líneas de separación</strong>: Aísla el contenido entre contraíbles.</li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Encabezados de nivel configurable (<code>&lt;h1&gt;-&lt;h6&gt;</code>) seguidos del panel de contenido contraído.</li>
    <li>Dentro de cada encabezado hay un elemento <code>&lt;button&gt;</code> con un <code>id</code> único, un <code>aria-controls</code> que apunta al contenido del item y un <code>aria-expanded</code> que cambia a true o false según si está contraído o no.</li>
    <li>La etiqueta de texto <q>Mostrar/Ocultar</q> tiene un <code>aria-hidden</code> para ocultarla a lectores de pantalla. Tras el encabezado se encuentra una etiqueta sólo visible para lectores de pantalla que anuncia <q>Haz click en el botón anterior para mostrar u ocultar</q>.</li>
    <li>Cuando el primer item recibe el foco, la persona puede desplazarse entre ellos con las flechas del teclado y expandir el contraíble accionado la tecla enter o espacio.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/accordion/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón accordion de W3C{% include "includes/_external-link-icon.njk" %}</a></p>



  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente.'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items."
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Identifica todo el componente."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>


  

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
 <ul class="c-ul">
    <li>El título tienen que hacer referencia clara al contenido que del elemento.</li>
    <li>El contenido del acordeón no debe incluir interacciones muy complejas, como buscadores, otro acordeón, etc. para estos casos usar un toggle.</li>
    <li>Si hay más de 7 elementos se recomienda incluir un botón de desplegar todos que facilite la búsqueda de contenido. especialmente si el contenido está relacionado entre sí.</li>
    <li>Existe la posibilidad de que el elemento activo se cierre al abrir otro o que se mantenga abierto, esto dependerá del tipo de contenido que contenga.
      <ul class="c-ul pt-base">
        <li><a class="font-semibold">Cerrado automático:</a> si el contenido es independiente entre si o si la información se va a consumir principalmente desde el móvil.</li>
        <li><a class="font-semibold">Mantener elementos abiertos:</a> si el contenido está relacionado entre sí, por ejemplo las fases de un proceso.</li>
      </ul>
    </li>
  </ul>
  

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Diferencias entre componentes"
  }) }}
  <p class="c-paragraph-base">Existen varios componentes que tienen una apariencia y funcionamiento similar, aunque deben usarse uno u otro dependiendo de la finalidad y el contexto.</p>
  <div class="grid gap-base">
    
    <div>
      {% call componentExample()  %}
        <div class="grid gap-xl">
          <div class="flex gap-base w-full">
            <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base my-xs">1</span>
            <div class="flex-grow">
              {{ componentAccordion({
                "idPrefix": "accordion-example2",
                "headingLevel": 3,
                "heading": {
                "text": "Acordeón"
                },
                "items": [
                  {
                    "headerText": "Item 1",
                    "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
                  },
                  {
                    "headerText": "Item 2",
                    "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
                  },
                  {
                    "headerText": "Item 3",
                    "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
                  }
                ]
              })  }}
            </div>
          </div>
          <div class="flex gap-base w-full">
            <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base my-xs">2</span>
            <div class="flex-grow">
              <p class="c-h2">Contraíble</p>
              {{ componentCollapsible({
                "id": "help-with-nationality1",
                "headerText": "Item",
                "text": "Descripción"
              })  }}
            </div>
          </div>
          <div class="flex gap-base w-full">
            <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base my-xs">3</span>
            <div class="flex-grow">
              <p class="c-h2">Detalles</p>
              {{ componentDetails({
                "id": "help-with-nationality2",
                "summary": {
                  "text": "Título"
                },
                "caller": "<p>Contenido</p>"
              })  }}
            </div>
          </div>
          <div class="flex gap-base w-full">
            <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base my-xs">4</span>
            <div class="flex-grow">
              <p class="c-h2">Interruptor</p>
              {{ componentToggle({
                "classes": "c-button",
                "offState": {
                  "classes": "",
                  "html": "Mostrar detalles"
                },
                "onState": {
                  "classes": "c-button--has-selection",
                  "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" width=\"1em\" height=\"1em\"><path d=\"M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z\" fill=\"currentColor\"/></svg>Mostrar detalles</span>"
                }
              })  }}
            </div>
          </div>
        </div>
      {% endcall %}
    </div>

    <ol>
      <li class="flex flex-row pb-lg"><span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base inline-block">1</span><span class="inline-block ml-base align-middle"><a href="componente-acordeon-codigo.html" class="font-semibold c-link">Acordeón:</a> Debe tener múltiples elementos relacionados entre sí, y tiene opciones para ajustar el comportamiento de cuando se abren o cierran al interactuar con uno de ellos. Si existe una cronología entre ellos utilizamos el <a href="componente-acordeon-historico.html" class="c-link">acordeón histórico</a>.</span></li>
      <li class="flex flex-row pb-lg"><span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base inline-block">2</span><span class="inline-block ml-base align-middle"><a href="componente-contraible-codigo.html" class="font-semibold c-link">Contraíble:</a> Es un solo elemento que se usa de manera aislada. Su uso es similar a un detalles, pero el colapsible es un elemento con más peso visual y que necesita Javascript para funcionar.</span></li>
      <li class="flex flex-row pb-lg"><span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base inline-block">3</span><span class="inline-block ml-base align-middle"><a href="componente-detalles.html" class="font-semibold c-link">Detalles:</a> Funciona como un colapsible pero es un elemento nativo de los navegadores, se recomienda su uso cuando el contenido no se quiere destacar especialmente.</span></li>
      <li class="flex flex-row pb-lg"><span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base inline-block">4</span><span class="inline-block ml-base align-middle"><a href="componente-toggle.html" class="font-semibold c-link">Interruptor:</a> Funcionalmente nos permite activar o desactivar elementos u opciones, se pueden usar para mostrar funcionalidades más complejas como filtros, búsquedas avanzadas, etc.</span></li>
    </ol>
  </div>

  <div class="pb-xl"></div>

{% endblock %}