{% set componente = [
  "file-upload",
  "file-upload",
  "Carga de archivos",
  "Permite abrir el explorador de archivos para cargar un fichero en el formulario.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
    <div>
      <img src="images/c-file-upload-anatomia.svg" alt="Elementos que forman el componente carga de archivos." class="mb-0">
    </div>
  {% endcall %}

  
  <ol class="c-ol">
    <li><a href="componente-label-codigo.html" class="font-semibold c-link">Etiqueta:</a> Indica la información del archivo a cargar, siempre tiene que estar. En caso de que se quiera ocultar deberá tener la clase sr-only, para que sea legible por los lectores de pantalla.
    </li>
    <li><a href="componente-hint-codigo.html" class="font-semibold c-link">Pista:</a> Es opcional y es una descripción del dato a introducir.</li>
    <li><a href="componente-mensaje-error-codigo.html" class="font-semibold c-link">Error:</a> En caso de que el campo requiera validación o sea obligatorio, puede aparecer un error indicando el problema con la carga del archivo.</li>
    <li><a href="componente-botones.html" class="font-semibold c-link">Botón:</a> Con la etiqueta "Elegir archivo", ejecuta el explorador para que el usuario pueda seleccionar el archivo que quiere cargar. A la derecha se muestra el nombre del documento cuando se carga o, en su caso, un mensaje por defecto indicando que aún no se ha seleccionado ninguno.</li>
  </ol>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Elemento <code>&lt;input&gt;</code> con <code>type=file</code>. Tiene un <code>id</code> único al que llama el elemento <code>&lt;label&gt;</code>.</li>
  </ul>
  <p class="c-paragraph-base">Más información sobre los inputs en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</p>

  {% set item %}
    <p>Indica el tipo de archivos que puede cargar la persona. <a href="https://developer.mozilla.org/es/docs/Web/HTML/Attributes/accept" class="c-link" target="_blank" title="Se abre en pestaña nueva">Más información{% include "includes/_external-link-icon.njk" %}</a></p>
  {% endset %}

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre <code>&lt;label&gt;</code>, hint, error y el <code>&lt;input&gt;</code>."
          }
        ],
        [
          {
            "html": '<code>accept</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del parámetro <code>attributes</code>'
          },
          {
            "html": item | safe
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>

{% endblock %}