{% set componente = [
  "header-advanced",
  "cabeceras",
  "Cabeceras",
  "Se trata de un elemento siempre disponible en la parte superior de la pantalla. Proporciona un acceso a funciones de todo el sistema y elementos de navegación local.",
  "Componentes principales"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/header-advanced/_macro.header-advanced.njk" import componentHeaderAdvanced %}
{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/header-mini/_macro.header-mini.njk" import componentHeaderMini %}

{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/table/_macro.table.njk" import componentTable %}





{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#tipos-de-cabeceras" class="c-link">Tipos de cabeceras</a></li>
    <li class="pb-sm"><a href="#anatoma-de-cabecera-para-aplicaciones-web" class="c-link">Anatomía de cabecera para aplicaciones web</a></li>
    <li class="pb-sm"><a href="#anatoma-de-cabecera-para-sitios-web-o-portales" class="c-link">Anatomía de cabecera para sitios web o portales</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Tipos de cabeceras"
  }) }}
  {{ componentSkipLink({
    "text": "Saltar ejemplos de cabeceras",
    "href": "#desc-cabeceras"
  }) }}
  {% call componentExample()  %}
    <ol class="flex flex-col gap-2xl">
      <li class="flex lg:flex-row flex-col lg:items-center gap-base">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span>
        <div class="grow">
          {{ componentHeader({
          "skipLink": {
            "text": "Saltar ejemplos de cabeceras",
            "href": "#desc-cabeceras",
            "attributes": {
              "id": "skip-link-1"
            }
          },
          "homepageUrl": "/",
          "mobileTitle": {
            "text": "Nombre de la aplicación"
          },
          "subnav": {
            "text": "Nombre de la aplicación",
            "items": [
              {
                "href": "#",
                "text": "Nombre de la aplicación",
                "active": true
              },
              {
                "href": "#",
                "text": "Item 1"
              },
              {
                "href": "#",
                "text": "Item 2"
              },
              {
                "href": "#",
                "text": "Item 3"
              }
            ]
          },
          "navigation": {
            "items": [
              {
                "href": "#1",
                "text": "Item 1"
              },
              {
                "href": "#2",
                "text": "Item 2",
                "active": true
              },
              {
                "href": "#3",
                "text": "Item 3"
              }
            ]
          },
          "dropdown": {
            "text": "Usuario",
            "items": [
              {
                "text": "Perfil",
                "href": "/"
              },
              {
                "text": "Cerrar sesión",
                "href": "/"
              }
            ]
          },
          "offcanvas": {
            "text": "Menú",
            "textClose": "Cerrar menu"
          },
          "caller": "  <nav class=\"w-full p-2\" aria-label=\"Menú móvil\">\n    <h3 class=\"p-base text-base font-semibold\">Gestor de expedientes</h3>\n    \n<!-- nav -->\n<ul class=\"text-sm\" aria-label=\"Lista de páginas\">\n  <li>\n    <span class=\"flex items-center px-base py-sm font-semibold\"  aria-current=\"page\"  id=\"dnav-mobile-pages\">\n      <strong>Inicio</strong>\n    </span>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-pages-2\">\n      Expedientes\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-pages-3\">\n      Bandejas\n    </a>\n  </li>\n  <li class=\"my-sm border-b border-neutral-base\" aria-hidden=\"true\">\n    <div class=\"sr-only\">Separador</div>\n  </li>\n</ul>\n<!-- /nav -->\n    <h3 class=\"p-base text-base font-semibold\">Usuario/a: Marta Pérez</h3>\n    \n<!-- nav -->\n<ul class=\"text-sm\" aria-label=\"Lista de acciones de usuario\">\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-user\">\n      Perfil\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-user-2\">\n      Cerrar sesión\n    </a>\n  </li>\n  <li class=\"my-sm border-b border-neutral-base\" aria-hidden=\"true\">\n    <div class=\"sr-only\">Separador</div>\n  </li>\n</ul>\n<!-- /nav -->\n<!-- details -->\n<details class=\" px-base\">\n  <summary class=\"py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\">\n    <span class=\"c-link text-sm\">\n      Cambiar de aplicación\n    </span>\n  </summary>\n  <div class=\"py-sm\">\n    <div>\n              \n<!-- nav -->\n<ul class=\"text-sm\" aria-label=\"Lista de aplicaciones\">\n  <li>\n    <span class=\"flex items-center px-base py-sm font-semibold\"  aria-current=\"page\"  id=\"dnav-mobile-apps\">\n      <strong>Gestor de expedientes</strong>\n    </span>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-apps-2\">\n      Catálogo de servicios\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-apps-3\">\n      Bandeja de entrada\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"dnav-mobile-apps-4\">\n      Sistema de comprobación y verificación de documentos por CSV\n    </a>\n  </li>\n</ul>\n<!-- /nav -->\n    </div>\n  </div>\n</details>\n<!-- /details -->  </nav>\n"
          })  }}
        </div>
      </li>
      <li class="flex lg:flex-row flex-col lg:items-center gap-base">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span>
        <div class="grow">{{ componentHeaderMini({})  }}</div>
      </li>
      <li class="flex lg:flex-row flex-col lg:items-center gap-base">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">3</span>
        <div class="grow">
          {{ componentHeaderAdvanced({
            "skipLink": {
            "text": "Saltar ejemplos de cabeceras",
            "href": "#desc-cabeceras",
            "attributes": {
              "id": "skip-link-3"
              }
            },
            "title": {
              "homepageUrl": "/",
              "text": "Titulo de cabecera"
            },
            "navigation": {
              "items": [
                {
                  "href": "#1",
                  "text": "Inicio"
                },
                {
                  "href": "#2",
                  "text": "Navigation item 2",
                  "active": true
                },
                {
                  "href": "#3",
                  "text": "Navigation item 3"
                },
                {
                  "href": "#4",
                  "text": "Navigation item 4"
                }
              ]
            },
            "offcanvas": {
              "text": "Menú",
              "textClose": "Cerrar menu",
              "labelledId": "offcanvas-title2"
            },
            "caller": "  <nav class=\"w-full p-2\" aria-label=\"Menú móvil\">\n    <h3 class=\"p-base text-base font-semibold\">Gestor de expedientes</h3>\n    \n<!-- nav -->\n<ul class=\"text-sm\" aria-label=\"Lista de páginas\">\n  <li>\n    <span class=\"flex items-center px-base py-sm font-semibold\"  aria-current=\"page\"  id=\"cnav-mobile-pages\">\n      <strong>Inicio</strong>\n    </span>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-pages-2\">\n      Expedientes\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-pages-3\">\n      Bandejas\n    </a>\n  </li>\n  <li class=\"my-sm border-b border-neutral-base\" aria-hidden=\"true\">\n    <div class=\"sr-only\">Separador</div>\n  </li>\n</ul>\n<!-- /nav -->\n    <h3 class=\"p-base text-base font-semibold\">Usuario/a: Marta Pérez</h3>\n    \n<!-- nav -->\n<ul class=\"text-sm\" aria-label=\"Lista de acciones de usuario\">\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-user\">\n      Perfil\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-user-2\">\n      Cerrar sesión\n    </a>\n  </li>\n  <li class=\"my-sm border-b border-neutral-base\" aria-hidden=\"true\">\n    <div class=\"sr-only\">Separador</div>\n  </li>\n</ul>\n<!-- /nav -->\n<!-- details -->\n<details class=\" px-base\">\n  <summary class=\"py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\">\n    <span class=\"c-link text-sm\">\n      Cambiar de aplicación\n    </span>\n  </summary>\n  <div class=\"py-sm\">\n    <div>\n              \n<!-- nav -->\n<ul class=\"text-sm\" aria-label=\"Lista de aplicaciones\">\n  <li>\n    <span class=\"flex items-center px-base py-sm font-semibold\"  aria-current=\"page\"  id=\"cnav-mobile-apps\">\n      <strong>Gestor de expedientes</strong>\n    </span>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-apps-2\">\n      Catálogo de servicios\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-apps-3\">\n      Bandeja de entrada\n    </a>\n  </li>\n  <li>\n    <a href=\"#\" class=\"flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black\" id=\"cnav-mobile-apps-4\">\n      Sistema de comprobación y verificación de documentos por CSV\n    </a>\n  </li>\n</ul>\n<!-- /nav -->\n    </div>\n  </div>\n</details>\n<!-- /details -->  </nav>\n"
          })  }}
        </div>
      </li>
      
    </ol>
  {% endcall %}
  <ol class="pt-base" id="desc-cabeceras">
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span>
      <span class="inline-block ml-base align-middle"><a href="componente-cabeceras-app-codigo.html" class="c-link font-semibold">Cabecera estándar.</a> Elemento obligatorio en las aplicaciones y herramientas del Gobierno de Aragón.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span>
      <span class="inline-block ml-base align-middle"><a href="componente-cabeceras-mini-codigo.html" class="c-link font-semibold">Cabecera pequeña.</a> Banda que forma parte de la cabecera avanzada, obligatoria su presencia en los sitios web del Gobierno de Aragón.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">3</span>
      <span class="inline-block ml-base align-middle"><a href="componente-cabeceras-codigo.html" class="c-link font-semibold">Cabecera avanzada.</a> Elemento obligatorio en los portales web.</span>
    </li>
  </ol>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía de cabecera para aplicaciones web"
  }) }}
  <p class="c-paragraph-base">Se usa en intranets o aplicaciones web para escritorio o móviles y que suelen tener un acceso de usuarios restringido. Tiene menos altura al estar compuesta por una sola banda.</p>
  <ul class=" p-base border border-neutral-base rounded" >
    <li>
      <p class="c-h4">Sin sesión iniciada</p>
      <img src="images/c-cabecera-anatomia2.1.svg" alt="Anatomía de la cabecera para aplicaciones web sin sesión iniciada">
    </li>
    <li>
      <p class="c-h4">Con sesión iniciada</p>
      <img src="images/c-cabecera-anatomia2.2.svg" alt="Anatomía de la cabecera para aplicaciones web cons esión iniciada">
    </li>
  </ul>
  <div class="pb-base"></div>
  <ol class="c-ol">
    <li><a href="componente-cabeceras-skiplink-codigo.html" class="c-link"><strong>Skip-link</strong></a>: Permite saltar directamente al contenido principal de la página. Lo usamos por accesibilidad. Está oculto y sólo se muestra al tomar el foco.</li>
    <li><strong>Banda gris</strong>: Tiene 56px de altura en todas sus variantes, fondo <code>neutral-lighter</code> y borde <code>neutral-base</code> inferior de 1px de grosor.</li>
    <li><strong>Logo Gobierno de Aragón</strong> Lo mostramos de forma expandida antes de la identificación del usuario. Cuando accede a la aplicación aparece de forma reducida, sólo con la bandera. En anchuras pequeñas y móviles siempre aparece reducido. Enlaza a la página de inicio de la aplicación.</li>
    <li><strong>Nombre de aplicación</strong>: Separado por dos líneas divisorias. En anchuras pequeñas se omiten y únicamente se muestra la etiqueta con el nombre. Cuando es necesario cambiar entre distintas aplicaciones, colocamos un <a href="componente-listbox-codigo.html" class="c-link">listado en caja</a> para facilitar la navegación. En dispositivos móviles esta función se encuentra dentro del menú lateral, a través del componente <a href="componente-detalles.html" class="c-link">detalles</a>.</li>
    <li><a href="componente-menu-navigation-codigo.html" class="c-link"><strong>Menú de navegación</strong></a>: En móviles o anchuras pequeñas, los items se encuentran dentro de un <a href="componente-dropdown.html" class="c-link">desplegable</a> que abre un menú lateral.</li>
    <li><strong>Perfil con menú <a href="componente-dropdown.html" class="c-link font-semibold">desplegable</a></strong>: Es una navegación o información relativa al usuario identificado (Ej: Perfil, Cerrar sesión...) y lo mostramos en el extremo derecha en escritorio. En anchuras pequeñas o móviles se encuentra dentro del menú lateral.</li>
  </ol>
  <div>
    <img class="border border-neutral-base rounded" src="images/c-cabecera-anatomia2-2.svg" alt="Construcción de la cabecera para aplicaciones web" >
  </div>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía de cabecera para sitios web o portales"
  }) }}
  <p class="c-paragraph-base">Esta es la cabecera por defecto para sitios web de submarcas del Gobierno de Aragón, es decir, sitios webs públicos en los que hay una comunicación "unidireccional" y, normalmente, no tienen un acceso de usuarios restringido.</p>
  <div>
    <img class="border border-neutral-base rounded" src="images/c-cabecera-anatomia1.svg" alt="Anatomía de la cabecera para sitios web o portales" >
  </div>
  <ol class="c-ol mt-base">
    <li><a href="componente-cabeceras-skiplink-codigo.html" class="c-link"><strong>Skip-link</strong></a>: Permite saltar directamente al contenido principal de la página. Lo usamos por accesibilidad. Está oculto y sólo se muestra al tomar el foco.</li>
    <li><a href="componente-cabeceras-mini-codigo.html" class="c-link"><strong>Cabecera pequeña</a></strong>: El logotipo debe quedar alineado a la izquierda y la banda, de 45px de altura, incluye un borde inferior de 1 px <code>neutral-base</code>. Enlaza a la página de incio del <a href="https://www.aragon.es/" class="c-link">portal del Gobierno de Aragón</a>.</li>
    <li><strong>Banda con el título del sitio web</strong>: Las letras del título del sitio web irán en blanco sobre fondo <code>heading-base</code> con ornamentos en <code>heading-dark</code>.</li>
    <li><strong>Subtítulo</strong>: Utilízalo para el nombre extendido de los títulos con acrónimos.</li>
    <li><strong>Banda con un <a href="componente-menu-navigation-codigo.html" class="c-link font-semibold">menú de navegación</a>:</strong> Tiene fondo <code>neutral-lighter</code> y borde inferior <code>neutral-base</code> de 1 px. En móviles o anchuras pequeñas, los items se encuentran dentro de un <a href="componente-dropdown.html" class="c-link">desplegable</a> que abre un menú lateral.</li>
    <li><strong>Perfil con menú <a href="componente-dropdown.html" class="c-link font-semibold">desplegable</a></strong>: Es una navegación o información relativa al usuario identificado (Ej: Perfil, Cerrar sesión...) y lo mostramos en el extremo derecha en escritorio. En anchuras pequeñas o móviles se encuentra dentro del menú lateral. Este elemento es opcional.</li>
    <li><strong>Banda con Hero opcional</strong>: Sección con una altura determinada en la que se puede encajar una imagen ilustrativa, animación o carrusel como presentación del portal.</li>
  </ol>
  <div>
    <img class="border border-neutral-base rounded" src="images/c-cabecera-anatomia1-2.svg" alt="Construcción de la cabecera para sitios web o portales">
  </div>
  <div class="pb-lg"></div>

  {{ DSSubsectionTitle({
    title: "Si tu organización tiene logotipo"
  }) }}
  <p class="c-paragraph-base">Si eres un instituto, empresa pública, fundación o similares y tu marca se encuentra en la <a href="https://www.aragon.es/-/galeria-de-escudos-y-logotipos-de-la-comunidad-autonoma-gobierno-de-aragon-y-administracion-autonomica" class="c-link">galería de escudos y logotipos del Gobierno de Aragón{% include "includes/_external-link-icon.njk" %}</a>, puedes incluirla en <strong>monocromo blanco</strong>, con unas <strong>dimensiones determinadas</strong> y una línea divisoria junto al título. En anchuras pequeñas, el logotipo escala y se apila sobre el título. De esta forma cumplirás accesibilidad y tu marca no competirá con la del Gobierno de Aragón. Si necesitas incluir más identificadores, hazlo en la zona habilitada del <a href="componente-footer.html" class="c-link">pie de página</a>.</p>
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <p class="c-h4">Versión de escritorio</p>
      <img class="border border-neutral-base rounded" src="images/c-cabecera-anatomia3-1.svg" alt="Dónde situar el logotipo en la versión de escritorio de la cabecera" >
    </li>
    <li>
      <p class="c-h4">Versión móvil</p>
      <img class="border border-neutral-base rounded" src="images/c-cabecera-anatomia3-2.svg" alt="Dónde situar el logotipo en la versión de móvil de la cabecera">
    </li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;header&gt;</code>, presente en todas las páginas dentro del <code>&lt;body&gt;</code>.</li>
    <li>El menú de navegación de cabecera y su versión mobile están rodeado con la etiqueta <code>&lt;nav&gt;</code>.</li>
    <li>El <a href="componente-cabeceras-skiplink-codigo.html" class="c-link">skip link</a> está rodeado con la etiqueta <code>&lt;nav&gt;</code>, sólo es visible cuando toma el foco y el lector de pantalla anuncia su etiqueta. Por defecto el enlace salta a la etiqueta <code>&lt;main&gt;</code>, donde se encuentra el contenido de la página. Es recomendable usar este componente al principio y al final de otras regiones donde es incómodo navegar con el teclado para poder saltarlas, por ejemplo iframes o galerías de imágenes.</li>
  </ul>
  <p class="c-paragraph-base">Más información en la sección <a href="https://www.w3.org/WAI/ARIA/apg/practices/landmark-regions/" class="c-link" target="_blank" title="Se abre en pestaña nueva">Landmark Regions de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>role=img</code> y <code>aria-label</code>'
          },
          {
            "text": "SVG de logotipos personalizados"
          },
          {
            "html": "El logotipo actúa como una imagen y el lector de pantalla describe el nombre definido con el <code>aria-label</code>."
          }
        ],
        [
          {
            "html": '<code>href</code>'
          },
          {
            "html": 'Componente skip-link'
          },
          {
            "html": 'Tiene que apuntar al id del elemento al que quieres saltar.'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}

  <div class="grid grid-cols-1 gap-lg">
    <div class="mt-base">
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Aviso",
        "classes": "c-pill--warning"
      }) }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No recomendamos que la posición de las cabeceras avanzadas quede fijada (stickies) ya que reduce mucho el área de visualización.</p>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img class="border-alert-dark border-l-4" src="images/c-cabecera-usos2.png" alt="Uso incorrecto de la cabecera. Hay una fotografía con gradiente en la banda de cabecera.">
        </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No coloques fotografías en la banda del título de cabecera. Hazlo en el hero.</p>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img class="border-alert-dark border-l-4" src="images/c-cabecera-usos3.svg" alt="Uso incorrecto de la cabecera. El logo se ha colocado en su versión de varios colores y en zonas no habilitadas.">
        </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="text-neutral-dark text-sm">No utilices tu logotipo en versiones que no sean monocromo.</p>
      <p class="text-neutral-dark text-sm">No sustituyas el título y no lo coloques en otras zonas que no sean la definida para ello.</p>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img class="border-alert-dark border-l-4" src="images/c-cabecera-usos4.svg" alt="Uso incorrecto de la cabecera. El logo de la institución se ha colocado en su versión de varios colores y en zonas no habilitadas.">
        </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices tu logotipo en la cabecera si es de un departamento o un proyecto.</p>
    </div>
  </div>


  <div class="pb-xl"></div>
{% endblock %}