{% set componente = [
  "tooltip",
  "tooltip",
  "Globo de ayuda",
  "El globo de ayuda o tooltip ofrece información de un elemento al pasar el ratón sobre él o bien cuando el elemento está en focus.",
  "Mostrar y ocultar"
] %}


{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

    <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-row gap-base">
      <div>
        {% call componentTooltip({
          "id": "example-default",
          "text": "Pregunta",
          "icon": {
            "type": "question"
          },
          "caller": ""
        })  %}
            <p class="c-paragraph-base mb-0">Globo de pregunta</p>
        {% endcall %}
      </div>
      <div>
        {% call componentTooltip({
          "id": "example-info",
          "text": "Información",
          "icon": {
            "type": "info"
          },
          "caller": ""
          })  %}
          <p class="c-paragraph-base mb-0">Globo de información</p>
        {% endcall %}
      </div>
      <div>
        {% call componentTooltip({
          "id": "example-alert",
          "text": "Alerta",
          "icon": {
            "type": "alert"
          },
          "classes": "text-alert-base",
          "caller": ""
        })  %}
          <p class="c-paragraph-base mb-0">Globo de alerta</p>
        {% endcall %}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Pregunta"
  }) }}
  <p class="c-paragraph-base">Para resolver dudas frecuentes o describir el significado de un elemento o concepto concreto.</p>
  {{ DSSubsectionTitle({
    title: "Información"
  }) }}
  <p class="c-paragraph-base">Para aportar información relevante para el usuario.</p>
  {{ DSSubsectionTitle({
    title: "Alerta"
  }) }}
  <p class="c-paragraph-base">Para resaltar y aportar información crítica sobre un elemento importante, con errores o con un período temporal limitado.</p>

<div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta de texto junto con un icono. Posee los atributos <code>role=img</code> y <code>aria-label</code>. Debe tener un <code>aria-describedby</code> que llamne al <code>id</code> del contenedor emergente.</li>
    <li>El contenedor emergente posee un <code>role=tooltip</code>.</li>
    <li>El contenedor debe aparecer al hacer hover o tomar el foco. Si la persona mueve el cursor hacia el contenido éste no debe desaparecer. Se puede ocultar pulsando la tecla escape.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/tooltip/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón tooltip de W3C{% include "includes/_external-link-icon.njk" %}</a></p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Configura <code>id</code> únicos para el componente, la etiqueta accionable y el contenedor emergente."
          }
        ],

        [
          {
            "html": '<code>role=img</code> y <code>aria-label</code>'
          },
          {
            "html": 'En el SVG de un icono personalizado'
          },
          {
            "html": "Descibe el propósito del contenedor emergente. "
          }
        ]

      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": ""
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
 <ul class="c-ul">
    <li>La información que aparece en los tooltips no debe ser vital para completar la tarea.</li>
    <li>Debe redactarse de manera concreta y con un lenguaje sencillo.</li>
  </ul>


  <div class="pb-xl"></div>
{% endblock %}