{% set componente = [
  "table-advanced",
  "tabla",
  "Tabla",
  "Componente para ordenar valores relacionados en filas y columnas.",
  "Datos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>


  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {{ DSSubsectionTitle({
    title: "Tabla simple"
  }) }}
  <p class="c-paragraph-base">Utiliza la <a href="componente-tabla-simple-codigo.html" class="c-link">tabla simple</a> para mostrar contenido en un número limitado de filas y columnas.</p>
  <p class="c-paragraph-base">En anchuras pequeñas las celdas se apilan junto con el encabezado que les corresponde.</p>

  {% call componentExample()  %}
    <div class="col-span-1">
      {{ componentTable({
        "caption": "Título de la tabla",
        "captionClasses": "mb-base font-bold text-left text-lg",
        "classes": "w-full",
        "head": [
          {
            "text": "Mes de pago"
          },
          {
            "text": "Primer pago",
            "classes": "lg:text-right"
          },
          {
            "text": "Segundo pago",
            "classes": "lg:text-right"
          }
        ],
        "rows": [
          [
            {
              "text": "Enero"
            },
            {
              "text": "85€",
              "classes": "lg:text-right"
            },
            {
              "text": "95€",
              "classes": "lg:text-right"
            }
          ],
          [
            {
              "text": "Febrero"
            },
            {
              "text": "75€",
              "classes": "lg:text-right"
            },
            {
              "text": "55€",
              "classes": "lg:text-right"
            }
          ],
          [
            {
              "text": "Marzo"
            },
            {
              "text": "165€",
              "classes": "lg:text-right"
            },
            {
              "text": "125€",
              "classes": "lg:text-right"
            }
          ]
        ]
      }) }}
    </div>
  {% endcall %}
  <div class="pb-lg"></div>


  {{ DSSubsectionTitle({
    title: "Tabla avanzada"
  }) }}
  <p class="c-paragraph-base">La <a href="componente-tabla-simple-codigo.html" class="c-link">tabla avanzada</a> permite mostrar una gran cantidad de columnas, realizar filtrados, selecciones o cambiar el tipo de ordenación.</p>
  <p class="c-paragraph-base">Utiliza el <a href="patrones-filtrar.html?nombre=&primer-apellido=&segundo-apellido=#avanzados" class="c-link">patrón de filtros avanzados</a> cuando necesites más complejidad a la hora de encontrar items.</p>
  {% call componentExample()  %}
    <div>
      {{ componentTableAdvanced({
        "idPrefix": "table-with-all",
        "caption": "Título de tabla",
        "captionClasses": "mb-base font-bold text-left text-lg",
        "hasCheckboxes": true,
        "firstCellIsHeader": true,
        "head": [
          {
            "text": "Filas"
          },
          {
            "text": "Etiqueta de filtro 1",
            "orderBy": "none",
            "hasFilter": true
          },
          {
            "text": "Etiqueta de filtro 2",
            "orderBy": "none",
            "classes": "text-right",
            "select": {
              "items": [
                {
                  "value": "",
                  "text": "Filtrar por...",
                  "disabled": true,
                  "selected": true,
                  "hidden": true
                },
                {
                  "value": 1,
                  "text": "Option 1"
                },
                {
                  "value": 2,
                  "text": "Option 2"
                },
                {
                  "value": 3,
                  "text": "Option 3"
                }
              ]
            }
          },
          {
            "text": "Etiqueta de filtro 3",
            "orderBy": "none",
            "classes": "text-right",
            "hasFilter": true,
            "select": {
              "items": [
                {
                  "value": "",
                  "text": "Filtrar por...",
                  "disabled": true,
                  "selected": true,
                  "hidden": true
                },
                {
                  "value": 1,
                  "text": "Option 1"
                },
                {
                  "value": 2,
                  "text": "Option 2"
                },
                {
                  "value": 3,
                  "text": "Option 3"
                }
              ]
            }
          }
        ],
        "rows": [
          [
            {
              "text": "Fila 1"
            },
            {
              "text": "Enero"
            },
            {
              "text": "85€",
              "classes": "text-right"
            },
            {
              "text": "95€",
              "classes": "text-right"
            }
          ],
          [
            {
              "text": "Fila 2"
            },
            {
              "text": "Febrero"
            },
            {
              "text": "75€",
              "classes": "text-right"
            },
            {
              "text": "55€",
              "classes": "text-right"
            }
          ],
          [
            {
              "text": "Fila 3"
            },
            {
              "text": "Marzo"
            },
            {
              "text": "165€",
              "classes": "text-right"
            },
            {
              "text": "125€",
              "classes": "text-right"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full whitespace-nowrap"
      })  }}
    </div>
  {% endcall %}
  <ul class="c-ul">
    <li><a class="font-semibold">Título de tabla:</a> Caption que debe ser visible o, en su defecto, estar únicamente disponible para lectores de pantalla.</li>
    <li><a class="font-semibold">Cabecera de la tabla:</a> Define la información de las columnas. Opcionalmente, si existe un alto número de filas, puede contener elementos de filtrado como <a href="componente-selector.html" class="c-link">selectores</a>, <a href="componente-searchbar.html" class="c-link">barras de búsqueda</a> y botones de ordenación ascendente/descendente.</li>
    <li><a class="font-semibold">Botones de selección:</a> Opcionalmente para cada fila, se pueden incluir inputs de <a href="componente-checkboxes.html" class="c-link">selección múltiple</a> o <a href="componente-radios.html" class="c-link">selección única</a> dependiendo de las acciones que deba ejercer el usuario sobre los distintos items.</li>
    <li><a class="font-semibold">Filas:</a> Relacionan cada término con uno o varios parámetros del mismo. Pueden añadirse <a href="componente-botones.html" class="c-link">botones</a> en las últimas celdas de cada fila para realizar acciones sobre los items.</li>
  </ul>

  <div class="pb-lg"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <div class=" p-base bg-primary-light mt-base">
    <h2 class="font-bold mb-base">Recuerda</h2>
    <ul class="c-ul">
      <li class="text-sm">Para que tu tabla sea accesible, consulta el <a href="patrones-acciones-tabla.html" class="c-link">patrón de acciones de tabla</a> para saber cómo mostrar información adicional y realizar acciones en lote.</li>
      <li class="text-sm">Establece el orden predeterminado por el que se muestran los datos a través del icono accionable de la etiqueta en la cabecera de la columna (flecha arriba o flecha abajo).</li>
      <li class="text-sm">Asegúrate de que los datos pueden visualizarse en anchuras pequeñas. Utiliza scroll y coloca los botones de desplazamiento al principio de la tabla.</li>
      <li class="text-sm">No utilices tablas como elemento de maquetación.</li>
    </ul>
  </div>
  <div class="pb-xl"></div>

  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;table&gt;</code> con <code>role=grid</code> que contiene un <code>&lt;caption&gt;</code> descriptivo, una fila de encabezado <code>&lt;thead&gt;</code>, un cuerpo <code>&lt;tbody&gt;</code> y una fila inferior <code>&lt;tfoot&gt;</code>.</li>
    <li>Cada fila es una etiqueta <code>&lt;tr&gt;</code>.</li>
    <li>Cuando la celda forma parte de la cabecera se trata de un elemento <code>&lt;th&gt;</code> con <code>scope=col</code> o <code>scope=row</code>, un <code>tabindex=-1</code> que impide que tomen el foco y un <code>id</code> único. El resto de celdas son elementos <code>td</code>.</li>
    <li>En una columna ordenable, la celda de cabecera con el accionable necesita un <code>aria-sort</code> que indique si el orden es ascendente, descendente o no existe. La etiqueta accionable se encuentra dentro de un contenedor con <code>role=button</code>. Los iconos de filtrado poseen aria=hidden y una etiqueta con <code>.sr-only</code> que indica <q>Pulsa para ordenar por esta columna</q></li>
    <li>En el caso de que se configuren otros inputs, deben llevar label visible o con <code>.sr-only</code> y estar identificados con <code>id</code> único.</li>
    <li>Cuando el foco entra en la tabla, la persona puede navegar entre las celdas con las flechas de direccción.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/table/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón table de W3C{% include "includes/_external-link-icon.njk" %}</a></p>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para celdas de cabecera e inputs."
          }
        ],
        [
          {
            "html": '<code>caption</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Describe la tabla con un título como encabezado. Siempre debe estar."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>



{% endblock %}