{% set componente = [
  "button",
  "botones",
  "Botones",
  "Los botones son elementos sobre los que se puede interactuar para realizar acciones o navegar.",
  "Componentes principales"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/table/_macro.table.njk" import componentTable %}






{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#tamaos" class="c-link">Tamaños</a></li>
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#estados" class="c-link">Estados</a></li>
    <li class="pb-sm"><a href="#con-iconos" class="c-link">Con iconos</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
    <li><a href="#grupos-de-botones" class="c-link">Grupos de botones</a></li>
  </ul>



  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <div class="grid gap-lg">
    <div>
      <div class="border border-neutral-base rounded">
        <img src="images/c-boton-anatomia1.svg" alt="Anatomía de un botón" class="mb-0">
      </div>
      <div class="mb-base"></div>
      <ol class="c-ol">
        <li><a class="font-semibold">Contenedor</a>: Borde de 1px exterior y redondeo de 3px. Al accionarlo se desplaza 1px hacia abajo.</li>
        <li><strong>Etiqueta</strong>: Texto base o sm según el tamaño del botón.</li>
        <li><a href="componente-iconos.html" class="c-link font-semibold">Icono</a>: Elemento opcional de apoyo final o inicial.</li>
      </ol>
    </div>
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tamaños"
  }) }}
  {% call componentExample()  %}
    <ul class="flex flex-col lg:flex-row flex-wrap gap-base">
      <li>
        {{ componentButton({
          "text": "Grande",
          "classes": "c-button--lg"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Estándar"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Pequeño",
          "classes": "c-button--sm"
        })  }}
      </li>
    </ul>
  {% endcall %}
  <ul class="c-ul">
    <li><strong>Estándar</strong>: Utilizamos este botón por defecto en la mayoría de situaciones. Prioriza usar este tamaño por motivos de accesibilidad.</li>
    <li><strong>Pequeño</strong>: Usa este tamaño cuando el elemento estándar sea demasiado grande para el espacio donde debe de encajar, por ejemplo dentro de tablas, cards, grupos de filtros o similares.</li>
    <li><strong>Grande</strong>: Usa este tamaño en la página principal de portales o destacar llamadas a la acción.</li>
  </ul>


  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentButton({
          "text": "Por defecto"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "text": "Primario",
          "classes": "c-button--primary"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "text": "Transparente",
          "classes": "c-button--transparent"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "text": "Alerta",
          "classes": "c-button--alert"
        })  }}
      </div>
    </div>
  {% endcall %}

  {{ DSSubsectionTitle({
    title: "Botones por defecto"
  }) }}
  <p class="c-paragraph-base">
    El botón por defecto es el botón estándar para la mayoría de los casos de uso. El estilo delineado pone menos énfasis en estos botones, pudiendo usar varios por página o grupo de botones.
  </p>
  {{ DSSubsectionTitle({
    title: "Botones primarios"
  }) }}
  <p class="c-paragraph-base">
    Estos botones son los que tienen más énfasis. En caso de usarlo en una página no se recomienda que se use más de una vez.</p>
  <p class="c-paragraph-base">Nunca deben duplicarse situándose uno al lado del otro. Se utiliza cuando una acción es claramente más importante que las otras acciones y se necesita llamar la atención sobre ella.</p>
  <p class="c-paragraph-base">No todas las funciones necesitan tener acciones primarias.
  </p>
  {{ DSSubsectionTitle({
    title: "Botones transparentes"
  }) }}
  <p class="c-paragraph-base">
    El botón transparente debe utilizarse para las acciones menos importantes. Este botón se utiliza en contenido secundario, para evitar competencia con las llamadas a acción principales. Lo ideal es que el usuario vea el botón principal y luego (si no es relevante) lo omita en el transparente.  Por ejemplo, se utiliza para acciones como deshacer, volver, etc...
  </p>
  {{ DSSubsectionTitle({
    title: "Botones de alerta"
  }) }}
  <p class="c-paragraph-base">
    Los botones de alerta se deben emplear, en casos muy concretos, especialmente para acciones destructivas o que no se puedan deshacer.
  </p>

  <div class="pb-xl"></div>
  
  {{ DSSectionTitle({
      title: "Estados"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentButton({
          "name": "active",
          "text": "Activo",
          "classes": "c-button--primary ds-active"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "text": "Desactivado",
          "disabled": true,
          "classes": "c-button--primary"
        })  }}
      </div>
      <div>
        {{ componentButtonLoader({
          "name": "loading",
          "text": "Loading",
          "state": "is-loading",
          "classes": "c-button-loader--is-loading c-button-loader--primary",
          "loader": {
            "text": "Acción en curso"
          }
        })  }}
      </div>
      <div>
        {{ componentButtonLoader({
          "name": "success",
          "text": "Success",
          "state": "is-success",
          "success": {
            "text": "Acción realizada con éxito"
          },
          "classes": "c-button-loader--is-success c-button-loader--primary"
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Estado activo"
  }) }}
  <p class="c-paragraph-base">Es el estado habitual de un botón con el que se puede interactuar y al pulsarlo realiza una acción. Este estado incluye los estados hover y focus que nos ayudan a identificar distintos momentos de la interacción con el componente.</p>
  {{ DSSubsectionTitle({
    title: "Estado desactivado"
  }) }}
  <p class="c-paragraph-base">Por lo general <a class="font-bold">no se recomienda el uso de botones en estado desactivado.</a> Es mejor que al pulsar el botón aparezca un mensaje de error indicando que hay un problema con la acción que se desea realizar o que directamente no se muestre el botón. Pero existen situaciones en las que es conveniente que el usuario entienda que esa acción es posible, pero que temporalmente no está disponible,  en estos casos se puede usar el estado desactivado, pero debe quedar claro el motivo por el cual el botón está desactivado.</p>
  {{ DSSubsectionTitle({
    title: "Estado cargando y éxito"
  }) }}
  <p class="c-paragraph-base">Se recomienda el uso de este estado cuando al pulsar un botón la acción que realiza no es inmediata y requiere de cierto tiempo para su ejecución, este estado desactiva temporalmente el botón, para evitar que se pulse varias veces y da feedback al usuario de que se está realizando una acción. Una vez finalizada la acción se puede cambiar el botón al estado éxito o devolverlo a su estado activo según convenga.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Con iconos"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base mb-base">
      <div>
        {{ componentButton({
          "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
          "classes": "c-button--transparent",
          "href": "/"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent",
          "href": "/"
        })  }}
      </div>
    </div>
    <div class="flex flex-col lg:flex-row flex-wrap gap-base mb-base">
      <div>
        {{ componentButton({
          "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\"  class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z\" fill=\"currentColor\"/></svg>Eliminar",
          "href": "/"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "html": "Eliminar<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\"  class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z\" fill=\"currentColor\"/></svg>",
          "href": "/"
        })  }}
      </div>
    </div>
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentButton({
          "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\"  class=\"self-center my-1\" focusable=\"false\" width=\"1em\" height=\"1em\" aria-label=\"Borrar\"><path d=\"M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z\" fill=\"currentColor\"/></svg>",
          "href": "/",
          "classes": "c-button--primary align-bottom"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\"  class=\"self-center my-1\" focusable=\"false\" width=\"1em\" height=\"1em\" aria-label=\"Borrar\"><path d=\"M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z\" fill=\"currentColor\"/></svg>",
          "href": "/",
          "classes": "c-button--primary c-button--sm align-bottom"
        })  }}
      </div>
    </div>
  {% endcall %}
  <p class="c-paragraph-base">
    Se puede usar iconos en botones, siempre que sea de manera puntual y porque se quiere destacar la acciones especialmente sobre otros botones o que sea necesario un apoyo visual para entender mejor la acción del botón.  por ejemplo en botones de descarga.
  </p>
  <p class="c-paragraph-base">
    Por lo general no se recomienda usar botones sin etiqueta y únicamente con icono, pero se pueden emplear en casos en los que el espacio sea muy reducido y sea imposible incluir la etiqueta y siempre que la acción que representa el icono sea inequívoca y clara.
  </p>

  <div class="pb-lg"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Elemento <code>&lt;button&gt;</code> al que el usuario llega a través del foco del teclado y espera realizar una acción. El lector de pantalla debe describir claramente cuál es la acción.</p>
    <li>Los botones que enlazan a otras páginas se construyen con una etiqueta <code>&lt;a&gt;</code></p>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/button/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón button de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>aria-hidden=true</code>'
          },
          {
            "text": "SVG que apoya a la etiqueta de texto"
          },
          {
            "text": "Oculta el icono a lectores de pantalla, el texto ya describe la acción del botón."
          }
        ],
        [
          {
            "html": '<code>role=img</code> y <code>aria-label</code>'
          },
          {
            "text": "SVG sin etiqueta de texto"
          },
          {
            "html": "El lector de pantalla describe la acción definida con el <code>aria-label</code>. Debes describir la acción, no el icono."
          }
        ],
        [
          {
            "html": '<code>title</code>'
          },
          {
            "html": 'Botón que enlaza con <code>target</code>'
          },
          {
            "html": 'El <code>title</code> debe avisar que el enlace se va a abrir en ventana o pestaña nueva, dependiendo de dónde apunte el <code>target</code>.'
          }
        ],
        [
          {
            "html": '<code>&lt;span&gt;</code> con <code>.sr-only</code>'
          },
          {
            "html": 'Seguido del texto del botón'
          },
          {
            "html": 'Extiende la descripción de la acción para los lectores de pantalla.'
          }
        ],
        [
          {
            "html": '<code>disabled:true</code>'
          },
          {
            "html": 'Parámetro Nunjucks de componente'
          },
          {
            "html": 'Aplica un <code>disabled=true</code> al botón que anuncia al lector de pantalla que está deshabilitado.'
          }
        ],
        [
          {
            "html": '<code>element:input</code>'
          },
          {
            "html": 'Parámetro Nunjucks de componente'
          },
          {
            "html": 'Cambia la etiqueta <code>&lt;button&gt;</code> por la etiqueta <code>&lt;input&gt;</code> con <code>type=submit</code> para el envío de formularios.'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>


  <div class="pb-lg"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-lg">
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia4.svg" alt="Etiqueta con minúsculas." class="mb-0 border-l-4 border-warning-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
            "classes": "c-pill--alert"
          })  }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">No empieces la etiqueta con minúscula.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia5.svg" alt="Etiqueta con cuatro palabras." class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Intenta no utilizar más de dos palabras.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia6.svg" alt="Etiqueta con sustantivo." class="mb-0 border-l-4 border-warning-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Concreta la acción con un verbo en  infinitivo.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia7.svg" alt="Etiqueta en mayúsculas." class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">No utilices mayúsculas.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia8.svg" alt="Etiqueta con icono incorrecto." class="mb-0 border-l-4 border-warning-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">No utilices iconos de apoyo que no tengan relación con la acción que se va a relizar y colócalos en una posición lógica.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia9.svg" alt="Etiqueta con dos iconos." class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">No utilices dos iconos simultáneamente.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
        <img src="images/c-boton-anatomia10.svg" alt="Etiqueta con verbos en primera persona." class="mb-0 border-l-4 border-success-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
          "classes": "c-pill--success"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Cuando tengas que reforzar la pertenencia de la persona usuaria, utiliza verbos en primera pesona.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-anatomia11.svg" alt="Botón sólo con icono." class="mb-0 border-l-4 border-success-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
          "classes": "c-pill--success"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Únicamente en casos cuando el espacio sea muy reducido y no permita colocar etiqueta en el botón, puedes incluir sólo el icono. Ten en cuenta que la acción que representa debe ser inequívoca y clara.</p>
      </div>
    </div>
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Grupos de botones"
  }) }}
  <div class="p-base mb-base bg-neutral-light"><p>Consulta las agrupaciones habituales en <a href="patrones-grupo-acciones.html" class="c-link">patrones de grupos de acciones</a> y <a href="patrones-avanzar-retroceder.html" class="c-link">patrones de avanzar y retroceder</a>.</p></div>
  <p class="c-paragraph-base">Deberás maquetar cada botón del grupo con un item <code>&lt;li&gt;</code> dentro de una lista sin orden <code>&lt;ul&gt;</code>.</p>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-lg">
    <div>
      <div class="border border-neutral-base rounded">
        <img src="images/c-boton-uso1.svg" alt="Construcción de grupos de botones." class="mb-0 border-l-4 border-success-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
            "classes": "c-pill--success"
          })  }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza un sato entre botones de 8px <code>gap-sm</code>.</p>
        <p class="c-paragraph-base text-neutral-dark text-sm">El botón más importante dentro del grupo debe ubicarse lo más próximo posible a los límites de la pantalla, quedando así siempre en primer lugar o en último, dependiendo de su alineación.</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-uso2.svg" alt="Grupo de botones con tres tipos de botones." class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
            "classes": "c-pill--alert"
          })  }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Intenta no utilizar más de dos tipos de botones en el mismo grupo</p>
      </div>
    </div>
    <div>
      <div class="border border-neutral-base rounded">
          <img src="images/c-boton-uso3.svg" alt="Grupo de botones con dos grupos primarios." class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
            "classes": "c-pill--alert"
          })  }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">No utilices dos botones primarios en el mismo grupo ni en la misma página.</p>
      </div>
    </div>
  </div>

{% endblock %}