

{% set componente = [
  " ",
  "iconos",
  "Iconos",
  "Familias de iconos Streamline que mantienen una coherencia visual y que pueden servir como elementos de apoyo o para indicar una determinada acción.",
  "Información visual"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/button/_macro.button.njk" import componentButton %}





{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}


  <p class="p-base bg-neutral-light">Puedes consultar más información sobre los iconos e ilustraciones en <a href="estilos-imagenes.html" class="c-link">estilos de imágenes</a>.</p>

  {# <div class="bg-primary-light p-base">
    <h2 class="c-h3">Cómo obtener los iconos e ilustraciones que necesitas</h2>
    <p class="c-paragraph-base">Deberás escribir a <a href="mailto:comisiondecomunicacion@aragon.es" class="c-link">comisiondecomunicacion@aragon.es</a> para que te proporcionen un paquete base con los iconos más frecuentes de ambas familias (puedes ver la selección completa en nuestra <a href="https://www.figma.com/community/file/1167029569064210460" class="c-link">librería de Figma</a>).</p>
    <p>Si necesitas otros más específicos o alguna ilustración, búscalos en la librería de Streamline que corresponda y apunta sus nombres o enlaces. Tendrás que solicitarlos a través de la misma dirección de correo para recibir el paquete con los archivos en formato SVG.</p>
  </div> #}


  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Para accionables y apoyo a etiquetas"
  }) }}
  <p class="c-paragraph-base">Tamaños menores o iguales a 24px.</p>

  {% call componentExample()  %}
    <div>
      <ul class="flex flex-row flex-wrap gap-base">
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8C0 8.26522 0.105357 8.51957 0.292893 8.70711C0.48043 8.89464 0.734784 9 1 9H6.83333C6.87754 9 6.91993 9.01756 6.95118 9.04882C6.98244 9.08007 7 9.12246 7 9.16667V15C7 15.2652 7.10536 15.5196 7.29289 15.7071C7.48043 15.8946 7.73478 16 8 16C8.26522 16 8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V9.16667C9 9.12246 9.01756 9.08007 9.04882 9.04882C9.08007 9.01756 9.12246 9 9.16667 9H15C15.2652 9 15.5196 8.89464 15.7071 8.70711C15.8946 8.51957 16 8.26522 16 8C16 7.73478 15.8946 7.48043 15.7071 7.29289C15.5196 7.10536 15.2652 7 15 7H9.16667C9.12246 7 9.08007 6.98244 9.04882 6.95118C9.01756 6.91993 9 6.87754 9 6.83333V1C9 0.734784 8.89464 0.48043 8.70711 0.292893C8.51957 0.105357 8.26522 0 8 0C7.73478 0 7.48043 0.105357 7.29289 0.292893C7.10536 0.48043 7 0.734784 7 1V6.83333C7 6.87754 6.98244 6.91993 6.95118 6.95118C6.91993 6.98244 6.87754 7 6.83333 7H1C0.734784 7 0.48043 7.10536 0.292893 7.29289C0.105357 7.48043 0 7.73478 0 8Z" fill="#1F2331"></path>
          </svg>
          
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_842_2596)">
            <path d="M8 8.57143C8.22733 8.57143 8.44535 8.48112 8.6061 8.32038C8.76684 8.15963 8.85715 7.94161 8.85715 7.71429V4.85714C8.85715 4.62981 8.76684 4.4118 8.6061 4.25105C8.44535 4.09031 8.22733 4 8 4C7.77268 4 7.55466 4.09031 7.39391 4.25105C7.23317 4.4118 7.14286 4.62981 7.14286 4.85714V7.71429C7.14286 7.94161 7.23317 8.15963 7.39391 8.32038C7.55466 8.48112 7.77268 8.57143 8 8.57143ZM6.85715 10.5714C6.85715 10.8745 6.97756 11.1652 7.19188 11.3796C7.40621 11.5939 7.6969 11.7143 8 11.7143C8.30311 11.7143 8.5938 11.5939 8.80813 11.3796C9.02245 11.1652 9.14286 10.8745 9.14286 10.5714C9.14286 10.2683 9.02245 9.97763 8.80813 9.76331C8.5938 9.54898 8.30311 9.42857 8 9.42857C7.6969 9.42857 7.40621 9.54898 7.19188 9.76331C6.97756 9.97763 6.85715 10.2683 6.85715 10.5714Z" fill="#1F2331"></path>
            <path d="M15.9749 11.6378L15.4286 9.44009C15.373 9.21974 15.2323 9.03042 15.0373 8.91366C14.8424 8.7969 14.6091 8.76222 14.3886 8.81723L12.192 9.36581C12.0278 9.40746 11.8795 9.49687 11.7661 9.62272C11.6526 9.74858 11.579 9.90524 11.5545 10.0729C11.5301 10.2406 11.5559 10.4118 11.6286 10.5648C11.7014 10.7178 11.8179 10.8458 11.9634 10.9327L12.6617 11.3509C12.1002 12.0585 11.3936 12.6375 10.5895 13.0489C9.78531 13.4604 8.90233 13.6947 8 13.7361C6.82351 13.7311 5.67666 13.3665 4.7133 12.6912C3.74993 12.0159 3.01612 11.0621 2.61028 9.95781C2.53034 9.74662 2.37032 9.57549 2.16497 9.48157C1.95961 9.38765 1.7255 9.37853 1.51346 9.45618C1.30141 9.53383 1.12856 9.69199 1.03243 9.89632C0.936297 10.1006 0.924643 10.3347 0.999998 10.5475C1.52738 11.9812 2.48063 13.2193 3.73185 14.0957C4.98308 14.972 6.4724 15.4447 8 15.4504C9.1944 15.3956 10.3621 15.0786 11.4202 14.5218C12.4783 13.965 13.4008 13.1821 14.1223 12.2287L14.7017 12.5715C14.8471 12.6589 15.0151 12.7012 15.1846 12.6931C15.354 12.685 15.5172 12.6267 15.6535 12.5258C15.7898 12.4248 15.8931 12.2857 15.9503 12.126C16.0075 11.9663 16.0161 11.7932 15.9749 11.6287V11.6378ZM1.61486 7.18295L3.81143 6.63438C3.97606 6.59347 4.12485 6.50464 4.23896 6.37912C4.35307 6.2536 4.42737 6.09705 4.45246 5.92928C4.47754 5.76151 4.45228 5.59007 4.37988 5.43667C4.30747 5.28326 4.19118 5.15479 4.04571 5.06752L3.40114 4.6858C3.95655 3.98388 4.65258 3.40585 5.44457 2.98879C6.23655 2.57174 7.10699 2.32489 8 2.26409C9.17649 2.26904 10.3233 2.63363 11.2867 3.30897C12.2501 3.98431 12.9839 4.93809 13.3897 6.04238C13.45 6.20639 13.5589 6.34811 13.7018 6.44859C13.8448 6.54906 14.015 6.60351 14.1897 6.60466C14.2907 6.60445 14.3908 6.58666 14.4857 6.55209C14.6989 6.47358 14.8722 6.31378 14.9678 6.1077C15.0633 5.90162 15.0732 5.66607 14.9954 5.45266C14.4683 4.01971 13.5158 2.78213 12.2654 1.90582C11.0151 1.02952 9.52681 0.55637 8 0.549805C6.81204 0.61584 5.65282 0.94039 4.60327 1.50079C3.55373 2.0612 2.63916 2.84394 1.92343 3.79438L1.29828 3.41952C1.15291 3.33211 0.984868 3.2898 0.815433 3.29794C0.645999 3.30609 0.482791 3.36432 0.346473 3.46528C0.210154 3.56623 0.106855 3.70536 0.0496543 3.86506C-0.00754683 4.02475 -0.0160779 4.19783 0.0251411 4.36238L0.571427 6.56009C0.617962 6.74531 0.724938 6.90971 0.875425 7.02729C1.02591 7.14486 1.21131 7.20889 1.40228 7.20923C1.47395 7.20922 1.54534 7.20039 1.61486 7.18295Z" fill="#1F2331"></path>
            </g>
            <defs>
            <clipPath id="clip0_842_2596">
            <rect width="16" height="16" fill="white"></rect>
            </clipPath>
            </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_848_2104)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.1804 0.400034C7.40356 0.176877 7.76536 0.176877 7.98852 0.400034L11.4171 3.82861C11.5806 3.99204 11.6294 4.23781 11.5409 4.45134C11.4525 4.66487 11.2441 4.80409 11.013 4.80409H8.72732V11.6612H11.013C11.2441 11.6612 11.4525 11.8004 11.5409 12.014C11.6294 12.2275 11.5806 12.4734 11.4171 12.6368L7.98852 16.0654C7.76536 16.2884 7.40356 16.2884 7.1804 16.0654L3.75183 12.6368C3.5884 12.4734 3.53951 12.2275 3.62796 12.014C3.7164 11.8004 3.92477 11.6612 4.15589 11.6612H6.4416V4.80409H4.15589C3.92477 4.80409 3.7164 4.66487 3.62796 4.45134C3.53951 4.23781 3.5884 3.99204 3.75183 3.82861L7.1804 0.400034Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_848_2104">
          <rect width="16" height="16" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.8487 3.23246C5.75205 2.63415 6.83534 2.28571 8 2.28571C11.1559 2.28571 13.7143 4.84409 13.7143 8C13.7143 9.16466 13.3658 10.248 12.7675 11.1513L4.8487 3.23246ZM3.23246 4.8487L11.1513 12.7675C10.248 13.3658 9.16466 13.7143 8 13.7143C4.84409 13.7143 2.28571 11.1559 2.28571 8C2.28571 6.83534 2.63415 5.75205 3.23246 4.8487ZM8 0C3.58173 0 0 3.58173 0 8C0 12.4183 3.58173 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58173 12.4183 0 8 0Z" fill="black"></path>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_655_553)">
          <path d="M11.4286 0H4.57143C4.11678 0 3.68074 0.180612 3.35925 0.502103C3.03776 0.823594 2.85715 1.25963 2.85715 1.71429V15.4286C2.85717 15.5416 2.89074 15.6522 2.9536 15.7461C3.01646 15.8401 3.1058 15.9134 3.21029 15.9565C3.31478 15.9997 3.42974 16.011 3.54062 15.9888C3.65149 15.9666 3.7533 15.9121 3.83315 15.832L7.79772 11.8674C7.82426 11.8408 7.85579 11.8197 7.8905 11.8053C7.92521 11.7909 7.96242 11.7835 8 11.7835C8.03759 11.7835 8.0748 11.7909 8.10951 11.8053C8.14422 11.8197 8.17575 11.8408 8.20229 11.8674L12.1669 15.832C12.2467 15.9121 12.3485 15.9666 12.4594 15.9888C12.5703 16.011 12.6852 15.9997 12.7897 15.9565C12.8942 15.9134 12.9835 15.8401 13.0464 15.7461C13.1093 15.6522 13.1428 15.5416 13.1429 15.4286V1.71429C13.1429 1.25963 12.9623 0.823594 12.6408 0.502103C12.3193 0.180612 11.8832 0 11.4286 0V0Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_655_553">
          <rect width="16" height="16" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4286 0C11.9019 0 12.2857 0.383755 12.2857 0.857143V1.71429H14C15.1046 1.71429 16 2.60971 16 3.71429V6.71526V8.14383V14C16 15.1046 15.1046 16 14 16H2C0.89543 16 0 15.1046 0 14V8.14383V6.71526V3.71429C0 2.60971 0.895431 1.71429 2 1.71429H3.71429V0.857143C3.71429 0.383755 4.09805 0 4.57143 0C5.04481 0 5.42857 0.383755 5.42857 0.857143V1.71429H10.5714V0.857143C10.5714 0.383755 10.9552 0 11.4286 0ZM3.71429 3.42857V4.28571C3.71429 4.7591 4.09805 5.14286 4.57143 5.14286C5.04481 5.14286 5.42857 4.7591 5.42857 4.28571V3.42857H10.5714V4.28571C10.5714 4.7591 10.9552 5.14286 11.4286 5.14286C11.9019 5.14286 12.2857 4.7591 12.2857 4.28571V3.42857H14C14.1578 3.42857 14.2857 3.55649 14.2857 3.71429V6.32171C14.1944 6.29822 14.0986 6.28571 14 6.28571H2C1.90134 6.28571 1.8056 6.29822 1.71429 6.32171V3.71429C1.71429 3.55649 1.84221 3.42857 2 3.42857H3.71429Z" fill="#1F2331"></path>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_454_114)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28572 1.71429C6.12793 1.71429 6.00001 1.84221 6.00001 2V3.14286H10V2C10 1.84221 9.87209 1.71429 9.71429 1.71429H6.28572ZM11.7143 3.14286V2C11.7143 0.895431 10.8189 0 9.71429 0H6.28572C5.18115 0 4.28572 0.895431 4.28572 2V3.14286H1.14286C0.669476 3.14286 0.285721 3.52662 0.285721 4C0.285721 4.47338 0.669476 4.85714 1.14286 4.85714H5.14286H10.8572H14.8572C15.3305 4.85714 15.7143 4.47338 15.7143 4C15.7143 3.52662 15.3305 3.14286 14.8572 3.14286H11.7143ZM2.85715 6.28571C2.69243 6.28571 2.53572 6.3568 2.42722 6.48073C2.31872 6.60466 2.26897 6.76939 2.29074 6.93266L3.4336 15.5041C3.47145 15.788 3.71361 16 4.00001 16H12C12.2864 16 12.5286 15.788 12.5664 15.5041L13.7093 6.93266C13.7311 6.76939 13.6813 6.60466 13.5728 6.48073C13.4642 6.3568 13.3076 6.28571 13.1429 6.28571H2.85715Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_454_114">
          <rect width="16" height="16" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_842_2588)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.7143 6.57143C5.3848 6.57143 5.08448 6.7603 4.94175 7.05727C4.79902 7.35424 4.83914 7.70673 5.04498 7.96402L7.3307 10.8212C7.49335 11.0245 7.73962 11.1429 8.00001 11.1429C8.2604 11.1429 8.50666 11.0245 8.66933 10.8212L10.955 7.96402C11.1609 7.70673 11.201 7.35424 11.0583 7.05727C10.9155 6.7603 10.6152 6.57143 10.2857 6.57143H9.14286V1.14286C9.14286 0.511675 8.63118 0 8 0C7.36881 0 6.85714 0.511675 6.85714 1.14286V6.57143H5.7143ZM2.28571 12.5714C2.28571 11.9402 1.77403 11.4286 1.14286 11.4286C0.511674 11.4286 0 11.9402 0 12.5714V13.1429C0 14.7208 1.27919 16 2.85714 16H13.1429C14.7208 16 16 14.7208 16 13.1429V12.5714C16 11.9402 15.4883 11.4286 14.8571 11.4286C14.2259 11.4286 13.7143 11.9402 13.7143 12.5714V13.1429C13.7143 13.4584 13.4584 13.7143 13.1429 13.7143H2.85714C2.54155 13.7143 2.28571 13.4584 2.28571 13.1429V12.5714Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_842_2588">
          <rect width="16" height="16" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_654_560)">
          <path d="M7.99973 0C6.41748 0 4.87076 0.469192 3.55517 1.34824C2.23957 2.22729 1.21419 3.47672 0.608693 4.93853C0.00319159 6.40034 -0.155235 8.00888 0.153447 9.56072C0.462129 11.1126 1.22405 12.538 2.34288 13.6569C3.4617 14.7757 4.88716 15.5376 6.43901 15.8463C7.99086 16.155 9.59939 15.9965 11.0612 15.391C12.523 14.7855 13.7724 13.7602 14.6515 12.4446C15.5305 11.129 15.9997 9.58225 15.9997 8C15.9973 5.87901 15.1537 3.84559 13.6539 2.34582C12.1541 0.846052 10.1207 0.00241984 7.99973 0V0ZM7.14259 4C7.14259 3.77267 7.23289 3.55465 7.39364 3.39391C7.55438 3.23316 7.7724 3.14286 7.99973 3.14286C8.22706 3.14286 8.44508 3.23316 8.60582 3.39391C8.76657 3.55465 8.85687 3.77267 8.85687 4V7.42857C8.85687 7.6559 8.76657 7.87392 8.60582 8.03466C8.44508 8.19541 8.22706 8.28572 7.99973 8.28572C7.7724 8.28572 7.55438 8.19541 7.39364 8.03466C7.23289 7.87392 7.14259 7.6559 7.14259 7.42857V4ZM7.99973 12.5714C7.77369 12.5714 7.55273 12.5044 7.36479 12.3788C7.17685 12.2532 7.03037 12.0748 6.94387 11.8659C6.85737 11.6571 6.83473 11.4273 6.87883 11.2056C6.92293 10.9839 7.03178 10.7803 7.19161 10.6205C7.35144 10.4606 7.55508 10.3518 7.77677 10.3077C7.99846 10.2636 8.22825 10.2862 8.43708 10.3727C8.64591 10.4592 8.8244 10.6057 8.94998 10.7936C9.07556 10.9816 9.14259 11.2025 9.14259 11.4286C9.14259 11.7317 9.02218 12.0224 8.80785 12.2367C8.59352 12.451 8.30283 12.5714 7.99973 12.5714Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_654_560">
          <rect width="16" height="16" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_654_569)">
          <path d="M15.8194 13.5189L9.53371 0.947479C9.39142 0.66251 9.17254 0.42282 8.90164 0.255292C8.63074 0.087764 8.31851 -0.000976563 8 -0.000976562C7.68148 -0.000976562 7.36926 0.087764 7.09835 0.255292C6.82745 0.42282 6.60857 0.66251 6.46628 0.947479L0.180566 13.5189C0.0498221 13.7803 -0.0119177 14.0708 0.00121208 14.3628C0.0143418 14.6548 0.101905 14.9385 0.255583 15.1871C0.409261 15.4358 0.623951 15.6409 0.879257 15.7832C1.13456 15.9255 1.42201 16.0001 1.71428 16.0001H14.2857C14.578 16.0001 14.8654 15.9255 15.1207 15.7832C15.376 15.6409 15.5907 15.4358 15.7444 15.1871C15.8981 14.9385 15.9856 14.6548 15.9988 14.3628C16.0119 14.0708 15.9502 13.7803 15.8194 13.5189ZM7.14285 5.71434C7.14285 5.48701 7.23316 5.26899 7.3939 5.10824C7.55465 4.9475 7.77267 4.85719 8 4.85719C8.22732 4.85719 8.44534 4.9475 8.60609 5.10824C8.76683 5.26899 8.85714 5.48701 8.85714 5.71434V9.14291C8.85714 9.37024 8.76683 9.58825 8.60609 9.749C8.44534 9.90975 8.22732 10.0001 8 10.0001C7.77267 10.0001 7.55465 9.90975 7.3939 9.749C7.23316 9.58825 7.14285 9.37024 7.14285 9.14291V5.71434ZM8 13.7143C7.77396 13.7143 7.553 13.6473 7.36506 13.5217C7.17712 13.3962 7.03063 13.2177 6.94413 13.0088C6.85763 12.8 6.835 12.5702 6.8791 12.3485C6.92319 12.1268 7.03204 11.9232 7.19187 11.7634C7.3517 11.6035 7.55534 11.4947 7.77703 11.4506C7.99873 11.4065 8.22852 11.4291 8.43735 11.5156C8.64618 11.6021 8.82467 11.7486 8.95025 11.9365C9.07583 12.1245 9.14285 12.3454 9.14285 12.5715C9.14285 12.8746 9.02244 13.1653 8.80812 13.3796C8.59379 13.5939 8.3031 13.7143 8 13.7143Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_654_569">
          <rect width="16" height="16" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.97945 11.4673C7.63023 11.4673 7.3309 11.3176 7.13135 11.0682L2.19243 5.53062C1.8931 5.13152 1.94299 4.53286 2.34209 4.23353C2.74119 3.9342 3.28996 3.9342 3.58929 4.33331L7.87967 9.22234C7.92956 9.27223 7.97945 9.27223 8.07922 9.22234L12.3696 4.33331C12.7188 3.9342 13.2676 3.88432 13.6667 4.23353C14.0658 4.58275 14.1157 5.13152 13.7665 5.53062C13.7665 5.53062 13.7665 5.53062 13.7166 5.58051L8.82754 11.1181C8.62799 11.3176 8.27877 11.4673 7.97945 11.4673Z" fill="#1F2331"></path>
          </svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="#1F2331"></path>
          </svg>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="16" width="16"><g><path fill="currentColor" fill-rule="evenodd" d="M5.950982857142857 4.808125714285715c0.4463085714285714 -0.44631999999999994 0.4463085714285714 -1.1699314285714284 0 -1.6162514285714285 -0.44631999999999994 -0.4463085714285714 -1.1699314285714284 -0.4463085714285714 -1.6162514285714285 0l-3.9999965714285715 4c-0.4463132571428571 0.44631999999999994 -0.4463132571428571 1.1699314285714284 0 1.6162514285714285L4.334731428571428 12.808114285714286c0.44631999999999994 0.4462857142857143 1.1699314285714284 0.4462857142857143 1.6162514285714285 0 0.4463085714285714 -0.4462857142857143 0.4463085714285714 -1.1699428571428572 0 -1.61624L3.901954285714286 9.142857142857142H14.857142857142856c0.6312 0 1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428s-0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428H3.901954285714286l2.0490285714285714 -2.0490171428571426Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"  height="16" width="16"><g><path fill="currentColor" fill-rule="evenodd" d="M11.665257142857143 3.1918742857142854c-0.4463085714285714 -0.4463085714285714 -1.1699199999999998 -0.4463085714285714 -1.61624 0 -0.4463085714285714 0.44631999999999994 -0.4463085714285714 1.1699314285714284 0 1.6162514285714285L12.098057142857144 6.857142857142857H1.1428571428571428c-0.6311828571428572 0 -1.1428571428571428 0.51168 -1.1428571428571428 1.1428571428571428s0.5116742857142856 1.1428571428571428 1.1428571428571428 1.1428571428571428h10.9552L10.049017142857142 11.191874285714285c-0.4463085714285714 0.44629714285714284 -0.4463085714285714 1.1699542857142855 0 1.61624 0.44631999999999994 0.4462857142857143 1.1699314285714284 0.4462857142857143 1.61624 0l4 -3.9999885714285712c0.4462857142857143 -0.44631999999999994 0.4462857142857143 -1.1699314285714284 0 -1.6162514285714285l-4 -4Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
        </li>
        <li>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="#1F2331"></path>
          </svg>
        </li>
      </ul>
    </div>
  {% endcall %}

  <div class="-mt-sm mb-base">
    {{ componentButton({
      "html": "Más iconos Streamline Core Solid <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
      "href": "https://www.streamlinehq.com/icons/streamline-mini-bold",
      "classes": "c-button c-button--transparent c-button--sm",
      "target": "_blank",
      "attributes": {
        "title": "Se abre en ventana nueva"
      }
    }) }}
  </div>
  <div class="grid lg:grid-cols-2 gap-lg pb-xl">
    <div class="border border-neutral-base rounded p-lg flex items-center" role="img" aria-label="Previsualización de los iconos pequeños en distintas dimensiones.">
      <ul class="grid grid-cols-2 lg:grid-cols-4 w-full items-center gap-lg">
        <li class="grid justify-items-center">
          <svg width="10" height="10" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_454_114)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28572 1.71429C6.12793 1.71429 6.00001 1.84221 6.00001 2V3.14286H10V2C10 1.84221 9.87209 1.71429 9.71429 1.71429H6.28572ZM11.7143 3.14286V2C11.7143 0.895431 10.8189 0 9.71429 0H6.28572C5.18115 0 4.28572 0.895431 4.28572 2V3.14286H1.14286C0.669476 3.14286 0.285721 3.52662 0.285721 4C0.285721 4.47338 0.669476 4.85714 1.14286 4.85714H5.14286H10.8572H14.8572C15.3305 4.85714 15.7143 4.47338 15.7143 4C15.7143 3.52662 15.3305 3.14286 14.8572 3.14286H11.7143ZM2.85715 6.28571C2.69243 6.28571 2.53572 6.3568 2.42722 6.48073C2.31872 6.60466 2.26897 6.76939 2.29074 6.93266L3.4336 15.5041C3.47145 15.788 3.71361 16 4.00001 16H12C12.2864 16 12.5286 15.788 12.5664 15.5041L13.7093 6.93266C13.7311 6.76939 13.6813 6.60466 13.5728 6.48073C13.4642 6.3568 13.3076 6.28571 13.1429 6.28571H2.85715Z" fill="#1F2331"></path>
          </g></svg>
          <p class="text-sm mt-base"><code>10x10 px</code></p>
        </li>
        <li class="grid justify-items-center">
          <svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_454_114)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28572 1.71429C6.12793 1.71429 6.00001 1.84221 6.00001 2V3.14286H10V2C10 1.84221 9.87209 1.71429 9.71429 1.71429H6.28572ZM11.7143 3.14286V2C11.7143 0.895431 10.8189 0 9.71429 0H6.28572C5.18115 0 4.28572 0.895431 4.28572 2V3.14286H1.14286C0.669476 3.14286 0.285721 3.52662 0.285721 4C0.285721 4.47338 0.669476 4.85714 1.14286 4.85714H5.14286H10.8572H14.8572C15.3305 4.85714 15.7143 4.47338 15.7143 4C15.7143 3.52662 15.3305 3.14286 14.8572 3.14286H11.7143ZM2.85715 6.28571C2.69243 6.28571 2.53572 6.3568 2.42722 6.48073C2.31872 6.60466 2.26897 6.76939 2.29074 6.93266L3.4336 15.5041C3.47145 15.788 3.71361 16 4.00001 16H12C12.2864 16 12.5286 15.788 12.5664 15.5041L13.7093 6.93266C13.7311 6.76939 13.6813 6.60466 13.5728 6.48073C13.4642 6.3568 13.3076 6.28571 13.1429 6.28571H2.85715Z" fill="#1F2331"></path>
          </g></svg>
          <p class="text-sm mt-base"><code>14x14 px</code></p>
        </li>
        <li class="grid justify-items-center">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_454_114)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28572 1.71429C6.12793 1.71429 6.00001 1.84221 6.00001 2V3.14286H10V2C10 1.84221 9.87209 1.71429 9.71429 1.71429H6.28572ZM11.7143 3.14286V2C11.7143 0.895431 10.8189 0 9.71429 0H6.28572C5.18115 0 4.28572 0.895431 4.28572 2V3.14286H1.14286C0.669476 3.14286 0.285721 3.52662 0.285721 4C0.285721 4.47338 0.669476 4.85714 1.14286 4.85714H5.14286H10.8572H14.8572C15.3305 4.85714 15.7143 4.47338 15.7143 4C15.7143 3.52662 15.3305 3.14286 14.8572 3.14286H11.7143ZM2.85715 6.28571C2.69243 6.28571 2.53572 6.3568 2.42722 6.48073C2.31872 6.60466 2.26897 6.76939 2.29074 6.93266L3.4336 15.5041C3.47145 15.788 3.71361 16 4.00001 16H12C12.2864 16 12.5286 15.788 12.5664 15.5041L13.7093 6.93266C13.7311 6.76939 13.6813 6.60466 13.5728 6.48073C13.4642 6.3568 13.3076 6.28571 13.1429 6.28571H2.85715Z" fill="#1F2331"></path>
          </g></svg>
          <p class="text-sm mt-base"><code>16x16 px</code></p>

        </li>
        <li class="grid justify-items-center">
          <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_454_114)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28572 1.71429C6.12793 1.71429 6.00001 1.84221 6.00001 2V3.14286H10V2C10 1.84221 9.87209 1.71429 9.71429 1.71429H6.28572ZM11.7143 3.14286V2C11.7143 0.895431 10.8189 0 9.71429 0H6.28572C5.18115 0 4.28572 0.895431 4.28572 2V3.14286H1.14286C0.669476 3.14286 0.285721 3.52662 0.285721 4C0.285721 4.47338 0.669476 4.85714 1.14286 4.85714H5.14286H10.8572H14.8572C15.3305 4.85714 15.7143 4.47338 15.7143 4C15.7143 3.52662 15.3305 3.14286 14.8572 3.14286H11.7143ZM2.85715 6.28571C2.69243 6.28571 2.53572 6.3568 2.42722 6.48073C2.31872 6.60466 2.26897 6.76939 2.29074 6.93266L3.4336 15.5041C3.47145 15.788 3.71361 16 4.00001 16H12C12.2864 16 12.5286 15.788 12.5664 15.5041L13.7093 6.93266C13.7311 6.76939 13.6813 6.60466 13.5728 6.48073C13.4642 6.3568 13.3076 6.28571 13.1429 6.28571H2.85715Z" fill="#1F2331"></path>
          </g></svg>
          <p class="text-sm mt-base"><code>24x24 px</code></p>
        </li>
      </ul>
    </div>
    <div>
      {{ componentTable({
        "caption": "Usos de los iconos grandes según sus dimensiones",
        "captionClasses": "sr-only mb-base font-bold text-left text-lg",

        "rows": [
          [
            {
              "html": '<code>10x10 px</code>',
              "classes": "w-1/4"
            },
            {
              "text": "Accionables del árbol",
              "classes": "text-left"
            }
          ],
          [
            {
              "html": '<code>14x14 px</code>'
            },
            {
              "text": "Botones de tamaño pequeño",
              "classes": "text-left"
            }
          ],
          [
            {
              "html": '<code>16x16 px</code>'
            },
            {
              "text": "Accionables en general y apoyo a etiquetas de texto base",
              "classes": "text-left"
            }
          ],
          [
            {
              "html": '<code>24x24 px</code>'
            },
            {
              "text": "",
              "classes": "text-left"
            }
          ]
        ],
        "classes": "w-full"
      }) }}
    </div>
  </div>
 


  {{ DSSectionTitle({
    title: "Como apoyo visual"
  }) }}
  <p class="c-paragraph-base">Tamaños mayores a 24px.</p>
  {% call componentExample()  %}
    <div>
      <ul class="flex flex-row flex-wrap gap-base">
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6220)">
          <path d="M20.4267 2.86667L26.4667 8.90667C26.5841 9.01906 26.6554 9.17118 26.6667 9.33333V28.6667C26.6667 28.8435 26.5965 29.013 26.4714 29.1381C26.3464 29.2631 26.1768 29.3333 26 29.3333H6.00002C5.82321 29.3333 5.65364 29.2631 5.52862 29.1381C5.40359 29.013 5.33335 28.8435 5.33335 28.6667V3.33333C5.33335 3.15652 5.40359 2.98695 5.52862 2.86193C5.65364 2.7369 5.82321 2.66667 6.00002 2.66667H20C20.1622 2.67794 20.3143 2.74925 20.4267 2.86667ZM20.7867 0H5.33335C4.62611 0 3.94783 0.280952 3.44774 0.781049C2.94764 1.28115 2.66669 1.95942 2.66669 2.66667V29.3333C2.66669 30.0406 2.94764 30.7189 3.44774 31.219C3.94783 31.719 4.62611 32 5.33335 32H26.6667C27.3739 32 28.0522 31.719 28.5523 31.219C29.0524 30.7189 29.3334 30.0406 29.3334 29.3333V8.54667C29.3319 8.19688 29.193 7.86168 28.9467 7.61333L21.72 0.386667C21.4717 0.140341 21.1365 0.00147283 20.7867 0Z" fill="#1F2331"></path>
          <path d="M21.3334 14.6667H9.33335C8.97973 14.6667 8.64059 14.5262 8.39055 14.2761C8.1405 14.0261 8.00002 13.687 8.00002 13.3333C8.00002 12.9797 8.1405 12.6406 8.39055 12.3905C8.64059 12.1405 8.97973 12 9.33335 12H21.3334C21.687 12 22.0261 12.1405 22.2762 12.3905C22.5262 12.6406 22.6667 12.9797 22.6667 13.3333C22.6667 13.687 22.5262 14.0261 22.2762 14.2761C22.0261 14.5262 21.687 14.6667 21.3334 14.6667Z" fill="#1F2331"></path>
          <path d="M21.3334 20H9.33335C8.97973 20 8.64059 19.8595 8.39055 19.6095C8.1405 19.3594 8.00002 19.0203 8.00002 18.6667C8.00002 18.313 8.1405 17.9739 8.39055 17.7239C8.64059 17.4738 8.97973 17.3333 9.33335 17.3333H21.3334C21.687 17.3333 22.0261 17.4738 22.2762 17.7239C22.5262 17.9739 22.6667 18.313 22.6667 18.6667C22.6667 19.0203 22.5262 19.3594 22.2762 19.6095C22.0261 19.8595 21.687 20 21.3334 20Z" fill="#1F2331"></path>
          <path d="M15.3334 25.3333H9.33335C8.97973 25.3333 8.64059 25.1929 8.39055 24.9428C8.1405 24.6928 8.00002 24.3536 8.00002 24C8.00002 23.6464 8.1405 23.3072 8.39055 23.0572C8.64059 22.8071 8.97973 22.6667 9.33335 22.6667H15.3334C15.687 22.6667 16.0261 22.8071 16.2762 23.0572C16.5262 23.3072 16.6667 23.6464 16.6667 24C16.6667 24.3536 16.5262 24.6928 16.2762 24.9428C16.0261 25.1929 15.687 25.3333 15.3334 25.3333Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_313_6220">
          <rect width="32" height="32" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6241)">
          <path d="M32 8.4C31.9831 7.71576 31.7037 7.06421 31.2198 6.58024C30.7358 6.09626 30.0842 5.8169 29.4 5.8H16C15.8754 5.79873 15.7535 5.76323 15.6477 5.69739C15.5419 5.63155 15.4562 5.5379 15.4 5.42667L14.4133 3.44C14.1912 3.0112 13.8569 2.65075 13.4459 2.39714C13.035 2.14352 12.5629 2.00626 12.08 2H2.66667C1.97082 1.99978 1.30246 2.27156 0.804233 2.75733C0.306009 3.2431 0.0173961 3.90437 0 4.6L0 27.4C0.0173961 28.0956 0.306009 28.7569 0.804233 29.2427C1.30246 29.7284 1.97082 30.0002 2.66667 30H29.4667C30.1392 29.9665 30.7741 29.6799 31.244 29.1976C31.7139 28.7153 31.984 28.0732 32 27.4V8.4ZM29.4 26.6667C29.4 26.8435 29.3298 27.013 29.2047 27.1381C29.0797 27.2631 28.9101 27.3333 28.7333 27.3333L3.4 27.4C3.22319 27.4 3.05362 27.3298 2.9286 27.2047C2.80357 27.0797 2.73333 26.9101 2.73333 26.7333L2.66667 5.33333C2.66667 5.15652 2.7369 4.98695 2.86193 4.86193C2.98695 4.7369 3.15652 4.66667 3.33333 4.66667H11.68C11.803 4.66735 11.9233 4.70275 12.0271 4.7688C12.1309 4.83484 12.2139 4.92885 12.2667 5.04L13.2933 7.06667C13.506 7.50018 13.8363 7.86511 14.2466 8.11976C14.6568 8.3744 15.1305 8.50848 15.6133 8.50667H28.7333C28.9101 8.50667 29.0797 8.57691 29.2047 8.70193C29.3298 8.82695 29.4 8.99652 29.4 9.17333V26.6667Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_313_6241">
          <rect width="32" height="32" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6244)">
          <path d="M31.28 0.319881C31.0706 0.152262 30.8181 0.0470884 30.5516 0.0164293C30.2851 -0.0142298 30.0154 0.0308681 29.7733 0.146548L1.69332 14.7999C1.28825 15.0202 0.947247 15.3419 0.703599 15.7334C0.459951 16.1249 0.321989 16.5729 0.303183 17.0336C0.284377 17.4944 0.38537 17.9521 0.596302 18.3622C0.807233 18.7722 1.12089 19.1206 1.50666 19.3732L9.42666 24.3599V29.8532C9.43216 30.2447 9.55242 30.6259 9.77254 30.9496C9.99266 31.2734 10.303 31.5254 10.665 31.6745C11.027 31.8235 11.4248 31.8631 11.809 31.7882C12.1933 31.7133 12.5471 31.5273 12.8267 31.2532L15.7467 28.3332L20.92 31.5865C21.2752 31.808 21.6776 31.9427 22.0945 31.9797C22.5115 32.0168 22.9313 31.9552 23.32 31.7999C23.7073 31.6404 24.0515 31.3919 24.3249 31.0745C24.5982 30.7571 24.793 30.3799 24.8933 29.9732L31.6933 1.63988C31.7371 1.40283 31.7224 1.15867 31.6504 0.928623C31.5783 0.698575 31.4512 0.489605 31.28 0.319881ZM23.0667 6.66655C23.1351 6.62903 23.2149 6.61781 23.291 6.635C23.3671 6.65219 23.4343 6.6966 23.48 6.75988C23.5325 6.81855 23.5615 6.8945 23.5615 6.97321C23.5615 7.05193 23.5325 7.12788 23.48 7.18655L10.6667 21.6799C10.608 21.7324 10.532 21.7614 10.4533 21.7614C10.3746 21.7614 10.2987 21.7324 10.24 21.6799L3.45332 17.4532C3.40469 17.4221 3.36538 17.3784 3.33956 17.3268C3.31374 17.2751 3.30237 17.2175 3.30666 17.1599C3.30785 17.1002 3.32443 17.0418 3.3548 16.9904C3.38517 16.9391 3.42829 16.8964 3.47999 16.8665L23.0667 6.66655ZM12.0933 28.2132V26.0399L13.4267 26.8799L12.0933 28.2132ZM22.4533 28.8799C22.4393 28.9303 22.414 28.9769 22.3793 29.0162C22.3447 29.0554 22.3016 29.0863 22.2533 29.1065C22.2056 29.1301 22.1532 29.1423 22.1 29.1423C22.0468 29.1423 21.9944 29.1301 21.9467 29.1065L13.1333 23.5332C13.089 23.5094 13.0512 23.4751 13.0233 23.4332C12.9954 23.3913 12.9783 23.3433 12.9733 23.2932C12.9666 23.2456 12.9703 23.1972 12.9842 23.1511C12.998 23.1051 13.0216 23.0626 13.0533 23.0265L26.9733 7.23988C27.0203 7.18209 27.0859 7.14249 27.1589 7.12788C27.2319 7.11328 27.3078 7.1246 27.3733 7.15988C27.4383 7.19543 27.4902 7.25085 27.5214 7.31804C27.5526 7.38522 27.5614 7.46063 27.5467 7.53321L22.4533 28.8799Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_313_6244">
          <rect width="32" height="32" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6239)">
          <path d="M22 11.9999H9.99998C9.73476 11.9999 9.48041 12.1053 9.29287 12.2928C9.10534 12.4803 8.99998 12.7347 8.99998 12.9999C8.99998 13.2651 9.10534 13.5195 9.29287 13.707C9.48041 13.8945 9.73476 13.9999 9.99998 13.9999H22C22.2652 13.9999 22.5196 13.8945 22.7071 13.707C22.8946 13.5195 23 13.2651 23 12.9999C23 12.7347 22.8946 12.4803 22.7071 12.2928C22.5196 12.1053 22.2652 11.9999 22 11.9999Z" fill="#1F2331"></path>
          <path d="M23 17.6666C22.9965 17.4024 22.8901 17.1501 22.7033 16.9633C22.5165 16.7765 22.2641 16.67 22 16.6666H9.99998C9.73476 16.6666 9.48041 16.7719 9.29287 16.9595C9.10534 17.147 8.99998 17.4013 8.99998 17.6666C8.99998 17.9318 9.10534 18.1861 9.29287 18.3737C9.48041 18.5612 9.73476 18.6666 9.99998 18.6666H22C22.2641 18.6631 22.5165 18.5566 22.7033 18.3698C22.8901 18.1831 22.9965 17.9307 23 17.6666Z" fill="#1F2331"></path>
          <path d="M13.3333 8.66656H18.6666C19.0203 8.66656 19.3594 8.52609 19.6095 8.27604C19.8595 8.02599 20 7.68685 20 7.33323V3.99989C19.999 3.38566 19.8565 2.7799 19.5837 2.22959C19.3109 1.67928 18.9149 1.1992 18.4266 0.826561C17.8262 0.367841 17.1081 0.0885779 16.3555 0.0211071C15.6029 -0.0463637 14.8466 0.100718 14.1741 0.445321C13.5017 0.789924 12.9405 1.31795 12.5558 1.96827C12.171 2.61859 11.9783 3.36459 12 4.11989V7.33323C12 7.68685 12.1405 8.02599 12.3905 8.27604C12.6406 8.52609 12.9797 8.66656 13.3333 8.66656ZM15 3.66656C15 3.46878 15.0586 3.27544 15.1685 3.11099C15.2784 2.94654 15.4346 2.81837 15.6173 2.74268C15.8 2.66699 16.0011 2.64719 16.1951 2.68578C16.3891 2.72436 16.5672 2.8196 16.7071 2.95945C16.8469 3.09931 16.9422 3.27749 16.9808 3.47147C17.0194 3.66545 16.9995 3.86652 16.9239 4.04924C16.8482 4.23197 16.72 4.38815 16.5556 4.49803C16.3911 4.60791 16.1978 4.66656 16 4.66656C15.7358 4.66311 15.4835 4.55664 15.2967 4.36985C15.1099 4.18306 15.0034 3.9307 15 3.66656Z" fill="#1F2331"></path>
          <path d="M26 3.99989H22.3333C22.2449 3.99989 22.1601 4.03501 22.0976 4.09753C22.0351 4.16004 22 4.24482 22 4.33323V6.33323C22 6.42163 22.0351 6.50642 22.0976 6.56893C22.1601 6.63144 22.2449 6.66656 22.3333 6.66656H25.3333C25.5101 6.66656 25.6797 6.7368 25.8047 6.86182C25.9297 6.98685 26 7.15642 26 7.33323V24.3866C25.9995 24.5667 25.9276 24.7394 25.8 24.8666L21.5333 29.1332C21.4713 29.1976 21.3966 29.2486 21.3141 29.283C21.2315 29.3174 21.1428 29.3345 21.0533 29.3332H6.66665C6.48984 29.3332 6.32027 29.263 6.19524 29.138C6.07022 29.0129 5.99998 28.8434 5.99998 28.6666V7.33323C5.99998 7.15642 6.07022 6.98685 6.19524 6.86182C6.32027 6.7368 6.48984 6.66656 6.66665 6.66656H9.66665C9.75505 6.66656 9.83984 6.63144 9.90235 6.56893C9.96486 6.50642 9.99998 6.42163 9.99998 6.33323V4.33323C9.99998 4.24482 9.96486 4.16004 9.90235 4.09753C9.83984 4.03501 9.75505 3.99989 9.66665 3.99989H5.99998C5.29274 3.99989 4.61446 4.28085 4.11436 4.78094C3.61426 5.28104 3.33331 5.95932 3.33331 6.66656V29.3332C3.33331 30.0405 3.61426 30.7187 4.11436 31.2188C4.61446 31.7189 5.29274 31.9999 5.99998 31.9999H26C26.7072 31.9999 27.3855 31.7189 27.8856 31.2188C28.3857 30.7187 28.6666 30.0405 28.6666 29.3332V6.66656C28.6666 5.95932 28.3857 5.28104 27.8856 4.78094C27.3855 4.28085 26.7072 3.99989 26 3.99989Z" fill="#1F2331"></path>
          <path d="M9.99998 21.3332C9.73476 21.3332 9.48041 21.4386 9.29287 21.6261C9.10534 21.8137 8.99998 22.068 8.99998 22.3332C8.99998 22.5984 9.10534 22.8528 9.29287 23.0403C9.48041 23.2279 9.73476 23.3332 9.99998 23.3332H15C15.2652 23.3332 15.5196 23.2279 15.7071 23.0403C15.8946 22.8528 16 22.5984 16 22.3332C16 22.068 15.8946 21.8137 15.7071 21.6261C15.5196 21.4386 15.2652 21.3332 15 21.3332H9.99998Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_313_6239">
          <rect width="32" height="32" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6240)">
          <path d="M25.3333 9.33327H19.0533C18.9649 9.33327 18.8801 9.36839 18.8176 9.4309C18.7551 9.49342 18.72 9.5782 18.72 9.66661V11.9999H24.6667C24.8435 11.9999 25.013 12.0702 25.1381 12.1952C25.2631 12.3202 25.3333 12.4898 25.3333 12.6666V21.3333C25.3302 21.4789 25.3031 21.623 25.2533 21.7599C25.2331 21.8292 25.191 21.89 25.1333 21.9333C25.0756 21.9765 25.0055 21.9999 24.9333 21.9999H20.3867C19.7678 21.9999 19.1743 22.2458 18.7368 22.6834C18.2992 23.1209 18.0533 23.7144 18.0533 24.3333V28.9199C18.0533 28.9921 18.0299 29.0622 17.9867 29.1199C17.9434 29.1776 17.8826 29.2197 17.8133 29.2399C17.6584 29.2929 17.4969 29.3243 17.3333 29.3333H7.33333C7.15652 29.3333 6.98695 29.263 6.86193 29.138C6.7369 29.013 6.66667 28.8434 6.66667 28.6666V12.6666C6.67008 12.4909 6.74141 12.3233 6.86571 12.199C6.99 12.0747 7.15759 12.0034 7.33333 11.9999H11.72C11.7707 12.0059 11.822 12.0007 11.8704 11.9846C11.9188 11.9684 11.9631 11.9418 12 11.9066C12.0298 11.8294 12.0298 11.7438 12 11.6666V9.66661C12.001 9.58671 11.9733 9.5091 11.9219 9.44792C11.8705 9.38674 11.7989 9.34605 11.72 9.33327H6.66667C5.95942 9.33327 5.28115 9.61422 4.78105 10.1143C4.28095 10.6144 4 11.2927 4 11.9999V29.3333C4 30.0405 4.28095 30.7188 4.78105 31.2189C5.28115 31.719 5.95942 31.9999 6.66667 31.9999H17.3333C18.53 31.9568 19.671 31.4834 20.5467 30.6666L26.6667 24.5466C27.4835 23.6709 27.9569 22.53 28 21.3333V11.9999C28 11.2927 27.719 10.6144 27.219 10.1143C26.7189 9.61422 26.0406 9.33327 25.3333 9.33327ZM20.6133 26.8266C20.5701 26.8772 20.5116 26.9123 20.4467 26.9268C20.3818 26.9412 20.3139 26.9341 20.2533 26.9066C20.1931 26.8939 20.1375 26.8648 20.0928 26.8224C20.048 26.78 20.0159 26.7261 20 26.6666V24.3999C20 24.3115 20.0351 24.2267 20.0976 24.1642C20.1601 24.1017 20.2449 24.0666 20.3333 24.0666H22.6667C22.7317 24.0664 22.7954 24.0852 22.8499 24.1207C22.9044 24.1563 22.9473 24.207 22.9733 24.2666C22.9997 24.3286 23.0074 24.3969 22.9956 24.4632C22.9837 24.5295 22.9528 24.5909 22.9067 24.6399L20.6133 26.8266Z" fill="#1F2331"></path>
          <path d="M8.72 17.9999C8.72 18.2652 8.82536 18.5195 9.01289 18.707C9.20043 18.8946 9.45478 18.9999 9.72 18.9999H22.3867C22.6519 18.9999 22.9062 18.8946 23.0938 18.707C23.2813 18.5195 23.3867 18.2652 23.3867 17.9999C23.3867 17.7347 23.2813 17.4804 23.0938 17.2928C22.9062 17.1053 22.6519 16.9999 22.3867 16.9999H9.72C9.45478 16.9999 9.20043 17.1053 9.01289 17.2928C8.82536 17.4804 8.72 17.7347 8.72 17.9999Z" fill="#1F2331"></path>
          <path d="M13.72 22.9999H9.72C9.45478 22.9999 9.20043 23.1053 9.01289 23.2928C8.82536 23.4804 8.72 23.7347 8.72 23.9999C8.72 24.2652 8.82536 24.5195 9.01289 24.707C9.20043 24.8946 9.45478 24.9999 9.72 24.9999H13.72C13.9852 24.9999 14.2396 24.8946 14.4271 24.707C14.6146 24.5195 14.72 24.2652 14.72 23.9999C14.72 23.7347 14.6146 23.4804 14.4271 23.2928C14.2396 23.1053 13.9852 22.9999 13.72 22.9999Z" fill="#1F2331"></path>
          <path d="M13.84 7.69327C13.9011 7.71868 13.9537 7.76107 13.9915 7.81541C14.0293 7.86976 14.0508 7.93379 14.0533 7.99994V11.9999C14.0533 12.3536 14.1938 12.6927 14.4439 12.9427C14.6939 13.1928 15.033 13.3333 15.3867 13.3333C15.7403 13.3333 16.0794 13.1928 16.3295 12.9427C16.5795 12.6927 16.72 12.3536 16.72 11.9999V7.99994C16.7198 7.93488 16.7386 7.87118 16.7741 7.81669C16.8097 7.7622 16.8604 7.7193 16.92 7.69327C17.6501 7.39026 18.274 6.87774 18.713 6.2204C19.152 5.56307 19.3864 4.7904 19.3867 3.99994C19.3859 3.27651 19.1889 2.56684 18.8167 1.94649C18.4445 1.32614 17.911 0.818348 17.2731 0.47717C16.6352 0.135991 15.9167 -0.0257965 15.1941 0.00903426C14.4715 0.043865 13.7719 0.27401 13.1697 0.674963C12.5676 1.07592 12.0854 1.63267 11.7746 2.28594C11.4638 2.9392 11.336 3.66453 11.4048 4.38469C11.4736 5.10484 11.7364 5.79286 12.1652 6.37549C12.594 6.95812 13.1728 7.41355 13.84 7.69327Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_313_6240">
          <rect width="32" height="32" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6238)">
          <path d="M16 0C12.8355 0 9.74207 0.938384 7.11088 2.69649C4.4797 4.45459 2.42894 6.95345 1.21793 9.87707C0.00693258 12.8007 -0.309921 16.0177 0.307443 19.1214C0.924806 22.2251 2.44866 25.0761 4.6863 27.3137C6.92394 29.5514 9.77487 31.0752 12.8786 31.6926C15.9823 32.3099 19.1993 31.9931 22.1229 30.7821C25.0466 29.5711 27.5454 27.5203 29.3035 24.8891C31.0616 22.2579 32 19.1645 32 16C32 11.7565 30.3143 7.68687 27.3137 4.68629C24.3131 1.68571 20.2435 0 16 0V0ZM25.24 10.9333L16.1067 23.32C16.0004 23.4648 15.8659 23.5867 15.7114 23.6783C15.5569 23.7698 15.3854 23.8293 15.2073 23.8529C15.0292 23.8766 14.8482 23.864 14.6751 23.816C14.502 23.7679 14.3404 23.6854 14.2 23.5733L7.68001 18.36C7.54304 18.25 7.42917 18.114 7.34493 17.9598C7.2607 17.8056 7.20777 17.6363 7.18919 17.4616C7.1706 17.2869 7.18673 17.1102 7.23663 16.9418C7.28654 16.7733 7.36925 16.6164 7.48001 16.48C7.70156 16.2111 8.01955 16.0397 8.36592 16.0023C8.71229 15.9649 9.05953 16.0646 9.33334 16.28L14.7733 20.6267L23.0933 9.33333C23.3033 9.05219 23.6156 8.86514 23.9625 8.81272C24.3094 8.76031 24.6631 8.84676 24.9467 9.05333C25.0907 9.15648 25.2127 9.28728 25.3056 9.43811C25.3985 9.58894 25.4604 9.75677 25.4877 9.9318C25.515 10.1068 25.5072 10.2855 25.4647 10.4575C25.4221 10.6295 25.3458 10.7912 25.24 10.9333Z" fill="#1F2331"></path>
          </g>
          <defs>
          <clipPath id="clip0_313_6238">
          <rect width="32" height="32" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
        </li>
        <li>
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.0667 22.5867C29.6375 22.5867 29.2258 22.7562 28.9211 23.0584C28.6164 23.3606 28.4435 23.7709 28.44 24.2V26.6667C28.44 27.2219 28.2195 27.7543 27.8269 28.1469C27.4343 28.5395 26.9019 28.76 26.3467 28.76H5.33333C4.77815 28.76 4.2457 28.5395 3.85312 28.1469C3.46055 27.7543 3.24 27.2219 3.24 26.6667V24.2C3.20328 23.7957 3.01673 23.4198 2.71698 23.146C2.41723 22.8722 2.02595 22.7205 1.62 22.7205C1.21405 22.7205 0.82277 22.8722 0.52302 23.146C0.223271 23.4198 0.0367153 23.7957 0 24.2V26.6667C0 28.0812 0.561903 29.4377 1.5621 30.4379C2.56229 31.4381 3.91885 32 5.33333 32H26.3467C27.7612 32 29.1177 31.4381 30.1179 30.4379C31.1181 29.4377 31.68 28.0812 31.68 26.6667V24.2C31.68 23.7721 31.51 23.3618 31.2075 23.0592C30.9049 22.7566 30.4945 22.5867 30.0667 22.5867Z" fill="#1F2331"></path>
          <path d="M15.84 0C15.154 0 14.496 0.272523 14.011 0.757617C13.5259 1.24271 13.2533 1.90064 13.2533 2.58667V14.6667C13.2533 14.7551 13.2182 14.8399 13.1557 14.9024C13.0932 14.9649 13.0084 15 12.92 15H9.37333C9.13368 15.0164 8.9029 15.0972 8.7054 15.234C8.50789 15.3707 8.351 15.5582 8.25129 15.7768C8.15158 15.9953 8.11276 16.2367 8.13894 16.4755C8.16511 16.7143 8.25531 16.9416 8.4 17.1333L14.8667 24.5733C14.9914 24.7065 15.1421 24.8127 15.3095 24.8853C15.477 24.9579 15.6575 24.9954 15.84 24.9954C16.0225 24.9954 16.203 24.9579 16.3705 24.8853C16.5379 24.8127 16.6886 24.7065 16.8133 24.5733L23.28 17.1333C23.4247 16.9416 23.5149 16.7143 23.5411 16.4755C23.5672 16.2367 23.5284 15.9953 23.4287 15.7768C23.329 15.5582 23.1721 15.3707 22.9746 15.234C22.7771 15.0972 22.5463 15.0164 22.3067 15H18.76C18.6716 15 18.5868 14.9649 18.5243 14.9024C18.4618 14.8399 18.4267 14.7551 18.4267 14.6667V2.58667C18.4267 1.90064 18.1541 1.24271 17.6691 0.757617C17.184 0.272523 16.526 0 15.84 0Z" fill="#1F2331"></path>
          </svg>
        </li>
      </ul>
    </div>
  {% endcall %}
  <div class="-mt-sm mb-base">
    {{ componentButton({
      "html": "Más iconos Streamline Ultimate Bold <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
      "href": "https://www.streamlinehq.com/icons/streamline-bold",
      "classes": "c-button c-button--transparent c-button--sm",
      "target": "_blank",
      "attributes": {
        "title": "Se abre en ventana nueva"
      }
    }) }}
  </div>
  <div class="grid lg:grid-cols-2 gap-lg pb-xl">
    <div class="border border-neutral-base rounded p-lg flex items-center" role="img" aria-label="Previsualización de los iconos grandes en distintas dimensiones.">
      <ul class="grid lg:grid-cols-3 w-full items-center gap-lg">
        <li class="grid justify-items-center">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6220)">
          <path d="M20.4267 2.86667L26.4667 8.90667C26.5841 9.01906 26.6554 9.17118 26.6667 9.33333V28.6667C26.6667 28.8435 26.5965 29.013 26.4714 29.1381C26.3464 29.2631 26.1768 29.3333 26 29.3333H6.00002C5.82321 29.3333 5.65364 29.2631 5.52862 29.1381C5.40359 29.013 5.33335 28.8435 5.33335 28.6667V3.33333C5.33335 3.15652 5.40359 2.98695 5.52862 2.86193C5.65364 2.7369 5.82321 2.66667 6.00002 2.66667H20C20.1622 2.67794 20.3143 2.74925 20.4267 2.86667ZM20.7867 0H5.33335C4.62611 0 3.94783 0.280952 3.44774 0.781049C2.94764 1.28115 2.66669 1.95942 2.66669 2.66667V29.3333C2.66669 30.0406 2.94764 30.7189 3.44774 31.219C3.94783 31.719 4.62611 32 5.33335 32H26.6667C27.3739 32 28.0522 31.719 28.5523 31.219C29.0524 30.7189 29.3334 30.0406 29.3334 29.3333V8.54667C29.3319 8.19688 29.193 7.86168 28.9467 7.61333L21.72 0.386667C21.4717 0.140341 21.1365 0.00147283 20.7867 0Z" fill="#1F2331"></path>
          <path d="M21.3334 14.6667H9.33335C8.97973 14.6667 8.64059 14.5262 8.39055 14.2761C8.1405 14.0261 8.00002 13.687 8.00002 13.3333C8.00002 12.9797 8.1405 12.6406 8.39055 12.3905C8.64059 12.1405 8.97973 12 9.33335 12H21.3334C21.687 12 22.0261 12.1405 22.2762 12.3905C22.5262 12.6406 22.6667 12.9797 22.6667 13.3333C22.6667 13.687 22.5262 14.0261 22.2762 14.2761C22.0261 14.5262 21.687 14.6667 21.3334 14.6667Z" fill="#1F2331"></path>
          <path d="M21.3334 20H9.33335C8.97973 20 8.64059 19.8595 8.39055 19.6095C8.1405 19.3594 8.00002 19.0203 8.00002 18.6667C8.00002 18.313 8.1405 17.9739 8.39055 17.7239C8.64059 17.4738 8.97973 17.3333 9.33335 17.3333H21.3334C21.687 17.3333 22.0261 17.4738 22.2762 17.7239C22.5262 17.9739 22.6667 18.313 22.6667 18.6667C22.6667 19.0203 22.5262 19.3594 22.2762 19.6095C22.0261 19.8595 21.687 20 21.3334 20Z" fill="#1F2331"></path>
          <path d="M15.3334 25.3333H9.33335C8.97973 25.3333 8.64059 25.1929 8.39055 24.9428C8.1405 24.6928 8.00002 24.3536 8.00002 24C8.00002 23.6464 8.1405 23.3072 8.39055 23.0572C8.64059 22.8071 8.97973 22.6667 9.33335 22.6667H15.3334C15.687 22.6667 16.0261 22.8071 16.2762 23.0572C16.5262 23.3072 16.6667 23.6464 16.6667 24C16.6667 24.3536 16.5262 24.6928 16.2762 24.9428C16.0261 25.1929 15.687 25.3333 15.3334 25.3333Z" fill="#1F2331"></path>
          </g>
          </svg>
          <p class="text-sm mt-base"><code>32x32 px</code></p>
        </li>
        <li class="grid justify-items-center">
          <svg width="36" height="36" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6220)">
          <path d="M20.4267 2.86667L26.4667 8.90667C26.5841 9.01906 26.6554 9.17118 26.6667 9.33333V28.6667C26.6667 28.8435 26.5965 29.013 26.4714 29.1381C26.3464 29.2631 26.1768 29.3333 26 29.3333H6.00002C5.82321 29.3333 5.65364 29.2631 5.52862 29.1381C5.40359 29.013 5.33335 28.8435 5.33335 28.6667V3.33333C5.33335 3.15652 5.40359 2.98695 5.52862 2.86193C5.65364 2.7369 5.82321 2.66667 6.00002 2.66667H20C20.1622 2.67794 20.3143 2.74925 20.4267 2.86667ZM20.7867 0H5.33335C4.62611 0 3.94783 0.280952 3.44774 0.781049C2.94764 1.28115 2.66669 1.95942 2.66669 2.66667V29.3333C2.66669 30.0406 2.94764 30.7189 3.44774 31.219C3.94783 31.719 4.62611 32 5.33335 32H26.6667C27.3739 32 28.0522 31.719 28.5523 31.219C29.0524 30.7189 29.3334 30.0406 29.3334 29.3333V8.54667C29.3319 8.19688 29.193 7.86168 28.9467 7.61333L21.72 0.386667C21.4717 0.140341 21.1365 0.00147283 20.7867 0Z" fill="#1F2331"></path>
          <path d="M21.3334 14.6667H9.33335C8.97973 14.6667 8.64059 14.5262 8.39055 14.2761C8.1405 14.0261 8.00002 13.687 8.00002 13.3333C8.00002 12.9797 8.1405 12.6406 8.39055 12.3905C8.64059 12.1405 8.97973 12 9.33335 12H21.3334C21.687 12 22.0261 12.1405 22.2762 12.3905C22.5262 12.6406 22.6667 12.9797 22.6667 13.3333C22.6667 13.687 22.5262 14.0261 22.2762 14.2761C22.0261 14.5262 21.687 14.6667 21.3334 14.6667Z" fill="#1F2331"></path>
          <path d="M21.3334 20H9.33335C8.97973 20 8.64059 19.8595 8.39055 19.6095C8.1405 19.3594 8.00002 19.0203 8.00002 18.6667C8.00002 18.313 8.1405 17.9739 8.39055 17.7239C8.64059 17.4738 8.97973 17.3333 9.33335 17.3333H21.3334C21.687 17.3333 22.0261 17.4738 22.2762 17.7239C22.5262 17.9739 22.6667 18.313 22.6667 18.6667C22.6667 19.0203 22.5262 19.3594 22.2762 19.6095C22.0261 19.8595 21.687 20 21.3334 20Z" fill="#1F2331"></path>
          <path d="M15.3334 25.3333H9.33335C8.97973 25.3333 8.64059 25.1929 8.39055 24.9428C8.1405 24.6928 8.00002 24.3536 8.00002 24C8.00002 23.6464 8.1405 23.3072 8.39055 23.0572C8.64059 22.8071 8.97973 22.6667 9.33335 22.6667H15.3334C15.687 22.6667 16.0261 22.8071 16.2762 23.0572C16.5262 23.3072 16.6667 23.6464 16.6667 24C16.6667 24.3536 16.5262 24.6928 16.2762 24.9428C16.0261 25.1929 15.687 25.3333 15.3334 25.3333Z" fill="#1F2331"></path>
          </g>
          </svg>
          <p class="text-sm mt-base"><code>36x36 px</code></p>
        </li>
        <li class="grid justify-items-center">
          <svg width="64" height="64" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_313_6220)">
          <path d="M20.4267 2.86667L26.4667 8.90667C26.5841 9.01906 26.6554 9.17118 26.6667 9.33333V28.6667C26.6667 28.8435 26.5965 29.013 26.4714 29.1381C26.3464 29.2631 26.1768 29.3333 26 29.3333H6.00002C5.82321 29.3333 5.65364 29.2631 5.52862 29.1381C5.40359 29.013 5.33335 28.8435 5.33335 28.6667V3.33333C5.33335 3.15652 5.40359 2.98695 5.52862 2.86193C5.65364 2.7369 5.82321 2.66667 6.00002 2.66667H20C20.1622 2.67794 20.3143 2.74925 20.4267 2.86667ZM20.7867 0H5.33335C4.62611 0 3.94783 0.280952 3.44774 0.781049C2.94764 1.28115 2.66669 1.95942 2.66669 2.66667V29.3333C2.66669 30.0406 2.94764 30.7189 3.44774 31.219C3.94783 31.719 4.62611 32 5.33335 32H26.6667C27.3739 32 28.0522 31.719 28.5523 31.219C29.0524 30.7189 29.3334 30.0406 29.3334 29.3333V8.54667C29.3319 8.19688 29.193 7.86168 28.9467 7.61333L21.72 0.386667C21.4717 0.140341 21.1365 0.00147283 20.7867 0Z" fill="#1F2331"></path>
          <path d="M21.3334 14.6667H9.33335C8.97973 14.6667 8.64059 14.5262 8.39055 14.2761C8.1405 14.0261 8.00002 13.687 8.00002 13.3333C8.00002 12.9797 8.1405 12.6406 8.39055 12.3905C8.64059 12.1405 8.97973 12 9.33335 12H21.3334C21.687 12 22.0261 12.1405 22.2762 12.3905C22.5262 12.6406 22.6667 12.9797 22.6667 13.3333C22.6667 13.687 22.5262 14.0261 22.2762 14.2761C22.0261 14.5262 21.687 14.6667 21.3334 14.6667Z" fill="#1F2331"></path>
          <path d="M21.3334 20H9.33335C8.97973 20 8.64059 19.8595 8.39055 19.6095C8.1405 19.3594 8.00002 19.0203 8.00002 18.6667C8.00002 18.313 8.1405 17.9739 8.39055 17.7239C8.64059 17.4738 8.97973 17.3333 9.33335 17.3333H21.3334C21.687 17.3333 22.0261 17.4738 22.2762 17.7239C22.5262 17.9739 22.6667 18.313 22.6667 18.6667C22.6667 19.0203 22.5262 19.3594 22.2762 19.6095C22.0261 19.8595 21.687 20 21.3334 20Z" fill="#1F2331"></path>
          <path d="M15.3334 25.3333H9.33335C8.97973 25.3333 8.64059 25.1929 8.39055 24.9428C8.1405 24.6928 8.00002 24.3536 8.00002 24C8.00002 23.6464 8.1405 23.3072 8.39055 23.0572C8.64059 22.8071 8.97973 22.6667 9.33335 22.6667H15.3334C15.687 22.6667 16.0261 22.8071 16.2762 23.0572C16.5262 23.3072 16.6667 23.6464 16.6667 24C16.6667 24.3536 16.5262 24.6928 16.2762 24.9428C16.0261 25.1929 15.687 25.3333 15.3334 25.3333Z" fill="#1F2331"></path>
          </g>
          </svg>
          <p class="text-sm mt-base"><code>64x64 px</code></p>
        </li>
      </ul>
    </div>
    <div>
      {{ componentTable({
        "caption": "Usos de los iconos grandes según sus dimensiones",
        "captionClasses": "sr-only mb-base font-bold text-left text-lg",

        "rows": [
          [
            {
              "html": '<code>32x32 px</code>',
              "classes": "w-1/4"
            },
            {
              "text": "Item",
              "classes": "text-left"
            }
          ],
          [
            {
              "html": '<code>36x36 px</code>'
            },
            {
              "text": "Cards",
              "classes": "text-left"
            }
          ],
          [
            {
              "html": '<code>64x64 px</code>'
            },
            {
              "text": "Modales",
              "classes": "text-left"
            }
          ]
        ],
        "classes": "w-full"
      }) }}
    </div>
  </div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul">
    <li>Cuando utilices un accionable con icono sin etiqueta de texto, asegúrate de que el elemento <code>svg</code> tiene los parametros <code>role=img</code> y <code>aria-label=[descripción de la acción]</code>.</li>
    <li>Cuando utilices un icono de apoyo al contenido, asegúrate de que el elemento <code>svg</code> tiene los parametros <code>role=presentation</code> y <code>aria-hidden=true</code>.</li>

  </ul>

  <div class="pb-xl"></div>


  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  
  <ul class="c-ul">
   
    <li>Por lo general no se recomienda usar accionables solo con icono, pero se pueden emplear en casos en los que el espacio sea muy reducido, sea imposible incluir la etiqueta y siempre que la acción que representa el icono sea inequívoca y clara. En tal caso se recomienda incluir un globo de ayuda o title en el componente.</li>
  </ul>


  <div class="pb-xl"></div>
{% endblock %}