{% set componente = [
  "input",
  "input-text",
  "Entrada de texto",
  "El campo de texto es un elemento básico de formulario que permite la inserción y edición de texto en una única línea. Se debe usar cuando el texto a introducir es corto, por ejemplo nombre o apellidos. Para textos largos usar áreas de texto.",
  "Formularios"
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}

{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenuCode(componente[1]) }}
  <div class="pb-xl"></div>
  {{ componentMenuNavigation({
    "items": [
      {
        "href": "componente-input-text-codigo.html",
        "text": "Input",
        "active": true
      },
      {
        "href": "componente-input-text-fieldset-codigo.html",
        "text": "Fieldset"
      }
    ],
    "attributes": {
      "aria-label": "Menu de cabeceras"
    }
  })  }}
  <div class="pb-xl"></div>

  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}