{% set componente = [
  "textarea",
  "textarea",
  "Área de texto",
  "El área de texto es un elemento de formulario que permite la inserción de texto en varias líneas y puede contener, por defecto, un número de caracteres ilimitado.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#tipos-de-rea-de-texto" class="c-link">Tipos de área de texto</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  <div class="pb-xl"></div>


  {{ DSSectionTitle({
    title: "Tipos de área de texto"
  }) }}
  {% call componentExample()  %}
    <ol class="flex flex-col lg:flex-row gap-lg">
       <li class="flex flex-col">
        <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-sm">1</span>
        {{ componentTextarea({
          "name": "more-detail-a",
          "id": "more-detail-a",
          "label": {
            "text": "Por defecto"
          }
        })  }}
      </li>
      <li class="flex flex-col">
        <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-sm">2</span>
        {{ componentCharacterCount({
          "name": "more-detail-b",
          "id": "more-detail-b",
          "maxlength": 10,
          "label": {
            "text": "Con contador de caracteres"
          }
        })  }}
      </li>
    </ol>
  {% endcall %}
  <ol class="pt-base">
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span>
      <span class="inline-block ml-base align-middle"><a href="componente-textarea-codigo.html" class="c-link font-semibold">Por defecto.</a> Contiene únicamente la etiqueta de título y el campo para introducir el texto.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span>
      <span class="inline-block ml-base align-middle"><a href="componente-textarea-character-count-codigo.html" class="c-link font-semibold">Contador de caracteres.</a> A la entrada de texto anterior se añade una línea adicional bajo el campo para indicar el límite de caracteres que se permiten escribir.</span>
    </li>
  </ol>

  <div class="pb-xl"></div>  

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;textarea&gt;</code> con un <code>id</code>, <code>name</code> y <code>aria-describedby</code>.</li>
    <li>El contador de carácteres es un párrafo con <code>aria-live=polite</code> para indicar cambios sin interrumpir la acción.</li>
  </ul>
  <p class="c-paragraph-base">Más información sobre los inputs en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</p>

  
  {% set item %}
    <p>Permite completar el campo con la información de la persona guardada en el navegador. Debe estar siempre que sea posible. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete" class="c-link" target="_blank" title="Se abre en pestaña nueva">Más información<span class="sr-only">sobre el autocomplete</span>{% include "includes/_external-link-icon.njk" %}</a></p>
  {% endset %}

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre label, hint, error y el textarea. Debe ser único."
          }
        ],
        [
          {
            "html": '<code>autocomplete</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": item | safe
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": ""
    }) }}
  </div>
  

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Es recomendable incluir el contador de caracteres en este tipo de campos.</li>
    <li>Para facilitar la escritura y revisión de textos largos, ocupa la anchura máxima y deja que la altura pueda ser configurable por la persona.</li>
    <li>No utilices un placeholder como label. El label siempre debe ser visible.</li>
  </ul>
  <div class="pb-xl"></div>
{% endblock %}