{% set componente = [
  "card",
  "card",
  "Card",
  "Se trata de un bloque de información que presenta de una manera visual y ordenada su contenido. Es posible componer mosaicos con varias de ellas para organizar la información y secciones de la página.",
  "Información visual"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  <p class="c-pararaph-base">Por lo general, están formados por un título y, opcionalmente, descripción o contenido, <a href="componente-iconos.html" class="c-link">icono</a> y uno o varios <a href="componente-botones.html" class="c-link">botones</a>. Sus dimensiones son flexibles, pero se recomienda mantener unas proporciones similares entre cards que correspondan al mismo nivel.</p>

  {% set verMasContent1 %}
    {{ componentButton({
      "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
      "classes": "c-button--transparent",
      "href": "#",
      "attributes": {
        "aria-describedby": "titulo-card-1"
      }
    }) }}
  {% endset %}

  {% set verMasContent2 %}
    {{ componentButton({
      "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
      "classes": "c-button--transparent",
      "href": "#",
      "attributes": {
        "aria-describedby": "titulo-card-2"
      }
    }) }}
  {% endset %}

  {% set verMasContent3 %}
    {{ componentButton({
      "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
      "classes": "c-button--transparent",
      "href": "#",
      "attributes": {
        "aria-describedby": "titulo-card-3"
      }
    }) }}
  {% endset %}

  {% call componentExample()  %}
    <ul class="grid lg:grid-cols-3 content-stretch gap-base">
      <li>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "flex flex-col justify-between h-full p-base border border-neutral-base rounded",
          "sub": {
            "html": verMasContent1 | safe,
            "backgroundFullColor": "transparent",
            "classes": "block"
          }
        })  %}
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
            <h3 id="titulo-card-1" class="c-h3">Por defecto</h3>
            <div class="prose max-w-none mb-base">
              <p>Descripción</p>
            </div>
          </div>
        {% endcall %}
      </li>
      
      <li>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base border border-neutral-base rounded relative hover:bg-neutral-light"
        })  %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
          <h2 class="c-h3"><a href="#" class="c-link c-link--full">Con hover</a></h2>
          <p class="c-paragraph-sm">Descripción</p>
        </div>
        {% endcall %}
      </li>

      <li>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full relative"
        })  %}
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
            <h3 class="c-h3"><a href="#" class="c-link c-link--full">Sin bordes</a></h3>
            <div class="prose max-w-none">
              <p>Descripción</p>
            </div>
          </div>
        {% endcall %}
      </li>

      <li>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter",
          "sub": {
            "html": verMasContent2 | safe,
            "backgroundFullColor": "transparent",
            "classes": "block"
          }
        })  %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
          <h3 id="titulo-card-2" class="c-h3">Para página de inicio</h3>
          <p class="c-paragraph-sm">Descripción</p>
        </div>
        {% endcall %}
      </li>

      <li>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-8 border-neutral-dark",
          "sub": {
            "html": verMasContent3 | safe,
            "backgroundFullColor": "transparent",
            "classes": "block"
          }
        })  %}
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
            <h3 id="titulo-card-3" class="c-h3">Para menú lateral</h3>
            <p class="c-paragraph-sm">Descripción</p>
          </div>
        {% endcall %}
      </li>
    </ul>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">El contenido se enmarca en un bloque rectangular con borde y esquinas redondeadas. Esta card se utiliza para mostrar distintos items o secciones en una página de contenido.</p>
  {{ DSSubsectionTitle({
    title: "Con hover"
  }) }}
  <p class="c-paragraph-base">Todo el contenedor es un mismo enlace clicable.</p>
  {{ DSSubsectionTitle({
    title: "Sin bordes"
  }) }}
  <p class="c-paragraph-base">Usamos cards sin bordes ni padding para conseguir una página más limpia, sobretodo en listados de cards apiladas en anchuras pequeñas.</p>
  {{ DSSubsectionTitle({
    title: "Para página de inicio"
  }) }}
  <p class="c-paragraph-base">
    Es similar a la card por defecto, pero sin borde y con fondo gris. Se utiliza en páginas de inicio de sitios web que necesitan destacar determinados items.</p>
  {{ DSSubsectionTitle({
    title: "Para menú lateral"
  }) }}
  <p class="c-paragraph-base mb-xl">Similar a la card para página de inico, pero en este caso dispone de una barra separadora en el borde superior. Se utiliza en la barra lateral del sitio web, para destacar información adicional al contenido principal.</p>
  {% call componentExample()  %}
    <div class="flex items-left gap-base">
      <div class="w-full">
        {{ componentCard({
          "classes": " ",
          "containerClasses": "py-lg border-t-8 border-neutral-dark",
          "caller": "  <h2 class=\"c-h1\">Bloque de enlaces</h2>\n  <ul class=\"text-lg\">\n    <li class=\"mb-base\"><a href=\"#\" class=\"c-link\">Enlace 1</a></li>\n    <li class=\"mb-base\"><a href=\"#\" class=\"c-link\">Enlace 2</a></li>\n    <li class=\"mb-base\"><a href=\"#\" class=\"c-link\">Enlace 3</a></li>\n    <li class=\"mb-base\"><a href=\"#\" class=\"c-link\">Enlace 4</a></li>\n    <li class=\"mb-base\"><a href=\"#\" class=\"c-link\">Enlace 5</a></li>\n  </ul>\n"
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Bloque de enlaces"
  }) }}
  <p class="c-paragraph-base mb-xl">Se compone de un título, una serie de enlaces y una barra separadora superior. No contiene márgenes laterales, bordes ni fondo. Se utiliza en páginas de inicio para destacar y enlazar a los  distintos apartados del sitio web.
  </p>
  {% call componentExample()  %}
    <div class="flex flex-col items-left gap-base">
      <div class="flex-grow">
        {{ componentCard({
          "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark",
          "caller": "  <h3 id=\"titulo-card-4\" class=\"c-h3\">Bloque con imagen</h3>\n  <div class=\"prose max-w-none mb-base\">\n    <p>Descripción</p>\n  </div>\n    \n\n<!-- button --><a href=\"#\" role=\"button\" draggable=\"false\" class=\"c-button c-button--transparent\"  id=\"boton-card-4\" aria-labelledby=\"boton-card-4 titulo-card-4\">\n  Más <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>\n</a><!-- /button -->\n\n",
          "sub": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "https://dummyimage.com/600x400/92949b/ff&text=Imagen",
            "classes": "h-60 -m-base mt-base bg-cover bg-center bg-no-repeat overflow-hidden",
            "attributes": {
              "role": "img",
              "aria-label": "Alt de la imagen"
            }
          }
        })  }}
      </div>
      <div class="flex-grow">
        {{ componentCard({
          "containerClasses": "p-lg bg-neutral-lighter border-t-8 border-neutral-dark",
          "caller": "  <h2 class=\"c-h1\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" width=\"1em\" height=\"1em\" class=\"inline-block align-middle lg:w-9 lg:h-9 mr-base\" aria-hidden=\"true\" focusable=\"false\"><g transform=\"scale(2)\"><path d=\"M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z\" fill=\"currentColor\"></path><rect x=\"6.5\" y=\"10.5\" width=\"3\" height=\"2\" rx=\".5\" fill=\"currentColor\"></rect><rect x=\"6.5\" y=\"14\" width=\"3\" height=\"2\" rx=\".5\" fill=\"currentColor\"></rect><rect x=\"6.5\" y=\"17.5\" width=\"3\" height=\"2\" rx=\".5\" fill=\"currentColor\"></rect><rect x=\"11\" y=\"10.5\" width=\"6.5\" height=\"2\" rx=\".5\" fill=\"currentColor\"></rect><rect x=\"11\" y=\"14\" width=\"6.5\" height=\"2\" rx=\".5\" fill=\"currentColor\"></rect><rect x=\"11\" y=\"17.5\" width=\"6.5\" height=\"2\" rx=\".5\" fill=\"currentColor\"></rect></g></svg>Bloque con botones</h2>\n  <p class=\"c-paragraph-base mb-lg\">Descripción</p>\n  <ul class=\"flex flex-wrap gap-base\">\n    <li>\n      \n\n<!-- button --><button class=\"c-button c-button--primary\" >\n  Acción principal\n</button><!-- /button -->\n    </li>\n    <li>\n      \n\n<!-- button --><button class=\"c-button\" >\n  Acción secundaria\n</button><!-- /button -->\n    </li>\n  </ul>\n",
          "super": {
        "backgroundFullColor": "transparent",
        "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.png&text=Imagen",
        "classes": "lg:hidden aspect-square -m-lg mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
        "attributes": {
          "role": "img",
          "aria-label": "Alt de la imagen"
        }
          },
          "right": {
        "backgroundFullColor": "transparent",
        "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
        "classes": "hidden lg:block w-1/2 h-96 -m-lg ml-xl bg-cover bg-center bg-no-repeat overflow-hidden",
        "attributes": {
          "role": "img",
          "aria-label": "Alt de la imagen"
        }
          }
        })  }}
      </div>
  </div>
  {% endcall %}
  
  {{ DSSubsectionTitle({
    title: "Bloque con imagen"
  }) }}
  <p class="c-paragraph-base">
    Similar a la card para barra lateral, pero con una imagen insertada en su interior que puede colocarse en cualquiera de los 4 lados (inferior, superior, a la derecha o a la izquierda). Se utiliza para apoyar visualmente y ayudar a la identificación del contenido al que enlaza, por ejemplo, para noticias o publicaciones. En el caso de dispositivos móvil, la imagen se coloca automáticamente encima o debajo del contenido.
  </p>
  {{ DSSubsectionTitle({
    title: "Bloque con botones"
  }) }}
  <p class="c-paragraph-base">
    Similar al bloque con imagen, pero con más presencia y accesos directos a acciones concretas. Se utiliza para destacar por encima de los demás elementos una determinada función o acceso a la herramienta principal enmarcada dentro del sitio web, por ejemplo, el ingreso al área personal.
  </p>

    <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <p class="c-paragraph-base">Contenedor con un caller donde se puede insertar contenido personalizado.</p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
       [
          {
            "html": '<code>role: img</code> y <code>aria-label</code>'
          },
          {
            "html": 'Parámetros Nunjucks dentro de <code>attributes</code>, en los parámetros <code>super</code>, <code>right</code>, <code>left</code> y <code>sub</code>'
          },
          {
            "text": "Describe el contenido de las imágenes para lectores de pantalla."
          }
        ],
        [
          {
            "html": '<code>aria-labelledby</code>'
          },
          {
            "text": "En los botones del card"
          },
          {
            "html": "Apuntan al <code>id</code> de sí mismos y al del título del card."
          }
        ],
        [
          {
            "html": 'Listado <code>&lt;ul&gt;</code> con <code>&lt;li&gt;</code>'
          },
          {
            "text": "En grupos de botones y listados de enlaces"
          },
          {
            "html": "Jerarquiza el contenido y ayuda a la navegación con lectores de pantalla."
          }
        ],
        [
          {
            "html": '<code>aria-hidden=true</code>'
          },
          {
            "text": "En el svg que apoya al título"
          },
          {
            "html": "Oculta el icono a lectores de pantalla"
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": ""
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul"> 
    <li>Utilizar las cards con fondo gris de manera moderada para que no ocupen un gran porcentaje del campo de visión y se pierda la predominancia del blanco, característica de DESY.</li>
    <li>En el caso de incluir imagen o ilustración, asegurarse de que siga las directrices definidas o que pertenezca al repositorio correspondiente.</li>
  </ul>

  <div class="pb-xl"></div>
{% endblock %}