{% set componente = [
  "description-list",
  "description-list",
  "Listado de descripciones",
  "Componente formado por un término asociado a un valor. Pueden agruparse varios de ellos.",
  "Datos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <p class="c-h3">Términos apilados</p>
    <div>
      {{ componentDescriptionList({
        "classes": "flex flex-wrap w-full",
        "items": [
      {
        "term": {
          "text": "term"
        },
        "definition": {
          "text": "definition"
        },
        "classes": "w-1/3 mb-base pr-base"
      },
      {
        "term": {
          "text": "term"
        },
        "definition": {
          "text": "definition"
        },
        "classes": "w-1/3 mb-base pr-base"
      },
      {
        "term": {
          "text": "term"
        },
        "definition": {
          "text": "definition"
        },
        "classes": "w-1/3 mb-base pr-base"
      },
      {
        "term": {
          "text": "term"
        },
        "definition": {
          "text": "definition"
        },
        "classes": "w-1/3 mb-base pr-base"
      },
      {
        "term": {
          "text": "term"
        },
        "definition": {
          "text": "definition"
        },
        "classes": "w-1/3 mb-base pr-base"
      },
      {
        "term": {
          "text": "term"
        },
        "definition": {
          "text": "definition"
        },
        "classes": "w-1/3 mb-base pr-base"
      }
        ]
      })  }}
    </div>
    <p class="c-h3 mt-2xl">Términos agrupados</p>
    <div>
      {{ componentDescriptionList({
        "classes": "w-full py-sm border-t border-b border-neutral-base",
        "items": [
      {
        "term": {
          "text": "Código de procedimiento",
          "classes": "lg:w-1/3"
        },
        "definition": {
          "text": "G00345-BX",
          "classes": "lg:flex-1 font-semibold"
        },
        "classes": "lg:flex py-sm"
      },
      {
        "term": {
          "text": "Nombre del procedimiento",
          "classes": "lg:w-1/3"
        },
        "definition": {
          "text": "Resolución definitiva",
          "classes": "lg:flex-1 font-semibold"
        },
        "classes": "lg:flex py-sm"
      },
      {
        "term": {
          "text": "CSV",
          "classes": "lg:w-1/3"
        },
        "definition": {
          "text": "CSVK45WT8V5T110CPPC",
          "classes": "lg:flex-1 font-semibold"
        },
        "classes": "lg:flex py-sm"
      },
      {
        "term": {
          "text": "Fecha de captura",
          "classes": "lg:w-1/3"
        },
        "definition": {
          "text": "13 de Diciembre de 2021. A las 11:48:08",
          "classes": "lg:flex-1 font-semibold"
        },
        "classes": "lg:flex py-sm"
      },
      {
        "term": {
          "text": "Categoría",
          "classes": "lg:w-1/3"
        },
        "definition": {
          "text": "Documento simple",
          "classes": "lg:flex-1 font-semibold"
        },
        "classes": "lg:flex py-sm"
      }
        ]
      })  }}
    </div>
    <p class="c-h3 mt-2xl">Términos en formato tabla</p>
    <div>
      {{ componentDescriptionList({
        "classes": "w-full",
        "items": [
      {
        "term": {
          "text": "Nombre y apellidos",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Ana Pérez Escribano",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "text": "Nº identificación",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "NIF: 00000000T",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "text": "Importe",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "html": "<strong>45,5€</strong>",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "text": "Impuesto",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Impuesto sobre Sucesiones y donaciones",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "text": "Concepto",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Modelo 606 - Liquidaciones Transmisiones Patrimoniales Onerosas.",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "text": "Número de justificante",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "6064589854125",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      }
        ]
      })  }}
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Términos apilados"
  }) }}
  <p class="c-paragraph-base">Es posible apilarlos verticalmente u horizontalmente, en distintas columnas según la situación lo requiera.</p>
  {{ DSSubsectionTitle({
    title: "Términos agrupados"
  }) }}
  <p class="c-paragraph-base">Si todos se enuentran estrechamente relacionados entre sí, se pueden agrupar en formato item.</p>
  {{ DSSubsectionTitle({
    title: "Términos en formato tabla"
  }) }}
  <p class="c-paragraph-base">Para una mejor legilibilidad y orden se pueden mostrar en formato tabla. Si hay un gran número de datos y su clasificación es compleja, considera utilizar el componente <a href="componente-tabla.html" class="c-link">Tabla</a>.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <p class="c-paragraph-base">Listado <code>&lt;dl&gt;</code> de términos <code>&lt;dt&gt;</code> y definiciones <code>&lt;dd&gt;</code>.</p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
       [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code> que puede estar en el componente, item, término o definición.'
          },
          {
            "html": "Identifica cada uno de los elementos."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>
  <div class="pb-xl"></div>

  {% endblock %}
