{% set componente = [
  " ",
  "navegacion",
  "Navegación",
  "Componentes que permiten el acceso a las diferentes secciones y páginas."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

{% from "components/footer/_macro.footer.njk" import componentFooter %}

{% from "components/card/_macro.card.njk" import componentCard %}

{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>
  <p class="c-paragraph-base">Componentes que permiten el acceso a las diferentes secciones y páginas.</p>

  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
        "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-searchbar.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-searchbar.html" class="c-link c-link--full">Barra de busqueda</a></h2>
        <p class="c-paragraph-sm">Una caja que permite introducir texto para poder realizar búsquedas de contenido.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-listado-enlaces.svg",
          "classes": "h-44 lg:h-32 -m-base mb-base bg-center bg-cover bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-links-list.html" class="c-link c-link--full">Listado de enlaces</a></h2>
        <p class="c-paragraph-sm">Items apilados que enlazan a las distintas secciones del sitio o aplicación web.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-menu-navegacion.svg",
          "classes": "h-44 lg:h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-menu-navigation-codigo.html" class="c-link c-link--full">Menú de navegación</a></h2>
        <p class="c-paragraph-sm">Se usan específicamente para navegar en la aplicación, puede tener varias apariencias según el contexto.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-menu-horizontal.svg",
          "classes": "h-40 lg:h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-menu-horizontal.html" class="c-link c-link--full">Menú horizontal</a></h2>
        <p class="c-paragraph-sm">Elementos que enlazan con cada una de las secciones o subsecciones del sitio.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-menu-vertical.svg",
           "classes": "h-44 lg:h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-menu-vertical.html" class="c-link c-link--full">Menú vertical</a></h2>
        <p class="c-paragraph-sm">Elementos anidados que enlazan a cada una de las secciones o subsecciones del sitio web.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-breadcrumbs.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-breadcrumbs.html" class="c-link c-link--full">Migas de pan</a></h2>
        <p class="c-paragraph-sm">Identifica dónde nos encontramos y ofrece una navegación secundaria hacia los niveles ascendentes.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-paginacion.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-paginacion.html" class="c-link c-link--full">Paginación</a></h2>
        <p class="c-paragraph-sm">Divide el contenido, da una idea de qué cantidad de información hay y permite saltar entre las páginas.</p>
      </div>
      {% endcall %}
    </div>
  </div>

  
  <div class="pb-xl"></div>
{% endblock %}