{% set componente = [
  "searchbar",
  "searchbar",
  "Barra de búsqueda",
  "Consiste en una caja que permite introducir texto. Este componente se emplea para que el usuario pueda realizar búsquedas de contenido en el sitio web o en una vista.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#tamaos" class="c-link">Tamaños</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prticas" class="c-link">Buenas prácticas</a></li>
  </ul>
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
  <div class="mb-lg">
    {{ componentSearchbar({
      "id": "searchbar-1",
      "label": {
        "text": "Con botón",
        "classes": "not-sr-only mb-sm"
      },
      "button": {
        "text": "Buscar",
        "type": "submit",
        "classes": "c-button--primary ml-sm"
      },
      "classes": "flex-1"
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
    "id": "searchbar-2",
    "label": {
      "text": "Compacta",
      "classes": "not-sr-only mb-sm"
    }
    })  }}
  </div>
  {% endcall %}

  {{ DSSubsectionTitle({
    title: "Con botón"
  }) }}
  <p class="c-paragraph-base">La barra de búsqueda con botón está compuesta por una caja de texto y un botón con la acción <q>Buscar</q> a su derecha. Este botón puede ser uno primario o secundario según si la acción de buscar es principal o no.</p>
  {{ DSSubsectionTitle({
    title: "Compacta"
  }) }}
  <p class="c-paragraph-base">La barra de búsqueda en su versión compacta está compuesta siempre por una caja de texto y un botón-icono (una lupa) alineado a la derecha, integrado dentro de la propia caja. También debe contar con un texto que indique la función del elemento de búsqueda <q>Buscar</q> por ejemplo), que puede colocarse como label o como placeholder, según el espacio disponible para la barra de búsqueda.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tamaños"
  }) }}
  {% call componentExample()  %}
  <div class="mb-lg">
    {{ componentSearchbar({
    "id": "searchbar-3",
    "label": {
      "text": "Por defecto",
      "classes": "not-sr-only mb-sm"
    }
    })  }}
  </div>
  <div>
    {{ componentSearchbar({
    "id": "searchbar-4",
    "label": {
      "text": "Pequeña",
      "classes": "not-sr-only mb-sm"
    },
    "classes": "c-input--sm",
    "buttonClasses": "m-xs p-0.5 text-xs"
    })  }}
  </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">Utilizar para cualquier tipo de situaciones y layouts. Siempre que sea posible se recomienda usar este tamaño por motivos de accesibilidad.</p>
  {{ DSSubsectionTitle({
    title: "Pequeño"
  }) }}
  <p class="c-paragraph-base">Cumplen la misma función que los de tamaño estándar, pero están dirigidos a su uso en pop-ups y otros elementos de la página que no ocupen el ancho completo de la misma, así como contenido menos relevante.</p>


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>El componente es un <code>&lt;input&gt;</code> con <code>type=search</code>. Lleva un <code>&lt;label&gt;</code> y un <code>&lt;button&gt;</code> con <code>type=submit</code> para realizar la búsqueda.</li>
    <li>El <code>&lt;label&gt;</code> está oculto visualmente por defecto, utiliza la clase <code>.not-sr-only</code> para mostrarlo.</li>
  </ul>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre label, hint, error y el input. Debe ser único."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Por lo general, no se recomienda que las barras de búsqueda ocupen todo el ancho de la página en versión desktop.</li>
    <li>Al mostrar los resultados de búsqueda, se recomienda que se mantenga el texto que ha introducido el usuario en la barra de búsqueda.</li>
    <li>Se recomienda que el placeholder haga referencia a lo que se va a buscar. Por ejemplo, si se trata de un buscador de personas <q>Buscar por nombre</q>, <q>Buscar por apellidos</q>...</li>
  </ul>

  
{% endblock %}