{% set componente = [
  "menubar",
  "menubar",
  "Barra de menús",
  "Edita y genera cambios sobre otro elemento, pero no navega a un sitio diferente.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}


{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#diferencias-entre-componentes" class="c-link">Diferencias entre componentes</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div>
      <h3 class="c-h3 pb-lg">Por defecto</h3>
      {{ componentMenubar({
        "id": "with-all-parent-items-example",
        "idPrefix": "parent-example",
        "ariaLabel": "Menubar descrición",
        "items": [
          {
            "text": "Menuitem",
            "ariaLabel": "Menuitem",
            "sub": {
              "items": [
                {
                  "role": "menuitem",
                  "text": "Subitem 1"
                },
                {
                  "role": "menuitem",
                  "text": "Subitem 2"
                },
                {
                  "role": "menuitem",
                  "text": "Subitem 3"
                }
              ]
            },
            "classes": "mb-base mr-base"
          },
          {
            "text": "Menuitemcheckbox",
            "ariaLabel": "Menuitemcheckbox",
            "classes": "mb-base mr-base",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 1"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 2"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 3"
                }
              ]
            }
          },
          {
            "text": "Menuitemradio",
            "ariaLabel": "Menuitemradio",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "ariaLabel": "group label",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Radio 1"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Radio 2"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Radio 3"
                    }
                  ]
                }
              ]
            },
            "classes": "mb-base mr-base"
          },
          {
            "text": "Items mixtos",
            "ariaLabel": "Items mixtos",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "ariaLabel": "Tamaño de letra",
                  "items": [
                    {
                      "role": "menuitem",
                      "text": "Tamaño mayor"
                    },
                    {
                      "role": "menuitem",
                      "text": "Tamaño menor"
                    }
                  ]
                },
                {
                  "role": "separator"
                },
                {
                  "role": "group",
                  "ariaLabel": "Estilo de letra",
                  "items": [
                    {
                      "role": "menuitemcheckbox",
                      "text": "Negritas"
                    },
                    {
                      "role": "menuitemcheckbox",
                      "text": "Itálicas"
                    }
                  ]
                },
                {
                  "role": "separator"
                },
                {
                  "role": "group",
                  "ariaLabel": "Estilo de texto",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Ninguno"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Tachado"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Subrayado"
                    }
                  ]
                }
              ]
            },
            "classes": "mb-base mr-base"
          },
          {
            "text": "Menuitem solo",
            "ariaLabel": "Menuitem solo",
            "classes": "c-menubar__button--transparent mb-base mr-base",
            "href": "#"
          }
        ]
      }) }}
    </div>
    <div class="pb-xl"></div>
    <div>
      <h3 class="c-h3 pb-lg">Con estilos de botón transparente</h3>
      {{ componentMenubar({
        "id": "transparent-items",
        "idPrefix": "transparent-example",
        "ariaLabel": "Menubar descrición",
        "items": [
          {
            "text": "Menuitem",
            "ariaLabel": "Menuitem",
            "id": "transparent-example-item-1",
            "sub": {
              "items": [
                {
                  "role": "menuitem",
                  "text": "Subitem 1"
                },
                {
                  "role": "menuitem",
                  "text": "Subitem 2"
                },
                {
                  "role": "menuitem",
                  "text": "Subitem 3"
                }
              ]
            },
            "classes": "c-menubar__button--transparent mb-sm mr-sm"
          },
          {
            "text": "Menuitemcheckbox",
            "ariaLabel": "Menuitemcheckbox",
            "id": "transparent-example-item-2",
            "classes": "c-menubar__button--transparent mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 1"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 2",
                  "checked": true
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 3"
                }
              ]
            }
          },
          {
            "text": "Menuitemradio",
            "ariaLabel": "Menuitemradio",
            "id": "transparent-example-item-3",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "ariaLabel": "group label",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Radio 1"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Radio 2",
                      "checked": true
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Radio 3"
                    }
                  ]
                }
              ]
            },
            "classes": "c-menubar__button--transparent mb-sm mr-sm"
          },
          {
            "text": "Items mixtos",
            "ariaLabel": "Items mixtos",
            "id": "transparent-example-item-4",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "ariaLabel": "Tamaño de letra",
                  "items": [
                    {
                      "role": "menuitem",
                      "text": "Tamaño mayor"
                    },
                    {
                      "role": "menuitem",
                      "text": "Tamaño menor"
                    }
                  ]
                },
                {
                  "role": "separator"
                },
                {
                  "role": "group",
                  "ariaLabel": "Estilo de letra",
                  "items": [
                    {
                      "role": "menuitemcheckbox",
                      "text": "Negritas"
                    },
                    {
                      "role": "menuitemcheckbox",
                      "text": "Itálicas"
                    }
                  ]
                },
                {
                  "role": "separator"
                },
                {
                  "role": "group",
                  "ariaLabel": "Estilo de texto",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Ninguno"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Tachado"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Subrayado"
                    }
                  ]
                }
              ]
            },
            "classes": "c-menubar__button--transparent mb-sm mr-sm"
          },
          {
            "text": "Menuitem solo",
            "ariaLabel": "Menuitem solo",
            "id": "transparent-example-item-6",
            "classes": "c-menubar__button--transparent mb-sm mr-sm",
            "href": "#"
          }
        ]
      }) }}
    </div>
    <div class="pb-xl"></div>
    <div>
      <h3 class="c-h3 pb-lg">Con estilos de cabecera</h3>
      {{ componentMenubar({
        "id": "header-items",
        "idPrefix": "header-example",
        "ariaLabel": "Menubar descrición",
        "items": [
          {
            "text": "Menuitem",
            "ariaLabel": "Menuitem",
            "id": "header-example-item-1",
            "sub": {
              "items": [
                {
                  "role": "menuitem",
                  "text": "Subitem 1"
                },
                {
                  "role": "menuitem",
                  "text": "Subitem 2"
                },
                {
                  "role": "menuitem",
                  "text": "Subitem 3"
                }
              ]
            },
            "classes": "c-menubar__button--header mr-base"
          },
          {
            "text": "Menuitemcheckbox",
            "ariaLabel": "Menuitemcheckbox",
            "id": "header-example-item-2",
            "classes": "c-menubar__button--header mr-base",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 1"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 2",
                  "checked": true
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Subitem 3"
                }
              ]
            }
          },
          {
            "text": "Menuitemradio",
            "ariaLabel": "Menuitemradio",
            "id": "header-example-item-3",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "ariaLabel": "group label",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Radio 1"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Radio 2",
                      "checked": true
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Radio 3"
                    }
                  ]
                }
              ]
            },
            "classes": "c-menubar__button--header mr-base"
          },
          {
            "text": "Items mixtos",
            "ariaLabel": "Items mixtos",
            "id": "header-example-item-4",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "ariaLabel": "Tamaño de letra",
                  "items": [
                    {
                      "role": "menuitem",
                      "text": "Tamaño mayor"
                    },
                    {
                      "role": "menuitem",
                      "text": "Tamaño menor"
                    }
                  ]
                },
                {
                  "role": "separator"
                },
                {
                  "role": "group",
                  "ariaLabel": "Estilo de letra",
                  "items": [
                    {
                      "role": "menuitemcheckbox",
                      "text": "Negritas"
                    },
                    {
                      "role": "menuitemcheckbox",
                      "text": "Itálicas"
                    }
                  ]
                },
                {
                  "role": "separator"
                },
                {
                  "role": "group",
                  "ariaLabel": "Estilo de texto",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Ninguno"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Tachado"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Subrayado"
                    }
                  ]
                }
              ]
            },
            "classes": "c-menubar__button--header mr-base"
          },
          {
            "text": "Menuitem solo",
            "ariaLabel": "Menuitem solo",
            "id": "header-example-item-6",
            "classes": "c-menubar__button--header mr-base",
            "href": "#"
          }
        ],
        "classes": "bg-neutral-lighter"
      }) }}
    </div>
  {% endcall %}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Lista sin orden <code>&lt;ul&gt;</code> con <code>role=menubar</code> y un <code>aria-label</code> que describe su función. Cada <code>&lt;li&gt;</code> tiene un <code>role=none</code> y un enlace <code>&lt;a&gt;</code> con el atributo <code>role=menuitem</code>.</li>
    <li>Cuando un item tiene un desplegable con otra lista <code>&lt;ul&gt;</code> de items, se añade <code>aria-haspopup=true</code> y <code>aria-expanded</code>.
      <ul class="c-ul mt-base">
        <li>La lista desplegable debe tener un <code>role=menu</code> y un <code>aria-label</code> que describa la acción.<li>
        <li>Cada item poseen un <code>role=menuitem</code>. En el caso de que tengan la función de checkbox o radio, sus atributos serán <code>role=menuitemcheckbox</code> o <code>role=menuitemradio</code> respectivamente, junto con <code>aria-checked</code></li> 
        <li>También podemos agrupar estos items en listas anidadas con <code>role=group</code> y utilizar separadores con <code>role=separator</code>.</li>
      </ul>
    </li>
    <li>Tanto el contenedor del componente como los items y subitems tienen <code>id</code> únicos.</li>
    <li>Cuando un item se encuentra deshabilitado necesita los atributos <code>aria-disabled=true</code> y <code>tabindex=-1</code> para que no se pueda seleccionar.</li>
    <li>Cuando un item toma el foco, la persona usuaria puede moverse entre el grupo con las flechas de dirección.</p>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-editor/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón menubar de W3C{% include "includes/_external-link-icon.njk" %}</a></p>



  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado"
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente e items'
          },
          {
            "html": "Permite crear un <code>id</code> concreto para cada item."
          }
        ],
        [
          {
            "html": '<code>arialabel</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente e items'
          },
          {
            "html": "Descibe el tipo de navegación."
          }
        ],
        [
          {
            "html": '<code>role</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro de items.'
          },
          {
            "html": "Configura el comportamiento y atributos ARIA a partir de las variables <code>group</code>, <code>separator</code>, <code>menuitem</code>, <code>menuitemcheckbox</code> y <code>menuitemradio</code>"
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>


  {% include "includes/docs-componentes/_dropdown-listbox-selector-dif.njk" %}

{% endblock %}