{% set componente = [
  "error-message",
  "mensaje-error",
  "Mensaje de error",
  "En caso de que el campo requiera validación o sea obligatorio, puede aparecer un error indicando el problema con el dato introducido."
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "componente-" + componente[1] + "-codigo.html",
        "text": "Código Nunjucks y HTML",
        "active": true
      },
      {
        "href": "componente-" + componente[1] + "-codigo-angular.html",
        "text": "Código Angular"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}
  <div class="pb-xl"></div>
  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}