{% set componente = [
  "checkboxes",
  "checkboxes",
  "Casilla de verificación",
  "Este elemento ofrece la posibilidad de seleccionar varias opciones de las que se ofrecen.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#tamaos" class="c-link">Tamaños</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <p class="c-paragraph-base">Se componen de una caja y de una etiqueta con el nombre de la opción.</p>
  <p class="c-paragraph-base">La alineación puede ser tanto en vertical como en horizontal, siendo preferible siempre que sea posible la alineación vertical.</p>

  <div class="pb-lg"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
   {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-2xl">
      <div>
        {{ componentCheckboxes({
          "idPrefix": "default1",
          "name": "default",
          "fieldset": {
              "legend": {
                "text": "Por defecto"
              }
            },
          "items": [
            {
              "value": "item 1",
              "text": "Item 1"
            },
            {
              "value": "item 2",
              "text": "Item 2"
            },
            {
              "value": "item 3",
              "text": "Item 3"
            }
          ]
        })  }}
      </div>
      <div>
        {{ componentCheckboxes({
          "idPrefix": "conditional-items",
          "name": "conditional-items",
          "fieldset": {
            "legend": {
              "text": "Condicional"
            }
          },
          "items": [
            {
              "value": "item 1",
              "text": "Item 1",
              "conditional": {
                "html": "<label class=\" block font-semibold \" for=\"subitem1\">Subitem 1</label>\n<input class=\" c-input block mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"subitem1\" type=\"text\" id=\"subitem1\">\n"
              }
            },
            {
              "value": "item 2",
              "text": "Item 2",
              "conditional": {
                "html": "<label class=\" block font-semibold \" for=\"subitem2\">Subitem 2</label>\n<input class=\" c-input block mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"subitem2\" type=\"text\" id=\"subitem2\">\n"
              }
            },
            {
              "value": "item 3",
              "text": "Item 3",
              "conditional": {
                "html": "<label class=\" block font-semibold \" for=\"subitem3\">Subitem 3</label>\n<input class=\" c-input block mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base \" name=\"subitem3\" type=\"text\" id=\"subitem3\">\n"
              }
            }
          ]
        })  }}
      </div>
      <div>
        {{ componentCheckboxes({
          "idPrefix": "has-dividers",
          "name": "has-dividers",
          "fieldset": {
            "legend": {
              "text": "Con líneas divisoras"
            }
          },
          "hasDividers": true,
          "items": [
            {
              "value": "item 1",
              "text": "Item 1",
              "classes": "font-normal",
              "hint": {
                "text": "Lorem ipsum dolor sit amet"
              }
            },
            {
              "value": "item 2",
              "text": "Item 2",
              "hint": {
                "text": "Lorem ipsum dolor sit amet"
              }
            },
            {
              "value": "item 3",
              "text": "Item 3",
              "hint": {
                "text": "Lorem ipsum dolor sit amet"
              }
            }
          ]
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">Es el que se recomienda usar en primera instancia.</p>
  {{ DSSubsectionTitle({
    title: "Condicional"
  }) }}
  <p class="c-paragraph-base">Se usa en los casos en los que hay contenido adicional. En este caso, una vez se marca la opción, despliega un input abrazado con una línea a la izquierda.</p>
  {{ DSSubsectionTitle({
    title: "Con líneas divisoras"
  }) }}
  <p class="c-paragraph-base">En general, no se recomienda su uso. Se emplea cuando el contenido es extenso y se requiere hacer una división visual de los elementos.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tamaños"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-2xl">
      <div>
        {{ componentCheckboxes({
          "idPrefix": "default2",
          "name": "default",
          "fieldset": {
              "legend": {
                "text": "Tamaño base"
              }
            },
          "items": [
            {
              "value": "item 1",
              "text": "Item 1"
            },
            {
              "value": "item 2",
              "text": "Item 2"
            },
            {
              "value": "item 3",
              "text": "Item 3"
            }
          ]
        })  }}
      </div>
      <div>
        {{ componentCheckboxes({
          "idPrefix": "small",
          "name": "small",
          "fieldset": {
              "legend": {
                "text": "Tamaño pequeño",
                "classes": "mb-base font-bold"
              }
            },
          "classes": "c-checkboxes--sm",
          "items": [
            {
              "value": "item 1",
              "text": "Item 1",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "item 2",
              "text": "Item 2",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "value": "item 3",
              "text": "Item 3",
              "classes": "-mt-base",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Tamaño base"
  }) }}
  <p class="c-paragraph-base">Utilizar por defecto para cualquier tipo de situaciones y layouts. Siempre que sea posible se recomienda usar este tamaño por motivos de accesibilidad.</p>
  {{ DSSubsectionTitle({
    title: "Tamaño pequeño"
  }) }}
  <p class="c-paragraph-base">Se recomienda su uso cuando el elemento estándar sea demasiado grande para el espacio donde debe de encajar, por ejemplo dentro de tablas, cards, grupos de filtros o similares.</p>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li class="c-paragraph-base">Grupo rodeado con la etiqueta <code>&lt;fieldset&gt;</code> y su <code>&lt;legend&gt;</code>. 
    <li>Cada item del grupo es un <code>&lt;input&gt;</code> con <code>type=checkbox</code>. Deben tener asociado un <code>&lt;label&gt;</code> a través de un <code>id</code> único</li>
    <li class="c-paragraph-base">Cuando se navega con teclado, la persona puede desplazarse por la lista con el tabulador y activar el item con la barra espaciadora.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/checkbox/" class="c-link" target="_blank" title="Se abre en pestaña nueva">patrón checkbox de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  <p class="c-paragraph-base">Más información sobre los inputs en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>fieldset</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Utiliza el <code>legend</code> de su interior como título. Debe ser visible."
          }
        ],
        [
          {
            "html": '<code>idprefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre <code>label</code>, hint, error y el <code>input</code>. El propio componente se encarga de construir un <code>id</code> único para cada item."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Por defecto, todas las casillas de verificación deben mostrarse deseleccionadas.</li>
    <li>Liste las opciones en un orden racional y que tenga sentido para el usuario.</li>
    <li>Si el conjunto de opciones es mayor a 5, es preferible emplear un elemento de selección o desplegable.</li>
    <li>El input de entrada no debe limitarse al botón de caja. La persona también debe poder seleccionar la opción pulsando en la etiqueta.</li>
  </ul>
  <div class="pb-xl"></div>
{% endblock %}