{% set componente = [
  "details",
  "detalles",
  "Detalles",
  "Son elementos desplegables que incluyen información adicional generalmente en forma de texto.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/details/_macro.details.njk" import componentDetails %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
   <div class="flex flex-col gap-base">
      {{ componentDetails({
        "id": "help-with-nationality",
        "summary": {
          "text": "Título"
        },
        "caller": "<p>Contenido</p>",
        "open": true
      })  }}
    </div>
  {% endcall %}
 <ul class="c-ul">
    <li><a class="font-bold">Título:</a> Indica el contenido que se va a encontrar.</li>
    <li><a class="font-bold">Flecha:</a> Indica si el elemento está abierto o cerrado según su posición.</li>
    <li><a class="font-bold">Contenido:</a> Es libre pudiendo incluir cualquier otro componente.</li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <p class="c-paragraph-base">Dentro de la etiqueta <code>&lt;details&gt;</code> conviven la etiqueta <code>&lt;summary&gt;</code>, que contiene el texto con apariencia de enlace, y el contenido del desplegable.</p>

  {{ DSSubsectionTitle({
    title: "Qué tener en cuenta"
  }) }}
  <p class="c-paragraph-base"><em>Todos los atributos de accesibilidad se encuentran por defecto en la configuración del componente.</em></p>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>El título debe ser explicativo del contenido que se va a desplegar.</li>
    <li>Se recomienda que el título no sea especialmente largo.</li>
    <li>En general se recomiendo que el contenido no incluya interacciones muy complejas, como buscadores, acordeones, otros componentes de detalles, etc. para ello usar Toggles.</li>
  </ul>

  <div class="pb-xl"></div>
{% endblock %}