{% set componente = [
  "button",
  "botones",
  "Botones",
  "Los botones son elementos sobre los que se puede interactuar para realizar acciones o navegar.",
  "Componentes principales"
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenuCode(componente[1]) }}
  <div class="pb-xl"></div>
  {{ componentMenuNavigation({
    "items": [
      {
        "href": "componente-botones-codigo.html",
        "text": "Button",
        "active": true
      },
      {
        "href": "componente-botones-loader-codigo.html",
        "text": "Button-loader"
      }
    ],
    "attributes": {
      "aria-label": "Menu de botones"
    }
  })  }}
  <div class="pb-xl"></div>
  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}