{% set componente = [
  "accordion-history",
  "acordeon-historico",
  "Acordeón histórico",
  "La diferencia entre el acordeón histórico y el acordeón reside en que en este primero, la información que se presenta tiene un orden cronológico y habitualmente está referido a pasos que debe realizar el usuario. Al igual que en el caso del acordeón, puede haber varios elementos desplegados.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#items" class="c-link">Items</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <div class="border border-neutral-base rounded mb-base">
    <img src="images/c-acordeon-historico-anatomia.svg" alt="Anatomía de un acordeón histórico">
  </div>
  
  <ol class="c-ol">
    <li><strong>Título</strong>: Encabezado que describe el contenido del componente. Debe estar visible o sólo para lectores de pantalla en su defecto.</li>
    <li><strong>Línea cronológica</strong>: Indica el orden de los items y puede transmitir en qué situación o estado se encuentra cada uno de ellos a través del color de la marca y discontinuidad de la línea.</li>
    <li><strong>Título del item</strong>: Describe el contenido del <a href="componente-contraible-codigo.html" class="c-link">contraíble</a>. Si se ha definido un nivel de encabezado del componente, éste será de nivel siguiente.</li>
    <li><strong>Subtítulo opcional</strong>: Breve descripción que acompaña al título.</li>
    <li><strong>Contenido</strong>: Puedes incluir texto o cualquier otro componente.</li>
    <li><strong>Líneas de separación</strong>: Aísla el contenido entre contraíbles.</li>
    <li><strong>Botón</strong>: Puedes cambiar el texto o sustituirlo por un icono con los parámetros <code>"show"</code> y <code>"hide"</code>. Usa la variable <code>"showControl": true</code> para añadir un botón superior que accione todos al mismo tiempo.</li>
  </ol>
  

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Items"
  }) }}
  {% call componentExample()  %}
    <div>
      {{ componentAccordionHistory({
        "idPrefix": "accordion-status",
        "headingLevel": 3,
        "items": [
          {
            "headerText": "Item silenciado",
            "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
            "status": "muted"
          },
          {
            "headerText": "Item actual silenciado",
            "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
            "status": "currentmuted"
          },
          {
            "headerText": "Item pasado",
            "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
            "status": "past"
          },
          {
            "headerText": "Item actual",
            "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
            "status": "current"
          },
          {
            "headerText": "Item pendiente",
            "html": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>",
            "status": "pending"
          }
        ]
      })  }}
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Item silenciado"
  }) }}
  <p class="c-paragraph-base">Se muestra de color gris, ya que la información en su interior se encuentra cerrada o expirada.</p>
  {{ DSSubsectionTitle({
    title: "Item pasado"
  }) }}
  <p class="c-paragraph-base">Se muestra de color azul, ya que la información se encuentra vigente aunque la persona que lo consulta se encuentre en un item posterior.</p>
  {{ DSSubsectionTitle({
    title: "Item actual"
  }) }}
  <p class="c-paragraph-base">Se muestra de color blanco con borde azul, con un tamaño mayor que el resto. También puede encontrarse silenciado. Es la información que al usuario le interesa consultar en el presente.</p>
  {{ DSSubsectionTitle({
    title: "Item pendiente"
  }) }}
  <p class="c-paragraph-base">Se muestra de color blanco con borde gris y alberga información posterior al momento actual.</p> 
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Encabezados de nivel configurable (<code>&lt;h1&gt;-&lt;h6&gt;</code>) seguidos del panel de contenido contraído.</li>
    <li>Dentro de cada encabezado hay un elemento <code>&lt;button&gt;</code> con un <code>id</code> único, un <code>aria-controls</code> que apunta al contenido del item y un <code>aria-expanded</code> que cambia a true o false según si está contraído o no.</li>
    <li>La etiqueta de texto <q>Mostrar/Ocultar</q> tiene un <code>aria-hidden</code> para ocultarla a lectores de pantalla. Tras el encabezado se encuentra una etiqueta sólo visible para lectores de pantalla que anuncia <q>Haz click en el botón anterior para mostrar u ocultar</q>.</li>
    <li>Los nodos de cada item tienen un <code>role=img</code> y una etiqueta sólo para lectores de pantalla que anuncia el estado que representa: pasado, actual o pendiente.</li>
    <li>Cuando el primer item recibe el foco, la persona puede desplazarse entre ellos con las flechas del teclado y expandir el contraíble accionado la tecla enter o espacio.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/accordion/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón accordion de W3C{% include "includes/_external-link-icon.njk" %}</a></p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items."
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Identifica todo el componente."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>


  <div class="pb-xl"></div>
{% endblock %}