{% set componente = [
  " ",
  "info-visual",
  "Información visual",
  "Componentes que permiten el apoyo gráfico."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

{% from "components/card/_macro.card.njk" import componentCard %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>
  <p class="c-paragraph-base">Componentes que permiten el apoyo gráfico.</p>

  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
        "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-card.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-card.html" class="c-link c-link--full">Card</a></h2>
        <p class="c-paragraph-sm">Bloque de información que presenta de una manera visual y ordenada el contenido de la página.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-iconos.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
         <div>
           <h2 class="c-h3"><a href="componente-iconos.html" class="c-link c-link--full">Iconos</a></h2>
           <p class="c-paragraph-sm">Clasificados en dos colecciones de la librería Streamline según sus dimensiones.</p>
         </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/e-imagenes.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-imagenes.html" class="c-link c-link--full">Imágenes</a></h2>
        <p class="c-paragraph-sm">El uso de imágenes y objetos multimedia está limitado. Es necesario tener en cuenta ciertas guías de estilo.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light"
      })  %}
      <div>
        <div class="scale-[1] h-32 flex justify-center items-center bg-center bg-white -m-base mb-base">
          {% from "components/spinner/_macro.spinner.njk" import componentSpinner %}
          {{ componentSpinner({
            "classes": "text-6xl"
          })  }}
        </div>
        <h2 class="c-h3"><a href="componente-spinner-codigo.html" class="c-link c-link--full">Spinner</a></h2>
        <p class="c-paragraph-sm">Objeto que indica que la sección o la página está cargando.</p>
      </div>
      {% endcall %}
    </div>
  </div>


  
  <div class="pb-xl"></div>
{% endblock %}