{% set title = "Componentes. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-componentes" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}

{% block sidebarBlock %}
  <div class="hidden lg:block">
    {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
  </div>
{% endblock %}


{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <div>
    <h1 class="lg:c-h0 c-h1">Componentes</h1>
    <p class="mb-xl lg:c-paragraph-lg c-paragraph-base">Elementos de construcción que nos ayudan a crear una interfaz de usuario consistente y accesible.</p>
    <ul class="flex flex-wrap gap-base">
      <li>
        {{ componentButton({
          "html": "Ver listado completo<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent c-button--sm",
          "href": "componentes-all.html"
        }) }}
      </li>
      <li>
        {{ componentButton({
          "html": "Previsualizar componentes<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent c-button--sm",
          "href": "catalogo.html"
        }) }}
      </li>
    </ul>
    <hr class="border-t border-neutral-base my-base">
    <div class="pb-lg"></div>
  </div>

  <div class="grid lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-principales.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
        <h2 class="c-h3"><a href="componente-principales.html" class="c-link c-link--full">Componentes principales</a></h2>
        <p class="c-paragraph-sm">Elementos básicos que todas las webs y aplicaciones del Gobierno de Aragón deben incluir.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-formularios.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
          <h2 class="c-h3"><a href="componente-formularios.html" class="c-link c-link--full">Formularios</a></h2>
          <p class="c-paragraph-sm">Compuestos por inputs y grupos de inputs.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-navegacion.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
          <h2 class="c-h3"><a href="componente-navegacion.html" class="c-link c-link--full">Navegación</a></h2>
          <p class="c-paragraph-sm">Permiten el acceso a las diferentes secciones y páginas.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-mostrar-ocultar.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
        <h2 class="c-h3"><a href="componente-mostrar-ocultar.html" class="c-link c-link--full">Mostrar y ocultar</a></h2>
        <p class="c-paragraph-sm">Gestionan la visualización y organización de la información.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
       "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-datos.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
        <h2 class="c-h3"><a href="componente-datos.html" class="c-link c-link--full">Datos</a></h2>
        <p class="c-paragraph-sm">Clasifican y ordenan la información en elementos más digeribles.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-avisos.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
          <h2 class="c-h3"><a href="componente-avisos.html" class="c-link c-link--full">Avisos</a></h2>
          <p class="c-paragraph-sm">Muestran información crítica y pretenden captar la atención del usuario.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/ch-info-visual.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
      })  %}
          <h2 class="c-h3"><a href="componente-info-visual.html" class="c-link c-link--full">Información visual</a></h2>
          <p class="c-paragraph-sm">Permiten el apoyo gráfico.</p>
      {% endcall %}
    </div>
  </div>

{% endblock %}

  

{% block notificationFooterBlock %}
{% endblock %}