{% set componente = [
  "modal",
  "modal",
  "Modal",
  "Se trata de una ventana emergente o pop-up y se emplean cuando queremos centrar toda la atención en cierta información, generalmente, cuando se requiere alguna acción antes de continuar con el proceso.",
  "Avisos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#anatoma" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>

  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <p class="c-paragraph-base">Esta ventana aparece superpuesta sobre la página y el foco queda atrapado en ella. Está formada por los siguientes elementos:</p>
  <div>
      <img class="border border-neutral-base rounded" src="images/c-modal-anatomia.svg" alt="Anatomía de la modal">
  </div>
  <div class="pb-lg"></div>

 <ol class="c-ol">
    <li><a class="font-semibold">Contenedor:</a> Es la ventana que aparece superpuesta a la página, con borde <code>1 px</code> y <code>neutral-base</code>. El área exterior deberá estar con una capa de color <code>black</code> al 50% de opacidad, para ocultar el contenido de la página.</li>
    <li><span class="font-semibold">Botón de cierre:</span> Se posiciona en la esquina superior derecha y permite cerrar la ventana.</li>
    <li><a href= "componente-iconos.html#como-apoyo-visual" class="font-semibold c-link">Icono como apoyo visual:</a> Se posiciona encima del encabezado, con unas dimensiones de <code>64x64 px</code> y en la variante <code>primary-light</code> o <code>alert-light</code> según el tipo de modal.</li>
    <li><a class="font-semibold">Cabecera:</a> Se compone de un título que explique de manera clara y concisa el motivo de aparición del modal.</li>
    <li><a class="font-semibold">Contenido:</a> Texto descriptivo que puede llevar scroll en caso de ser necesario.</li>
    <li><a href="componente-botones.html" class="font-semibold c-link">Acciones:</a> Botón o grupo de botones que deberán quedar alineados a la izquierda, centrado cuando sólo es un único botón u distribuidos equitativamente a lo largo del ancho. En los casos en los que se requiera consistencia visual, como por ejemplo con un stepper, deberán ir alineado cada uno a un lado, para reforzar el significado de dirección de los botones (‘Anterior’, ‘Siguiente’).</li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}

  {% call componentExample()  %}
    <div class="flex flex-col gap-base">
      <div>
        {{ componentModal({
          "id": "icon-type-C-example",
          "title": {
            "text": "Modal informativa"
          },
          "description": {
            "text": "Si sales de la pantalla de edición sin guardar, perderás los cambios realizados."
          },
          "itemsPrimary": [
            {
              "text": "Guardar y salir",
              "classes": "c-button--primary"
            }
          ],
          "itemsSecondary": [
            {
              "text": "Descartar cambios y salir"
            }
          ],
          "isDismissible": true,
          "icon": {
            "type": "changes"
          }
        })  }}
      </div>
      <div>
        {{ componentModal({
          "id": "icon-type-A-example",
          "title": {
            "text": "Modal destructiva"
          },
          "description": {
            "text": "Esta acción no se puede deshacer ¿Estás seguro?"
          },
          "itemsPrimary": [
            {
              "html": "Cancelar <span class=\"sr-only\">y cerrar la ventana modal</span>"
            }
          ],
          "itemsSecondary": [
            {
              "text": "Si, borrar servicio",
              "classes": "c-button--alert"
            }
          ],
          "isDismissible": true,
          "icon": {
            "type": "delete"
          }
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Informativa"
  }) }}
  <p class="c-paragraph-base">
    En este caso, el botón principal se coloca a la izquierda.</p>
  {{ DSSubsectionTitle({
    title: "Destruciva"
  }) }}
  <p class="c-paragraph-base">En caso de que la acción requiera confirmar la eliminación de una determinada información, el botón principal se coloca a la derecha, con color rojo (alerta), al igual que el icono.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>La modal se lanza a través de un <a href="componente-modal-dialog-codigo.html" class="c-link">dialog</a>, que muestra el componente sobre la página oscurecida. Si haces click fuera del contenedor o si pulsas la tecla Esc se cierra el contenido del Dialog. El accionable que despliega la modal necesita los atributos <code>"role":"dialog"</code>, <code>"aria-modal": true</code> y un <code>aria-labelledby</code> que apunta al id del título de la modal.</li>
    <li>Los iconos de apoyo configurados en el componente tienen su propio <code>role=presentation</code> y <code>aria-hidden=true</code> para ocultarlo de los lectores de pantalla. El icono de cierre tiene su <code>aria-label</code> también configurado.</li>
    <li>Cuando una persona navega con teclado y aparece la modal, el foco salta al título y queda atrapado en el contenedor hasta que realiza una acción.</li>
  </ul>

  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/dialog-modal/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón Dialog Modal de W3C{% include "includes/_external-link-icon.njk" %}</a></p>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Añade identificadores únicos para el contenedor de la modal y su título"
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'En el SVG personalizado'
          },
          {
            "html": "Describe el tipo de modal que se está lanzando."
          }
        ],
        [
          {
            "html": '<code>role=dialog</code>, <code>aria-labelledby</code> y <code>aria-modal=true</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code> cuando se utiliza un <a href="componente-modal-dialog-codigo.html" class="c-link">dialog</a> para lanzar la modal.'
          },
          {
            "html": "Necesarios para que el componente sea legible por lectores de pantalla."
          }
        ],
        [
          {
            "html": '<code>onClick: openDialog(id-1, this, id-2)</code>'
          },
          {
            "html": 'En el parámetro Nunjucks <code>button</code> del componente <a href="componente-modal-dialog-codigo.html" class="c-link">dialog</a>, dentro de <code>attributes</code>.'
          },
          {
            "html": 'Ejecuta la función <code>openDialog</code>, que permite lanzar la modal. El primer parámetro de esta función es el <code>id</code> del contenido a mostrar, el segundo parámetro es el nodo que debe tomar foco al cerrar el dialog, y el tercer elemento es el <code>id</code> del elemento al que se le da el foco al abrir el contenido.'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Se recomienda emplear solamente para transmitir información relevante, incluyendo únicamente un mensaje por modal.</li>
    <li>Se recomienda mantener los campos de entradas y las llamadas a acciones al mínimo.</li>
    <li>En caso de emplear un icono en la cabecera, debe acompañar el mensaje y aporte información relevante, no se incluye de manera decorativa. Además, se deben emplear <a href="componente-iconos.html#como-apoyo-visual" class="c-link">iconos de la librería Streamline bold como apoyo visual</a>, a un tamaño de entre <code>64px</code> y <code>120px</code>. Deberás incluirlo como SVG.</li>
  </ul>


  <div class="pb-xl"></div>
{% endblock %}