
{% set description %}
  Campo que permite desplegar un calendario para seleccionar una fecha o rango de fechas. Basado en la librería <a href="https://wicky.nillia.ms/cally/" class="c-link" target="_blank" title="Se abre en ventana nueva">Cally<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path fill="currentcolor" fill-rule="evenodd" d="M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></a>
{% endset %}

{% set componente = [
  "datepicker",
  "datepicker",
  "Calendario",
  description | safe,
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#variantes-de-calendario" class="c-link">Variantes de calendario</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
    <div>
      <img src="images/c-datepicker-anatomia.svg" alt="Elementos que forman el componente calendario." class="mb-0">
    </div>
  {% endcall %}

  
  <ol class="c-ol">
    <li><a href="componente-input-text.html" class="c-link"><strong>Entrada de texto</strong></a>: Permite escribir la fecha en lugar de seleccionarla y posee las mismas variantes y elementos que un campo de texto. La fecha debe estar en el mismo formato que se indica.</li>
    <li><a href="componente-dropdown.html" class="c-link"><strong>Botón desplegable</strong></a>: Se encuentra dentro del campo y despliega un contenedor con el calendario que permite seleccionar la fecha. En su lugar también puedes utilizar una variante con etiqueta de texto al lado del campo.</li>
    <li><a href="componente-datepicker-codigo.html" class="c-link"><strong>Calendario</strong></a>: Selector visual que permite elegir uno, varios días o un rango de fechas concreto. Basado en la librería <a href="https://wicky.nillia.ms/cally/" class="c-link inline-block" target="_blank" title="Se abre en ventana nueva">Cally{% include "includes/_external-link-icon.njk" %}</a></li>
    <li><a href="componente-botones" class="c-link"><strong>Botones</strong></a>: Cuando se acepta la fecha seleccionada, se escribe automáticamente en la entrada de texto con el formato adecuado. Cancelar o pulsar fuera cierra el desplegable sin guardar la fecha.</li>

  </ol>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Variantes de calendario"
  }) }}
  <p class="c-paragraph-base">Deberás configurarlo a partir de la <a href="https://wicky.nillia.ms/cally/" class="c-link inline-block" target="_blank" title="Se abre en ventana nueva">documentación de Cally{% include "includes/_external-link-icon.njk" %}</a></p>
  {{ DSSubsectionTitle({
    title: "Fecha única o múltiple"
  }) }}
  <p class="c-paragraph-base">Podrás seleccionar uno o varios días.</p>
  {% call componentExample()  %}
    
    {% call componentDatepicker({
      "id": "datepicker-multi",
      "standalone": true
    }) %}
      <calendar-multi
        value="2024-01-10 2024-01-20"
        min="2024-01-01"
        max="2024-12-31"
        locale="es-ES"
      >
      <div slot="previous">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
      </div>

      <div slot="next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
      </div>

        <div class="flex flex-wrap justify-center gap-lg">
          <calendar-month></calendar-month>
        </div>
      </calendar-multi>
    {% endcall  %}
  {% endcall %}
  <div class="mb-lg"></div>

  {{ DSSubsectionTitle({
    title: "Rango de fechas"
  }) }}
  <p class="c-paragraph-base">Pulsa primero el día de incio y después el de fin para seleccionar un rango de fechas.</p>
  {% call componentExample()  %}
    <div>
      {% from "components/datepicker/_macro.datepicker.njk" import componentDatepicker %}
      {% call componentDatepicker({
        "id": "datepicker-range",
        "standalone": true
      }) %}
      <calendar-range
          value="2024-01-10/2024-01-20"
          min="2024-01-01"
          max="2024-12-31"
          locale="es-ES"
        >
            <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
      
            <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
      
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-range>
      {% endcall  %}
    </div>
  {% endcall %}
  <div class="mb-lg"></div>

  {{ DSSubsectionTitle({
    title: "Selector de año"
  }) }}
  <p class="c-paragraph-base">Si necesitas navegar a otro año disinto puedes utilizar un selector que te permita elegirlo.</p>
  {% call componentExample()  %}
    <div>
      {% call componentDatepicker({
        "id": "datepicker-years",
        "standalone": true
      }) %}
      <calendar-date
          value="2024-01-10"
          min="2024-01-01"
          max="2024-12-31"
          locale="es-ES"
        >
            <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
      
            <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
      
            <div slot="heading" class="order-first w-full flex justify-center">
          <!-- select -->
      <div class="c-form-group -mb-12">
        <!-- label -->
        <label class="block text-sm" for="select-years-datepicker-years">Selecciona año</label>
        <!-- /label -->
        <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-select--sm w-full" id="select-years-datepicker-years" name="select-years-datepicker-years">
          <option value="2024" selected>2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
      <!-- /select -->
        </div>
      
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>
  {% endcall %}
  <div class="mb-lg"></div>

  {{ DSSubsectionTitle({
    title: "Múltiples meses"
  }) }}
  <p class="c-paragraph-base">A veces necesitas seleccionar varios días o un rango de fechas que abarca varios meses. En esta variante se pueden visualizar dos meses consecutivos.</p>
  {% call componentExample()  %}
    <div>
      {% call componentDatepicker({
        "id": "datepicker-range2",
        "standalone": true
      }) %}
      <calendar-range
          months="2"
          value="2024-01-16/2024-02-04"
          min="2024-01-01"
          max="2024-12-31"
          locale="es-ES"
        >
            <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
      
            <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
      
            <div slot="heading" class="order-first w-full flex justify-center">
          <!-- select -->
      <div class="c-form-group -mb-12">
        <!-- label -->
        <label class="block text-sm" for="select-years-datepicker-range2">Selecciona año</label>
        <!-- /label -->
        <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-select--sm w-full" id="select-years-datepicker-range2" name="select-years-datepicker-range2">
          <option value="2024" selected>2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
      <!-- /select -->
        </div>
      
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
            <calendar-month offset="1"></calendar-month>
          </div>
        </calendar-range>
      {% endcall  %}
    </div>
  {% endcall %}

  <div class="mb-lg"></div>

  {{ DSSubsectionTitle({
    title: "Formato desplegable"
  }) }}
  <p class="c-paragraph-base">Es el caso de uso más habitual: un desplegable dentro de un campo en el contexto de un formulario. Hereda las mismas variantes que el resto de inputs.</p>
  {% call componentExample()  %}
    <div>
      {% call componentDatepicker({
        "id": "datepicker-default",
        "name": "test-name",
        "label": {
          "text": "Elige fecha de inicio"
        },
        "hint": {
          "html": "Usa el formato: <span aria-hidden=\"true\">AAAA-MM-DD (año-mes-día)</span><span class=\"sr-only\">año con 4 dígitos, guión simple, mes con dos dígitos, guión simple y día con dos dígitos</span>."
        },
        "pattern": "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      }) %}
      <calendar-date
          min="2024-01-01"
          max="2024-12-31"
          locale="es-ES"
        >
            <div slot="previous">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes anterior"><path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z" fill="currentColor"></path></svg>
        </div>
      
            <div slot="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em" width="1em" class="self-center my-1" focusable="false" role="img" aria-label="Mes siguiente"><path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z" fill="currentColor"></path></svg>
        </div>
      
          <div class="flex flex-wrap justify-center gap-lg">
            <calendar-month></calendar-month>
          </div>
        </calendar-date>
      {% endcall  %}
    </div>
  {% endcall %}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Elemento <code>&lt;input&gt;</code> con la misma lógica que conlleva el componente <a href="componente-input-text.html" class="c-link">entrada de texto</a>. Es necesario extender la descripción del formato de fecha para lectores de pantalla con un <code>.sr-only</code>. A su derecha se encuentra un elemento <code>&lt;button&gt;</code> con la misma lógica que conlleva el componente <a href="componente-dropdown.html" class="c-link">desplegable</a> y un <code>aria-haspopup=modal</code>. Cuando el botón solo tiene un icono, dispone de una etiqueta con <code>.sr-only</code> que anuncia "Seleccionar fecha".</li>
    <li>El contenedor desplegable tiene por defecto una lista <code>&lt;ul&gt;</code> con dos <code>&lt;button&gt;</code> que permiten aceptar o cancelar la selección, además de un <span lang="en">caller</span> que llama al calendario.
      <ul class="c-il mt-base">
        <li>Este componente se encaja en un contenedor con <code>role=group</code>, un <code>aria-labelledby</code> que apunta a un texto con el mes y año actuales.</li>
        <li>La cabecera tiene un <code>aria-live=polite</code> y un <code>aria-atomic=true</code> que indica que este contenido es autónomo y permite ser actualizado sin afectar a los anteriores.</li>
        <li>Los botones de mes anterior y siguiente siguen la lógica del componente <a href="componente-botones.html" class="c-link">botón</a> y tienen etiquetas que describen la acción para lectores de pantalla.</li>
        <li>El texto de año tiene un <code>aria-hidden=true</code> para evitar información redundante y puede ser sustituido por un <a href="componente-selector.html" class="c-link">selector</a> para elegir año.</li>
          <li>El listado de días se encuentra dentro de un elemento <code>&lt;table&gt;</code> y las iniciales de los días de la semana en una fila de cabecera <code>&lt;thead&gt;</code>, junto con una etiqueta que anuncia el nombre completo para lectores de pantalla.  
            <ul class="c-ul mt-base">
              <li>Cada uno de los días es un <code>&lt;button&gt;</code>, con un <code>aria-pressed</code> que indica si está seleccionado y un <code>aria-label</code> que describe el mes al que corresponde el día.</li>
            </ul>
          </li>
      </ul>
    </li>
      
  
    <li>Cuando una persona navegue con teclado puede tabular entre las flechas de navegación de meses y moverse entre la tabla de días con las flechas del teclado. La selección de días se realiza con la tecla enter o el espacio. También es posible avanzar o retroceder de mes desde la tabla de días saliendo por los bordes superior e inferior.</li>
    
  </ul>
  <p class="c-paragraph-base">Más información en la documentación de <a href="https://wicky.nillia.ms/cally/" class="c-link inline-block" target="_blank" title="Se abre en ventana nueva">Cally{% include "includes/_external-link-icon.njk" %}</a> y en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</li>


  
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre <code>&lt;label&gt;</code>, hint, error y el <code>&lt;input&gt;</code>."
          }
        ],
        [
          {
            "html": '<code>role=img</code> y <code>aria-label</code>'
          },
          {
            "html": 'SVG de los botones de avanzar y retroceder mes de cabecera'
          },
          {
            "html": "Describen la acción para lectores de pantalla."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>

{% endblock %}