{% set componente = [
  " ",
  "principales",
  "Componentes principales",
  "Elementos de interacción y navegación básicos que deben estar presentes de manera obligatoria en todas las webs y aplicaciones del Gobierno de Aragón."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/footer/_macro.footer.njk" import componentFooter %}
{% from "components/card/_macro.card.njk" import componentCard %}

{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>
  <p class="c-paragraph-base">Elementos de interacción y navegación básicos que deben estar presentes de manera obligatoria en todas las webs y aplicaciones del Gobierno de Aragón.</p>

  <div class="pb-lg"></div>
  <div class="grid grid-cols-1 lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-boton.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 id="titulo-card-1" class="c-h3"><a href="componente-botones.html" class="c-link c-link--full">Botones</a></h2>
        <p class="c-paragraph-sm">Los botones son elementos sobre los que se puede interactuar para realizar acciones o navegar.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-header.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
         <div>
           <h2 id="titulo-card-2" class="c-h3"><a href="componente-cabeceras.html" class="c-link c-link--full">Cabeceras</a></h2>
           <p class="c-paragraph-sm">Proporciona un acceso a funciones de todo el sistema y elementos de navegación local.</p>
         </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-footer.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 id="titulo-card-3" class="c-h3"><a href="componente-footer.html" class="c-link c-link--full">Pie de página</a></h2>
        <p class="c-paragraph-sm">Muestra información de contacto y facilita la navegación hacia recursos clave del sitio web.</p>
      </div>
      {% endcall %}
    </div>
  </div>

  
  <div class="pb-xl"></div>
{% endblock %}