{% set componente = [
  "select",
  "selector",
  "Selector",
  "Es un elemento de formulario que permite seleccionar una opción de entre un listado de varias.
  Cuando está plegado, muestra la opción actualmente seleccionada y cuando está expandido muestra una lista desplegable de opciones predefinidas.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/table/_macro.table.njk" import componentTable %}





{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
    <li class="pb-sm"><a href="#diferencias-entre-componentes" class="c-link">Diferencias entre componentes</a></li>
  </ul>
  <div class="pb-xl"></div>
  {% call componentExample()  %}
    <div>
        {{ componentSelect({
          "id": "select-example",
          "name": "select-example",
          "label": {
            "text": "Selector"
          },
          "items": [
            {
              "value": 1,
              "text": "Opción 1"
            },
            {
              "value": 2,
              "text": "Opción 2",
              "selected": true
            },
            {
              "value": 3,
              "text": "Opción 3",
              "disabled": true
            }
          ]
        })  }}
      </div>
  {% endcall %}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Usa este componente cuando tengas más de 5 opciones a listar. Para menos opciones recomendamos usar <a href="componente-checkboxes.html" class="c-link">casillas de verificación</a> o <a href="componente-radios.html" class="c-link">botones de radio</a>.</li>
    <li>Siempre que sea posible, selecciona una opción por defecto. Si no hay alguna opción que pueda ser seleccionada o si es importante que la persona vea las opciones que se plantean, usa por defecto una opción null con un texto explicativo, por ejemplo <q>seleccionar una opción…</q> o <q>Indicar tipo…</q>. Por lo general, no mostrar el desplegable vacío.</li>
    <li>Ordena las opciones de manera que tenga sentido para el usuario. Por defecto se recomienda ordenarlas por orden alfabético, pero hay algunos campos que es más apropiado ordenarlos según la frecuencia de uso, tipo de acciones o cualquier otro criterio.</li>
    <li>Los items se pueden agrupar.</li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;select&gt;</code> con varios <code>&lt;option&gt;</code> u <code>&lt;optgroup&gt;</code> anidados.</li>
    <li>En el caso del <a href="componente-listbox-codigo.html" class="c-link">listbox</a>, se construye con un <code>&lt;button&gt;</code> que contiene el parámetro <code>aria-haspup=listbox</code>. 
      <ul class="c-ul mt-base">
        <li>Los items del desplegable se encuentran en una lista <code>&lt;ul&gt;</code> con <code>role=listox</code>, y cada uno de ellos tiene el <code>role=option</code>. Sólo de esta manera los lectores de pantalla pueden interpretar la información correctamente.</li>
      </ul>
    </li>
    <li>Al tomar el foco, la persona que utiliza el teclado puede accionar el botón y navegar por los items de la lista con las flechas de dirección.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/listbox/" class="c-link" target="_blank" title="Se abre en pestaña nueva">patrón listbox de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  <p class="c-paragraph-base">Más información sobre los inputs en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre label, hint, error y el selector. Debe ser único."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>


  

  {% include "includes/docs-componentes/_dropdown-listbox-selector-dif.njk" %}

 
  <div class="pb-xl"></div>
{% endblock %}