{% set componente = [
  "input-group",
  "bloques-de-datos",
  "Bloques de datos",
  "Son elementos de formulario estandarizados compuestos de varias entradas de texto agrupadas, las cuales comparten sentido semántico.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <div class="p-base bg-neutral-light"><p>Consulta más agrupaciones habituales en <a href="patrones.html" class="c-link">patrones</a>.</p></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm py-xl">
    <li class="pb-sm"><a href="#bloque-fecha" class="c-link">Bloque fecha</a></li>
    <li class="pb-sm"><a href="#bloque-hora" class="c-link">Bloque hora</a></li>
    <li class="pb-sm"><a href="#bloque-id" class="c-link">Bloque ID</a></li>
    <li><a href="#bloque-datos-personales" class="c-link">Bloque datos personales</a></li>
  </ul>

  {{ DSSectionTitle({
    title: "Bloque fecha"
  }) }}
  <p class="c-paragraph-base">Incluye tres campos para introducir carácteres numéricos de día, mes y año respectivamente.</p>
  {% call componentExample()  %}
    <div>
      <!-- date-input -->
      <div class="c-form-group">
      <!-- fieldset -->
      <fieldset role="group">
        <legend class="  font-bold">
          Fecha de nacimiento
        </legend>
        <!-- hint -->
        <p id="time-hint1" class="block text-neutral-dark">
          Por ejemplo, 9/1/1997
        </p>
        <!-- /hint -->
          <div class="flex" id="fechnacim-1">
              <div class="mr-base">
                <!-- input -->
            <div class="c-form-group">
              <!-- label -->
              <label class="block" for="fechnacim-1-día">Día</label>
              
              <!-- /label -->
              <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-14" id="fechnacim-1-día" name="fechnacim-1-día" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2">
            </div>
            <!-- /input -->
              </div>
              <div class="mr-base">
                <!-- input -->
            <div class="c-form-group">
              <!-- label -->
              <label class="block" for="fechnacim-1-mes">Mes</label>
              
              <!-- /label -->
              <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-14" id="fechnacim-1-mes" name="fechnacim-1-mes" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2">
            </div>
            <!-- /input -->
              </div>
              <div class="mr-base">
                <!-- input -->
            <div class="c-form-group">
              <!-- label -->
              <label class="block" for="fechnacim-1-año">Año</label>
              
              <!-- /label -->
              <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-20" id="fechnacim-1-año" name="fechnacim-1-año" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4">
            </div>
            <!-- /input -->
              </div>
        </div>
      </fieldset>
      <!-- /fieldset --></div>
      <!-- /date-input -->
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Buenas prácticas para el bloque fecha"
  }) }}
  <ul class="c-ul">
    <li>El campo para introducir el año debe ajustarse al tamaño de un dato de cuatro cifras, mientras que el campo de día y mes se deben ajustar a un input de dos cifras.</li>
    <li>Debido a los problemas de accesibilidad que enfentan los componentes de calendario, recomendamos utilizar esta alternativa.</li>
    <li>La validación debe permitir que los días o meses se introduzcan con o sin 0, Por ejemplo tanto 01 02 2024 como 1 2 2024 tienen que ser aceptados.</li>
    <li>Si el campo requiere introducir los datos dentro de un rango concreto, indícalo claramente en el hint y en el mensaje de error. Por ejemplo: <q>la fecha tiene que ser anterior al día actual</q>, <q>error: La fecha introducida tiene que ser anterior a el día actual</q>.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Bloque hora"
  }) }}
  <p class="c-paragraph-base">Incluye dos campos para la inserción de caracteres numéricos de hora y minutos respectivamente, separados por ‘:’.</p>
  {% call componentExample()  %}
    <div>
      <!-- date-input -->
      <div class="c-form-group">
      <!-- fieldset -->
      <fieldset role="group" aria-describedby="time-hint2">
        <legend class="  font-bold">
          Hora de publicación
        </legend>
          <!-- hint -->
        <p id="time-hint2" class="block text-neutral-dark">
          Por ejemplo, 14:30
        </p>
        <!-- /hint -->
        <div class="flex" id="time">
              <div class="mr-base">
                <!-- input -->
            <div class="c-form-group">
              <!-- label -->
              <label class="block" for="time-hora">Hora</label>
              
              <!-- /label -->
              <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-14" id="time-hora" name="time-hora" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2">
            </div>
            <!-- /input -->
              </div>
              <div class="flex items-end mb-sm mr-base" role="separator">
                  <p>
                    :
                  </p>
              </div>
              <div class="mr-base">
                <!-- input -->
            <div class="c-form-group">
              <!-- label -->
              <label class="block" for="time-minutos">Minutos</label>
              
              <!-- /label -->
              <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-14" id="time-minutos" name="time-minutos" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2">
            </div>
            <!-- /input -->
              </div>
        </div>
      </fieldset>
      <!-- /fieldset --></div>
      <!-- /date-input -->
  </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Buenas prácticas para el bloque hora"
  }) }}
  <ul class="c-ul">
    <li>El tamaño de los inputs se ajusta para introducir únicamente dos cifras.</li>
    <li>La validación debe permitir que se introduzcan los valores con o sin 0. Por ejemplo, tanto 01:02 como 1:2 tienen que ser aceptados</li>
    <li>Si el campo requiere introducir horas en un rango concreto, indícalo claramente en el hint y en el mensaje de error. Por ejemplo: <q>la hora debe ser entre las 10:00 y las 14:00</q>,<q>error: la hora debe ser entre las 10:00 y las 14:00</q>.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Bloque ID"
  }) }}
  <p class="c-paragraph-base">Incluye un selector para escoger el tipo de identificación y un campo para insertar los caracteres correspondientes a la identificación.</p>
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentInputGroup({
          "id": "doc-identidad-1",
          "namePrefix": "doc-identidad",
          "fieldset": {
            "legend": {
              "text": "Documento de identidad"
            }
          },
          "items": [
            {
              "name": "tipo-doc",
              "formGroup": {
                "classes": "mr-base"
              },
              "classes": "w-full lg:w-auto",
              "label": {
                "text": "Tipo"
              },
              "isSelect": true,
              "selectItems": [
                {
                  "value": 1,
                  "text": "NIF",
                  "selected": true
                },
                {
                  "value": 2,
                  "text": "Pasaporte"
                }
              ]
            },
            {
              "name": "num-doc",
              "classes": "w-full lg:w-64",
              "label": {
                "text": "Número"
              },
              "placeholder": "Ej: 28999876V"
            }
          ]
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Buenas prácticas para el bloque ID"
  }) }}
  <p class="c-paragraph-base">Intenta dar pistas a través del placeholder del formato de información que requiere el campo. Por ejemplo: cuántos caracteres debe introducir, si son solo números o números y letras, etc.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Bloque datos personales"
  }) }}
  <p class="c-paragraph-base">Incluye un campo reservado a introducir el nombre, otro campo para introducir los apellidos y opcionalmente un selector para introducir información opcional.</p>
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentInputGroup({
          "id": "datos-autocomplete",
          "fieldset": {
            "legend": {
              "text": "Datos del solicitante"
            }
          },
          "items": [
            {
              "isSelect": true,
              "name": "titulo",
              "label": {
                "text": "Titulo"
              },
              "formGroup": {
                "classes": "mr-base"
              },
              "classes": "w-20",
              "selectItems": [
                {
                  "value": 1,
                  "text": "Sr.",
                  "selected": true
                },
                {
                  "value": 2,
                  "text": "Sra."
                }
              ]
            },
            {
              "name": "nombre",
              "label": {
                "text": "Nombre"
              },
              "formGroup": {
                "classes": "mr-base"
              },
              "classes": "w-full lg:w-auto",
              "autocomplete": "given-name"
            },
            {
              "name": "apellidos",
              "label": {
                "text": "Apellidos"
              },
              "classes": "w-full lg:w-auto",
              "autocomplete": "family-name"
            }
          ]
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Buenas prácticas para el bloque datos personales"
  }) }}
 <p class="c-paragraph-base">Recomendamos que, siempre que no sea estrictamente necesario, solo haya un campo para ambos apellidos.</p>



  <div class="pb-xl"></div>
{% endblock %}