{% set componente = [
  "tree",
  "tree",
  "Árbol",
  "Este elemento ofrece la posibilidad de seleccionar una o varias opciones organizadas jerárquicamente.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/tree/_macro.tree.njk" import componentTree %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatomia" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#tamaos" class="c-link">Tamaños</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
    <div>
      <img src="images/c-arbol-anatomia.svg" alt="Anatomía de elementos del árbol" class="-my-base">
    </div>
  {% endcall %}
  <ul class="c-ol">
    <li><a href="componente-label-codigo.html" class="font-semibold c-link">Etiqueta:</a> Indica la información a incluir en el campo, siempre tiene que estar. En caso de que se quiera ocultar deberá tener la clase <code>sr-only</code>, para que sea legible por los lectores de pantalla.
    </li>
    <li><a href="componente-hint-codigo.html" class="font-semibold c-link">Pista:</a> Es opcional y es una descripción del dato a introducir.</li>
    <li><a href="componente-searchbar.html" class="font-semibold c-link">Buscador:</a> Cuando el listado sea muy extenso, se puede incluir una barra de búsqueda que ayude a la parsona a encontrar los items que busca.</li>
    <li><a href="componente-mensaje-error-codigo.html" class="font-semibold c-link">Error:</a> En caso de que el campo requiera validación o sea obligatorio, puede aparecer un error indicando el problema con el dato introducido.</li>
    <li><a class="font-semibold">Item:</a> Pueden ser botones de <a href="componente-checkboxes.html" class="c-link">selección múltiple</a> o <a href="componente-radios.html" class="c-link">selección única</a>, con todas las variantes que ellos conllevan. Los items que albergan subitems contienen un botón en forma de más <q>+</q> que los muestra al ser pulsado. Una vez desplegado este botón toma la apariencia de un menos <q>-</q> pudiendo ser accionado de nuevo para ocultar los subitems.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tamaños"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-2xl">
      <div>      
      {{ componentTree({
        "name": "default",
        "classes": "mt-base",
        "id": "tree-default",
        "fieldset": {
          "legend": {
            "text": "Tamaño base"
          }
        },
        "idPrefix": "default-example",
        "items": [
          {
            "text": "Item 1",
            "id": "default-example-item-1",
              "attributes": {
                "aria-labelledby": "default-example-item-1"
              }
          },
          {
            "text": "Item 2",
            "id": "default-example-item-2",
            "expanded": true,
            "sub": {
              "items": [
                {
                  "text": "Subitem 1",
                  "value": "subitem-1"
                },
                {
                  "text": "Subitem 2",
                  "value": "subitem-2"
                },
                {
                  "text": "Subitem 3",
                  "value": "subitem-3"
                }
              ],
              "attributes": {
                "aria-labelledby": "default-example-item-2"
              }
            }
          },
          {
            "text": "Item 3",
            "id": "default-example-item-3",
              "attributes": {
                "aria-labelledby": "default-example-item-3"
              }
            
          }
        ]
      })  }}
      </div>
      <div>
       {{ componentTree({
          "name": "with-classes-applied",
          "classes": "c-tree--sm mt-sm",
          "id": "tree-with-classes-applied",
          "fieldset": {
            "legend": {
              "text": "Tamaño pequeño"
            }
          },
          "items": [
            {
              "text": "Item 1",
              "value": "item-1",
              "classes": "-mt-xs pt-1",
              "label": {
                "classes": "text-sm -mt-1"
              }
            },
            {
              "text": "Item 2",
              "value": "item-2",
              "classes": "-mt-xs pt-1",
              "label": {
                "classes": "text-sm -mt-1"
              },
              "expanded": true,
              "id": "classes-1",
              "sub": {
                "items": [
                  {
                    "text": "Subitem 1",
                    "value": "subitem-1",
                    "classes": "-mt-xs pt-1",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "text": "Subitem 2",
                    "value": "subitem-2",
                    "classes": "-mt-xs pt-1",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "text": "Subitem 3",
                    "value": "subitem-3",
                    "classes": "-mt-xs pt-1",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  }
                ],
                "attributes": {
                  "aria-labelledby": "classes-1"
                }
              }
            },
            {
              "text": "Item 3",
              "value": "item-3",
              "classes": "-mt-xs pt-1",
              "label": {
                "classes": "text-sm -mt-1"
              }
            }
          ]
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Tamaño base"
  }) }}
  <p class="c-paragraph-base">Utilizar por defecto para cualquier tipo de situaciones y layouts. Siempre que sea posible se recomienda usar este tamaño por motivos de accesibilidad.</p>
  {{ DSSubsectionTitle({
    title: "Tamaño pequeño"
  }) }}
  <p class="c-paragraph-base">Se recomienda su uso cuando el elemento estándar sea demasiado grande para el espacio donde debe de encajar.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>El componente está rodeado con un <code>&lt;fieldset&gt;</code>. Se trata de una lista <code>&lt;ul&gt;</code> con <code>role=tree</code> que contiene otras listas anidadas. Cada lista anidada tiene un <code>role=group</code> y cada item tiene un <code>role=treeitem</code>, un <code>&lt;input&gt;</code> y un <code>&lt;label&gt;</code>. El <code>aria-expanded</code> de cada item padre indica al lector de pantalla si está contraído o no.</li>
    <li>Al tomar el foco, la persona que utiliza el teclado puede navegar por los items de la lista con las flechas de dirección.</li>
    <li>Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/treeview/" class="c-link" target="_blank" title="Se abre en pestaña nueva">patrón tree de W3C{% include "includes/_external-link-icon.njk" %}</a></li>
  </ul>
  <p class="c-paragraph-base">Más información sobre los inputs en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</p>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>fieldset</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Utiliza el parámetro <code>legend</code> de su interior como título. Debe ser visible."
          }
        ],
        [
          {
            "html": '<code>aria-labelledby</code>'
          },
          {
            "text": "En la lista de subitems"
          },
          {
            "html": "Apunta al <code>id</code> del item padre. El lector de pantalla anunciará quién es el padre del item actual."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": ""
    }) }}
  </div>

  <div class="pb-xl"></div>
{% endblock %}