{% set componente = [
  "status-item",
  "status",
  "Item de estado",
  "Bloque con listas de descripción o etiquetas, además de información del estado de las aportaciones realizadas. Generalmente utilizado en formularios.",
  "Datos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/status-item/_macro.status-item.njk" import componentStatusItem %}
{% from "components/status/_macro.status.njk" import componentStatus %}
{% from "components/table/_macro.table.njk" import componentTable %}






{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#estados" class="c-link">Estados</a></li>
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <div class="border border-neutral-base rounded mb-base">
    <img src="images/c-status-anatomia.svg" alt="Anatomía de un item de estado">
  </div>
 
  <ol class="c-ol">
    <li><a class="font-semibold">Borde de error:</a> Grosor de 4 px y color <code>alert-base</code> a la izquierda del contenedor cuando hay un estado de error. Lo acompaña un mensaje de error. </li>
    <li><a class="font-semibold">Título:</a> Encabeza el contenido que se muestra.</li>
    <li><a class="font-semibold">Subtítulo opcional:</a> A veces es necesario un texto secundario en color <code>neutral-dark</code> que describa brevemente el contenido. También puede incluirse un enlace a un modelo adjunto u otros contenidos relevantes.</li>
    <li><a class="font-semibold">Items:</a> Cada término se encuentra asociado a una definición. Por ejemplo, para visualizar bloques de datos aportados, como nombre o dirección. Dependiendo de su naturaleza puede sustituirse por una etiqueta de título, una pista de los datos a introducir o enlaces a documentos.</li>
    <li><a href="componente-mensaje-error-codigo.html" class="font-semibold c-link">Mensaje de error:</a> Indica problema en la carga de datos o en la introducción de los mismos.</li>
    <li><a href="componente-botones.html" class="font-semibold c-link">Botones:</a> Uno o varios botones que permiten la aportación, modificación o consulta de datos y documentos por parte del usuario.</li>
    <li><a href="componente-status-subitem-codigo.html" class="font-semibold c-link">Estado:</a> Subcomponente que muestra al usuario en qué situación se encuentra la aportación: incompleto, cargando, completado y error. Cada uno está acompañado de un <a href="componente-iconos.hmtl" class="c-link">icono</a> como apoyo a la etiqueta de texto.</li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Estados"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-lg mb-base">
      <div>
        {{ componentStatus({
          "text": "Completo",
          "icon": {
            "type": "success"
          }
        })  }}
      </div>
      <div>
        {{ componentStatus({
          "text": "Incompleto",
          "icon": {
            "type": "alert"
          },
          "classes": "text-alert-base"
        })  }}
      </div>
      <div>
        {{ componentStatus({
          "text": "Subiendo (20%)",
          "icon": {
            "type": "loading"
          }
        })  }}
      </div>
      <div>
        {{ componentStatus({
          "text": "Error",
          "icon": {
            "type": "error"
          },
          "classes": "text-alert-base"
        })  }}
      </div>
      <div>
        {{ componentStatus({
          "text": "Atención",
          "icon": {
            "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4 text-primary-base\" aria-hidden=\"true\" focusable=\"false\"><path d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z\" fill=\"currentColor\"/></svg>"
          }
        })  }}
      </div>
    </div>
  {% endcall %}
  <p class="c-paragraph-base">El subcomponente <a href="componente-status-subitem-codigo.html" class="c-link">estado</a> distingue entre las variantes: éxito en la subida, aportaciones incompletas, porcentaje de carga, error en la carga y aviso de consideraciones a tener en cuenta.</p>

   <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col flex-wrap gap-base mb-base">
      <div>
        {{ componentStatusItem({
          "id": "example2",
          "title": {
            "text": "Por defecto"
          },
          "status": {
            "text": "Completo",
            "icon": {
              "type": "success"
            }
          },
          "caller": "<button class=\"c-button c-button--transparent\" data-module=\"c-button\">Acción</button>"
        })  }}
      </div>
      <div>
        {{ componentStatusItem({
          "id": "with-status-error",
          "title": {
            "text": "Alerta"
          },
          "errorMessage": {
            "text": "Descripción del error",
            "classes": "my-sm text-alert-base"
          },
          "status": {
            "text": "Error",
            "icon": {
              "type": "error"
            },
            "classes": "text-alert-base"
          },
          "caller": "<button class=\"c-button c-button--transparent\" data-module=\"c-button\">Acción</button>",
          "classes": "border-l-4 border-alert-base"
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">Apariencia del bloque para los estados de subiendo, éxito y atención.</p>
  {{ DSSubsectionTitle({
    title: "Alerta"
  }) }}
  <p class="c-paragraph-base">Apariencia del bloque para los estados de incompleto y error. Se marca con una línea de alerta roja en su borde izquierdo.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Contenedor con un <code>id</code> único y una lista <code>&lt;dl&gt;</code> de términos <code>&lt;dt&gt;</code> y definiciones <code>&lt;dd&gt;</code>.</li>
    <li>Los iconos de estado tienen el parámetro <code>aria-hidden=true</code> por defecto, por lo que el texto que les acompaña debe describir claramente el estado.</li>
    <li>Se puede utilizar el componente como un caller para anidar contenido como botones de acciones. Cada botón debe tener un <code>&lt;span&gt;</code> con <code>.sr-only</code> que extienda la descripción de la acción.</li>
  </ul>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Identifica el título del componente."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>

  <div class="pb-xl"></div>
{% endblock %}