{% set componente = [
  "dropdown",
  "dropdown",
  "Desplegable",
  "Es un componente que nos permite desplegar un contenedor de contenido para realizar otras acciones.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/listbox/_macro.listbox.njk" import componentListbox %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#diferencias-entre-componentes" class="c-link">Diferencias entre componentes</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentDropdown({
          "text": "Etiqueta de texto",
          "caller": "<div class=\" w-48 p-2 \"><div class=\" border-4 border-dashed border-gray-200 rounded-lg h-40 \"></div></div>"
        })  }}
      </div>
    </div>
  {% endcall %}
  <p class="c-paragraph-base">La composición de este elemento consiste en una etiqueta de texto, un icono flecha y el contenedor. En general, el contenido que se muestra dentro del contenedor es libre. Se puede emplear para múltiples propósitos.</p>
  <p class="c-paragraph-base">En cuanto a tipos y tamaños, heredan las mismas especificaciones de los botones. Además, un desplegable puede convivir en una barra de acciones con otros botones, por lo que es conveniente mantener una apariencia y semántica coherente con el grupo en el que se encuentra.</p>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;button&gt;</code> con un <code>aria-haspopup=true</code> y un <code>aria-expanded</code> que cambia a true o false según si el contenedor está desplegado o no.</li>
    <li>Cuando el primer item recibe el foco, la persona puede abrir el contenedor accionado la tecla enter/espacio.</li>
  </ul>

  {{ DSSubsectionTitle({
    title: "Qué tener en cuenta"
  }) }}
  <p class="c-paragraph-base"><em>Todos los atributos de accesibilidad se encuentran por defecto en la configuración del componente.</em></p>



  {% include "includes/docs-componentes/_dropdown-listbox-selector-dif.njk" %}

  <div class="pb-xl"></div>
{% endblock %}