{% set componente = [
  "item",
  "item",
  "Item",
  "Bloque que presenta una información o acciones determinadas y que pueden apilarse varios de ellos.",
  "Datos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <div class="border border-neutral-base rounded grid">
    <img  class="flex items-center" src="images/c-item-anatomia.svg" alt="Anatomía del item">
  </div>
  <div class="pb-base"></div>

  <ol class="c-ol">
    <li><a class="font-semibold">Contenedor:</a> Agrupa los datos asociados con el item y sus acciones.</li>
    <li><a href="componente-iconos.html#para-accionables-y-apoyo-a-etiquetas" class="c-link font-semibold">Icono accionable/de estado:</a> Otorga información cuando el item puede ser arrastrado o está bloqueado. Normalmente lo utilizamos cuando editamos la ordenación de una lista de items.</li>
    <li><a class="font-semibold">Título:</a> Denominación del item.</li>
    <li><a class="font-semibold">Descripción:</a> Breve explicación del contenido.</li>
    <li><a class="font-semibold">Metadatos:</a> Distintas etiquetas que proporcionan información relevante. Por ejemplo: campos, dependencia, modelo...</li>
    <li><a href="componente-botones.html" class="font-semibold c-link">Botones:</a> Dependiendo de la naturaleza del componente, éste puede incluir uno o dos botones transparentes para realizar determinadas acciones.</li>
    <li><a href="componente-iconos.html#como-apoyo-visual" class="c-link font-semibold">Icono como apoyo:</a> Otorga información de la tipología del item. Por ejemplo: documento, normativa, enlace...</li>
    <li><a class="font-semibold">Enlace:</a> Etiqueta que permite la visualización o descarga del documento o sitio web asociado al item. Por ejemplo: una normativa, un modelo de formulario...</li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  <p class="c-paragraph-base">En una lista de items apilados, es posible dar la opción de interactuar con ellos y modificar su ordenación.</p>
  
  {% call componentExample()  %}
      <div class="flex flex-col gap-base">
        <div>
          {{ componentItem({
            "title": {
              "text": "Item por defecto"
            }
          })  }}
        </div>
        <div>
          {{ componentItem({
            "title": {
              "text": "Item arrastrable"
            },
            "isDraggable": true
          })  }}
        </div>
        <div>
          {{ componentItem({
            "title": {
              "text": "Item bloqueado"
            },
            "isLocked": true
          })  }}
        </div>
      </div>
    {% endcall %}
  {{ DSSubsectionTitle({
    title: "Item por defecto"
  }) }}
  <p class="c-paragraph-base">Es el componente base, no permite interacción.</p>
  {{ DSSubsectionTitle({
    title: "Item arrastrable"
  }) }}
  <p class="c-paragraph-base">El área de interacción se encuentra reprentada en la zona izquierda del contenedor a través de un icono compueto por seis puntos. Haciendo clic y arrastrando es posible cambiar su posición con respeco al resto de items.</p>
  {{ DSSubsectionTitle({
    title: "Item bloqueado"
  }) }}
  <p class="c-paragraph-base">Se indica con un icono de candado en la zona izquierda del contenedor. Su posición se encuentra fijada y no es posible interactuar con él.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Contenedor con distintos elementos configurables: encabezados, items descriptivos que se construyen dentro de una lista <code>&lt;ul&gt;</code> e iconos con su propio <code>aria-label</code> por defecto.</li>
    <li>Se puede utilizar el componente como un caller para anidar contenido como botones de acciones. Cada botón debe tener un <code>aria-labelledby</code> que apunte al <code>id</code> de si mismo y al <code>id</code> del título.</li>
  </ul>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code> en el <code>title</code>'
          },
          {
            "html": "Identifica el título del componente."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>

  <div class="pb-xl"></div>
{% endblock %}