{% set componente = [
  " ",
  "avisos",
  "Avisos",
  "Componentes que contienen información crítica y pretenden captar la atención del usuario."
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/character-count/_macro.character-count.njk" import componentCharacterCount %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input-group/_macro.input-group.njk" import componentInputGroup %}

{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% from "components/card/_macro.card.njk" import componentCard %}

{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">{{ componente[2] }}</h1>
  <p class="c-paragraph-base">Componentes que contienen información crítica y pretenden captar la atención del usuario.</p>
  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-modal.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-modal.html" class="c-link c-link--full">Modal</a></h2>
        <p class="c-paragraph-sm">Ventana emergente que se emplea cuando queremos centrar toda la atención en cierta información.</p>
      </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-notificacion.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
         <div>
           <h2 class="c-h3"><a href="componente-notificaciones.html" class="c-link c-link--full">Notificaciones</a></h2>
           <p class="c-paragraph-sm">Destaca un mensaje de actualización o información relevante en una sección de la página.</p>
         </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
        "super": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "images/c-resumen-error.svg",
          "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
        }
      })  %}
      <div>
        <h2 class="c-h3"><a href="componente-error-summary.html" class="c-link c-link--full">Resumen de errores</a></h2>
        <p class="c-paragraph-sm">Mensaje de error que aparece en la página al validar los formularios y que indica los campos a corregir.</p>
      </div>
      {% endcall %}
    </div>


  </div>
  
  <div class="pb-xl"></div>
{% endblock %}