{% set componente = [
  "menu-navigation",
  "menu-navigation",
  "Menú de navegación",
  "Se usan específicamente para navegar en la aplicación, puede tener varias apariencias según el contexto.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}

{% from "components/table/_macro.table.njk" import componentTable %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#diferencias-entre-componentes" class="c-link">Diferencias entre componentes</a></li>

  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div>
      <h3 class="c-h3 pb-lg">Por defecto</h3>
      {{ componentMenuNavigation({
        "idPrefix": "default-example",
        "items": [
          {
            "text": "Item 1",
            "id": "default-example-item-1",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "default-example-item-1"
              }
            }
          },
          {
            "text": "Item 2",
            "id": "default-example-item-2",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "default-example-item-2"
              }
            }
          },
          {
            "text": "Item 3",
            "id": "default-example-item-3",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "default-example-item-3"
              }
            }
          }
        ],
        "attributes": {
          "aria-label": "Menu navigation"
        }
      }) }}
    </div>
    <div class="pb-xl"></div>
    <div>
      <h3 class="c-h3 pb-lg">Con estilos de botón transparente</h3>
      {{ componentMenuNavigation({
        "idPrefix": "transparent-example",
        "items": [
          {
            "text": "Item 1",
            "id": "transparent-example-item-1",
            "classes": "c-menu-navigation__button--transparent",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "transparent-example-item-1"
              }
            }
          },
          {
            "text": "Item activo 2",
            "id": "transparent-example-item-2",
            "classes": "c-menu-navigation__button--transparent",
            "active": true,
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2",
                  "active": true
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "transparent-example-item-2"
              }
            }
          },
          {
            "text": "Item deshabilitado 3",
            "id": "transparent-example-item-3",
            "classes": "c-menu-navigation__button--transparent",
            "disabled": true,
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "transparent-example-item-3"
              }
            }
          }
        ],
        "attributes": {
          "aria-label": "Menu navigation"
        }
      }) }}
    </div>
    <div class="pb-xl"></div>
    <div>
      <h3 class="c-h3 pb-lg">Con estilos de cabecera</h3>
      {{ componentMenuNavigation({
        "idPrefix": "header-custom-nav",
        "classes": "bg-neutral-lighter c-menu-navigation--last-right w-full",
        "items": [
          {
            "text": "Item 1",
            "id": "header-custom-nav-item-1",
            "classes": "c-menu-navigation__button--header -mr-base",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-1"
              }
            }
          },
          {
            "text": "Item activo 2",
            "id": "header-custom-nav-item-2",
            "classes": "c-menu-navigation__button--header -mr-base",
            "active": true,
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2",
                  "active": true
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-2"
              }
            }
          },
          {
            "text": "Item deshabilitado 3",
            "id": "header-custom-nav-item-3",
            "classes": "c-menu-navigation__button--header -mr-base",
            "disabled": true,
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-3"
              }
            }
          },
          {
            "text": "Item 4 right",
            "id": "header-custom-nav-item-4",
            "classes": "c-menu-navigation__button--header",
            "sub": {
              "items": [
                {
                  "href": "#",
                  "text": "Subitem 1"
                },
                {
                  "href": "#",
                  "text": "Subitem 2"
                },
                {
                  "href": "#",
                  "text": "Subitem 3"
                }
              ],
              "attributes": {
                "aria-labelledby": "header-custom-nav-item-4"
              }
            }
          }
        ],
        "attributes": {
          "aria-label": "Menu navigation",
          "id": "mi-menu-header"
        }
      }) }} 
    </div>
  {% endcall %}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Rodeado con la etiqueta <code>&lt;nav&gt;</code>, debe tener un <code>aria-label</code> que describa el tipo de navegación.</li>
    <li>Dentro se encuentra una lista sin orden <code>&lt;ul&gt;</code> con una serie de <code>&lt;li&gt;</code> que contienen un <code>&lt;button&gt;</code> o enlace <code>&lt;a&gt;</code>. Cuando se trata de un desplegable con items debe tener los atributos <code>aria-expanded</code> y <code>aria-controls</code>.</li>
    <li>La lista de subitems del desplegable debe llevar un <code>aria-labelledby</code> que apunta al <code>id</code> del item padre. Tanto el <code>&lt;nav&gt;</code> como los enlaces o <code>&lt;button&gt;</code> y sus respectivos subitems deben tener <code>id</code> únicos.</li>
    <li>Al mostrar un item activo, se añade un <code>aria-current=page</code>. Cuando un item se encuentra deshabilitado necesita los atributos <code>aria-disabled=true</code> y <code>tabindex=-1</code> para que no se pueda seleccionar.</li>
    <li>Cuando un item toma el foco, la persona usuaria puede moverse entre el grupo tanto con el tabulador como con las flechas de dirección.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-navigation/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón navigation menubar de W3C{% include "includes/_external-link-icon.njk" %}</a></p>



  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado"
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del item'
          },
          {
            "html": "Permite crear un <code>id</code> concreto para cada item."
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Descibe el tipo de navegación."
          }
        ],
        [
          {
            "html": '<code>aria-labelledby</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>sub</code>, en <code>attributes</code>'
          },
          {
            "html": "Apunta al <code>id</code> del item padre para extender la información."
          }
        ],
        [
          {
            "html": '<code>active: true</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del item actual'
          },
          {
            "html": "Añade <code>aria-current=page</code> y le da estilos al botón."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>


  {% include "includes/docs-componentes/_dropdown-listbox-selector-dif.njk" %}

{% endblock %}