{% set componente = [
  "input-group",
  "bloques-de-datos",
  "Bloques de datos",
  "Son elementos de formulario estandarizados compuestos de varias entradas de texto agrupadas, las cuales comparten sentido semántico.",
  "Formularios"
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenuCode(componente[1]) }}
  <div class="pb-xl"></div>
  {{ componentMenuNavigation({
    "items": [
      {
        "href": "componente-bloques-de-datos-codigo.html",
        "text": "Input-group",
        "active": true
      },
      {
        "href": "componente-bloques-de-datos-date-input-codigo.html",
        "text": "Date-input"
      }
    ],
    "attributes": {
      "aria-label": "Menu de bloques de datos"
    }
  })  }}
  <div class="pb-xl"></div>
  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}