{% set componente = [
  "menu-vertical",
  "menu-vertical",
  "Menú vertical",
  "Se compone de un listado de elementos anidados que poseerán los enlaces a cada una de las secciones del sitio web en concreto. El número de páginas que puede contener es mayor que en el menú horizontal, ya que no está limitado en espacio. Podría compararse a un índice.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#tipos-de-men-vertical" class="c-link">Tipos de menú vertical</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>

  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tipos de menú vertical"
  }) }}
  {% call componentExample()  %}
    
    <ol>
      <li class="flex flex-row pb-lg gap-base">
        <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span>
        <div>
          <h3 class="c-h3">Por defecto</h3>
          {{ componentMenuVertical({
            "idPrefix": "menu-default",
            "items": [
              {
                "href": "#",
                "text": "Item 1"
              },
              {
                "href": "#",
                "text": "Item 2"
              },
              {
                "href": "#",
                "text": "Item 3"
              }
            ],
            "attributes": {
              "aria-label": "Menu vertical"
            }
          })  }}
        </div>
      </li>
      <li class="flex flex-row gap-base pb-lg">
        <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span>
        <div class="grow">
          <h3 class="c-h3">Nav</h3>
          {{ componentNav({
            "idPrefix": "nav-default",
            "items": [
              {
                "href": "#",
                "text": "Option 1"
              },
              {
                "href": "#",
                "text": "Option 2"
              },
              {
                "href": "#",
                "text": "Option 3"
              },
              {
                "href": "#",
                "text": "Option 4"
              },
              {
                "href": "#",
                "text": "Option 5"
              }
            ],
            "attributes": {
              "aria-label": "Navegación local"
            }
          })  }}
        </div>
      </li>
      <li class="flex flex-row gap-base">
        <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">3</span>
        <div class="grow">
          <h3 class="c-h3">Árbol de navegación</h3>
          {% from "components/tree/_macro.tree.njk" import componentTree %}
          {{ componentTree({
            "name": "tree-nav",
            "classes": "mt-base",
            "type": "navigation",
            "idPrefix": "navigation-example",
            "items": [
              {
                "text": "Item 1",
                "id": "navigation-example-item-1",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3",
                      "sub": {
                        "items": [
                          {
                            "text": "Subitem 1",
                            "value": "subitem-1",
                            "href": "#"
                          },
                          {
                            "text": "Subitem 2",
                            "value": "subitem-2",
                            "href": "#"
                          },
                          {
                            "text": "Subitem 3",
                            "value": "subitem-3",
                            "href": "#",
                            "active": true
                          }
                        ],
                        "attributes": {
                          "aria-labelledby": "navigation-example-item-3"
                        }
                      }
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "navigation-example-item-1"
                  }
                }
              },
              {
                "text": "Item 2",
                "id": "navigation-example-item-2",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3",
                      "href": "#"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "navigation-example-item-2"
                  }
                }
              },
              {
                "text": "Item 3",
                "id": "navigation-example-item-3",
                "sub": {
                  "items": [
                    {
                      "text": "Subitem 1",
                      "value": "subitem-1",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 2",
                      "value": "subitem-2",
                      "href": "#"
                    },
                    {
                      "text": "Subitem 3",
                      "value": "subitem-3",
                      "href": "#"
                    }
                  ],
                  "attributes": {
                    "aria-labelledby": "navigation-example-item-3"
                  }
                }
              }
            ]
          }) }}
        </div>
      </li>
    </ol>
  {% endcall %}
  <div class="pb-base"></div>
  <ol>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span>
      <span class="inline-block ml-base align-middle"><a href="componente-menu-vertical-codigo.html" class="c-link font-semibold">Por defecto.</a> Listado de elementos con apariencia de link cuando el usuario hace hover con el cursor.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span>
      <span class="inline-block ml-base align-middle"><a href="componente-menu-vertical-nav-codigo.html" class="c-link font-semibold">Nav.</a> Listado de elementos que resaltan con un contenedor azul cuando el usuario hace hover con el cursor. Se utiliza como componente de navegación local.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">3</span>
      <span class="inline-block ml-base align-middle"><a href="componente-menu-vertical-tree-navigation-codigo.html" class="c-link font-semibold">Árbol de navegación.</a> Utilizamos el componente <a href="componente-tree.html" class="c-link">árbol</a> para anidar enlaces que puedes mostrar y ocultar. Utiliza el parámetro <code>type=navigation</code> para poder usarlo.</span>
    </li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Rodeado con la etiqueta <code>&lt;nav&gt;</code>, debe tener un <code>aria-label</code> que describa el tipo de navegación.</li>
    <li>Dentro se encuentra una lista sin orden <code>&lt;ul&gt;</code> con una serie de <code>&lt;li&gt;</code> que contienen un enlace marcado con un <code>id</code> único. Cuando una página está activa tiene un atributo <code>aria-current=page</code>.</li>
    <li>Si usas un árbol de navegación, la lista <code>&lt;ul&gt;</code> tendrá un <code>role=tree</code>. Cada lista anidada tiene un <code>role=group</code> y cada item tiene un <code>role=treeitem</code>. El <code>aria-expanded</code> de cada item padre indica al lector de pantalla si está contraído o no. Esta variable se basa en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/treeview/examples/treeview-navigation/" class="c-link" target="_blank" title="Se abre en pestaña nueva">patrón Navegation Treeview de W3C{% include "includes/_external-link-icon.njk" %}</a></li>
    <li>Si incluyes <code>svg</code> personalizados, asegúrate de que tienen los atributos <code>role=presentation</code> y <code>aria-hidden=true</code>.</li>
  </ul>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado"
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear un <code>id</code> concreto para cada item."
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Descibe el tipo de navegación."
          }
        ],
        [
          {
            "html": '<code>title</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code> cuando se usa un <code>target</code> en el item.'
          },
          {
            "html": "Anuncia que el enlace se abrirá en una nueva ventana o pestaña."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Los diferentes items deben estar lógicamente relacionadas pero ser mutuamente excluyentes. No hay más de un contenido por pestaña.</li>
    <li>La lista de items debe alinearse a la izquierda, y puede ser organizada mediante separadores o subitems.</li>
    <li>Al encontrarse dentro de la página enlazada por el item, éste debería marcarse como activo.</li>
    <li>Los items pueden contener texto descriptivo.</li>
  </ul>

  <div class="pb-xl"></div>
{% endblock %}