{% set componente = [
  "footer",
  "footer",
  "Pie de página",
  "El pie de página es una herramienta muy útil para facilitar la navegación del usuario hacia recursos clave del sitio web, no sólo para mostrar información de contacto, información legal o redes sociales.",
  "Componentes principales"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/footer/_macro.footer.njk" import componentFooter %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <p class="p-base bg-neutral-light">La política sobre el uso de los logotipos de los Fondos Europeos ha cambiado y deberás tenerlo en cuenta para incluirlos en tu componente. Consulta el apartado <a href="#financiacin-europea" class="c-link">Financiación Europea</a> para saber cómo utilizarlos.</p>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm mt-lg">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#enlaces" class="c-link">Enlaces</a></li>
    <li class="pb-sm"><a href="#financiacin-europea" class="c-link">Financiación Europea</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>

  <div class="pb-lg"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}

  <div class="border border-neutral-base rounded flex flex-col place-items-start" >
    <div><img src="images/c-footer-anatomia1.svg" alt="Anatomía del pie de página en escritorio"></div>
    <div><img  class="flex h-80" src="images/c-footer-anatomia2.svg" alt="Anatomía del pie de página en móvil"></div>
  </div>
  <ol class="c-ol mt-base">
    <li><a class="font-semibold">Contenedor:</a> Fondo <code>neutral-lighter</code> y borde superior <code>neutral-base</code> de 1px, con una línea divisoria entre los dos bloques en la versión de escritorio.</li>
    <li><a class="font-semibold">Enlaces opcionales:</a> Columnas de enlaces a las diferentes secciones del sitio web que facilitan la navegación. En la versión móvil se apilan.</li>
    <li><a class="font-semibold">Enlaces a información relevante:</a> Es obligatorio enlazar al <a href="patrones-pagina-otras.html#mapa-web" class="c-link">mapa web</a> y a la <a href="patrones-pagina-otras.html#declaracin-de-accesibilidad" class="c-link">declaración de accesibilidad</a> de la web. Según el caso, deberás incluir otras, consulta el apartado de <a href="#enlaces" class="c-link">enlaces</a>.</li>
    <li><a class="font-semibold">Información:</a> Nombre de la organización a la que se le atribuye la autoría de la página, licencias bajo las que se encuentra el contenido y contacto.</li>
    <li><a class="font-semibold">Logotipos:</a> La banda de la financión de la Unión Europea se encuentra en la zona inferior. Puedes seleccionar una financiación de las que proponemos o utilizar un .svg personalizado.</li>
  </ol>

  <div class="pb-lg"></div>
    {{ DSSectionTitle({
    title: "Enlaces"
  }) }}
  <p class="pb-base">Según el contenido de tu web deberás enlazar distintas páginas:</p>
  <ul class="c-ul">
    <li><strong>Aviso legal</strong>: Es un documento que establece las responsabilidades legales y condiciones de uso del sitio web. Si recabas información de usuarios (IP, cookies, comentarios...) o tienes actividad económica es obligatorio.</li>
    <li><strong>Política de cookies</strong>: Listado de las cookies de tu web y para qué se utilizan. Más información en el <a href="patrones-configurar-cookies.html" class="c-link">patrón de configurar cookies</a>.</li>
    <li><strong>Política de privacidad</strong>: Es un documento legal en el que el titular de la web debe informar sus clientes y usuarios sobre los datos personales que se recopilan al navegar en el sitio. Más información en el <a href="patrones-aceptar-politicas.html" class="c-link">patrón de aceptar políticas de privacidad</a>.</li>
    <li><strong>Accesibilidad</strong>: Se trata de un <a href="https://administracionelectronica.gob.es/pae_Home/pae_Estrategias/pae_Accesibilidad/implantacion-rd-1112-2018/declaracion_accesibilidad.html#Instrucciones" title="Se abre en ventana nueva" target="_blank" class="c-link">modelo normalizado de declaración de accesibilidad{% include "includes/_external-link-icon.njk" %}</a> que se obtiene tras <a href="https://administracionelectronica.gob.es/pae_Home/pae_Estrategias/pae_Accesibilidad/implantacion-rd-1112-2018/revisiones_accesibilidad.html"  title="Se abre en ventana nueva" target="_blank" class="c-link">realizar una revisión de accesibilidad{% include "includes/_external-link-icon.njk" %}</a> de tu sitio web. Es <strong>obligatorio</strong>. Más información en el <a href="patrones-pagina-otras.html#declaracin-de-accesibilidad" class="c-link">patrón de página de la declaración de accesibilidad</a>.</li>
    <li><strong>Mapa web</strong>: Es <strong>obligatorio</strong> y sirve para facilitar la navegación. Más información en el <a href="patrones-pagina-otras.html#mapa-web" class="c-link">patrón de página del mapa web</a>.</li>


  </ul>
  <div class="pb-lg"></div>


  {{ DSSectionTitle({
    title: "Financiación Europea"
  }) }}

  <p class="c-paragraph-base">Deberás colocar una banda con varios logotipos dependiendo de tu financiación en el pie de página de una web o en el encabezado de algunos documentos. Esta banda debe tener unos márgenes y espaciados determinados. Para configurar la tuya puedes hacerlo a través de las variables del componente, en nuestra <a href="https://www.figma.com/community/file/1167029569064210460" target="_blank" title="Se abre en ventana nueva" class="c-link">librería de Figma{% include "includes/_external-link-icon.njk" %}</a>, construirla a partir de las <a href="https://www.aragon.es/-/comunicacion-de-los-fondos-europeos-en-el-periodo-2021-2027" target="_blank" class="c-link" title="Se abre en ventana nueva">normativas de comunicación{% include "includes/_external-link-icon.njk" %}</a> o descargarla de nuestro <a href="https://bitbucket.org/sdaragon/logos/src/master/" class="c-link" target="_blank" title="Se abre en ventana nueva">repositorio de logotipos en Bitbucket{% include "includes/_external-link-icon.njk" %}</a>.</p>
  <p class="c-paragraph-base">A través de las variantes del componente puedes seleccionar uno de los siguientes fondos:</p>

  <div>
    
    {{ componentTable({
      "caption": "Bandas de financiación europea",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "firstCellIsHeader": false,
      "head": [
        {
          "text": "Nombre"
        },
        {
          "text": "Variable",
          "classes": "text-left min-w-[10rem]"
        },
        {
          "text": "Banda de logotipos",
          "classes": "text-left min-w-[35rem]"
        }
      ],
      "rows": [
        [
          {
            "html": '<p class="c-h4 mb-0">FEDER</p><p class="text-sm">Logotipo por defecto.</p>',
            "classes": "text-left"
          },
          {
            "html": '<span class="text-sm">Sin definir - </span><code>logo.type: FEDER</code>',
            "classes": "text-left"
          },
          {
            "html": '<img class="my-xl" src="images/eu-feder.svg" alt="Fondos FEDER">',
            "classes": "text-left"
          }
        ],
        [
          {
            "html": '<p class="c-h4 mb-0">FEADER</p>',
            "classes": "text-left"
          },
          {
            "html": '<span class="text-sm"></span><code>logo.type: FEADER</code>',
            "classes": "text-left"
          },
          {
            "html": '<img class="my-xl" src="images/eu-feader.svg" alt="Fondos FEADER">',
            "classes": "text-left"
          }
        ],
        [
          {
            "text": "FSE+",
            "classes": "text-left c-h4"
          },
          {
            "html": '<code>logo.type: FSE+</code>',
            "classes": "text-left"
          },
          {
            "html": '<img class="my-xl" src="images/eu-fse+.svg" alt="Fondos FSE+">',
            "classes": "text-left"
          }
        ],
        [
          {
            "text": "Plurifondo",
            "classes": "text-left c-h4"
          },
          {
            "html": '<code>logo.type: plurifondo</code>',
            "classes": "text-left"
          },
          {
            "html": '<img class="my-xl" src="images/eu-plurifondo.svg" alt="Plurifondo">',
            "classes": "text-left"
          }
        ],
        [
          {
            "html": '<p class="c-h4 mb-0">Sólo UE</p><p class="text-sm">Cuando se financia sólo una parte de un proyecto mayor y no pueden separarse.</p>',
            "classes": "text-left"
          },
          {
            "html": '<code>logo.type: UE</code>',
            "classes": "text-left"
          },
          {
            "html": '<img class="my-xl" src="images/eu-solo.svg" alt="Sólo UE">',
            "classes": "text-left"
          }
        ],
        [
          {
            "html": '<div class="py-sm"><p class="c-h4 mb-0">Sin financiación europea</p><p class="text-sm">Oculta el logotipo feder predeterminado y permite incluir otros personalizados.</p></div>',
            "classes": "text-left"
          },
          {
            "html": '<code>noLogo: true</code>',
            "classes": "text-left"
          },
          {
            "html": '<span class="py-xl text-lg" role="img" aria-label="Sin logotipos">—</span>',
            "classes": "text-left"
          }
        ]

      ],
    "wrapper": {
      "classes": "relative overflow-x-auto pb-base"
    }
      
    }) }}
  </div>
  <div class="pb-lg"></div>



  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li class="c-paragraph-base">Etiqueta <code>&lt;footer&gt;</code>, presente en todas las páginas dentro del <code>&lt;body&gt;</code>.</li>
  </ul>
  <p class="c-paragraph-base">Más información en la sección <a href="https://www.w3.org/WAI/ARIA/apg/practices/landmark-regions/" class="c-link" target="_blank" title="Se abre en pestaña nueva">Landmark Regions de W3C{% include "includes/_external-link-icon.njk" %}</a></p>
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>role=img</code> y <code>aria-label</code>'
          },
          {
            "text": "SVG de logotipos personalizados"
          },
          {
            "html": "El logotipo actúa como una imagen y el lector de pantalla describe el nombre definido con el <code>aria-label</code>."
          }
        ],
        [
          {
            "html": '<code>title</code>'
          },
          {
            "html": 'Enlaces que contienen un logotipo SVG'
          },
          {
            "html": 'El lector de pantalla anuncia qué se va a encontrar la persona tras el enlace.'
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>





  <div class="pb-xl"></div>
{% endblock %}