{% set componente = [
  "toggle",
  "toggle",
  "Interruptor",
  "Un botón interruptor o toggle se emplea cuando se desea cambiar rápidamente entre dos estados excluyentes entre sí.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/toggle/_macro.toggle.njk" import componentToggle %}
{% from "components/table/_macro.table.njk" import componentTable %}

{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#tamaos" class="c-link">Tamaños</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-lg items-center">
      <div>
        {{ componentToggle({
          "classes": "c-button c-button--sm",
          "offState": {
            "classes": "",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.71 2.3a1.45 1.45 0 0 0 .14-1.51A1.41 1.41 0 0 0 12.57 0H1.43A1.4 1.4 0 0 0 .15.8a1.43 1.43 0 0 0 .16 1.52l5.13 6.32a.25.25 0 0 1 .06.16v4.7a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.8a.25.25 0 0 1 .06-.16ZM7.6 6.65a.29.29 0 0 1-.2.09h-.8a.29.29 0 0 1-.2-.09L3 2.41a.26.26 0 0 1 0-.27.26.26 0 0 1 .15-.14h7.7a.26.26 0 0 1 .22.14.26.26 0 0 1 0 .27Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg>Alternar iconos</span>"
          },
          "onState": {
            "classes": "c-button--has-selection",
            "html": "<span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 48 48\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M13.9.8a.51.51 0 0 0 0-.52.51.51 0 0 0-.4-.28H.5a.51.51 0 0 0-.45.28A.51.51 0 0 0 .1.8l5.19 6.79a1 1 0 0 1 .21.61v5.3a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.2a1 1 0 0 1 .21-.61Z\" fill=\"currentColor\" transform=\"scale(3.42857)\"/></svg>Alternar iconos</span>"
          }
        })  }}
      </div>
      <div>
        {{ componentToggle({
          "classes": "",
          "isSwitch": true,
          "offState": {
            "classes": "",
            "html": "<span class=\"flex align-center justify-between gap-xs\"><span class=\"text-sm\" aria-hidden=\"true\">Off</span><span class=\"bg-neutral-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-neutral-base rounded-full cursor-pointer focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75\"><span class=\"sr-only\">Off</span><span aria-hidden=\"true\" class=\"translate-x-0 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"> </span></span><span class=\"text-sm\" aria-hidden=\"true\">On</span></span>"
          },
          "onState": {
            "classes": "",
            "html": "<span class=\"flex align-center justify-between gap-xs\"><span class=\"text-sm\" aria-hidden=\"true\">Off</span><span class=\"bg-primary-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-primary-base rounded-full cursor-pointer focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75\"><span class=\"sr-only\">On</span><span aria-hidden=\"true\" class=\"translate-x-4 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"> </span></span><span class=\"text-sm\" aria-hidden=\"true\">On</span></span>"
          }
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Alternar iconos"
  }) }}
  <p class="c-paragraph-base">Para mostrar y ocultar. Se suele utilizar como elemento de filtrado.</p>
  {{ DSSubsectionTitle({
    title: "Conmutador (switch)"
  }) }}
  <p class="c-paragraph-base">Se emplea cuando el resultado de la acción es inmediato y nos permite customizar estados. Siempre se deben incluir dos etiquetas de texto que expliquen claramente las dos opciones que presenta este interruptor (Por ejemplo: Activado/Desactivado).</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Tamaños"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-lg items-center">
      <div>
        <p class="c-paragraph-base">Por defecto</p>
        {{ componentToggle({
          "classes": "",
          "pressed": true,
          "isSwitch": true,
          "offState": {
            "classes": "",
            "html": "<span class=\"flex align-center justify-between gap-xs\"><span class=\"text-sm\" aria-hidden=\"true\">Off</span><span class=\"bg-neutral-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-neutral-base rounded-full cursor-pointer focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75\"><span class=\"sr-only\">Off</span><span aria-hidden=\"true\" class=\"translate-x-0 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span></span><span class=\"text-sm\" aria-hidden=\"true\">On</span></span>"
          },
          "onState": {
            "classes": "",
            "html": "<span class=\"flex align-center justify-between gap-xs\"><span class=\"text-sm\" aria-hidden=\"true\">Off</span><span class=\"bg-primary-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-primary-base rounded-full cursor-pointer focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75\"><span class=\"sr-only\">On</span><span aria-hidden=\"true\" class=\"translate-x-4 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span></span><span class=\"text-sm\" aria-hidden=\"true\">On</span></span>"
          }
        })  }}
      </div>
      <div>
        <p class="c-paragraph-base">Pequeño</p>
        {{ componentToggle({
          "classes": "",
          "isSwitch": true,
          "offState": {
            "classes": "",
            "html": "<span class=\"flex align-center justify-between gap-xs\"><span class=\"text-xs\" aria-hidden=\"true\">Off</span><span class=\"bg-neutral-base relative inline-flex flex-shrink-0 h-4 w-8 border-2 border-neutral-base rounded-full cursor-pointer focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75\"><span class=\"sr-only\">Off</span><span aria-hidden=\"true\" class=\"translate-x-0 pointer-events-none inline-block h-3 w-3 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span></span><span class=\"text-xs\" aria-hidden=\"true\">On</span></span>"
          },
          "onState": {
            "classes": "",
            "html": "<span class=\"flex align-center justify-between gap-xs\"><span class=\"text-xs\" aria-hidden=\"true\">Off</span><span class=\"bg-primary-base relative inline-flex flex-shrink-0 h-4 w-8 border-2 border-primary-base rounded-full cursor-pointer focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75\"><span class=\"sr-only\">On</span><span aria-hidden=\"true\" class=\"translate-x-4 pointer-events-none inline-block h-3 w-3 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span></span><span class=\"text-xs\" aria-hidden=\"true\">On</span></span>"
          }
        })  }}
      </div>
    </div>
  {% endcall %}
  <p class="c-paragraph-base">No deben convivir en un mismo grupo componentes de diferentes tamaños.</p>
  {{ DSSubsectionTitle({
    title: "Por defecto"
  }) }}
  <p class="c-paragraph-base">Utilizar por defecto para cualquier tipo de situaciones y layouts. Siempre que sea posible se recomienda usar este tamaño por motivos de accesibilidad.</p>
  {{ DSSubsectionTitle({
    title: "Pequeño"
  }) }}
  <p class="c-paragraph-base">Se recomienda su uso cuando el elemento estándar es demasiado grande para el espacio donde debe de encajar, por ejemplo en tablas, en algunas cards, etc.</p>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>No cambia el texto del botón, sólo cambia su estado visual.</li>
    <li>Necesita un elemento externo con un <code>id</code> para referenciarlo con su <code>aria-controls</code>, con el objetivo de mostrar/ocultar ese elemento externo.</li>
    <li>Cuando su objetivo es mostrar un contenido oculto, necesita un <code>aria-expanded</code>. En el caso de que tenga apariencia de switch, el elemento necesita <code>role=switch</code>, <code>aria-checked</code> y un <code>aria-labelledby</code> que apunte a un elemento externo.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/switch/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón switch de W3C{% include "includes/_external-link-icon.njk" %}</a></p>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        
        [
          {
            "html": '<code>aria-labelledby</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Apunta al elemento externo que describe la acción del componente."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>

  <div class="pb-xl"></div>
{% endblock %}