{% set componente = [
  "links-list",
  "links-list",
  "Listado de enlaces",
  "Se trata de un listado de items apilados que, dotado de protagonismo dentro de la página, enlaza a las distintas secciones del sitio o aplicación web.",
  "Navegación"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#variantes" class="c-link">Variantes</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <p class="c-paragraph-base">
    Pueden apilarse de 3 a 7 items, y cada uno de ellos se compone de varios elementos:
  </p>
  {% call componentExample()  %}
    <div class="flex flex-row flex-wrap gap-base mb-base">
      <div class="w-full">
        {{ componentLinksList({
          "idPrefix": "default1",
          "items": [
            {
              "href": "#",
              "text": "Título del item",
              "sub": {
                "classes": "ml-8 mb-base -mt-base",
                "html": "<p>Descripción</p>"
              },
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            },
            {
              "href": "#",
              "text": "Título deshabilitado",
              "disabled": true,
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            },
            {
              "text": "Título sin referencia",
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            },
            {
              "text": "Título activo con chevron",
              "href": "#",
              "active": true,
              "iconRight": {
                "type": "chevron"
              },
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            }
          ],
          "attributes": {
            "aria-label": "Menu destacado"
          }
        })  }}
      </div>
    </div>
  {% endcall %}
  <ul class="c-ul">
    <li><strong>Título del item</strong>: Enlace a la sección indicada. El estilo puede ser el que se muestra por defecto, deshabilitado, sin enlace o activo.</li>
    <li><strong>Descripción</strong>: Opcionalmente, se puede añadir un breve texto que informe al usuario de lo que se va a encontrar en su interior.</li>
    <li><a href="componente-iconos.html" class="c-link"><strong>Icono</strong></a> <strong>junto al título</strong>: Opcionalmente, se puede incluir un icono que apoye visualmente el contenido de cada enlace.</li>
    <li><a href="componente-iconos.html" class="c-link"><strong>Icono</strong></a> <strong>derecha</strong>: Icono situado a la derecha que también sirve como botón de enlace. Según la variable puede ser una flecha, un chevron o un SVG personalizado.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {% call componentExample()  %}
    <ul class="grid lg:grid-cols-3 gap-lg">
      <li class="w-full">
        <p class="c-h4">Con líneas separadoras</p>
        {{ componentLinksList({
          "idPrefix": "default2",
          "items": [
            {
              "href": "#",
              "text": "Item 1"
            },
            {
              "href": "#",
              "text": "Item 2"
            },
            {
              "href": "#",
              "text": "Item 3"
            }
          ],
          "attributes": {
            "aria-label": "Ejemplo 1"
          }
        })  }}
      </li>
      <li class="w-full">
        <p class="c-h4">Con contenedores</p>
        {{ componentLinksList({

          "idPrefix": "with-containerclasses",
          "listClasses": "border border-transparent",
          "items": [
            {
              "href": "#",
              "text": "Item 1",
              "containerClasses": "my-sm px-base border border-neutral-base rounded",
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            },
            {
              "href": "#",
              "text": "Item 2",
              "containerClasses": "my-sm px-base border border-neutral-base rounded",
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            },
            {
              "href": "#",
              "text": "Item 3",
              "containerClasses": "my-sm px-base border border-neutral-base rounded",
              "icon": {
                "html": "  <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg>\n"
              }
            }
          ],
          "attributes": {
            "aria-label": "Ejemplo 2"
          }
        })  }}
      </li>
      <li class="w-full">
        <p class="c-h4">Con contenedores y hover</p>
        {{ componentLinksList({
        "idPrefix": "descriptive-example",
        "listClasses": "border border-transparent",
        "items": [
          {
            "href": "#",
            "html": '<span class="c-link c-link--full">Item 1</span>',
            "containerClasses": "my-sm px-base border border-neutral-base rounded relative hover:bg-neutral-light"
          },
          {
            "href": "#",
            "html": '<span class="c-link c-link--full">Item 2</span>',
            "containerClasses": "my-sm px-base border border-neutral-base rounded relative hover:bg-neutral-light"
          },
          {
            "href": "#",
            "html": '<span class="c-link c-link--full">Item 3</span>',
            "containerClasses": "my-sm px-base border border-neutral-base rounded relative hover:bg-neutral-light"
          }
        ],
        "attributes": {
          "aria-label": "Ejemplo 3"
        }
        })  }}
      </li>
    </ul>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Con líneas separadoras"
  }) }}
  <p class="c-paragraph-base">
    El estilo por defecto del listado. Se utiliza para apilar de manera ordenada y sobria múltiples secciones.
  </p>
  {{ DSSubsectionTitle({
    title: "Con contenedores"
  }) }}
  <p class="c-paragraph-base">
    Rodeados por un perímetro rectangular con esquinas redondeadas, se utiliza para dotar de mayor presencia e importancia a cada uno de los items del listado cuando el número de los mismos no es muy elevado.</p>
  {{ DSSubsectionTitle({
  title: "Con contenedores y hover"
  }) }}
  <p class="c-paragraph-base">Utiliza la clase <code>.c-link--full</code> definida en los <a href="estilos-tipografia.html#enlaces" class="c-link">estilos de enlaces</a> para que todo el contenedor sea clicable.</p>
  

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Rodeado con la etiqueta <code>&lt;nav&gt;</code>, debe tener un <code>aria-label</code> que describa el tipo de navegación.</li>
    <li>Dentro se encuentra una lista sin orden <code>&lt;ul&gt;</code> con una serie de <code>&lt;li&gt;</code> que contienen un enlace marcado con un <code>id</code> único.</li>
    <li>Si incluyes <code>svg</code> personalizados, asegúrate de que tienen los atributos <code>role=presentation</code> y <code>aria-hidden=true</code>.</li>
  </ul>


  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado"
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro de cada item'
          },
          {
            "html": "Permite crear un <code>id</code> concreto para cada item."
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjuks <code>attributes</code>'
          },
          {
            "html": "Describe el tipo de navegación."
          }
        ],
        [
          {
            "html": '<code>title</code>'
          },
          {
            "html": 'Parametro Nunjucks dentro de <code>attributes</code> cuando se usa un <code>target</code> en el item.'
          },
          {
            "html": "Anuncia que el enlace se abrirá en una nueva ventana o pestaña."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

<div class="pb-xl"></div>

{% endblock %}