{% set componente = [
  "notification",
  "notificaciones",
  "Notificaciones",
  "Las notificaciones se emplean para dar un mensaje de actualización o para destacar alguna información sobre la que queremos llamar la atención.",
  "Avisos"
] %}

{% set title = "Ejemplo de código de " + componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/menu-navigation/_macro.menu-navigation.njk" import componentMenuNavigation %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenuCode(componente[1]) }}
  <div class="pb-xl"></div>
  {{ componentMenuNavigation({
    "items": [
      {
        "href": "componente-notificaciones-codigo.html",
        "text": "Notification",
        "active": true
      },
      {
        "href": "componente-notificaciones-alert-codigo.html",
        "text": "Alert"
      }
    ],
    "attributes": {
      "aria-label": "Menu de notificaciones"
    }
  })  }}
  <div class="pb-xl"></div>

  <div class="c-content-code">
    {{ componentContentCode(componente[0]) }}
  </div>
{% endblock %}