{% set componente = [
  "tabs",
  "tabs",
  "Pestañas",
  "Menú horizontal que permite visualizar distintos paneles con información, permaneciendo en la misma página.",
  "Mostrar y ocultar"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{% from "components/table/_macro.table.njk" import componentTable %}





{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}
  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#anatoma" class="c-link">Anatomía</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
  </ul>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  {% call componentExample()  %}
    <div class="">
      <div>
        {{ componentTabs({
          "tablistAriaLabel": "Tab example",
          "idPrefix": "tab-example-disabled",
          "items": [
            {
              "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4 mr-xs\" aria-label=\"Archivo\" role=\"img\" focusable=\"false\"><path d=\"M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z\" fill=\"currentColor\"/><path d=\"M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z\" fill=\"currentColor\"/></svg> Pestaña 1",
              "panel": {
                "html": "<p><strong>Panel 1</strong>. Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio?</p>"
              }
            },
            {
              "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4 mr-xs\" aria-label=\"Archivo\" role=\"img\" focusable=\"false\"><path d=\"M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z\" fill=\"currentColor\"/><path d=\"M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z\" fill=\"currentColor\"/></svg> Pestaña 2",
              "panel": {
                "html": "<p><strong>Panel 2</strong>. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.</p>"
              }
            },
            {
              "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4 mr-xs\" aria-label=\"Archivo\" role=\"img\" focusable=\"false\"><path d=\"M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z\" fill=\"currentColor\"/><path d=\"M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z\" fill=\"currentColor\"/></svg> Pestaña 3",
              "panel": {
                "html": "<p><strong>Panel 3</strong>. Provident animi dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.</p>"
              }
            },
            {
              "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4 mr-xs\" aria-label=\"Archivo\" role=\"img\" focusable=\"false\"><path d=\"M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z\" fill=\"currentColor\"/><path d=\"M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z\" fill=\"currentColor\"/></svg> Pestaña desactivada",
              "disabled": true,
              "panel": {
                "html": "<p><strong>Panel 4</strong>. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.</p>"
              }
            }
          ]
        })  }}
      </div>
    </div>
  {% endcall %}
  <ul class="c-ul">
    <li><a class="font-semibold">Pestaña:</a> Contienen el título del panel correspondiente y en móviles se apilan verticalmente. Pueden estar desactivadas cuando el panel no se encuentre disponible. Opcionalmente también pueden contener iconos que apoyen a la etiqueta de título. Cuando hay un alto número de ellas es posible incluir scroll horizontal.</li>
    <li><a class="font-semibold">Panel:</a> Marco con el contenido relativo a la pestaña.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <p class="c-paragraph-base">Se compone de varios contenedores:</p>
  <ul class="c-ul">
    <li>Los botones se encuentran en un contenedor con <code>role=tablist</code> y un <code>aria-label</code> que describe el tipo de información.
      <ul class="c-ul mt-base">
        <li>Cada <code>&lt;button&gt;</code> tiene un <code>aria-selected</code>, <code>aria-controls</code> que apunta al contenido del panel, <code>id</code> único y <code>role=tab</code>.</li> 
        <li>Cuando un botón toma el foco, la persona puede desplazarse entre ellas con las flechas del teclado para mostrar los paneles y tabular para acceder al contenido.</li>
      </ul>
    </li>
    <li>El panel de cada pestaña es tiene su propio contenedor con <code>role=tabpanel</code>, <code>id</code> único, un <code>aria-labelledby</code> que apunta al botón que muestra dicho panel y un <code>tabindex=0</code> que permite tomar el foco.</li>
  </ul>
  <p class="c-paragraph-base">Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/tabs/" class="c-link" target="_blank" title="Se abre en ventana nueva">patrón tabs de W3C{% include "includes/_external-link-icon.njk" %}</a></p>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>idPrefix</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite crear <code>id</code> únicos para los items del listado"
          }
        ],
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del item'
          },
          {
            "html": "Permite crear un <code>id</code> concreto para el item."
          }
        ],
        [
          {
            "html": '<code>tablistAriaLabel</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Crea un <code>aria-label</code> para el componente que describa el tipo de información que contiene."
          }
        ],
        [
          {
            "html": '<code>title</code> y <code>headingLevel</code>'
          },
          {
            "html": 'Parámetros Nunjucks dentro del componente'
          },
          {
            "html": "Establece el texto y nivel del encabezado."
          }
        ],
        [
          {
            "html": '<code>aria-label</code>'
          },
          {
            "html": 'Dentro del parámetro Nunjucks <code>attributes</code>'
          },
          {
            "html": "Describe el tipo de navegación."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>

{% endblock %}