{% set componente = [
  "input",
  "input-text",
  "Entrada de texto",
  "El campo de texto es un elemento básico de formulario que permite la inserción y edición de texto en una única línea. Se debe usar cuando el texto a introducir es corto, por ejemplo nombre o apellidos. Para textos largos usar áreas de texto.",
  "Formularios"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/fieldset/_macro.fieldset.njk" import componentFieldset %}
{% from "components/table/_macro.table.njk" import componentTable %}





{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}
  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#tipos-de-rea-de-texto" class="c-link">Tipos de entrada de texto</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prticas" class="c-link">Buenas prácticas</a></li>
  </ul>
  <div class="pb-xl"></div>


  {{ DSSectionTitle({
    title: "Tipos de entrada de texto"
  }) }}
  {% call componentExample()  %}
    <ol>
      <li class="flex items-center gap-lg">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">1</span>
        <div>
          {{ componentInput({
            "label": {
              "text": "Número de teléfono"
            },
            "id": "input-example-a",
            "name": "test-name"
          })  }}
        </div>
      </li>
      <li class="flex items-center gap-lg">
        <span class="aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base mb-base">2</span>
        <div>
          {% call componentFieldset({
            "legend": {
              "text": "¿Cuál es tu número de teléfono?",
              "classes": "mb-sm"
            }
          }) %}
          <!-- input -->
          <div class="c-form-group">
            <!-- label -->
            <label class="block" for="tel-id-1">Número de teléfono</label>
            <!-- /label -->
            <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base" id="tel-id-1" name="tel-name-1" type="text">
          </div>
          <!-- /input -->
          {% endcall  %}
        </div>
      </li>
    </ol>
  {% endcall %}
  <div class="pt-base"></div>
  <ol>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">1</span><span class="inline-block ml-base align-middle"><a href="componente-input-text-codigo.html" class="c-link font-semibold">Input.</a> Campo de texto simple presente en los formularios.</span>
    </li>
    <li class="flex flex-row pb-lg">
      <span class="flex-none aspect-auto rounded-full w-6 h-6 bg-neutral-base font-semibold text-white text-center text-base">2</span><span class="inline-block ml-base align-middle"><a href="componente-input-text-fieldset-codigo.html" class="c-link font-semibold">Fieldset.</a> Etiqueta que rodea un grupo de inputs relacionados entre si. Permite agrupar y estructurar semántica y visualmente los campos dentro de un formulario.</span>
    </li>
  </ol>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Etiqueta <code>&lt;input&gt;</code> con un <code>id</code>, <code>name</code> y <code>aria-describedby</code>.</p>
    <li>En el caso del <a href="componente-input-text-fieldset-codigo.html" class="c-link">fieldset</a>, el elemento se rodea con la etiqueta <code>&lt;fieldset&gt;</code>, que incluye un <code>&lt;legend&gt;</code>.</li>
  </ul>
  <p class="c-paragraph-base">Más información sobre los inputs en el apartado <a href="componente-formularios.html#accesibilidad" class="c-link">accesibilidad de formularios</a>.</p>

  {% set item %}
    <p>Permite completar el campo con la información de la persona guardada en el navegador. Debe estar siempre que sea posible. <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete" class="c-link" target="_blank" title="Se abre en pestaña nueva">Más información <span class="sr-only">sobre el autocomplete</span>{% include "includes/_external-link-icon.njk" %}</a></p>
  {% endset %}
  {% set item2 %}
    <p>Permite seleccionar el tipo de control según el dato que se debe introducir. En móvil despliega el tipo de teclado que corresponda. Por defecto es <code>type=text</code>. <a href="https://developer.mozilla.org/es/docs/Web/HTML/Element/Input#atributos" class="c-link inline-block" target="_blank" title="Se abre en pestaña nueva">Más información <span class="sr-only">sobre el atributo type</span>{% include "includes/_external-link-icon.njk" %}</a></p>
  {% endset %}
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>id</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": "Permite las llamadas entre label, hint, error y el textarea. Debe ser único."
          }
        ],
        [
          {
            "html": '<code>autocomplete</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": item | safe
          }
        ],
        [
          {
            "html": '<code>type</code>'
          },
          {
            "html": 'Parámetro Nunjucks dentro del componente'
          },
          {
            "html": item2
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>

  <div class="pb-xl"></div>


  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
  <ul class="c-ul">
    <li>Por lo general, el tamaño designado para este elemento debe ajustarse al dato a introducir. De esta manera también ayudamos al usuario a reconocer qué dato le estamos pidiendo.</li>
  </ul>
  <div class="pb-xl"></div>
  {% endblock %}
