{% set title = "Todos los componentes. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-componentes" %}

{% extends "pages/_template.desy-aragon-es.njk" %}


{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}



{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
<div class="py-base">
  {{ componentButton({
    "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver",
    "classes": "c-button--transparent",
    "href": "componentes.html"
  })  }}
</div> 
<h1 class="c-h1 py-lg">Todos los componentes</h1>
<ul class="c-ul c-ul--no-bullets lg:grid lg:grid-flow-col lg:auto-cols-auto lg:grid-rows-10 lg:gap-x-base">
  <li><a href="componente-acordeon.html" class="c-link">Accordion</a></li>
  
  <li><a href="componente-acordeon-historico-codigo.html" class="c-link">Accordion history</a></li>
  
  <li><a href="componente-notificaciones-alert-codigo.html" class="c-link">Alert</a></li>
  
  <li><a href="componente-breadcrumbs-codigo.html" class="c-link">Breadcrumbs</a></li>
  
  <li><a href="componente-botones-codigo.html" class="c-link">Button</a></li>
  
  <li><a href="componente-botones-loader-codigo.html" class="c-link">Button loader</a></li>
  
  <li><a href="componente-card-codigo.html" class="c-link">Card</a></li>
  
  <li><a href="componente-textarea-character-count-codigo.html" class="c-link">Character count</a></li>
  
  <li><a href="componente-checkboxes-codigo.html" class="c-link">Checkboxes</a></li>
  
  <li><a href="componente-contraible-codigo.html" class="c-link">Collapsible</a></li>
  
  
  <li><a href="componente-bloques-de-datos-date-input-codigo.html" class="c-link">Date input</a></li>

  <li><a href="componente-datepicker-codigo.html" class="c-link">Datepicker</a></li>
  
  <li><a href="componente-description-list-codigo.html" class="c-link">Description list</a></li>
  
  <li><a href="componente-detalles-codigo.html" class="c-link">Details</a></li>

  <li><a href="componente-modal-dialog-codigo.html" class="c-link">Dialog</a></li>
  
  <li><a href="componente-dropdown-codigo.html" class="c-link">Dropdown</a></li>
  
  <li><a href="componente-mensaje-error-codigo.html" class="c-link">Error message</a></li>
  
  <li><a href="componente-error-summary-codigo.html" class="c-link">Error summary</a></li>
  
  <li><a href="componente-input-text-fieldset-codigo.html" class="c-link">Fieldset</a></li>
  
  <li><a href="componente-file-upload-codigo.html" class="c-link">File upload</a></li>
  
  <li><a href="componente-footer-codigo.html" class="c-link">Footer</a></li>
  
  <li><a href="componente-cabeceras-app-codigo.html" class="c-link">Header</a></li>
  
  <li><a href="componente-cabeceras-mini-codigo.html" class="c-link">Header mini</a></li>
  
  <li><a href="componente-cabeceras-codigo.html" class="c-link">Header advanced</a></li>
  
  <li><a href="componente-pista-codigo.html" class="c-link">Hint</a></li>
  
  <li><a href="componente-input-text-codigo.html" class="c-link">Input</a></li>
  
  <li><a href="componente-input-text-fieldset-codigo.html" class="c-link">Input group</a></li>
  
  <li><a href="componente-item-codigo.html" class="c-link">Item</a></li>
  
  <li><a href="componente-label-codigo.html" class="c-link">Label</a></li>
  
  <li><a href="componente-links-list-codigo.html" class="c-link">Links list</a></li>
  
  <li><a href="componente-listbox-codigo.html" class="c-link">Listbox</a></li>
  
  <li><a href="componente-imagenes-codigo.html" class="c-link">Media object</a></li>
  
  <li><a href="componente-menu-horizontal-codigo.html" class="c-link">Menu horizontal</a></li>
  
  <li><a href="componente-menu-navigation-codigo.html" class="c-link">Menu navigation</a></li>
  
  <li><a href="componente-menu-vertical-codigo.html" class="c-link">Menu vertical</a></li>
  
  <li><a href="componente-menubar-codigo.html" class="c-link">Menubar</a></li>
  
  <li><a href="componente-modal-codigo.html" class="c-link">Modal</a></li>
  
  <li><a href="componente-menu-vertical-nav-codigo.html" class="c-link">Nav</a></li>
  
  <li><a href="componente-notificaciones-codigo.html" class="c-link">Notification</a></li>
  
  <li><a href="componente-paginacion-codigo.html" class="c-link">Pagination</a></li>
  
  <li><a href="componente-pills-codigo.html" class="c-link">Pill</a></li>
  
  <li><a href="componente-radios-codigo.html" class="c-link">Radios</a></li>
  
  <li><a href="componente-searchbar-codigo.html" class="c-link">Searchbar</a></li>
  
  <li><a href="componente-selector-codigo.html" class="c-link">Select</a></li>
  
  <li><a href="componente-cabeceras-skiplink-codigo.html" class="c-link">Skip link</a></li>
  
  <li><a href="componente-spinner-codigo.html" class="c-link">Spinner</a></li>
  
  <li><a href="componente-status-codigo.html" class="c-link">Status</a></li>
  
  <li><a href="componente-status-subitem-codigo.html" class="c-link">Status item</a></li>
  
  <li><a href="componente-tabla-simple-codigo.html" class="c-link">Table</a></li>
  
  <li><a href="componente-tabla-codigo.html" class="c-link">Table advanced</a></li>
  
  <li><a href="componente-tabs-codigo.html" class="c-link">Tabs</a></li>
  
  <li><a href="componente-textarea-codigo.html" class="c-link">Textarea</a></li>
  
  <li><a href="componente-toggle-codigo.html" class="c-link">Toggle</a></li>
  
  <li><a href="componente-tooltip-codigo.html" class="c-link">Tooltip</a></li>
  
  <li><a href="componente-tree-codigo.html" class="c-link">Tree</a></li>
</ul>


{% endblock %}