{% set componente = [
  "error-summary",
  "error-summary",
  "Resumen de errores",
  "Mensaje de error que aparece al validar los formularios.",
  "Avisos"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/error-summary/_macro.error-summary.njk" import componentErrorSummary %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#mensaje-de-error-general" class="c-link">Mensaje de error general</a></li>
    <li class="pb-sm"><a href="#accesibilidad" class="c-link">Accesibilidad</a></li>
    <li class="pb-sm"><a href="#buenas-prcticas" class="c-link">Buenas prácticas</a></li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Mensaje de error general"
  }) }}
  {% call componentExample()  %}
    <div>
      {{ componentErrorSummary({
        "titleText": "Título del mensaje de error",
        "headingLevel": 3,
        "descriptionText": "Por favor, corrige los siguientes errores",
        "errorList": [
          {
            "text": "Descripción del error 1",
            "href": "#example-error-1"
          },
          {
            "text": "Descripción del error 2",
            "href": "#example-error-2"
          }
        ]
      })  }}
    </div>
  {% endcall %}
  <p class="c-paragraph-base">Cuando se activan los errores de un formulario es necesario que aparezca un mensaje general indicando todos los <strong>errores detectados y su causa</strong>. Esto sucede cuando se acciona el submit para evitar inconsistencias y malos usos de la validación automática.</p>
  <p class="c-paragraph-base">Cada error debe tener un <strong>ancla al campo concreto</strong> que da error para facilitar que se encuentren los campos problemáticos en formularios largos.</p>
  <p class="c-paragraph-base">Este mensaje debe estar localizado en un sitio que sea visible tras pulsar en el submit y el foco debe ir al título.</p>
  <ul class="c-ul">
    <li>Si al hacer la validación la página se recarga y no mantiene el scroll, el mensaje debe aparecer en la parte de arriba del formulario.</li>
    <li>Pero si la validación se hace sin recargar la página se debe mostrar encima del botón de submit.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Contenedor que puede tener un encabezado de nivel configurable, un <code>id</code> a nivel de componente y otro para el título, una lista <code>&lt;ul&gt;</code> de items <code>&lt;li&gt;</code>.</li>
    <li>Este componente posee un <code>role=alert</code> y un <code>aria-labelledby</code> que apunta al <code>id</code> del propio título.</li>
  </ul>

  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Qué tener en cuenta",
      "captionClasses": "mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Qué usar"
        },
        {
          "text": "Dónde",
          "classes": "w-1/4"
        },
        {
          "text": "Función"
        }
      ],
      "rows": [
        [
          {
            "html": '<code>title</code> y <code>headingLevel</code>'
          },
          {
            "html": 'Parámetros Nunjucks dentro del componente'
          },
          {
            "html": "Establece el texto y nivel del encabezado."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      },
      "classes": "w-full"
    }) }}
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Buenas prácticas"
  }) }}
 <ul class="c-ul">
    <li>En el resumen de errores deben aparecer links anclados al error en concreto al que se refiere el mensaje.</li>
    <li>El texto debe describir específicamente el error y debe quedar clara la acción a tomar para resolverlo.</li>
    <li>Se recomienda que el tono del mensaje no sea alarmista y sobre todo, que no responsabilice al usuario del error. El texto debe ser informativo y debe suponer una ayuda al usuario para resolver el problema.</li>
  </ul>


  <div class="pb-xl"></div>
{% endblock %}