{% set title = "Desarrollo con desy-html. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-desy-html" %}
{% set activeApartado = "desy-html" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/table/_macro.table.njk" import componentTable %}

{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% block sidebarBlock %}
  {% include "includes/docs-desarrollo/_menu-lateral-desarrollo.njk" %}
{% endblock %}


{% block innerContentBlock %}
  <div>
    <div>
      <div class="lg:pb-lg"></div>
      <h1 class="c-h1">desy-html</h1>
      <p class="c-paragraph-base">Librería NPM que sirve para construir la interfaz de usuario de las aplicaciones web del Gobierno de Aragón. Utiliza <a href="https://gulpjs.com/" target="_blank" title="Se abre en ventana nueva" class="c-link">Gulp</a>, <a href="https://postcss.org/" target="_blank" title="Se abre en ventana nueva" class="c-link">PostCSS</a>, <a href="https://tailwindcss.com/" target="_blank" title="Se abre en ventana nueva" class="c-link">Tailwind CSS</a> y <a href="https://mozilla.github.io/nunjucks/" target="_blank" title="Se abre en ventana nueva" class="c-link">Nunjucks</a> para renderizar componentes HTML+CSS+JS. Es útil para crear aplicaciones web ligeras o maquetas html.</p>
      <p class="c-paragraph-base">Si necesitas una librería con más potencia para construir tu aplicación web, te recomendamos que mejor uses su <a href="desarrollo-desy-angular.html" class="c-link">versión traducida a Angular (desy-angular)</a>. Debes tener en cuenta que cada versión de esta librería traduce una versión concreta de desy-html, por lo que avanza a un ritmo más lento de lo que se desarrolla desy-html.</p>

      <div class="pb-base"></div>

      {{ DSSectionTitle({
        title: "Cómo empezar un proyecto con desy-html"
      }) }}

      <p class="c-paragraph-base">Usa desy-html-starter como punto de partida para tu proyecto Nunjucks (html+CSS) a través del <a href="https://bitbucket.org/sdaragon" class="c-link">Bitbucket de SDA</a>.</p>
      <ul class="flex flex-wrap gap-base mb-base">
        <li>
          {{ componentButton({
            "html": "Descargar desy-html-starter <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
            "href": "https://bitbucket.org/sdaragon/desy-html-starter/src/master/",
            "target": "_blank",
            "classes": "c-button c-button--primary",
            "attributes": {
              "title": "Se abre en ventana nueva"
            }
          }) }}
        </li>
        <li>
          {{ componentButton({
            "html": "Ver plantillas <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
            "href": "https://desy.aragon.es/pages/desy-html-starter/",
            "target": "_blank",
            "classes": "c-button--transparent",
            "attributes": {
              "title": "Se abre en ventana nueva"
            }
          }) }}
        </li>
      </ul>
      <p class="c-paragraph-base">Si necesitas hacer pruebas de maquetación rápidas, utiliza este espacio de Tailwind Play configurado con nuestro CSS. Pega el código de plantillas, componentes o patrones y visualiza los cambios al instante.</p>
      <div>
        {{ componentButton({
          "html": "Playground desy-html <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
          "href": "https://play.tailwindcss.com/NFnDdUX7yJ",
          "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
        }) }}
      </div>


      <div class="pb-xl"></div>
      {{ DSSectionTitle({
        title: "Contribuye a la evolución de la librería"
      }) }}
      <p class="c-paragraph-base">Si encuentras un error o crees que es necesaria la evolución de un componente, puedes aportar una solución que resulte útil para otros equipos de la siguiente forma:</p>
      <ol class="c-ol">
        <li>Haz un <q>fork</q> del repositorio</li>
        <li>Crea una rama a partir de <code>master</code> y desarrolla tu aportación</li>
        <li>Solicita un <q>pull request</q> a <code>master</code></li>
        <li>Revisaremos la propuesta y podrá ser incluida en futuras versiones</li>
      </ol>



      <div class="pb-xl"></div>
      {{ DSSectionTitle({
        title: "Más recursos"
      }) }}
      <div class="pb-sm"></div>

      <div>
        {{ componentTable({
          "caption": "Más recursos",
          "captionClasses": "sr-only mb-base font-bold text-left text-lg",

          "rows": [
            [
              {
                "html": "<a href=\"https://desy.aragon.es/desy-html/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">Última versión</a>"
              },
              {
                "text": "Changelog. Cambios y actualizaciones en cada versión.",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://www.npmjs.com/package/desy-html\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">Paquete npm</a>"
              },
              {
                "text": "Librería base en Node Package Manager",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://bitbucket.org/sdaragon/desy-html\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">desy-html</a>"
              },
              {
                "text": "Librería base en Bitbucket",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://bitbucket.org/sdaragon/desy-html-starter\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">desy-html-starter</a>"
              },
              {
                "text": "Librería en Bitbucket para empezar un proyecto",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://desy.aragon.es/pages/desy-html-starter/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">Ejemplo de proyecto desy-html-starter</a>"
              },
              {
                "text": "Listado de plantillas de la librería desy-html-starter",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://bitbucket.org/sdaragon/desy-email-templates/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">desy-email-templates</a>"
              },
              {
                "text": "Librería de plantillas de correo electrónico en Bitbucket",
                "classes": "text-left"
              }
            ]
          ],
          "classes": "w-full"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}