{% set title = "Otras librerías. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-otras" %}
{% set activeApartado = "otras" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}

{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% block sidebarBlock %}
  {% include "includes/docs-desarrollo/_menu-lateral-desarrollo.njk" %}
{% endblock %}

{% block innerContentBlock %}
  <div>
    <div>
      <div class="lg:pb-lg"></div>

      <h1 class="c-h1">Otras librerías</h1>
      <div class="p-base bg-primary-light">
        <h2 class="c-h3">Sobre las librerías externas</h2>
        <p>Estas librerías han sido desarrolladas para proyectos concretos por equipos externos a SDA. Puedes usarlas, pero debes saber que pueden no traducir con fidelidad las variables definidas en desy-html y <strong>no cuentan con soporte</strong> ni actualizaciones periódicas.</p>
      </div>

      <h2 class="sr-only">Listado de librerías externas</h2>

      <div class="divide-y divide-neutral-base">
        <div class="py-xl">
          <h3 class="c-h2">desy-react</h3>
          <p class="c-paragraph-base">Storybook con gran parte de los componentes, variantes y estilos definidos en DESY para proyectos construidos con <a href="https://es.react.dev" class="c-link">React</a>. Basado en <a href="https://www.radix-ui.com/" class="c-link">Radix UI</a>.</p>
          <ul class="flex flex-wrap lg:gap-base">
            <li>
              {{ componentButton({
                "html": "Descargar desy-react <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/sdaragon/desy-react/src/main/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
            <li>
              {{ componentButton({
                "html": "Ver Storybook <span class=\"sr-only\">de desy-react</span><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://desy.aragon.es/desy-react/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
          </ul>
        </div>
        <div class="py-xl">
          <h3 class="c-h2">desy-ionic</h3>
          <p class="c-paragraph-base">Storybook con gran parte de los componentes, variantes y estilos definidos en DESY para proyectos construidos con <a href="https://ionicframework.com/" class="c-link">Ionic</a>. Permite el desarrollo de <strong>aplicaciones</strong> nativas para <strong>iOS</strong> y <strong>Android</strong>.</p>
          <ul class="flex flex-wrap lg:gap-base">
            <li>
              {{ componentButton({
                "html": "Descargar desy-ionic <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/sdaragon/desy-ionic/src/master/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
            <li>
              {{ componentButton({
                "html": "Ver Storybook <span class=\"sr-only\">de desy-ionic</span><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://desy.aragon.es/desy-ionic",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
            <li>
              {{ componentButton({
                "html": "Ver Figma <span class=\"sr-only\">de desy-ionic</span><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://www.figma.com/community/file/1383376074462615538/desy-ionic",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
          </ul>
        </div>
        <div class="py-xl">
          <h3 class="c-h2">desy-liferay</h3>
          <p class="c-paragraph-base">Tema basado en desy que personaliza las variables y componentes de <a href="https://clayui.com/" class="c-link">Clay</a> implementados en el gestor de portales y contenidos <a href="https://www.liferay.com/es/" class="c-link">Liferay</a>. Úsalo como punto de partida para crear tu propio tema.</p>
          <ul class="flex flex-wrap lg:gap-base">
            <li>
              {{ componentButton({
                "html": "Descargar desy-liferay <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/sdaragon/desy-liferay-theme/src/master/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
          </ul>
        </div>
        <div class="py-xl">
          <h3 class="c-h2">desy-jsp</h3>
          <p class="c-paragraph-base">Múltiples componentes construidos con tecnología <a href="https://www.oracle.com/java/technologies/jspt.html" class="c-link">JSP</a> para aplicaciones relacionadas con tributos.</p>
          <ul class="flex flex-wrap lg:gap-base">
            <li>
              {{ componentButton({
                "html": "Descargar desy-jsp <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/tribaragon/desytrb/src/master/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
          </ul>
        </div>
        {# <div class="py-xl">
          <h3 class="c-h2">dilan</h3>
          <p class="c-paragraph-base">Dilan (Desy Interface Library for ANgular) es una librería que surge para suplir las necesidades internas del departamento AMD. El objetivo de esta librería, es la de usar <a href="desarrollo-desy-html.html" class="c-link">desy-html</a>, y <strong>extender</strong> <a href="desarrollo-desy-angular.html" class="c-link">desy-angular</a> para añadir <strong>funcionalidades</strong> propias del departamento, y la de facilitar la creación de aplicaciones Angular usando desy. Los componentes integrados son: <a href="componente-tabla.html" class="c-link">tabla</a>, <a href="componente-paginacion.html" class="c-link">paginación</a>, <a href="componente-paginacion.html" class="c-link">fecha</a> y <a href="componente-selector.html" class="c-link">selector</a>.</p>
          <ul class="flex flex-wrap lg:gap-base">
            <li>
              {{ componentButton({
                "html": "Descargar dilan-front <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/astaragon/astframeworkdilanfront/src/master/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
            <li>
              {{ componentButton({
                "html": "Descargar dilan-back <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/astaragon/astframeworkdilanback/src/master/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
            <li>
              {{ componentButton({
                "html": "Más información <span class=\"sr-only\">de dilan</span><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://ast.aragon.es/actualidad/ast-framework-open-source-para-java-angular",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
          </ul>
        
        </div> #}
        
        <div class="py-xl">
          <h3 class="c-h2">desy-wordpress</h3>
          <p class="c-paragraph-base">Ejemplo de la integración de desy-html en un tema de <a href="https://www.wordpress.com/es/" class="c-link">Wordpress</a>.</p>
          <ul class="flex flex-wrap lg:gap-base">
            <li>
              {{ componentButton({
                "html": "Descargar desy-wordpress <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
                "href": "https://bitbucket.org/sdaragon/wordpress-desy-html/src/master/",
                "target": "_blank",
                "classes": "c-button--transparent",
                "attributes": {
                  "title": "Se abre en ventana nueva"
                }
              }) }}
            </li>
          </ul>
        </div>
      </div>
      <div class="pb-xl"></div>

    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}