{% set title = "Desarrollo con desy-angular. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-desy-angular" %}
{% set activeApartado = "desy-angular" %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/table/_macro.table.njk" import componentTable %}

{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% block sidebarBlock %}
  {% include "includes/docs-desarrollo/_menu-lateral-desarrollo.njk" %}
{% endblock %}


{% block innerContentBlock %}
  <div>
    <div>
      <div class="lg:pb-lg"></div>

      <h1 class="c-h1">desy-angular</h1>
      <p class="c-paragraph-base">Librería NPM que sirve para construir la interfaz de usuario de las aplicaciones web del Gobierno de Aragón con el framework <a href="https://angular.dev/" target="_blank" title="Se abre en ventana nueva" class="c-link">Angular</a>. Es la librería que se propone para ser utilizada para desarrollos finales de aplicaciones web.</p>
      <p class="c-paragraph-base">Cada versión de esta librería apunta a una versión específica de desy-html y la tiene como dependencia. Normalmente, los parámetros de configuración y los diseños de componentes comienzan en desy-html y posteriormente se traducen a desy-angular. No obstante, desy-angular tiene algunos parámetros propios relativos a su implementación.</p>
      <p class="c-paragraph-base">Si quieres saber a qué versión de desy-html corresponde cada versión de desy-angular, consulta nuestra <a href="desarrollo-versiones.html" class="c-link">tabla de versiones</a></p>


      <div class="pb-base"></div>

      {{ DSSectionTitle({
        title: "Cómo empezar un proyecto con desy-angular"
      }) }}

      <p class="c-paragraph-base">Usa el repositorio desy-angular-templates como punto de partida para tu proyecto con Angular a través del <a href="https://bitbucket.org/sdaragon" class="c-link">Bitbucket de SDA</a>.</p>
      <ul class="flex flex-wrap gap-base mb-base">
        <li>
          {{ componentButton({
            "html": "Descargar desy-angular-templates <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
            "href": "https://bitbucket.org/sdaragon/desy-angular-templates/src/master/",
            "target": "_blank",
            "classes": "c-button c-button--primary",
            "attributes": {
              "title": "Se abre en ventana nueva"
            }
          }) }}
        </li>
        <li>
          {{ componentButton({
            "html": "Ver plantillas <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
            "href": "https://desy.aragon.es/pages/desy-angular-templates/",
            "target": "_blank",
            "classes": "c-button--transparent",
            "attributes": {
              "title": "Se abre en ventana nueva"
            }
          }) }}
        </li>
      </ul>

      <p class="c-paragraph-base">También dispones de una demo con ejemplos interactivos de los componentes y sus parámetros, además de documentación técnica.</p>

      <ul class="flex flex-wrap  gap-base">
        <li>
          {{ componentButton({
            "html": "Demo de los componentes <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
            "href": "https://desy.aragon.es/desy-angular",
            "target": "_blank",
            "attributes": {
              "title": "Se abre en ventana nueva"
            }
          }) }}
        </li>
        <li>
          {{ componentButton({
            "html": "Ver documentación <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-sm\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
            "href": "https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/2996699584/desy-angular/",
            "target": "_blank",
            "classes": "c-button--transparent",
            "attributes": {
              "title": "Se abre en ventana nueva"
            }
          }) }}
        </li>
      </ul>

      <div class="pb-xl"></div>
      {{ DSSectionTitle({
        title: "¿Qué versión utilizo?"
      }) }}
      <ul class="c-ul">
        <li><strong lang="en">Latest</strong> (<a href="https://bitbucket.org/sdaragon/desy-angular/src/master/" class="c-link">desy-angular v14</a>): Utiliza Angular 18. Se expande con nuevas funcionalidades periodicamente.</li>
        <li><strong lang="en">Long Term Support</strong> (<a href="https://www.npmjs.com/package/desy-angular/v/13.0.2" class="c-link">desy-angular v13</a>): Utiliza Angular 16. Únicamente se corrigen bugs críticos.</li>
      </ul>


      <div class="pb-xl"></div>
      {{ DSSectionTitle({
        title: "Contribuye a la evolución de la librería"
      }) }}
      <p class="c-paragraph-base">Si encuentras un error o crees que es necesaria la evolución de un componente, puedes aportar una solución que resulte útil para otros equipos de la siguiente forma:</p>
      <ol class="c-ol">
        <li>Haz un <q>fork</q> del repositorio</li>
        <li>Crea una rama a partir de <code>master</code> y desarrolla tu aportación</li>
        <li>Solicita un <q>pull request</q> a <code>master</code></li>
        <li>Revisaremos la propuesta y podrá ser incluida en futuras versiones</li>
      </ol>

      <div class="pb-xl"></div>
      {{ DSSectionTitle({
        title: "Más recursos"
      }) }}

      <div class="pb-sm"></div>

      <div>
        {{ componentTable({
          "caption": "Más recursos",
          "captionClasses": "sr-only mb-base font-bold text-left text-lg",

          "rows": [
            [
              {
                "html": "<a href=\"https://desy.aragon.es/desy-angular/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">Última versión</a>"
              },
              {
                "text": "Changelog. Cambios y actualizaciones en cada versión.",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://www.npmjs.com/package/desy-angular\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">Paquete npm</a>"
              },
              {
                "text": "Librería base en Node Package Manager",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://bitbucket.org/sdaragon/desy-angular/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">desy-angular</a>"
              },
              {
                "text": "Librería base en Bitbucket",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://bitbucket.org/sdaragon/desy-angular/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">desy-angular-templates</a>"
              },
              {
                "text": "Librería en Bitbucket para empezar un proyecto",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://bitbucket.org/sdaragon/desy-angular-starter/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">desy-angular-starter</a>"
              },
              {
                "text": "Librería en Bitbucket",
                "classes": "text-left"
              }
            ],
            [
              {
                "html": "<a href=\"https://desy.aragon.es/pages/desy-angular-templates/\" target=\"_blank\" title=\"Se abre en ventana nueva\" class=\"c-link\">Ejemplo de plantillas con desy-angular</a>"
              },
              {
                "text": "Listado de las plantillas disponibles en desy-html-templates",
                "classes": "text-left"
              }
            ]
            
          ],
          "classes": "w-full"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}