{% set title = "Versiones. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-versiones" %}
{% set activeApartado = "versiones" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tooltip/_macro.tooltip.njk" import componentTooltip %}

{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}


{% block sidebarBlock %}
  {% include "includes/docs-desarrollo/_menu-lateral-desarrollo.njk" %}
{% endblock %}


{% block innerContentBlock %}
  <div>
    <div>
      <div class="lg:pb-lg"></div>

      <h1 class="c-h1">Relación entre versiones</h1>
      <p class="c-paragraph-base">Cada librería se desarrolla por diferentes equipos y en paralelo. Tomamos como referencia versiones concretas de desy-html para su traducción.</p>
      <p class="c-paragraph-base">Pasa el cursor sobre las versiones para saber en que fecha se publicaron.</p>
      <div class="pb-lg"></div>

      {# fechas y versiones desy-html #}
      {% set item411 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item411",
              "text": "v4.1.1"
            }) %}
            <p class="c-paragraph-sm mb-0">16 septiembre 2021</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v4.1.1",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
          
        </div>
      {% endset %}
      {% set item500 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item500",
              "text": "v5.0.0"
            }) %}
            <p class="c-paragraph-sm mb-0">1 diciembre 2021</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v5.0.0",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item522 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item522",
              "text": "v5.2.2"
            }) %}
            <p class="c-paragraph-sm mb-0">14 enero 2022</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v5.2.2",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item621 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item621",
              "text": "v6.2.1"
            }) %}
            <p class="c-paragraph-sm mb-0">20 junio 2022</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v6.2.1",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item710 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          
          <div>
            {% call componentTooltip({
              "id": "item710",
              "text": "v7.1.0"
            }) %}
            <p class="c-paragraph-sm mb-0">9 noviembre 2022</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v7.1.0",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item890 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item890",
              "text": "v8.9.0"
            }) %}
            <p class="c-paragraph-sm mb-0">15 noviembre 2023</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v8.9.0",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item8110 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item8110",
              "text": "v8.11.0"
            }) %}
            <p class="c-paragraph-sm mb-0">18 diciembre 2023</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v8.11.0",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item8120 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item8120",
              "text": "v8.12.1"
            }) %}
            <p class="c-paragraph-sm mb-0">6 marzo 2024</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v8.12.1",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item1105 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item1105",
              "text": "v11.0.5"
            }) %}
            <p class="c-paragraph-sm mb-0">14 octubre 2024</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v11.0.5/",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}
      {% set item1110 %}
        <div class="flex lg:justify-end flex-row items-center gap-xs">
          <div>
            {% call componentTooltip({
              "id": "item1110",
              "text": "v11.1.0"
            }) %}
            <p class="c-paragraph-sm mb-0">28 octubre 2024</p>
            {% endcall  %}
          </div>
          <div>
            {{ componentButton({
              "html": '<span class="sr-only">Ver la versión</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" role="img" aria-label="Ver"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>',
              "href": "https://desy.aragon.es/versions/v11.1.0/",
              "classes": "c-button--transparent c-button--sm",
              "target": "_blank",
              "attributes": {
                "title": "Se abre en ventana nueva"
              }
            }) }}
          </div>
        </div>
      {% endset %}





      {# fechas y versiones desy-angular #}
      {% set a400 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a400",
              "html": '<p>v4.0.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">14 octubre 2021</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a500 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a500",
              "html": '<p>v5.0.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">9 diciembre 2021</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a511 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a511",
              "html": '<p>v5.1.1</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">28 enero 2022</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a603 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a603",
              "html": '<p>v6.0.3</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">26 septiembre 2022</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a710 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a710",
              "html": '<p>v7.1.0. Sólo configuración Tailwind CSS.</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">31 mayo 2023</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a800 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a800",
              "html": '<p>v8.0.0. Sólo configuración Tailwind CSS.</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">2 octubre 2023</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a900 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a900",
              "html": '<p>v9.0.0. Configuración Tailwind CSS y componentes.</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">17 abril 2023</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a1000 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a1000",
              "html": '<p>v10.0.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">22 diciembre 2023</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a1100 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a1100",
              "html": '<p>v11.0.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">19 enero 2024</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a1110 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a1110",
              "html": '<p>v11.1.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">11 marzo 2024</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a1200 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a1200",
              "html": '<p>v12.0.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">15 marzo 2024</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a1300 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a1300",
              "html": '<p>v13.0.0</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">25 octubre 2024</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}
      {% set a1401 %}
        <div class="flex flex-row gap-sm">
          <div>
            {% call componentTooltip({
              "id": "a1410",
              "html": '<p>v14.0.1</p>'
            }) %}
            <p class="c-paragraph-sm mb-0">31 enero 2025</p>
            {% endcall  %}
          </div>
        </div>
      {% endset %}

      <div>
        {{ componentTable({
          "caption": "Relación entre vesiones",
          "captionClasses": "sr-only mb-base font-bold text-left text-lg",
          "head": [
            {
              "text": "desy-html",
              "classes": "text-left w-fit"
            },
            {
              "text": "desy-angular",
              "classes": "text-left w-2/3"
            },
            {
              "text": "Angular",
              "classes": "text-center w-full"
            }
          ],
          "rows": [
            [
              {
                "html": item1110 | safe
              },
              {
                "text": a1401 | safe,
                "classes": "text-left"
              },
              {
                "text": "v18",
                "classes": "text-center"
              }
            ],
            [
              {
                "html": item1105 | safe
              },
              {
                "text": a1300 | safe,
                "classes": "text-left"
              },
              {
                "text": "v16",
                "classes": "text-center",
                "rowspan": 8
              }
            ],
            [
              {
                "html": item8120 | safe,
                "rowspan": 2
              },
              {
                "text": a1200 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "text": a1110 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": item8110 | safe
              },
              {
                "text": a1100 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": item890 | safe
              },
              {
                "text": a1000 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": item710 | safe,
                "rowspan": 3
              },
              {
                "html": a900 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": a800 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": a710 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": item621 | safe
              },
              {
                "text": a603 | safe,
                "classes": "text-left"
              },
              {
                "text": "v11",
                "classes": "text-center",
                "rowspan": 4
              }
            ],
            [
              {
                "html": item522 | safe
              },
              {
                "text": a511 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": item500 | safe
              },
              {
                "text": a500 | safe,
                "classes": "text-left"
              }
            ],
            [
              {
                "html": item411 | safe
              },
              {
                "html": a400 | safe,
                "classes": "text-left"
              }
            ]
            
          ],
          "classes": "c-table--no-responsive w-full text-sm",
          "wrapper": {
            "classes": "relative overflow-x-auto pb-base"
          }
        }) }}
      </div>
    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}