{% set title = "Recursos para imágenes. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Uso de imágenes" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/table/_macro.table.njk" import componentTable %}





{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Uso de imágenes</h1>
  <p class="c-paragraph-base">El uso de imágenes y objetos multimedia está limitado. Es necesario tener en cuenta ciertas guías de estilo.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-imagenes.html",
        "text": "Recursos",
        "active": true
      },
      {
        "href": "estilos-imagenes-usos.html",
        "text": "Usos"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#iconos" class="c-link">Iconos</a></li>
    <li class="pb-sm"><a href="#logotipos" class="c-link">Logotipos</a></li>
    <li class="pb-sm"><a href="#imgenes" class="c-link">Imágenes</a></li>
    <li class="pb-sm"><a href="#ilustraciones" class="c-link">Ilustraciones</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Iconos"
  }) }}
  <p class="c-paragraph-base">Utilizamos las familias <a href="https://www.streamlinehq.com/icons/streamline-mini-bold" class="c-link" title="Se abre en ventana nueva" target="_blank">Streamline Core Solid{% include "includes/_external-link-icon.njk" %}</a> y <a href="https://www.streamlinehq.com/icons/streamline-bold" class="c-link" title="Se abre en ventana nueva" target="_blank">Streamline Ultimate Bold{% include "includes/_external-link-icon.njk" %}</a> para nuestros iconos en componentes y como apoyo al contenido.</p>

  <p class="c-paragraph-base">Puedes consultar las familias y cómo se utilizan en <a href="componente-iconos.html" class="c-link">Iconos</a>, disponible en la sección de componentes.</p>
  <div class="pb-lg"></div>

  {{ DSSectionTitle({
    title: "Logotipos"
  }) }}
  <p class="c-paragraph-base">Consulta la sección de <a href="https://www.aragon.es/-/comunicacion-corporativa" class="c-link inline-block" target="_blank" title="Se abre en ventan nueva">comunicación corporativa{% include "includes/_external-link-icon.njk" %}</a>  del portal para ver la galería de escudos y logotipos y otras aplicaciones gráficas.</p>
  <p class="c-paragraph-base">Si necesitas incluir logotipos de tu organización o por normativa, tienes varias zonas habilitadas para ello según el caso.</p>
  <div>
    {{ componentTable({
      "idPrefix": "table-default",
      "caption": "Dónde colocar los logotipos",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "head":[
        {
          "text": "Logotipo"
        },
        {
          "text": "Dónde colocarlo",
          "classes": "w-1/4"
        },
        {
          "text": "Cómo colocarlo"
        }
      ],
      "rows": [
        [
          {
            "text": "Organización"
          },
          {
            "html": '<a href="componente-cabeceras.html#si-tu-organizacin-tiene-logotipo" class="c-link">Cabecera avanzada</a>'
          },
          {
            "text": "Espacio habilitado en la cabecera para portales junto al título, en negativo, responsive y con unas dimensiones determinadas."
          }
        ],
        [
          {
            "text": "Financiación Europea"
          },
          {
            "html": '<a href="componente-footer.html#financiacin-europea" class="c-link">Pie de página</a>'
          },
          {
            "text": "Distintas variantes según los fondos, definidas dentro del componente."
          }
        ],
        [
          {
            "text": "Otras financiaciones u organizaciones"
          },
          {
            "html": '<a href="componente-footer-codigo.html#solo-con-logo-personalizado" class="c-link">Pie de página</a>'
          },
          {
            "text": "Espacio anidado para incluir uno o más logotipos alineados."
          }
        ]
      ],
      "wrapper": {
        "classes": "relative overflow-x-auto pb-base"
      }
    }) }}
  </div>
  <p class="c-paragraph-base mt-sm">Consulta y descarga los logotipos que utilizamos en nuestro <a href="https://bitbucket.org/sdaragon/logos/src/master/" class="c-link inline-block" target="_blank" title="Se abre en ventana nueva">repositorio de logotipos en Bitbucket{% include "includes/_external-link-icon.njk" %}</a></p>
  <div class="pb-lg"></div>

  
  {{ DSSectionTitle({
    title: "Imágenes"
  }) }}
  <p class="c-paragraph-base">Sólo podrás utilizar imágenes en portales de forma limitada, nunca en aplicaciones web.</p>
  <p class="c-paragraph-base">DESY es un Sistema de Diseño basado casi completamente en texto y en su jerarquía. Como queremos que el protagonista sea el contenido, debemos reducir el uso de imágenes e ilustraciones al mínimo necesario. </p>
  <p class="c-paragraph-base">Si quieres incluir este elemento en tu proyecto, tienes más información en la pestaña <a href="estilos-imagenes-usos.html" class="c-link">usos</a> de esta página.</p>
  <div class="pb-lg"></div>

  

  {{ DSSectionTitle({
    title: "Ilustraciones"
  }) }}
  <p class="c-paragraph-base">Sólo podrás utilizar ilustraciones en portales de forma limitada, nunca en aplicaciones web.</p>
  <p class="c-paragraph-base">Utilizamos la <a href="https://www.streamlinehq.com/illustrations/illustrations-brooklyn" class="c-link" title="Se abre en ventana nueva" target="_blank">familia Brooklyn de Streamline{% include "includes/_external-link-icon.njk" %}</a> cuando es necesario el uso de ilustraciones. Debes configurar los colores <code>#1f2331</code> - <code>black</code> y <code>#fdcb33</code> - <code>warning-base</code> respectivamente, con fondo transparente.</p>
  <p class="c-paragraph-base">Consulta la sección de <a href="estilos-imagenes-usos.html#ilustraciones-de-escena" class="c-link">uso de ilustraciones de situación</a> para saber cómo seleccionamos las ilustraciones y qué queremos transmitir con ellas.</p>

  <div class="pb-lg"></div>





{% endblock %}