{% set title = "Color - Semántica. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Color" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Color</h1>
  <p class="c-paragraph-base">Paletas de colores accesibles que ayudarán a la persona a navegar, interpretar e interactuar de forma óptima con tu interfaz.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-color.html",
        "text": "Semántica",
        "active": true
      },
      {
        "href": "estilos-color-paletas.html",
        "text": "Paletas"
      },
      {
        "href": "estilos-color-usos.html",
        "text": "Usos"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#colores-base" class="c-link">Colores base</a></li>
    <li class="pb-sm"><a href="#significado-del-color" class="c-link">Significado del color</a></li>
    <li class="pb-sm"><a href="#roles-familias-y-temas" class="c-link">Roles, familias y temas</a></li>
    <li class="pb-sm"><a href="#bordes" class="c-link">Bordes</a></li>
    <li class="pb-sm"><a href="#accesibilidad-en-colores" class="c-link">Accesibilidad en colores</a></li>
    <li class="pb-sm"><a href="#paleta-para-grficas" class="c-link">Paleta para gráficas</a></li>
  </ul>
  <div class="pb-xl"></div>


  <div class="grid lg:grid-cols-2 gap-base">
    <div>
      {{ DSSectionTitle({
        title: "Colores base"
      }) }}
      <p class="c-paragraph-base">Hemos definido varias familias representadas por los colores base, cada una con un significado semántico asociado. A partir de cada familia surge una la paleta de variantes de color para crear una interfaz accesible y consistente, que usaremos a lo largo de los elementos y componentes que forman este sistema de diseño.</p>
    </div>
    <ul class="p-base border border-neutral-base rounded h-full grid lg:grid-cols-2 gap-base">
      <li class="w-full flex items-center">
        <div role= "img" aria-label="Círculo de color primario" class="rounded-full w-6 h-6 bg-primary-base inline-block"></div><span class="inline-block ml-base align-middle">primary</span>
      </li>
      <li class="w-full flex items-center">
        <div role= "img" aria-label="Dos círculos de color neutral en tonos base y lighter" class="flex items-center"><div class="rounded-full w-6 h-6 bg-neutral-base inline-block"></div><div class="rounded-full w-6 h-6 bg-neutral-lighter border border-black inline-block -ml-sm"></div><span class="inline-block ml-base align-middle">neutral</span></div>
      </li>
      <li class="w-full flex items-center col-span-2">
        <div role= "img" aria-label="Cuatro círculos en tono base con los colores warning, succes, info y alert" class="flex items-center"><div class="rounded-full w-6 h-6 bg-warning-base border border-black inline-block"></div><div class="rounded-full w-6 h-6 bg-success-base inline-block border border-black -ml-sm"></div><div class="rounded-full w-6 h-6 bg-info-base inline-block border border-black -ml-sm"></div><div class="rounded-full w-6 h-6 bg-alert-base inline-block border border-black -ml-sm"></div><span class="inline-block ml-base align-middle">warning / success / info / alert</span></div>
      </li>
      <li class="w-full flex items-center">
        <div role= "img" aria-label="Un círculo de color heading en tono base" class="flex items-center"><div class="rounded-full w-6 h-6 bg-heading-base inline-block"></div><span class="inline-block ml-base align-middle">heading</span></div>
      </li>
      <li class="w-full flex items-center">
        <div role= "img" aria-label="Cinco círculos con los colores de la paleta para gráficas" class="flex items-center"><div class="rounded-full w-6 h-6 bg-[#4d1f2e] inline-block border border-white"></div><div class="rounded-full w-6 h-6 bg-[#aa3c2b] inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-[#739ba5] inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-[#00607a] inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-[#013c53] inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">Gráficas</span></div>
      </li>
    </ul>
  </div>
  <div class="pb-xl"></div>


  <div class="grid lg:grid-cols-2 gap-base">
    <div>
      {{ DSSectionTitle({
        title: "Significado del color"
      }) }}
      <p class="c-paragraph-base">Con el objetivo de identificar mejor esta semántica, cada familia consta de varios temas según su tono. El nombre de cada color referencia a sus clases, de más general a más específica.</p>
      <p class="c-paragraph-base">El término "Rol" sirve para agrupar varias familias o temas, de esta forma identificamos mejor a qué contexto corresponde cada color independientemente de la terminología definida en el código.</p>
    </div>
    <ul class="p-base border border-neutral-base rounded h-full grid gap-base place-items-center">
      <li class="w-full flex self-start">
        <div class="rounded-full w-6 h-6 bg-primary-base inline-block"></div>
        <div class="ml-base">
          <p class="c-paragraph-base -mb-xs">Interacción: primary-base</p><p class="c-paragraph-base text-neutral-dark">Rol: familia-tema</p>
        </div>
      </li>
      <li class="w-full flex self-start">
        <div class="rounded-full w-6 h-6 bg-neutral-light border border-neutral-black inline-block"></div>
        <div class="ml-base">
          <p class="c-paragraph-base -mb-xs">Fondo: neutral-light</p><p class="c-paragraph-base text-neutral-dark">Rol: familia-tema</p>
        </div>
      </li>
      <li class="w-full flex self-start">
        <div class="rounded-full w-6 h-6 bg-alert-light inline-block border border-black"></div>
        <div class="ml-base">
          <p class="c-paragraph-base -mb-xs">Soporte: alert-light</p><p class="c-paragraph-base text-neutral-dark">Rol: familia-tema</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Roles, familias y temas"
  }) }}
  <p class="c-paragraph-base">Dentro de cada familia existen variantes del color base que forman una paleta. El uso de estas variantes depende del componente, el contexto y las limitaciones de accesibilidad.</p>
  <ul class="grid lg:grid-cols-2 gap-base">
    <li class="p-base border border-neutral-base rounded">
      <div class="w-full">
        <h3 class="text-lg"><strong>Interacción</strong></h3>
        <p class="c-paragraph-base text-neutral-dark">Botones de interacción y enlaces</p>
        <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-primary-light border border-white inline-block"></div><div class="rounded-full w-6 h-6 bg-primary-base inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-primary-dark inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">primary-light / primary-base / primary-dark</span></div>
      </div>
    </li>
    <li class="p-base border border-neutral-base rounded">
      <div class="w-full">
        <h3 class="text-lg"><strong>Contenido</strong></h3>
        <p class="c-paragraph-base text-neutral-dark">Bordes, textos principales y secundarios</p>
        <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-neutral-base border border-white inline-block"></div><div class="rounded-full w-6 h-6 bg-neutral-dark inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-black inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">neutral-base / neutral-dark / black</span></div>
      </div>
    </li>
    <li class="p-base border border-neutral-base rounded">
      <div class="w-full">
        <h3 class="text-lg"><strong>Fondo</strong></h3>
        <p class="c-paragraph-base text-neutral-dark">Detrás del contenido, predominancia del color blanco</p>
        <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-white border border-black inline-block"></div><div class="rounded-full w-6 h-6 bg-neutral-lighter border border-black inline-block -ml-sm"></div><div class="rounded-full w-6 h-6 bg-neutral-light border border-black inline-block -ml-sm"></div><span class="inline-block ml-base align-middle">white / neutral-lighter / neutral-light</span></div>
      </div>
    </li>
    <li class="p-base border border-neutral-base rounded">
      <div class="w-full">
        <h3 class="text-lg"><strong>Cabecera</strong></h3>
        <p class="c-paragraph-base text-neutral-dark">Únicamente para el fondo de cabecera, tras el título</p>
        <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-heading-base border border-white inline-block border border-white"></div><div class="rounded-full w-6 h-6 bg-heading-dark border border-white inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">heading-base / heading-dark</span></div>
      </div>
    </li>
    <li class="p-base border border-neutral-base rounded lg:col-span-2">
      <div class="w-full">
        <h3 class="text-lg"><strong>Soporte</strong></h3>
        <p class="c-paragraph-base text-neutral-dark">Diversos usos según el estado</p>
      </div>
      <div class="pb-base"></div>
      <ul class="w-full grid lg:grid-cols-2 gap-lg">
        <li class="w-full">
          <div>
            <h4><strong>Advertencia</strong></h4>
            <p class="c-paragraph-sm text-neutral-dark">Foco, precaución, en espera</p>
          </div>
          <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-warning-light border border-white inline-block border border-white"></div><div class="rounded-full w-6 h-6 bg-warning-base border border-white inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-warning-dark border border-white inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">warning-light / warning-base / warning-dark</span></div>
        </li>
        <li class="w-full">
          <div>
            <h4><strong>Éxito</strong></h4>
            <p class="c-paragraph-sm text-neutral-dark">Confirmación, publicado, correcto</p>
          </div>
          <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-success-light border border-white inline-block border border-white"></div><div class="rounded-full w-6 h-6 bg-success-base border border-white inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-success-dark border border-white inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">success-light / success-base / success-dark</span></div>
        </li>
        <li class="w-full">
          <div>
            <h4><strong>Información</strong></h4>
            <p class="c-paragraph-sm text-neutral-dark">Aviso, dato relevante</p>
          </div>
          <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-info-light border border-white inline-block border border-white"></div><div class="rounded-full w-6 h-6 bg-info-base border border-white inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-info-dark border border-white inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">info-light / info-base / info-dark</span></div>
        </li>
        <li class="w-full">
          <div>
            <h4><strong>Alerta</strong></h4>
            <p class="c-paragraph-sm text-neutral-dark">Error, peligro, eliminar </p>
          </div>
          <div class="flex items-center"><div class="rounded-full w-6 h-6 bg-alert-light border border-white inline-block border border-white"></div><div class="rounded-full w-6 h-6 bg-alert-base border border-white inline-block border border-white -ml-sm"></div><div class="rounded-full w-6 h-6 bg-alert-dark border border-white inline-block border border-white -ml-sm"></div><span class="inline-block ml-base align-middle">alert-light / alert-base / alert-dark</span></div>
        </li>
      </ul>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Bordes"
  }) }}
  <p class="c-paragraph-base">Solemos utilizar dos grosores de borde: 1 o 4 píxeles, según dónde se encuentren. La familia a la que pertenece dependerá de su función dentro de la interfaz.</p>
  <div class="p-base border border-neutral-base rounded">
    <div>
      <h3 class="text-lg"><strong>Grosor 1px</strong></h3>
      <p class="c-paragraph-base text-neutral-dark">Separadores y bordes de componentes</p>
    </div>
    <ul class="grid lg:grid-cols-3 gap-base">
      <li class="w-full border border-black p-base">
        <h4 class="mb-sm"><strong>Contenido: black</strong></h4>
        <p class="text-neutral-dark mb-xs">Bordes de campos de texto</p>
        <p class="text-neutral-dark mb-xs">Cabecera de tablas</p>
      </li>
      <li class="w-full border border-neutral-base p-base">
        <h4 class="mb-sm"><strong>Contenido: neutral-base</strong></h4>
        <p class="text-neutral-dark mb-xs">Separadores y divisores </p>
        <p class="text-neutral-dark mb-xs">Bordes de cards</p>
        <p class="text-neutral-dark mb-xs">Bordes de modales</p>
      </li>
      <li class="w-full border border-primary-base p-base">
        <h4 class="mb-sm"><strong>Interacción: primary-base</strong></h4>
        <p class="text-neutral-dark mb-xs">Botones</p>
      </li>
      <li class="w-full border border-alert-dark p-base">
        <h4 class="mb-sm"><strong>Soporte: alert-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Mensajes de error</p>
        <p class="text-neutral-dark mb-xs">Píldoras</p>
      </li>
      <li class="w-full border border-warning-dark p-base">
        <h4 class="mb-sm"><strong>Soporte: warning-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Píldoras</p>
      </li>
      <li class="w-full border border-success-dark p-base">
        <h4 class="mb-sm"><strong>Soporte: success-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Píldoras</p>
      </li>
    </ul>
    <div class="pb-xl"></div>
    <div>
      <h3 class="text-lg"><strong>Grosor 2px</strong></h3>
      <p class="c-paragraph-base text-neutral-dark">Condicional</p>
    </div>
    <ul class="grid lg:grid-cols-3 gap-base">
      <li class="w-full border-l-2 border-primary-dark p-base">
        <h4 class="mb-sm"><strong>Interacción: primary-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Borde izquierdo de bloques condicionales que aprecen tras seleccionar un input</p>
      </li>
    </ul>
    <div class="pb-xl"></div>
    <div>
      <h3 class="text-lg"><strong>Grosor 4px</strong></h3>
      <p class="c-paragraph-base text-neutral-dark">Mensajes, notificaciones y avisos</p>
    </div>
    <ul class="grid lg:grid-cols-3 gap-base">
      <li class="w-full border-4 border-success-dark p-base">
        <h4 class="mb-sm"><strong>Soporte: success-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Aviso de éxito</p>
      </li>
      <li class="w-full border-4 border-alert-dark p-base">
        <h4 class="mb-sm"><strong>Soporte: success-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Aviso de errores</p>
        <p class="text-neutral-dark mb-xs">Ítem con errores</p>
      </li>
      <li class="w-full border-4 border-primary-dark p-base">
        <h4 class="mb-sm"><strong>Interacción: primary-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Notificaciones y aviso de información</p>
      </li>
      <li class="w-full border-4 border-neutral-dark p-base">
        <h4 class="mb-sm"><strong>Contenido: neutral-dark</strong></h4>
        <p class="text-neutral-dark mb-xs">Borde superior de algunos cards</p>
        <p class="text-neutral-dark mb-xs">Borde inferior de item activo en menú horizontal con aspecto de navegación</p>
      </li>
    </ul>
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad en colores"
  }) }}
  <p class="c-paragraph-base">El contraste de color entre el texto y los elementos interactivos debe cumplir el mínimo AA de WCAG tanto para herramientas internas como las destinadas a la ciudadanía. Al ser un sistema de diseño basado en el fondo blanco, el uso de texto sobre masa de color está limitado a botones y ciertos elementos concretos.</p>
  <div class="p-base border border-neutral-base rounded">
    <h3 class="text-lg"><strong>Texto sobre colores base</strong></h3>
    <p class="text-neutral-dark mb-base">Únicamente se usan en botones. El peso de la fuente debe ser Semibold y tener un tamaño mínimo de 16 píxeles.</p>
    <ul class="grid grid-cols-3 lg:grid-cols-5 gap-5 mb-xl">
      <li class="p-4 bg-primary-base font-semibold text-white">
        Texto
      </li>
      <li class="p-4 bg-warning-base font-semibold text-black">
        Texto
      </li>
      <li class="p-4 bg-success-base font-semibold text-black">
        Texto
      </li>
      <li class="p-4 bg-info-base font-semibold text-black">
        Texto
      </li>
      <li class="p-4 bg-alert-base font-semibold text-white">
        Texto
      </li>
    </ul>
    <h3 class="text-lg"><strong>Texto sobre colores light</strong></h3>
    <p class="text-neutral-dark mb-base">Pueden encontrarse en mensajes de estado y bloques de información.</p>
    <ul class="grid grid-cols-3 lg:grid-cols-5 gap-5 mb-base">
      <li class="p-4 bg-primary-light">
        Texto
      </li>
      <li class="p-4 bg-warning-light">
        Texto
      </li>
      <li class="p-4 bg-success-light">
        Texto
      </li>
      <li class="p-4 bg-info-light">
        Texto
      </li>
      <li class="p-4 bg-alert-light">
        Texto
      </li>
    </ul>
  </div>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Paleta para gráficas"
  }) }}
  <p class="c-paragraph-base">Con la creación de una guía de estilos para entornos digitales, surge la necesidad de configurar una paleta de colores accesible para utilizar en gráficas y diagramas. Recomendamos utilizar la primera cuando tengamos cinco o menos elementos, ya que aseguramos la accesibilidad AA de WCAG. En caso de tener más de 5 y hasta 10 ítems, tenemos una segunda paleta ampliada.</p>
  <p class="c-paragraph-base">También deberás tener en cuenta que el tamaño, peso y color del texto deben cumplir accesibilidad cuando los coloques sobre estos fondos.</p>
  <div class="p-base border border-neutral-base rounded">
    <h3 class="text-lg"><strong>Paleta accesible DESY ARAGON</strong></h3>
    <p class="c-paragraph-base text-neutral-dark">Mezcla del azul de interacción primario definido en DESY y el color Tierra de la imagen corporativa del GA. Paleta accesible para usuarios con tricromía y contraste AA.</p>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-base">
      <div class="lg:col-span-3 h-full grid items-center">
        <ul class="grid lg:grid-cols-5 lg:grid-rows-1 lg:h-1/2">
          <li class="inset-0 bg-[#4d1f2e] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#4d1f2e</span></li>
          <li class="inset-0 bg-[#aa3c2b] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#aa3c2b</span></li>
          <li class="inset-0 bg-[#739ba5] font-semibold text-black flex items-center justify-center"><span class="text-sm lg:text-base">#739ba5</span></li>
          <li class="inset-0 bg-[#00607a] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#00607a</span></li>
          <li class="inset-0 bg-[#013c53] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#013c53</span></li>
        </ul>
      </div>
      <div class="grid items-center justify-center">
        <figure>
          <img src="images/e-grafica1.svg" alt="Gráfica con la paleta de colores DESY ARAGON" class="mb-0">
        </figure>
      </div>
    </div>

    <div class="pb-lg"></div>
    <h3 class="text-lg"><strong>Paleta ampliada DESY ARAGON</strong></h3>
    <p class="c-paragraph-base text-neutral-dark">Toma como referencia la primera paleta y la amplía con colores complementarios definidos en la imagen de marca del GA. Se intenta cumplir la accesibilidad y legibilidad dentro de lo posible para usuarios con tricromía, aunque se debería procurar evitar la superposición de los colores azul-amarillo. Los valores de contraste del texto en su interior cumplen con accesibilidad AA.</p>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-base">
      <div class="lg:col-span-3 h-full grid items-center">
        <ul class="grid lg:grid-cols-5 h-full">
          <li class="inset-0 bg-[#4d1f2e] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#4d1f2e</span></li>
          <li class="inset-0 bg-[#aa3c2b] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#aa3c2b</span></li>
          <li class="inset-0 bg-[#739ba5] font-semibold text-black flex items-center justify-center"><span class="text-sm lg:text-base">#739ba5</span></li>
          <li class="inset-0 bg-[#00607a] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#00607a</span></li>
          <li class="inset-0 bg-[#013c53] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#013c53</span></li>
          <li class="inset-0 bg-[#bc8a01] font-semibold text-black flex items-center justify-center"><span class="text-sm lg:text-base">#bc8a01</span></li>
          <li class="inset-0 bg-[#ed6c02] font-semibold text-black flex items-center justify-center"><span class="text-sm lg:text-base">#ed6c02</span></li>
          <li class="inset-0 bg-[#ed020d] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#ed020d</span></li>
          <li class="inset-0 bg-[#646464] font-semibold text-white flex items-center justify-center"><span class="text-sm lg:text-base">#646464</span></li>
          <li class="inset-0 bg-[#92949b] font-semibold text-black flex items-center justify-center"><span class="text-sm lg:text-base">#92949b</span></li>
        </ul>
      </div>
      <div class="grid items-center justify-center">
        <figure>
          <img src="images/e-grafica2.svg" alt="Gráfica con la paleta de colores ampliada DESY ARAGON" class="mb-0">
        </figure>
      </div>
    </div>
  </div>

{% endblock %}