{% set title = "Retícula - Valores. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Retícula" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Retícula</h1>
  <p class="c-paragraph-base">Combinaciones basadas en una retícula de 4 columnas para escritorio y 2 para móviles.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-reticula.html",
        "text": "Valores",
        "active": true
      },
      {
        "href": "estilos-reticula-usos.html",
        "text": "Usos"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#tamao-de-pantalla" class="c-link">Tamaño de pantalla</a></li>
    <li class="pb-sm"><a href="#columnas" class="c-link">Columnas</a></li>
  </ul>
  <div class="pb-xl"></div>

  {% include "../../../node_modules/desy-html/docs/ds/_ds.section.layout.njk" %}

{% endblock %}