{% set title = "Retícula - Usos. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Retícula" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/pill/_macro.pill.njk" import componentPill %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Retícula</h1>
  <p class="c-paragraph-base">Combinaciones basadas en una retícula de 4 columnas para escritorio y 2 para móviles.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-reticula.html",
        "text": "Valores"
      },
      {
        "href": "estilos-reticula-usos.html",
        "text": "Usos",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#uso-de-breakpoints-segn-tu-proyecto" class="c-link">Uso de breakpoints según tu proyecto</a></li>
    <li class="pb-sm"><a href="#disposicin-de-bloques-de-pgina" class="c-link">Disposición de bloques de página</a></li>
    <li class="pb-sm"><a href="#disposicin-de-inputs" class="c-link">Disposición de inputs</a></li>
  </ul>
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Uso de breakpoints según tu proyecto"
  }) }}
  <p class="c-paragraph-base">Los breakpoints definidos en DESY están pensados para optimizar la legibilidad, la composición de la página y la adaptación a anchuras pequeñas. No obstante, es posible configurar tus propios breakpoints para adaptarlo a las necesidades de tu poyecto.</p>
  <div class="pb-base"></div>
  <ul class="grid gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <img src="images/e-reticula-b-u1.svg" alt="Uso correcto. Pantallas con contenido. Escritorio - xl - Hasta 1024px. Móvil - Sin prefijo - De 0px a 640px/sm." class="mb-0 border-l-4 border-success-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
          "classes": "c-pill--success"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza la configuración de breakpoints por defecto cuando tu proyecto esté basado en texto y contenido.</p>
      </div>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <img src="images/e-reticula-b-u2.svg" alt="Uso correcto. Pantallas con tabla compleja. Escritorio - 3xl - Hasta 1920px. Móvil - Sin prefijo - De 0px a 640px/sm" class="mb-0 border-l-4 border-success-dark">
      </div>
      <div class="pb-base"></div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
          "classes": "c-pill--success"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base mb-0 text-neutral-dark text-sm">Puedes configurar los nuevos valores de breakpoint <code>2xl</code> y <code>3xl</code> cuando tu aplicación requiere visualizar más datos en pantalla, como un mayor número de columnas en tablas avanzadas.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Ten en cuenta que dificultarás la experiencia en móviles. Asegúrate de que las personas que utilizan tu aplicación <strong>sólo trabajan en escritorio</strong>.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <img src="images/e-reticula-b-u3.svg" alt="Uso incorrecto. Pantallas con contenido. Escritorio - 3xl - Hasta 1920px. Móvil - Sin prefijo - De 0px a 640px/sm" class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No añadas los valores de breakpoint <code>2xl</code> y <code>3xl</code> cuando tu proyecto tenga páginas de contenido. Aunque la experiencia en móvil sea satisfactoria, tendrá problemas de legibilidad y usabilidad en escritorio.</p>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Disposición de bloques de página"
  }) }}
  <p class="c-paragraph-base">Es posible que necesites mostrar un contenido, un menú lateral, una subcabecera u otros componentes que se adapten a distintas anchuras. Nuestras <a href="plantillas.html" class="c-link">plantillas</a> constan de distintos bloques en los que definimos áreas seguras para encajar tu contenido, utilízalas como base.</p>

  <div class="pb-lg"></div>

  {{ DSSectionTitle({
    title: "Disposición de inputs"
  }) }}
  <p class="c-paragraph-base">Colocamos grupos de entradas de texto a lo largo de la suma de varias columnas, respetando el espaciado entre estos elementos y sus proporciones. Evitamos su colocación tipo "ladrillos" encajados en las columnas de la retícula.</p>

  <div class="grid lg:grid-cols-4">
    <div class="border border-neutral-base rounded col-span-3">
      <img src="images/e-reticula-u.svg" alt="Entradas de texto agrupadas en línea con una separación correcta, llegando al límite de la tercera columna de la retícula de página. Entradas de texto agrupadas en línea incorrectamente, con una separación igual que la de la retícula de página." class="w-full mb-0">
    </div>
  </div>
  <div class="pb-lg"></div>
  
  <p class="p-base bg-neutral-lighter">Consulta nuestro apartado de <a href="patrones.html" class="c-link">patrones de componentes</a> para conocer la manera correcta de pedir o mostrar información.</p>



{% endblock %}