{% set title = "Lenguaje claro. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Lenguaje claro" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pill/_macro.pill.njk" import componentPill %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Lenguaje claro</h1>
  <p class="c-paragraph-base">Intentamos comunicarnos de manera cercana y comprensible siguiendo una serie de pautas de estilo.</p>
  <hr class="border-t border-neutral-base my-xl">

  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#uso-de-maysculas" class="c-link">Uso de mayúsculas</a></li>
    <li class="pb-sm"><a href="#encabezados" class="c-link">Encabezados</a></li>
    <li class="pb-sm"><a href="#inclusividad" class="c-link">Inclusividad</a></li>
    <li class="pb-sm"><a href="#listas" class="c-link">Listas</a></li>
    <li class="pb-sm"><a href="#voz-cercana" class="c-link">Voz cercana</a></li>
    <li class="pb-sm"><a href="#ms-recursos-del-gobierno-de-aragn" class="c-link">Más recursos del Gobierno de Aragón</a></li>
    <li><a href="#otras-referencias" class="c-link">Otras referencias</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Uso de mayúsculas"
  }) }}
  <ol class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-success-dark lg:h-28 p-base">
        <p>La aplicación Gestor de Expedientes utiliza la apariencia visual definida en el sistema de diseño DESY.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Utiliza las mayúsculas sólo al mencionar siglas o acrónimos.</p>
      <p class="c-paragraph-sm text-neutral-dark">Si vas a utilizar siglas, primero especifica a qué hacen referencia.</p>

    </li>
    <li>
    <div class="border border-neutral-base rounded border-l-4 border-l-alert-dark lg:h-28 p-base">
      <p>LA APLICACIÓN GESEXP UTILIZA LA APARIENCIA VISUAL DEFINIDA EN DESY.</p>
    </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">No utilices las mayúsculas en párrafos ni títulos. Causa problemas de legibilidad y la comunicación parece agresiva.</p>
      <p class="c-paragraph-sm text-neutral-dark">No utilices el acrónimo cuando puedas utiizar una alternativa más clara.</p>
    </li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Encabezados"
  }) }}
  <ol class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-success-dark p-base xl:h-44 lg:h-64 ">
        <div>
          <p class="c-h4">Tasas para actuaciones en establecimientos de riesgo para la salud pública</p>
          <p>Autorizaciones, inspecciones y otras actuaciones en materia de centros y establecimientos sanitarios, establecimientos alimentarios y otros establecimientos de riesgo para la salud pública.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Los encabezados deben ser cortos, concisos y transmitir claramente su contenido. No tienen punto final.</p>
      <p class="c-paragraph-sm text-neutral-dark">Cada párrafo o frase la cerramos con un punto al final. Podemos plasmar los detalles que hemos resumido en el encabezado.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-alert-dark p-base xl:h-44 lg:h-64 ">
        <div>
          <p class="c-h4">Tasas para autorizaciones, inspecciones y otras actuaciones en materia de centros y establecimientos sanitarios, establecimientos alimentarios y otros establecimientos de riesgo para la salud pública.</p>
          <p>Tasas, cuantías y tarifas para solicitar por la ciudadanía</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Los encabezados no pueden ser excesivamente largos y no necesitan enumerar ni especificar todos los detalles.</p>
      <p class="c-paragraph-sm text-neutral-dark">No dejes párrafos ni descripciones sin puntuar.</p>
    </li>
  </ol>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Inclusividad"
  }) }}
  <ol class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="border-l-4 border-success-dark p-base">
          <p>Intentamos comunicarnos de manera cercana y comprensible con <span class="bg-success-light">las personas ciudadanas</span>.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Cuando nombramos a un colectivo nos referimos a personas. Por lo tanto, utilizamos el femenino en plural.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="border-l-4 border-alert-dark p-base">
          <p>Intentamos comunicarnos de manera cercana y comprensible con <span class="bg-alert-light">los ciudadanos</span>.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark  ">Intenta no utilizar el masculino al nombrar colectivos, estarás excluyendo a una parte de la población.</p>
    </li>
  </ol>





  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Listas"
  }) }}
  <ol class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-success-dark p-base lg:h-72">
        <p class="c-paragraph-base">¿Qué puedo hacer con MiA?</p>
        <ul class="c-ul">
          <li>Aceptar y leer mis notificaciones. </li>
          <li>Hacer un seguimiento de mis trámites.</li>
          <li>Gesionar mis citas previas.</li>
        </ul>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Cuando enumeramos un listado limitado de ítems sin orden, utilizamos el elemento <code>&lt;ul&gt;</code> con items <code>&lt;li&gt;</code>. Deben ser frases cortas y conceptos concretos. </p>
    </li>
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-alert-dark p-base lg:h-72">
        <div class="">
          <p class="c-paragraph-base">¿Qué puedo hacer con MiA?</p>
          <p>-Aceptar y leer mis notificaciones.</p>
          <p>-Hacer un seguimiento de mis trámites.</p>
          <p>-Gesionar mis citas previas.</p>
          <p>-Ver datos de discapacidad y dependencia.</p>
          <p>-Ver datos de oposiciones.</p>
          <p>-Pagos con la Administración.</p>
          <p>-Datos de vehículos y transporte.</p>
          <p>-Cartera de tarjetas.</p>
          <p>-Consulta de CSV.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">No utilices guiones ni otras marcas de listado fuera del código que los lectores de pantalla no puedan entender.</p>
      <p class="c-paragraph-sm text-neutral-dark">No listes más de siete ítems, la carga cognitiva para la persona lectora es demasiado alta como para memorizarlos. Considera otra forma de jerarquizar el contenido, como cards, un acordeón o apoyo con iconos.</p>
    </li>
  </ol>




  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Voz cercana"
  }) }}
  <ol class="grid lg:grid-cols-2 gap-lg">
    
    <li>
      <div class="border border-neutral-base rounded">
        <div class="border-l-4 border-success-dark p-base">
          <p>Hola Tomás, bienvenido a MiA.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Nos referimos a la persona usuaria con su nombre, intentamos darle la bienvenida y la tratamos de tú.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="border-l-4 border-alert-dark p-base">
          <p>Usted se ha logueado como: Tomás.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Tratar a la persona con un lenguaje informático hace que la relación digital con la Administración sea más distante y menos inclusiva que la física.</p>
      <p class="c-paragraph-sm text-neutral-dark ">Evita tratar de usted y utlizar formalismos o tecnicismos. Queremos reducir la barrera de entrada al mínimo.</p>

    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <ul class="c-ul c-ul--no-bullets mb-0 border-l-4 border-success-dark p-base">
          <li>Acceder a mis trámites.</li>
          <li>Ver mi perfil.</li>
          <li>Ver mis oposiciones.</li>
          <li>Ver mis carnés.</li>
        </ul>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Utilizamos infinitivos para concretar las acciones.</p>
      <p class="c-paragraph-sm text-neutral-dark">Intentamos que los espacios con datos personales o dirigidos específicamente a la persona se perciban como propios hablando en primera persona del singular. Los datos son de la ciudadanía, no de la Administración.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <ul class="c-ul c-ul--no-bullets mb-0 border-l-4 border-alert-dark p-base">
          <li>Acceso a los trámites.</li>
          <li>Perfil registrado.</li>
          <li>Oposiciones inscritas.</li>
          <li>Carnés expedidos.</li>
        </ul>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Si no defines bien las acciones surgirán problemas de usabilidad.</p>
      <p class="c-paragraph-sm text-neutral-dark">Cuando la persona siente que un espacio personal no está dirigido a ella, perdemos su interés y colaboración.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-success-dark p-base lg:h-36">
        <p class="mb-base">¿Tienes dudas sobre funcionalidades de MiA? Puedes consultar nuestro <a href="#" class="c-link">manual de ayuda</a>.</p>
        <p>Trabajamos en incorporar más información relevante para ti.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Utiliza el formato de preguntas simples para guíar a la ciudadanía hacia una acción.</p>
      <p class="c-paragraph-sm text-neutral-dark">Cuando queremos transmitir un mensaje como equipo utilizamos la primera persona del plural. Detrás de cada herramienta también hay personas que trabajan para mejorarla.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-alert-dark p-base lg:h-36">
        <p class="mb-base">Consulte el <a href="#" class="c-link">manual de ayuda</a> si usted tiene dudas sobre funcionalidades de MiA.</p>
        <p>Próximamente habrá disponible más información.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Evita condicionales y un orden poco natural en las frases.</p>
      <p class="c-paragraph-sm text-neutral-dark">Usar la tercera persona para comunicarnos resulta demasiado impersonal y deshumaniza la herramienta.</p>
    </li>
  </ol>

  <div class="pb-xl"></div>
  <ol class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-success-dark p-base xl:h-72 lg:h-96">
        <p class="c-paragraph-base">MiA te va a mostrar los datos que la Administración tiene de ti agrupados en áreas temáticas. Estas áreas irán creciendo conforme los diferentes organismos se vayan integrando en este espacio. </p>
        <p>En un primer momento, te podemos ofrecer tus datos de discapacidad y dependencia, agrupados en el área temática de «servicios sociales». Próximamente te ofreceremos tus datos de oposiciones y pagos con la Administración.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Utiliza palabras sencillas, conceptos comprensibles y frases cortas.</p>
      <p class="c-paragraph-sm text-neutral-dark">Intenta que cada frase exponga sólo una idea.</p>
      <p class="c-paragraph-sm text-neutral-dark">Deja el contenido estructurado en párrafos y evita grandes bloques de texto.</p>


    </li>
    <li>
      <div class="border border-neutral-base rounded border-l-4 border-l-alert-dark p-base xl:h-72 lg:h-96">
        <p>MiA te va a mostrar los datos que la Administración tiene de ti agrupados en áreas temáticas, las cuales irán creciendo conforme los diferentes organismos se vayan integrando en este espacio. Aunque en primera instacia únicamente te podemos ofrecer tus datos de discapacidad y dependencia, agrupados en el área temática de «servicios sociales», en un futuro tendrás acceso a tus datos de oposiciones y de deudas y pagos con la Administración.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-sm text-neutral-dark">Subordinar oraciones y construir frases de gran longitud aumenta la carga cognitiva de quien las está leyendo. Perderás su atención y harás que la información sea menos comprensible.</p>
    </li>
  </ol>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Más recursos del Gobierno de Aragón"
  }) }}
  <ul  class="c-ul c-ul--no-bullets"> 
    <li><a href="https://www.aragon.es/documents/20127/94900387/Guia+de+buenas+practicas+de+comunicacion+clara-Gobierno+de+Aragon.pdf/c38864a1-967a-90f4-8156-c40804fbb5e8?t=1683022497902" target="_blank" class="c-link" title="El enlace se abre en nueva ventana">Guía de buenas prácticas de comunicación clara (PDF, 2 MB){% include "includes/_external-link-icon.njk" %}</a></li>
    <li><a href="https://www.aragon.es/documents/20127/94900387/Manual+de+estilo+de+lenguaje+claro-Gobierno+de+Aragon.pdf/15a93b64-cac4-93ca-9146-b66747f5adb3?t=1683022477318" class="c-link" target="_blank" title="El enlace se abre en nueva ventana">Manual de estilo de lenguaje claro (PDF, 2 MB){% include "includes/_external-link-icon.njk" %}</a></li>
    <li><a href="https://www.aragon.es/documents/20127/94900387/Lenguaje+inclusivo+con+perspectiva+de+genero-Gobierno+de+Aragon.pdf/beef2209-c879-9f53-3686-5afc5f8e1030?t=1683022474809" class="c-link" target="_blank" title="El enlace se abre en nueva ventana">Lenguaje inclusivo con perspectiva de género (PDF, 300 KB){% include "includes/_external-link-icon.njk" %}</a></li>
    <li><a href="https://departamentodecienciaaragon.atlassian.net/wiki/spaces/PORTAL/pages/68321330/Accesibilidad+normalizaci+n+lenguaje+claro+y+posicionamiento+web" class="c-link" target="_blank" title="El enlace se abre en nueva ventana">Accesibilidad, normalización, lenguaje claro y posicionamiento web en una publicación de contenido del portal{% include "includes/_external-link-icon.njk" %}</a></li>
    {# <li><a href="https://www.aragon.es/documents/20127/94900387/Guia+Comunicacion+Europa+CE+21-27.pdf/75abe6c3-1add-cdf9-1b41-de3b1d64cf17?t=1683022494249" class="c-link" target="_blank" title="El enlace se abre en nueva ventana">Comunicación de la política de cohesión para el periodo 2021-2027 (PDF, 4MB){% include "includes/_external-link-icon.njk" %}</li></a> #}
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Otras referencias"
  }) }}
  <ul  class="c-ul c-ul--no-bullets"> 
    <li><a href="https://dintel.redsara.es/DINTEL/dam/jcr:57acb69d-a603-42b9-ae25-9b2e278d4063/AGE-SD-Guia_para_la_creacion_de_contenidos_digitales_v05_1.pdf" target="_blank" class="c-link" title="El enlace se abre en nueva ventana">Guía para la creación de contenidos digitales en DINTEL (PDF, 582 KB){% include "includes/_download-icon.njk" %}</a></li>
  </ul>

{% endblock %}