{% set title = "Tipografía - Usos. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Tipografía" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pill/_macro.pill.njk" import componentPill %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Tipografía</h1>
  <p class="c-paragraph-base">Los pesos, tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la información.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-tipografia.html",
        "text": "Valores"
      },
      {
        "href": "estilos-tipografia-usos.html",
        "text": "Usos",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#alineacin" class="c-link">Alineación</a></li>
    <li class="pb-sm"><a href="#peso-del-texto" class="c-link">Peso del texto</a></li>
    <li class="pb-sm"><a href="#color-del-texto" class="c-link">Color del texto</a></li>
    <li class="pb-sm"><a href="#saltos-de-lnea" class="c-link">Saltos de línea</a></li>
    <li class="pb-sm"><a href="#enlaces" class="c-link">Enlaces</a></li>
    <li class="pb-sm"><a href="#longitud-de-lnea-en-escritorio" class="c-link">Longitud de línea en escritorio</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Alineación"
  }) }}

  <ul class="grid lg:grid-cols-3 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 border-l-4 border-success-dark flex place-items-center">
          <p class="m-base c-paragraph-sm">Los pesos, tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la información.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza texto alineado a la izquierda.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 border-l-4 border-alert-dark flex place-items-center">
          <p class="c-paragraph-sm text-justify m-base">Los pesos, tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la información.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices texto justificado.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 border-l-4 border-alert-dark flex place-items-center">
          <p class="m-base c-paragraph-sm text-right">Los pesos, tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la información.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices texto alineado a la derecha.</p>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Peso del texto"
  }) }}
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid border-l-4 border-success-dark p-base">
          <p class="c-h4">Título del bloque</p>
          <p class="c-paragraph-base">Los diferentes <strong>pesos, tamaños y formatos de letra</strong> definidos sirven para jerarquizar el contenido y organizar la información.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza <code>bold</code> para títulos o encabezados.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza <code>semibold</code> para resaltar ciertos conceptos de un párrafo.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza <code>regular</code> para el resto de párrafo.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid border-l-4 border-alert-dark p-base">
          <p class="text-lg font-semibold">Título del bloque</p>
          <p class="c-paragraph-base">Los diferentes <span class="font-bold">pesos, tamaños y formatos de letra</span> definidos sirven para jerarquizar el contenido y organizar la información.</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices otro peso para títulos o encabezados que no sea <code>bold</code>.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices <code>bold</code> en párrafos.</p>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Color del texto"
  }) }}
   <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid border-l-4 border-success-dark p-base">
          <p class="c-paragraph-base">Texto principal</p>
          <p class="c-paragraph-sm text-neutral-dark">Texto secundario</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza el color de contenido <code>black</code> para títulos y párrafos en general.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza el color de contenido <code>neutral-dark</code> para textos secundarios.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid border-l-4 border-alert-dark p-base">
          <p class="c-paragraph-base text-neutral-base">Texto principal</p>
          <p class="c-paragraph-sm text-info-dark">Texto secundario</p>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices otros colores ni tonos. Puede dar algunos problemas de legibilidad y accesibilidad.</p>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Saltos de línea"
  }) }}
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="grid border border-neutral-base rounded border-l-4 border-l-success-dark p-base lg:h-40">
        <p>Los diferentes pesos, tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la distinta información.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Las líneas se van apilando de manera natural y automática.</p>
    </li>
    <li>
      <div class="grid border border-neutral-base rounded border-l-4 border-l-alert-dark p-base lg:h-40">
        <p>Los pesos, tamaños y <code>&lt;br&gt;</code><br>formatos de letra definidos sirven para jerarquizar el contenido y organizar la distinta in-<code>&lt;br&gt;</code><br>formación.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices saltos de línea manuales con <code>&lt;br&gt;</code>, ya que genera problemas de accesibilidad.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">No cortes palabras.</p>

    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Enlaces"
  }) }}
  <ul class="grid lg:grid-cols-2 gap-lg mb-lg">
    <li>
      <div class="grid border border-neutral-base rounded border-l-4 border-l-success-dark p-base lg:h-36">
        <ul>
          <li class="mb-base"><a href=""  class="c-link">Enlace con color primario</a></li>
          <li><a href="" class="c-link c-link--alert">Enlace con color de alerta</a>.</li>
        </ul>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Inserta enlaces subrayados y con color azul de interacción <code>primary-base</code> (<code>.c-link</code>) o de estado <code>alert-base</code> (<code>.c-link--alert</code>) si enlaza a errores.</p>
    </li>
    <li>
      <div class="grid border border-neutral-base rounded border-l-4 border-l-alert-dark p-base lg:h-36">
        <ul>
          <li class="mb-base"><a href=""  class="text-primary-base">Enlace sin subrayado</a></li>
          <li class="mb-base"><a href="" class="text-info-base underline">Enlace con otro color</a></li>
          <li><span class="text-primary-base underline">Texto sin enlace</span></li>
        </ul>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No insertes enlaces sin subrayar ni con otros colores.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices el color azul de interacción primary-base para texto que no enlaza.</p>
    </li>
  </ul>
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="grid border border-neutral-base rounded border-l-4 border-l-success-dark p-base lg:h-20">
        <p>Enlace al documento: <a href="" class="c-link" title="Se abre en ventana nueva">Modelo de finanza (PDF, 20Kb)</a>.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Si enlazas a un archivo en línea o a una descarga directa, debes poner su nombre y entre paréntesis su formato y tamaño en Kb o Mb.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza un <code>title</code> si se abre en ventana nueva.</p>
    </li>
    <li>
      <div class="grid border border-neutral-base rounded border-l-4 border-l-alert-dark p-base lg:h-20">
        <p>Tienes el documento <a href="" class="c-link">aquí</a>.</p>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Evita enlazar documentos a palabras sueltas. Especifica y detalla qué es lo que el usuario se va a encontrar al entrar al enlace.</p>
    </li>
  </ul>
  

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Longitud de línea en escritorio"
  }) }}
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <img src="images/e-tipografia-u1.svg" alt="Uso correcto" class="mb-0 border-l-4 border-success-dark">
      </div>
      <div class="pb-base"></div>
      <div>
        {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
          "classes": "c-pill--success"
        })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza una longitud de línea hasta el 75% del ancho de la página para una legibilidad óptima.</p>
      </div>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <img src="images/e-tipografia-u2.svg" alt="Uso incorrecto" class="mb-0 border-l-4 border-alert-dark">
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices una longitud de línea de más del 75% del ancho de la página. Empeora la legibilidad.</p>
    </li>
  </ul>
  
{% endblock %}