{% set title = "Color - Usos. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Color" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/button/_macro.button.njk" import componentButton %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Color</h1>
  <p class="c-paragraph-base">Paletas de colores accesibles que ayudarán a la persona a navegar, interpretar e interactuar de forma óptima con tu interfaz.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-color.html",
        "text": "Semántica"
      },
      {
        "href": "estilos-color-paletas.html",
        "text": "Paletas"
      },
      {
        "href": "estilos-color-usos.html",
        "text": "Usos",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#dnde-usamos-los-colores" class="c-link">Dónde usamos los colores</a></li>
    <li class="pb-sm"><a href="#elementos-de-interaccin-y-fondos" class="c-link">Elementos de interacción y fondos</a></li>
    <li class="pb-sm"><a href="#colores-de-estado" class="c-link">Colores de estado</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Dónde usamos los colores"
  }) }}

  {{ componentDescriptionList({
    "items": [
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-primary-light inline-block\"></div><span class=\"inline-block ml-base align-middle\">primary-light</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Botones o filtros seleccionados",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-primary-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">primary-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Botones y enlaces",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-primary-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">primary-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Botones y enlaces en hover",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-neutral-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">neutral-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Separadores",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-neutral-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">neutral-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Texto secundario y bordes",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-black inline-block\"></div><span class=\"inline-block ml-base align-middle\">black</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Texto principal y bordes",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-white border border-black inline-block\"></div><span class=\"inline-block ml-base align-middle\">white</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Cuerpo de la página",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-neutral-lighter border border-black inline-block\"></div><span class=\"inline-block ml-base align-middle\">neutral-lighter</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Menú de cabecera, pie de página y tarjetas",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-neutral-light border border-black inline-block\"></div><span class=\"inline-block ml-base align-middle\">neutral-light</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Ítem deshabilitado",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-heading-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">heading-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Banda de cabecera",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-heading-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">heading-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Ornamentos de cabecera",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-warning-light inline-block\"></div><span class=\"inline-block ml-base align-middle\">warning-light</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Píldoras",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-warning-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">warning-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Elemento enfocado",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-warning-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">warning-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Bordes",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-success-light inline-block\"></div><span class=\"inline-block ml-base align-middle\">success-light</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Píldoras",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-success-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">success-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-success-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">success-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Bordes e iconos",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-info-light inline-block\"></div><span class=\"inline-block ml-base align-middle\">info-light</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-info-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">info-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-info-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">info-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-alert-light inline-block\"></div><span class=\"inline-block ml-base align-middle\">alert-light</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Píldoras",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-alert-base inline-block\"></div><span class=\"inline-block ml-base align-middle\">alert-base</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Botones y texto de error",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      },
      {
        "term": {
          "html": "<div class=\"flex items-center\"><div class=\"rounded-full w-6 h-6 bg-alert-dark inline-block\"></div><span class=\"inline-block ml-base align-middle\">alert-dark</span></div>",
          "classes": "lg:w-1/3 px-base pt-sm lg:pb-sm text-sm lg:text-base text-neutral-dark"
        },
        "definition": {
          "text": "Botones en hover, bordes, enlaces e iconos",
          "classes": "lg:w-2/3 px-base py-sm"
        },
        "classes": "lg:flex -mb-px border-t border-b border-neutral-base"
      }
    ]
  })  }}

  <div class="pb-2xl"></div>

  {{ DSSectionTitle({
    title: "Elementos de interacción y fondos"
  }) }}
  <ul class="grid lg:grid-cols-3 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 h-24 border-l-4 border-success-dark flex place-items-center">
          {{ componentButton({
            "text": "Botón primario",
            "classes": "c-button--primary"
          })  }}
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza el color correspondiente según la semántica del botón o elemento de interacción.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">El fondo debe ser siempre blanco.</p>
    </li>

    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 h-24 border-l-4 border-alert-dark bg-primary-light flex place-items-center">
          {{ componentButton({
            "text": "Botón primario",
            "classes": "bg-info-light"
          })  }}
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices colores que no correspondan en botones, perderán el sentido y no se percibirán como tales.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">El fondo no puede ser de otro color que no pertenezca al rol de fondo. Puede dar problemas de accesibilidad y legibilidad.</p>
    </li>

    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 h-24 border-l-4 border-alert-dark flex place-items-center">
          <!-- button -->
          <button class="c-button--primary" >
            <span class="font-bold text-black">Botón primario</span>
          </button>
          <!-- /button -->
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices otros pesos ni colores de letra que los definidos anteriormente, incumplirás accesibilidad.</p>
    </li>
  </ul>
  <div class="pb-lg"></div>
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 h-60 border-l-4 border-success-dark flex place-items-center px-base">
          {% call componentCard({
            "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark"
          })  %}
            <h3 id="titulo-card-1" class="c-h3">Ejemplo 1</h3>
            <div class="prose max-w-none mb-base">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in.</p>
            </div>
            <!-- button -->
            <a href="#" role="button" draggable="false" class="c-button c-button--transparent"  id="boton-card-1" aria-labelledby="boton-card-1 titulo-card-1">
              Más <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
            </a>
            <!-- /button -->
          {% endcall %}
        </div>
      </div>
      <div class="pb-base"></div>
        {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">En tarjetas o bloques que deben destacar, utiliza el color de fondo: <code>neutral-lighter</code>.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="grid grid-cols-1 h-60 border-l-4 border-alert-dark flex place-items-center px-base">
          {% call componentCard({
            "containerClasses": "p-base bg-info-base border-t-8 border-neutral-dark"
          })  %}
            <h3 id="titulo-card-2" class="c-h3">Ejemplo 2</h3>
                  <div class="prose max-w-none mb-base">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. </p>
                  </div>
                  <!-- button -->
                  <a href="#" role="button" draggable="false" class="c-button c-button--transparent"  id="boton-card-2" aria-labelledby="boton-card-2 titulo-card-2">
                    Más <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
                  </a>
                  <!-- /button -->
          {% endcall %}
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
        "classes": "c-pill--alert"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No utilices otros colores como fondo para destacar tarjetas, incumplirás accesibilidad y empeorará la legibilidad.</p>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Colores de estado"
  }) }}
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base rounded">
        <div class="border-l-4 border-success-dark pl-base py-base">
          <div class="grid items-center gap-base ">
            <div class="flex items-center gap-sm">
              <div>
                {{ componentPill({
                  "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Píldora de estado",
                  "classes": "c-pill--success text-sm"
                })  }}
              </div>
              <p class="text-sm">Título del ítem</p>
            </div>
            <div class="flex items-center gap-sm">
              <div>
                {{ componentPill({
                  "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Píldora de estado",
                  "classes": "c-pill--warning text-sm"
                })  }}
              </div>
              <p class="text-sm">Título del ítem</p>
            </div>
            <div>
              <p><span class="bg-success-light px-sm">Título de estado</span></p>
            </div>
            <div>
              <p><span class="bg-alert-light font-semibold px-sm">Título de estado</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
        "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
        "classes": "c-pill--success"
      })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">Utiliza elementos de estado para marcar la situación del item. Los títulos en texto siempre deben ser de color de contenido: <code>black</code>.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Como alternativa también puedes utilizar texto sobre masas del color correspondiente.</p>
    </li>
    <li>
      <div class="border border-neutral-base rounded">
        <div class="border-l-4 border-alert-dark pl-base py-base">
          <div class="grid items-center gap-base">
            <div class="flex items-center gap-sm">
              <div>
                {{ componentPill({
                  "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Píldora de estado",
                  "classes": "c-pill--success text-sm"
                })  }}
              </div>
              <p class="text-sm"><span class="text-success-dark">Título del ítem</span></p>
            </div>
            <div class="flex items-center gap-sm">
              <div>
                {{ componentPill({
                  "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Píldora de estado",
                  "classes": "c-pill--warning text-sm"
                })  }}
              </div>
              <p class="text-sm"><span class="text-warning-dark">Título del ítem</span></p>
            </div>
            <div>
              <p><span class="bg-success-dark px-sm">Título de estado</span></p>
            </div>
            <div>
              <p><span class="bg-alert-dark px-sm">Título de estado</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-base"></div>
      {{ componentPill({
          "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
          "classes": "c-pill--alert"
        })  }}
      <div class="pb-sm"></div>
      <p class="c-paragraph-base text-neutral-dark text-sm">No escribas con colores de soporte.</p>
      <p class="c-paragraph-base text-neutral-dark text-sm">Respeta la accesibilidad en el contraste entre el texto y la masa de color.</p>
    </li>
  </ul>

{% endblock %}