{% set title = "Tipografía - Valores. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Tipografía" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Tipografía</h1>
  <p class="c-paragraph-base">Los pesos, tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la información.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-tipografia.html",
        "text": "Valores",
        "active": true
      },
      {
        "href": "estilos-tipografia-usos.html",
        "text": "Usos"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#fuentes" class="c-link">Fuentes</a></li>
    <li class="pb-sm"><a href="#estilos-de-base" class="c-link">Estilos de base</a></li>
    <li class="pb-sm"><a href="#encabezados" class="c-link">Encabezados</a></li>
    <li class="pb-sm"><a href="#enlaces" class="c-link">Enlaces</a></li>
    <li class="pb-sm"><a href="#prrafos" class="c-link">Párrafos</a></li>
    <li class="pb-sm"><a href="#listas" class="c-link">Listas</a></li>
    <li class="pb-sm"><a href="#tailwindcss-typography-plugin" class="c-link">Tailwindcss typography plugin</a></li>
  </ul>
  <div class="pb-xl"></div>

  {% include "../../../node_modules/desy-html/docs/ds/_ds.section.textos.njk" %}
  <div class="pb-2xl"></div>

  {% include "../../../node_modules/desy-html/docs/ds/_ds.section.typography.njk" %}


{% endblock %}