{% set title = "Estilos. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}


{% block notificationHeaderBlock %}
{% endblock %}

{% block sidebarBlock %}
  <div class="hidden lg:block">
    {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
  </div>
{% endblock %}

{% block innerContentBlock %}
  <div>
    <div class="lg:pb-lg pb-0"></div>
    <h1 class="lg:c-h0 c-h1">Estilos</h1>
    <p class="lg:c-paragraph-lg c-paragraph-base">Los fundamentos sobre los que se construye el sistema de diseño. Utiliza estas bases para conseguir una apariencia común y coherente.</p>
  </div>
  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-3 content-stretch gap-lg">
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/e-color.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 id="titulo-card-1" class="c-h3"><a href="estilos-color.html" class="c-link c-link--full">Color</a></h2>
          <p class="c-paragraph-sm">Paletas de colores accesibles para elementos neutros, de interacción, soporte o para gráficas.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/e-espaciado.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 id="titulo-card-2" class="c-h3"><a href="estilos-espaciado.html" class="c-link c-link--full">Espaciado</a></h2>
          <p class="c-paragraph-sm">Valores predefinidos que se han de usar para saltos entre objetos, padding, márgenes y dimensiones.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/e-reticula.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 id="titulo-card-3" class="c-h3"><a href="estilos-reticula.html" class="c-link c-link--full">Retícula</a></h2>
          <p class="c-paragraph-sm">Combinaciones basadas en una retícula de 4 columnas para escritorio y 2 para móviles.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/e-tipografia.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 id="titulo-card-4" class="c-h3"><a href="estilos-tipografia.html" class="c-link c-link--full">Tipografía</a></h2>
          <p class="c-paragraph-sm">Los tamaños y formatos de letra definidos sirven para jerarquizar el contenido y organizar la información.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/e-lenguaje.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden "
          }
        })  %}
        <div>
          <h2 id="titulo-card-5" class="c-h3"><a href="estilos-lenguaje.html" class="c-link c-link--full">Lenguaje claro</a></h2>
          <p class="c-paragraph-sm">Intentamos comunicarnos de manera cercana y comprensible siguiendo una serie de pautas de estilo.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/e-imagenes.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 id="titulo-card-6" class="c-h3"><a href="estilos-imagenes.html" class="c-link c-link--full">Uso de imágenes</a></h2>
          <p class="c-paragraph-sm">El uso de imágenes y objetos multimedia está limitado por una serie de guías de estilo.</p>
        </div>
      {% endcall %}
    </div>
  </div>

{% endblock %}