{% set title = "Espaciado - Valores. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Espaciado" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Espaciados</h1>
  <p class="c-paragraph-base">Valores predefinidos que se han de usar para saltos entre objetos, padding, márgenes y dimensiones.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-espaciado.html",
        "text": "Valores",
        "active": true
      },
      {
        "href": "estilos-espaciado-usos.html",
        "text": "Usos"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#espaciado-para-elementos" class="c-link">Espaciado para elementos</a></li>
    <li class="pb-sm"><a href="#espaciado-para-anchuras" class="c-link">Espaciado para anchuras</a></li>
    <li class="pb-sm"><a href="#espaciado-mximo" class="c-link">Espaciado máximo</a></li>
    <li class="pb-sm"><a href="#ms-espaciados" class="c-link">Más espaciados</a></li>

  </ul>
  <div class="pb-xl"></div>

  {% include "../../../node_modules/desy-html/docs/ds/_ds.section.espaciado.njk" %}

{% endblock %}