{% set title = "Color - Paletas. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Color" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}



{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Color</h1>
  <p class="c-paragraph-base">Paletas de colores accesibles que ayudarán a la persona a navegar, interpretar e interactuar de forma óptima con tu interfaz.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-color.html",
        "text": "Semántica"
      },
      {
        "href": "estilos-color-paletas.html",
        "text": "Paletas",
        "active": true
      },
      {
        "href": "estilos-color-usos.html",
        "text": "Usos"
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Paletas"
  }) }}

  <dl class="grid gap-base">

    {# 1 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center flex items-center p-base border border-neutral-base rounded h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center">Interacción</p>
        </div>
      </dt>
      <dd class="flex inset-0 bg-primary-light text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">primary-light</p><p>#d6eaf0</p></div></dd>
      <dd class="flex inset-0 bg-primary-base text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">primary-base</p><p>#00607a</p></div></dd>
      <dd class="flex inset-0 bg-primary-dark font-semibold text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">primary-dark</p><p>#00475C</p></div></dd>
    </div>

    {# 2 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center flex items-center p-base border border-neutral-base rounded lg:row-span-4 h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center">Soporte</p>
        </div>
      </dt>
      
      <dd class="flex inset-0 bg-warning-light text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">warning-light</p><p>#fef6b2</p></div></dd>
      <dd class="flex inset-0 bg-warning-base text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">warning-base</p><p>#fdcb33</p></div></dd>
      <dd class="flex inset-0 bg-warning-dark font-semibold  text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">warning-dark</p><p>#b88e12</p></div></dd>
      
      <dd class="flex inset-0 bg-success-light text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">success-light</p><p>#dcf8e2</p></div></dd>
      <dd class="flex inset-0 bg-success-base text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">success-base</p><p>#24d14c</p></div></dd>
      <dd class="flex inset-0 bg-success-dark font-semibold text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">success-dark</p><p>#1aa23a</p></div></dd>
      <dd class="flex inset-0 bg-info-light text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">info-light</p><p>#feebcc</p></div></dd>
      <dd class="flex inset-0 bg-info-base text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">info-base</p><p>#fa9902</p></div></dd>
      <dd class="flex inset-0 bg-info-dark font-semibold text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">info-dark</p><p>#c97a00</p></div></dd>
      <dd class="flex inset-0 bg-alert-light text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">alert-light</p><p>#fbd3ce</p></div></dd>
      <dd class="flex inset-0 bg-alert-base text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">alert-base</p><p>#d22333</p></div></dd>
      <dd class="flex inset-0 bg-alert-dark font-semibold text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">alert-dark</p><p>#a40014</p></div></dd>
    </div>

    {# 3 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center flex items-center p-base border border-neutral-base rounded h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center">Fondo</p>
        </div>
      </dt>
      <dd class="flex inset-0 bg-white stroke-black text-black lg:p-lg border border-neutral-base"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">white</p><p>#ffffff</p></div></dd>
      <dd class="flex inset-0 bg-neutral-lighter text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-lighter</p><p>#f6f6f5</p></div></dd>
      <dd class="flex inset-0 bg-neutral-light text-black"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-light</p><p>#ededec</p></div></dd>
    </div>

    {# 4 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center flex items-center p-base border border-neutral-base rounded h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center">Contenido</p>
        </div>
      </dt>
      <dd class="flex inset-0 bg-neutral-base text-black lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-base</p><p>#92949b</p></div></dd>
      <dd class="flex inset-0 bg-neutral-dark font-semibold text-white lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">neutral-dark</p><p>#5e616b</p></div></dd>
      <dd class="flex inset-0 bg-black font-semibold text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">black</p><p>#1f2331</p></div></dd>
    </div>

    {# 5 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center flex items-center p-base border border-neutral-base rounded h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center">Cabecera</p>
        </div>
      </dt>
      <dd class="flex inset-0 bg-heading-base font-semibold text-white lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">heading-base</p><p>#3c4c5c</p></div></dd>
      <dd class="flex inset-0 bg-heading-dark font-semibold text-white"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">heading-dark</p><p>#26374a</p></div></dd>
    </div>

    {# 6 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center lg:row-span-2 flex items-center p-base border border-neutral-base rounded h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center ">Para gráficas</p>
        </div>
      </dt>
      <dd class="flex inset-0 bg-[#4d1f2e] font-semibold text-white p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color A</p><p>#4d1f2e</p></div></dd>
      <dd class="flex inset-0 bg-[#aa3c2b] font-semibold text-white p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color B</p><p>#aa3c2b</p></div></dd>
      <dd class="flex inset-0 bg-[#739ba5] font-semibold text-black p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color C</p><p>#739ba5</p></div></dd>
      <dd class="flex inset-0 bg-[#00607a] font-semibold text-white p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color D</p><p>#00607a</p></div></dd>
      <dd class="flex inset-0 bg-[#013c53] font-semibold text-white p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color E</p><p>#013c53</p></div></dd>
    </div>

    {# 7 #}
    <div class="grid lg:grid-cols-4 gap-base">
      <dt class="self-center lg:row-span-2 flex items-center p-base border border-neutral-base rounded h-full">
        <div class="w-full">
          <p class="font-semibold text-center self-center ">Para gráficas (ampliación)</p>
        </div>
      </dt>
      <dd class="flex inset-0 bg-[#bc8a01] font-semibold text-black p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color F</p><p>#bc8a01</p></div></dd>
      <dd class="flex inset-0 bg-[#ED6C02] font-semibold text-black p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color G</p><p>#ed6c02</p></div></dd>
      <dd class="flex inset-0 bg-[#ed020d] font-semibold text-white p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color H</p><p>#ed020d</p></div></dd>
      <dd class="flex inset-0 bg-[#646464] font-semibold text-white p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color I</p><p>#646464</p></div></dd>
      <dd class="flex inset-0 bg-[#92949b] font-semibold text-black p-sm lg:p-lg"><div class="self-center text-center w-full text-sm lg:text-base"><p class="mb-sm">Color J</p><p>#92949b</p></div></dd>
    </div>

  </dl>

{% endblock %}