{% set title = "Uso de imágenes. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Uso de imágenes" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pill/_macro.pill.njk" import componentPill %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Uso de imágenes</h1>
  <div class="c-paragraph-base">El uso de imágenes y objetos multimedia está limitado. Es necesario tener en cuenta ciertas guías de estilo.</div>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-imagenes.html",
        "text": "Recursos"
      },
      {
        "href": "estilos-imagenes-usos.html",
        "text": "Usos",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  <ul class="text-sm">
    <li class="pb-sm"><a href="#apoyo-al-contenido" class="c-link">Apoyo al contenido</a></li>
    <li class="pb-sm"><a href="#imgenes-reales" class="c-link">Imágenes reales</a></li>
    <li class="pb-sm"><a href="#ilustraciones-de-escena" class="c-link">Ilustraciones de escena</a></li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Apoyo al contenido"
  }) }}
  <p class="c-paragraph-base">Este apoyo suele ser necesario en <a href="plantillas-portal-p1.html" class="c-link">portales</a> para facilitar la navegación. </p>
  <p class="c-paragraph-base">El componente <a href="componente-card.html" class="c-link">Card</a> permite incluir una imagen para ilustrar la temática o una previsualización que otorgue información a la persona usuaria antes de acceder a su contenido.</p>
  <p class="c-paragraph-base">Es importante evitar imágenes o ilustraciones ornamentales que generen ruido y que no aporten información. Todo el contenido debe estar en el texto, y que la imagen sirva como ayuda visual si la situación lo requiere.</p>
  <ul class="grid gap-lg">
    <li>
      <div class="border border-neutral-base round">
        <img src="images/e-img-u1.png" alt="Cards que enlazan a hospitales con una imagen superior del edifico de los mismos." class="border-success-dark border-l-4 mb-0">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
            "classes": "c-pill--success"
          }) }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Las imágenes apoyan al contenido enlazado, en este caso con una previsualización del edificio que ayuda a identificar el hospital.</p>
      </div>
    </li>
    <li>
      <div class="border border-neutral-base round">
        <img src="images/e-img-u2.svg" alt="Cards informativas de la página de inicio DESY con iconos que representan la descripción que contiene." class="border-success-dark border-l-4 mb-0">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
            "classes": "c-pill--success"
          }) }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Los iconos sirven de apoyo visual para destacar las características principales.</p>
      </div>
    </li>
    <li class="mb-lg">
      <div class="border border-neutral-base round">
        <img src="images/e-img-u3.png" alt="Card de enlace a `Nuestros servcios´ con una ilustración corporativa a la derecha. En esta ilstración se ve a dos personas saludando a través de una ventana." class="mb-0 border-alert-dark border-l-4">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
            "classes": "c-pill--alert"
          })  }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">La ilustración no representa el contenido y no ayuda visualmente.</p>
      </div>
    </li>
  </ul>

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Imágenes reales"
  }) }}
  <p class="c-paragraph-base">Debemos utilizar imágenes que muestren una acción concreta, situación o lugar con la mayor naturalidad posible, evitando mostrar caras. Los actores, imágenes de stock o generadas por IA no suelen representar la realidad.</p>
  <ul class="grid lg:grid-cols-2 gap-lg">
    <li>
      <div class="border border-neutral-base round">
        <img src="images/e-img-u4.png" alt="Recorte de un artículo sobre la Atención a la Ciudadanía con una imagen en la que se muestra el espacio de espera y su señalética." class="mb-0 border-success-dark border-l-4">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
            "classes": "c-pill--success"
          }) }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">La foto apoya el artículo con el espacio real y presenta a las personas en él con naturalidad. Se pone el foco en el entorno y la actividad.</p>
      </div>
    </li>
    <li class="mb-lg">
      <div class="border border-neutral-base round">
        <img src="images/e-img-u5.png" alt="El mismo recorte de artículo sobre la Atención a la Ciudadanía, pero en este caso la imagen que lo acompaña es una imagen de stock. En ella, hay varias personas atendiendo al público con un micrófono. Una de ellas sonríe a cámara." class="mb-0 border-alert-dark border-l-4">
      </div>
      <div class="pb-base"></div>
      <div>
        <div>
          {{ componentPill({
            "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
            "classes": "c-pill--alert"
          })  }}
        </div>
        <div class="pb-sm"></div>
        <p class="c-paragraph-base text-neutral-dark text-sm">Las personas y la escena de la foto no son reales ni se presentan con naturalidad. Se pone el foco en un protagonista, no el entorno ni la actividad.</p>
      </div>
    </li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Ilustraciones de escena"
  }) }}
  <p class="c-paragraph-base">Las ilustraciones de escena buscan representar, de manera englobadora, una situación o un ambiente como apoyo al contenido.</p>
  <div class="grid lg:grid-cols-2 gap-lg">
    <ul>
      <li class="mb-lg">
        <div class="border border-neutral-base round">
          <img src="images/e-img-ilu-u4.svg" alt="Uso correcto. Varias ilustraciones que representan situaciones no estereotipadas: grupo de amigos y amigas, hombre cuidando de mujer en silla de ruedas, hombre y mujer potenciando ideas personales." class="mb-0 border-success-dark border-l-4">
        </div>
        <div class="pb-base"></div>
        <div>
          <div>
            {{ componentPill({
              "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
              "classes": "c-pill--success"
            }) }}
          </div>
          <div class="pb-sm"></div>
          <p class="c-paragraph-base text-neutral-dark text-sm">Las ilustraciones deben ser englobadoras y mostrar diversidad de género, racial, edad, etc., y estar alejadas de estereotipos, roles sexistas o juicios de valor.</p>
        </div>
      </li>
      <li>
        <div class="border border-neutral-base round">
          <img src="images/e-img-ilu-u5.svg" alt="Uso correcto. Varias ilustraciones que representan situaciones no estereotipadas: grupo de amigos y amigas, hombre cuidando de mujer en silla de ruedas, hombre y mujer potenciando ideas personales." class="mb-0 border-success-dark border-l-4">
        </div>
        <div class="pb-base"></div>
        <div>
          <div>
            {{ componentPill({
              "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z\"/></svg> Correcto",
              "classes": "c-pill--success"
            }) }}
          </div>
          <div class="pb-sm"></div>
          <p class="c-paragraph-base text-neutral-dark text-sm">De cara a crear escenas más completas y más representativas recomendamos seleccionar ilustraciones con más de una persona. Asegúrate de que exista representatividad en el género salvo que no tuviera sentido en el contexto de la escena buscada. <em>Por ejemplo: Una referencia al servicio de ginecología</em>.</p>
        </div>
      </li>
    </ul>
    <ul class="grid gap-lg">
      <li>
        <div class="border border-neutral-base round">
          <img src="images/e-img-ilu-u1.svg" alt="Uso incorrecto. Varias ilustraciones únicamente con objetos: lupa, sala de servidores, edificio." class="mb-0 border-alert-dark border-l-4">
        </div>
        <div class="pb-base"></div>
        <div>
          <div>
            {{ componentPill({
              "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
              "classes": "c-pill--alert"
            })  }}
          </div>
          <div class="pb-sm"></div>
          <p class="c-paragraph-base text-neutral-dark text-sm">Evita crear escenas que carezcan de personas e incluyan únicamente objetos, lugares o representaciones esquemáticas.</p>
        </div>
      </li>
      <li>
        <div class="border border-neutral-base round">
          <img src="images/e-img-ilu-u2.svg" alt="Uso incorrecto. Varias ilustraciones que representan estereotipos: mujer limpiando, jefe varón reunido con una mujer, trabajador escalando hacia el éxito." class="mb-0 border-alert-dark border-l-4">
        </div>
        <div class="pb-base"></div>
        <div>
          <div>
            {{ componentPill({
              "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
              "classes": "c-pill--alert"
            })  }}
          </div>
          <div class="pb-sm"></div>
          <p class="c-paragraph-base text-neutral-dark text-sm">Evita situaciones estereotipadas.</p>
        </div>
      </li>
      <li>
        <div class="border border-neutral-base round">
          <img src="images/e-img-ilu-u3.svg" alt="Uso incorrecto. Varias ilustraciones que representan emociones: frustración frente al ordenador, melancolía personal, tristeza frente a pérdida." class="mb-0 border-alert-dark border-l-4">
        </div>
        <div class="pb-base"></div>
        <div>
          <div>
            {{ componentPill({
              "html": "<svg viewBox=\"0 0 140 140\" class=\" self-center mr-2 \"  aria-hidden=\"true\" width=\" .75em \" height=\" .75em \"><path fill=\"currentColor\" d=\"M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z\"/></svg> Incorrecto",
              "classes": "c-pill--alert"
            })  }}
          </div>
          <div class="pb-sm"></div>
          <p class="c-paragraph-base text-neutral-dark text-sm">Evita escenas que reflejen emociones de tristeza, preocupación o estrés.</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="pb-xl"></div>


{% endblock %}