{% set title = "Espaciado - Usos. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-estilos" %}
{% set activeApartado = "Espaciado" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/table/_macro.table.njk" import componentTable %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-estilos.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  <div class="lg:pb-lg pb-0"></div>
  <h1 class="c-h1">Espaciado</h1>
  <p class="c-paragraph-base">Valores predefinidos que se han de usar para saltos entre objetos, padding, márgenes y dimensiones.</p>
  <div class="pb-lg"></div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll",
    "items": [
      {
        "href": "estilos-espaciado.html",
        "text": "Valores"
      },
      {
        "href": "estilos-espaciado-usos.html",
        "text": "Usos",
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  })  }}

  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Espaciado entre grupos de elementos"
  }) }}
  <p class="c-paragraph-base">Normalmente utilizamos las siguientes unidades para el salto entre estos grupos de elementos.</p>

  <div>
    {{ componentTable({
      "caption": "Espaciado entre grupos de elementos",
      "captionClasses": "sr-only mb-base font-bold text-left text-lg",
      "firstCellIsHeader": true,
      "rows": [
        [
          {
            "html": "<code>xs</code>"
          },
          {
            "html": '<span class="sr-only">Sin definición</code>'
          }
        ],
        [
          {
            "html": "<code>sm</code>"
          },
          {
            "text": "Botones, inputs"
          }
        ],
        [
          {
            "html": "<code>base</code>"
          },
          {
            "text": "Cards, items"
          }
        ],
        [
          {
            "html": "<code>lg</code>"
          },
          {
            "text": "Cards"
          }
        ],
        [
          {
            "html": "<code>xl</code> <code>2xl</code>"
          },
          {
            "text": "Separación de secciones de contenido"
          }
        ]
      ],
      "classes": "w-2/3"
    }) }}
  </div>
  <div class="pb-lg"></div>
  
  <p class="p-base bg-neutral-lighter">Consulta nuestro apartado de <a href="patrones.html" class="c-link">patrones de componentes</a> para conocer la manera correcta de agruparlos.</p>






{% endblock %}