{% set title = "DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-inicio" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}



{% block notificationHeaderBlock %}
{% endblock %}

{% block subheaderBlock %}
  <div class="py-xl bg-neutral-lighter">
    <div class="grid place-content-center">
      <div class="xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md content px-base">
        <div class="lg:grid lg:grid-cols-4 lg:gap-lg">
          <h1 class="lg:c-h0 c-h1 lg:col-span-3">Construye productos y experiencias digitales para el Gobierno de Aragón</h1>
        </div>
        <div>
          {{ componentButton({
            "html": "Cómo empezar<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
            "classes": "c-button--primary lg:c-button--lg",
            "href": "como-empezar-tutorial.html"
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="flex gap-base items-end">
    <h2 class="c-h1 mb-0"><a href="acerca-de-novedades.html" class=" c-link">Novedades</a></h2>
  </div>
  <div class="">
    <ul class="grid lg:grid-cols-2 lg:gap-xl gap-base">
      {% include "includes/docs-acerca-de/novedades/2025/_feb.njk" %}
      {% include "includes/docs-acerca-de/novedades/2025/_ene.njk" %}
    </ul>
  </div>
  
  <hr class="border-t border-neutral-base my-xl">

  <div class="lg:pb-0 pb-2xl">
    {% include "includes/index/_showcase.njk" %}
  </div>


  <h2 class="sr-only">Enlaces destacados</h2>
  <div>
    <div class="grid lg:grid-cols-3 lg:gap-xl gap-2xl content-stretch">
      <div>
        {% call componentCard({
          "classes": "h-full w-full",
          "containerClasses": "h-full lg:p-lg relative hover:bg-neutral-light"
        }) %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Font-Size--Streamline-Ultimate" height="48" width="48" role="presentation">
          <desc>Font Size Streamline Icon: https://streamlinehq.com</desc><g><path d="M35.14 41.02H34a0.48 0.48 0 0 1 -0.46 -0.34L21.28 5.04a2.92 2.92 0 0 0 -2.76 -2 2.98 2.98 0 0 0 -2.78 2L3.6 40.68a0.5 0.5 0 0 1 -0.46 0.34H2a2 2 0 1 0 0 4h6a2 2 0 0 0 2 -2 1.88 1.88 0 0 0 -1.62 -1.9 0.6 0.6 0 0 1 -0.34 -0.24 0.56 0.56 0 0 1 0 -0.4l3 -8.84a0.5 0.5 0 0 1 0.48 -0.32h14.46a0.5 0.5 0 0 1 0.46 0.32l3 8.84a0.46 0.46 0 0 1 0 0.4 0.6 0.6 0 0 1 -0.34 0.24 2 2 0 0 0 -1.58 1.9 2 2 0 0 0 2 2h6a2 2 0 0 0 0 -4ZM12.96 27.36a0.52 0.52 0 0 1 -0.4 -0.2 0.48 0.48 0 0 1 0 -0.46L18 10.4a0.52 0.52 0 0 1 0.52 -0.4 0.52 0.52 0 0 1 0.46 0.34l5.56 16.3a0.54 0.54 0 0 1 0 0.46 0.52 0.52 0 0 1 -0.4 0.2Z" fill="currentColor" stroke-width="1"></path><path d="M46 41.02h-0.4a0.48 0.48 0 0 1 -0.46 -0.34L36.62 15.78a3.06 3.06 0 0 0 -5.78 0l-2.32 6.78a2 2 0 0 0 3.72 1.26l1.02 -3.02a0.52 0.52 0 0 1 0.46 -0.34 0.52 0.52 0 0 1 0.48 0.34l2.92 8.58a0.44 0.44 0 0 1 0 0.44 0.48 0.48 0 0 1 -0.4 0.22H34a2 2 0 0 0 0 4h4.4a0.5 0.5 0 0 1 0.46 0.32l2.2 6.42a0.54 0.54 0 0 1 -0.24 0.6 2 2 0 0 0 -1.04 1.7 2 2 0 0 0 2 2H46a2 2 0 0 0 0 -4Z" fill="currentColor" stroke-width="1"></path></g>
        </svg>
        <h3 class="c-h2 mt-base"><a href="estilos.html" class="c-link c-link--full">Estilos</a></h3>
        <div class="prose max-w-none text-lg">
          <p>Los fundamentos del sistema de diseño. Utiliza estas bases para conseguir una apariencia común y coherente.</p>
        </div>
        {% endcall  %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full w-full",
          "containerClasses": "h-full lg:p-lg relative hover:bg-neutral-light"
        }) %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Layout-Module-2--Streamline-Ultimate" height="48" width="48" role="presentation">
          <desc>Layout Module 2 Streamline Icon: https://streamlinehq.com</desc><path d="M48 4a4 4 0 0 0 -4 -4H4a4 4 0 0 0 -4 4v40a4 4 0 0 0 4 4h40a4 4 0 0 0 4 -4Zm-5 18h-16a1 1 0 0 1 -1 -1v-16a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v16a1 1 0 0 1 -1 1ZM22 5v16a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-16a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1ZM5 26h16a1 1 0 0 1 1 1v16a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-16a1 1 0 0 1 1 -1ZM26 43v-16a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v16a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1Z" fill="currentColor" stroke-width="1"></path>
        </svg>
        <h3 class="c-h2 mt-base"><a href="componentes.html" class="c-link c-link--full">Componentes</a></h3>
        <div class="prose max-w-none text-lg">
          <p>Elementos de construcción que nos ayudan a crear una interfaz de usuario limpia, consistente y accesible.</p>
        </div>
        {% endcall  %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full w-full",
          "containerClasses": "h-full lg:p-lg relative hover:bg-neutral-light"
        }) %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48" id="Module-Puzzle-2--Streamline-Ultimate" height="48" width="48" role="presentation">
          <desc>Module Puzzle 2 Streamline Icon: https://streamlinehq.com</desc><path fill="currentColor" fill-rule="evenodd" d="M25.244 0.5a4 4 0 0 0 -2.828 1.17L17.224 6.86A8.5 8.5 0 1 0 6.86 17.226L1.672 22.414a4 4 0 0 0 0 5.658l4.22 4.212a1 1 0 0 0 1.63 -0.32 6.5 6.5 0 1 1 8.514 8.514 1 1 0 0 0 -0.32 1.628l4.212 4.214a4 4 0 0 0 5.658 0l5.188 -5.18a8.504 8.504 0 0 0 9.884 6.196 8.5 8.5 0 0 0 0.482 -16.562l5.19 -5.188a4 4 0 0 0 0 -5.658l-4.224 -4.212a1 1 0 0 0 -1.628 0.32 6.5 6.5 0 1 1 -8.514 -8.514 1 1 0 0 0 0.32 -1.628L28.072 1.672A4 4 0 0 0 25.244 0.5Z" clip-rule="evenodd" stroke-width="1"></path>
        </svg>
        <h3 class="c-h2 mt-base"><a href="patrones.html" class="c-link c-link--full">Patrones</a></h3>
        <div class="prose max-w-none text-lg">
          <p>Configuraciones que resuelven situaciones comunes a la hora de pedir o mostrar información.</p>
        </div>
        {% endcall  %}
      </div>
    </div>
    <div class="pt-2xl"></div>
    <div class="grid lg:grid-cols-4 lg:gap-xl gap-base content-stretch">
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
          <div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-8 h-8" focusable="false" aria-hidden="true" role="presentation"><g><path d="M7.75,15.75H11.5V8.25H7.75a3.75,3.75,0,0,0,0,7.5Z" fill="currentColor"></path><path d="M7.75,7.5H11.5V0H7.75a3.75,3.75,0,0,0,0,7.5Z" fill="currentColor"></path><path d="M20,3.75A3.75,3.75,0,0,0,16.25,0H12.5V7.5h3.75A3.75,3.75,0,0,0,20,3.75Z" fill="currentColor"></path><circle cx="16.25" cy="12" r="3.75" fill="currentColor"></circle><path d="M4,20.25a3.75,3.75,0,0,0,7.5,0V16.5H7.75A3.75,3.75,0,0,0,4,20.25Z" fill="currentColor"></path></g></svg>
            </div>
            <div class="mb-base"></div>
            <h3 class="c-h3 mb-sm"><a href="https://www.figma.com/community/file/1167029569064210460" target="_blank" title="Se abre en ventana nueva" class="c-link c-link--full">DESY en Figma</a></h3>
            <div class="prose max-w-none mb-base text-sm">
              <p>Componentes, patrones y plantillas para empezar a prototipar</p>
            </div>
          </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
          <div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="File-Html-1--Streamline-Ultimate" height="48" width="48" role="presentation" class="block w-8 h-8">
                <desc>File Html 1 Streamline Icon: https://streamlinehq.com</desc><path d="M47.42 11.42 36.58 0.58a2 2 0 0 0 -1.4 -0.58H12a4 4 0 0 0 -4 4v11.5a0.5 0.5 0 0 0 0.5 0.5h3A0.5 0.5 0 0 0 12 15.5V5a1 1 0 0 1 1 -1h20.5a0.5 0.5 0 0 1 0.5 0.5V10a4 4 0 0 0 4 4h5.5a0.5 0.5 0 0 1 0.5 0.5v3a0.5 0.5 0 0 1 -0.5 0.5H2.4A2.24 2.24 0 0 0 0 20v18a2.24 2.24 0 0 0 2.4 2h41.1a0.5 0.5 0 0 1 0.5 0.5v2.5a1 1 0 0 1 -1 1H12.5a0.5 0.5 0 0 1 -0.5 -0.5v-1a0.5 0.5 0 0 0 -0.5 -0.5h-3a0.5 0.5 0 0 0 -0.5 0.5V44a4 4 0 0 0 4 4h32a4 4 0 0 0 4 -4V12.82a2 2 0 0 0 -0.58 -1.4ZM12.24 35a1.24 1.24 0 1 1 -2.48 0v-4.24a0.52 0.52 0 0 0 -0.52 -0.5H6.76a0.52 0.52 0 0 0 -0.52 0.5v4.24a1.24 1.24 0 1 1 -2.48 0v-12a1.24 1.24 0 0 1 2.48 0v4.26a0.52 0.52 0 0 0 0.52 0.5h2.48a0.52 0.52 0 0 0 0.52 -0.5V23a1.24 1.24 0 0 1 2.48 0Zm10.76 -10.74h-2.24a0.52 0.52 0 0 0 -0.52 0.5v10.24a1.24 1.24 0 1 1 -2.48 0v-10.24a0.52 0.52 0 0 0 -0.52 -0.5H15a1.26 1.26 0 0 1 0 -2.5h8a1.26 1.26 0 0 1 0 2.5Zm11.24 10.74a1.24 1.24 0 1 1 -2.48 0v-6.1c0 -0.28 -0.24 -0.12 -0.32 0l-0.32 0.62a1.32 1.32 0 0 1 -2.24 0s-0.2 -0.42 -0.3 -0.6 -0.34 -0.18 -0.34 0v6a1.24 1.24 0 1 1 -2.48 0v-12a1.24 1.24 0 0 1 0.96 -1.22 1.26 1.26 0 0 1 1.4 0.66l1.56 3.14a0.36 0.36 0 0 0 0.64 0l1.56 -3.12a1.28 1.28 0 0 1 1.4 -0.66 1.24 1.24 0 0 1 0.96 1.22Zm8.76 1.26h-4a3.24 3.24 0 0 1 -3.24 -3.26v-10a1.24 1.24 0 1 1 2.48 0v10a0.76 0.76 0 0 0 0.76 0.76h4a1.26 1.26 0 0 1 0 2.5Z" fill="currentColor" stroke-width="1"></path>
              </svg>
            </div>
            <div class="mb-base"></div>
            <h3 class="c-h3 mb-sm"><a href="desarrollo-desy-html.html" class="c-link c-link--full">desy-html</a></h3>
            <div class="prose max-w-none mb-base text-sm">
              <p>Crea aplicaciones web ligeras o maquetas html</p>
            </div>
          </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
          <div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Angular-Logo--Streamline-Ultimate" height="48" width="48" role="presentation" class="block w-8 h-8">
                <desc>Angular Logo Streamline Icon: https://streamlinehq.com</desc><g><path d="m20.42 25.02 3.58 0 3.58 0L24 16.96l-3.58 8.06z" fill="currentColor" stroke-width="1"></path><path d="M46.3 7.04 24.3 0a1.02 1.02 0 0 0 -0.6 0l-22 7a1.04 1.04 0 0 0 -0.7 1.06L4 37.1a1 1 0 0 0 0.54 0.78l19 10a0.94 0.94 0 0 0 0.92 0l19 -10a1 1 0 0 0 0.54 -0.78l3 -29a1.04 1.04 0 0 0 -0.7 -1.06Zm-15.24 27.84 -2.38 -5.38H19.32l-2.38 5.38H11.56l12.44 -28 12.44 28Z" fill="currentColor" stroke-width="1"></path></g>
              </svg>
            </div>
            <div class="mb-base"></div>
            <h3 class="c-h3 mb-sm"><a href="desarrollo-desy-angular.html" class="c-link c-link--full">desy-angular</a></h3>
            <div class="prose max-w-none mb-base text-sm">
              <p>Desarrolla aplicaciones web</p>
            </div>
          </div>
        {% endcall %}
      </div>
      <div>
        {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
          <div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="Book-Library--Streamline-Ultimate" height="48" width="48" role="presentation" class="block w-8 h-8">
                <desc>Book Library Streamline Icon: https://streamlinehq.com</desc><g><path d="M3.5 1h6s3 0 3 3v40s0 3 -3 3h-6s-3 0 -3 -3V4S0.5 1 3.5 1" fill="currentColor" stroke-width="1"></path><path d="M18.5 15h6s3 0 3 3v26s0 3 -3 3h-6s-3 0 -3 -3V18s0 -3 3 -3" fill="currentColor" stroke-width="1"></path><path d="m47.46 42.18 -6.2 -36.46a2.98 2.98 0 0 0 -3.46 -2.46l-5.8 1a3 3 0 0 0 -2.46 3.46l6.08 36.48a3.02 3.02 0 0 0 3.46 2.46l6 -1.02a2.86 2.86 0 0 0 2 -1.22 2.96 2.96 0 0 0 0.38 -2.24Z" fill="currentColor" stroke-width="1"></path></g>
              </svg>
            </div>
            <div class="mb-base"></div>
            <h3 class="c-h3 mb-sm"><a href="desarrollo-otras.html" class="c-link c-link--full">Otras librerías</a></h3>
            <div class="prose max-w-none mb-base text-sm">
              <p>Adaptaciones de DESY a distintos frameworks realizadas por equipos externos</p>
            </div>
          </div>
        {% endcall %}
      </div>
    </div>
  </div>


  <hr class="border-t border-neutral-base my-xl">
  <div class="grid lg:grid-cols-4 gap-lg">
    <div class="col-span-3">
      <h2 class="c-h2">Acerca de DESY</h2>
      <p class="c-paragraph-base">Este sistema de diseño comparte los principios con los que trabajamos en Servicios Digitales de Aragón, el área del Gobierno de Aragón que se dedica a mejorar la experiencia de la ciudadanía cuando utiliza los servicios públicos mediante el diseño y la tecnología.</p>
      <ul class="c-ul c-ul--no-bullets">
        <li><a href="acerca-de-por-que-desy.html" class="c-link">Por qué DESY{% include "includes/_arrow-icon.njk" %}</a></li>
        <li><a href="acerca-de-novedades.html" class="c-link">Novedades{% include "includes/_arrow-icon.njk" %}</a></li>
        <li><a href="acerca-de-soporte.html" class="c-link">Soporte{% include "includes/_arrow-icon.njk" %}</a></li>
      </ul>
    </div>
  </div>
  <hr class="border-t border-neutral-base my-xl">



  <div class="grid lg:grid-cols-4 gap-xl">
    <div class="col-span-3">
      <div>
        <h2 class="c-h1">Licencia</h2>
        <p class="mb-xl c-paragraph-base">A no ser que se indique lo contrario, la base de código está liberada bajo la licencia abierta <a href="https://eupl.eu/1.2/es/" class="c-link" title="Se abre en ventana nueva" target="_blank">EUPL-1.2 License{% include "includes/_external-link-icon.njk" %}</a>. Esto cubre tanto la base de código como cualquier ejemplo en la documentación.</p>
      </div>
      <div class="mb-xl">
        <h2 class="c-h1">Código fuente</h2>
        <p class="c-paragraph-base mb-lg">Puedes hacer un fork o descargarlo desde el <a href="https://bitbucket.org/sdaragon/workspace/repositories" class="c-link" title="Se abre en ventana nueva" target="_blank">repositorio público de Servicios Digitales de Aragón en Bitbucket{% include "includes/_external-link-icon.njk" %}</a></p>
        <h3 class="c-h3">Contribuye a la evolución del sistema de diseño</h3>
        <p class="c-paragraph-base">Si encuentras un error o crees que es necesaria una evolución en cualquiera de los repositorios, puedes aportar una solución que resulte útil para otros equipos de la siguiente forma:</p>
        <ol class="c-ol">
          <li>Haz un <q>fork</q> del repositorio</li>
          <li>Crea una rama a partir de <code>master</code> y desarrolla tu aportación</li>
          <li>Solicita un <q>pull request</q> a <code>master</code></li>
          <li>Revisaremos la propuesta y podrá ser incluida en futuras versiones</li>
        </ol>
      </div>
      <div>
        <h2 id="soporte" class="c-h1">Soporte técnico</h2>
        <p class="c-paragraph-base">Si encuentras algún error, tienes alguna duda o quieres proponer alguna mejora, puedes ponerte en contacto con el Soporte Técnico de Servicios Digitales de Aragón.</p>
        <ul class="c-ul c-ul--no-bullets">
          <li class="flex">
            <div class="self-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.25em" height="1.25em" aria-hidden="true" focusable="false" class="mr-base block w-5 h-5" role="presentation"><path d="M12.5 1.25h-11A1.5 1.5 0 0 0 0 2.75v8.5a1.5 1.5 0 0 0 1.5 1.5h11a1.5 1.5 0 0 0 1.5-1.5v-8.5a1.5 1.5 0 0 0-1.5-1.5Zm-.11 4.14-4 2.4a2.71 2.71 0 0 1-2.8 0l-4-2.4a.75.75 0 0 1 .78-1.28l4 2.39a1.22 1.22 0 0 0 1.24 0l4-2.39a.75.75 0 0 1 .78 1.28Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
            </div>
            <p>Escribiendo un correo electrónico a <a class="c-link font-semibold" href="mailto:soportesda@aragon.es">soportesda@aragon.es</a></p>
          </li>
          <li class="flex">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.25em" height="1.25em" aria-hidden="true" focusable="false" class="mr-base block w-5 h-5" role="presentation"><path d="m5.3 9 2.54-.5a.44.44 0 0 0 .27-.14l5.6-5.59a1 1 0 0 0 0-1.42L12.65.29a1 1 0 0 0-1.42 0l-5.59 5.6a.44.44 0 0 0-.14.27l-.44 2.49a.22.22 0 0 0 .07.22.23.23 0 0 0 .17.13Z" fill="currentColor" transform="scale(3.42857)"></path><path d="M9.17 9.42A1.92 1.92 0 0 1 8.1 10l-2.78.47a1.73 1.73 0 0 1-1.23-.51 1.77 1.77 0 0 1-.51-1.56L4 5.89a1.93 1.93 0 0 1 .56-1.06L6 3.43a.26.26 0 0 0 0-.28.25.25 0 0 0-.2-.15H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5V8.2a.25.25 0 0 0-.15-.2.26.26 0 0 0-.28 0Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
            </div>
            <p>Rellenando este <a class="c-link font-semibold" href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" target="_blank" title="Se abre en pestaña nueva">Formulario de Solicitud de Soporte Técnico<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path fill="currentcolor" fill-rule="evenodd" d="M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></a></p>
          </li>
          <li class="flex">
            <div class="self-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1.25em" height="1.25em" aria-hidden="true" focusable="false" class="mr-base block w-5 h-5" role="presentation"><path d="M8.89 13.46a3.44 3.44 0 0 0 4.29-.46l.48-.48a1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0 1.14 1.14 0 0 1-1.62 0L5.14 5.61a1.14 1.14 0 0 1 0-1.61 1.14 1.14 0 0 0 0-1.62l-2-2a1.14 1.14 0 0 0-1.62 0L1 .82a3.45 3.45 0 0 0-.46 4.29 31.29 31.29 0 0 0 8.35 8.35Z" fill="currentColor" transform="scale(3.42857)"></path></svg>
            </div>
            <div>
              <p>Llamando al teléfono <a class="font-semibold">976 289 421</a>.</p>
              <p class="text-sm">Horario de lunes a viernes de 8:00 a 18:00 (excepto verano y festivos).</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <hr class="border-t border-neutral-base my-xl">
  <p class="c-paragraph-sm text-neutral-dark">También puedes leer la <a href="https://desy.aragon.es/index.00.html" class="c-link c-link--neutral">documentación antigua</a>.
  </p>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}