{% set title = "DESY. Sistema de diseño del Gobierno de Aragón. Librerías, documentación y ejemplos" %}
{% extends "pages/_template.home.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="lg:w-3/4">
    <h1 class="c-h1">DESY. Sistema de diseño del Gobierno de Aragón</h1>
    <p class="c-paragraph-base">
      Un sistema de diseño es un sistema de elementos diseñado para componer en piezas modulares. El nombre que damos al sistema de diseño del Gobierno de Aragón, DESY, se construye como un acrónimo de <em>DEsign SYstem</em>, o <em>sistema de diseño</em>.
    </p>
    <p class="c-paragraph-base">
      Si vas a diseñar o construir un sitio web, portal o aplicación para el Gobierno de
      Aragón, deberás hacerlo con una apariencia común y coherente: <strong>deberás seguir la guía de estilo, las pautas y los criterios de ubicación de logotipos que marca DESY</strong>. Es como si tuvieses que cocinar con los mismos ingredientes (colores, tipografías, estilos, retícula y espaciados) y seguir en la medida de lo posible unas mismas recetas (mismo uso de cabeceras, pies, estructuras de página y comportamiento responsive).
    </p>
    <p class="c-paragraph-base">
      También se ofrece, para facilitar su implantación técnica, unas librerías que ayudarán a desarrollar las aplicaciones con DESY. Es como un "precocinado" elaborado con los ingredientes y recetas obligatorias. Pero hay que aclarar que, así como seguir la coherencia visual e interactiva es obligatorio, si vas a construir productos digitales para el Gobierno de Aragón; sin embargo, <strong>el uso de estas librerías es opcional</strong>, aunque te recomendamos utilizarlas.
    </p>
    <div class="pb-lg"></div>
    <h2 id="deberes" class="c-h2">Debes mantener la coherencia del sistema de diseño</h2>
    <h3 id="guia-de-estilo" class="c-h3">Siguiendo la guia de estilo</h3>
    <p class="c-paragraph-base">
      La <a href="https://desy.aragon.es/desy-html/estilos.html">guia de estilo</a> está marcada por varios elementos:
    </p>
    <ul class="c-ul">
      <li><a class="c-link" href="https://desy.aragon.es/desy-html/estilos.html#Color">Color</a></li>
      <li><a class="c-link" href="https://desy.aragon.es/desy-html/estilos.html#Espaciado">Espaciado</a></li>
      <li><a class="c-link" href="https://desy.aragon.es/desy-html/estilos.html#Layout">Posicionamiento responsivo y retícula</a></li>
      <li><a class="c-link" href="https://desy.aragon.es/desy-html/estilos.html#Textos">Estilos de texto</a></li>
    </ul>
    <p class="c-paragraph-base mb-lg">
      Además, los elementos interactivos de la interface de usuario deben, en la medida de lo posible, seguir el estilo visual del <a class="c-link" href="https://desy.aragon.es/desy-html/catalogo.html">Catálogo de componentes de DESY</a>.
    </p>
  </div>
  <div class="w-full">
    <div class="grid grid-cols-4 gap-lg mt-base">
      <div class="col-span-2 lg:col-span-1">
        <div class="prose max-w-none mb-xl mx-auto">
          <figure>
            <a href="https://desy.aragon.es/desy-html/estilos.html#Color" target="_blank" title="Haz click en la imagen para abrirla en una pestaña nueva"><img src="images/color.png" alt="Color" class="mb-0"></a>
            <figcaption class="text-center">Color.</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <div class="prose max-w-none mb-xl mx-auto">
          <figure>
            <a href="https://desy.aragon.es/desy-html/estilos.html#Espaciado" target="_blank" title="Haz click en la imagen para abrir documentación en una pestaña nueva"><img src="images/espaciado.png" alt="Espaciado" class="mb-0"></a>
            <figcaption class="text-center">Espaciado.</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <div class="prose max-w-none mb-xl mx-auto">
          <figure>
            <a href="https://desy.aragon.es/desy-html/estilos.html#Layout" target="_blank" title="Haz click en la imagen para abrir documentación en una pestaña nueva"><img src="images/reticula.png" alt="Posicionamiento responsivo y retícula" class="mb-0"></a>
            <figcaption class="text-center">Posicionamiento responsivo y retícula.</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <div class="prose max-w-none mb-xl mx-auto">
          <figure>
            <a href="https://desy.aragon.es/desy-html/estilos.html#Textos" target="_blank" title="Haz click en la imagen para abrir documentación en una pestaña nueva"><img src="images/texto.png" alt="Estilos de texto" class="mb-0"></a>
            <figcaption class="text-center">Estilos de texto.</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="pb-lg"></div>
  </div>
  <div class="lg:w-3/4">
    <h3 id="cabecera-portales" class="c-h3">Cabecera para sitios web o portales</h3>
    <p class="c-paragraph-base">Se usa en comunicación en sitios webs públicos en los que hay una comunicación "unidireccional" y, normalmente, no tienen un acceso de usuarios restringido.</p>
  </div>
  <div class="w-full">
    <div class="prose max-w-none mb-xl mx-auto">
      <figure>
        <a href="images/cabeceras-sitios-web.png" target="_blank" title="Haz click en la imagen para abrirla en una pestaña nueva"><img src="images/cabeceras-sitios-web.png" alt="Cabecera para sitios web o portales" class="mb-0"></a>
        <figcaption>Haz click en la imagen para abrirla en una pestaña nueva.</figcaption>
      </figure>
    </div>
  </div>
  <div class="lg:w-3/4">
    <p class="c-paragraph-base">
      Tiene los siguientes elementos:
    </p>
    <ol class="c-ol mb-lg">
      <li><strong>Banda amarilla.</strong> Una banda amarilla que permite saltar directamente al contenido principal de la página. Se usa por temas de accesibilidad. Está oculto y sólo se muestra al tomar el foco (<a class="c-link" href="https://desy.aragon.es/desy-html/examples-skip-link.html">skip link</a>).</li>
      <li><strong>Banda logo Gobierno de Aragón.</strong> Banda con el logotipo del Gobierno de Aragón en el área superior izquierda y borde de un pixel inferior (<a href="https://desy.aragon.es/desy-html/examples-header-mini.html" class="c-link">header mini</a>).</li>
      <li>
        <p><strong>Banda con el título del sitio web.</strong> Banda con el título del sitio web o del organismo en texto blanco sobre un color de fondo azul oscuro poco saturado y sin ningún logotipo.</p>
        <p><strong>Imagen de fondo.</strong> Hay una imagen de fondo con un ornamento. Inspeccionar para obtener el svg.</p>
      </li>
      <li><strong>Subtítulos para títulos con acrónimo.</strong> En los organismos cuyo título sea un acrónimo se podrá añadir un subtítulo con el nombre extendido.</li>
      <li><strong>Banda con un menú de navegación.</strong> Con fondo gris claro y borde abajo de 1px de gris oscuro. En móvil o anchuras pequeñas, el menú se convierte en un botón que abre el menú para dispositivos móviles.</li>
    </ol>
    <p class="c-paragraph-base">
      <a class="c-link" href="https://desy.aragon.es/desy-html/examples-header-advanced.html">Ver ejemplos de cabecera para sitios web o portales</a>
    </p>
    <div class="pb-lg"></div>
    <h3 id="cabecera-aplicaciones" class="c-h3">Cabecera para aplicaciones web</h3>
    <p class="c-paragraph-base">Se usa en intranets o aplicaciones web para escritorio o móviles y que suelen tener un acceso de usuarios restringido. Tiene menos altura al estar compuesta por una sola banda. Antes de hacer login se muestra el logotipo del Gobierno de Aragón normal expandido. Tras hacer login o en versión móvil, podemos usarlo en versión reducida sólo con la bandera, sin las letras.</p>
  </div>
  <div class="w-full">
    <div class="prose max-w-none mb-xl mx-auto">
      <figure>
        <a href="images/cabeceras-apps.png" target="_blank" title="Haz click en la imagen para abrirla en una pestaña nueva"><img src="images/cabeceras-apps.png" alt="Cabecera para aplicaciones web" class="mb-0"></a>
        <figcaption>Haz click en la imagen para abrirla en una pestaña nueva.</figcaption>
      </figure>
    </div>
  </div>
  <div class="lg:w-3/4">
    <p class="c-paragraph-base">
      En <strong>versión escritorio</strong> o para anchuras grandes tiene los siguientes elementos:
    </p>
    <ol class="c-ol mb-lg">
      <li><strong>Banda amarilla.</strong>Una banda amarilla que permite saltar directamente al contenido principal de la página. Se usa por temas de accesibilidad. Está oculto y sólo se muestra al tomar el foco (<a class="c-link" href="https://desy.aragon.es/desy-html/examples-skip-link.html">skip link</a>).</li>
      <li><strong>Logotipo del Gobierno de Aragón.</strong> En el área superior izquierda, que puede mostrarse de forma expandida antes de hacer login, mostrando bandera y todas sus letras (<a href="https://desy.aragon.es/desy-html/examples-header.html#example-header-5" class="c-link">ver ejemplo expandido</a>). O bien, mostrarse de forma contraida tras el login al entrar en la zona privada, sólo con la bandera, sin las letras (<a href="https://desy.aragon.es/desy-html/examples-header.html#example-header-1" class="c-link">ver ejemplo contraido</a>).</li>
      <li><strong>Nombre de aplicación.</strong> Se oculta de la cabecera en dispositivos móviles porque se mostrará dentro del menú para dispositivos móviles.</li>
      <li>
        <p><strong>Menú de navegación.</strong> Se oculta de la cabecera en dispositivos móviles porque se mostrará dentro del menú para dispositivos móviles.</p>
        <p><strong>Botón para mostrar el menú de navegación para dispositivos móviles.</strong> Se muestra en la cabecera mobile a la derecha y sustituye a todo excepto al logo contraído de la izquierda.</p>
      </li>
      <li><strong>Dropdown de usuario.</strong>Es una navegación o información relativa al usuario identificado (Ej: Perfil, Cerrar sesión...) se muestra en el extremo de la derecha en escritorio y en anchuras pequeñas o mobile dentro del menú mobile. (opcional)</li>
    </ol>
    <p class="c-paragraph-base">
      <a class="c-link" href="https://desy.aragon.es/desy-html/examples-header.html">Ver ejemplos de cabecera para aplicaciones web</a>
    </p>
    <div class="pb-lg"></div>
    <h2 id="librerias" class="c-h2">Puedes usar las librerías de DESY (opcional)</h2>
    <p class="c-paragraph-base mb-lg">
      Aquí encontrarás enlaces a las librerías y ejemplos de las diversas implementaciones de Desy, el sistema de diseño para aplicaciones web del Gobierno de Aragón. Si quieres ver su apariencia, echa un vistazo rápido a sus <a href="https://desy.aragon.es/desy-html/estilos.html" class="c-link">estilos</a> y <a href="https://desy.aragon.es/desy-html/catalogo.html" class="c-link">catálogo de componentes</a>.
    </p>
    <h3 class="c-h3">desy-html</h3>
    <p  class="c-paragraph-base">desy-html es una librería en forma de paquete npm que sirve para construir la interfaz de usuario de las aplicaciones web del Gobierno de Aragón. Utiliza <a href="https://gulpjs.com/" class="c-link">Gulp</a>, <a href="https://postcss.org/" class="c-link">PostCSS</a>, <a href="https://tailwindcss.com/" class="c-link">Tailwind CSS</a> y <a href="https://mozilla.github.io/nunjucks/" class="c-link">Nunjucks</a> para renderizar componentes HTML+CSS+JS. Es útil para crear aplicaciones web ligeras o maquetas html. </p>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="https://desy.aragon.es/desy-html/">desy-html</a>. Ejemplos y documentación de la última versión publicada
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://bitbucket.org/sdaragon/desy-html">Repositorio de desy-html</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://www.npmjs.com/package/desy-html">Paquete npm de desy-html</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://desy.aragon.es/pages/desy-html-starter/">Ejemplo de proyecto starter: desy-html-starter</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://bitbucket.org/sdaragon/desy-html-starter/">Repositorio de proyecto starter: desy-html-starter</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://desy.aragon.es/pages/desy-html-templates/">Ejemplos de Plantillas de página: desy-html-templates</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://bitbucket.org/sdaragon/desy-html-templates/">Repositorio de Plantillas de página: desy-html-templates</a>
      </li>
      <li class="mb-base">
        <p class="c-paragraph-base mb-sm">Versiones anteriores: </p>
        <ul class="c-ul mb-xl">
          <li><a class="c-link" href="https://desy.aragon.es/versions/v4.1.1">desy-frontend v4.1.1</a></li>
          <li><a class="c-link" href="https://desy.aragon.es/versions/v5.0.0">desy-html v5.0.0</a></li>
          <li><a class="c-link" href="https://desy.aragon.es/versions/v5.2.2">desy-html v5.2.2</a></li>
          <li><a class="c-link" href="https://desy.aragon.es/versions/v6.2.1">desy-html v6.2.1</a></li>
          <li><a class="c-link" href="https://desy.aragon.es/versions/v7.1.0">desy-html v7.1.0</a></li>
        </ul>
      </li>
    </ul>
    <h3 class="c-h3">desy-angular</h3>
    <p class="c-paragraph-base">
      desy-angular es una librería en forma de paquete npm que sirve para construir la interfaz de usuario de las aplicaciones web del Gobierno de Aragón con el framework <a href="https://angular.io/" class="c-link">Angular</a>. Es la librería que se propone para ser utilizada para desarrollos finales de aplicaciones web.
    </p>
    <p class="c-paragraph-base">
      Cada versión de esta librería apunta a una versión específica de desy-html y la tiene como dependencia. Normalmente, los parámetros de configuración y los diseños de componentes comienzan en desy-html y posteriormente se traducen a desy-angular. Aunque hay algunos parámetros de desy-angular propios, relativos a su implementación.
    </p>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="https://desy.aragon.es/desy-angular/">desy-angular</a>. Ejemplos interactivos con sus parámetros.
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://bitbucket.org/sdaragon/desy-angular/">Repositorio de desy-angular</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://www.npmjs.com/package/desy-angular">Paquete npm de desy-angular</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://bitbucket.org/sdaragon/desy-angular-starter/">Proyecto starter: desy-angular-starter</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://desy.aragon.es/pages/desy-angular-templates/">Ejemplos de Plantillas de página con desy-angular: desy-angular-templates</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://bitbucket.org/sdaragon/desy-angular-templates/">Repositorio de Plantillas de página con desy-angular: desy-angular-templates</a>
      </li>
    </ul>
    <h3 class="c-h3">desy.library.components (AdobeXD)</h3>
    <p class="c-paragraph-base"><a href="https://assets.adobe.com/public/34f4a2fd-e841-45da-5bd9-f69e97b0bbbb" class="c-link">desy.library.components</a> es una biblioteca compartida de AdobeXD en la nube. Permite crear mockups de tus aplicaciones web para el Gobierno de Aragón. Tiene los mismos componentes que desy-html y desy-angular y es ideal para hacer mockups con los que prototipar ideas de interfaz y testear con personas usuarias.</p>
    <ul class="mb-xl">
      <li class="mb-base">
        Biblioteca compartida en Adobe Creative Cloud: <a href="https://assets.adobe.com/public/34f4a2fd-e841-45da-5bd9-f69e97b0bbbb" class="c-link">desy.library.components</a>
      </li>
      <li class="mb-base">
        Documentación de la biblioteca: <a href="https://xd.adobe.com/view/bb273ea1-b381-4167-b46c-f6d757316a3d-ee74/" class="c-link">Documentación de desy.library.components</a>
      </li>
    </ul>
    <p class="c-paragraph-base">Varios ejemplos de la librería y de mockups de aplicaciones:</p>
    <ul class="mb-xl">
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/cedc354c-9703-4408-bd98-72488702cf3d-9b8f/">MiA versión escritorio (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/954a4ece-d44b-494d-841d-9e0690a11f98-c019/">MiA versión móvil (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/985357aa-e42f-485e-aeb0-ff672d9b232a-cd00/">Sitio web de Salud informa (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/b674b546-f50a-4458-9196-98eab91b0d4a-e327/">Tramitador online (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/dad7a3ee-6f44-4d3f-9104-bf099f89df42-8f84/">Carpeta del gestor (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/8133af54-8f2e-4100-ad0c-c1e377e5347f-d460/">Card (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/696cf247-0a41-4ed7-9517-cb04e79befb7-3c3f/">Formulario común de pago (mockups)</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="https://xd.adobe.com/view/59cf8909-d195-4d58-8125-3b9c953db425-0c9c/">Registro de nuevo usuario (mockups)</a>
      </li>
    </ul>
    <h2 id="documentacion" class="c-h2">Documentación</h2>
    <p class="c-paragraph-base">La documentación de DESY está ubicada en el Confluence del <a href="https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/" class="c-link">Área de empleados públicos e integradores</a>. Por otro lado, desy-html contiene una documentación propia que aplica al sistema de diseño DESY en general, como son los colores, tipografías y espaciados. También incluye una amplia colección de ejemplos de cada componente, con sus parámetros de configuración y con ejemplos de su aplicación. Son ejemplos copia-pega muy útiles para la generación de mockups y maquetas iniciales.</p>
    <ul class="mb-xl">
      <li class="mb-base"><a href="https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/2996797605" class="c-link">Documentación DESY en el Área de integradores</a></li>
      <li class="mb-base"><a href="https://desy.aragon.es/desy-html/" class="c-link">Documentación desy-html</a> con ejemplos copia-pega.</li>
    </ul>
    <h2 id="solucion" class="c-h2">Solución de problemas</h2>
    <p class="c-paragraph-base">Si encuentras algún bug, si tienes alguna duda o si quieres proponer alguna mejora, puedes ponerte en contacto con nosotros.
    </p>
    <h3 class="c-h3">Si eres integrador</h3>
    <p>Si eres integrador, el punto de entrada para la petición de resolución de problemas es mediante nuestro <a class="c-link" href="https://soportesda.aragon.es/external/ticket/create/new">Formulario de soporte para integradores</a> (requiere identificarse). Recuerda que el soporte sólo se aplica a las últimas versiones del producto por lo que te recomendamos que mantengas actualizada tu aplicación con las últimas versiones de las librerías.</p>
  </div>
  <hr class="border-t border-neutral-base my-xl">
  <h2 id="contacto" class="c-h2 group">Ponte en contacto  <a href="#contacto" class="hidden font-semibold text-neutral-base underline group-hover:inline-block">#</a></h2>
  <div class="grid gap-base lg:grid-cols-2 mb-xl">
    <div>
      <h3 class="c-h3">Si eres ciudadano/a:</h3>
      <div class="prose">
        <p>
          Si tienes cualquier comentario o has encontrado algún problema en el sistema de diseño, puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
        </p>
        <ul>
          <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289414" class="c-link">976 289 414</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
          <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
          <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action" class="c-link">Formulario de Solicitud de Soporte Técnico</a></li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="c-h3">Si trabajas para el Gobierno de Aragón:</h3>
      <div class="prose">
        <p>
          Si encuentras algún bug, duda o propuesta de mejora, puedes ponerte en contacto con el <em>Soporte Técnico de Servicios Digitales de Aragón</em> de varias formas:
        </p>
        <ul>
          <li>Llamar al número de teléfono de Soporte Técnico de Servicios Digitales de Aragón: <a href="tel:+34976289421" class="c-link">976 289 421</a>. <br> Horario de lunes a jueves de 7:30 a 18:30, y los viernes de 7:30 a 16:00.</li>
          <li>Escribir un email a: <a href="mailto:soportesae@aragon.es" class="c-link">soportesae@aragon.es</a></li>
          <li>Rellenar el <a href="https://aplicaciones.aragon.es/saco_core/formConsulta.action?e=y" class="c-link">Formulario de Solicitud de Soporte Técnico si trabajas para el Gobierno de Aragón</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}