{% set componente = [
  "button",
  "botones",
  "Botones",
  "Esta es la descripción del componente"
] %}

{% set title = componente[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-componentes" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_macro.component-page-content.njk" import componentContentHeader, componentContentMenu, componentContentMenuCode, componentContentCode %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}




{% block sidebarBlock %}
  {% include "includes/docs-componentes/_menu-lateral-componentes.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ componentContentHeader(componente[2], componente[3], componente[4]) }}

  {{ componentContentMenu(componente[1]) }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Anatomía"
  }) }}
  <p class="c-paragraph-base">
    Por lo general están compuestos por una etiqueta que única la acción que se realiza y pueden mostrar un icono de apoyo a izquierda o derecha del texto. También se casos excepcionales se puede usar un botón únicamente con icono, sin etiqueta de texto visible.
  </p>
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Recomendaciones generales"
  }) }}
  <ul class="c-ul">
    <li>La etiqueta debe describir de manera clara y concisa la acción que se llevará a cabo al pulsarlo.</li>
    <li>Ser recomienda no usar más de dos palabras en la etiqueta, por ejemplo “Ver documento” “Firmar solicitud”</li>
    <li>Cuando se usen verbos se recomienda el uso de infinitivos “Eliminar”, “Continuar”</li>
    <li>En caso de acciones que sean tengan que reforzar el caracter de individualidad o pertenencia del la persona usuaria, se pueden emplear verbos en primera person o otras formular que refuercen el caracter personale de la acción. por ejemplo: Mi perfil, Mis datos o Indentificarme.</li>
  </ul>
  <div class="pb-lg"></div>
  {{ DSSectionTitle({
    title: "Tipos de botones"
  }) }}
  {% call componentExample()  %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-base">
      <div>
        {{ componentButton({
          "text": "Por defecto"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "text": "Primario",
          "classes": "c-button--primary"
        })  }}
      </div>
      <div>
        {{ componentButton({
          "text": "Transparente",
          "classes": "c-button--transparent"
        })  }}
      </div>
    </div>
  {% endcall %}
  {{ DSSubsectionTitle({
    title: "Botones por defecto"
  }) }}
  <p class="c-paragraph-base">
    El botón por defecto es el botón estándar para la mayoría de los casos de uso. El estilo delineado pone menos énfasis en estos botones, pudiendo usar varios por página o grupo de botones.
  </p>
  {{ DSSubsectionTitle({
    title: "Botones primarios"
  }) }}
  <p class="c-paragraph-base">
    Estos botones son los que tienen más énfasis. En caso de usarlo en una página no se recomienda que se use más de una vez.</p>
  <p class="c-paragraph-base">Nunca deben duplicarse situándose uno al lado del otro. Se utiliza cuando una acción es claramente más importante que las otras acciones y se necesita llamar la atención sobre ella.</p>
  <p class="c-paragraph-base">No todas las funciones necesitan tener acciones primarias.
  </p>
  {{ DSSubsectionTitle({
    title: "Botones transparentes"
  }) }}
  <p class="c-paragraph-base">
    El botón transparente debe utilizarse para las acciones menos importantes. Este botón se utiliza en contenido secundario, para evitar competencia con las llamadas a acción principales. Lo ideal es que el usuario vea el botón principal y luego (si no es relevante) lo omita en el transparente.  Por ejemplo, se utiliza para acciones como deshacer, volver, etc...
  </p>
  {{ DSSubsectionTitle({
    title: "Botones de alerta"
  }) }}
  <p class="c-paragraph-base">
    Los botones de alerta se deben emplear, en casos muy concretos, especialmente para acciones destructivas o que no se puedan deshacer.
  </p>
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Iconos"
  }) }}
  <p class="c-paragraph-base">
    Se puede usar iconos en botones, siempre que sea de manera puntual y porque se quiere destacar la acciones especialmente sobre otros botones o que sea necesario un apoyo visual para entender mejor la acción del botón.  por ejemplo en botones de descarga.
  </p>
  <p class="c-paragraph-base">
    Por lo general no se recomienda usar botones sin etiqueta y únicamente con icono, pero se pueden emplear en casos en los que el espacio sea muy reducido y sea imposible incluir la etiqueta y siempre que la acción que representa el icono sea inequívoca y clara.
  </p>
  <div class="pb-xl"></div>


{% endblock %}