{% set title = "Accesibilidad. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% extends "pages/_template.desy-aragon-es.njk" %}

{% block contentBlock %}
  {% include "includes/_back-index-button.njk" %}
  <div class="prose">
    <h1>Accesibilidad</h1>

    <p class="text-lg">El Gobierno de Aragón se ha comprometido a hacer accesible el portal “DESY. Sistema de Diseño del Gobierno de Aragón.”, de conformidad con el <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público</a>.</p>
    <p class="text-lg">La presente declaración de accesibilidad se aplica al sitio web <a href="desy.aragon.es">DESY. Sistema de Diseño del Gobierno de Aragón</a>.</p>
  </div>
  <div class="py-xl"></div>
  <div class="prose">
    <h2>Situación de cumplimiento</h2>
    <p>Este sitio web es <strong>parcialmente</strong> conforme con el Real Decreto 1112/2018, de 7 de septiembre, debido a las excepciones y falta de conformidad de los aspectos que se indican a continuación.</p>

    <h2>Contenido no accesible</h2>
    <p>Estamos trabajando para que el portal alcance el máximo nivel de accesibilidad, pero algunos contenidos no son todavía plenamente accesibles por las razones que se recogen a continuación.</p>
    <ol>
      <li>
        <h3>Falta de conformidad con el Real Decreto 1112/2018</h3>
        <ul>
          <li>Existen contenidos no textuales que carecen de una alternativa textual, o que tienen una alternativa que no es adecuada [requisito número 9.1.1.1 Contenido no textual de UNE-EN 301549:2022].</li>
          <li>Existen contenidos que no cumplen con la ratio mínima de contraste de color. De forma puntual, hay contenidos en los que se está utilizando el color para transmitir información [requisitos número 9.1.4.3, 9.1.4.11 y 9.1.4.1 de UNE-EN 301549:2022].</li>
          <li>Existen errores puntuales al aumentar el tamaño de texto de las páginas, al hacer zoom en las mismas o al modificar el espaciado del texto [requisitos número 9.1.4.4, 9.1.4.10, 9.1.4.12 y 11.7 de UNE-EN 301549:2022].</li>
          <li>Existen algunas páginas que no tienen un título de página adecuado [requisito número 9.2.4.2 Titulado de páginas de UNE-EN 301549:2022].</li>
          <li>El propósito de los encabezados o etiquetas del portal pueden no ser siempre lo suficientemente descriptivos y consistentes para todos los usuarios [requisitos número 9.2.4.6 y 9.2.5.3 de UNE-EN 301549:2022].</li>
          <li>Existe algún texto cuyo idioma no está etiquetado correctamente [requisito número 9.3.1.2 Idioma de las partes de UNE-EN 301549:2022].</li>
          <li>Existe puntualmente algún cambio de contexto al recibir el foco [requisito número 9.3.2.1 Al recibir el foco de UNE-EN 301549:2022].</li>
          <li>Existen errores en el uso de un etiquetado semántico que refleje la información y las relaciones del contenido, así como el nombre, función y valor de todos los componentes de las páginas [requisitos número 9.1.3.1 y 9.4.1.2 de UNE-EN 301549:2022].</li>
          <li>Existen errores puntuales de procesamiento del código HTML [requisito número 9.4.1.1 Procesamiento de UNE-EN 301549:2022].</li>
        </ul>
        <p>Actualmente contamos con un equipo de revisión que está subsanando estos errores.</p>
      </li>
      <li>
        <h3>Carga desproporcionada</h3>
        <p>No aplica.</p>
      </li>
      <li>
        <h3>El contenido no entra dentro del ámbito de la legislación aplicable</h3>
        <p>En algunas páginas se inserta contenido en un iframe desde el portal Figma.com y AdobeXD.com, un contenido de terceros sobre cuya accesibilidad no se tiene control.</p>
      </li>
    </ol>

    <h2>Preparación de la presente declaración de accesibilidad</h2>
    <p>La presente declaración fue preparada el 07/06/2023 tras una auditoría externa mediante la evaluación manual y automática de las páginas a las que aplica.</p>

    <p>Última revisión de la declaración: 07/06/2023.</p>

    <h2>Observaciones y datos de contacto</h2>
    <p>Puede realizar <strong>comunicaciones</strong> sobre requisitos de accesibilidad (artículo 10.2.a) del Real Decreto 1112/2018, de 7 de septiembre) como, por ejemplo:</p>
    <ul>
      <li>Informar sobre cualquier posible <strong>incumplimiento</strong> por parte de este sitio web.</li>
      <li>Transmitir otras <strong>dificultades de acceso</strong> al contenido.</li>
      <li>Formular cualquier otra <strong>consulta o sugerencia de mejora</strong> relativa a la accesibilidad del sitio web.</li>
    </ul>

    <p>A través de las siguientes vías:</p>
    <ul>
      <li>Correo electrónico: <a href="mailto:portalpublico@aragon.es" class="c-link">soportesda@aragon.es</a>.</li>
      <li><a href="https://www.aragon.es/tramitador/-/tramite/tramitacion-quejas-sugerencias-funcionamiento-servicios-publicos-gestionados-diputacion-general-aragon" class="c-link" >Trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón.</li>
      <li>Teléfono: <a href="tel:+34976714000" class="c-link">976 714 000</a></li>
    </ul>

    <h2>Procedimiento de aplicación</h2>
    <p>Si una vez realizada una solicitud de información accesible o queja, ésta hubiera sido desestimada, no se estuviera de acuerdo con la decisión adoptada, o la respuesta no cumpliera los requisitos contemplados en el artículo 12.5 del Real Decreto 1112/2018, la persona interesada podrá iniciar una reclamación. Igualmente se podrá iniciar una reclamación en el caso de que haya trascurrido el plazo de veinte días hábiles sin haber obtenido respuesta.</p>
    <p>La reclamación puede ser presentada través del <a href="https://www.aragon.es/tramitador/-/tramite/tramitacion-quejas-sugerencias-funcionamiento-servicios-publicos-gestionados-diputacion-general-aragon" class="c-link">trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón, así como en el resto de opciones recogidas en la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas.</p>
    <p>Las reclamaciones serán recibidas y tratadas por el Servicio de Información y Documentación Administrativa.</p>



    <h2>Acciones de mejora de la accesibilidad</h2>
    <p>El Gobierno de Aragón quiere mejorar la accesibilidad de DESY más allá del nivel de exigido por el Real Decreto 1112/2018, por ello se han dado los siguientes pasos:</p>
    <ol>
      <li>
        <h3>Selección de estilos visuales</h3>
        <p>La programación del portal se ha realizado utilizando hojas de estilo (CSS). Si el navegador o dispositivo de navegación no soporta hojas de estilo, la página web sigue siendo legible gracias a su marcación estructural.</p>
        <p>La paleta de colores utilizada cumple con el nivel AAA.</p>
      </li>
      <li>
        <h3>Visualización Responsive</h3>
        <p>El portal ha sido diseñado para su óptima visualización en los dispositivos tablet y móvil.</p>
      </li>
    </ol>




  </div>

{% endblock %}