{% set title = "Mapa web. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-mapa-web" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% block contentBlock %}
  {% include "includes/_back-index-button.njk" %}
  <div class="prose">
    <h1>Mapa web</h1>
    
    <p class="text-lg">Colección de las secciones principales de este sitio web y sus subsecciones.</p>
  </div>
  <div class="py-xl"></div>
  <div class="mb-xl">
    <h2 class="c-h2 group"><a href="inicio.html" class="c-link">Inicio</a></h2>
    <div class="prose mb-base">
      <p>
        Presentación de nuestro sistema de diseño y acceso a las distintas secciones.
      </p>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2 group"><a href="como-empezar.html" class="c-link">Cómo empezar</a></h2>
    <div class="prose mb-base">
      <p>
        Listado de librerías, recursos y proyectos de referencia para diseñadores y desarrolladores.
      </p>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2 group"><a href="estilos.html" class="c-link">Estilos</a></h2>
    <div class="prose mb-base">
      <p>
        Guía de uso de los colores, espaciados, retículas, tipografía, imágenes y lenguaje.
      </p>
    </div>
    <ul>
      <li class="mb-base">
        <a class="c-link" href="estilos-color.html">Color</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="estilos-espaciado.html">Espaciado</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="estilos-reticula.html">Retícula</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="estilos-tipografia.html">Tipografía</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="estilos-lenguaje.html">Lenguaje claro</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="estilos-imagenes.html">Uso de imágenes</a>
      </li>
    </ul>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2"><a href="componentes.html" class="c-link">Componentes</a></h2>
    <div class="prose mb-base">
      <p>
        Los elementos interactivos de la interfaz de usuario, usos y código.
      </p>
    </div>
    
    <ul>
      <li class="mb-base">
        <a class="c-link" href="componente-principales.html">Componentes principales</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="componente-formularios.html">Formularios</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="componente-navegacion.html">Navegación</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="componente-mostrar-ocultar.html">Mostrar y ocultar</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="componente-datos.html">Datos</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="componente-avisos.html">Avisos</a>
      </li>
      <li class="mb-base">
        <a class="c-link" href="componente-info-visual.html">Información visual</a>
      </li>
    </ul>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2"><a href="patrones.html" class="c-link">Patrones</a></h2>
    <div class="prose mb-base">
      <p>
        Grupos de componentes, ejemplos de página y secuencias de uso que resuelven situaciones comunes a la hora de pedir o mostrar información.
      </p>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2">Plantillas</h2>
    <div class="mb-base">
      <ul>
        <li class="mb-base">
          <p><a href="plantillas.html" class="c-link">Plantillas para web</a></p>
          <p>Estructura de las páginas web más comunes de las aplicaciones y portales del Gobierno de Aragón.</p>
        </li>
        <li class="mb-base">
          <p><a href="plantillas-documentos.html" class="c-link">Plantillas para documentos y presentaciones</a></p>
          <p>Recursos para generar documentos en formato físico y diapositivas.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2"><a href="desarrollo-desy-html.html" class="c-link">Desarrollo</a></h2>
    <div class="prose mb-base">
      <p>
        Librerías de componentes y plantillas para el desarrollo técnico.
      </p>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2">Acerca de</h2>
    <div class="prose mb-base">
      <p>
        Información adicional sobre el sistema de diseño
      </p>
    </div>
    <div class="mb-base">
      <ul>
        <li class="mb-base">
          <a href="acerca-de-por-que.html" class="c-link">Por qué desy</a>
        </li>
        <li class="mb-base">
          <a href="acerca-de-novedades.html" class="c-link">Novedades</a>
        </li>
        <li class="mb-base">
          <a href="acerca-de-soporte.html" class="c-link">Soporte</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2"><a href="pagina-accesibilidad.html" class="c-link">Accesibilidad</a></h2>
    <div class="prose mb-base">
      <p>
        Conoce el nivel de accesibilidad de la web y obtén información adicional al respecto.
      </p>
    </div>
  </div>
  <div class="mb-xl">
    <h2 class="c-h2"><a href="pagina-mapa-web.html" class="c-link">Mapa web</a></h2>
    <div class="prose mb-base">
      <p>
        Colección de las secciones principales de este sitio web y sus subsecciones.
      </p>
    </div>
  </div>

{% endblock %}