{% set patron = [
  "Cómo pedimos información",
  "datos-identidad",
  "Datos de identidad",
  "Solemos agrupar los elementos de los formularios en fieldsets que agrupen tipos de datos similares. En este caso nombre y NIF o NIE."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {% call componentExample()  %}
    {% include "includes/_pattern.formularios-nombre-nif.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.formularios-nombre-nif.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul">
    <li>Primer bloque o primer paso de un <a href="patrones-pagina-formulario.html#paso-1-nombre-y-nif" class="c-link">formulario de registro</a>.</li>
    <li>En el formulario de datos del <a href="patrones-pagina-otras.html#perfil-personal" class="c-link">perfil personal</a>.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul">
    <li><a href="componente-input-text.html" class="c-link">Entrada de texto</a>
       <ul class="c-ul mt-base">
         <li>La longitud del campo <q>Nombre y apellidos</q> ocupa 2/5 de la anchura total en escritorio y el ancho completo en móviles.</li>
          <li>La longitud del campo <q>NIF o NIE</q> ocupa una anchura fija proporcional al formato. Utilizamos el parámetro <code>size="19"</code>.</li>
       </ul>
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "¿NIF o NIE?"
  }) }}
  <ul class="c-ul">
    <li>El NIF equivale al número de DNI para para las personas que residen en España y al Número de Identificación en compañías mercantiles y otra sociedades.</li>
    <li>El NIE es el número de identificación equivalente que se otorga únicamente a personas de países extranjeros.</li>
  </ul>
  <P>En determinadas aplicaciones o solicitudes es necesario diferenciar entre uno u otro según el servicio que se ofrezca.</P>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul">
    <li>Los campos relacionados deben estar agrupados dentro de una etiqueta <code>&lt;fieldset&gt;</code>. Es obligatorio que tenga un elemento  <code>&lt;legend&gt;</code> que describa el bloque (<q>Datos de identidad</q>). Es muy recomendable que el <code>&lt;legend&gt;</code> esté visible pero, excepcionalmente, podría ocultarse con el estilo <code>.sr-only</code></li>
    <li>El campo <q>Nombre y apellidos</q> debe tener el parámetro <code>autocomplete= "name"</code>.</li>
    <li>El campo <q>NIF o NIE</q> debe tener información acerca del formato requerido.</li>
    <li>Consulta la información sobre accesibilidad en <a href="componente-formularios.html#accesibilidad" class="c-link">formularios</a> y en el componente <a href="componente-input-text.html#accesibilidad" class="c-link">entrada de texto</a>.</li>
  </ul>

{% endblock %}