{% set patron = [
  "Ayudar a navegar y encontrar",
  "avanzar-retroceder",
  "Avanzar y retroceder",
  "Navegar entre un formulario con varios pasos."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}


{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}
  <h2 class="font-semibold">Casos de uso</h2>
  <ul class="c-ul c-ul--no-bullets text-sm mt-base">
    <li><a href="#vertical" class="c-link">Siguiente paso y volver</a></li>
    <li><a href="#horizontal-con-misma-altura" class="c-link">Siguiente paso y saltar</a></li>
  </ul>


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Siguiente paso y volver"
  }) }}
  {{ DSSubsectionTitle({
    title: "Junto a la cabecera"
  }) }}
  <p class="c-paragraph-base">En la parte superior de la página, junto a un encabezado en los <a href="patronwa-titulo-encabezados" class="c-link">patrones de títulos y encabezados</a>.</p>
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-siguiente-paso-y-volver.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-siguiente-paso-y-volver.njk") }}

  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Bajo el formulario"
  }) }}
  <p class="c-paragraph-base">Seguido de los inputs de un formulario. Es la opción más habitual.</p>
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-siguiente-paso-y-volver-2.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-siguiente-paso-y-volver-2.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Siguiente paso y saltar"
  }) }}
  <p class="c-paragraph-base">Cuando un paso del formulario no es obligatorio, debemos ofrecer a la persona poder saltarlo y cumplimentarlo más tarde.</p>
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-siguiente-paso-y-saltar.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-siguiente-paso-y-saltar.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li><a href="componente-botones.html" class="c-link">Botón</a></code>
      <ul class="c-ul mt-base">
        <li>El botón primario es el que permite avanzar y se encuentra a la derecha. El botón volver es un botón por defecto a la izquierda. El botón de saltar es transparente y se coloca a la derecha.</li>
      </ul>
    </li>
  </ul>


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul mt-base">
    <li>Las acciones deben estar dentro de un elemento <code>&lt;section&gt;</code> y tener un encabezado con <code>.sr-only</code> que las describa.</li>
    <li>El grupo se maqueta como una lista <code>&lt;ul&gt;</code></li>
    <li>En caso de que el siguiente paso suponga el envío de un formulario, todo este patrón deberá estar contenido en una etiqueta <code>&lt;form&gt;</code></li>
  </ul>

{% endblock %}