{% set title = "Acceso. AppName. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block pageSpinnerBlock %}
{% endblock %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <!-- page.notification-header-mfe -->
  <section id="notification-header-mfe-container" aria-labelledby="notification-header-mfe-heading" class="hidden sticky z-10 top-0 w-full" aria-hidden="true">{# .hidden and aria-hidden must dissapear when a notification appears #}
    <p id="notification-header-mfe-heading" class="sr-only">Avisos de identificación</p>
    {% include "includes/error-navegador.njk" %}
    {% include "includes/error-identificacion.njk" %}
  </section>
  <!-- /page.notification-header-mfe -->
  <div>
    {{ componentRadios({
      "idPrefix": "identificacion",
      "name": "identificacion",
      "fieldset": {
        "legend": {
          "html": '<h2>¿Cómo quieres acceder a la aplicación?</h2>',
          "classes": "c-h2"
        }
      },
      "hint": {
        "text": "Por favor, selecciona una opción para poder acceder a la aplicación.",
        "classes": "sr-only"
      },
      "items": [
        {
          "value": "clave",
          "html": 'Con <span aria-label="Clave">Cl@ve</span>',
          "hint": {
            "html": 'Esta es la opción recomendada tanto si tienes <span aria-label="Clave">Cl@ve</span> permanente, <span aria-label="Clave">Cl@ve</span> PIN, DNIe o certificado electrónico.'
          },
          "checked": true
        },
        {
          "value": "certificado",
          "text": "Con certificado electrónico",
          "hint": {
            "html": 'Puedes usar esta opción si el acceso con <span aria-label="Clave">Cl@ve</span> no está disponible.'
          }
        }
      ]
    })  }}
  </div>
  <div class="ml-xs">
    {{ componentButton({
      "text": "Acceder",
      "classes": "c-button--primary"
    })  }}
  </div>
  <hr class="border-t border-neutral-base my-xl">
  {% include "includes/_pattern.faqs.njk" %}
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda de identificación</a>
  </p>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}