{% set patron = [
  "Ayudar a resolver",
  "soporte",
  "Soporte",
  "Formas de contactar con el Gobierno de Aragón."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {% call componentExample()  %}
    {% include "includes/_pattern.soporte.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.soporte.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>Al final de una <a href="patrones-pagina-otras.html#manual-con-preguntas-frecuentes" class="c-link">página de preguntas frecuentes</a></li>
    <li>En manuales de ayuda</li>
    <li>En una página enlazable a través del pie de página</li>
    <li>En un card o aviso en el lateral de un entorno que pueda resultar complejo o problemático</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
    <ul class="c-ul mt-base">
    <li>Se maqueta con una lista sin orden <code>&lt;ul&gt;</code></a></li>
    <li>Los iconos llevan el atributo<code>role="presentation"</code></li>
    <li>Los enlaces a teléfonos tienen el atributo <code>href="tel:[Número de teléfono]"</code></li>
    <li>Los teléfonos tienen que separarse en grupos de tres cifras</li>
    <li>Evita las abreviaturas</li>
  </ul>

{% endblock %}