{% set title = "Patrones de página. DESY. Sistema de diseño del Gobierno de Aragón. Librerías, documentación y ejemplos" %}
{% set activePage = "page-patrones" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-4 gap-lg">
    <div class="lg:col-span-3">
      <h1 class="lg:c-h0 c-h1">Patrones</h1>
      <p class="mb-xl lg:c-paragraph-lg c-paragraph-base">Llamamos patrón a un grupo de elementos de la interfaz de usuario que resuelven situaciones comunes a la hora de pedir o mostrar información. Estos trozos de código y configuraciones de <a href="componentes.html" class="c-link">componentes</a> y <a href="plantillas.html" class="c-link">plantillas</a> te ayudarán a construir y maquetar tu proyecto.</p>
    </div>
  </div>

  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--navigation-bar",
    "items": [
      {
        "href": "patrones.html",
        "html": '<span class="flex flex-wrap items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 mr-sm" aria-hidden="true" role="img" focusable="false"><path fill="currentColor" d="m4.84035 1.50223 0 7.83984 -1.92366 -2.0181c-0.1315 -0.13796 -0.27891 -0.26709 -0.46158 -0.32147 -0.4019 -0.11966 -0.84583 -0.02632 -1.16768 0.26288 -0.469834 0.42218 -0.541423 1.13248 -0.16528 1.63992l2.49588 4.5737c0.17526 0.3212 0.51193 0.521 0.8778 0.521h7.31167c0.5173 0 0.9493 -0.3946 0.9959 -0.9099l0.3035 -3.35546c0.1528 -1.69016 -1.2058 -3.13396 -2.9021 -3.08402l-2.35998 0.06947 -0.00001 -5.21786C7.84482 0.672572 7.17224 0 6.34258 0S4.84035 0.672573 4.84035 1.50223Z" stroke-width="1"></path></svg>Componentes</span>'
      },
      {
        "href": "patrones-paginas.html",
        "html": '<span class="flex flex-wrap items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="1em" height="1em" class="w-4 h-4 mr-sm" aria-hidden="true" role="img" focusable="false"><g transform="matrix(0.9,0,0,0.9,0.7000007629400002,0.7247699999999995)"><path fill="currentColor" fill-rule="evenodd" d="M2.00002 9.00001V2.5H12V9.00001H2.00002ZM1.45681 0.5C0.652245 0.5 1.52588e-05 1.15223 1.52588e-05 1.95679V9.54321C1.52588e-05 10.3478 0.652245 11 1.45681 11H5.48307L4.94788 12.4954H4C3.58579 12.4954 3.25 12.8312 3.25 13.2454C3.25 13.6596 3.58579 13.9954 4 13.9954H10C10.4142 13.9954 10.75 13.6596 10.75 13.2454C10.75 12.8312 10.4142 12.4954 10 12.4954H9.05215L8.51695 11H12.5432C13.3478 11 14 10.3478 14 9.54321V1.95679C14 1.15223 13.3478 0.5 12.5432 0.5H1.45681Z" clip-rule="evenodd"></path></g></svg>Páginas y flujos</span>',
        "active": true
      }
    ],
    "attributes": {
      "aria-label": "Menu horizontal"
    }
  }) }}
  <div class="mb-xl"></div>

  <div class="grid lg:grid-cols-4 gap-lg">
    <div>
      {% call componentCard({
          "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
          "super": {
            "backgroundFullColor": "transparent",
            "backgroundFullUrl": "images/pp-mfe.svg",
            "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
          }
        })  %}
        <div>
          <h2 id="titulo-card-1" class="c-h3"><a href="patrones-pagina-acceso.html" class="c-link c-link--full">Acceso por MFE</a></h2>
          <p class="c-paragraph-sm">Los pasos que debe seguir la persona usuaria para identificarse.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/pp-formulario.svg",
              "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-2" class="c-h3"><a href="patrones-pagina-formulario.html" class="c-link c-link--full">Formulario por pasos</a></h2>
            <p class="c-paragraph-sm">Secuencia de formularios para solicitar información adicional tras el acceso.</p>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/pp-app.svg",
              "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="pp-app" class="c-h3"><a href="patrones-pagina-aplicaciones.html" class="c-link c-link--full">Páginas de aplicaciones</a></h2>
            <p class="c-paragraph-sm">Páginas de navegación o para realizar acciones dentro de una aplicación web.</p>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/pp-portal.svg",
              "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="pp-portal" class="c-h3"><a href="patrones-pagina-portales.html" class="c-link c-link--full">Páginas de portales</a></h2>
            <p class="c-paragraph-sm">Páginas de contenido, información o navegación dentro de un portal web.</p>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/pp-otras.svg",
              "classes": "h-32 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-4" class="c-h3"><a href="patrones-pagina-otras.html" class="c-link c-link--full">Otras páginas</a></h2>
            <p class="c-paragraph-sm">Obligatorias por accesibilidad, FAQs, perfil, etc.</p>
          </div>
      {% endcall %}
    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}