{% set patron = [
  "Ayudar a navegar y encontrar",
  "volver-atras",
  "Volver atrás",
  "Regresar a la página anterior."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-boton-volver.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-boton-volver.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Ubicación"
  }) }}
  <ul class="c-ul">
    <li>En la esquina superior izquierda, bajo la cabecera, con márgenes verticales de 16px.</li>
    <li>En móviles puede sustituir el menú lateral o las migas de pan, aunque debes seguir incluyendo este tipo de navegación (en forma de selector o menú oculto) para evitar perder funcionalidades.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul">
    <li><a href="patrones-pagina-otras.html#perfil-personal" class="c-link">Perfil personal</a></li>
    <li><a href="patrones-pagina-portales.html#resultados-de-la-bsqueda" class="c-link">Resultados de búsqueda</a></li>
    <li><a href="patrones-pagina-portales.html#pgina-no-encontrada-error-404" class="c-link">Página no encontrada. Error 404</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul">
    <li><a href="componente-botones.html" class="c-link">Botón</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul">
    <li>Debe ser consistente en todas las páginas, tanto el literal como la acción que realiza.</li>
    <li>No puede haber otro enlace con el mismo literal en la página que realice una acción diferente.</li>
  </ul>


{% endblock %}