{% set title = "Cargando. Espera por favor… Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}

{% block pageSpinnerBlock %}
{% endblock %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {% include "includes/_pattern.notificacion-identificado.njk" %}
  <p class="hidden lg:inline-block align-middle ml-base mr-lg">
    {{ componentSpinner({
      "classes": "text-2xl",
      "attributes": {
        "aria-hidden": true
      }
    })  }}
  </p>
  <h2 class="c-h2 lg:inline-block mb-sm">Cargando. Por favor, espera unos segundos...</h2>
  <p class="c-paragraph-base lg:ml-12 mb-xl">
    Si tarda demasiado, espera unos minutos y <a href="#" class="c-link">vuelve a intentarlo</a> desde el inicio.
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}