{% set title = "Selecciona organismo. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/select/_macro.select.njk" import componentSelect %}


{% block pageSpinnerBlock %}
{% endblock %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {% include "includes/_pattern.notificacion-identificado.njk" %}
  {% set orgArray = [
      "DEPARTAMENTO DE HACIENDA Y ADMINISTRACIÓN PÚBLICA",
      "SECRETARIA GENERAL TÉCNICA DEL DEPARTAMENTO DE EDUCACIÓN, CULTURA Y DEPORTE",
      "SECRETARÍA GENERAL TÉCNICA DEL DEPARTAMENTO DE AGRICULTURA, GANADERÍA Y MEDIO AMBIENTE"]
  %}
  <div class="m-xs pb-xs">
    {{ componentSelect({
      "id": "select-org",
      "name": "select-org",
      "label": {
        "html": '<h2>Selecciona un organismo</h2>',
        "classes": "c-h2"
      },
      "errorMessage": {
        "text": "No tienes permisos para ese organismo"
      },
      "items": [
        {
          "value": "ORG03531",
          "text": orgArray[0] | title
        },
        {
          "value": "ORG11197",
          "text": orgArray[1] | title,
          "selected": true
        },
        {
          "value": "ORG17186",
          "text": orgArray[2] | title
        }
      ],
      "classes": "max-w-full",
      "attributes": {
        "aria-required": true
      }
    })  }}
    <ul>
      <li class="inline-block">
        {{ componentButton({
          "text": "Continuar",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li class="inline-block">
        {{ componentButton({
          "text": "Acceder con otro usuario",
          "classes": "c-button--transparent"
        })  }}
      </li>
    </ul>
  </div>
{% endblock %}


{% block notificationFooterBlock %}
{% endblock %}




