{% set patron = [
  "Páginas y flujos",
  "formulario",
  "Formulario por pasos",
  "Secuencia de formularios para solicitar información adicional tras el acceso."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  <div class="pb-xl"></div>
  {% set item1 %}
    <a class="c-link" href="patrones-pagina-formulario.html#paso-1-nombre-y-nif">Nombre y NIF</a>
  {% endset %}
  {% set item2 %}
    <a class="c-link" href="patrones-pagina-formulario.html#paso-2-correo-electrnico-y-telfono">Correo electrónico y teléfono</a>
  {% endset %}
  {% set item3 %}
    <a class="c-link" href="patrones-pagina-formulario.html#paso-3-direccin-postal">Dirección postal</a>
  {% endset %}
  
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  {{ componentAccordionHistory({
    "idPrefix": "accordion-example-pointer-events-none",
    "headingLevel": 3,
    "items": [
      {
        "headerText": "Paso 1",
        "html": item1 | safe,
        "disabled": true,
        "open": true
      },
      {
        "headerText": "Paso 2",
        "html": item2 | safe,
        "disabled": true,
        "open": true
      },
      {
        "headerText": "Paso 3",
        "html": item3 | safe,
        "disabled": true,
        "open": true
      }
    ]
  }) }}

  <div class="pb-2xl"></div>

  {{ DSSectionTitle({
    title: "Paso 1: Nombre y NIF"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-formularios-1.svg" alt="Vista previa de escritorio y móvil de la página del paso 1" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-paso-1-nombre-nif.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=4564-6634&viewport=-1948%2C-126%2C0.33&t=39zLgc1XZkpPGSfh-1&scaling=scale-down-width&starting-point-node-id=4564%3A6634&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>


  {{ DSSectionTitle({
    title: "Paso 2: Correo electrónico y teléfono"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-formularios-2.svg" alt="Vista previa de escritorio y móvil de la página del paso 2" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-paso-2-correo-telefono.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1916-9994&viewport=-1948%2C-126%2C0.33&t=39zLgc1XZkpPGSfh-1&scaling=scale-down-width&starting-point-node-id=1916%3A9994&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Paso 3: Dirección postal"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-formularios-3.svg" alt="Vista previa de escritorio y móvil de la página del paso 3" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-paso-3-direccion-postal.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1916-10715&viewport=-1948%2C-126%2C0.33&t=39zLgc1XZkpPGSfh-1&scaling=scale-down-width&starting-point-node-id=1916%3A10715&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
 
  <div class="pb-xl"></div>
{% endblock %}