{% set patron = [
  "Cómo pedimos información",
  "domicilio-postal",
  "Domicilio postal",
  "Calle, provincia y municipio."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {% call componentExample()  %}
    {% include "includes/_pattern.formularios-direccion-postal.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.formularios-direccion-postal.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul">
    <li>Tercer paso o bloque de un <a href="patrones-pagina-formulario.html#paso-3-direccin-postal" class="c-link">formulario de registro</a>.</li>
    <li>En el formulario de datos del <a href="patrones-pagina-otras.html#perfil-personal" class="c-link">perfil personal</a>.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <p class="c-paragraph-base">Nos basamos en una reticula de 4 columnas en escritorio y un espaciado de <code>16 px</code> para posicionar dos tipos de inputs: </p>
  <ul class="c-ul">
    <li><a href="componente-input-text.html" class="c-link">Entrada de texto</a></li>
    <li><a href="componente-selector.html" class="c-link">Selector</a></li>
  </ul>
  <p>En móviles los campos se apilan manteniendo las anchuras proporcionales a la longitud de los datos que se solicitan. Consulta el código para saber las clases y parámetros que utilizamos para la construcción de este patrón.</p>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul">
    <li>Los campos relacionados deben estar agrupados dentro de una etiqueta <code>&lt;fieldset&gt;</code>. Es obligatorio que tenga un elemento  <code>&lt;legend&gt;</code> que describa el bloque (<q>Domicilio postal</q>). Es muy recomendable que el <code>&lt;legend&gt;</code> esté visible pero, excepcionalmente, podría ocultarse con el estilo <code>.sr-only</code></li>
    <li>El campo <q>Vía</q> debe tener el parámetro <code>autocomplete= "address-line1"</code>.</li>
    <li>El campo <q>Indicaciones adicionales</q> debe tener el parámetro <code>autocomplete= "address-line2"</code>.</li>
    <li>El campo <q>Código Postal</q> debe tener el parámetro <code>autocomplete= "postal-code"</code>.</li>
    <li>El selector <q>Municipio</q> se activa cuando se ha seleccionado una provincia.</li>
    <li>Consulta la información sobre accesibilidad en <a href="componente-formularios.html#accesibilidad" class="c-link">formularios</a> y en los componentes <a href="componente-input-text.html#accesibilidad" class="c-link">entrada de texto</a> y <a href="componente-selector.html#accesibilidad" class="c-link">selector</a>.</li>

  </ul>


{% endblock %}