{% set patron = [
  "Ayudar a navegar y encontrar",
  "megamenu",
  "Megamenú en portales",
  "Bloque desplegable que permite mostrar un listado o contenido personalizado."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {% call componentExample()  %}
    {% include "includes/_pattern.megamenu.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.megamenu.njk") }}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>En el menú de navegación de la <a href="componente-cabeceras-codigo.html" class="c-link">cabecera avanzada</a>, cuando la arquitectura de contenido del sitio es muy compleja.</li>
  </ul>


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li><a href="componente-toggle.html" class="c-link">Interruptor</a></li>
    <li><a href="componente-cabeceras-codigo.html" class="c-link">Cabecera avanzada</a></li>
  </ul>

  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué debes tener en cuenta"
  }) }}
  <ul class="c-ul mt-base">
    <li>Utiliza el parámetro <code>customNavigationHtml</code> de la cabecera avanzada para colocar un interruptor que muestre y oculte el megamenú.</li>
    <li>Utiliza el parámetro <code>sub.customNavigationHtml</code> de la cabecera avanzada para colocar el listado de enlaces del megamenú.</li>
    <li>El desplegable empuja al contenido, no lo superpone.</li>
    <li>En anchuras pequeñas las columnas se apilan. Intenta no usar más de 4.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul mt-base">
    <li>Al accionar el botón, el foco salta al botón <q>X</q>.</li>
    <li>El megamenú se puede ocultar pulsando el botón <q>X</q> o volviendo a pulsar el botón <q>Menú</q>. En cualquier caso, el foco debe volver al botón <q>Menú</q>.</li>
    <li>El botón <q>Menú</q> y el botón <q>X</q> necesitan los atributos <code>aria-expanded</code> y <code>aria-controls</code>.</li>
  </ul>


{% endblock %}