{% set title = "Patrones. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-patrones" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}


{% block sidebarBlock %}
  <div class="hidden lg:block">
    {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
  </div>
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="lg:c-h0 c-h1">Patrones</h1>
  <p class="mb-xl lg:c-paragraph-lg c-paragraph-base">Llamamos patrón a un grupo de elementos de la interfaz de usuario que resuelven situaciones comunes a la hora de pedir o mostrar información. Estos trozos de código y configuraciones de <a href="componentes.html" class="c-link">componentes</a> y <a href="plantillas.html" class="c-link">plantillas</a> te ayudarán a construir y maquetar tu proyecto.</p>

  <div class="mb-xl"></div>

  <div class="grid lg:grid-cols-3 grid-cols-2 content-stretch lg:gap-lg gap-base">
    <div class="lg:col-span-3 col-span-2 mt-lg -mb-base">
      {{ DSSectionTitle({
        title: "Cómo pedimos información"
      }) }}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-aceptar-politicas.html" class="c-link c-link--full">Aceptar políticas de privacidad</a></h3>
          <p class="c-paragraph-sm">Verificación antes de enviar el formulario</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-configurar-cookies.html" class="c-link c-link--full">Configurar cookies</a></h3>
          <p class="c-paragraph-sm">Política de cookies y preferencias</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-datos-identidad.html" class="c-link c-link--full">Datos de identidad</a></h3>
          <p class="c-paragraph-sm">Nombre y NIF o NIE</p>
        </div>
      {% endcall %}
    </div>
   <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-datos-contacto.html" class="c-link c-link--full">Datos de contacto</a></h3>
          <p class="c-paragraph-sm">Correo electrónico y móvil</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-domicilio-postal.html" class="c-link c-link--full">Domicilio postal</a></h3>
          <p class="c-paragraph-sm">Calle, provincia y municipio</p>
        </div>
      {% endcall %}
    </div>
    
    

    <div class="lg:col-span-3 col-span-2 mt-lg -mb-base">
      {{ DSSectionTitle({
        title: "Cómo mostramos información"
      }) }}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-acciones-tabla.html" class="c-link c-link--full">Acciones de tabla</a></h3>
          <p class="c-paragraph-sm">Detalles y acciones en bloque</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-grupo-acciones.html" class="c-link c-link--full">Grupo de acciones</a></h3>
          <p class="c-paragraph-sm">Listado de acciones que puedes realizar sobre la página</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-listados.html" class="c-link c-link--full">Listados</a></h3>
          <p class="c-paragraph-sm">Colecciones de items con enlaces</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-title.html" class="c-link c-link--full">Title de página</a></h3>
          <p class="c-paragraph-sm">El texto de la pestaña del navegador</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-titulos-encabezados.html" class="c-link c-link--full">Títulos y encabezados</a></h3>
          <p class="c-paragraph-sm">Encabezados de primer nivel al principio de la página</p>
        </div>
      {% endcall %}
    </div>
    
    



    <div class="lg:col-span-3 col-span-2 mt-lg -mb-base">
      {{ DSSectionTitle({
        title: "Ayudar a navegar y encontrar"
      }) }}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-avanzar-retroceder.html" class="c-link c-link--full">Avanzar y retroceder</a></h3>
          <p class="c-paragraph-sm">Navegar entre un formulario con varios pasoss</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-barra-progreso.html" class="c-link c-link--full">Barra de progreso</a></h3>
          <p class="c-paragraph-sm">Divide el formlario en pasos más pequeños</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-buscar.html" class="c-link c-link--full">Buscar</a></h3>
          <p class="c-paragraph-sm">En aplicaciones web o portales</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-filtrar.html" class="c-link c-link--full">Filtrar</a></h3>
          <p class="c-paragraph-sm">Mostrar opciones de ordenación</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-megamenu.html" class="c-link c-link--full">Megamenú en portales</a></h3>
          <p class="c-paragraph-sm">Bloque de navegación desplegable</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-volver-atras.html" class="c-link c-link--full">Volver atrás</a></h3>
          <p class="c-paragraph-sm">Regresar a la página anterior</p>
        </div>
      {% endcall %}
    </div>
    
    
    

    <div class="lg:col-span-3 col-span-2 mt-lg -mb-base">
      {{ DSSectionTitle({
        title: "Ayudar a resolver"
      }) }}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-asistencia-contextual.html" class="c-link c-link--full">Asistencia contextual</a></h3>
          <p class="c-paragraph-sm">Dónde y cómo incluimos una ayuda contextual</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-soporte.html" class="c-link c-link--full">Soporte</a></h3>
          <p class="c-paragraph-sm">Formas de contactar con el Gobierno de Aragón</p>
        </div>
      {% endcall %}
    </div>


    <div class="lg:col-span-3 col-span-2 mt-lg -mb-base">
      {{ DSSectionTitle({
        title: "Páginas y flujos"
      }) }}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-pagina-acceso.html" class="c-link c-link--full">Acceso por MFE</a></h3>
          <p class="c-paragraph-sm">Los pasos que debe seguir una persona para identificarse</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-pagina-formulario.html" class="c-link c-link--full">Formulario por pasos</a></h3>
          <p class="c-paragraph-sm">Secuencia de formularios para solicitar información adicional tras el acceso</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-pagina-aplicaciones.html" class="c-link c-link--full">Páginas de aplicaciones</a></h3>
          <p class="c-paragraph-sm">Permiten navegar o realizar acciones en una aplicación web.</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-pagina-portales.html" class="c-link c-link--full">Páginas de portales</a></h3>
          <p class="c-paragraph-sm">Páginas de contenido, información o para navegar dentro de un portal web</p>
        </div>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <div>
          <h3 class="c-h3"><a href="patrones-pagina-otras.html" class="c-link c-link--full">Otras páginas</a></h3>
          <p class="c-paragraph-sm">FAQs, perfil, contenidos...</p>
        </div>
      {% endcall %}
    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}