{% set patron = [
  "Cómo mostramos información",
  "title",
  "Title de página",
  "El texto que aparece en la pestaña del navegador"
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}


  {{ showCodeFromFile("includes/_pattern.ejemplo-title.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Uso"
  }) }}
  <p>En el <a href="https://bitbucket.org/sdaragon/desy-html/src/master/src/templates/pages/_page.head.njk" class="c-link" title="Se abre en pestaña nueva" target="_blank">include head de la plantilla {% include "includes/_external-link-icon.njk" %}</a> se encuentra una variable que podemos definir con un <code>&#123;% set title = "title" %&#125;</code>.</p>


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul mt-base">
    <li>El literal debe ser distinto para cada una de las páginas de tu web.</li>
    <li>Tiene que estar formado por el título de la página y el nombre del sitio web. Utiliza la estructura <q><code>[Título de la página]. [Nombre del sitio web]</code></q>.</li>
    
  </ul>

{% endblock %}