{% set patron = [
  "Cómo mostramos información",
  "listados",
  "Listados",
  "Colecciones de items con enlaces"
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  <h2 class="font-semibold">Casos de uso</h2>
  <ul class="c-ul c-ul--no-bullets text-sm mt-base">
    <li><a href="#vertical" class="c-link">Vertical</a></li>
    <li><a href="#horizontal-con-misma-altura" class="c-link">Horizontal con misma altura</a></li>
    <li><a href="#horizontal-con-botn-en-el-pie" class="c-link">Horizontal con botón en el pie</a></li>
    <li><a href="#carrusel" class="c-link">Carrusel</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Vertical"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.cards-a-secciones-principales.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.cards-a-secciones-principales.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-card.html" class="c-link">Cards</a> en el <a href="patrones-pagina-aplicaciones.html#cards-que-enlazan-a-secciones" class="c-link">inicio de una aplicación</a></li>
  </ul>


  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
    title: "Horizontal con misma altura"
  }) }}
  <p class="c-paragraph-base">Retícula de cards que muestran todos la misma altura que corresponde al card más alto.</p>
  {% call componentExample()  %}
    {% include "includes/_pattern.cards-misma-altura.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.cards-misma-altura.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-card.html" class="c-link">Cards</a> en listados de items para la <a href="patrones-pagina-portales.html#seccin-de-portal" class="c-link">sección de un portal</a>
      <ul class="c-ul mt-base">
        <li>Utilizamos un grid de cuatro columnas en escritorio y dos en anchuras pequeñas</li>
        <li>Utilizamos la clase <code>.content-stretch</code> para que los items tengan la misma altura que item más alto.</li>
      </ul>
    </li>
  </ul>


  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
    title: "Horizontal con botón en el pie"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.cards-misma-altura-y-boton-abajo.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.cards-misma-altura-y-boton-abajo.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-card.html" class="c-link">Cards</a> en listados de items para el <a href="patrones-pagina-portales.html#home-de-portal" class="c-link">incio de un portal</a>
      <ul class="c-ul mt-base">
        <li>Utilizamos un grid de tres columnas en escritorio y dos en anchuras pequeñas</li>
        <li>Utilizamos la clase <code>.content-stretch</code> en el listado y <code>.justify-between</code> en los contenedores para que los items tengan el botón a la  misma altura.</li>
      </ul>
    </li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Accesibilidad</h3>
  <ul class="c-ul mt-base">
    <li>Cada botón tiene que tener un atributo <code>aria-labelledby</code> que apunte al <code>id</code> de sí mismo y al <code>id</code> del título.</li>
  </ul>


  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
  title: "Carrusel"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.listados-carrusel.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.listados-carrusel.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-tabs.html" class="c-link">Pestañas</a> en el incio de un portal, incluido en el hero o bajo la cabecera. Sirve para visualizar noticias o eventos.
      <ul class="c-ul mt-base">
        <li>Usa la clase <code>.tabs--reset</code> para controlar el posicionamiento y aplicar clases personalizadas.</li>
      </ul>
    </li>
    <li><a href="componente-botones.html" class="c-link">Botones</a> de avance y retroceso</li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Accesibilidad</h3>
  <ul class="c-ul mt-base">
    <li>Incluido en un <code>&lt;section&gt;</code>. Tiene un <code>aria-roledescription</code> que indica la función de este bloque y un <code>aria-label</code> que describe el listado.</li>
    <li>Los botones tienen etiquetas <code>.sr-only</code> que desriben la acción.</li>
    <li>Los botones "Anterior" y "Siguiente" envian el foco al título del evento que corresponda. Alternativamente puedes añadir el atributo <code>aria-live='polite'</code> al panel para anunciar a lectores de pantalla que el evento mostrado ha cambiado.</li>
    <li>No utilices animaciones automáticas.</li>
    <li>Basado en el <a href="https://www.w3.org/WAI/ARIA/apg/patterns/carousel/#examples" class="c-link">patrón Carousel de W3C{% include "includes/_external-link-icon.njk" %}</a></li>
  </ul>



{% endblock %}