{% set patron = [
  "Cómo mostramos información",
  "titulos-encabezados",
  "Títulos y encabezados",
  "Encabezados de primer nivel al principio de la página."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}
  <h2 class="font-semibold">Casos de uso</h2>
  <ul class="c-ul c-ul--no-bullets text-sm mt-base">
    <li><a href="#encabezados-con-subttulo" class="c-link">Encabezados con subtítulo</a></li>
    <li><a href="#encabezados-para-edicin-de-contenido" class="c-link">Encabezados para edición de contenido</a></li>
    <li><a href="#otras-acciones-sobre-la-pgina" class="c-link">Otras acciones sobre la página</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Encabezados con subtítulo"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.titulo-con-pasos-y-boton-de-volver-atras.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.titulo-con-pasos-y-boton-de-volver-atras.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Cuando lo utilizamos</h3>
  <ul class="c-ul mt-base">
    <li>Al inicio de <a href="patrones-pagina-formulario.html" class="c-link">formularios por pasos</a>. El subtítulo muestra el paso en el que se encuentra la persona.</li>
    <li>En páginas de contenido dentro de una sección. El subtítulo muestra la sección a la que pertenece.</li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li>Patrón de <a href="patrones-volver-atras.html" class="c-link">volver atrás</a></li>
    <li>Patrón de <a href="patrones-grupo-acciones.html" class="c-link">grupo de acciones</a></li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué debes tener en cuenta</h3>
  <ul class="c-ul mt-base">
    <li>Para respetar la jerarquía de encabezados de la página, en el código colocamos el encabezado <code>&lt;h1&gt;</code> primero y después un párrafo con el subtítulo. Después les cambiamos la posición visualmente mediante la clase <code>.flex-col-reverse</code>.</li>
    <li>En anchuras pequeñas apilamos el título y las acciones.</li>
  </ul>


  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
    title: "Encabezados para edición de contenido"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.cabecera-editar.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.cabecera-editar.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Cuando lo utilizamos</h3>
  <ul class="c-ul mt-base">
    <li>En <a href="plantillas-edicion.html" class="c-link">plantillas para edición de contenido</a>. Sustituye al header del sitio web para impedir la navegación hasta que el usuario guarde o descarte los cambios.</li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-cabeceras-skiplink-codigo.html" class="c-link">Skip-link</a></li>
    <li>Patrón de <a href="patrones-grupo-acciones.html" class="c-link">grupo de acciones</a></li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué debes tener en cuenta</h3>
  <ul class="c-ul mt-base">
    <li>Este patrón ya se encuentra preconfigurado en las plantillas correspondientes.</li>
    <li>Tanto subtítulo como subtítulo se encuentran dentro del encabezado <code>&lt;h1&gt;</code>.</li>
    <li>En anchuras pequeñas apilamos el título y las acciones.</li>
  </ul>


  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
    title: "Otras acciones sobre la página"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.titulo-acciones-buscador-de-pagina.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.titulo-acciones-buscador-de-pagina.njk") }}
  <div class="pb-xl"></div>
  <h3 class="c-h3">Cuando lo utilizamos</h3>
  <ul class="c-ul mt-base">
    <li>En <a href="patrones-pagina-aplicaciones.html#items-filtrables" class="c-link">aplicaciones con items</a> para realizar acciones en lote</li>
    <li>En <a href="patrones-pagina-aplicaciones.html#items-filtrables" class="c-link">aplicaciones con tablas avanzadas</a> para realizar acciones en lote</li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li>Patrón de <a href="patrones-buscar.html" class="c-link">buscar</a></li>
    <li>Patrón de <a href="patrones-grupo-acciones.html" class="c-link">grupo de acciones</a></li>
  </ul>
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué debes tener en cuenta</h3>
  <ul class="c-ul mt-base">
    <li>En anchuras pequeñas apilamos el título, la barra de búsqueda y el grupo de acciones, en ese orden.</li>
  </ul>
  



{% endblock %}