{% set patron = [
  "Páginas y flujos",
  "acceso",
  "Acceso por MFE",
  "Los pasos que debe seguir la persona usuaria para identificarse."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion-history/_macro.accordion-history.njk" import componentAccordionHistory %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  <div class="pb-xl"></div>
  {% set item1 %}
    <ul>
      <li class="mb-sm"><a class="c-link" href="patrones-pagina-acceso.html#clave-o-certificado">Clave o certificado</a></li>
      <li class="mb-sm"><a class="c-link" href="patrones-pagina-acceso.html#slo-clave">Sólo <span aria-label="Clave">Cl@ve</span></a></li>
      <li class="mb-sm"><a class="c-link" href="patrones-pagina-acceso.html#clave-o-contrasea">Clave o contraseña</a></li>
    </ul>
  {% endset %}
  {% set item2 %}
  <ul>
    <li class="mb-sm"><a class="c-link" href="patrones-pagina-acceso.html#spinner-de-carga">Spinner de carga</a></li>
  </ul>
  {% endset %}
  {% set item3 %}
  <ul>
    <li class="mb-sm"><a class="c-link" href="patrones-pagina-acceso.html#spinner-de-carga">Selección de organismo</a></li>
  </ul>
  {% endset %}
  
  <h2 class="sr-only">Índice de apartados de esta página</h2>
  {{ componentAccordionHistory({
    "idPrefix": "accordion-example-pointer-events-none",
    "headingLevel": 2,
    "items": [
      {
        "headerHtml": "<span class=\"block pointer-events-none\">Paso 1: Elegir el método de identificación</span><span class=\"block pointer-events-none font-normal\">Clave o certificado, solo clave, clave y registro.</span>",
        "html": item1 | safe,
        "disabled": true,
        "open": true
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none\">Paso 2: Esperar</span><span class=\"block pointer-events-none font-normal\">Esperar hasta que la aplicación acceda al perfil.</span>",
        "html": item2 | safe,
        "disabled": true,
        "open": true
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none\">Paso 3: Seleccionar organismo</span><span class=\"block pointer-events-none font-normal\">En caso de tener varios disponibles</span>",
        "html": item3 | safe,
        "disabled": true,
        "open": true
      }
    ]
  }) }}

  <div class="pb-2xl"></div>

  {{ DSSectionTitle({
    title: "Paso 1: Elegir el método de identificación"
  }) }}
  {{ DSSubsectionTitle({
    title: "Clave o certificado"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-mfe-1-1.svg" alt="Vista previa de escritorio y móvil de la página de Clave o certificado">
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-acceso-como-mfe.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1886-3786&viewport=2241%2C-204%2C0.52&t=iVu5udkiBRt4zqqm-1&scaling=scale-down-width&starting-point-node-id=1886%3A3786&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>


  {{ DSSubsectionTitle({
    title: "Sólo Clave"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-mfe-1-2.svg" alt="Vista previa de escritorio y móvil de la página de sólo Clave" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-acceso-como-mfe-solo-clave.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1916-9266&viewport=1063%2C-37%2C0.28&t=kKjnlA9oiR5JkjmE-1&scaling=scale-down-width&starting-point-node-id=1916%3A9266&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSubsectionTitle({
    title: "Clave o contraseña"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-mfe-1-3.svg" alt="Vista previa de escritorio y móvil de la página Con Clave o contraseña" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-acceso-como-mfe-con-mas-opciones-y-registro.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1916-9667&viewport=1063%2C-37%2C0.28&t=CmXZJR7HbY3JGxyY-1&scaling=scale-down-width&starting-point-node-id=1916%3A9667&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Paso 2: Esperar"
  }) }}
  {{ DSSubsectionTitle({
    title: "Spinner de carga"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-mfe-2.svg" alt="Vista previa de escritorio y móvil de la página Spinner de carga" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-acceso-cargando.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1886-3814&viewport=1063%2C-37%2C0.28&t=CmXZJR7HbY3JGxyY-1&scaling=scale-down-width&starting-point-node-id=1886%3A3814&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  {{ DSSectionTitle({
    title: "Paso 3: Seleccionar organismo"
  }) }}
  {{ DSSubsectionTitle({
    title: "Selector de organismo"
  }) }}
  <div>
    <img class="border border-neutral-base rounded" src="images/pp-mfe-3.svg" alt="Vista previa de escritorio y móvil de la página Selección de organismo" >
  </div>
  <div class="pb-base"></div>
   <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "patron-pagina-acceso-seleccion-de-organismo.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver Figma<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://www.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=1886%3A2513&type=design&node-id=1916-10344&viewport=1063%2C-37%2C0.28&t=CmXZJR7HbY3JGxyY-1&scaling=scale-down-width&starting-point-node-id=1916%3A10344&mode=design",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>
{% endblock %}