{% set patron = [
  "Ayudar a navegar y encontrar",
  "buscar",
  "Buscar",
  "En aplicaciones web o portales."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}
  <h2 class="font-semibold">Casos de uso</h2>
  <ul class="c-ul c-ul--no-bullets text-sm mt-base">
    <li><a href="#en-aplicaciones-web" class="c-link">En aplicaciones web</a></li>
    <li><a href="#en-portales" class="c-link">En portales</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "En aplicaciones web"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-buscar-en-el-sitio.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-buscar-en-el-sitio.njk") }}

  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>Para buscar una sección en la <a href="patrones-pagina-aplicaciones.html#cards-que-enlazan-a-secciones" class="c-link">página de inicio de una aplicación</a></li>
    <li>Como <a href="patrones-filtrar.html" class="c-link">filtro</a> para encontrar un item dentro de un listado</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li><a href="componente-searchbar.html" class="c-link">Barra de búsqueda</a></li>
  </ul>


  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
    title: "En portales"
  }) }}
  <p class="c-paragraph-base">Es posible configurar tu propio <a href="https://programmablesearchengine.google.com/about/" target="_blank" title="Se abre en entana nueva" class="c-link">Programmable Search Engine de Google{% include "includes/_external-link-icon.njk" %}</a> como barra de búsqueda de tu sitio web.</p>
  {% call componentExample()  %}
    {% include "includes/_pattern.google-searchbar.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.google-searchbar.njk") }}

  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Ubicación"
  }) }}
  <ul class="c-ul mt-base">
    <li>Siempre accesible desde la cabecera avanzada. En anchuras pequeñas se encuentra en el menú lateral desplegable</li>
    <li>En la <a href="patrones-pagina-portales.html#home-de-portal" class="c-link">página de inicio de un portal</a></li>
    <li>En la <a href="patrones-pagina-portales.html#resultados-de-la-bsqueda" class="c-link" >página de resultados de la búsqueda</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Cómo funciona"
  }) }}
  <ul class="c-ul mt-base">
    <li>Utiliza la herramienta <a href="https://programmablesearchengine.google.com/about/" target="_blank" title="Se abre en entana nueva" class="c-link">Programmable Search Engine de Google{% include "includes/_external-link-icon.njk" %}</a> para configurar la barra de búsqueda de tu portal. Tienes control sobre algunos filtros, etiquetas y apariencia. También necesitarás configurar una página donde se muestran los resultados de la búsqueda.</li>
    <li>Coloca el código que genera la herramienta como en el ejemplo del patrón.</li>
    <li>Utiliza una hoja de estilos CSS para personalizar la apariencia del componente y la página de resultados. Puedes basarte en los <a href="https://bitbucket.org/sdaragon/desy.aragon.es/src/master/src/css/search.css" class="c-link" target="_blank" title="Se abre en entana nueva">estilos desy para la barra de búsqueda de Google{% include "includes/_external-link-icon.njk" %}</a> utilizados en este portal.</li>
  </ul>


{% endblock %}