{% set title = "Tabla de contenidos. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block sidebarBlock %}
  <div class="pb-lg"></div>
  <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
  {{ componentMenuVertical({
    "idPrefix": "menu-lateral",
    "items": [
      {
        "href": "#seccion-a",
        "text": "Sección A",
        "id": "menu-seccion-a"
      },
      {
        "href": "#seccion-b",
        "text": "Sección B",
        "id": "menu-seccion-b",
        "sub": {
          "items": [
            {
              "href": "#seccion-b-a",
              "text": "Apartado a"
            },
            {
              "href": "#seccion-b-b",
              "text": "Apartado b"
            }
          ],
          "attributes": {
            "aria-labelledby": "menu-seccion-b"
          }
        }
      },
      {
        "href": "#seccion-c",
        "text": "Sección C",
        "id": "menu-seccion-c",
        "sub": {
          "items": [
            {
              "href": "#seccion-c-a",
              "text": "Apartado a"
            },
            {
              "href": "#seccion-c-b",
              "text": "Apartado b"
            },
            {
              "href": "#seccion-c-c",
              "text": "Apartado c"
            }
          ],
          "attributes": {
            "aria-labelledby": "menu-seccion-c"
          }
        }
      }
    ],
    "attributes": {
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endblock %}

{% block headerContentBlock %}
  <div class="pb-lg"></div>
  <h1 class="c-h1">Titulo de app</h1>
  <p class="c-paragraph-base mb-lg">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit.
  </p>
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  <h2 id="seccion-a" class="c-h2">Sección A</h2>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium dolorem aut veritatis libero cumque quo? Accusantium reprehenderit qui magnam quibusdam, provident earum, eligendi soluta adipisci temporibus iste veniam doloribus
  </p>
  <ul class="mb-xl">
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion A</a>
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion B</a>
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion C</a>
    </li>
  </ul>

  <div class="pb-lg"></div>

  <h2 id="seccion-b" class="c-h2">Sección B</h2>
  <h3 id="seccion-b-a" class="c-h3">Apartado a</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum nobis architecto facere commodi.
  </p>
  <ul class="mb-xl">
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion A</a>
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion B</a>
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion C</a>
    </li>
  </ul>
  <h3 id="seccion-b-b" class="c-h3">Apartado b</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum nobis architecto facere commodi.
  </p>
  <ul class="mb-xl">
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion A</a>
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion B</a>
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion C</a>
    </li>
  </ul>

  <div class="pb-lg"></div>

  <h2 id="seccion-c" class="c-h2">Sección C</h2>
  <h3 id="seccion-c-a" class="c-h3">Apartado a</h3>
  <ul class="mb-xl">
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion A</a>. Lorem, ipsum, dolor sit amet consectetur adipisicing elit.
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion B</a>. Quas voluptatum reiciendis, esse quis dignissimos dicta eveniet amet doloremque minus sit animi.
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion C</a>. Voluptatum reiciendis, esse quis dignissimos dicta.
    </li>
  </ul>
  <h3 id="seccion-c-b" class="c-h3">Apartado b</h3>
  <ul class="mb-xl">
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion A</a>. Lorem, ipsum, dolor sit amet consectetur adipisicing elit.
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion B</a>. Quas voluptatum reiciendis, esse quis dignissimos dicta eveniet amet doloremque minus sit animi.
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion C</a>. Voluptatum reiciendis, esse quis dignissimos dicta.
    </li>
  </ul>
  <h3 id="seccion-c-c" class="c-h3">Apartado c</h3>
  <ul>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion A</a>. Lorem, ipsum, dolor sit amet consectetur adipisicing elit.
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion B</a>. Quas voluptatum reiciendis, esse quis dignissimos dicta eveniet amet doloremque minus sit animi.
    </li>
    <li class="mb-base">
      <a class="c-link" href="#">Subseccion C</a>. Voluptatum reiciendis, esse quis dignissimos dicta.
    </li>
  </ul>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}
