{% set patron = [
  "Cómo pedimos información",
  "configurar-cookies",
  "Configurar cookies",
  "Una notificación que informa y permite gestionar el uso de cookies del sitio web."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}
  <h2 class="font-semibold">Casos de uso</h2>
  <ul class="c-ul c-ul--no-bullets text-sm mt-base">
    <li><a href="#si-tu-web-tiene-actividad-econmica-y-finalidad-lucrativa" class="c-link">Si tu web tiene actividad económica y finalidad lucrativa</a></li>
    <li><a href="#si-tu-web-no-tiene-actividad-econmica-y-finalidad-lucrativa" class="c-link">Si tu web no tiene actividad económica y finalidad lucrativa</a></li>
  </ul>
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Si tu web tiene actividad económica y finalidad lucrativa"
  }) }}
  <p>Debe llevar banner de cookies que te obligue a aceptarlas o rechazarlas.</p>

  {% call componentExample()  %}
    {% include "includes/_pattern.cookies.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.cookies.njk") }}

  <div class="pb-xl"></div>
  <h3 class="c-h3">Ubicación</h3>
  <ul class="c-ul mt-base">
    <li>En la parte inferior de la página. Utiliza el bloque <code>&#123;% block notificationFooterBlock %&#125;</code> habilitado en las <a href="plantillas.html" class="c-link">plantillas</a>.</li>
  </ul>
  
  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-notificaciones.html" class="c-link">Notificación</a></li>
    <li><a href="componente-modal-dialog-codigo.html" class="c-link">Modal</a></li>
    <li><a href="componente-botones.html" class="c-link">Botón</a></li>
    <li><a href="componente-toggle.html" class="c-link">Interruptor</a></li>
  </ul>

  <div class="pb-xl"></div>
  <h3 class="c-h3">Cómo funciona</h3>
  <ul class="c-ul mt-base">
    <li>Este bloque aparece superpuesto al contenido cuando se accede a la página. La persona debe realizar una acción antes de navegar por ella.</li>
    <li>El botón <q>Aceptar todas</q> cierra el bloque, mientras que el botón <q>Configurar preferencias</q> es un dialog que abre una modal.</li>
    <li>En la modal se permite activar o desactivar varias preferencias y guardar la configuración.</li>
  </ul>

  <div class="pb-xl"></div>
  <h3 class="c-h3">Accesibilidad</h3>
  <ul class="c-ul mt-base">
    <li>Cuando se abre la ventana de diálogo para configurar las cookies, el foco de teclado se posiciona en el título de la ventana. El foco de teclado permanece dentro de la ventana hasta que se cierra.</li>
    <li>Los interruptores para habilitar los diferentes tipos de cookies están etiquetados mediante el atributo <code>aria-labelledby</code>. Este atributo apunta al <code>id</code> del encabezado anterior, que describe el tipo de cookies que controla cada interruptor.</li>
  </ul>

  <div class="pb-2xl"></div>
  {{ DSSectionTitle({
    title: "Si tu web no tiene actividad económica y finalidad lucrativa"
  }) }}
  <p>Debes mostrar una notificación que avise al usuario.</p>
  {% call componentExample()  %}
    {% include "includes/_pattern.cookies-simple.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.cookies-simple.njk") }}

  <div class="pb-xl"></div>
  <h3 class="c-h3">Ubicación</h3>
  <ul class="c-ul mt-base">
    <li>En la parte inferior de la página. Utiliza el bloque <code>&#123;% block notificationFooterBlock %&#125;</code> habilitado en las <a href="plantillas.html" class="c-link">plantillas</a>.</li>
  </ul>

  <div class="pb-xl"></div>
  <h3 class="c-h3">Qué componentes utilizamos</h3>
  <ul class="c-ul mt-base">
    <li><a href="componente-notificaciones.html" class="c-link">Notificación</a></li>
  </ul>

  <div class="pb-xl"></div>
  <h3 class="c-h3">Cómo funciona</h3>
  <ul class="c-ul mt-base">
    <li>Este bloque aparece superpuesto al contenido cuando se accede a la página. La persona puede realizar acciones aunque no cierre el aviso.</li>
  </ul>



{% endblock %}