{% set title = "Datos personales (paso 1). Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}

{% block contentBlock %}
  <form action="patrones.html">
    <div class="my-base">
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
        "classes": "c-button--transparent",
        "href": "/"
      })  }}
    </div>
    <div class="flex flex-col-reverse">
      <h1 id="page-title-3" class="c-h1 w-full">Datos de identidad</h1>
      <p class="c-paragraph-base mb-0 text-neutral-dark">Paso 1 de 3</p>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
      <div class="col-span-2 lg:col-span-3">
        <p class="-mt-base c-paragraph-base lg:c-paragraph-lg">
          Necesitamos estos datos para enviarte avisos puntuales sobre tus trámites y notificaciones.
        </p>
        {% include "includes/_pattern.formularios-nombre-nif.njk" %}
        {% include "includes/_pattern.formularios-acepto-politica.njk" %}
        <section class="mt-base mb-base lg:mt-0 lg:mb-0" aria-labelledby="acciones-de-pagina-3">
          <h2 id="acciones-de-pagina-3" class="sr-only">Acciones de página</h2>
          <ul class="flex flex-wrap gap-sm">
            <li>
              {{ componentButton({
              "text": "Siguiente paso",
              "classes": "c-button--primary",
              "type": "submit"
              })  }}
            </li>
            <li>
              {{ componentButton({
              "text": "Cancelar",
              "classes": "c-button--transparent"
              })  }}
            </li>
          </ul>
        </section>
      </div>
      <div class="col-span-2 lg:col-span-1">
      </div>
    </div>

  </form>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}