{% set title = "Perfil de usuario/a. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}

{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver',
      "classes": "c-button--transparent",
      "href": "/"
    })  }}
  </div>
  <h1 class="c-h1">Tu perfil</h1>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
    <div class="col-span-2 lg:col-span-3">
      <form action="patrones.html">
        {% include "includes/_pattern.formularios-nombre-nif.njk" %}
        <h2 class="c-h2">Datos de contacto</h2>
        {% include "includes/_pattern.formularios-correo-telefono.njk" %}
        <h2 class="c-h2">Dirección postal</h2>
        {% include "includes/_pattern.formularios-direccion-postal.njk" %}
        <ul class="flex flex-col lg:flex-row gap-sm">
          <li>
            {{ componentButton({
              "text": "Guardar",
              "classes": "c-button--primary",
              "type": "submit"
            }) }}
          </li>
          <li>
            {{ componentButton({
              "text": "Cancelar",
              "classes": "c-button--transparent"
            }) }}
          </li>
        </ul>
      </form>
    </div>
    <div class="col-span-2 lg:col-span-1">
    </div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}