{% set title = "Accede con Clave. Nombre de la aplicación. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block pageSpinnerBlock %}
{% endblock %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  <h2 class="c-h2">Accede con <span aria-label="Clave">Cl@ve</span></h2>
  <p class="c-paragraph-base">
    Si tienes <span aria-label="Clave">Cl@ve</span> permanente, <span aria-label="Clave">Cl@ve</span> PIN, DNIe o certificado electrónico.
  </p>
  <div class="ml-xs">
    {{ componentButton({
      "html": 'Accede con&nbsp;<span aria-label="Clave">Cl@ve</span>',
      "classes": "c-button--primary"
    })  }}
  </div>
  <hr class="border-t border-neutral-base my-xl">
  {% include "includes/_pattern.faqs.njk" %}
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda de identificación</a>
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}