{% set patron = [
  "Cómo mostramos información",
  "acciones-tabla",
  "Acciones de tabla",
  "Otorga más información sobre la tabla para hacerla más accesible y permite realizar acciones en lote."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}


  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-tabla.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-tabla.njk") }}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>En <a href="patrones-pagina-aplicaciones.html#items-filtrables" class="c-link">aplicaciones con tablas avanzadas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li><a href="componente-detalles.html" class="c-link">Detalles</a></li>
    <li><a href="componente-checkboxes.html" class="c-link">Casilla de verificación</a></li>
    <li><a href="componente-menubar.html" class="c-link">Barra de menús</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul">
    <li>El objetivo de la descripción de la tabla es ayudar a todas las personas a comprender su estructura y su funcionamiento. La descripción es especialmente útil para las personas que no pueden ver la tabla y acceden con un lector de pantalla. Para redactar de forma adecuada la descripción ten en cuenta que:
      <ul class="c-ul mt-base">
        <li>Si la tabla no tiene un título incluido con la etiqueta <code>&lt;caption&gt;</code>, debes comenzar la descripción identificando la tabla (por ejemplo, indica que es el listado de trámites realizados).</li>
        <li>No debes hacer referencia a cuántas filas y columnas tiene la tabla, ya que el lector de pantalla anuncia por defecto esta información.</li>
        <li>La descripción no resume los datos, sino que ofrece información relevante sobre su estructura y funcionamiento, similar a la información que perciben las personas que pueden ver la tabla. De este modo, las personas usuarias de lector de pantalla pueden hacerse una imagen mental de la tabla e interactuar con ella de manera más rápida y eficiente.</li>
      </ul>
    </li>
    <li>Las acciones deben estar dentro de un elemento <code>&lt;section&gt;</code> y tener un encabezado con <code>.sr-only</code> que las describa.</li>
  </ul>


{% endblock %}