{% set patron = [
  "Ayudar a navegar y encontrar",
  "filtrar",
  "Filtrar",
  "Mostrar opciones de ordenación y búsqueda"
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  <div class="pb-base"></div>
  {{ DSSubsectionTitle({
    title: "Ordenación"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-mostrar-filtros-y-ordenacion.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-mostrar-filtros-y-ordenacion.njk") }}

  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Búsqueda"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-mostrar-filtros-y-busqueda.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-mostrar-filtros-y-busqueda.njk") }}

    <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Avanzados"
  }) }}
  <div class="p-base bg-neutral-light">
    <h4 class="c-h4">Recuerda</h2>
    <p>No puedes utilizar el NIF para buscar personas funcionarias. En cambio, sí puedes hacerlo en el caso de la ciudadanía</p>
  </div>
  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-mostrar-filtros-avanzados.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-mostrar-filtros-avanzados.njk") }}

  <div class="pb-2xl"></div>
  
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>Al principio de un largo <a href="patrones-pagina-aplicaciones.html#items-filtrables" class="c-link">listado de items</a></li>
    <li>Como filtros avanzados en <a href="componente-tabla.html#tabla-avanzada" class="c-link">tablas avanzadas</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li><a href="componente-toggle.html" class="c-link">Interruptor</a>, <a href="componente-menubar.html" class="c-link">barra de menús</a> y <a href="componente-searchbar.html" class="c-link">Barra de búsqueda</a></li>
    <li>En filtros avanzados: <a href="componente-detalles.html" class="c-link">detalles</a>, <a href="componente-input-text.html" class="c-link">entrada de texto</a>, <a href="componente-selector.html" class="c-link">selector</a> y <a href="componente-botones.html" class="c-link">botones</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul mt-base">
    <li>Los filtros deben estar contenidos en un campo <code>&lt;section&gt;</code> con <code>&lt;aria-label&gt;</code> o <code>&lt;aria-labelledby&gt;</code> que describa el grupo de elementos.</li>
    <li>Si los filtros realizan cambios en la página automáticamente necesitarás una <a href="componente-menubar.html" class="c-link">barra de menús</a> con la variable <code>ariaLabel</code>.</li>
    <li>Cuando necesitas aplicar varios filtros a través de un botón, éste debe llevar <code>type=submit</code> y estar contenidos en un elemento <code>&lt;form&gt;</code>. Además, los campos deben estar contenidos en un <code>&lt;fieldset&gt;</code> con su propio <code>&lt;legend&gt;</code></li>
  </ul>


{% endblock %}