{% set title = "Resultados de búsqueda. DESY. Sistema de diseño del Gobierno de Aragón." %}

{% extends "pages/_template.with-header-advanced.njk" %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}


{% block notificationHeaderBlock %}
{% endblock %}

{% block headerBlock %}
  {% include "includes/_pattern.google-searchbar.njk" %}
{% endblock %}

{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver al inicio",
      "classes": "c-button--transparent",
      "href": "/"
    }) }}
  </div>
  <h1 class="c-h1">Resultados de la búsqueda</h1>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
    <div class="col-span-2 lg:col-span-2">
      <script async src="https://cse.google.com/cse.js?cx=5513ad10548fa470b"></script>
      <div class="gcse-searchbox-only"></div>
    </div>
    <div class="colspan-2 lg:colspan-2">
      
    </div>
  </div>
  <div class="pb-lg"></div>
  <div class="-m-base mb-2xl">
    <script async src="https://cse.google.com/cse.js?cx=5513ad10548fa470b"></script>
    <div class="gcse-searchresults-only"></div>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}