{% set title = "Página no encontrada. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.with-header-advanced.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/footer/_macro.footer.njk" import componentFooter %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

{% block contentBlock %}
  <div class="my-base">
    {{ componentButton({
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center mr-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z\" fill=\"currentColor\"></path></svg>Volver al inicio",
      "classes": "c-button--transparent",
      "href": "/"
    }) }}
  </div>
  <div class="flex flex-col-reverse">
    <h1 id="page-title" class="c-h0 w-full mb-base">Página no encontrada</h1>
    <p class="font-semibold text-lg mb-0 text-neutral-dark">Error 404</p>
  </div>
  <div class="grid lg:grid-cols-4">
    <p class="c-paragraph-lg pt-lg col-span-2">Es posible que la página haya sido eliminada, trasladada a otra dirección, o se encuentre temporalmente fuera de servicio.</p>
  </div>
  <h2 class="c-h2 pt-xl">Buscar en el portal</h2>
  <p class="c-paragraph-base">Introduce una o varias palabras clave y encuentra resultados relacionados.</p>
  <div class="grid lg:grid-cols-4">
    <div class="col-span-2">
      <form action="#">
        {{ componentSearchbar({
          "id": "searchbar-home",
          "label": {
            "text": "Buscar"
          },
          "placeholder": "Introduce un término de búsqueda",
          "button": {
            "text": "Buscar",
            "type": "submit",
            "classes": "c-button--primary"
          },
          "classes": "flex-1"
        }) }}
      </form>
    </div>
  </div>


{% endblock %}