{% set title = "Página manual con preguntas frecuentes. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/item-list-service-history/_macro.item-list-service-history.njk" import componentItemListServiceHistory %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}

{% block contentBlock %}
  <div class="pb-xl"></div>
  <div class="prose">
    <h1>Manual de ayuda</h1>
    <p>Aqui encontrarás las respuestas a las preguntas más frecuentes relativas a la Identificación y a la Firma electrónica en las aplicaciones del Gobierno de Aragón.</p>
  </div>
  <hr class="border-t border-neutral-base my-xl">
  <!-- Start FAQ -->
  <div class="mb-xl">
    <h2 id="manual-identificacion" class="c-h2 group">Identificación</h2>
    {% include "includes/_pattern.faqs-listado.njk" %}
  </div>

  <div class="mb-xl">
    <h2 id="manual-firma-electronica" class="c-h2 group">Firma electrónica</h2>
    {% include "includes/_pattern.faqs-listado.njk" %}
  </div>
  <!-- end FAQ -->
  <hr class="border-t border-neutral-base my-xl">
  {% include "includes/_pattern.ponte-en-contacto.njk" %}
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}