{% set title = "Inicio. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-selector.njk" %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/button/_macro.button.njk" import componentButton %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  {% include "includes/_pattern.titulo-acciones-buscador-de-pagina.njk" %}
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg mt-base">
    <div class="col-span-2 lg:col-span-3">
      {% include "includes/_pattern.cards-a-secciones-principales.njk" %}
      <div class="pb-xl"></div>
      <h2 class="c-h2">Áreas temáticas</h2>
      {% include "includes/_pattern.cards-misma-altura.njk" %}
      <div class="pb-xl"></div>
      <h2 class="c-h2">Trámites seleccionados</h2>
      {% include "includes/_pattern.cards-misma-altura-y-boton-abajo.njk" %}
    </div>
    <div class="col-span-2 lg:col-span-1">
      <h2 class="c-h3">Otros Servicios</h2>
      <ul class="c-ul c-ul--no-bullets">
        <li>
          <a class="c-link" href="#">Mis datos</a>
        </li>
        <li>
          <a class="c-link" href="#">Consulta y verificación de documentos y expedientes con CSV</a>
        </li>
        <li>
          <a class="c-link" href="#">Historial de pagos</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}