{% set title = "Inicio. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.with-header-advanced.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/footer/_macro.footer.njk" import componentFooter %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/breadcrumbs/_macro.breadcrumbs.njk" import componentBreadcrumbs %}


{% block contentBlock %}
  <div class="pb-lg"></div>
  {{ componentBreadcrumbs({
    "items": [
      {
        "text": "Inicio",
        "href": "/section"
      },
      {
        "text": "Sección",
        "href": "/section/sub-section"
      }
    ]
  }) }}
  <div class="pb-lg"></div>

  <div class="grid lg:grid-cols-4 gap-base">
    <div class="col-span-3">
      <div class="grid gap-base lg:gap-xl">
        <div class="pb-xl">
          <h1 class="c-h1">Sección</h1>
          <p class="text-sm">Lorem ipsum dolor sit amet consectetur. Integer euismod varius morbi et libero. Sit nisl ullamcorper convallis aliquet arcu eu proin egestas. Lobortis odio a ac lectus lacus sed. Elementum maecenas vel pellentesque vitae arcu.</p>
        </div>
        <div>
          <h2 class="c-h3 lg:c-h2">Quiénes somos</h2>
          <p>Lorem ipsum dolor sit amet consectetur. Integer euismod varius morbi et libero. Sit nisl ullamcorper convallis aliquet arcu eu proin egestas. Lobortis odio a ac lectus lacus sed. Elementum maecenas vel pellentesque vitae arcu.</p>
        </div>
        <div>
          <h2 class="c-h3 lg:c-h2">Qué hacemos</h2>
          <p>Lorem ipsum dolor sit amet consectetur. Integer euismod varius morbi et libero. Sit nisl ullamcorper convallis aliquet arcu eu proin egestas. Lobortis odio a ac lectus lacus sed. Elementum maecenas vel pellentesque vitae arcu.</p>
        </div>
        <div>
          <h2 class="c-h3 lg:c-h2">A quién nos dirigimos</h2>
          <p>Lorem ipsum dolor sit amet consectetur. Integer euismod varius morbi et libero. Sit nisl ullamcorper convallis aliquet arcu eu proin egestas. Lobortis odio a ac lectus lacus sed. Elementum maecenas vel pellentesque vitae arcu.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-xl lg:pb-2xl"></div>

  <h2 class="c-h3 lg:c-h2">Actividad</h2>
  <ul class="grid lg:grid-cols-4 gap-base lg:gap-lg">
    <li>
      {% call componentCard({
      "containerClasses": "p-base border border-neutral-base rounded relative hover:bg-neutral-light"
      }) %}
        <h3 class="c-h3"><a href="#" class="c-link c-link--full">Título</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          Febrero de 2023
        </p>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
      "containerClasses": "p-base border border-neutral-base rounded relative hover:bg-neutral-light"
      }) %}
        <h3 class="c-h3"><a href="#" class="c-link c-link--full">Título</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          Febrero de 2023
        </p>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
      "containerClasses": "p-base border border-neutral-base rounded relative hover:bg-neutral-light"
      }) %}
        <h3 class="c-h3"><a href="#" class="c-link c-link--full">Título</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          Febrero de 2023
        </p>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
      "containerClasses": "p-base border border-neutral-base rounded relative hover:bg-neutral-light"
      }) %}
        <h3 class="c-h3"><a href="#" class="c-link c-link--full">Título</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          Febrero de 2023
        </p>
      {% endcall  %}
    </li>
  </ul>
  <div class="pb-base"></div>
  <div>
    {{ componentButton({
    "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
    "classes": "c-button--transparent",
    "href": "/"
    }) }}
  </div>
  <div class="pb-xl lg:pb-2xl"></div>



  <h2 class="c-h3 lg:c-h2">Eventos</h2>
  <ul class="grid lg:grid-cols-4 content-stretch gap-lg">
    <li>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base border border-neutral-base rounded relative hover:bg-neutral-light",
        "sub": {
          "html": verMasContent1 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <h3   class="c-h3"><a href="#" class="c-link c-link--full">Título item 1</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          09/01/2024
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><path fill="currentcolor" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm9 -3.9696a1 1 0 1 0 -2 0V8c0 0.5519999999999999 0.44800000000000006 1 1 1h3.2a1 1 0 0 0 0 -2H9V4.0304Z" clip-rule="evenodd" stroke-width="1"></path></svg>
          10:00h
        </p>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base border border-neutral-base rounded relative hover:bg-neutral-light",
        "sub": {
          "html": verMasContent1 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <h3   class="c-h3"><a href="#" class="c-link c-link--full">Título item 1</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          09/01/2024
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><path fill="currentcolor" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm9 -3.9696a1 1 0 1 0 -2 0V8c0 0.5519999999999999 0.44800000000000006 1 1 1h3.2a1 1 0 0 0 0 -2H9V4.0304Z" clip-rule="evenodd" stroke-width="1"></path></svg>
          10:00h
        </p>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base border border-neutral-base rounded relative hover:bg-neutral-light",
        "sub": {
          "html": verMasContent1 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <h3   class="c-h3"><a href="#" class="c-link c-link--full">Título item 1</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          09/01/2024
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><path fill="currentcolor" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm9 -3.9696a1 1 0 1 0 -2 0V8c0 0.5519999999999999 0.44800000000000006 1 1 1h3.2a1 1 0 0 0 0 -2H9V4.0304Z" clip-rule="evenodd" stroke-width="1"></path></svg>
          10:00h
        </p>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base border border-neutral-base rounded relative hover:bg-neutral-light",
        "sub": {
          "html": verMasContent1 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <h3   class="c-h3"><a href="#" class="c-link c-link--full">Título item 1</a></h3>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
          09/01/2024
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-xs"><path fill="currentcolor" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm9 -3.9696a1 1 0 1 0 -2 0V8c0 0.5519999999999999 0.44800000000000006 1 1 1h3.2a1 1 0 0 0 0 -2H9V4.0304Z" clip-rule="evenodd" stroke-width="1"></path></svg>
          10:00h
        </p>
      {% endcall  %}
    </li>
    
  </ul>
  <div class="pb-base"></div>
  <div>
    {{ componentButton({
    "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
    "classes": "c-button--transparent",
    "href": "/"
    }) }}
  </div>

  <div class="pb-xl lg:pb-2xl"></div>
  <h2 class="c-h3 lg:c-h2">Noticias</h2>
  <ul class="grid lg:grid-cols-4 gap-lg">
    <li>
      {% call componentCard({
      "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark relative hover:bg-neutral-light",
      "super": {
        "backgroundFullColor": "transparent",
        "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
        "classes": "h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
        "attributes": {
          "role": "img",
          "aria-label": "Alt de la imagen"
        }
      }
      }) %}
      <p class="c-paragraph-base flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-sm"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg> <strong>12 de febrero de 2023</strong></p>
      <a href="#" class="c-link c-link--full">
        <h3 class="c-h3">Título</h3>
      </a>
      <div class="prose max-w-none mb-base">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
      </div>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
      "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark relative hover:bg-neutral-light",
      "super": {
        "backgroundFullColor": "transparent",
        "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
        "classes": "h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
        "attributes": {
          "role": "img",
          "aria-label": "Alt de la imagen"
        }
      }
      }) %}
      <p class="c-paragraph-base flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-sm"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg> <strong>12 de febrero de 2023</strong></p>
      <a href="#" class="c-link c-link--full">
        <h3 class="c-h3">Título</h3>
      </a>
      <div class="prose max-w-none mb-base">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
      </div>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
      "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark relative hover:bg-neutral-light",
      "super": {
        "backgroundFullColor": "transparent",
        "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
        "classes": "h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
        "attributes": {
          "role": "img",
          "aria-label": "Alt de la imagen"
        }
      }
      }) %}
      <p class="c-paragraph-base flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-sm"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg> <strong>12 de febrero de 2023</strong></p>
      <a href="#" class="c-link c-link--full">
        <h3 class="c-h3">Título</h3>
      </a>
      <div class="prose max-w-none mb-base">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
      </div>
      {% endcall  %}
    </li>
    <li>
      {% call componentCard({
      "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark relative hover:bg-neutral-light",
      "super": {
        "backgroundFullColor": "transparent",
        "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
        "classes": "h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
        "attributes": {
          "role": "img",
          "aria-label": "Alt de la imagen"
        }
      }
      }) %}
      <p class="c-paragraph-base flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16" height="1em" width="1em" class="inline-block align-middle mr-sm"><g  ><path   fill="currentcolor" fill-rule="evenodd" d="M4 0.5714285714285714c0.6311771428571428 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h5.7142857142857135v-1.1428571428571428c0 -0.6311828571428572 0.5116685714285714 -1.1428571428571428 1.1428571428571428 -1.1428571428571428 0.6312 0 1.1428571428571428 0.5116742857142856 1.1428571428571428 1.1428571428571428v1.1428571428571428h0.5714285714285714c0.9467428571428571 0 1.7142857142857142 0.7675085714285714 1.7142857142857142 1.7142857142857142v1.5714285714285714H0.5714285714285714V4.571428571428571c0 -0.9467771428571428 0.7675085714285714 -1.7142857142857142 1.7142857142857142 -1.7142857142857142h0.5714285714285714v-1.1428571428571428c0 -0.6311828571428572 0.51168 -1.1428571428571428 1.1428571428571428 -1.1428571428571428ZM0.5714285714285714 13.714285714285714V7.571428571428571h14.857142857142856V13.714285714285714c0 0.9467428571428571 -0.7675428571428571 1.7142857142857142 -1.7142857142857142 1.7142857142857142H2.2857142857142856c-0.9467771428571428 0 -1.7142857142857142 -0.7675428571428571 -1.7142857142857142 -1.7142857142857142Z" clip-rule="evenodd" stroke-width="1"></path></g></svg> <strong>12 de febrero de 2023</strong></p>
      <a href="#" class="c-link c-link--full">
        <h3 class="c-h3">Título</h3>
      </a>
      <div class="prose max-w-none mb-base">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
      </div>
      {% endcall  %}
    </li>
  </ul>
  <div class="pb-base"></div>
  <div>
    {{ componentButton({
    "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
    "classes": "c-button--transparent",
    "href": "/"
    }) }}
  </div>

  <div class="pb-base"></div>
  
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block footerBlock %}
  {{ componentFooter({
    "meta": {
      "visuallyHiddenTitle": "Enlaces a pie de página",
      "items": [
        {
          "href": "#",
          "text": "Seguridad y privacidad"
        },
        {
          "href": "#",
          "text": "Protección de datos"
        },
        {
          "href": "pagina-accesibilidad.html",
          "text": "Accesibilidad"
        },
        {
          "href": "pagina-mapa-web.html",
          "text": "Mapa web"
        }
      ]
    },
    "navigation": [
      {
        "title": "Accesos directos",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Pedir cita previa"
          },
          {
            "href": "#2",
            "text": "Buscar centro sanitario"
          },
          {
            "href": "#3",
            "text": "Atención urgente: dónde ir"
          },
          {
            "href": "#4",
            "text": "Buscar una farmacia abierta"
          },
          {
            "href": "#5",
            "text": "Cómo obtener PIN Salud"
          }
        ]
      },
      {
        "title": "Ciudadanía",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Accede a Tu área personal"
          },
          {
            "href": "#2",
            "text": "Descarga la App Salud Informa"
          },
          {
            "href": "#3",
            "text": "Próximas formaciones"
          }
        ]
      },
      {
        "title": "Comunidad",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Asociaciones de salud"
          },
          {
            "href": "#2",
            "text": "Activos comunitarios"
          }
        ]
      },
      {
        "title": "Más sobre salud",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Noticias"
          },
          {
            "href": "#2",
            "text": "Salud en aragon.es"
          },
          {
            "href": "#3",
            "text": "Una sección más"
          },
          {
            "href": "#4",
            "text": "Otra sección más"
          }
        ]
      }
    ],
    "classes": "lg:mt-48"
  }) }}
{% endblock %}