{% set patron = [
  "Cómo mostramos información",
  "grupo-acciones",
  "Grupo de acciones",
  "Listado de acciones que puedes realizar sobre la página"
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  


  {% call componentExample()  %}
    {% include "includes/_pattern.acciones-de-pagina-primaria-secundaria-y-terciarias.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.acciones-de-pagina-primaria-secundaria-y-terciarias.njk") }}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>Para construir el patrón de <a href="patrones-titulos-encabezados.html#otras-acciones-sobre-la-pgina" class="c-link">encabezado con acciones de página</a></li>
    <ul class="c-ul mt-base">
    <li>En <a href="patrones-pagina-aplicaciones.html#items-filtrables" class="c-link">aplicaciones con items</a> para realizar acciones en lote</li>
    <li>En <a href="patrones-pagina-aplicaciones.html#items-filtrables" class="c-link">aplicaciones con tablas avanzadas</a> para realizar acciones en lote</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li><a href="componente-botones.html" class="c-link">Botón</a></li>
    <li><a href="componente-dropdown.html" class="c-link">Desplegable</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul mt-base">
    <li>Las acciones deben estar dentro de un elemento <code>&lt;section&gt;</code> con un <code>aria-labelledby</code> que apunte al encabezado oculto que las describe.</li>
    <li>El grupo se maqueta como una lista sin orden <code>&lt;ul&gt;</code></li>
  </ul>

{% endblock %}