{% set patron = [
  "Ayudar a navegar y encontrar",
  "barra-progreso",
  "Barra de progreso",
  "Divide el formulario en pasos más pequeños y permite navegar entre ellos."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {{ DSSectionTitle({
    title: "Variantes"
  }) }}
  {{ DSSubsectionTitle({
    title: "Tamaño base"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.formularios-barra-progreso.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.formularios-barra-progreso.njk") }}
  <div class="pb-xl"></div>
  {{ DSSubsectionTitle({
    title: "Tamaño pequeño"
  }) }}
  {% call componentExample()  %}
    {% include "includes/_pattern.formularios-barra-progreso-sm.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.formularios-barra-progreso-sm.njk") }}


  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Cuándo lo utilizamos"
  }) }}
  <ul class="c-ul mt-base">
    <li>Cuando la persona tenga que realizar una serie de pasos para completar una tarea o formulario.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Ubicación"
  }) }}
  <ul class="c-ul mt-base">
    <li>En horizontal al principio de la página</li>
    <li>En vertical como menú de navegación lateral</li>
    <li>En vertical si no es posible encajarlo en anchuras pequeñas y no es posible apilarlo en varias líneas</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul mt-base">
    <li>Los elementos se encuentran maquetados como items de un listado <code>&lt;ol&gt;</code>, dentro de un elemento <code>&lt;nav&gt;</code> con un <code>aria-label</code> que lo describe.</li>
    <li>Indica el paso actual con el estilo de botón primario, una etiqueta con peso <code>.text-bold</code> y el atributo <code>aria-current="page"</code>.</li>
    <li>Indica los pasos posteriores con el estilo de botón por defecto desactivado y los atributos <code>aria-disabled="true"</code> y <code>tabindex="-1"</code>.</li>
    <li>Las líneas de unión son items del listado con los atributos <code>role="separator"</code> y <code>aria-hidden="true"</code>. Las líneas anteriores al paso actual tienen el color <code>.primary-base</code> y las posteriores <code>.neutral-light</code>.</li>
    <li>Estos items también pueden utilizarse como pestañas que muestran un panel. Para ello deberás construirlo siguiendo la lógica de <code>roles</code> y <code>aria</code> del componente <a href="componente-tabs.html" class="c-link">pestañas</a>.</li>
  </ul>

{% endblock %}