{% set patron = [
  "Cómo pedimos información",
  "aceptar-politicas",
  "Aceptar políticas de privacidad",
  "Es común tener que aceptar obligatoriamente algún tipo de politica antes de permitir enviar un formulario."
] %}

{% set title = "Patrones - " + patron[2] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}

{% set activePage = "page-patrones" %}
{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-patrones/_macro.pattern-page-content.njk" import patternContentHeader%}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/button-loader/_macro.button-loader.njk" import componentButtonLoader %}
{% from "_macro.show-code-from-file.njk" import showCodeFromFile %}




{% block sidebarBlock %}
  {% include "includes/docs-patrones/_menu-lateral-patrones.njk" %}
{% endblock %}

{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ patternContentHeader(patron[2], patron[3], patron[0]) }}

  {% call componentExample()  %}
    {% include "includes/_pattern.formularios-acepto-politica.njk" %}
  {% endcall %}
  {{ showCodeFromFile("includes/_pattern.formularios-acepto-politica.njk") }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Sobre la política de privacidad"
  }) }}
  {{ DSSubsectionTitle({
    title: "Qué es"
  }) }}
  <ul class="c-ul mt-base mb-lg">
    <li>Es un documento legal en el que el titular de la web debe informar sus clientes y usuarios sobre los datos personales que se recopilan al navegar en el sitio.</li>
    <li>Informar sobre qué datos recopilamos, cómo se almacenan y el tratamiento que tendrán.</li>
    <li>Medidas empleadas para garantizar la seguridad y privacidad de los datos.</li>
    <li>Debe cumplir el <a href="https://www.boe.es/buscar/doc.php?id=DOUE-L-2016-80807" class="c-link">RGPD</a> y la <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2018-16673" class="c-link">LOPDGDD</a>.</li>
    <li>Tendrás que enlazarla en el <a href="componente-footer.html" class="c-link">pie de página</a>.</li>
  </ul>
  {{ DSSubsectionTitle({
    title: "Cuándo es obligatorio"
  }) }}
  <p class="my-base">Si alojas datos como:</p>
  <ul class="c-ul">
    <li>Cookies de terceros (estadísticas, funcionales...)</li>
    <li>Suscripciones y boletines</li>
    <li>Blogs</li>
    <li>Formularios y datos personales (nombres, direcciones, teléfonos...)</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Dónde lo utilizamos"
  }) }}
  <ul class="c-ul">
    <li>Antes de enviar un <a href="patrones-pagina-formulario.html" class="c-link">formulario de registro</a>.</li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Qué componentes utilizamos"
  }) }}
  <ul class="c-ul">
    <li><a href="componente-checkboxes.html" class="c-link">Casilla de verificación</a></li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Accesibilidad"
  }) }}
  <ul class="c-ul">
    <li>Si necesitas aceptar varias políticas de privacidad, puedes incluir más items dentro del mismo <code>fieldset</code></li>
    <li>Los enlaces a la información sobre privacidad deben abarcar sólo palabras significativas. Si el enlace se abre en ventana nueva asegúrate de indicarlo en el <code>title</code> y usar el icono de enlace externo.</li>
  </ul>


{% endblock %}