{% set title = "Accesibilidad. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.logged-out.njk" %}

{% block contentBlock %}
  <div class="pb-lg"></div>
    <div class="mb-lg">
      <p class="text-lg mb-0">
        Plantilla en desy-html: src/templates/pages/_template.logged-out.njk
      </p>
      <p class="text-lg mt-0">
        <a href="https://bitbucket.org/sdaragon/desy-html/src/master/docs/pagina-accesibilidad.html" class="c-link" target="_blank" title="Se abre en ventana nueva">Ver código Nunjucks de esta página<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path d="M23.25,0h-8a.74.74,0,0,0-.69.47.74.74,0,0,0,.16.81L18,4.51l-9.45,9.3a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.7-.28l9.48-9.33,3.29,3.24a.74.74,0,0,0,.53.22.72.72,0,0,0,.29-.06A.74.74,0,0,0,24,8.62V.75A.76.76,0,0,0,23.25,0Z" fill="currentColor"></path><path d="M18.5,10.62a1,1,0,0,0-1,1V22H2V6.5H12.37a1,1,0,0,0,0-2H1.87A1.87,1.87,0,0,0,0,6.37V22.12A1.88,1.88,0,0,0,1.87,24H17.62a1.88,1.88,0,0,0,1.88-1.88V11.62A1,1,0,0,0,18.5,10.62Z" fill="currentColor"></path></g></svg></a>
      </p>
    </div>
  <div class="prose">
    <h1>Declaración de accesibilidad</h1>
    <p class="text-lg">El Gobierno de Aragón se ha comprometido a hacer accesible el portal <span class="bg-info-light">[Nombre del portal]</span>, de conformidad con el <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699" target="_blank" title="Se abre en ventana nueva">Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios web y aplicaciones para dispositivos móviles del sector público<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path fill="currentcolor" fill-rule="evenodd" d="M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z" clip-rule="evenodd" stroke-width="1"></path></g></svg></a>.</p>
    <p class="text-lg">La presente declaración de accesibilidad se aplica al sitio web <a href="#" class="c-link bg-info-light">[enlace al sitio web]</a>.</p>

    <h2>Situación de cumplimiento</h2>
    <p>Este sitio web es <span class="bg-info-light"><strong>parcialmente conforme</strong></span> con el Real Decreto 1112/2018, de 7 de septiembre, debido a las excepciones y falta de conformidad de los aspectos que se indican a continuación.</p>

    <h2>Contenido no accesible</h2>
    <p>El contenido que se recoge a continuación no es accesible por lo siguiente:</p>
    <ol>
      <li>
        <h3>Falta de conformidad con el Real Decreto 1112/2018</h3>
        <ul>
          <li><span class="bg-info-light">[Descripción del requisito que se incumple y errores detectados]</span> (requisito número <span class="bg-info-light">[x.x.x.x]</span> <span class="bg-info-light">[Título del requisito]</span>, de UNE-EN 301549:2022)</li>
          <li><span class="bg-info-light">[Indicar si existen archivos ofimáticos en PDF, u otros formatos, publicados después del 20 de septiembre de 2018, que no cumplan en su totalidad todos los requisitos de accesibilidad.]</li>
        </ul>
      </li>
      <li>
        <h3>Carga desproporcionada</h3>
        <p><span class="bg-info-light">No aplica</span>.</p>
      </li>
      <li>
        <h3>El contenido no entra dentro del ámbito de la legislación aplicable</h3>
        <ul>
          <li><span class="bg-info-light">[Indicar si existen archivos ofimáticos en PDF, u otros formatos, publicados antes del 20 de septiembre de 2018, que no cumplan en su totalidad todos los requisitos de accesibilidad.]</span></li>
          <li><span class="bg-info-light">[Indicar si existen archivos multimedia (audios, vídeos) publicados antes del 20 de septiembre de 2018, que no cumplan en su totalidad todos los requisitos de accesibilidad.]</span></li>
          <li><span class="bg-info-light">[Indicar si existen contenidos de terceros no accesibles (documentos de terceros, contenidos que suban los ciudadanos, estadísticas publicadas por otros organismos que no se puedan personalizar…) que no están financiados ni desarrollados por el Gobierno de Aragón]</span></li>
          <li><span class="bg-info-light">[Indicar si hay mapas no accesibles pero su información se ha incluido de forma accesible en formato texto]</span></li>
        </ul>
      </li>
    </ol>

    <h2>Preparación de la presente declaración de accesibilidad</h2>
    <p>La presente declaración fue preparada el <span class="bg-info-light">[día/mes/año]</span>.</p>
    <p><span class="bg-info-light">[Indicar el método empleado para preparar la declaración]</span>.</p>
    <p>Última revisión de la declaración: <span class="bg-info-light">[día/mes/año]</span>.</p>

    <h2>Observaciones y datos de contacto</h2>
    <p>Puede realizar comunicaciones sobre requisitos de accesibilidad (artículo 10.2.a) del Real Decreto 1112/2018, de 7 de septiembre) como, por ejemplo:</p>
    <ul>
      <li>Informar sobre cualquier posible <strong>incumplimiento</strong> por parte de este sitio web.</li>
      <li>Transmitir otras <strong>dificultades de acceso</strong> al contenido.</li>
      <li>Formular cualquier otra <strong>consulta o sugerencia de mejora</strong> relativa a la accesibilidad del sitio web.</li>
      <li><strong>Solicitar</strong> algún documento o contenido que no cumpla los requisitos de accesibilidad en <strong>formato accesible</strong>.</li>

    </ul>

    <p>A través de las siguientes vías:</p>
    <ul>
      <li>Correo electrónico: <a href="mailto:#" class="c-link bg-info-light">[dirección de correo electrónico]</a>.</li>
      <li><a href="https://www.aragon.es/tramitador/-/tramite/tramitacion-quejas-sugerencias-funcionamiento-servicios-publicos-gestionados-diputacion-general-aragon">Trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón.</li>
      <li>Teléfono: <span class="bg-info-light">[número de teléfono]</span>.</li>
    </ul>

    <h2>Procedimiento de aplicación</h2>
    <p>Si una vez realizada una solicitud de información accesible o queja, ésta hubiera sido desestimada, no se estuviera de acuerdo con la decisión adoptada, o la respuesta no cumpliera los requisitos contemplados en el artículo 12.5 del Real Decreto 1112/2018, la persona interesada podrá iniciar una reclamación. Igualmente se podrá iniciar una reclamación en el caso de que haya trascurrido el plazo de veinte días hábiles sin haber obtenido respuesta.</p>
    <p>La reclamación puede ser presentada través del <a href="https://www.aragon.es/tramitador/-/tramite/tramitacion-quejas-sugerencias-funcionamiento-servicios-publicos-gestionados-diputacion-general-aragon" class="c-link">trámite de quejas y sugerencias</a> sobre el funcionamiento de los servicios públicos gestionados por la Diputación General de Aragón, así como en el resto de opciones recogidas en la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las Administraciones Públicas.</p>
    <p>Las reclamaciones serán recibidas y tratadas por el Servicio de Información y Documentación Administrativa.</p>

    <h2>Contenido opcional</h2>
    <p><span class="bg-info-light">[Explicación del compromiso del organismo del sector público con la accesibilidad digital]</span></p>
    <p>Este sitio web aplica los requisitos de la Norma UNE-EN 301549:2022 considerando las excepciones del RD 1112/2018.</p>
    <p>La última revisión de la accesibilidad se ha realizado en <span class="bg-info-light">[día/mes/año]</span>.</p>
    <p><span class="bg-info-light">[Indicar si se realizan revisiones de accesibilidad periódicas, auditorías o se cuenta con certificación oficial.]</span>.</p>
    <p><span class="bg-info-light">[Indicar si se han tomado medidas concretas que facilitan la accesibilidad u otras consideraciones: atajos de teclado, visualización responsive, compatibilidad con versiones de navegadores, alternativas de formatos de contenido, etc.]</span>.</p>
  </div>

{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}