{% set title = "Inicio. Título de app. Gobierno de Aragón" %}
{% extends "pages/_template.with-header-advanced.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/footer/_macro.footer.njk" import componentFooter %}
{% from "components/links-list/_macro.links-list.njk" import componentLinksList %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
    <div class="col-span-2 lg:col-span-3">
      <h1 class="c-h1 lg:c-h0">¿Qué necesitas?</h1>
      {% include "includes/_pattern.acciones-de-pagina-buscar-en-el-sitio.njk" %}
      <div class="pb-xl lg:pb-2xl"></div>
      <h2 class="c-h3 lg:c-h2">Lo más consultado</h2>
      {{ componentLinksList({
        "idPrefix": "with-classes-applied",
        "items": [
          {
            "href": "#",
            "text": "Item grande con icono",
            "classes": "flex justify-between items-center py-base text-lg lg:text-2xl",
            "icon": {
              "html": "<div class=\"flex items-center justify-center p-sm -ml-sm bg-neutral-lighter rounded-full text-3xl lg:text-4xl\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg></div>"
            }
          },
          {
            "href": "#",
            "text": "Item grande con icono",
            "classes": "flex justify-between items-center py-base text-lg lg:text-2xl",
            "icon": {
              "html": "<div class=\"flex items-center justify-center p-sm -ml-sm bg-neutral-lighter rounded-full text-3xl lg:text-4xl\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg></div>"
            }
          },
          {
            "href": "#",
            "text": "Item grande con icono",
            "classes": "flex justify-between items-center py-base text-lg lg:text-2xl",
            "icon": {
              "html": "<div class=\"flex items-center justify-center p-sm -ml-sm bg-neutral-lighter rounded-full text-3xl lg:text-4xl\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" height=\"1em\" width=\"1em\" class=\"inline-block align-middle\"><path d=\"M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z\" fill=\"currentColor\"></path></svg></div>"
            }
          }
        ],
        "attributes": {
          "aria-label": "Menu destacado"
        }
      }) }}
      <div class="pb-lg"></div>
      <p class="c-paragraph-base">
        <a href="#" class="c-link">Otras gestiones</a>
      </p>
    </div>
    <div class="col-span-2 lg:col-span-1">
      {% call componentCard({
        "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark",
        "sub": {
          "backgroundFullColor": "transparent",
          "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
          "classes": "h-52 -m-base mt-base bg-cover bg-center bg-no-repeat overflow-hidden",
          "attributes": {
            "role": "img",
            "aria-label": "Alt de la imagen"
          }
        }
      }) %}
      <h3 id="titulo-card-a" class="c-h3">Título card</h3>
          <div class="prose max-w-none mb-base">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>

          <!-- button -->
          <a href="#" draggable="false" class="c-button c-button--transparent"  id="boton-card-a" aria-labelledby="boton-card-a titulo-card-a">
            Más <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
          </a>
          <!-- /button -->
      {% endcall  %}
    </div>
  </div>
  <div class="pb-xl lg:pb-2xl"></div>
  {% call componentCard({
    "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark",
    "super": {
      "backgroundFullColor": "transparent",
      "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
      "classes": "lg:hidden h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
      "attributes": {
        "role": "img",
        "aria-label": "Alt de la imagen"
      }
    },
    "right": {
      "backgroundFullColor": "transparent",
      "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
      "classes": "hidden lg:block w-1/2 -m-base ml-base bg-cover bg-center bg-no-repeat overflow-hidden",
      "attributes": {
        "role": "img",
        "aria-label": "Alt de la imagen"
      }
    }
  }) %}
    <div class="py-lg">
      <h2 id="titulo-card-b" class="c-h1 lg:c-h0">Título card</h2>
      <div class="prose max-w-none my-lg">
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur iure pariatur vel eligendi praesentium in.</p>
      </div>
      <ul class="flex flex-wrap gap-sm">
        <li>
          {{ componentButton({
            "text": "Primario",
            "classes": "c-button--primary"
          }) }}
        </li>
        <li>
          {{ componentButton({
            "text": "Default"
          }) }}
        </li>
      </ul>
    </div>
  {% endcall  %}
  <div class="pb-xl lg:pb-2xl"></div>
  {% call componentCard({
    "containerClasses": "p-base bg-neutral-lighter border-t-8 border-neutral-dark",
    "super": {
      "backgroundFullColor": "transparent",
      "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
      "classes": "lg:hidden h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
      "attributes": {
        "role": "img",
        "aria-label": "Alt de la imagen"
      }
    },
    "right": {
      "backgroundFullColor": "transparent",
      "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
      "classes": "hidden lg:block w-1/2 -m-base ml-base bg-cover bg-center bg-no-repeat overflow-hidden",
      "attributes": {
        "role": "img",
        "aria-label": "Alt de la imagen"
      }
    }
  }) %}
    <div class="py-lg">
      <h2 id="titulo-card-c" class="c-h1 lg:c-h0">Título card</h2>
      <div class="prose max-w-none my-lg">
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur iure pariatur vel eligendi praesentium in.</p>
      </div>
      <ul class="c-ul c-ul--no-bullets">
        <li><a href="#" class="c-link">Item de lista.</a></li>
        <li><a href="#" class="c-link">Item de lista.</a></li>
        <li><a href="#" class="c-link">Item de lista.</a></li>
      </ul>
    </div>
  {% endcall  %}
  <div class="pb-xl lg:pb-2xl"></div>
  <h2 class="c-h1 lg:c-h0">Actualidad</h2>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
    <div class="col-span-2 lg:col-span-3">
      <ul class="space-y-lg">
        <li>
          {% call componentCard({
            "containerClasses": "p-lg bg-neutral-lighter",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
              "classes": "lg:hidden h-56 -m-lg mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
              "attributes": {
                "role": "img",
                "aria-label": "Alt de la imagen"
              }
            },
            "left": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
              "classes": "hidden lg:block w-72 -m-lg mr-lg bg-cover bg-center bg-no-repeat overflow-hidden",
              "attributes": {
                "role": "img",
                "aria-label": "Alt de la imagen"
              }
            }
          }) %}
          <p class="c-paragraph-sm mb-base">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle w-6 h-6 mr-xs"><g><path d="M7.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M7.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M7.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M21.5,3H18.75a.25.25,0,0,1-.25-.25V1a1,1,0,0,0-2,0V5.75a.75.75,0,0,1-1.5,0V3.5a.5.5,0,0,0-.5-.5H8.25A.25.25,0,0,1,8,2.75V1A1,1,0,0,0,6,1V5.75a.75.75,0,0,1-1.5,0V3.5A.5.5,0,0,0,4,3H2.5a2,2,0,0,0-2,2V22a2,2,0,0,0,2,2h19a2,2,0,0,0,2-2V5A2,2,0,0,0,21.5,3Zm0,18.5a.5.5,0,0,1-.5.5H3a.5.5,0,0,1-.5-.5V9.5A.5.5,0,0,1,3,9H21a.5.5,0,0,1,.5.5Z" fill="currentColor"></path></g></svg>
                <strong>18 octubre 2022</strong>
              </p>
              <h3 id="titulo-card-d" class="c-h3">Título de noticia</h3>
              <div class="prose max-w-none mb-base">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
              </div>

              {{ componentButton({
                "html": "Ver detalle<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
                "classes": "c-button--transparent",
                "href": "/"
              }) }}
          {% endcall  %}
        </li>
        <li>
          {% call componentCard({
            "containerClasses": "p-lg bg-neutral-lighter",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
              "classes": "lg:hidden h-56 -m-lg mb-base bg-cover bg-center bg-no-repeat overflow-hidden",
              "attributes": {
                "role": "img",
                "aria-label": "Alt de la imagen"
              }
            },
            "left": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen",
              "classes": "hidden lg:block w-72 -m-lg mr-lg bg-cover bg-center bg-no-repeat overflow-hidden",
              "attributes": {
                "role": "img",
                "aria-label": "Alt de la imagen"
              }
            }
          }) %}
          <p class="c-paragraph-sm mb-base">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle w-6 h-6 mr-xs"><g><path d="M7.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M7.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M7.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M21.5,3H18.75a.25.25,0,0,1-.25-.25V1a1,1,0,0,0-2,0V5.75a.75.75,0,0,1-1.5,0V3.5a.5.5,0,0,0-.5-.5H8.25A.25.25,0,0,1,8,2.75V1A1,1,0,0,0,6,1V5.75a.75.75,0,0,1-1.5,0V3.5A.5.5,0,0,0,4,3H2.5a2,2,0,0,0-2,2V22a2,2,0,0,0,2,2h19a2,2,0,0,0,2-2V5A2,2,0,0,0,21.5,3Zm0,18.5a.5.5,0,0,1-.5.5H3a.5.5,0,0,1-.5-.5V9.5A.5.5,0,0,1,3,9H21a.5.5,0,0,1,.5.5Z" fill="currentColor"></path></g></svg>
                <strong>18 octubre 2022</strong>
              </p>
              <h3 id="titulo-card-e" class="c-h3">Título de noticia</h3>
              <div class="prose max-w-none mb-base">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
              </div>

              {{ componentButton({
                "html": "Ver detalle<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
                "classes": "c-button--transparent",
                "href": "/"
              }) }}
          {% endcall  %}
        </li>
      </ul>
    </div>
    <div class="col-span-2 lg:col-span-1">
    </div>
  </div>
  <div class="pb-xl lg:pb-2xl"></div>
  <h2 class="c-h1 lg:c-h0">Cuida tu salud</h2>
  <ul class="grid grid-cols-1 lg:grid-cols-4 content-stretch gap-lg">
    <li>
      {% set verMasContent1 %}
        {{ componentButton({
          "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent",
          "href": "#",
          "attributes": {
            "aria-describedby": "titulo-card-boton-1"
          }
        }) }}
      {% endset %}
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base bg-neutral-lighter",
        "sub": {
          "html": verMasContent1 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
        <h3 id="titulo-card-boton-1" class="c-h3"><a href="#" class="c-link">Título item 1</a></h3>
        <div class="prose max-w-none mb-base">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      {% endcall  %}
    </li>
    <li>
      {% set verMasContent2 %}
        {{ componentButton({
          "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent",
          "href": "#",
          "attributes": {
            "aria-describedby": "titulo-card-boton-2"
          }
        }) }}
      {% endset %}
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base bg-neutral-lighter",
        "sub": {
          "html": verMasContent2 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
        <h3 id="titulo-card-boton-2" class="c-h3"><a href="#" class="c-link">Título item 2</a></h3>
        <div class="prose max-w-none mb-base">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi, animi consequuntur.</p>
        </div>
      {% endcall  %}
    </li>
    <li>
      {% set verMasContent3 %}
        {{ componentButton({
          "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent",
          "href": "#",
          "attributes": {
            "aria-describedby": "titulo-card-boton-3"
          }
        }) }}
      {% endset %}
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base bg-neutral-lighter",
        "sub": {
          "html": verMasContent3 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <div class="flex flex-col">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
          <h3 id="titulo-card-boton-3" class="c-h3"><a href="#" class="c-link">Título item 3</a></h3>
          <div class="prose max-w-none mb-base">
            <p>Et eligendi, animi consequuntur provident iure totam velit, qui laborum.</p>
          </div>
        </div>
      {% endcall  %}
    </li>
    <li>
      {% set verMasContent4 %}
        {{ componentButton({
          "html": "Ver más<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" class=\"self-center ml-2\" aria-hidden=\"true\" focusable=\"false\" width=\"1em\" height=\"1em\"><path d=\"M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z\" fill=\"currentColor\"></path></svg>",
          "classes": "c-button--transparent",
          "href": "#",
          "attributes": {
            "aria-describedby": "titulo-card-boton-4"
          }
        }) }}
      {% endset %}
      {% call componentCard({
        "classes": "h-full",
        "containerClasses": "flex flex-col justify-between h-full p-base bg-neutral-lighter",
        "sub": {
          "html": verMasContent4 | safe,
          "backgroundFullColor": "transparent",
          "classes": "block"
        }
      }) %}
        <div class="flex flex-col">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
          <h3 id="titulo-card-boton-4" class="c-h3"><a href="#" class="c-link">Título item 4</a></h3>
          <div class="prose max-w-none mb-base">
            <p>Et eligendi, animi consequuntur provident iure totam velit, qui laborum.</p>
          </div>
        </div>
      {% endcall  %}
    </li>
  </ul>
  <div class="pb-lg lg:pb-0"></div>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block footerBlock %}
  {{ componentFooter({
    "meta": {
      "visuallyHiddenTitle": "Enlaces a pie de página",
      "items": [
        {
          "href": "#",
          "text": "Seguridad y privacidad"
        },
        {
          "href": "#",
          "text": "Protección de datos"
        },
        {
          "href": "pagina-accesibilidad.html",
          "text": "Accesibilidad"
        },
        {
          "href": "pagina-mapa-web.html",
          "text": "Mapa web"
        }
      ]
    },
    "navigation": [
      {
        "title": "Accesos directos",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Pedir cita previa"
          },
          {
            "href": "#2",
            "text": "Buscar centro sanitario"
          },
          {
            "href": "#3",
            "text": "Atención urgente: dónde ir"
          },
          {
            "href": "#4",
            "text": "Buscar una farmacia abierta"
          },
          {
            "href": "#5",
            "text": "Cómo obtener PIN Salud"
          }
        ]
      },
      {
        "title": "Ciudadanía",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Accede a Tu área personal"
          },
          {
            "href": "#2",
            "text": "Descarga la App Salud Informa"
          },
          {
            "href": "#3",
            "text": "Próximas formaciones"
          }
        ]
      },
      {
        "title": "Comunidad",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Asociaciones de salud"
          },
          {
            "href": "#2",
            "text": "Activos comunitarios"
          }
        ]
      },
      {
        "title": "Más sobre salud",
        "columns": 1,
        "items": [
          {
            "href": "#1",
            "text": "Noticias"
          },
          {
            "href": "#2",
            "text": "Salud en aragon.es"
          },
          {
            "href": "#3",
            "text": "Una sección más"
          },
          {
            "href": "#4",
            "text": "Otra sección más"
          }
        ]
      }
    ],
    "classes": "lg:mt-48"
  }) }}
{% endblock %}