{% set title = "Plantillas web. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas-web" %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}

{% block sidebarBlock %}
  <div class="hidden lg:block">
    {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}
  </div>
{% endblock %}

{% block innerContentBlock %}
  <div class="pb-lg"></div>
  
  <div class="lg:w-3/4">
    <h1 class="lg:c-h0 c-h1">Plantillas para web</h1>
    <p class="mb-lg lg:c-paragraph-lg c-paragraph-base">Estructura de las páginas web más comunes de las aplicaciones y portales del Gobierno de Aragón.</p>

  </div>

  <div class="pb-xl"></div>
  <div class="grid lg:grid-cols-3 gap-lg mb-xl">
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <h2 class="c-h3"><a href="plantillas-sin-sesion-iniciada-p1.html" class="c-link c-link--full" >Sin sesión iniciada en aplicación</a></h2>
        <p class="c-paragraph-sm">Se utiliza en el landing de aplicaciones web, antes de identificarte y acceder con tu perfil.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <h2 class="c-h3"><a href="plantillas-con-sesion-iniciada.html" class="c-link c-link--full">Con sesión iniciada en aplicación</a></h2>
        <p class="c-paragraph-sm">Una vez que el usuario ha accedido a la aplicación web, la cabecera cambia y la navegación se facilita utilizando ciertos patrones.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <h2 class="c-h3"><a href="plantillas-edicion.html" class="c-link c-link--full">Edición de contenido</a></h2>
        <p class="c-paragraph-sm">Utilizamos las siguientes plantillas cuando la aplicación requiere una pantalla de edición de contenido a través de campos de texto o formularios.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <h2 class="c-h3"><a class="c-link c-link--full" href="plantillas-portal-p1.html">Portal web</a></h2>
        <p class="c-paragraph-sm">Los portales web deben tener una cabecera avanzada, navegación y patrones específicos.</p>
      {% endcall %}
    </div>
    <div>
      {% call componentCard({
          "classes": "h-full",
          "containerClasses": "h-full p-base bg-neutral-lighter relative hover:bg-neutral-light"
        })  %}
        <h2 class="c-h3"><a class="c-link c-link--full" href="plantillas-correo-p1.html">Correo electrónico</a></h2>
        <p class="c-paragraph-sm">Las comunicaciones por correo electrónico tienen un formato y estructura concretas que favorecen su legibilidad.</p>
      {% endcall %}
    </div>
    
  </div>
  <hr class="border-t border-neutral-base mb-sm">
  <div>
    <p class="c-paragraph-sm">Si echas en falta alguna plantilla, puedes usarlas como punto de partida para desarrollar la tuya propia, siempre que tengas en cuenta que debe cumplir accesibilidad y que se adapte a dispositivos con distintas anchuras.</p>
  </div>

{% endblock %}




{% block notificationFooterBlock %}
{% endblock %}