{% set plantilla = [
  "Edición de contenido",
  "Cabecera fija y menú lateral sticky",
  "Tanto la cabecera de edición como el menú lateral se mantienen visibles cuando haces scroll hacia abajo.",
  "edicion-sidebar"
] %}

{% set title = "Plantilla " + plantilla[1] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas" %}
{% set showHiddenItems = ["pageSpinnerBlock","pageSpinnerBlock-2","pageSpinnerBlock-3","pageSpinnerBlock-4",
"headerBlock","headerBlock-2","headerBlock-3","headerBlock-4",
"headerSkipLinkBlock","headerSkipLinkBlock-2","headerSkipLinkBlock-3","headerSkipLinkBlock-4",
"headerNavigationEditBlock","headerNavigationEditBlock-2","headerNavigationEditBlock-3","headerNavigationEditBlock-4",
"headerTitleEditBlock","headerTitleEditBlock-2","headerTitleEditBlock-3","headerTitleEditBlock-4",
"headerActionsEditBlock","headerActionsEditBlock-2","headerActionsEditBlock-3","headerActionsEditBlock-4",
"subheaderEditBlock","subheaderEditBlock-2","subheaderEditBlock-3","subheaderEditBlock-4",
"main-n8","main-2","main-3","main-4",
"notificationHeaderBlock-n9","notificationHeaderBlock-2","notificationHeaderBlock-3","notificationHeaderBlock-4",
"sidebarBlock-n10","sidebarBlock-2","sidebarBlock-3","sidebarBlock-4",
"sectionEdit","sectionEdit-2","sectionEdit-3","sectionEdit-4",
"notificationInnerContentBlockEdit","notificationInnerContentBlockEdit-2","notificationInnerContentBlockEdit-3","notificationInnerContentBlockEdit-4",
"innerContentBlockEdit","innerContentBlockEdit-2","innerContentBlockEdit-3","innerContentBlockEdit-4",
"footerBlock-n14","footerBlock-2","footerBlock-3","footerBlock-4",
"modalBlock-n15","modalBlock-2","modalBlock-3","modalBlock-4"] %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/card/_macro.card.njk" import componentCard %}


{% from "includes/docs-plantillas/_macro.layout-page-content.njk" import layoutContentHeader, layoutContentItem1, layoutContentItem2 %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}



{% block sidebarBlock %}
  {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ layoutContentHeader(plantilla[1], plantilla[0], plantilla[2]) }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Vista previa"
  }) }}
  <div class="grid lg:grid-cols-4 lg:grid-rows-1 grid-rows-3 lg:gap-base gap-xl">
    <div class="lg:col-span-3">
      <h3 class="c-h3">Versión de escritorio</h3>
      <iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma con plantilla en escritorio" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FVYfrETnupxCFCPAknaRViW%2FDESY%253A-El-Sistema-de-Dise%25C3%25B1o-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D1886%253A2513%26type%3Ddesign%26node-id%3D1916-8595%26viewport%3D963%252C1758%252C0.27%26t%3DPXoAkl7M0dmoxY75-1%26scaling%3Dscale-down-width%26starting-point-node-id%3D1916%253A8595%26mode%3Ddesign" allowfullscreen></iframe>
    </div>
    <div class="lg:row-span-1 row-span-2">
      <h3 class="c-h3">Versión móvil</h3>
      <iframe class="h-full w-full border border-neutral-base rounded" title="Prototipo en Figma con plantilla en móvil" src="https://embed.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=11138%3A8562&node-id=20666-15841&node-type=frame&viewport=-4842%2C2032%2C0.4&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=20666%3A15841&embed-host=share" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="lg:pb-base pb-xl"></div>

  <ul class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "plantilla-editar-con-cabecera-fija-y-sidebar-sticky.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver código Nunjucks<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://bitbucket.org/sdaragon/desy-html/src/master/src/templates/pages/_template.edit-fixed-with-sticky-sidebar.njk",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  <div>
  {% set item1 %}
    {% include "includes/docs-plantillas/_macro.info-bloques.njk"%} 
    <div class="grid lg:grid-cols-4 my-base gap-base">
      <div class="col-span-3">
        <div class="border border-neutral-base rounded">
          <img src="images/wf-block-editar-sidebar.svg" alt="Diagrama de bloques" class="mb-0">
        </div>
      </div>
    </div>
    <div>{% include "includes/docs-plantillas/_celdas-bloques.njk" %}</div>
  {% endset %}

  {% set item3 %}
    <ul class="my-base">
      <li><a href="patrones-componente-encabezados-de-pagina.html#titulo-con-acciones-de-pgina" class="c-link">Título con acciones de página</a></li>
    </ul>
  {% endset %}

  {% set item4 %}
    <ul class="my-base">
      <li><a href="componente-menu-vertical-codigo.html" class="c-link">Menú vertical</a></li>
    </ul>
  {% endset %}
 
  {{ componentAccordion({
    "idPrefix": "accordion-show-hide",
    "headingLevel": 2,
    "heading": {
      "text": "Anatomía"
    },
    "allowMultiple": true,
    "items": [
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Bloques</span>",
        "html": item1 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Patrones</span>",
        "html": item3 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Componentes principales</span>",
        "html": item4 | safe
      } 
    ]
  })  }}
</div>
{% endblock %}