{% set title = "Plantilla editar con sidebar. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed-with-sticky-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}

{% block sidebarBlock %}
  <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
  {{ componentMenuVertical({
    "idPrefix": "sidebar-item",
    "items": [
      {
        "href": "#datos-generales",
        "text": "Datos generales",
        "sub": {
          "items": [
            {
              "href": "#denominacion",
              "text": "Denominación"
            },
            {
              "href": "#descripcion",
              "text": "Descripción"
            },
            {
              "href": "#organos-o-unidades-gestoras",
              "text": "Órganos o unidades gestoras"
            },
            {
              "href": "#categorias",
              "text": "Categorías"
            },
            {
              "href": "#etiquetas-libres",
              "text": "Etiquetas libres"
            }
          ]
        }
      },
      {
        "text": "Normativa general",
        "href": "#normativa-general"
      },
      {
        "href": "#caracteristicas-generales-de-tramitacion",
        "text": "Características generales de tramitación",
        "sub": {
          "items": [
            {
              "href": "#grupos-de-destinatarios",
              "text": "Grupos de destinatarios"
            },
            {
              "href": "#destinatarios",
              "text": "Destinatarios"
            },
            {
              "href": "#requisitos-generales",
              "text": "Requisitos generales"
            },
            {
              "href": "#canales-de-informacion",
              "text": "Canales de información"
            },
            {
              "href": "#tramites-principales",
              "text": "Trámites principales"
            },
            {
              "href": "#resolucion",
              "text": "Resolución"
            }
          ]
        }
      }
    ],
    "attributes": {
      "aria-labelledby": "apartados-de-pagina"
    }
  })  }}
{% endblock %}

{% block innerContentBlock %}
  <h2 id="datos-generales" class="c-h1 c-anchor-scroll-edit">Datos generales (h2)</h2>
  <h3 id="denominacion" class="c-anchor-scroll-edit c-h3">Denominación (h3)</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  {% include "includes/_abrir-notificaciones-extra.njk" %}

  <p class="c-paragraph-base mb-0">
    Plantilla en desy-html: src/templates/pages/_template.edit-fixed-with-sticky-sidebar.njk
  </p>
  <p class="c-paragraph-base">
    <a href="https://bitbucket.org/sdaragon/desy-html/src/master/src/templates/pages/_template.edit-fixed-with-sticky-sidebar.njk" class="c-link" target="_blank" title="Se abre en ventana nueva">Ver código Nunjucks de esta plantilla<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="0.8em" width="0.8em" class="inline-block mx-xs no-underline align-baseline" aria-hidden="true" focusable="false" role="img"><g><path d="M23.25,0h-8a.74.74,0,0,0-.69.47.74.74,0,0,0,.16.81L18,4.51l-9.45,9.3a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.3,1,1,0,0,0,.7-.28l9.48-9.33,3.29,3.24a.74.74,0,0,0,.53.22.72.72,0,0,0,.29-.06A.74.74,0,0,0,24,8.62V.75A.76.76,0,0,0,23.25,0Z" fill="currentColor"></path><path d="M18.5,10.62a1,1,0,0,0-1,1V22H2V6.5H12.37a1,1,0,0,0,0-2H1.87A1.87,1.87,0,0,0,0,6.37V22.12A1.88,1.88,0,0,0,1.87,24H17.62a1.88,1.88,0,0,0,1.88-1.88V11.62A1,1,0,0,0,18.5,10.62Z" fill="currentColor"></path></g></svg></a>
  </p>
  <div class="pb-xl"></div>
  <h3 id="descripcion" class="c-anchor-scroll-edit c-h3">Descripción</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="organos-o-unidades-gestoras" class="c-anchor-scroll-edit c-h3">Órganos o unidades gestoras</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="categorias" class="c-anchor-scroll-edit c-h3">Categorías</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="etiquetas-libres" class="c-anchor-scroll-edit c-h3">Etiquetas libres</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <hr class="border-neutral-base my-2xl">
  <h2 id="normativa-general" class="c-h1 c-anchor-scroll-edit">Normativa general</h2>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <hr class="border-neutral-base my-2xl">
  <h2 id="caracteristicas-generales-de-tramitacion" class="c-h1 c-anchor-scroll-edit">Características generales de tramitación</h2>
  <h3 id="grupos-de-destinatarios" class="c-anchor-scroll-edit c-h3">Grupos de destinatarios</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="destinatarios" class="c-anchor-scroll-edit c-h3">Destinatarios</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="requisitos-generales" class="c-anchor-scroll-edit c-h3">Requisitos generales</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="canales-de-informacion" class="c-anchor-scroll-edit c-h3">Canales de información</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="tramites-principales" class="c-anchor-scroll-edit c-h3">Trámites principales</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
  <div class="pb-xl"></div>
  <h3 id="resolucion" class="c-anchor-scroll-edit c-h3">Resolución</h3>
  <p class="c-paragraph-base">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
  </p>
{% endblock %}