{% set plantilla = [
  "",
  "Correo electrónico",
  "Las comunicaciones por correo electrónico tienen un formato y estructura concretas que favorecen su legibilidad.",
  "correo"
] %}

{% set title = "Plantilla " + plantilla[1] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas" %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}



{% from "includes/docs-plantillas/_macro.layout-page-content.njk" import layoutContentHeader, layoutContentItem1, layoutContentItem2 %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}




{% block sidebarBlock %}
  {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ layoutContentHeader(plantilla[1], plantilla[0], plantilla[2]) }}

  {{ DSSectionTitle({
    title: "Vista previa"
  }) }}
  {{ componentSkipLink({
    "text": "Saltar la previsualización en Figma",
    "href": "#enlaces"
  }) }}
  <div class="grid">
    <div>
      <iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma con plantilla en escritorio" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FVYfrETnupxCFCPAknaRViW%2FDESY%253A-El-Sistema-de-Dise%25C3%25B1o-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D1886%253A2513%26type%3Ddesign%26node-id%3D9357-6673%26viewport%3D1371%252C4540%252C0.54%26t%3DFdIsg9Gu5YYrza8x-1%26scaling%3Dscale-down-width%26starting-point-node-id%3D9357%253A6673%26mode%3Ddesign" allowfullscreen></iframe>
    </div>
  </div>
  <div class="lg:pb-base pb-xl"></div>

  <ul id="enlaces" class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://bitbucket.org/sdaragon/desy-email-templates/src/master/",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank"
      }) }}
    </li>
  </ul>

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Asunto"
  }) }}
  {{ DSSubsectionTitle({
    title: "Si las comunicaciones son únicas"
  }) }}
  <p class="c-paragraph-base">Utiliza el <code>&lt;h1&gt;</code> del correo electrónico. Debe ser claro, conciso y describir el motivo de la comunicación.</p>
  <h4 class="sr-only">Ejemplos</h4>
  <ul>
    <li class="p-base bg-neutral-lighter"><strong>Has completado tu solicitud de estancia en la Residencia de Tiempo Libre Orihuela del Tremedal</strong></li>
  </ul>

  <div class="pb-lg"></div>
  {{ DSSubsectionTitle({
    title: "Si las comunicaciones son múltiples"
  }) }}
  <p class="c-paragraph-base">La persona puede encontrar varios mensajes en su bandeja de correo con una estructura similar. Cada una debe tener un identificador que las diferencie. Utiliza el <code>&lt;h1&gt;</code> del correo electrónico como referencia y el identificador único tras el mismo.</p>
  <h4 class="sr-only">Ejemplos</h4>
  <ul>
    <ul class="p-base bg-neutral-lighter mb-base"><strong>Notificación electrónica aceptada - 7278</strong></ul>
    <ul class="p-base bg-neutral-lighter"><strong>Solicitud de firma rechazada - CSV9999999999999</strong></ul>
  </ul>



{% endblock %}