{% set plantilla = [
  "",
  "Plantillas con sesión iniciada en aplicación",
  "Una vez que el usuario ha accedido a la aplicación web, la cabecera cambia y la navegación se facilita utilizando ciertos patrones.",
  "con-sesion-iniciada"
] %}

{% set title = plantilla[1]+ ". DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% from "includes/docs-plantillas/_macro.layout-page-content.njk" import layoutContentHeader%}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}

{% block sidebarBlock %}
  {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}
{% endblock %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ layoutContentHeader(plantilla[1], plantilla[0], plantilla[2]) }}
  <div class="grid lg:grid-cols-3 gap-lg content-stretch">
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-con-sesion.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-1" class="c-h3"><a href="plantillas-con-sesion-iniciada-base-p1.html" class="c-link c-link--full">Contenido base</a></h2>
            <p class="c-paragraph-sm">Plantilla base para mostrar contenido.</p>
            <div class="lg:pb-base"></div>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "classes": "h-full", 
            "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-con-sesion-selector.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-2" class="c-h3"><a href="plantillas-con-sesion-iniciada-selector-p1.html" class="c-link c-link--full">Selector de app</a></h2>
            <p class="c-paragraph-sm">Permite la navegación entre distintas aplicaciones desde la cabecera.</p>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-con-sesion-cfija.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-3" class="c-h3"><a href="plantillas-con-sesion-iniciada-cfija-p1.html" class="c-link c-link--full">Cabecera fija</a></h2>
            <p class="c-paragraph-sm">La cabecera se mantiene visible cuando haces scroll hacia abajo.</p>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-con-sesion-headroom.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-4" class="c-h3"><a href="plantillas-con-sesion-iniciada-cfija-headroom-p1.html" class="c-link c-link--full">Cabecera fija y librería headroom.js</a></h2>
            <p class="c-paragraph-sm">La cabecera se oculta cuando haces scroll hacia abajo y se muestra cuando el scroll es hacia arriba.</p>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-con-sesion-subheader.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-5" class="c-h3"><a href="plantillas-con-sesion-iniciada-subheader-p1.html" class="c-link c-link--full">Con subcabecera</a></h2>
            <p class="c-paragraph-sm">Permite la navegación entre contenidos relacionados y guardar cambios.</p>
            <div class="lg:pb-xl"></div>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-con-sesion-sidebar.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-6" class="c-h3"><a href="plantillas-con-sesion-iniciada-sidebar-p1.html" class="c-link c-link--full">Con menú lateral</a></h2>
            <p class="c-paragraph-sm">El menú lateral sirve de índice para navegar a la altura del contenido deseado.</p>
            <div class="lg:pb-base"></div>
            <div class="lg:pb-sm"></div>
          </div>
        {% endcall %}
    </div>

{% endblock %}