{% set plantilla = [
  "",
  "Plantillas para edición de contenido",
  "Utilizamos las siguientes plantillas cuando la aplicación requiere la edición de contenido a través de campos de texto o formularios. La cabecera cambia para no permitir la navegación hasta que el usuario guarde o descarte los cambios.",
  "edicion"
] %}

{% set title = plantilla[1]+ ". DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas" %}

{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}


{% from "includes/docs-plantillas/_macro.layout-page-content.njk" import layoutContentHeader%}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
{% from "components/card/_macro.card.njk" import componentCard %}

{% block sidebarBlock %}
  {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}
{% endblock %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ layoutContentHeader(plantilla[1], plantilla[0], plantilla[2]) }}
  <div class="grid lg:grid-cols-3 gap-lg content-stretch">
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-edicion-cfija.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-1" class="c-h3"><a href="plantillas-edicion-cfija-p1.html" class="c-link c-link--full">Cabecera fija</a></h2>
            <p class="c-paragraph-sm">La cabecera de edición se mantiene visible cuando haces scroll hacia abajo.</p>
            <div class="lg:pb-xl"></div>
          </div>
        {% endcall %}
    </div>
    <div>
      {% call componentCard({
            "classes": "h-full",
            "containerClasses": "h-full p-base bg-neutral-lighter border-t-4 border-neutral-dark relative hover:bg-neutral-light",
            "super": {
              "backgroundFullColor": "transparent",
              "backgroundFullUrl": "images/p-edicion-sidebar.svg",
              "classes": "aspect-square border-x border-neutral-base -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
            }
          })  %}
          <div>
            <h2 id="titulo-card-2" class="c-h3"><a href="plantillas-edicion-sidebar-p1.html" class="c-link c-link--full">Cabecera fija y menú lateral sticky</a></h2>
            <p class="c-paragraph-sm">Tanto la cabecera de edición como el menú lateral se mantienen visibles cuando haces scroll hacia abajo.</p>
          </div>
        {% endcall %}
    </div>
  </div>
{% endblock %}