{% set title = "Plantillas para presentaciones y documentos. DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas-documentos" %}

{% extends "pages/_template.desy-aragon-es.njk" %}

{% block notificationHeaderBlock %}
{% endblock %}

{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}



{% block contentBlock %}
  <div class="pb-lg"></div>
  
  <div class="lg:w-3/4">
    <h1 class="lg:c-h0 c-h1">Plantillas para documentos y presentaciones</h1>
    <p class="mb-lg lg:c-paragraph-lg c-paragraph-base">Recursos para generar documentos en formato físico y diapositivas.</p>
  </div>
  
  <div class="grid lg:grid-cols-4 lg:gap-lg">
    <div class="col-span-3">{% include "includes/_aviso-en-construccion.njk" %}</div>
  </div>
  <div class="pb-lg"></div>
  <div class="grid lg:grid-cols-2 gap-lg">
    <div>
      {% call componentCard({
          "containerClasses": "p-lg bg-neutral-lighter hover:bg-neutral-light relative"
        })  %}
        <h2 class="c-h2"><a href="https://www.figma.com/slides/ZOdtIL2pRy4DsIaqU5a4HZ/DESY-Slides?node-id=1-26&t=gJYDhhOwAkA8ImKY-1" target="_blank" title="Se abre en ventana nueva" class="c-link c-link--full">DESY Slides en Figma{% include "includes/_external-link-icon.njk" %}</a></h2>
        <p class="text-lg">Diapositivas que utilizan la biblioteca DESY de Figma y el módulo Figma Slides para crear presentaciones interactivas.</p>
      {% endcall %}
    </div>
  </div>

{% endblock %}




{% block notificationFooterBlock %}
{% endblock %}