{% set plantilla = [
  "",
  "Portal web",
  "Los portales web deben tener una cabecera avanzada, navegación y patrones específicos.",
  "portal"
] %}

{% set title = "Plantilla " + plantilla[1] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas" %}
{% set showHiddenItems = ["pageSpinnerBlock","pageSpinnerBlock-2","pageSpinnerBlock-3","pageSpinnerBlock-4",
"headerBlock","headerBlock-2","headerBlock-3","headerBlock-4",
"headerSkipLinkBlock","headerSkipLinkBlock-2","headerSkipLinkBlock-3","headerSkipLinkBlock-4",
"main","main-2","main-3","main-4",
"notificationHeaderBlock","notificationHeaderBlock-2","notificationHeaderBlock-3","notificationHeaderBlock-4",
"contentBlock","contentBlock-2","contentBlock-3","contentBlock-4",
"footerBlock","footerBlock-2","footerBlock-3","footerBlock-4",
"modalBlock","modalBlock-2","modalBlock-3","modalBlock-4"] %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}



{% from "includes/docs-plantillas/_macro.layout-page-content.njk" import layoutContentHeader, layoutContentItem1, layoutContentItem2 %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}



{% block sidebarBlock %}
  {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ layoutContentHeader(plantilla[1], plantilla[0], plantilla[2]) }}
  {{ layoutContentItem1(plantilla[3]) }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Vista previa"
  }) }}
  {{ componentSkipLink({
    "text": "Saltar la previsualización en Figma",
    "href": "#enlaces"
  }) }}
  <div class="grid lg:grid-cols-4 lg:grid-rows-1 grid-rows-3 lg:gap-base gap-xl">
    <div class="lg:col-span-3">
      <h3 class="c-h3">Versión de escritorio</h3>
      <iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma con plantilla en escritorio" src="https://embed.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=11138%3A8563&node-id=20666-16360&node-type=frame&viewport=-4738%2C1866%2C0.33&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=20666%3A16360&embed-host=share" allowfullscreen></iframe>
    </div>
    <div class="lg:row-span-1 row-span-2">
      <h3 class="c-h3">Versión móvil</h3>
      <iframe class="h-full w-full border border-neutral-base rounded" title="Prototipo en Figma con plantilla en móvil" src="https://embed.figma.com/proto/VYfrETnupxCFCPAknaRViW/DESY%3A-El-Sistema-de-Dise%C3%B1o-del-Gobierno-de-Arag%C3%B3n?page-id=11138%3A8563&node-id=20666-16360&node-type=frame&viewport=-4738%2C1866%2C0.33&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=20666%3A16360&embed-host=share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="lg:pb-base pb-xl"></div>

  <ul id="enlaces" class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "plantilla-con-header-advanced.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver código Nunjucks<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://bitbucket.org/sdaragon/desy-html/src/master/src/templates/pages/_template.with-header-advanced.njk",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  <div>
  {% set item1 %}
    {% include "includes/docs-plantillas/_macro.info-bloques.njk"%} 
    <div class="grid lg:grid-cols-4 gap-base my-base">
      <div class="col-span-3 pb-base">
        <div class="border border-neutral-base rounded">
          <img src="images/wf-block-portal.svg" alt="Diagrama de bloques" class="mb-0">
        </div>
      </div>
    </div>
    <div>{% include "includes/docs-plantillas/_celdas-bloques.njk" %}</div>
  {% endset %}

  {% set item2 %}
    <ul class="c-ul c-ul--no-bullets mt-base">
      <li><a href="/patrones-pagina-portales.html#home-de-portal" class="c-link">Home de portal</a></li>
      <li><a href="/patrones-pagina-portales.html#seccin-de-portal" class="c-link">Sección principal de portal</a></li>
      <li><a href="patrones-pagina-portales.html#pgina-no-encontrada-error-404" class="c-link">Página no encontrada. Error 404.</a></li>
    </ul>
  {% endset %}

  {% set item4 %}
    <ul class="c-ul c-ul--no-bullets mt-base">
      <li><a href="/componentes-cabeceras-codigo.html" class="c-link">Cabecera avanzada</a></li>
    </ul>
  {% endset %}

    

 
  {{ componentAccordion({
    "idPrefix": "accordion-show-hide",
    "headingLevel": 2,
    "heading": {
      "text": "Anatomía"
    },
    "allowMultiple": true,
    "items": [
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Bloques</span>",
        "html": item1 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Páginas en las que usamos esta plantilla</span>",
        "html": item2 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Componentes principales</span>",
        "html": item4 | safe
      }
    ]
  })  }}
  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Guías de construcción"
  }) }}

  <p class="c-paragraph-base">Según el tipo de web que quieras crear, necesitarás unas plantillas específicas y una arquitectura de contenido determinada.</p>
  <div class="grid lg:grid-cols-2">
    {% call componentCard({
    "containerClasses": "p-base border border-neutral-base rounded"
      })  %}
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="block w-8 h-8" focusable="false" aria-hidden="true" role="presentation"><path fill="currentColor" fill-rule="evenodd" d="M15.447 0H8.553a1 1 0 0 0-1 1l0 6.553H1a1 1 0 0 0-1 1v6.894a1 1 0 0 0 1 1h6.553l0 6.553a1 1 0 0 0 1 1h6.894a1 1 0 0 0 1-1v-6.553H23a1 1 0 0 0 1-1V8.553a1 1 0 0 0-1-1h-6.553V1a1 1 0 0 0-1-1Z" clip-rule="evenodd"></path></svg>
        <div class="mb-base"></div>
        <h4 id="titulo-card-3" class="c-h3">Webs de hospitales</h4>
        <div class="prose max-w-none mb-base text-sm">
          <p>Plantillas diseñadas para espacios web de hospitales del Servicio Aragonés de Salud. El objetivo es contar con espacios más consistentes, centrados en la ciudadanía y disponer de unas pautas y herramientas comunes para todos los centros.</p>
        </div>
        <div>
          <!-- button -->
          <a href="https://xd.adobe.com/view/a67ba2e6-68da-4b03-a39f-185655aaa7b3-f328/specs/" target="_blank" title="Se abre en ventana nueva" draggable="false" class="c-button c-button--transparent c-button--sm"  id="boton-card-4" aria-labelledby="boton-card-4 titulo-card-3">
            Ver guía <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
          </a>
          <!-- /button -->
        </div>
      </div>
    {% endcall %}
  </div>
</div>
{% endblock %}