{% set plantilla = [
  "",
  "Sin sesión iniciada",
  "Se utiliza en el landing de aplicaciones web, antes de identificarte y acceder con tu perfil.",
  "sin-sesion-iniciada"
] %}

{% set title = "Plantilla " + plantilla[1] + ". DESY. Sistema de diseño del Gobierno de Aragón." %}
{% set activePage = "page-plantillas" %}
{% set showHiddenItems = ["pageSpinnerBlock","pageSpinnerBlock-2","pageSpinnerBlock-3","pageSpinnerBlock-4",
"headerBlock","headerBlock-2","headerBlock-3","headerBlock-4",
"subheaderBlock","subheaderBlock-2","subheaderBlock-3","subheaderBlock-4",
"main","main-2","main-3","main-4",
"notificationHeaderBlock","notificationHeaderBlock-2","notificationHeaderBlock-3","notificationHeaderBlock-4",
"contentBlock","contentBlock-2","contentBlock-3","contentBlock-4",
"footerBlock","footerBlock-2","footerBlock-3","footerBlock-4",
"modalBlock","modalBlock-2","modalBlock-3","modalBlock-4"] %}


{% extends "pages/_template.desy-aragon-es-with-sidebar.njk" %}

{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/card/_macro.card.njk" import componentCard %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}


{% from "includes/docs-plantillas/_macro.layout-page-content.njk" import layoutContentHeader, layoutContentItem1, layoutContentItem2 %}
{% from "includes/docs-componentes/_macro.component-example.njk" import componentExample %}
{% from "includes/docs-componentes/_ds.macro.section-title.njk" import DSSectionTitle %}
{% from "includes/docs-componentes/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}



{% block sidebarBlock %}
  {% include "includes/docs-plantillas/_menu-lateral-plantillas.njk" %}{% endblock %}
{% block headerContentBlock %}
{% endblock %}

{% block notificationInnerContentBlock %}
{% endblock %}

{% block innerContentBlock %}
  {{ layoutContentHeader(plantilla[1], plantilla[0], plantilla[2]) }}
  {{ layoutContentItem1(plantilla[3]) }}

  <div class="pb-xl"></div>
  {{ DSSectionTitle({
    title: "Vista previa"
  }) }}
  {{ componentSkipLink({
    "text": "Saltar la previsualización en Figma",
    "href": "#enlaces"
  }) }}

  <div class="grid lg:grid-cols-4 lg:grid-rows-1 grid-rows-3 lg:gap-base gap-xl">
    <div class="lg:col-span-3">
      <h3 class="c-h3">Versión de escritorio</h3>
      <iframe class="w-full aspect-video border border-neutral-base rounded" title="Prototipo en Figma con plantilla en escritorio" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FVYfrETnupxCFCPAknaRViW%2FDESY%253A-El-Sistema-de-Dise%25C3%25B1o-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D1886%253A2513%26type%3Ddesign%26node-id%3D1916-7400%26viewport%3D1451%252C1643%252C0.29%26t%3DEkt9jNawNYkfl8Cn-1%26scaling%3Dscale-down-width%26starting-point-node-id%3D1916%253A7400%26mode%3Ddesign" allowfullscreen></iframe>
    </div>
    <div class="lg:row-span-1 row-span-2">
      <h3 class="c-h3">Versión móvil</h3>
      <iframe class="h-full w-full border border-neutral-base rounded" title="Prototipo en Figma con plantilla en móvil" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FVYfrETnupxCFCPAknaRViW%2FDESY%253A-El-Sistema-de-Dise%25C3%25B1o-del-Gobierno-de-Arag%25C3%25B3n%3Fpage-id%3D1886%253A2513%26type%3Ddesign%26node-id%3D1916-7509%26viewport%3D1451%252C1643%252C0.29%26t%3DEkt9jNawNYkfl8Cn-1%26scaling%3Dscale-down-width%26starting-point-node-id%3D1916%253A7509%26mode%3Ddesign" allowfullscreen></iframe>
    </div>
  </div>
  <div class="lg:pb-base pb-xl"></div>

  <ul id="enlaces" class="flex flex-wrap gap-sm">
    <li>
      {{ componentButton({
        "html": "Ver código HTML<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "plantilla-sin-loguear.html",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver código Nunjucks<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://bitbucket.org/sdaragon/desy-html/src/master/src/templates/pages/_template.logged-out.njk",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
    <li>
      {{ componentButton({
        "html": "Ver código Angular<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" height=\"0.8em\" width=\"0.8em\" class=\"inline-block mx-xs no-underline align-baseline ml-xs\" aria-hidden=\"true\" focusable=\"false\" role=\"img\"><g><path fill=\"currentcolor\" fill-rule=\"evenodd\" d=\"M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z\" clip-rule=\"evenodd\" stroke-width=\"1\"></path></g></svg>",
        "href": "https://bitbucket.org/sdaragon/desy-angular-templates/src/master/src/app/feature-modules/page-templates/layouts/logged-out-layout/",
        "classes": "c-button--transparent c-button--sm",
        "target": "_blank",
          "attributes": {
            "title": "Se abre en ventana nueva"
          }
      }) }}
    </li>
  </ul>
  <div class="pb-xl"></div>

  <div>
  {% set item1 %}
    {% include "includes/docs-plantillas/_macro.info-bloques.njk"%} 
    <div class="grid lg:grid-cols-4 gap-base my-base">
      <div class="col-span-3 border border-neutral-base rounded">
        <img src="images/wf-block-sin-sesion-iniciada.svg" alt="Diagrama de bloques" class="mb-0">
      </div>
    </div>
    <div class="pb-base"></div>
    <div>{% include "includes/docs-plantillas/_celdas-bloques.njk" %}</div>

  {% endset %}

  {% set item2 %}
  <ul class="c-ul c-ul--no-bullets my-base">
    <li><a href="patrones-pagina-otras.html#mapa-web" class="c-link">Mapa web</a></li>
    <li><a href="patrones-pagina-otras.html#declaracin-de-accesibilidad" class="c-link">Declaración de accesibilidad</a></li>
  </ul>
  {% endset %}

  {% set item3 %}
  {% endset %}

  {% set item4 %}
    <ul class="c-link my-base">
      <li><a href="componente-cabeceras-app-codigo.html#logo-expandido" class="c-link">Cabecera estándar</a></li>
    </ul>
  {% endset %}

  {{ componentAccordion({
    "idPrefix": "accordion-show-hide",
    "headingLevel": 2,
    "heading": {
      "text": "Anatomía"
    },
    "allowMultiple": true,
    "items": [
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Bloques</span>",
        "html": item1 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Páginas en las que usamos esta plantilla</span>",
        "html": item2 | safe
      },
      {
        "headerHtml": "<span class=\"block pointer-events-none pr-16\">Componentes principales</span>",
        "html": item4 | safe
      }
    ]
  })  }}
</div>
{% endblock %}